﻿@model CheckoutProgressModel
@{
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.checkoutprogress.css");
}
<script>
    window.maxUserNoOprationSeconds = 0;
    function redireStep(jumpHref, e) {
        if (!$(e).is(".next")) {
            window.location.href = jumpHref;
        }
    }
</script>
<div class="steps-container">
    <div id="steps" class="steps">
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_before" })
        <div onclick="redireStep('/cart',this)" class="steItem @(((int)Model.CheckoutProgressStep) > 1 ? "active": "") @(((int)Model.CheckoutProgressStep) < 1 ? "next": "")">
            <p>Review Order</p>
        </div>
        <div onclick="redireStep('/checkout/tsbillingaddress',this)" class="steItem @(((int)Model.CheckoutProgressStep) > 2 ? "active": "") @(((int)Model.CheckoutProgressStep) < 2 ? "next": "")">
            <p>Your Details</p>
        </div>
        <div onclick="redireStep('/checkout/tspaymentinfo',this)" class="steItem @(((int)Model.CheckoutProgressStep) > 4 ? "active": "") @(((int)Model.CheckoutProgressStep) < 4 ? "next": "")">
            <p>Payment</p>
        </div>
        <div class="steItem @(((int)Model.CheckoutProgressStep) > 6 ? "active": "") @(((int)Model.CheckoutProgressStep) < 6 ? "next": "")">
            <p>Complete Order</p>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_after" })
    </div>
</div>

@*<div class="order-progress">
    <ul>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_before" })
        <li class="active-step">
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("ShoppingCart")}\"") : null)>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Cart")
            </a>
        </li>
        <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Address || Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"active-step\"") : @Html.Raw(" class=\"inactive-step\""))>
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("CheckoutBillingAddress")}\"") : null)>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Address")
            </a>
        </li>
        <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Shipping || Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"active-step\"") : @Html.Raw(" class=\"inactive-step\""))>
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("CheckoutShippingMethod")}\"") : null)>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Shipping")
                </a>
        </li>
        <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Payment || Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"active-step\"") : @Html.Raw(" class=\"inactive-step\""))>
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("CheckoutPaymentMethod")}\"") : null)>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Payment")
            </a>
        </li>
        <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Confirm || Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"active-step\"") : @Html.Raw(" class=\"inactive-step\""))>
            <a @(Model.CheckoutProgressStep != CheckoutProgressStep.Cart && Model.CheckoutProgressStep != CheckoutProgressStep.Address && Model.CheckoutProgressStep != CheckoutProgressStep.Shipping && Model.CheckoutProgressStep != CheckoutProgressStep.Payment && Model.CheckoutProgressStep != CheckoutProgressStep.Complete ? @Html.Raw($" href=\"{Url.RouteUrl("CheckoutConfirm")}\"") : null)>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Confirm")
            </a>
        </li>
        <li @(Model.CheckoutProgressStep == CheckoutProgressStep.Complete ? @Html.Raw(" class=\"active-step\"") : @Html.Raw(" class=\"inactive-step\""))>
            <a>
                <div class="step-indicator"></div>
                @T("Checkout.Progress.Complete")
            </a>
        </li>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_progress_after" })
    </ul>
</div>*@