﻿@model Nop.Plugin.Ecorenew.MailChimp.Models.PublicInfoModel

@using Microsoft.AspNetCore.Http
@using Nop.Plugin.Ecorenew.MailChimp
@using Nop.Core.Http.Extensions

@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "";
    var mailChimpEmailId = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals(Model.QueryNameEmailId)).Value;
    var mailChimpCampaignId = this.Context.Request.Query.FirstOrDefault(x => x.Key.Equals(Model.QueryNameCampaignId)).Value;
    @if (!string.IsNullOrEmpty(mailChimpCampaignId) && !string.IsNullOrEmpty(mailChimpEmailId))
    {
        var session = httpContextAccessor.HttpContext.Session;
        session.Set<string>(MailChimpSessionNames.MAILCHIMP_CAMPAIGN_ID, mailChimpCampaignId);
        session.Set<string>(MailChimpSessionNames.MAILCHIMP_EMAIL_ID, mailChimpEmailId);
    }
}

@if (!string.IsNullOrEmpty(mailChimpCampaignId) && !string.IsNullOrEmpty(mailChimpEmailId))
{
    @*<script type="text/javascript">
    $(document).ready(function () {

        var data = {
            mailChimpCampaignId: '@mailChimpCampaignId',
            mailChimpEmailId: '@mailChimpEmailId'
        };

        $.post(
            '@Url.Action("SetMailChimpCampaign", "MailChimp")',
            data,
            function (result, status) {
                console.log('done');
            }
        );

    });
    </script>*@
}