﻿@model HeaderLinksModel
@using System.Text.Encodings.Web

@{
    var threeItemsClass = string.Empty;
    if (Model.AllowPrivateMessages && Model.IsAuthenticated)
    {
        threeItemsClass = "three-items";
    }

    var isAuthenticated = "not-authenticated";
    if (Model.IsAuthenticated)
    {
        isAuthenticated = "is-authenticated";
    }
}
<div class="header-links">
    <div class="header-links-box">
        <div class="header-links-box-top @isAuthenticated @threeItemsClass">
            <div class="buy-sell-repair-btn">
                <div class="buy-btn">
                    <a href="/">Buy</a>
                </div>
                <div class="sell-btn">
                    <a href="https://www.mazumamobile.com/sell-my-mobile">Sell</a>
                </div>
                <div class="repair-btn">
                    <a href="https://repair.mazumamobile.com/">Repair</a>
                </div>
            </div>
            <a href="/faq" class="hidden-lg" title="FAQ" style="font-weight:bold;"><span>FAQ</span></a>
            <div class="flex social-links hidden-lg">
                <a href="https://www.facebook.com/mazumamobile">
                    <span class="icon iconfont icon-facebook"></span>
                </a>
                <a href="https://twitter.com/mazuma">
                    <span class="icon iconfont icon-twitter"></span>
                </a>
                <a href="https://www.youtube.com/channel/UCOoVkQ5CvZ9wEDV4FjSRPTg">
                    <span class="icon iconfont icon-shipinbofangyingpian2"></span>
                </a>
                <a href="https://plus.google.com/+mazumamobile">
                    <span class="icon iconfont icon-google-plus"></span>
                </a>
            </div>
            <div class="header-left">
                <div class="header-logo">
                    <a href="/" class="logo">
                        <img alt="Mazuma" data-lazyloadsrc="/images/uploaded/mazuma-logo-white-text.png" title="Mazuma">
                    </a>
                </div>
            </div>
            <div class="mazuma-phone-number keep-line">
                <span class="icon iconfont icon-phone"></span>
                @T("Mazuma.Phone.Number")
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })

            @if (Model.IsAuthenticated)
            {
                <div class="account">
                    <a href="@Url.RouteUrl("CustomerInfo")" title="@T(" Account.MyAccount")" class="ico-account keep-line">
                        <span class="icon iconfont icon-zhanghu hidden-lg"></span>
                        Hi @Model.CustomerName
                    </a>
                </div>
                if (Model.AllowPrivateMessages)
                {
                    <div class="privatemessage">
                        <a href="@Url.RouteUrl(" PrivateMessages", new { tab="" })" title="@T(" PrivateMessages.Inbox")"
                           class="ico-inbox">
                            <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                            <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                        </a>
                    </div>
                }
                <div class="logout keep-line">
                    <a href="@Url.RouteUrl("Logout")" title="@T(" Account.Logout")"
                       class="ico-logout">@T("Account.Logout")</a>
                </div>
            }
            else
            {
                <div class="login">
                    <a href="@Url.RouteUrl("Login")" title="@T(" Account.Login")"
                       class="ico-login keep-line">@T("Account.Login")</a>
                </div>
                <div class="register">
                    <a href="register?returnUrl=%2Fmobile-phones" title="@T(" Account.Register")"
                       class="ico-register keep-line">@T("Account.Register")</a>
                </div>
            }
            @if (Model.WishlistEnabled)
            {
                <div class="header-links-box-bottom">
                    <div class="header-link-wrapper ">
                        <a href="@Url.RouteUrl(" Wishlist")" title="@T(" Wishlist")" class="ico-wishlist">
                            <span class="wishlist-label">@T("Wishlist")</span>
                            <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                        </a>
                    </div>
                </div>
            }
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })
    </div>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
        });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $(this).addClass('active');
                }).on('mouseleave', '#flyout-cart', function () {
                    $(this).removeClass('active');
                });
            });
        </script>
    }
</div>