﻿@using Nop.Web.Models.Order;

@model TransactionRefrenceModel

@{
    var formattingDate = Model.DepositedOn.ToString("yyyy-MM-dd");
    if(Model.DepositedOn == DateTime.MinValue) {
        formattingDate = "";
    }
    var requiredStr = Model.SubmitEnable ? "*" : "";
}

<div class="payment-method-info">
    <div class="title">
        <strong>@T("Order.PaymentInformation")</strong>
    </div>
    <form id="form-transactionRefrence" asp-controller="Order" asp-action="Details" method="post" target="hidden_transaction_frame">
        <input type="hidden" value="@Model.OrderId" name="orderId" />
        <div class="form-group-flex">
            <label class="flex-2" for="txtDepositedon">@T("payment.information.depositedon"): <span class="required">@requiredStr</span></label>
            <div class="flex-4">
                <input class="form-control" type="date" required name="depositedon" id="txtDepositedon" value="@formattingDate" disabled="@(!Model.SubmitEnable)">
                <span class="field-validation-error">@T("payment.information.depositedon") is required.</span>
            </div>
        </div>
        <div class="form-group-flex">
            <label class="flex-2" for="txtBankName">@T("payment.information.bankname"): <span class="required">@requiredStr</span></label>
            <div class="flex-4">
                <input class="form-control" type="text" required name="bankName" id="txtBankName" value="@Model.BankName" disabled="@(!Model.SubmitEnable)">
                <span class="field-validation-error">@T("payment.information.bankname") is required.</span>
            </div>
        </div>
        <div class="form-group-flex">
            <label class="flex-2" for="txtAccountNO">@T("payment.information.accountno"): <span class="required">@requiredStr</span></label>
            <div class="flex-4">
                <input class="form-control" type="text" required name="accountNO" id="txtAccountNO" value="@Model.AccountNO" disabled="@(!Model.SubmitEnable)">
                <span class="field-validation-error">@T("payment.information.accountno") is required.</span>
            </div>
        </div>
        <div class="form-group-flex">
            <label class="flex-2" for="txtTransactionRefrenceNO">@T("payment.information.transactionreferenceno"): <span class="required">@requiredStr</span></label>
            <div class="flex-4">
                <input class="form-control" type="text" required name="transactionRefrenceNO" id="txtTransactionRefrenceNO" value="@Model.TransactionRefrenceNO" disabled="@(!Model.SubmitEnable)">
                <span class="field-validation-error">@T("payment.information.transactionreferenceno") is required.</span>
            </div>
        </div>
        @if (Model.SubmitEnable)
        {
            <button type="submit" class="btn-common">@T("payment.information.submit")</button>
            <span>Click here for a <a class="link link-blue" href="/bank-transfer-manual" target="_blank">Bank Transfer Step by Step</a> guidelines.</span>
        }
    </form>
    <iframe name='hidden_transaction_frame' id="hidden_transaction_frame" style='display: none'></iframe>
    @if (!Model.SubmitEnable && Model.OrderPaymentStatus == Nop.Core.Domain.Payments.PaymentStatus.Pending)
    {
        <p class="text-pendingtip">
            Thank you, please note that it takes approximately 2 to 5 days to process your bank transfer, although sometimes it may take longer.
            If any questions, please contact our <a href="/contactus">customer service</a>.
        </p>
    }
</div>
<script>
    $("#form-transactionRefrence button[type=submit]").on("click", function () {
        $('#hidden_transaction_frame').load(function () {
            window.parent.location = window.parent.location.href;
        });
    });
</script>
