@using Nop.Core.Domain.Customers;
@using Nop.Core.Domain.Orders;

@model OrderDetailsModel
@{
    if (!Model.PrintMode)
    {
        Layout = "_ColumnsOne";
    }
    else
    {
        Layout = "_Print";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}
<div class="page order-details-page bank-transfer-info-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_top", additionalData = Model.Id })
        <div class="order-overview">
            <div class="order-number">
                <strong>@T("Order.Order#")@Model.CustomOrderNumber</strong>
            </div>
            <ul class="order-overview-content">
                <li class="order-date">
                    @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
                </li>
                <li class="order-status">
                    @T("Order.OrderStatus"): @Model.OrderStatus
                </li>
                <li class="order-total">
                    @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
                </li>
            </ul>
            @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_overview", additionalData = Model.Id })
        </div>
        <div class="order-details-area">
            <div class="billing-info-wrap">
                @if (!string.IsNullOrEmpty(Model.PaymentMethod))
                {
                    <div class="payment-method-info">
                        <div class="title">
                            <strong>@T("Order.Payment")</strong>
                        </div>
                        <ul class="info-list">
                            <li class="payment-method">
                                <span class="label">
                                    @T("Order.Payment.Method"):
                                </span>
                                <span class="value">
                                    @Model.PaymentMethod
                                </span>
                            </li>
                            <li class="payment-method-status">
                                <span class="label">
                                    @T("Order.Payment.Status"):
                                </span>
                                <span class="value">
                                    @Model.PaymentMethodStatus
                                </span>
                            </li>
                        </ul>
                    </div>
                }
                @if (Model.PaymentMethod == SystemCustomerNames.PaymentMethod_BankTranfer && Model.OrderStatus != OrderStatus.Cancelled.ToString())
                {
                    @await Html.PartialAsync("_TransactionNoForm", Model.TransactionRefrenceModel)
                }
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_bottom", additionalData = Model.Id })
    </div>
</div>
