﻿@using Nop.Core
@model CheckOrderStatusModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}

<div class="page account-page check-order-status-page">
    <div class="page-body" style="margin: auto; min-height: unset;">
        <form asp-route="CheckOrderStatus" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="title">
                    <strong>@T("Order.CheckOrderStatus")</strong>
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" placeholder="Enter Your Email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="CustomOrderNumber" asp-postfix=":"></label>
                        <input asp-for="CustomOrderNumber" placeholder="Enter Order Number" />
                        <nop-required />
                        <span asp-validation-for="CustomOrderNumber"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T("Order.CheckOrderStatus.GetDetails")" name="save-info-button" class="button-1 save-customer-info-button" style="box-shadow: none;" />
            </div>
        </form>
    </div>
</div>