﻿@{
    Layout = "_ColumnsOne";
}
@model OrderReviewsModel
<div class="order-reviews-page">
    <div class="Sub-Comment CommentPage">
        <div class="OrderBox">
            <div class="OrderShop">
                @{
                var pictureContainerWidth = Model.ProductList.Count * 106 + "px";
                }
                <div class="PictureContainer" style="width:@pictureContainerWidth">
                    @foreach (var item in Model.ProductList)
                    {
                    <div class="OrderShopbox">
                        <img src="@item.PictureUrl" alt="order picture" />
                    </div>
                    }
                </div>
            </div>
            @*<div class="ReceiveInfo-right" href="#">
                <img src="/images/xiangyou.png" />
            </div>*@
        </div>
        <div class="OrderSum">
            @*<p>共计<span>16</span>件商品、<span>12</span>项服务、<span>1</span>件赠品</p>*@
            <p>Total: <span>@Model.ProductList.Count</span></p>
        </div>

        @{
        var errors = Html.ValidationSummary();
        if (!string.IsNullOrEmpty(errors.ToHtmlString()))
        {
        <div class="top-error">
            @errors
            <div class="close-error"></div>
        </div>
        }
        }
        @using (Html.BeginForm("OrderReviews", "Order", FormMethod.Post))
        {
        <div class="add-xing">
            <p>Rating: </p>
            <div class="xingxing">
                <div class="star-rating">
                    <img src="/images/xingxing0.png" />
                </div>
                <div class="star-rating">
                    <img src="/images/xingxing0.png" />
                </div>
                <div class="star-rating">
                    <img src="/images/xingxing0.png" />
                </div>
                <div class="star-rating">
                    <img src="/images/xingxing0.png" />
                </div>
                <div class="star-rating">
                    <img src="/images/xingxing0.png" />
                </div>
            </div>
        </div>

        <input type="hidden" name="OrderId" value="@Model.OrderId" />
        <input type="hidden" id="Rating" name="Rating" value="@Model.Rating" />
        <textarea name="ReviewText" class="comment-write" maxlength="100" placeholder="Please input review text...">@Model.ReviewText</textarea>
        <div class="order-review-submit"><button class="mazuma-btn" type="submit">Submit</button></div>

        }
    </div>
</div>
<script>
    $(document).ready(function () {
        var rating = $("#Rating").val();
        var IntRating = parseInt(rating);
        if (IntRating > 0 && IntRating < 6) {
            var list = $('.star-rating');
            for (var i = 0; i < IntRating; i++) {
                list.eq(i).find('img').attr('src', "/images/xingxing1.png");
            }
            for (var j = IntRating; j < list.length; j++) {
                list.eq(j).find('img').attr('src', "/images/xingxing0.png");
            }
        }
        $('.star-rating').click(function () {
            var a = $(this);
            var list = $('.star-rating');
            var b = 0;
            list.each(function () {
                b++;
                if (isObjectValueEqual(a, $(this)) == true) {
                    console.log(b);
                    for (var i = 0; i < b; i++) {
                        list.eq(i).find('img').attr('src', "/images/xingxing1.png");
                    }
                    for (var j = b; j < list.length; j++) {
                        list.eq(j).find('img').attr('src', "/images/xingxing0.png");
                    }
                    $("#Rating").val(b);
                }
            });
        });

        function isObjectValueEqual(a, b) {
            // Of course, we can do it use for in
            // Create arrays of property names
            var aProps = Object.getOwnPropertyNames(a);
            var bProps = Object.getOwnPropertyNames(b);

            // If number of properties is different,
            // objects are not equivalent
            if (aProps.length != bProps.length) {
                return false;
            }

            for (var i = 0; i < aProps.length; i++) {
                var propName = aProps[i];

                // If values of same property are not equal,
                // objects are not equivalent
                if (a[propName] !== b[propName]) {
                    return false;
                }
            }

            // If we made it this far, objects
            // are considered equivalent
            return true;
        }

        if ($(".top-error").find('li').text() != "") {
            $(".top-error").css({ 'display': 'block' });
        }
        $(".top-error").fadeOut(4000);
    });
    //$('.OrderShop').css({
    //    'height': parseFloat($('.OrderShopbox').width()) + 10 + "px"
    //});
    //$('.OrderShopbox').css({
    //    'height': $('.OrderShopbox').width()
    //});
    //$('.PictureContainer').css({
    //    'width': (parseFloat($('.OrderShopbox').width()) + parseFloat($('.OrderShopbox').css('marginRight'))) * ($('.OrderShopbox').length) + "px"
    //});
    //console.log($('.OrderShopbox').css('marginRight'));
    //$('.ReceiveInfo-right').css({
    //    'height': $('.OrderShopbox').width()
    //});
    //$('.OrderShop').find('.ReceiveInfo-right').css({
    //    //'height': $('.OrderShop').height()
    //    'height': $('.OrderShopbox').height()
    //});
</script>
<div class="blank"></div>