﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.DiscountCouponGenerator.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountEnabled_OverrideForStore" asp-input="AbandonedCartEventDiscountEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountEnabled" />
                    <span asp-validation-for="AbandonedCartEventDiscountEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountName_OverrideForStore" asp-input="AbandonedCartEventDiscountName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountName" />
                    <span asp-validation-for="AbandonedCartEventDiscountName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountUsePercentage_OverrideForStore" asp-input="AbandonedCartEventDiscountUsePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountUsePercentage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountUsePercentage" />
                    <span asp-validation-for="AbandonedCartEventDiscountUsePercentage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountValue_OverrideForStore" asp-input="AbandonedCartEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountValue" />
                    <span asp-validation-for="AbandonedCartEventDiscountValue"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountDaysToExpire_OverrideForStore" asp-input="AbandonedCartEventDiscountDaysToExpire" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountDaysToExpire" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountDaysToExpire" />
                    <span asp-validation-for="AbandonedCartEventDiscountDaysToExpire"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventFormat_OverrideForStore" asp-input="AbandonedCartEventFormat" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventFormat" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventFormat" />
                    <span asp-validation-for="AbandonedCartEventFormat"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventRandomCodeLength_OverrideForStore" asp-input="AbandonedCartEventRandomCodeLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventRandomCodeLength" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventRandomCodeLength" />
                    <span asp-validation-for="AbandonedCartEventRandomCodeLength"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetEarlierThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetEarlierThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventConditionMetEarlierThan" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventConditionMetEarlierThan" />
                    <span asp-validation-for="AbandonedCartEventConditionMetEarlierThan"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetUomEarlierThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetUomEarlierThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                </div>
                <div class="col-md-3">
                    <nop-select asp-for="AbandonedCartEventConditionMetUomEarlierThan" asp-items="Model.AbandonedCartEventConditionMetUomEarlierThanList" />
                    <span asp-validation-for="AbandonedCartEventConditionMetUomEarlierThan"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetLaterThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetLaterThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventConditionMetLaterThan" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventConditionMetLaterThan" />
                    <span asp-validation-for="AbandonedCartEventConditionMetLaterThan"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetUomLaterThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetUomLaterThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                </div>
                <div class="col-md-3">
                    <nop-select asp-for="AbandonedCartEventConditionMetUomLaterThan" asp-items="Model.AbandonedCartEventConditionMetUomLaterThanList" />
                    <span asp-validation-for="AbandonedCartEventConditionMetUomLaterThan"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountCumulative_OverrideForStore" asp-input="AbandonedCartEventDiscountCumulative" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountCumulative" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountCumulative" />
                    <span asp-validation-for="AbandonedCartEventDiscountCumulative"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventDiscountShareable_OverrideForStore" asp-input="AbandonedCartEventDiscountShareable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventDiscountShareable" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventDiscountShareable" />
                    <span asp-validation-for="AbandonedCartEventDiscountShareable"></span>
                </div>
            </div>
        </div>
    </div>
</div>
