﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.DiscountCouponGenerator.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventDiscountEnabled_OverrideForStore" asp-input="CustomerBirthdayEventDiscountEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventDiscountEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventDiscountEnabled" />
                    <span asp-validation-for="CustomerBirthdayEventDiscountEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventDiscountUsePercentage_OverrideForStore" asp-input="CustomerBirthdayEventDiscountUsePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventDiscountUsePercentage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventDiscountUsePercentage" />
                    <span asp-validation-for="CustomerBirthdayEventDiscountUsePercentage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Over200CustomerBirthdayEventDiscountValue_OverrideForStore" asp-input="Over200CustomerBirthdayEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Over200CustomerBirthdayEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Over200CustomerBirthdayEventDiscountValue" />
                    <span asp-validation-for="Over200CustomerBirthdayEventDiscountValue"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Over1000CustomerBirthdayEventDiscountValue_OverrideForStore" asp-input="Over1000CustomerBirthdayEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Over1000CustomerBirthdayEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Over1000CustomerBirthdayEventDiscountValue" />
                    <span asp-validation-for="Over1000CustomerBirthdayEventDiscountValue"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventDiscountDaysToExpire_OverrideForStore" asp-input="CustomerBirthdayEventDiscountDaysToExpire" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventDiscountDaysToExpire" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventDiscountDaysToExpire" />
                    <span asp-validation-for="CustomerBirthdayEventDiscountDaysToExpire"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventFormat_OverrideForStore" asp-input="CustomerBirthdayEventFormat" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventFormat" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventFormat" />
                    <span asp-validation-for="CustomerBirthdayEventFormat"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventRandomCodeLength_OverrideForStore" asp-input="CustomerBirthdayEventRandomCodeLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventRandomCodeLength" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventRandomCodeLength" />
                    <span asp-validation-for="CustomerBirthdayEventRandomCodeLength"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventUseMailChimpList_OverrideForStore" asp-input="CustomerBirthdayEventUseMailChimpList" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventUseMailChimpList" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventUseMailChimpList" />
                    <span asp-validation-for="CustomerBirthdayEventUseMailChimpList"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventMailChimpListIds_OverrideForStore" asp-input="CustomerBirthdayEventMailChimpListIds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventMailChimpListIds" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventMailChimpListIds" />
                    <span asp-validation-for="CustomerBirthdayEventMailChimpListIds"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerBirthdayEventDiscountCumulative_OverrideForStore" asp-input="CustomerBirthdayEventDiscountCumulative" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerBirthdayEventDiscountCumulative" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerBirthdayEventDiscountCumulative" />
                    <span asp-validation-for="CustomerBirthdayEventDiscountCumulative"></span>
                </div>
            </div>
        </div>
    </div>
</div>
