﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.DiscountCouponGenerator.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventDiscountEnabled_OverrideForStore" asp-input="MonthlyCouponEventDiscountEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventDiscountEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventDiscountEnabled" />
                    <span asp-validation-for="MonthlyCouponEventDiscountEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventDiscountUsePercentage_OverrideForStore" asp-input="MonthlyCouponEventDiscountUsePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventDiscountUsePercentage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventDiscountUsePercentage" />
                    <span asp-validation-for="MonthlyCouponEventDiscountUsePercentage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Over100MonthlyCouponEventDiscountValue_OverrideForStore" asp-input="Over100MonthlyCouponEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Over100MonthlyCouponEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Over100MonthlyCouponEventDiscountValue" />
                    <span asp-validation-for="Over100MonthlyCouponEventDiscountValue"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Over200MonthlyCouponEventDiscountValue_OverrideForStore" asp-input="Over200MonthlyCouponEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Over200MonthlyCouponEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Over200MonthlyCouponEventDiscountValue" />
                    <span asp-validation-for="Over200MonthlyCouponEventDiscountValue"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Over500MonthlyCouponEventDiscountValue_OverrideForStore" asp-input="Over500MonthlyCouponEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Over500MonthlyCouponEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Over500MonthlyCouponEventDiscountValue" />
                    <span asp-validation-for="Over500MonthlyCouponEventDiscountValue"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventDiscountDaysToExpire_OverrideForStore" asp-input="MonthlyCouponEventDiscountDaysToExpire" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventDiscountDaysToExpire" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventDiscountDaysToExpire" />
                    <span asp-validation-for="MonthlyCouponEventDiscountDaysToExpire"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventFormat_OverrideForStore" asp-input="MonthlyCouponEventFormat" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventFormat" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventFormat" />
                    <span asp-validation-for="MonthlyCouponEventFormat"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventRandomCodeLength_OverrideForStore" asp-input="MonthlyCouponEventRandomCodeLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventRandomCodeLength" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventRandomCodeLength" />
                    <span asp-validation-for="MonthlyCouponEventRandomCodeLength"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventUseMailChimpList_OverrideForStore" asp-input="MonthlyCouponEventUseMailChimpList" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventUseMailChimpList" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventUseMailChimpList" />
                    <span asp-validation-for="MonthlyCouponEventUseMailChimpList"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventMailChimpListIds_OverrideForStore" asp-input="MonthlyCouponEventMailChimpListIds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventMailChimpListIds" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventMailChimpListIds" />
                    <span asp-validation-for="MonthlyCouponEventMailChimpListIds"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MonthlyCouponEventDiscountCumulative_OverrideForStore" asp-input="MonthlyCouponEventDiscountCumulative" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MonthlyCouponEventDiscountCumulative" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MonthlyCouponEventDiscountCumulative" />
                    <span asp-validation-for="MonthlyCouponEventDiscountCumulative"></span>
                </div>
            </div>
        </div>
    </div>
</div>
