﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.DiscountCouponGenerator.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventDiscountEnabled_OverrideForStore" asp-input="CustomerRegisteredEventDiscountEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventDiscountEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventDiscountEnabled" />
                    <span asp-validation-for="CustomerRegisteredEventDiscountEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventDiscountUsePercentage_OverrideForStore" asp-input="CustomerRegisteredEventDiscountUsePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventDiscountUsePercentage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventDiscountUsePercentage" />
                    <span asp-validation-for="CustomerRegisteredEventDiscountUsePercentage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventDiscountValue_OverrideForStore" asp-input="CustomerRegisteredEventDiscountValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventDiscountValue" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventDiscountValue" />
                    <span asp-validation-for="CustomerRegisteredEventDiscountValue"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventDiscountDaysToExpire_OverrideForStore" asp-input="CustomerRegisteredEventDiscountDaysToExpire" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventDiscountDaysToExpire" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventDiscountDaysToExpire" />
                    <span asp-validation-for="CustomerRegisteredEventDiscountDaysToExpire"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventFormat_OverrideForStore" asp-input="CustomerRegisteredEventFormat" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventFormat" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventFormat" />
                    <span asp-validation-for="CustomerRegisteredEventFormat"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomerRegisteredEventRandomCodeLength_OverrideForStore" asp-input="CustomerRegisteredEventRandomCodeLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomerRegisteredEventRandomCodeLength" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegisteredEventRandomCodeLength" />
                    <span asp-validation-for="CustomerRegisteredEventRandomCodeLength"></span>
                </div>
            </div>
        </div>
    </div>
</div>
