﻿@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Ecorenew.DiscountCouponGenerator.Models;

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="DiscountCouponGenerator" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="MailChimpApiKey_OverrideForStore" asp-input="MailChimpApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MailChimpApiKey" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MailChimpApiKey" />
            <span asp-validation-for="MailChimpApiKey"></span>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="discount-edit">
                <nop-tab asp-name="tab-customer-registered-event" asp-title="@T("Plugins.Ecorenew.DiscountCouponCodeGenerator.Registered.Event.Title")" asp-default="true">@await Html.PartialAsync("~/Plugins/Ecorenew.DiscountCouponGenerator/Views/_Configure.CustomerRegisteredEvent.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-monthly-coupon-event" asp-title="@T("Plugins.Ecorenew.DiscountCouponCodeGenerator.Monthly.Event.Title")">@await Html.PartialAsync("~/Plugins/Ecorenew.DiscountCouponGenerator/Views/_Configure.MonthlyCouponEvent.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-customer-birthday-event" asp-title="@T("Plugins.Ecorenew.DiscountCouponCodeGenerator.Birthday.Event.Title")">@await Html.PartialAsync("~/Plugins/Ecorenew.DiscountCouponGenerator/Views/_Configure.CustomerBirthdayEvent.cshtml", Model)</nop-tab>
                <nop-tab asp-name="tab-cart-abandoned-event" asp-title="@T("Plugins.Ecorenew.DiscountCouponCodeGenerator.AbandonedCart.Event.Title")">@await Html.PartialAsync("~/Plugins/Ecorenew.DiscountCouponGenerator/Views/_Configure.AbandonedCartEvent.cshtml", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>
