﻿#consumerfinance_signup_authorization_terms {
    padding: 20px;
    text-align: justify;
    font-size: 9pt;
    font-style: italic;
}

#consumerfinance_signup_authorization_iaccept {
    margin-top: 20px;
}