﻿#consumerfinance_signup_page .page-body {
    max-width: 950px;
    margin: auto;
    padding-top: 20px;
}

#consumerfinance_signup_page input[type="radio"],
#consumerfinance_signup_page input[type="checkbox"] {
    clip: unset;
}

#consumerfinance_signup_page .page-content {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px !important;
}

    #consumerfinance_signup_page .page-content .prev-next {
        margin-top: 30px;
    }

        #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button {
            color: #fff;
            background-color: var(--primary-color);
        }

            #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button:hover {
                background-color: var(--hover-color);
            }

            #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button:focus {
                background-color: var(--focus-color);
            }

    #consumerfinance_signup_page .page-content .page-subtitle {
        margin-top: 40px;
    }

    #consumerfinance_signup_page .page-content .control-label {
        font-size: 15px !important;
        color: #555;
    }

        #consumerfinance_signup_page .page-content .control-label .control-label-description {
            font-weight: 400;
        }

    #consumerfinance_signup_page .page-content .required {
        font-size: 20px;
    }

    #consumerfinance_signup_page .page-content .field-validation-error {
        font-size: 14px;
    }

@media (min-width: 768px) {
    #consumerfinance_signup_page .page-content {
        padding: 40px;
        border-top: 1px solid #ccc;
    }
}
