﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@

@{
    Layout = null;
}

@model XcellenceIT.Plugin.Solr.Search.Models.SolrSearchModel
@using Nop.Web.Framework;
@using System.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;

<div class="panel-group">
    <div class="panel panel-default enable-category-filter">
        <br />
        <div class="col-md-12 pnlhint">
            <div>
                <p><strong>Notice: Relevancy should be the default sorting order for Search function. If not, visitors may not find most relevant products on top of search page.</strong></p>
            </div>
        </div>
        <div class="panel-body">
            <div id="sortingoptions-grid"></div>
            <script>
                    $(document).ready(function () {
                        $("#sortingoptions-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "/SolrSearch/SortOptionsList",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "/SolrSearch/SortOptionUpdate",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Name: { editable: false, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            IsActive: { editable: true, type: "boolean" }
                                        }
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "@T("Admin.Configuration.Settings.Catalog.SortOptions.Name")",
                                    width: 250
                                }, {
                                    field: "DisplayOrder",
                                    title: "@T("Admin.Configuration.Settings.Catalog.SortOptions.DisplayOrder")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 100
                                }, {
                                    field: "IsActive",
                                    title: "@T("Admin.Configuration.Settings.Catalog.SortOptions.IsActive")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    command: {
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.Edit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    },
                                    title: "@T("Admin.Common.Edit")",
                                    width: 150
                                }
                            ]
                        });
                    });
            </script>
        </div>
    </div>
</div>