﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@

@{
    Layout = null;
}

@model XcellenceIT.Plugin.Solr.Search.Models.SolrSearchModel
@using Nop.Web.Framework;
@using System.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <div>
                        <p>You can define the custom search term boost (also known as weight) for certain field higher than other fields to determine the correct order of search results. This boost is used by Apache Solr to determine score and relative ranking of the results for a given term.</p>
                        <p>Select a Boost value from a scale of 1 to 10, 10 being the highest boost given to a field.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchWeightOnName_OverrideForStore" asp-input="SearchWeightOnName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchWeightOnName" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="SearchWeightOnName" asp-items="Model.AvailableSearchWeights" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchWeightOnShortDesc_OverrideForStore" asp-input="SearchWeightOnShortDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchWeightOnShortDesc" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="SearchWeightOnShortDesc" asp-items="Model.AvailableSearchWeights" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchWeightOnFullDesc_OverrideForStore" asp-input="SearchWeightOnFullDesc" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchWeightOnFullDesc" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="SearchWeightOnFullDesc" asp-items="Model.AvailableSearchWeights" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchWeightOnCategoryName_OverrideForStore" asp-input="SearchWeightOnCategoryName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchWeightOnCategoryName" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="SearchWeightOnCategoryName" asp-items="Model.AvailableSearchWeights" />
                </div>
            </div>
          <div class="form-group">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchWeightOnManufacturerName_OverrideForStore" asp-input="SearchWeightOnManufacturerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchWeightOnManufacturerName" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="SearchWeightOnManufacturerName" asp-items="Model.AvailableSearchWeights" />
                </div>
            </div>
            <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SearchWeightOnSku_OverrideForStore" asp-input="SearchWeightOnSku" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SearchWeightOnSku" />
        </div>
        <div class="col-md-2">
            <nop-select asp-for="SearchWeightOnSku" asp-items="Model.AvailableSearchWeights" />
        </div>
    </div>
   <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SearchWeightOnGTIN_OverrideForStore" asp-input="SearchWeightOnGTIN" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SearchWeightOnGTIN" />
        </div>
        <div class="col-md-2">
            <nop-select asp-for="SearchWeightOnGTIN" asp-items="Model.AvailableSearchWeights" />
        </div>
    </div>
   <div class="form-group" id="pnlLowRelevancyForOutOfStock">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="LowRelevancyForOutOfStock_OverrideForStore" asp-input="LowRelevancyForOutOfStock" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="LowRelevancyForOutOfStock" />
        </div>
        <div class="col-md-2">
            <nop-editor asp-for="LowRelevancyForOutOfStock"/>
        </div>
        <div class="col-md-12 pnlhint" id="LowRelevancyForOutOfStockhint">
            <div>
                <p>If checked, In-Stock products will be ranked higher in Search result.</p>
            </div>
        </div>
    </div>
     <div class="form-group" id="pnlRelevancy">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SearchWeightOnRelevancy_OverrideForStore" asp-input="SearchWeightOnRelevancy" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableSolrSearch" />
        </div>
        <div class="col-md-2">
            <nop-select asp-for="SearchWeightOnRelevancy" asp-items="Model.AvailableSearchWeights" />
        </div>
    </div>
        </div>
    </div>
</div>