﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@

@{
    Layout = null;
}

@model XcellenceIT.Plugin.Solr.Search.Models.SolrSearchModel
@using Nop.Web.Framework;
@using System.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" id="pnlenablesolrsearch">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnableSolrSearch_OverrideForStore" asp-input="EnableSolrSearch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableSolrSearch" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="EnableSolrSearch" />
                </div>
                <div class="col-md-12">
                    <div class="pnlhint">
                        <p>If checked all the search will be performed in Solr instead of SQL database.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <b>(Note : Make sure to Restart Appliation after saving configurations.)</b>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlsearchoperator">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchOperator_OverrideForStore" asp-input="SearchOperator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchOperator" />
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="SearchOperator" asp-items="Model.AvailableSearchOperator" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlsearchoperatorhint">
                    <div>
                        <p>If you select AND then result contains all the search terms & if you select OR then search result will contains any of the keywords.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlminimumshouldmatch">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="MMSearch_OverrideForStore" asp-input="MMSearch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MMSearch" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="MMSearch" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlminimumshouldmatchhint">
                    <div>
                        <p>The search query uses Minimum Should Match instead of a default operator to determine how multiple search terms should be handled. A value of 1 means only one term from the query must match (same behavior as OR). A value of 100% mean all the terms must match (same behavior as AND). For Min Number Should Match Specification Format <a href="http://lucene.apache.org/solr/4_10_0/solr-core/org/apache/solr/util/doc-files/min-should-match.html">Click Here.</a></p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlenablesearchindescriptions">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnableSearchInDescriptions_OverrideForStore" asp-input="EnableSearchInDescriptions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableSearchInDescriptions" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnableSearchInDescriptions" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlenablesearchindescriptionshint">
                    <div>
                        <p>If checked, Solr will search into Product Description in addition to Product Name and Short Description.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlenablesearchpricerangefilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnablePriceRangeFilter_OverrideForStore" asp-input="EnablePriceRangeFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnablePriceRangeFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnablePriceRangeFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlenablesearchpricerangefilterhint">
                    <div>
                        <p>If checked the price range filter will be displayed at the selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowcategoryfilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowCategoryFilter_OverrideForStore" asp-input="ShowCategoryFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowCategoryFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowCategoryFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowcategoryfilterhint">
                    <div>
                        <p>If checked the Category facet filter will be displayed on search results page at selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowmanufacturerfilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowManufacturerFilter_OverrideForStore" asp-input="ShowManufacturerFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowManufacturerFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowManufacturerFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowmanufacturerfilterhint">
                    <div>
                        <p>If checked the Manufacturer facet filter will be displayed on search results page at selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowvendorfilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowVendorFilter_OverrideForStore" asp-input="ShowVendorFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowVendorFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowVendorFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowvendorfilterhint">
                    <div>
                        <p>If checked the vendor filter will be displayed at the selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowattributefilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowAttributeFilter_OverrideForStore" asp-input="ShowAttributeFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowAttributeFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowAttributeFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowattributefilterhint">
                    <div>
                        <p>If checked the this will offer facet filters for Specification Attributes and Product Attributes on search result page.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlspecificationattributefilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SpecificationAttributeFilter_OverrideForStore" asp-input="SpecificationAttributeFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SpecificationAttributeFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SpecificationAttributeFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlspecificationattributefilterhint">
                    <div>
                        <p>Define Specification Attributes that will be offered for faceting search results. You can add multiple Specification Attributes by separating them with semi-column ";". For example, to offer search result filtering with CPU Type and Memory, enter <b>"CPU Type;Memory"</b> into the field provided. Please note that these value is case-sensitive.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlproductattributefilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ProductAttributeFilter_OverrideForStore" asp-input="ProductAttributeFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductAttributeFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ProductAttributeFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlproductattributefilterhint">
                    <div>
                        <p>Define Product Attributes that will be offered for faceting search results. You can add multiple Product Attributes by separating them with semi-column ";". For example: to offer search result filtering with Software and HDD, enter <b>"Software;HDD"</b> into the field provided. Please note that these value is case-sensitive.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowratingfilter">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowRatingFilter_OverrideForStore" asp-input="ShowRatingFilter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowRatingFilter" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowRatingFilter" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowratingfilterhint">
                    <div>
                        <p>If checked the Rating filter will be displayed at the selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlpopularproductsortingoption">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="PopularProductSorting_OverrideForStore" asp-input="PopularProductSorting" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="PopularProductSorting" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="PopularProductSorting" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlpopularproductsortingoptionhint">
                    <div>
                        <p>If checked then you can sort results as per product's popularity. </p>
                    </div>
                </div>
                <div class="col-md-12 pnlhint" id="pnlpopularnote">
                    <div>
                        <p><strong>Note : You can use this feature only if you are using Solr locally means Solr and NopCommerce web application both are on the same Server. If you are using remotely hosted Solr then please disable this setting. Moreover, UpdatePopularProducts schedule task should be enabled if you are using this feature. </strong></p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlajaxcachingexpirationtime">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="AjaxCachingExpirationTime_OverrideForStore" asp-input="AjaxCachingExpirationTime" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AjaxCachingExpirationTime" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="AjaxCachingExpirationTime" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlajaxcachingexpirationtimehint">
                    <div>
                        <p>Please set Ajax Request Caching expiration time in milliseconds, so if another same request is made it will be served from browser cache instead of querying into Solr. After defined expiration time it will make Ajax call on application.</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="pnlFiterDisplayMode">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="FiterDisplayMode_OverrideForStore" asp-input="FiterDisplayMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="FiterDisplayMode" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="FiterDisplayMode" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlFiterDisplayModehint">
                    <div>
                        <p>If checked all filters will be shown in dropdown mode, defaults to open checkboxes mode.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlFilterDisplayModeForMobile">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="FilterDisplayModeForMobile_OverrideForStore" asp-input="FilterDisplayModeForMobile" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="FilterDisplayModeForMobile" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="FilterDisplayModeForMobile" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlFilterDisplayModeForMobilehint">
                    <div>
                        <p>If checked all filters will be shown in dropdown mode for mobile devices, defaults to open checkboxes mode.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnldisplaydiscountprice">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="DisplayDiscountPrice_OverrideForStore" asp-input="DisplayDiscountPrice" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="DisplayDiscountPrice" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="DisplayDiscountPrice" />
                </div>
                <div class="col-md-12 pnlhint" id="pnldisplaydiscountpricehint">
                    <div>
                        <p>If checked and discount is applied, then it displays discounted price on Search Pages. Otherwise it will shows indexed price.</p>
                    </div>
                </div>
                <div class="col-md-12 pnlhint" id="pnlnote">
                    <div>
                        <p><strong>Note : As discounted price is calculated at runtime, it may cause some impact on performance.</strong></p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlfacetorderby">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="FacetOrderBy_OverrideForStore" asp-input="FacetOrderBy" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="FacetOrderBy" />
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="FacetOrderBy" asp-items="Model.AvailableFacetOrderBy" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlfacetorderbyhint">
                    <div>
                        <p>Select facet field sort order which will define the display order of facet fields. You can sort it on facet count or alphabetically.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlfilterwidgetzoneid">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="FilterWidgetZoneId_OverrideForStore" asp-input="FilterWidgetZoneId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="FilterWidgetZoneId" />
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="FilterWidgetZoneId" asp-items="Model.AvailableWidgetZones" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlfilterwidgetzoneidhint">
                    <div>
                        <p>Select the appropriate widget zone where you want to display Category/Manufacturers Facet Filters. It works best with "left_side_column_before", "left_side_column_after" and "left_side_column_after_category_navigation".</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlEnableMaxFilterOptionsForSearchBoxInFilters">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="MaxFilterOptionsForSearchBoxInFilters_OverrideForStore" asp-input="EnableSolrSearch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MaxFilterOptionsForSearchBoxInFilters" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="MaxFilterOptionsForSearchBoxInFilters" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnableMaxFilterOptionsForSearchBoxInFiltershint">
                    <div>
                        <p>Offers Search box for searching available filter options if options are more than defined value. This also add scroll bar to the options box if options are more than defined value.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlshowtotalnumberofproducts">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="ShowTotalNumberOfProducts_OverrideForStore" asp-input="ShowTotalNumberOfProducts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ShowTotalNumberOfProducts" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="ShowTotalNumberOfProducts" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlshowtotalnumberofproductshint">
                    <div>
                        <p>If checked the count of products found will be displayed on Search Results page.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnldisplayproductvariant">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="DisplayTotalNumberOfProductVariant_OverrideForStore" asp-input="DisplayTotalNumberOfProductVariant" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="DisplayTotalNumberOfProductVariant" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="DisplayTotalNumberOfProductVariant" />
                </div>
                <div class="col-md-12 pnlhint" id="pnldisplayproductvarianthint">
                    <div>
                        <p>If enabled, it will display a "more variant available" message on product box if you have group product with more than one associated simple products in a group product. For example, if you have four simple products associated in a group Product, it will display "3 more variant available". You can modify this message in resource string.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnldisplaystockavailability">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="DisplayStockAvailability_OverrideForStore" asp-input="DisplayStockAvailability" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="DisplayStockAvailability" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="DisplayStockAvailability" />
                </div>
                <div class="col-md-12 pnlhint" id="pnldisplaystockavailabilityhint">
                    <div>
                        <p>If enabled, it will display a Stock Availability filter will be displayed at the selected Widget Zone.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlStockAvailabilityItemsid">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="IncludeExcludeStockAvailabilityId_OverrideForStore" asp-input="IncludeExcludeStockAvailabilityId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="IncludeExcludeStockAvailabilityId" />
                </div>
                <div class="col-md-4">
                    <nop-select asp-for="IncludeExcludeStockAvailabilityId" asp-items="Model.StockAvailabilityItems" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlStockAvailabilityItemshint">
                    <div>
                        <p>
                            Select whether to include or exclude out-of-stock products in product list.
                            If you select Include Out-of-stock products, then out of stock products will be included in product listing
                            (which is also a default behaviour for nopCommerce) and a filter to Exclude out-of-stock products will be offered.
                            If you select Exclude Out-of-stock products, then by default out of stock products will be excluded in product listing and
                            a filter to Include out-of-stock products will be offered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlEnableScrolling">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnableInfiniteScrolling_OverrideForStore" asp-input="EnableInfiniteScrolling" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableInfiniteScrolling" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnableInfiniteScrolling" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnableScrollinghint">
                    <div>
                        <p>Checked to enable infinite scrolling.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlEnableRemovableTagFilters">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnableRemovableTagFilters_OverrideForStore" asp-input="EnableRemovableTagFilters" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableRemovableTagFilters" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnableRemovableTagFilters" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnableRemovableTagFiltershint">
                    <div>
                        <p>Checked to display selected filters in tag form which are removable. By removing any tag filter, It'll remove current selection that is specific to that tag from the filters.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlDisplayAdvanceSearch">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="DisplayAdvanceSearch_OverrideForStore" asp-input="DisplayAdvanceSearch" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="DisplayAdvanceSearch" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="DisplayAdvanceSearch" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlDisplayAdvanceSearchHint">
                    <div>
                        <p>Checked to display Advance search section on Search page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>