﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@

@{
    Layout = null;
}

@model XcellenceIT.Plugin.Solr.Search.Models.SolrSearchModel
@using Nop.Web.Framework;
@using System.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group" id="pnlSearchTermMinimumLengthForDisplayAutocompleteInProductSuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchTermMinimumLengthForProductSuggestion_OverrideForStore" asp-input="SearchTermMinimumLengthForProductSuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchTermMinimumLengthForProductSuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SearchTermMinimumLengthForProductSuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlSearchTermMinimumLengthForDisplayAutocompleteInProductSuggestionhint">
                    <div>
                        <p>Search term minimum length for display Product suggestion in Autocomplete, Make sure Lenght of This setting should be equall or greater than Search term minimum length of Catalog Setting.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlSearchNumberOfTermSuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchNumberOfTermSuggestion_OverrideForStore" asp-input="SearchNumberOfTermSuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchNumberOfTermSuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SearchNumberOfTermSuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlSearchNumberOfTermSuggestionhint">
                    <div>
                        <p>Search number of term suggestion in AutoComplete, Make sure Length of this setting should be equal or greater than Search term minimum length of AutoComplete Search Setting.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlSearchNumberOfProductSuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchNumberOfProductSuggestion_OverrideForStore" asp-input="SearchNumberOfProductSuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchNumberOfProductSuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SearchNumberOfProductSuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlSearchNumberOfProductSuggestionhint">
                    <div>
                        <p>Search number of product suggestion in AutoComplete, Make sure Length of this setting should be equal or greater than Search term minimum length of AutoComplete Search Setting.</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlEnableCategoriesDropdown">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnableCategoriesDropdown_OverrideForStore" asp-input="EnableCategoriesDropdown" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnableCategoriesDropdown" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnableCategoriesDropdown" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnableCategoriesDropdownhint">
                    <div>
                        <p>Checked enable disabled category dropdown on header</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="pnlEnableProductImages">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnabledAutoCompleteProductImages_OverrideForStore" asp-input="EnabledAutoCompleteProductImages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnabledAutoCompleteProductImages" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnabledAutoCompleteProductImages" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnableProductImageshint">
                    <div>
                        <p>Checked enable disabled AutoComplete product images</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pnlProductImageSizeSearchAutoComplete">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="AutoCompleteSearchThumbPictureSize_OverrideForStore" asp-input="AutoCompleteSearchThumbPictureSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AutoCompleteSearchThumbPictureSize" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="AutoCompleteSearchThumbPictureSize" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlProductImageSizeSearchAutoCompletehint">
                    <div>
                        <p>Add The Size Of Search Auto Complete Product Image</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="pnlEnalbeSearchNumberOfCategorySuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnalbeSearchNumberOfCategorySuggestion_OverrideForStore" asp-input="EnalbeSearchNumberOfCategorySuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnalbeSearchNumberOfCategorySuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnalbeSearchNumberOfCategorySuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="EnalbeSearchNumberOfCategorySuggestionhint">
                    <div>
                        <p>Select for set search number of category in autocomplete search</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="pnlSearchNumberOfCategorySuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchNumberOfCategorySuggestion_OverrideForStore" asp-input="SearchNumberOfCategorySuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchNumberOfCategorySuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SearchNumberOfCategorySuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlSearchNumberOfCategorySuggestionhint">
                    <div>
                        <p>Set number for search category in autocomplete search</p>
                    </div>
                </div>
            </div>

            <script>
                $(function () {
                    if ($('#EnalbeSearchNumberOfCategorySuggestion').is(':checked')) {
                        $("#pnlSearchNumberOfCategorySuggestion").show();
                    } else {
                        $("#pnlSearchNumberOfCategorySuggestion").hide();
                    }

                    $('#EnalbeSearchNumberOfCategorySuggestion').click(function () {
                        if ($(this).is(':checked')) {
                            $("#pnlSearchNumberOfCategorySuggestion").show();
                        } else {
                            $("#pnlSearchNumberOfCategorySuggestion").hide();
                        }
                    });
                });
            </script>

            <div class="form-group" id="pnlEnalbeSearchNumberOfManufacturerSuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="EnalbeSearchNumberOfManufacturerSuggestion_OverrideForStore" asp-input="EnalbeSearchNumberOfManufacturerSuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="EnalbeSearchNumberOfManufacturerSuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="EnalbeSearchNumberOfManufacturerSuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlEnalbeSearchNumberOfManufacturerSuggestionhint">
                    <div>
                        <p>Select for set search number of manufacturer in autocomplete search</p>
                    </div>
                </div>
            </div>

            <div class="form-group" id="pnlSearchNumberOfManufacturerSuggestion">
                <div class="col-md-4">
                    <nop-override-store-checkbox asp-for="SearchNumberOfManufacturerSuggestion_OverrideForStore" asp-input="SearchNumberOfManufacturerSuggestion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="SearchNumberOfManufacturerSuggestion" />
                </div>
                <div class="col-md-4">
                    <nop-editor asp-for="SearchNumberOfManufacturerSuggestion" />
                </div>
                <div class="col-md-12 pnlhint" id="pnlSearchNumberOfManufacturerSuggestionhint">
                    <div>
                        <p>Set number for search manufacturer in autocomplete search</p>
                    </div>
                </div>
            </div>

            <script>
                $(function () {
                    if ($('#EnalbeSearchNumberOfManufacturerSuggestion').is(':checked')) {
                        $("#pnlSearchNumberOfManufacturerSuggestion").show();
                    } else {
                        $("#pnlSearchNumberOfManufacturerSuggestion").hide();
                    }

                    $('#EnalbeSearchNumberOfManufacturerSuggestion').click(function () {
                        if ($(this).is(':checked')) {
                            $("#pnlSearchNumberOfManufacturerSuggestion").show();
                        } else {
                            $("#pnlSearchNumberOfManufacturerSuggestion").hide();
                        }
                    });
                });
            </script>

        </div>
    </div>
</div>