﻿@* *************************************************************************
 *                                                                       *
 * nopAccelerate - Solr Integration Extension for nopCommerce            *
 * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
 *                                                                       *
 *************************************************************************
 *                                                                       *
 * Email: info@nopaccelerate.com                                         *
 * Website: http://www.nopaccelerate.com                                 *
 *                                                                       *
 *************************************************************************
 *                                                                       *
 * This  software is furnished  under a license  and  may  be  used  and *
 * modified  only in  accordance with the terms of such license and with *
 * the  inclusion of the above  copyright notice.  This software or  any *
 * other copies thereof may not be provided or  otherwise made available *
 * to any  other  person.   No title to and ownership of the software is *
 * hereby transferred.                                                   *
 *                                                                       *
 * You may not reverse  engineer, decompile, defeat  license  encryption *
 * mechanisms  or  disassemble this software product or software product *
 * license.  Xcellence-IT may terminate this license if you don't comply *
 * with  any  of  the  terms and conditions set forth in  our  end  user *
 * license agreement (EULA).  In such event,  licensee  agrees to return *
 * licensor  or destroy  all copies of software  upon termination of the *
 * license.                                                              *
 *                                                                       *
 * Please see the  License file for the full End User License Agreement. *
 * The  complete license agreement is also available on  our  website at * 
 * http://www.nopaccelerate.com/terms/                                   *
 *                                                                       *
 ************************************************************************* *@

@model XcellenceIT.Plugin.Solr.Search.Models.LicenseKeyModel
@using System;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/nopaccelerate-core.css" />

<script type="text/javascript">
    $(document).ready(function () {
        if (('@ViewBag.Warning')) {

            $("#notice").addClass('license-key-notice');
        }
    });
</script>
   
@*@using (Html.BeginForm())
{  
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            NopAccelerate Solr Search
        </h1>
    </div>
    

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="notice">@Html.Raw(ViewBag.Warning)</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.NopLabelFor(model => model.StoreId)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownList("StoreId", Model.AvailableStores)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.NopLabelFor(model => model.LicKey)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.LicKey)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-6">
                                        <button type="submit" id="save" class="btn btn-primary btn-save" value="save" name="save">
                                            @T("Admin.Common.Save")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
  

  
}*@  


<form asp-controller="SolrAdminSearch" asp-action="LicenseKey" method="post">
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            NopAccelerate Solr Search
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="notice">@Html.Raw(ViewBag.Warning)</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <nop-label asp-for="StoreId" />
                                    </div>
                                    <div class="col-md-6">
                                        <nop-select asp-for="StoreId" asp-items="@Model.AvailableStores" />
                                        <span asp-validation-for="StoreId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <nop-label asp-for="LicKey" />
                                    </div>
                                    <div class="col-md-6">
                                        <nop-editor asp-for="LicKey" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-6">
                                        <button type="submit" id="save" class="btn btn-primary btn-save" value="save" name="save">
                                            @T("Admin.Common.Save")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>