﻿.amazon-btn {
    border-color: transparent;
    background-color: #EFC750;
    color: #1C1B20;
    margin: 4px;
    position: relative;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0,89,153,0);
    box-shadow: 0 0 0 0 rgba(0,149,255,0);
}

    .amazon-btn:hover, .amazon-btn:focus {
        background-color: #EFC050;
        color: rgba(0,0,0,0.95);
    }

    .amazon-btn svg {
        vertical-align: initial;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
        transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
        border-color: #F1CA55;
        background-color: #F1CA55;
        color: #1C1B20;
    }

        .amazon-btn svg path {
            fill: currentColor;
        }
