﻿@model InsuranceSearchModel
@using Nop.Web.Areas.Admin.Models.Insurance
@inject AdminAreaSettings adminAreaSetting

@{
    Layout = "_AdminPopupLayout";

    var popupGridPageSize = adminAreaSetting.PopupGridPageSize;

    //page title
    ViewBag.Title = T("Admin.Catalog.ProductAttributeCombination.AssociateInsuranceDevice").Text;
}

<form asp-controller="Product" asp-action="InsuranceDeviceAddPopUp"
      asp-route-productAttributeValueId="@Context.Request.Query["productAttributeValueId"]"
      asp-route-insuranceDeviceKey="@Context.Request.Query["insuranceDeviceKey"]"
      asp-route-insuranceDeviceName="@Context.Request.Query["insuranceDeviceName"]">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductAttributeCombination.AssociateInsuranceDevice")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    @if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {
                window.opener.$('#@(Context.Request.Query["insuranceDeviceKey"])').val('@(ViewBag.insuranceDeviceKey)');
                window.opener.document.getElementById('@(Context.Request.Query["insuranceDeviceName"])').innerHTML = '@(ViewBag.insuranceDeviceName)';
            }
            catch (e){}
            window.close();
        </script>
    } 
    <div class="content">
        <input asp-for="ProductAttributeValueId" type="hidden" />
        <input asp-for="SelectedInsuranceDeviceId" type="hidden" />
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchName" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-insuranceDevice" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="insurance-device-grid"></div>

                        <script type="text/javascript">
                        $(document).ready(function () {
                            $("#insurance-device-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("InsuranceDeviceAddPopUpList", "Product"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(popupGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "Id",
                                    template: '<button type="button" onclick="selectInsuranceDevice(#=Id#)" class="btn btn-default">@T("Admin.Common.Select")</button>',
                                    attributes: { style: "text-align:center" },
                                    width: 50
                                }, {
                                        field: "Type",
                                        title: "Type",
                                        width: 300
                                    }, {
                                        field: "Make",
                                        title: "Make",
                                        width:300
                                    }, {
                                        field: "Model",
                                        title: "Model",
                                        width:300
                                    }, {
                                        field: "Value",
                                        title: "Value",
                                        width:300
                                    }]
                            });
                        });
                        </script>

                        <script type="text/javascript">
                        $(document).ready(function() {
                            $('#search-insuranceDevice').click(function() {
                                var grid = $('#insurance-device-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                return false;
                            });

                            $("#@Html.IdFor(model => model.SearchName)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-insuranceDevice").click();
                                    return false;
                                }
                            });

                            //wire up checkboxes
                            $('#insurance-device-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
                                $('.checkboxGroups').attr('checked', false);
                                $(this).attr('checked', true);
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchName: $('#@Html.IdFor(model => model.SearchName)').val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        function selectInsuranceDevice(InsuranceDeviceId) {
                            $("#@Html.IdFor(model => model.SelectedInsuranceDeviceId)").val(InsuranceDeviceId);
                            $('#save').click();
                        }
                        //function updateMasterCheckbox() {
                        //    var numChkBoxes = $('#insurance-device-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                        //    var numChkBoxesChecked = $('#insurance-device-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                        //    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        //}
                        </script>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" id="save" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>