﻿@model StoreLocatorSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.StoreLocator.Admin.Submenus.Settings");
}

<script type="text/javascript">
    $(document).ready(function () {
        var manuallySetBounds = "#@Html.IdFor(model => model.ManuallySetMapBounds)";
        var manuallySetBoundsClass = ".manually-set-bounds";

        toggleSetting(manuallySetBounds, manuallySetBoundsClass);

        $(manuallySetBounds).change(function () {
            toggleSetting(manuallySetBounds, manuallySetBoundsClass);
        });
    });

    function toggleSetting(setting, element) {
        if ($(setting).is(':checked') == true) {
            $(element).addClass('opened').removeClass('closed').show();
        } else {
            $(element).addClass('closed').removeClass('opened').hide();
        }
    }
</script>

<form method="post">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.StoreLocator.Admin.Settings.Common")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Enabled_OverrideForStore" asp-input="Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Enabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Enabled" />
                                <span asp-validation-for="Enabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="HeaderMenuIntegration_OverrideForStore" asp-input="HeaderMenuIntegration" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="HeaderMenuIntegration" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="HeaderMenuIntegration" asp-items="Model.AvailableWidgetZonesForHeaderMenu" />
                                <span asp-validation-for="HeaderMenuIntegration"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="HomePageIntegration_OverrideForStore" asp-input="HomePageIntegration" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="HomePageIntegration" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="HomePageIntegration" asp-items="Model.AvailableWidgetZonesForHomePage" />
                                <span asp-validation-for="HomePageIntegration"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ContactUsPageIntegration_OverrideForStore" asp-input="ContactUsPageIntegration" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ContactUsPageIntegration" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="ContactUsPageIntegration" asp-items="Model.AvailableWidgetZonesForContactUsPage" />
                                <span asp-validation-for="ContactUsPageIntegration"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="UnitsSystem_OverrideForStore" asp-input="UnitsSystem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="UnitsSystem" />
                            </div>
                            <div class="col-md-9 units-system-holder">
                                <nop-select asp-for="UnitsSystem" asp-items="Model.AvailableUnitSystems" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="DefaultDistanceRadius_OverrideForStore" asp-input="DefaultDistanceRadius" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="DefaultDistanceRadius" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DefaultDistanceRadius" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="GoogleApiKey_OverrideForStore" asp-input="GoogleApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="GoogleApiKey" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="GoogleApiKey" />
                                <span asp-validation-for="GoogleApiKey"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ManuallySetMapBounds_OverrideForStore" asp-input="ManuallySetMapBounds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ManuallySetMapBounds" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ManuallySetMapBounds" />
                                <span asp-validation-for="ManuallySetMapBounds"></span>
                            </div>
                        </div>
                        <div class="form-group manually-set-bounds">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Latitude_OverrideForStore" asp-input="Latitude" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Latitude" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Latitude" />
                                <span asp-validation-for="Latitude"></span>
                            </div>
                        </div>
                        <div class="form-group manually-set-bounds">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Longitude_OverrideForStore" asp-input="Longitude" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Longitude" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Longitude" />
                                <span asp-validation-for="Longitude"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="MapZoomLevel_OverrideForStore" asp-input="MapZoomLevel" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="MapZoomLevel" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="MapZoomLevel" />
                                <span asp-validation-for="MapZoomLevel"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="DefaultShopImageId_OverrideForStore" asp-input="DefaultShopImageId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="DefaultShopImageId" />
                            </div>
                            <div class="col-md-9 default-shop-image-holder">
                                <nop-editor asp-for="DefaultShopImageId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AllShopsPageImageSize_OverrideForStore" asp-input="AllShopsPageImageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AllShopsPageImageSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AllShopsPageImageSize" asp-postfix="@T("SevenSpikes.Plugins.Admin.InputStyles.Postfix.Pixels").Text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShopDetailsPageImageSize_OverrideForStore" asp-input="ShopDetailsPageImageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShopDetailsPageImageSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShopDetailsPageImageSize" asp-postfix="@T("SevenSpikes.Plugins.Admin.InputStyles.Postfix.Pixels").Text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="CustomMapStyles_OverrideForStore" asp-input="CustomMapStyles" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="CustomMapStyles" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="CustomMapStyles" style = "Height: 450px;"/>
                            </div>
                        </div>
                        <div class="adminHint">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="summary">To generate the <strong>Custom Map Styles</strong> do the following:</div>
                                <ul>
                                    <li>Go to Google Maps Styling Wizard: <a href="https://mapstyle.withgoogle.com/" target="_blank">https://mapstyle.withgoogle.com/</a>.</li>
                                    <li>Customize colors, roads, labels of the map.</li>
                                    <li>Click on <strong>Finish</strong> and copy the <strong>JSON</strong> from the pop-up.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    function enableCustomOverlay(overrideSelector, parentOfOverlaySelector) {
        var parent = $(parentOfOverlaySelector);

        if (parent.css('position') == 'static') {
            parent.css('position', 'relative');
        }

        $('#' + overrideSelector).change(function () {
            customFieldOverrideChangedShowOverlay(overrideSelector, parentOfOverlaySelector);
        });
        customFieldOverrideChangedShowOverlay(overrideSelector, parentOfOverlaySelector);

        $('.store-scope-configuration .checkbox input').change(function () {
            customFieldOverrideChangedShowOverlay(overrideSelector, parentOfOverlaySelector);
        });
    }

    function customFieldOverrideChangedShowOverlay(overrideSelector, parentOfOverlaySelector) {
        if ($('#' + overrideSelector).length == 0) {
            return;
        }

        if ($('#' + overrideSelector).is(':checked') == true) {
            $('.overlay-for-' + overrideSelector).remove();
        } else {
            $(parentOfOverlaySelector).append('<div class="custom-fields-overlay overlay-for-' + overrideSelector + '"></div>');
        }
    }

    $(document).ready(function () {
        enableCustomOverlay('@Html.IdFor(model => model.DefaultShopImageId_OverrideForStore)', '.default-shop-image-holder');
        enableCustomOverlay('@Html.IdFor(model => model.UnitsSystem_OverrideForStore)', '.units-system-holder');
    });
</script>