@model FileExtensionImageModel

<div class="form-group">
    <div class="col-md-3">
        <nop-label asp-for="Name" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="Name" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-label asp-for="ImageId" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="ImageId" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-label asp-for="FileExtensions" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="FileExtensions" />
    </div>
</div>