@model FileExtensionImageModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync(AdminViews.FileExtensionImageSettings, @Model)
                </div>
            </div>
            @await Html.PartialAsync(AdminViews.StoreSettings, @Model)
        </div>
    </div>
</div>
