﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.BrainTree.Models.PaymentInfoModel
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings
@using Nop.Web.Framework;
<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td>
            @Html.LabelFor(model => model.CardNumber, false):
        </td>
        <td>
            <div id="card-number"></div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ExpireMonth, false):
        </td>
        <td>
            <div id="expire-month"></div>
            /
            <div id="expire-year"></div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.CardCode, false):
        </td>
        <td>
            <div id="cvv"></div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" id="payment-method-nonce" name="payment_method_nonce" />

            @if (Model.EnableKount)
            {
                <input type="hidden" id="device-data" name="device_data" />
            }
        </td>
    </tr>
</table>
<div id="modal" class="hidden">
    <div class="bt-mask"></div>
    <div class="bt-modal-frame">
        <div class="bt-modal-header">
            <div class="header-text">Authentication</div>
        </div>
        <div class="bt-modal-body"></div>
        <div class="bt-modal-footer"><a id="text-close" href="#">Cancel</a></div>
    </div>
</div>

<style>
    #modal {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100vw;
        z-index: 100;
    }

    .bt-modal-frame {
        height: 480px;
        width: 440px;
        margin: auto;
        background-color: #fefefe;
        z-index: 2;
    }

    .bt-modal-body {
        height: 400px;
        margin: 0 10px;
        background-color: white;
        border: 1px solid lightgray;
    }

    .bt-modal-header, .bt-modal-footer {
        height: 40px;
        text-align: center;
        line-height: 40px;
    }

    .bt-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.8;
    }

    .hidden {
        display: none !important;
    }

    #card-number,
    #expire-month,
    #expire-year,
    #cvv {
        height: 36px;
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
        display: inline-block;
        -webkit-transition: border-color 160ms;
        transition: border-color 160ms;
    }

    #card-number {
        width: 100%;
    }

    #expire-month,
    #expire-year {
        width: 70px;
    }

    #cvv {
        width: 65px;
    }

        #card-number.braintree-hosted-fields-focused,
        #expire-month.braintree-hosted-fields-focused,
        #expire-year.braintree-hosted-fields-focused,
        #cvv.braintree-hosted-fields-focused {
            border-color: #777;
        }

        #card-number.braintree-hosted-fields-invalid,
        #expire-month.braintree-hosted-fields-invalid,
        #expire-year.braintree-hosted-fields-invalid,
        #cvv.braintree-hosted-fields-invalid {
            border-color: tomato;
        }

        #card-number.braintree-hosted-fields-valid,
        #expire-month.braintree-hosted-fields-valid,
        #expire-year.braintree-hosted-fields-valid,
        #cvv.braintree-hosted-fields-valid {
            border-color: limegreen;
        }
</style>

<script>
    $(document).ready(function () {
        var onePageCheckout = @orderSettings.OnePageCheckoutEnabled.ToString().ToLower();

        $('.payment-info-next-step-button').attr('onclick', null);

        disableNextStepButton();

        var modal = document.getElementById('modal');
        var bankFrame = document.querySelector('.bt-modal-body');
        var closeFrame = document.getElementById('text-close');
        var nonceInput = $('#payment-method-nonce');
        var deviceDataInput = $('#device-data');
        var authorization = '@Model.ClientToken';
        var components = {
            client: null,
            hostedFields: null,
            @if (Model.Enable3dSecure)
            {
                <text>threeDSecure: null,</text>
            }
            @if (Model.EnableKount)
            {
                <text>dataCollector: null</text>
            }
        };

        braintree.client.create({
            authorization: authorization
        }, onClientCreate);

        function onClientCreate(err, client) {
            if (err) {
                console.error(err);
                return;
            }

            components.client = client;

            braintree.hostedFields.create({
                client: client,
                fields: {
                    number: {
                        selector: '#card-number'
                    },
                    cvv: {
                        selector: '#cvv'
                    },
                    expirationMonth: {
                        selector: '#expire-month'
                    },
                    expirationYear: {
                        selector: '#expire-year'
                    }
                }
            }, onComponent('hostedFields'));

            @if (Model.Enable3dSecure)
            {
            <text>
            braintree.threeDSecure.create({
                client: client
            }, onComponent('threeDSecure'));
            </text>
            }

            @if (Model.EnableKount)
            {
            <text>
            braintree.dataCollector.create({
                client: client,
                kount: true
            }, onComponent('dataCollector'));
            </text>
            }
        }

        function onComponent(name) {
            return function (err, component) {
                if (err) {
                    console.log('component error:', err);
                    return;
                }

                components[name] = component;

                if (components.hostedFields
                    @if (Model.Enable3dSecure)
                    {
                        <text>&& components.threeDSecure</text>
                    }
                    @if (Model.EnableKount)
                    {
                        <text>&& components.dataCollector</text>
                    }) {

                    setupForm();
                }
            }
        }

        function setupForm() {
            $('input.payment-info-next-step-button').on('click', function (event) {
                disableNextStepButton();

                components.hostedFields.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                        console.log('tokenization error:', tokenizeErr);
                        enableNextStepButton();
                        return;
                    } else {
                        console.log('tokenization success:', payload);
                        @if (!Model.Enable3dSecure)
                        {
                        <text>
                        nonceInput.val(payload.nonce);
                        enableNextStepButton();
                        //$('input.payment-info-next-step-button').parents('form:first').submit();
                        $('input.payment-info-next-step-button').parents('form:first').find("#ts-confirmOrder").click();
                        //PaymentInfo.save();
                        </text>
                        }
                    }

                    @if (Model.Enable3dSecure)
                    {
                    <text>
                    components.threeDSecure.verifyCard({
                        amount: '@Model.Amount',
                        nonce: payload.nonce,
                        addFrame: addFrame,
                        removeFrame: removeFrame,
                        customer: {
                            mobilePhoneNumber: '@Model.MobilePhoneNumber',
                            email: '@Model.Email',
                            shippingMethod: '@Model.ShippingMethod',
                            billingAddress: {
                                firstName: '@Model.BillingAddress.FirstName',
                                lastName: '@Model.BillingAddress.LastName',
                                streetAddress: '@Model.BillingAddress.Address1',
                                extendedAddress: '@Model.BillingAddress.Address2',
                                locality: '@Model.BillingAddress.City',
                                region: '@Model.BillingAddress.StateProvince?.Abbreviation',
                                postalCode: '@Model.BillingAddress.ZipPostalCode',
                                countryCodeAlpha2: '@Model.BillingAddress.Country?.TwoLetterIsoCode',
                                phoneNumber: '@Model.BillingAddress.PhoneNumber'
                            }
                        }
                    }, function (err, verification) {
                        if (err) {
                            console.log('verification error:', err);
                            enableNextStepButton();
                            return;
                        }

                        console.log('verification success:', verification);
                        nonceInput.val(verification.nonce);
                        enableNextStepButton();
                        //$('input.payment-info-next-step-button').parents('form:first').submit();
                        $('input.payment-info-next-step-button').parents('form:first').find("#ts-confirmOrder").click();
                        //PaymentInfo.save();
                    });
                    </text>
                    }
                });
            });

            @if (Model.EnableKount)
            {
            <text>
            deviceDataInput.val(components.dataCollector.deviceData);
            </text>
            }

            enableNextStepButton();
        }

        function enableNextStepButton() {
            $('.payment-info-next-step-button').prop('disabled', false);
            $('.payment-info-next-step-button').css("opacity", 1);
        }

        function disableNextStepButton() {
            $('.payment-info-next-step-button').prop('disabled', true);
            $('.payment-info-next-step-button').css("opacity", .3);
        }

        function addFrame(err, iframe) {
            bankFrame.appendChild(iframe);
            modal.classList.remove('hidden');
        }

        function removeFrame() {
            var iframe = bankFrame.querySelector('iframe');
            modal.classList.add('hidden');
            iframe.parentNode.removeChild(iframe);
        }

        closeFrame.addEventListener('click', function () {
            components.threeDSecure.cancelVerifyCard(removeFrame());
            enableNextStepButton();
        });
    });
</script>