﻿@model SaleCampaignPluginSettingsModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.SaleCampaigns.Admin.Submenus.Settings");
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.SaleCampaigns.Admin.Settings")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    
    <div class="content">
        <div class="form-horizontal">
            @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)

            @await Component.InvokeAsync("StoreScopeConfiguration")

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group clearfix">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="EnableSaleCampaigns_OverrideForStore" asp-input="EnableSaleCampaigns" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EnableSaleCampaigns" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableSaleCampaigns" />
                                <span asp-validation-for="EnableSaleCampaigns"></span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ProductBoxSelector_OverrideForStore" asp-input="ProductBoxSelector" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ProductBoxSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProductBoxSelector" />
                                <span asp-validation-for="ProductBoxSelector"></span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ProductBoxPictureContainerSelector_OverrideForStore" asp-input="ProductBoxPictureContainerSelector" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ProductBoxPictureContainerSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProductBoxPictureContainerSelector" />
                                <span asp-validation-for="ProductBoxPictureContainerSelector"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>