﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Orders
@using System.Text.RegularExpressions;
@inject IStoreContext storeContext
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject Nop.Web.Factories.IShoppingCartModelFactory shoppingCartModelFactory
@{
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.cart.css");
    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");
}

<div class="order-summary-content">
    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_before" })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count(x => !x.IsInsurance) > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        var shoppingCart = workContext.CurrentCustomer.ShoppingCartItems
                                .Where(sci => sci.ShoppingCartType == ShoppingCartType.ShoppingCart)
                                .LimitPerStore(storeContext.CurrentStore.Id)
                                .ToList();

        var orderTotalsModel = shoppingCartModelFactory.PrepareOrderTotalsModel(shoppingCart, Model.IsEditable);


        //attribute modal
        <div style="z-index:10000" class="modal fade" id="Paypal_Credit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Paypal_Credit_modal_title">PayPal Credit </h4>
                    </div>
                    <div class="modal-body" id="Paypal_Credit_modal_content">
                        @await Component.InvokeAsync("Widget", new { widgetZone = "braintree_paypal_credit_financing_calculator", additionalData = @orderTotalsModel.OrderTotalCartTotalBase })
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        <div style="z-index:10000" class="modal fade" id="Bank_Transfer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Bank_Transfer_modal_title">@T("payments.banktransfer") </h4>
                    </div>
                    <div class="modal-body" id="Bank_Transfer_modal_content">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "BankTransferPopUp" })
                    </div>
                </div>
            </div>
        </div>

        <div style="z-index:10000" class="modal fade" id="freedelivery_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="freedelivery_title">FREE Next Day Delivery</h4>
                    </div>
                    <div class="modal-body" id="freedelivery_content">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "FreeDeliveryPopup" })
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div id="condition_guide_modal" class="modal fade" style="z-index: 10000;" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 id="condition_guide_title" class="modal-title">Condition Video Guide</h4>
                    </div>
                    <div id="condition_guide_content" class="modal-body">@await Component.InvokeAsync("TopicBlock", new { systemName = "VideoForConditions" })</div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>

        <div style="z-index:10000" class="modal fade" id="mazumaWifi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="mazumaWifi_title">What's Mazuma Wi-Fi?</h4>
                    </div>
                    <div class="modal-body" id="mazumaWifi_content">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "Mazuma_Cart_WiFI" })
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div style="z-index:10000" class="modal fade" id="insuranceIntroduction_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">More about the Insurance</h4>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <p><strong class="text-bold">Complete your insurance purchase at checkout</strong></p>
                            <br />
                            <p>
                                Protect your device with affordable cover and peace of mind that your device is covered for accidental damage & theft.
                                Should the worst happen you'll get a repair or replacement with no nasty surprises. Be covered and stay connected with:
                            </p>
                            <br />
                            <p>
                                <ul style="padding-left: 30px;" class="text-left">
                                    <li class="iconfont icon-gougou">Unlimited worldwide cover</li>
                                    <li class="iconfont icon-gougou">Clear & simple excesses</li>
                                    <li class="iconfont icon-gougou">Breakdown</li>
                                    <li class="iconfont icon-gougou">Fast & friendly claims handing</li>
                                    <li class="iconfont icon-gougou">Unlimited claims</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div style="z-index:10000" class="modal fade" id="insuranceTermsAndCondition_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="max-width:750px;">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div>
                            <h4 class="text-bold">Do you want to proceed?</h4>
                            <br />
                            <p>To be entitled to cover under this insurance you must confirm the following to be true:</p>
                            <ul class="text-left" style="margin-left: 20px; margin-top:15px;">
                                <li style="display:flex;"><span class="iconfont icon-gougou" style="margin-right:5px;"></span> <span>I am a resident of the UK and am over 18 years old.</span></li>
                                <li style="display:flex;">
                                    <span class="iconfont icon-gougou" style="margin-right:5px;"></span> <span>
                                        I have read and accept the
                                        <a class="link link-blue" target="_blank" href="/files/insurance/Insurance_IPID_Retail_Devicecover.pdf">Product Information</a>
                                        and
                                        <a class="link link-blue" target="_blank" href="/files/insurance/Insurance_T&Cs_MobileAndGadget.pdf">T&Cs</a>
                                        of the Policy, <a class="link link-blue" href="/files/insurance/Insurance_PolicySummary.pdf" target="_blank">Summary of cover</a> and <a class="link link-blue" href="https://tinhat.co.uk/sites/default/files/users/user1/Bastion%20Insurance%20Services%20Ltd%20-%20Privacy%20policy.pdf" target="_blank">privacy policy</a>.
                                    </span>
                                </li>
                            </ul>
                            <p style="margin: 15px 30px;">
                                If you change your mind about your device or insurance,
                                you have 14 days from the date of purchase to return the device and/or cancel the insurance for a full refund.
                            </p>
                            <div class="btn-modal-action btn-common btn-md" data-value="true">Accept</div>
                            <div class="btn-modal-action btn-common btn-md btn-white " data-value="false">Decline</div>
                            <p>
                                <br />
                                <strong class="text-bold" style="font-size: 13px;">
                                    Mazuma Mobile Ltd is an introducer Appointed Representative of Bastion Insurance Services Ltd who are authorised and regulated by FCA, Reg No. 650727
                                </strong>
                            </p>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr>
                            @if (Model.IsEditable)
                            {
                                <th class="remove-from-cart" colspan="3">
                                    Item Details
                                </th>
                            }
                            else
                            {
                                <th class="remove-from-cart" colspan="2">
                                    Item Details
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th class="sku">
                                    @T("ShoppingCart.SKU")
                                </th>
                            }
                            <th class="unit-price">
                                @T("ShoppingCart.UnitPrice")
                            </th>
                            <th class="quantity">
                                @T("ShoppingCart.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingCart.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items.Where(x => !x.IsInsurance))
                        {
                            <tr class="md-flex">
                                @if (Model.IsEditable)
                                {
                                    <td class="remove-from-cart md-none">
                                        @if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                            <label name="removefromcart" id="@(item.Id)" class="td-title">
                                                @T("ShoppingCart.Remove")
                                                <span class="icon iconfont icon-close shopping-remove" onclick="remove_product('@item.ProductName', '@item.ProductId', '@item.Quantity')"></span>
                                            </label>
                                        }
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-picture">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazyloadsrc="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                    </td>
                                }
                                <td class="product">
                                    <div class="flex">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                        <label name="removefromcart" id="@(item.Id)" class="td-title md-show"><sapn class="icon iconfont icon-close"></sapn></label>
                                    </div>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    <div class="flex">
                                        <div class="md-show">
                                            <label class="td-title">@T("ShoppingCart.Quantity"):</label>
                                            @if (Model.IsEditable)
                                            {
                                                if (item.AllowedQuantities.Count > 0)
                                                {
                                                    <select data-cartid="@item.Id" class="qty-dropdown">
                                                        @foreach (var qty in item.AllowedQuantities)
                                                        {
                                                            <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input data-cartid="@item.Id" value="@(item.Quantity)" class="qty-input" />
                                                }
                                            }
                                            else
                                            {
                                                <span class="product-quantity">@item.Quantity</span>
                                            }
                                        </div>
                                        <div class="text-right md-show">
                                            <span class="product-subtotal">@item.SubTotal</span>

                                            @if (!String.IsNullOrEmpty(item.Discount))
                                            {
                                                <div class="discount">
                                                    @T("ShoppingCart.ItemYouSave", item.Discount)
                                                </div>
                                                if (item.MaximumDiscountedQty.HasValue)
                                                {
                                                    <div class="discount-additional-info">
                                                        @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                    </div>
                                                }
                                            }

                                            <span class="text-shadow">Free delivery</span>
                                        </div>
                                    </div>
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error product-message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="unit-price md-none">
                                    <label class="td-title">@T("ShoppingCart.UnitPrice"):</label>
                                    <span class="product-unit-price">@item.UnitPrice</span>
                                </td>
                                <td class="quantity text-center md-none">
                                    <label class="td-title">@T("ShoppingCart.Quantity"):</label>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" data-cartid="@item.Id" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" data-cartid="@item.Id" type="text" value="@(item.Quantity)" class="qty-input" />
                                        }
                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }
                                </td>
                                <td class="subtotal md-none">
                                    <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave", item.Discount)
                                        </div>
                                        if (item.MaximumDiscountedQty.HasValue)
                                        {
                                            <div class="discount-additional-info">
                                                @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                            @if (Model.InsuranceEnabled && item.InsuranceEnabled)
                            {
                                <tr class="insurance-tr md-flex">
                                    @if (Model.IsEditable)
                                    {
                                        <td>
                                            <input class="hide btn-arrowdown" id="item_@item.Id" type="checkbox">
                                            <label class="icon iconfont icon-arrowdown" for="item_@item.Id"></label>
                                        </td>
                                    }
                                    <td class="product-picture md-none">
                                        Insurance
                                    </td>
                                    <td class="product delivery-product" colspan="2">
                                        <a class="product-name"></a>
                                        <div class="attributes " style="color:unset">
                                            <span class="btn-modal link-blue" data-modal="#insuranceIntroduction_modal" style="cursor: pointer;">Accidental Damage and Theft insurance</span>
                                        </div>
                                        <div>
                                            <p>Protect your device with insurance cover.</p>
                                            <p class="text-bold">*No payment will taken today.</p>
                                        </div>
                                    </td>
                                    @if (Model.IsEditable)
                                    {
                                        <td class="select-insurance-box text-center">
                                            <div class="flex">
                                                <div class="md-show" style="margin-right:10px">
                                                    <label class="td-title">@item.InsurancePriceFormat*</label>
                                                    <span class="product-subtotal">per month</span>
                                                </div>
                                                <div>
                                                    <input class="hide chk-insurance" id="chkInsurance_@item.Id" type="checkbox" value="@item.Id">
                                                    <label class="icon iconfont icon-checkbox2" id="lbl-for-insurance" for="chkInsurance_@item.Id" title="Select insurance"></label>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="select-insurance-box text-center">
                                            <div class="flex">
                                                <div>
                                                    <label class="td-title">@item.InsurancePriceFormat*</label>
                                                    <span class="product-subtotal">per month</span>
                                                </div>
                                                <div>
                                                    <input class="hide" id="chkInsurance_@item.Id" type="checkbox" value="@item.Id" checked disabled>
                                                    <label class="icon iconfont icon-checkbox2" id="lbl-for-insurance" for="chkInsurance_@item.Id" title="Select insurance"></label>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    <td class="subtotal md-none">
                                        <label class="td-title-insurance">@item.InsurancePriceFormat*</label>
                                        <span class="product-subtotal">per month</span>
                                    </td>
                                </tr>
                                <tr id="item_@item.Id-expander" class="insurance-expander" style="display: none;">
                                    @if (Model.IsEditable)
                                    {
                                        <td> </td>
                                    }
                                    <td class="md-none" valign="top" colspan="2">
                                        <span class="text-bold">Complete your insurance purchase at checkout</span>
                                        <p class="mg-top-10">
                                            Protect your device with confidence and should the worst happen you'll get a repair or replacement with no nasty surprises.
                                        </p>
                                        <br />
                                        <p>
                                            By selecting the insurance and completing the secure checkout, you agree and understand the
                                            <a class="link link-blue" target="_blank" href="/files/insurance/Insurance_IPID_Retail_Devicecover.pdf">Product Information</a>
                                            and
                                            <a class="link link-blue" target="_blank" href="/files/insurance/Insurance_T&Cs_MobileAndGadget.pdf">T&Cs</a>
                                        </p>
                                        <br />
                                        <p>
                                            If you change your mind about your device or insurance, you have 14 days from the date of purchase to return the device and/or cancel the insurance for a full refund.
                                        </p>
                                    </td>
                                    <td valign="top" colspan="3">
                                        <p class="text-left"><span class="text-bold">Cover includes:</span></p>
                                        <ul class="mg-top-10 text-left">
                                            <li class="iconfont icon-gougou">Accidental damage (cracked screens etc.)</li>
                                            <li class="iconfont icon-gougou">Liquid damage</li>
                                            <li class="iconfont icon-gougou">Breakdown</li>
                                            <li class="iconfont icon-gougou">Use by immediate family</li>
                                            <li class="iconfont icon-gougou">Business cover</li>
                                            <li class="iconfont icon-gougou">Worldwide cover</li>
                                            <li class="iconfont icon-gougou">Theft</li>
                                            <li class="iconfont icon-gougou">Accessories cover up to £150</li>
                                            <li class="iconfont icon-gougou">Unlimited claims</li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="cart-delivery-tr md-none">
                            @if (Model.IsEditable)
                            {
                                <td class="remove-from-cart">
                                    <input class="hide" type="checkbox" checked disabled value="1">
                                    <label class="icon iconfont icon-checkbox"></label>
                                </td>
                            }
                            <td class="product-picture">
                                Mazuma Wi-Fi
                                @*<a href="/apple-iphone-6s-plus-2"><img alt="Picture of Apple iPhone 6S PLUS" src="http://localhost:15536/images/thumbs/0008027_apple-iphone-6s-plus_200.jpeg" title="Show details for Apple iPhone 6S PLUS"></a>*@
                            </td>
                            <td class="product delivery-product">
                                <a class="product-name"></a>
                                <div id="mazuma_wifi" class="attributes " style="color:unset">
                                    One Month FREE Trial
                                    <p class="mazuma-wifi">No recurring fees applied</p>
                                </div>
                                <div class="edit-item">

                                </div>
                            </td>
                            <td class="unit-price">
                                <label class="td-title">Price:</label>
                                <span class="product-unit-price">Free</span>
                            </td>
                            <td class="quantity"></td>
                            <td class="subtotal">
                                <label class="td-title">Total:</label>
                                <span class="product-subtotal">Free</span>
                            </td>
                        </tr>
                        <tr class="order-total md-none">
                            @if (Model.IsEditable)
                            {
                                <td class="order-total-td-mobile"></td>
                            }
                            <td class="order total-td">
                                <label>@T("ShoppingCart.Totals.OrderTotal")</label>
                            </td>
                            <td class="order total-td" colspan="3">
                                <div id="free-next-day-delivery" class="attributes" style="color:unset" data-modal="#freedelivery_modal">
                                    FREE Next Day Delivery
                                </div>
                            </td>
                            <td>
                                @if (!String.IsNullOrEmpty(orderTotalsModel.OrderTotal))
                                {
                                    <span class="value-summary"><strong>@orderTotalsModel.OrderTotal</strong></span>
                                }
                                else
                                {
                                    <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="z-index:10000" class="modal fade" id="product_errors_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="product_errors_title">Error Message</h4>
                            </div>
                            <div class="modal-body" id="product_errors_content">
                                @foreach (var item in Model.Items)
                                {
                                    <div>
                                        <ul>
                                            @foreach (var warning in item.Warnings)
                                            {
                                                <li>@warning</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" asp-location="Footer">
                    $(function () {
                        $("#product_errors_modal .close").click(function () {
                            $("#product_errors_modal").hide();
                        });
                    });
                </script>
            </div>
            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="apply-code-message">
                <!--  gift card applied message -->
                @if (!String.IsNullOrEmpty(Model.GiftCardBox.Message))
                {
                    <div class="@(Model.GiftCardBox.IsApplied ? "message-success" : "message-failure")">
                        @Model.GiftCardBox.Message
                    </div>
                }
                <!--  discount code applied message -->
                @foreach (var message in Model.DiscountBox.Messages)
                {
                    <div class="@(Model.DiscountBox.IsApplied ? "message-success" : "message-failure")">
                        @message
                    </div>
                }
                @foreach (var discount in Model.DiscountBox.AppliedDiscountsWithCodes)
                {
                    <div class="current-code">
                        <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                        @*empty value (little hack for FormValueExistsAttribute)*@
                        <input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
                    </div>
                }
            </div>

            @if (Model.IsEditable)
            {
                <div class="common-buttons">
                    <button type="button" class="button-2 apply-promo-code">
                        <span>Apply Discount Code</span>
                    </button>
                    <button type="button" class="button-2 apply-gift-card">
                        <span>Apply Store Credit</span>
                    </button>
                    <div class="md-none text-right" style="flex:3;">
                        <button type="submit" name="continueshopping" class="button-2 continue-shopping-button md-none" style="margin-right: 5px;">
                            <span class="icon iconfont icon-gouwuche"></span>&nbsp;&nbsp;<span>@T("ShoppingCart.ContinueShopping")</span>
                        </button>
                    </div>
                </div>
                <div class="checkout-buttons-container" style="display:none;">
                    <div class="checkout-buttons-header">Payment Methods</div>
                    <div class="checkout-buttons">
                        @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                        {
                            <script type="text/javascript" asp-location="Footer">
                                $(document).ready(function () {
                                    $('#checkout').click(function () {
                                        var errorShow = $('.table-wrapper .cart .product').children().is('.product-message-error');
                                        if (errorShow) {
                                            $('#product_errors_modal').show();
                                            return false;
                                        }
                                        //terms of service
                                        var termOfServiceOk = true;
                                        if ($('#termsofservice').length > 0) {
                                            //terms of service element exists
                                            if (!$('#termsofservice').is(':checked')) {
                                                $("#terms-of-service-warning-box").dialog();
                                                termOfServiceOk = false;
                                            } else {
                                                termOfServiceOk = true;
                                            }
                                        }
                                        return termOfServiceOk;
                                    });
                                });
                            </script>

                            // Stripe Credit/Debit Card
                            <div class="checkout-option-container stripe_credit_debit_card">
                                <div class="payment-info-top">
                                    <span class="payment-info-name">Credit / Debit Card</span>
                                    <br />
                                    <span class="payment-info-mid float_right_button">@orderTotalsModel.OrderTotal Single upfront payment</span>
                                    <a class="payment-info-more"></a>
                                </div>

                                <div class="payment-info-bottom">
                                    <img src="~/images/credit_debitcard.png" />
                                    <div class="payment-input" title="4">
                                        <input class="payment-check" name="payment_method_Credit_Debit_Card" id="Stripe" type="checkbox" value="Credit/Debit Card" />
                                        <label for="Stripe" title="l4" class="chk-payment-lable icon iconfont icon-51weixuanze"></label>
                                    </div>
                                </div>
                            </div>

                            // Paypal Credit/Debit Card
                            <div class="checkout-option-container paypal_credit_debit_card">
                                <div class="payment-info-top">
                                    <span class="payment-info-name">Paypal</span>
                                    <br />
                                    <span class="payment-info-mid float_right_button">@orderTotalsModel.OrderTotal Single upfront payment</span>
                                    <a class="payment-info-more"></a>
                                </div>

                                <div class="payment-info-bottom">
                                    <img src="~/images/paypal.png" />
                                    <div class="payment-input" title="2">
                                        <input class="payment-check" id="PayPal" type="checkbox" value="Credit/Debit Card" />
                                        <label for="PayPal" title="l2" class="chk-payment-lable icon iconfont icon-51weixuanze"></label>
                                    </div>
                                </div>
                            </div>

                            // Paypal Credit
                            <div class="checkout-option-container paypal_credit">
                                <div class="payment-info-top">
                                    <span class="payment-info-name">PayPal Credit</span>
                                    <br />
                                    <div class="float_right_button">
                                        <span class="payment-info-mid" id="Paypal_Credit_Max_Month_Price"></span>
                                        <a class="payment-info-more" id="Paypal_Credit_More_Info">More Info</a>
                                    </div>
                                </div>

                                <div class="payment-info-bottom">
                                    <img src="~/images/paypalcredit.png" />
                                    <div class="payment-input" title="3">
                                        <input class="payment-check" id="PayPal_Credit" type="checkbox" value="Credit/Debit Card" />
                                        <label for="PayPal_Credit" title="l3" class="chk-payment-lable icon iconfont icon-51weixuanze"></label>
                                    </div>
                                </div>
                            </div>

                            // Bank Transfer
                            <div class="checkout-option-container bank_transfer" style="display: none;">
                                <div class="payment-info-top">
                                    <span class="payment-info-name">@T("payments.banktransfer")</span>
                                    <br />
                                    <div class="float_right_button">
                                        <span class="payment-info-mid">@orderTotalsModel.OrderTotal Single upfront payment</span>
                                        <a class="payment-info-more" id="Bank_Transfer_More_Info">More Info</a>
                                    </div>
                                </div>

                                <div class="payment-info-bottom">
                                    @*<img src="~/images/paypalcredit.png" />*@
                                    <span style="font-weight:normal">Click here for a <a class="link link-blue" style="float:none" href="/bank-transfer-manual" target="_blank">Bank Transfer Step by Step</a> guidelines.</span>
                                    <div class="payment-input" title="3">
                                        <input class="payment-check" name="payment_method_bank_transfer" id="Bank_Transfer" type="checkbox" value="Bank Transfer" />
                                        <label for="Bank_Transfer" title="l3" class="chk-payment-lable icon iconfont icon-51weixuanze"></label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="md-show flex order-total-bottom">
                    <div class="">
                        <label>@T("ShoppingCart.Totals.OrderTotal")</label>
                    </div>
                    <div>
                        @if (!String.IsNullOrEmpty(orderTotalsModel.OrderTotal))
                        {
                            <span class="value-summary"><strong>@orderTotalsModel.OrderTotal</strong></span>
                        }
                        else
                        {
                            <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                        }
                    </div>
                </div>

                <div class="checkout-buttons-sticky-detect">

                </div>
                <div class="checkBox-buttons-wrapper">
                    <div class="checkout-option-container">
                        <div class="checkout-button-container">
                            <div class="checkout-buttons">
                                <button id="btn-checkout" name="checkout" value="checkout" class="button-1 checkout-button" onclick="checkout_click()">
                                    @T("Checkout.Button")
                                </button>

                                <button type="submit" id="btn-checkout-forsubmit" name="checkout" value="checkout" style="display:none;"></button>
                            </div>
                            <div class="credit-button-tagline">Secure credit/debit card payments</div>
                        </div>
                    </div>
                    <div class="checkBox-buttons-cover">
                        <div class="labas">
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    </div>
                </div>
            }

            <!-- Apply Gift Card -->
            <div style="z-index:10000" class="modal fade" id="apply_gift_card_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="apply_gift_card_title">Apply Promo Code</h4>
                        </div>
                        <div class="modal-body" id="apply_gift_card_content">
                            @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)
                        </div>
                    </div>
                </div>
            </div>
            <!-- Apply Promo Code -->
            <div style="z-index:10000" class="modal fade" id="apply_promo_code_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="apply_promo_code_title">Apply Discount Code</h4>
                        </div>
                        <div class="modal-body" id="apply_promo_code_content">
                            @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(function () {
                    $("#mazuma_wifi").click(function () {
                        $("#mazumaWifi_modal").modal("show");
                    });
                    $("#Paypal_Credit_Max_Month_Price").text("From " + $("#ppc-fo-monthly-payment").text() + "/month");
                    $("#Paypal_Credit_More_Info").click(function () {
                        $("#Paypal_Credit_modal").modal("show");
                    });
                    $(".apply-gift-card").click(function () {
                        $("#apply_gift_card_modal").modal("show");
                    });
                    $(".apply-promo-code").click(function () {
                        $("#apply_promo_code_modal").modal("show");
                    });
                    $("#Bank_Transfer_More_Info").click(function () {
                        $("#Bank_Transfer_modal").modal("show");
                    });
                    $(".checkBox-buttons-wrapper .checkout-option-container").hide();
                    $(".checkBox-buttons-wrapper .checkout-option-container:first").show();

                    $(".chk-payment-lable").click(function () {
                        $(".payment-check").prop("checked", false);
                        var thisButton = $(this).prop("for");
                        $(".checkBox-buttons-wrapper .checkout-option-container").hide();
                        if (thisButton == "Credit_Debit_Card" || thisButton == "Stripe") {
                            $("#btn-checkout").text('@T("Checkout.Button")')
                            $("#btn-checkout").parents(".checkBox-buttons-wrapper .checkout-option-container").show();
                        }
                        else if (thisButton == "Bank_Transfer") {
                            $("#btn-checkout").text('@T("shoppingcart.payvia.banktransfer")')
                            $("#btn-checkout").parents(".checkBox-buttons-wrapper .checkout-option-container").show();
                        }
                        else if (thisButton == "PayPal") {
                            $("#paypal-button").parents(".checkBox-buttons-wrapper .checkout-option-container").show();
                        }
                        else if (thisButton == "PayPal_Credit") {
                            $("#paypal-credit-button").parents(".checkBox-buttons-wrapper .checkout-option-container").show();

                        }
                        $(".chk-payment-lable").removeClass("checked");
                        $(this).addClass("checked");
                    });

                    //Set the defalt payment method
                    var totalZero = "@(orderTotalsModel.OrderTotalCartTotalBase.HasValue && orderTotalsModel.OrderTotalCartTotalBase == 0)";
                    //Set the defalt payment method
                    if (totalZero == "True")
                    {
                        $(".stripe_credit_debit_card .chk-payment-lable").click();
                    }
                    else
                    {
                        $(".checkout-buttons-container").show();
                        $(".stripe_credit_debit_card .chk-payment-lable").click();
                    }

                    $("#btn-checkout").click(function (e) {
                        e.preventDefault();
                        var errorShow = $('.table-wrapper .cart .product').children().is('.product-message-error');
                        if (errorShow) {
                            return false;
                        }
                        var payment = $('input.payment-check:checkbox:checked').prop("id");
                        console.log(payment);
                        if (payment == "Credit_Debit_Card" || payment == "Bank_Transfer" || payment == "Stripe") {
                            $("#btn-checkout-forsubmit").click();
                        }
                    });
                });
            </script>
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
        <div class="cart-search">
            @await Component.InvokeAsync("SearchBox")
        </div>
        <script type="text/javascript">
            $(window).on("load resize", function () {
                var h = window.innerHeight || document.body.clientHeight || document.documentElement.clientHeight;
                $(".master-wrapper-page").css("height", h);
            });
        </script>
    }
</div>
<script>
    $(function () {
        $("label[name=removefromcart]").click(function () {
            $(".ajax-loading-block-window").show();
            var cartItemid = parseInt($(this).attr("id"));
            if (cartItemid > 0) {
                $.ajax({
                    url: "@Url.Action("DeleteCartItem", "ShoppingCart")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        cartItemId: cartItemid
                    },
                    success: function (data) {
                        if (data.redirect) {
                            location.href = data.redirect;
                        }
                    }
                });
            }
        });

        $(".btn-modal").click(function () {
            $($(this).data("modal")).modal("show");
        });

        var insurancePostData = {};

        function postInsuranceCheckedStatus(selected, quantity) {

            insurancePostData.selected = selected;

            $(".ajax-loading-block-window").show();
            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("AddInsuranceForCartItem", "ShoppingCart"))",
                data: insurancePostData,
                success: function (data) {
                    $(".ajax-loading-block-window").hide()
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to select the insurance.');
                    $(".ajax-loading-block-window").hide()
                }
            });
        }

        function postCartItemQuantity(element, cid, qty) {
            $(".ajax-loading-block-window").show();
            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("UpdateCartItemQuantity", "ShoppingCart"))",
                data: {
                    cartItemId: cid,
                    newQuantity: qty
                },
                success: function (data) {
                    $(".ajax-loading-block-window").hide()
                    if (data.data){
                        alert(data.data);
                    }

                    $(element).parent().prev().find('span[class="product-unit-price"]').text(data.unitPrice);
                    $(element).parent().next().find('span[class="product-subtotal"]').text(data.total);
                    $(element).parent().next().find('div[class="discount"]').text(data.discountPrice);

                    if (data.insuranceEnabled == true &&
                        $(element).parent().parent().next().hasClass('insurance-tr') == true) {
                        $(element).parent().parent().next().find('td[class="subtotal md-none"] label').text(data.insurancePrice + "*");
                    }

                    $('.payment-info-mid.float_right_button').text(data.cartTotal + ' Single upfront payment');
                    $("tr.order-total.md-none span.value-summary strong").text('You save: ' + data.cartTotal);

                    //location.href = "@Url.RouteUrl("ShoppingCart")";
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to update the item quantity.');
                    $(".ajax-loading-block-window").hide()
                }
            });
        }

        $(".qty-dropdown").change(function () {
            var qty = $(this).val();
            //$("select.qty-dropdown").val(qty);
            //$("input.qty-input").val(qty);
            postCartItemQuantity(this, $(this).data("cartid"), qty);
        });
        $(".qty-input").change(function () {
            var qty = $(this).val();
            //$("select.qty-dropdown").val(qty);
            //$("input.qty-input").val(qty);
            postCartItemQuantity(this, $(this).data("cartid"), qty);
        });

        var chkInsuranceObj = {};

        $(".chk-insurance").change(function () {
            var isChecked = $(this).is(':checked');
            insurancePostData.cartItemId = $(this).val();

            chkInsuranceObj = $(this);

            if (isChecked) {
                    $("#insuranceTermsAndCondition_modal").modal("show");
                    chkInsuranceObj.prop('checked', false);
            } else {
                postInsuranceCheckedStatus(false);
            }
        });

        $(".btn-modal-action").click(function () {
            var val = $(this).data("value");
            chkInsuranceObj.prop('checked', val);
            $("#insuranceTermsAndCondition_modal").modal("hide");
            if (val === true) {
                postInsuranceCheckedStatus(val, txtInsuranceQty.val());
            }
        });

        $("input.btn-arrowdown").change(function () {
            var val = $(this).is(":checked");
            var key = $(this).prop('id') + "-expander";
            if (!val) {
                document.getElementById(key).style.display = "none";
            } else {
                document.getElementById(key).style.display = "table-row";
            }
        });
    })
</script>
<script>
    function checkout_click() {
        onCheckoutOption('1');
    };
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        // When the user scrolls down 450px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {

            var elem = document.querySelector('.checkout-buttons-sticky-detect');
            var bounding = elem.getBoundingClientRect();

            if ((bounding.bottom + 95) < screen.height) {

                $(".checkBox-buttons-wrapper").removeClass("cover-checkout-btn-sticky");
            } else {
                var mybutton = document.getElementsByClassName("checkBox-buttons-wrapper");

                $(".checkBox-buttons-wrapper").addClass("cover-checkout-btn-sticky");
            }

        }
    });
</script>