﻿@model ViewUpdateCorporateFinanceSignupModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.AccountName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.AccountName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.CompanyName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.CompanyName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.TradingName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.TradingName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.SortCode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.SortCode
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.AccountNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.AccountNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BankDetails.AccountAgeYears" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BankDetails.AccountAgeYears years @Model.BankDetails.AccountAgeMonths months
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>