﻿@model ViewUpdateCorporateFinanceSignupModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.Title" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.Title
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.FirstName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.FirstName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.MiddleName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.MiddleName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.LastName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.LastName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.DateOfBirthDay" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @(new DateTime(Model.DirectorDetails.DateOfBirthYear.Value, Model.DirectorDetails.DateOfBirthMonth.Value, Model.DirectorDetails.DateOfBirthDay.Value).ToString("MMMM dd, yyyy"))
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.IsUkResident" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.IsUkResident.ToString()
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.MaritalStatusId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.MaritalStatusSelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.MaritalStatusId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.NumberOfDependentsId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.NumberOfDependentsSelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.NumberOfDependentsId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.HomeOwnerStatusId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.HomeOwnerStatusSelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.HomeOwnerStatusId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.Email" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.Email
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.MobilePhoneNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.MobilePhoneNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Current Address</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.BuildingNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.BuildingNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.Address1" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.Address1
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.Address2" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.Address2
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.CityTown" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.CityTown
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.CountryId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.CountrySelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.CurrentAddress.CountryId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.StateProvinceId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.StateProvinceSelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.CurrentAddress.StateProvinceId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.Postcode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.Postcode
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.CurrentAddress.LengthOfStayYears" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.CurrentAddress.LengthOfStayYears years @Model.DirectorDetails.CurrentAddress.LengthOfStayMonths months
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Previous Address</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.BuildingNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.BuildingNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.Address1" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.Address1
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.Address2" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.Address2
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.CityTown" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.CityTown
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.CountryId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @if (Model.DirectorDetails.PreviousAddress.CountrySelectList.Any())
                        {
                            <text>@Model.DirectorDetails.PreviousAddress.CountrySelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.PreviousAddress.CountryId.Value.ToString()).Text</text>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.StateProvinceId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @if (Model.DirectorDetails.PreviousAddress.StateProvinceSelectList.Any())
                        {
                            <text>@Model.DirectorDetails.PreviousAddress.StateProvinceSelectList.FirstOrDefault(x => x.Value == Model.DirectorDetails.PreviousAddress.StateProvinceId.Value.ToString()).Text</text>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.Postcode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.Postcode
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DirectorDetails.PreviousAddress.LengthOfStayYears" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.DirectorDetails.PreviousAddress.LengthOfStayYears years @Model.DirectorDetails.PreviousAddress.LengthOfStayMonths months
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>