﻿@model ViewUpdateCorporateFinanceSignupModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyName
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.TradingAs" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.TradingAs
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyRegistrationNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyRegistrationNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.VatNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.VatNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.DateEstablishedDay" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @(new DateTime(Model.BasicDetails.DateEstablishedYear.Value, Model.BasicDetails.DateEstablishedMonth.Value, Model.BasicDetails.DateEstablishedDay.Value).ToString("MMMM dd, yyyy"))
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.IndustrySector" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.IndustrySector
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Company Address</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.BuildingNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.BuildingNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.Address1" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.Address1
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.Address2" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.Address2
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.CityTown" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.CityTown
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.CountryId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.CountrySelectList.FirstOrDefault(x => x.Value == Model.BasicDetails.CompanyAddress.CountryId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.StateProvinceId" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.StateProvinceSelectList.FirstOrDefault(x => x.Value == Model.BasicDetails.CompanyAddress.StateProvinceId.Value.ToString()).Text
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.Postcode" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.Postcode
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BasicDetails.CompanyAddress.LengthOfStayYears" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @Model.BasicDetails.CompanyAddress.LengthOfStayYears years @Model.BasicDetails.CompanyAddress.LengthOfStayMonths months
                    </div>
                </div>
            </div>
            @if (!Model.BasicDetails.TradingAddressSameAsCompanyAddress)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Trading Address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.BuildingNumber" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.BuildingNumber
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.Address1" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.Address1
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.Address2" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.Address2
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.CityTown" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.CityTown
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.CountryId" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.CountrySelectList.FirstOrDefault(x => x.Value == Model.BasicDetails.TradingAddress.CountryId.Value.ToString()).Text
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.StateProvinceId" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.StateProvinceSelectList.FirstOrDefault(x => x.Value == Model.BasicDetails.TradingAddress.StateProvinceId.Value.ToString()).Text
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.Postcode" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.Postcode
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BasicDetails.TradingAddress.LengthOfStayYears" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @Model.BasicDetails.TradingAddress.LengthOfStayYears years @Model.BasicDetails.TradingAddress.LengthOfStayMonths months
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>