﻿@model ViewUpdateCorporateFinanceSignupModel
@inject AdminAreaSettings adminAreaSettings
@using System.Globalization;
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="ordered-items-grid"></div>
            <script type="text/javascript">
                function additionalData() {
                    var data = {
                        Id: @Model.Id
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

                $(document).ready(function() {
                    $("#ordered-items-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("CorporateFinanceSignupOrderedItems", "EcorenewFinanceAdmin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "ProductSku",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplication.Fields.ProductSku")",
                                width: 200
                            },
                            {
                                field: "ProductName",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplication.Fields.ProductName")",
                                width: 200
                            },
                            {
                                field: "PaymentTerm",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplications.Fields.PaymentTerm")",
                                width: 200
                            },
                            {
                                field: "Quantity",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplications.Fields.Quantity")",
                                width: 200
                            },
                            {
                                field: "PaymentPerUnit",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplications.Fields.PaymentPerUnit")",
                                width: 200
                            },
                            {
                                field: "PaymentSubTotal",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplications.Fields.PaymentSubTotal")",
                                width: 200
                            },
                            {
                                field: "TotalPayable",
                                title: "@T("Ecorenew.Finance.Admin.Corporate.ViewUpdateApplications.Fields.TotalPayable")",
                                width: 200
                            }
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>