﻿@model SettingsModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="FinanceTypeId_OverrideForStore" asp-input="FinanceTypeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="FinanceTypeValues" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="FinanceTypeId" asp-items="Model.FinanceTypeValues" />
                    <span asp-validation-for="FinanceTypeId"></span>
                </div>
            </div>
        </div>
    </div>
</div>