﻿@model CorporateApplicationsModel
@inject AdminAreaSettings adminAreaSettings
@using System.Globalization;
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("Ecorenew.Finance.Admin.Corporate.Applications.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Ecorenew.Finance.Corporate.Applications");
}
<form asp-controller="Customer" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Ecorenew.Finance.Admin.Corporate.Applications.Title")
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchApprovalStatuses" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchApprovalStatuses" asp-items="Model.AvailableApprovalStatuses" asp-multiple="true" />
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                var rolesIdsInput =
                                                    $('#@Html.IdFor(model => model.SearchApprovalStatuses)')
                                                        .data("kendoMultiSelect");
                                                rolesIdsInput.setOptions({
                                                    autoClose: false,
                                                    filter: "contains"
                                                });

                                                @if (Model.AvailableApprovalStatuses.Count == 0)
                                                {
                                                    <text>
                                                        rolesIdsInput.setOptions({
                                                            enable: false,
                                                            placeholder:
                                                                '@T("Ecorenew.Finance.Admin.Corporate.Applications.NoApprovalStatusesAvailable")'
                                                        });
                                                        rolesIdsInput._placeholder();
                                                        rolesIdsInput._enable();
                                                    </text>
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-applications" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="applications-grid"></div>
                        <script type="text/javascript">
    $(document).ready(function() {
        $("#applications-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("CorporateApplicationList", "EcorenewFinanceAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    width: 50
                },
                {
                    field: "ApprovalStatus",
                    title: "@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.ApprovalStatus")",
                    width: 200
                },
                {
                    field: "StoreName",
                    title: "@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.StoreName")",
                    width: 200
                },
                {
                    field: "CompanyName",
                    title: "@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.CompanyName")",
                    width: 200
                },
                {
                    field: "CreatedOn",
                    title: "@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.CreatedOn")",
                    width: 150,
                    type: "date",
                    format: "{0:G}"
                },
                {
                    field: "Id",
                    title: "@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.ViewUpdate")",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-default" href="ViewUpdateCorporateFinanceSignup/#=Id#"><i class="fa fa-eye"></i>@T("Ecorenew.Finance.Admin.Corporate.Applications.Fields.ViewUpdate")</a>'
                }
            ]
        });
    });
                        </script>
                        <script type="text/javascript">

    $(document).ready(function() {
        //search button
        $('#search-applications').click(function() {
            var grid = $('#applications-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });

    function additionalData() {
        var data = {
            SearchApprovalStatuses: $('#@Html.IdFor(model => model.SearchApprovalStatuses)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>