﻿@model SettingsModel
@{
    //page title
    ViewBag.Title = T("Ecorenew.Finance.Admin.Settings.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Ecorenew.Finance.Settings");
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Ecorenew.Finance.Admin.Settings.Title")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <nop-tabs id="ecorenew-finance-settings">
                <nop-tab asp-name="tab-general" asp-title="@T("Ecorenew.Finance.Admin.Settings.GeneralSettings.TabTitle")" asp-default="true">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_Settings.General", Model)</nop-tab>
                <nop-tab asp-name="tab-consumer" asp-title="@T("Ecorenew.Finance.Admin.Settings.ConsumerFinanceSettings.TabTitle")">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_Settings.Consumer", Model)</nop-tab>
                <nop-tab asp-name="tab-corporate" asp-title="@T("Ecorenew.Finance.Admin.Settings.CorporateFinanceSettings.TabTitle")">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_Settings.Corporate", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>