﻿@model ViewUpdateCorporateFinanceSignupModel
@{
    //page title
    ViewBag.Title = T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Ecorenew.Finance.Corporate.Applications");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.Title")
    </h1>
    @if (!Model.IsApproved.HasValue)
    {
        <div class="pull-right">
            <button id="approve-button" type="button" class="btn bg-success" onclick=" ? $('#approve-submit').click()">
                <i class="fa fa-check"></i>
                @T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.Approve")
            </button>
            <button id="disapprove-button" type="button" class="btn bg-danger">
                <i class="fa fa-close"></i>
                @T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.Disapprove")
            </button>
        </div>

        <form method="post">
            <nop-antiforgery-token />

            <input asp-for="Id" type="hidden" />

            <button id="approve-submit" type="submit" name="approve" style="display: none;"></button>
            <button id="disapprove-submit" type="submit" name="disapprove" style="display: none;"></button>
        </form>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#approve-button').click(function () {
                    if (confirm('Are you sure you want to set the application as Approved?')) {
                        $('#approve-submit').click();
                    }
                });

                $('#disapprove-button').click(function () {
                    if (confirm('Are you sure you want to set the application as Disapproved?')) {
                        $('#disapprove-submit').click();
                    }
                });
            });
        </script>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="ecorenew-finance-admin-corporate-viewupdate">
            <nop-tab asp-name="tab-basicdetails" asp-title="@T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.BasicDetails.TabTitle")" asp-default="true">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_CorporateFinanceSignup.Basic", Model)</nop-tab>
            <nop-tab asp-name="tab-directordetails" asp-title="@T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.DirectorDetails.TabTitle")">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_CorporateFinanceSignup.Director", Model)</nop-tab>
            <nop-tab asp-name="tab-bankdetails" asp-title="@T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.BankDetails.TabTitle")">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_CorporateFinanceSignup.Bank", Model)</nop-tab>
            <nop-tab asp-name="tab-ordereditems" asp-title="@T("Ecorenew.Finance.Admin.Corporate.ViewUpdate.OrderedItems.TabTitle")">@await Html.FinanceAdminPartialAsync("EcorenewFinanceAdmin/_CorporateFinanceSignup.OrderedItems", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>