﻿@model IList<ShopModel>

<li class="store-locator">
    <a class="with-subcategories" href="@Url.RouteUrl(Plugin.AllShopsRouteName)" title="@T("SevenSpikes.StoreLocator.Public.AllShops.PageTitle")">@T("SevenSpikes.StoreLocator.Public.AllShops.LinkTitle")</a>
    <div class="plus-button"></div>
    <div class="sublist-wrap">
        <ul class="sublist">
            <li class="back-button">
                <span>@T("SevenSpikes.StoreLocator.Public.MenuBackButton")</span>
            </li>
            @foreach (var shop in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("HomePage")@shop.SeName" title="@shop.Name">@shop.Name</a>
                </li>
            }
        </ul>
    </div>
</li>