﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.AdditionalMessages.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AdditionalMessagesEnabled_OverrideForStore" asp-input="AdditionalMessagesEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AdditionalMessagesEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AdditionalMessagesEnabled" />
                    <span asp-validation-for="AdditionalMessagesEnabled"></span>
                </div>
            </div>
        </div>
    </div>
</div>
