﻿@using Nop.Plugin.Ecorenew.AdditionalMessages.Models
@model AdditionalMessageTemplateModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Enabled" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Enabled" />
                            <span asp-validation-for="Enabled"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="EventTypeId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="EventTypeId" asp-items="@Model.AvailableEventTypes" />
                            <span asp-validation-for="EventTypeId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="MessageTemplateName" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="MessageTemplateName" />
                            <span asp-validation-for="MessageTemplateName"></span>
                        </div>
                    </div>
                    @(Html.LocalizedEditor<AdditionalMessageTemplateModel, LocalizedMessageTemplateModel>("messagetemplate-localized",
                                        @<div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="BccEmailAddresses" />
                                                </div>
                                                <div class="col-md-9">
                                                    <nop-editor asp-for="@Model.Locales[item].BccEmailAddresses" />
                                                    <span asp-validation-for="@Model.Locales[item].BccEmailAddresses"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="Subject" />
                                                </div>
                                                <div class="col-md-9">
                                                    <nop-editor asp-for="@Model.Locales[item].Subject" />
                                                    <span asp-validation-for="@Model.Locales[item].Subject"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="Body" />
                                                </div>
                                                <div class="col-md-9">
                                                    <nop-editor asp-for="@Model.Locales[item].Body" asp-template="RichEditor" />
                                                    <span asp-validation-for="@Model.Locales[item].Body"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="EmailAccountId" />
                                                </div>
                                                <div class="col-md-9">
                                                    <nop-select asp-for="@Model.Locales[item].EmailAccountId" asp-items="@(new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName", Model.Locales[item].EmailAccountId))" />
                                                    <span asp-validation-for="@Model.Locales[item].EmailAccountId"></span>
                                                </div>
                                            </div>

                                            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                        </div>
                                                                                        ,
                                                                                        @<div>
                                                                                            <div class="form-group">
                                                                                                <div class="col-md-3">
                                                                                                    <nop-label asp-for="BccEmailAddresses" />
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    <nop-editor asp-for="BccEmailAddresses" />
                                                                                                    <span asp-validation-for="BccEmailAddresses"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <div class="col-md-3">
                                                                                                    <nop-label asp-for="Subject" />
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    <nop-editor asp-for="Subject" />
                                                                                                    <span asp-validation-for="Subject"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <div class="col-md-3">
                                                                                                    <nop-label asp-for="Body" />
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    <nop-editor asp-for="Body" asp-template="RichEditor" />
                                                                                                    <span asp-validation-for="Body"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <div class="col-md-3">
                                                                                                    <nop-label asp-for="EmailAccountId" />
                                                                                                </div>
                                                                                                <div class="col-md-9">
                                                                                                    <nop-select asp-for="EmailAccountId" asp-items="@(new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName", Model.EmailAccountId))" />
                                                                                                    <span asp-validation-for="EmailAccountId"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                                                                                        ))
                </div>
            </div>
        </div>
    </div>
</div>