﻿@model Nop.Plugin.Ecorenew.AdditionalMessages.Models.AdditionalMessageTemplateModel

@{
    Layout = "_AdminLayout";
}

<form method="post" id="additional-message-form" asp-controller="AdditionalMessages" asp-action="Create">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("Plugins.Ecorenew.AdditionalMessages.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync("~/Plugins/Ecorenew.AdditionalMessages/Views/_CreateOrUpdate.cshtml", Model)
</form>