﻿@model RegisterModel
@using Nop.Core
@using System.Text.Encodings.Web
@using Nop.Core.Domain.Customers
@using Nop.Services.Common
@using Nop.Core.Domain.PagePopups
@inject IWorkContext workContext
@inject IWebHelper webHelper
@inject CustomerSettings customerSettings
@inject IPopupIpAddressService popupIpAddressService
@{
    Layout = "_ColumnsOne";

    var IsShowPopup = false;
    var limitedTimes = customerSettings.PopupHomePageLimitedTimes;
    if (limitedTimes > 0)
    {
        var ipAddress = webHelper.GetCurrentIpAddress();
        var popup = popupIpAddressService.GetPopupByPageIp(ipAddress, (int)PagePopupKey.RegisterPage);
        if (popup == null)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupLastTimeUtc.Date < DateTime.UtcNow.Date)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupTimes < limitedTimes)
        {
            IsShowPopup = true;
        }
    }

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/craftyclicks/nopcommerce_crafty_clicks.js");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });

            var countrySelect = $('#@Html.IdFor(x => x.CountryId)');

            // Select United Kingdom by default
            var uk = $('#@Html.IdFor(x => x.CountryId) option').filter(function () { return $(this).html() == 'United Kingdom'; }).val();
            countrySelect.val(uk);
            countrySelect.change();
        });
    </script>
}
<div class="page registration-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    @{
        var registerPagePopupZone = await Component.InvokeAsync("Widget", new { widgetZone = "registration_page_popup" });
    }
    @if (IsShowPopup)
    {
        @registerPagePopupZone
    }
    <script>
            $('#pupup_modal').on('shown.bs.modal', function () {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("AddPopupTimes", "Common", new { popupPage = (int)PagePopupKey.RegisterPage })',
                    type: 'get',
                    success: function (data) {

                    }
                });
            });
    </script>
    <div class="page-body">
        <div class="register-body">
            <div class="register-title">
                <div class="register-ssl-image">
                    @*<img src="#">*@
                </div>
                <h1>Register a new account</h1>
                <p class="grey" style="padding-left: 15px">If this is the first time you have used our service, please fill out our simple registration form.</p>
            </div>

            <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourPersonalDetails")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.GenderEnabled)
                        {
                            <div class="inputs">
                                <label>@T("Account.Fields.Gender"):</label>
                                <div class="gender">
                                    <span class="male">
                                        <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                    </span>
                                    <span class="female">
                                        <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                        <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="col-md-6">
                            <div class="inputs first-name">
                                <label asp-for="FirstName" asp-postfix=":"></label>
                                <input asp-for="FirstName" placeholder="First name" />
                                <nop-required />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="inputs last-name">
                                <label asp-for="LastName" asp-postfix=":"></label>
                                <input asp-for="LastName" placeholder="Last name" />
                                <nop-required />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="inputs address-inputs" style="display: none;">
                                    <label asp-for="StreetAddress" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress" placeholder="Address" maxlength="35" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="inputs address-inputs" style="display: none;">
                                    <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress2" placeholder="Address 2" maxlength="35" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="inputs address-inputs" style="display: none;">
                                    <label asp-for="City" asp-postfix=":"></label>
                                    <input asp-for="City" placeholder="City or Town" />
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="inputs address-inputs" style="display: none;">
                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="inputs address-inputs" style="display: none;">
                                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                            <div class="inputs">
                                <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                                <input asp-for="ZipPostalCode" placeholder="Postcode" />
                                @if (Model.ZipPostalCodeRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="ZipPostalCode"></span>
                            </div>
                            <select class="address-select" size="7" style="width: 335px !important; height: auto !important; max-height: none !important; display: none;">
                                <option value="0">Please select...</option>
                            </select>
                            <input type="button" class="find-address" value="Find My Address" />
                            <input type="button" class="search-again" value="Search Again" style="display: none;" />
                            <div class="find-address-loader" style="width: 335px;text-align: center; display: none;">
                                <img src="/images/uploaded/ajaxLoaderPurple.gif">
                                <p><b>Retrieving address...</b></p>
                            </div>
                            <div class="enter-address">
                                <a href="javascript: void(0)" class="manual-address">Click here to manually enter your address</a>
                            </div>
                            <script asp-location="Footer">
                                $(document).ready(function() {
                                    var addressInputs = $('.address-inputs');
                                    var zipPostalCodeInput = $('#@Html.IdFor(x => x.ZipPostalCode)');
                                    var findAddressButton = $('.find-address');
                                    var searchAgainButton = $('.search-again');
                                    var manualAddressLink = $('.manual-address');
                                    var addressSelect = $('.address-select');
                                    var loader = $('.find-address-loader');

                                    findAddressButton.click(function (e) {
                                        e.preventDefault();

                                        var zipPostalCode = zipPostalCodeInput.val().replace(' ', '');

                                        if (!zipPostalCode) {
                                            alert('Please input postcode');
                                        } else {
                                            zipPostalCodeInput.hide();

                                            addressInputs.hide();
                                            findAddressButton.hide();
                                            searchAgainButton.hide();
                                            manualAddressLink.hide();
                                            addressSelect.hide();

                                            resetAddressSelection();

                                            loader.show();

                                            $.get('https://api.getAddress.io/find/' + zipPostalCode + '?api-key=sWJGQdDfzESJLIcn71bpFw14487')
                                                .done(function(data) {
                                                    if (data != null && data.addresses.length > 0) {
                                                        $.each(data.addresses, function(index, value) {
                                                            addressSelect.append('<option value="' + value + '">' + value + '</option>');
                                                        });

                                                        if (data.addresses.length == 1) {
                                                            addressSelect.val(data.addresses[0]);
                                                            addressSelect.change(); // this should automatically load the address to the fields
                                                            addressInputs.show();
                                                            zipPostalCodeInput.show();
                                                        } else {
                                                            addressSelect.show();
                                                            zipPostalCodeInput.show();
                                                        }
                                                    } else {
                                                        searchAgainButton.show();
                                                        alert('No address found.');
                                                    }

                                                    loader.hide();
                                                    searchAgainButton.show();
                                                })
                                                .fail(function(jqXHR, textStatus, error) {
                                                    loader.hide();
                                                    searchAgainButton.show();

                                                    var status = jqXHR.status;

                                                    if (status == 404) {
                                                        alert('No address found.');
                                                    } else if (status == 400) {
                                                        alert('Invalid postcode.');
                                                    } else if (status == 401 || status == 429 || status == 500) {
                                                        alert('Unable to process your request. Please try again later.');
                                                    }
                                                });
                                        }
                                    });

                                    manualAddressLink.click(function (e) {
                                        e.preventDefault();

                                        clearAddressInputs();
                                        resetAddressSelection();

                                        manualAddressLink.hide();
                                        findAddressButton.hide();
                                        addressInputs.show();
                                        zipPostalCodeInput.show();
                                    });

                                    searchAgainButton.click(function (e) {
                                        e.preventDefault();

                                        addressInputs.hide();
                                        findAddressButton.show();
                                        manualAddressLink.show();
                                        searchAgainButton.hide();
                                        addressSelect.hide();

                                        resetAddressSelection();

                                        zipPostalCodeInput.val('');
                                        zipPostalCodeInput.show();
                                    });

                                    addressSelect.change(function () {
                                        if (addressSelect.val() != null && addressSelect.val() != 0) {
                                            clearAddressInputs();

                                            var splitVal = addressSelect.val().split(',');

                                            $('#@Html.IdFor(x => x.StreetAddress)').val(splitVal[0].trim());
                                            $('#@Html.IdFor(x => x.StreetAddress2)').val(splitVal[1].trim());
                                            $('#@Html.IdFor(x => x.City)').val(splitVal[5].trim());

                                            var zipPostalSelectValue = $('#@Html.IdFor(x => x.StateProvinceId) option').filter(function () { return $(this).html() == splitVal[6].trim(); }).val();
                                            $('#@Html.IdFor(x => x.StateProvinceId)').val(zipPostalSelectValue);
                                            $('#@Html.IdFor(x => x.StateProvinceId)').change();

                                            addressInputs.show();
                                        } else {
                                            clearAddressInputs();
                                        }
                                    });

                                    function clearAddressInputs() {
                                        $('#@Html.IdFor(x => x.StreetAddress)').val('');
                                        $('#@Html.IdFor(x => x.StreetAddress2)').val('');
                                        $('#@Html.IdFor(x => x.City)').val('');
                                        $('#@Html.IdFor(x => x.StateProvinceId)').val(0);
                                        $('#@Html.IdFor(x => x.StateProvinceId)').change();
                                    }

                                    function resetAddressSelection () {
                                        addressSelect.find('option').remove().end().append('<option value="0">Select address...</option>').val("0");
                                        addressSelect.change();
                                    }
                                });
                            </script>
                        </div>
                        <div class="col-md-6">
                            <div class="inputs">
                                @if (Model.PhoneEnabled)
                                {
                                    <div class="inputs">
                                        <label asp-for="Phone" asp-postfix=":"></label>
                                        <input asp-for="Phone" placeholder="Daytime contact number" />
                                        @if (Model.PhoneRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Phone"></span>
                                    </div>
                                }
                            </div>
                            @if (Model.DateOfBirthEnabled)
                            {
                                <div class="inputs date-of-birth">
                                    <label>@T("Account.Fields.DateOfBirth"):</label>
                                    <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                     asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                     asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                     asp-begin-year="@(DateTime.Now.Year - 110)"
                                                     asp-end-year="@(DateTime.Now.Year)"
                                                     asp-selected-day="@Model.DateOfBirthDay"
                                                     asp-selected-month="@Model.DateOfBirthMonth"
                                                     asp-selected-year="@Model.DateOfBirthYear" />
                                    @if (Model.DateOfBirthRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="DateOfBirthDay"></span>
                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                    <span asp-validation-for="DateOfBirthYear"></span>
                                </div>
                            }
                            <div class="inputs">
                                <label asp-for="Email" asp-postfix=":"></label>
                                <input asp-for="Email" placeholder="Email" />
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                            @if (Model.EnteringEmailTwice)
                            {
                                <div class="inputs">
                                    <label asp-for="ConfirmEmail" asp-postfix=":"></label>
                                    <input asp-for="ConfirmEmail" placeholder="Confirm" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            }
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs label-newsletter">
                                    <input asp-for="Newsletter" />
                                    <label asp-for="Newsletter"></label>
                                    <span asp-validation-for="Newsletter"></span>

                                </div>
                            }

                            @if (Model.UsernamesEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="Username" asp-postfix=":"></label>
                                    <input asp-for="Username" />
                                    <nop-required />
                                    <span asp-validation-for="Username"></span>
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                    }
                                </div>

                            }
                        </div>
                    </div>
                </div>
                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.CompanyDetails")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="Company" asp-postfix=":"></label>
                                    <input asp-for="Company" placeholder="Company" />
                                    @if (Model.CompanyRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Company"></span>
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="inputs">
                                    <label asp-for="VatNumber" asp-postfix=":"></label>
                                    <input asp-for="VatNumber" />
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @*               @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled
                || Model.CityEnabled || Model.CountryEnabled)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourAddress")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="StreetAddress" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress" placeholder="Street address" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="inputs">
                                    <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                    <input asp-for="StreetAddress2" placeholder="Street address 2" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }

                            @if (Model.CityEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="City" asp-postfix=":"></label>
                                    <input asp-for="City" placeholder="City" />
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    </div>
                }*@
                @*
                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourContactInformation")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="Phone" asp-postfix=":"></label>
                                    <input asp-for="Phone" />
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="Fax" asp-postfix=":"></label>
                                    <input asp-for="Fax" />
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                *@
                @if (Model.CustomerAttributes.Count > 0)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.Options")</strong>
                        </div>
                        <div class="form-fields">
                            @*  @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs">
                                    <input asp-for="Newsletter" />
                                    <label asp-for="Newsletter"></label>
                                    <span asp-validation-for="Newsletter"></span>
                                </div>
                            }*@
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    </div>
                }
                @if (Model.AllowCustomersToSetTimeZone)
                {
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.Preferences")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.AllowCustomersToSetTimeZone)
                            {
                                <div class="inputs">
                                    <label asp-for="TimeZoneId" asp-postfix=":"></label>
                                    <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                    <span asp-validation-for="TimeZoneId"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourPassword")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="inputs password-input">
                            <label asp-for="Password" asp-postfix=":"></label>
                            <input asp-for="Password" placeholder="Password" />
                            <nop-required />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="inputs password-confirm">
                            <label asp-for="ConfirmPassword" asp-postfix=":"></label>
                            <input asp-for="ConfirmPassword" placeholder="Confirm password" />
                            <nop-required />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                    @if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript" asp-location="Footer">
                            $(document).ready(function() {
                                $('#register-button').click(function() {
                                    var privacyPolicyAccepted = $('#accept-privacy-policy').is(':checked');
                                    var termsAccepted = $('#termsofservice').is(':checked');
                                    if (privacyPolicyAccepted && termsAccepted) {
                                        //do some stuff
                                        return true;
                                    } else if (!privacyPolicyAccepted) {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    } else if (!termsAccepted) {
                                        alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.TermsOfService.PleaseAccept").Text))');
                                        return false;
                                    } else {
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            @if (Model.AcceptPrivacyPolicyPopup)
                            {
                                <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                </script>
                            }
                            else
                            {
                                <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                            }
                            <div>
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                                <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            </form>
        </div>
    </div>
    <div class="register-section-help">
        <p>
            Need help? <span>Call the Mazuma team on</span>
            <a href="tel:0330 311 9511">0330 311 9511</a>
        </p>
    </div>
</div>

<html>
<div id="help-tooltip">
        <div id="tooltip-container">
            <div id="tooltip-container-outer">
                <a id="tooltip-close" style="display: inline"></a>
            </div>
        </div>
</div>
</html>

<script asp-location="Footer">
    $(document).ready(function () {
        $.validator.addMethod('hasuppercase', function (value, element) {
                return this.optional(element) || value.match(/[A-Z]/);
            },
            'Password must contain at least one upper case letter.');

        $.validator.addMethod('haslowercase', function (value, element) {
                return this.optional(element) || value.match(/[a-z]/);
            },
            'Password must contain at least one lower case letter.');

        $.validator.addMethod('hasnumeric', function (value, element) {
                return this.optional(element) || value.match(/[0-9]/);
            },
            'Password must contain at least one numeric value.');

        $('#Password').rules('add', 'hasuppercase haslowercase hasnumeric');
    });
</script>