@model CategoryAdminModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @(Html.LocalizedEditor<CategoryAdminModel, SevenSpikes.Nop.Plugins.Knowledgebase.Areas.Admin.Models.CategoryLocalizedModel>
            ("category-seo-localized",
                @<div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].SEOTitle" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].SEOTitle" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].SEODescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].SEODescription" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].SEOKeywords" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].SEOKeywords" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].SEName" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].SEName" />
                        </div>
                    </div>
                </div>,
                @<div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="SEOTitle" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SEOTitle" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="SEODescription" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SEODescription" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="SEOKeywords" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SEOKeywords" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <nop-label asp-for="SEName" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SEName" />
                        </div>
                    </div>
                </div>
            ))
        </div>
    </div>
</div>