@model CategoryAdminModel

@{
    if (!Model.IsPopup)
    {
        Layout = AdminViewLocations.AdminLayoutViewPath;
    }
    else
    {
        Layout = "_AdminPopupLayout";
    }

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {
                window.opener.document.location.reload();
            }
            catch (e) { }
            window.close();
        </script>

        return;
    }
}

<form method="post" id="kbcategory-form">

    <input id="Id" name="Id" type="hidden" value="@Model.Id">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Knowledgebase.Admin.Entities.Category.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync(AdminViews.CreateOrUpdate, Model)
</form>