﻿@model MenuItemCategoryModel

@{
    var areCategoriesInASingleItem = Model.Item.EntityId == 0;
    var hasSubCategories = Model.Categories.Count > 0;
    var hasSublistClass = hasSubCategories ? "has-sublist" : string.Empty;
    var withSubcategoriesClass = hasSubCategories ? "with-subcategories" : string.Empty;
}

<li class="@hasSublistClass @Model.Item.CssClass">

    @if (areCategoriesInASingleItem)
    {
        <span class="@withSubcategoriesClass single-item-categories labelfornextplusbutton">@Model.Item.Title</span>
    }
    else
    {
        if (hasSubCategories)
        {
            <span class="@withSubcategoriesClass open-sub-menu"><span>@Model.Item.Title</span></span>
        }
        else
        {
            <a class="@withSubcategoriesClass" href="@Model.Item.Url"><span>@Model.Item.Title</span></a>
        }

    }

    @if (hasSubCategories)
    {
        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</span>
                </li>
                @await Component.InvokeAsync("MegaMenuListSubCategories", new { subCategories = Model.Categories })
                <li>
                    <a class="lastLevelCategory"href="@Model.Item.Url"><span>ALL @Model.Item.Title</span></a>
                </li>
            </ul>
        </div>
    }

</li>