﻿@model SaleCampaignModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;
}

<form method="post" id="sale-campaign-form">
    <nop-antiforgery-token />
    
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Plugins.SaleCampaigns.Admin.Entities.SaleCampaign.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    
    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>