﻿@model SaleCampaignModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/jquery.livequery.min.js");
}

<form method="post" id="sale-campaign-form">
    <nop-antiforgery-token/>
    
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.SaleCampaigns.Admin.Entities.SaleCampaign.EditSaleCampaignDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Plugins.SaleCampaigns.Admin.Entities.SaleCampaign.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="sale-campaign-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>

    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="sale-campaign-delete" />

<script type="text/javascript">
    $(window).load(function () {
        if (typeof ($().livequery) === 'function') {
            $('#sale-campaign-create-or-edit > ul li:nth-child(7)').livequery('click', function () {
                var previewGrid = $("#preview-grid").data('kendoGrid');

                previewGrid.dataSource.page(1);
                previewGrid.dataSource.read();
            });
        }
    });
</script>