﻿@model SaleCampaignModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/jquery.livequery.min.js");
}

<form method="post" id="sale-campaign-form">
    <nop-antiforgery-token/>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.View")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Plugins.SaleCampaigns.Admin.Entities.SaleCampaign.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-arrow-circle-left"></i>
                @T("SevenSpikes.Plugins.SaleCampaigns.Admin.Entities.SaleCampaign.BackToList")
            </button>
        </div>
    </div>

 
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<script type="text/javascript">
    $('a.add-condition-group, .k-grid-toolbar, .k-grid-delete, .k-grid-edit, #btnAddNewProduct').livequery(function () {
        $(this).remove();
    });
</script>