﻿@model VendorModel

<div class="vendor-item">
    <h2 class="title">
        <a href="@Url.RouteUrl("Vendor", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            @Model.Name
        </a>
    </h2>
    <div class="picture">
        <a href="@Url.RouteUrl("Vendor", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            <img class="lazy" alt="@Model.PictureModel.AlternateText" data-original="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
        </a>
    </div>
</div>