﻿@model int
@{
    Html.AddFinanceCssFileParts("consumer/common");
    Html.AddFinanceCssFileParts("consumer/product-details-price");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/productdetails-consumerfinance-breakdown");
}

<input type="hidden" id="consumerfinance_productdetails_productid" value="@Model" />

<div id="consumerfinance_productdetails_aslowas" style="display: none;">
    <p>
        @* Apply localized string with parameters for price and number of months *@
        as low as <span id="aslowas_price"></span> per month over <span id="aslowas_month"></span>
    </p>
    <input type="button" id="consumerfinance_productdetails_comparefinanceoptions"
           class="consumer-finance-button secondary"
           value="Compare options" />
</div>