﻿:root {
    --primary-color: #d42114;
    --inactive-color: #dd5d55;
    --hover-color: #e15148;
    --focus-color: #e15148;
}

.consumer-finance-button {
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none !important;
    white-space: nowrap;
    letter-spacing: .08em;
    border: 2px solid !important;
    outline: unset;
    height: 44px;
    background-color: #084 !important;
    border-color: #084 !important;
    color: #fff !important;
    font-weight: 600;
    font-family: ArgosCondensed,Arial,Helvetica,sans-serif;
    display: inline-block;
    text-align: center;
    padding: 6px 40px;
    border-radius: 3px !important;
    line-height: 1.5px;
}

    .consumer-finance-button:focus {
        background-color: #006c36 !important;
        border-color: #006c36 !important;
        color: #fff !important;
    }

    .consumer-finance-button.secondary {
        background-color: #fff !important;
        border-color: #084 !important;
        color: #084 !important;
    }

        .consumer-finance-button.secondary:focus {
            background-color: #fff !important;
            border-color: #006c36 !important;
            color: #006c36 !important;
        }
