﻿.consumerfinance-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 20000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.consumerfinance-modal-inner {
    margin: 30px auto;
    width: 80%;
    max-width: 1060px;
    border-radius: 3px;
    background-color: #f5f5f5;
    overflow: auto;
    text-align: justify
}

.consumerfinance-modal-header {
    background-color: #f5f5f5;
    padding: 20px;
    padding-top: 25px;
}

.ecorenew-finance-logo {
    background-image: url(/plugins/ecorenew.finance/content/images/ecorenewfinancelogo.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 70px;
    margin-top: -10px;
}

.consumerfinance-modal-close {
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    letter-spacing: .08em;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    outline: unset;
    height: 33px;
    font-weight: 400;
    font-family: ArgosCondensed,Arial,Helvetica,sans-serif;
    display: inline-block;
    text-align: center;
    padding: 6px 30px;
    border-radius: 3px;
    float: right;
    background-color: transparent;
    border-color: #d42114;
    color: #d42114;
    margin-top: 5px;
    margin-right: 30px;
}

    .consumerfinance-modal-close:hover,
    .consumerfinance-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.consumerfinance-modal-content {
    padding: 50px;
    padding-top: 0;
}

    .consumerfinance-modal-content .consumerfinance-modal-title {
        border-bottom: 2px solid #d42114;
        color: #d42114;
        letter-spacing: .025em;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 400;
        font-family: ArgosCondensed,Arial,Helvetica,sans-serif;
        margin-bottom: 25px;
        margin-top: -10px;
    }

    .consumerfinance-modal-content .terms {
        margin-left: -15px;
        margin-right: -15px;
        clear: both;
        overflow: auto;
        margin-bottom: 25px;
    }

.consumerfinance-term {
    text-align: center;
    overflow: auto;
}

    .consumerfinance-term .consumerfinance-term-header {
        color: #fff;
        margin: 0;
        letter-spacing: .03em;
        text-transform: uppercase;
        text-align: center;
        padding-top: 15px;
        font-size: 22px;
        padding-bottom: 10px;
        background: #d42114;
        border: 1.5px solid #d42114;
        border-bottom: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

        .consumerfinance-term .consumerfinance-term-header h2 {
            font-weight: 400;
        }

        .consumerfinance-term .consumerfinance-term-header .consumerfinance-term-subheader {
            color: #fff;
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: normal;
            padding-bottom: 20px;
        }

    .consumerfinance-term .consumerfinance-term-breakdown {
        line-height: 2.1;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1.5px solid #ccc;
        border-top: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #fff;
    }

        .consumerfinance-term .consumerfinance-term-breakdown .breakdown-label {
            font-weight: 400;
            color: #555;
            font-size: 14px;
            font-family: ArgosBook,Arial,Helvetica,sans-serif;
            letter-spacing: 0;
            text-transform: uppercase;
        }

        .consumerfinance-term .consumerfinance-term-breakdown .breakdown-data {
            font-weight: 600;
            color: #d42114;
            font-size: 16px;
            letter-spacing: .03em;
        }

.consumerfinance-modal-content .bottom-text {
    background-color: #fff;
    font-size: 14px;
    font-family: ArgosBook,Arial,Helvetica,sans-serif;
    letter-spacing: normal;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px 40px;
}

#consumerfinance-breakdownpopup-conditions {
    margin-top: 5px;
    list-style-type: square;
}

    #consumerfinance-breakdownpopup-conditions > li {
        margin-left: 50px;
    }

@media screen and (min-width: 768px) {
    .consumerfinance-term {
    }
}
