﻿#consumerfinance_productdetails_aslowas {
    display: block;
    margin-top: -10px;
    margin-bottom: 15px;
    padding-top: 0;
    text-align: center;
    font-size: 20px;
}

#aslowas_price {
    font-size: 25px;
    display: block;
}

#consumerfinance_productdetails_comparefinanceoptions {
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding: 6px 20px;
    background-color: #fff;
    border-color: #084;
    color: #084;*/
}

#consumerfinance_productdetails_info {
    font-size: 14.5px;
    font-family: ArgosBook,Arial,Helvetica,sans-serif;
    text-align: justify;
    margin-top: -10px;
    line-height: 1.6;
    letter-spacing: normal;
}

.finance-consumer-compare-payment-options {
    color: #0c509f;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (min-width: 1025px) {
    #consumerfinance_productdetails_aslowas {
        text-align: left;
    }
}