﻿@** Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model MegaMenuWidgetModel

@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.css");

    var supportRtl = ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.rtl.css");
    }

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/MegaMenu.min.js");
}

@foreach (var menu in Model.MegaMenus)
{
    List<string> responsiveMenuItems = new List<string>();

    <ul class="mega-menu @menu.CssClass"
        data-isRtlEnabled="@supportRtl.ToString().ToLowerInvariant()"
        data-enableClickForDropDown="@menu.ShowDropdownsOnClick.ToString().ToLowerInvariant()">
        @foreach (var item in menu.Items)
        {
            var shouldUseCatalogTemplate = (item.Type == MenuItemType.Categories && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseManufacturerTemplate = (item.Type == MenuItemType.Manufacturers && item.MaximumNumberOfEntities > 0 && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseVendorTemplate = (item.Type == MenuItemType.Vendors && item.MaximumNumberOfEntities > 0 && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseTopicTemplate = (item.Type == MenuItemType.Topics && item.MaximumNumberOfEntities > 0 && item.EntityId == 0);
            var shouldUseProductTagsTemplate = (item.Type == MenuItemType.ProductTags && item.MaximumNumberOfEntities > 0 && item.EntityId == 0);

            if (shouldUseCatalogTemplate)
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuCategory", new { menuItem = item });
                var responsiveMenu = menuItemHtml.ToHtmlString();

                @menuItemHtml

                if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                {
                    MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                    responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                    var responsiveMenuHtml = await Component.InvokeAsync("MegaMenuCategory", new { menuItem = responsiveMenuItem, isResponsive = true });
                    responsiveMenu = responsiveMenuHtml.ToHtmlString();
                }

                responsiveMenuItems.Add(responsiveMenu);
            }
            else if (shouldUseManufacturerTemplate)
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuManufacturer", new { menuItem = item });
                var responsiveMenu = menuItemHtml.ToHtmlString();

                @menuItemHtml

                if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                {
                    MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                    responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                    var responsiveMenuHtml = await Component.InvokeAsync("MegaMenuManufacturer", new { menuItem = responsiveMenuItem });
                    responsiveMenu = responsiveMenuHtml.ToHtmlString();
                }

                responsiveMenuItems.Add(responsiveMenu);
            }
            else if (shouldUseVendorTemplate)
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuVendor", new { menuItem = item });
                var responsiveMenu = menuItemHtml.ToHtmlString();

                @menuItemHtml

                if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                {
                    MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                    responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                    var responsiveMenuHtml = await Component.InvokeAsync("MegaMenuVendor", new { menuItem = responsiveMenuItem });
                    responsiveMenu = responsiveMenuHtml.ToHtmlString();
                }

                responsiveMenuItems.Add(responsiveMenu);
            }
            else if (shouldUseTopicTemplate)
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuTopic", new { menuItem = item });
                responsiveMenuItems.Add(menuItemHtml.ToHtmlString());

                @menuItemHtml
            }
            else if (shouldUseProductTagsTemplate)
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuProductTags", new { menuItem = item });
                responsiveMenuItems.Add(menuItemHtml.ToHtmlString());

                @menuItemHtml
            }
            else
            {
                var menuItemHtml = await Component.InvokeAsync("MegaMenuMenuItem", new { menuItem = item });
                responsiveMenuItems.Add(menuItemHtml.ToHtmlString());

                @menuItemHtml
            }
        }

        @await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_after" })
    </ul>

    <div class="menu-title"><span>@T("SevenSpikes.MegaMenu.ResponsiveMenuTitle")</span></div>
    <ul class="mega-menu-responsive @menu.CssClass">
        @foreach (var responsiveMenuItem in responsiveMenuItems)
        {
            @Html.Raw(responsiveMenuItem)
        }

        @* Requested to be add by Reena *@
        <li class="mobile-menu-items">
            <div class="header-links-mobile">
                <div class="header-links-box">
                    <div class="header-links-box-top">
                        <a href="/order/history" class="hidden-lg" title="Order Status"><span>Order Status</span></a>
                        <a href="/customer/info" class="hidden-lg" title="My Account"><span>My Account</span></a>
                        <a href="/contactus" class="hidden-lg" title="Contact Us"><span>Contact Us</span></a>
                        <a href="https://www.mazumamobile.com/sell-my-mobile" class="hidden-lg" title="Sell a device">
                            <span>
                                Sell a
                                device
                            </span>
                        </a>
                        <div class="flex social-links hidden-lg">
                            <div class="social-links-body">
                                <a href="https://www.facebook.com/mazumamobile">
                                    <span class="icon iconfont icon-facebook"></span>
                                </a>
                                <a href="https://twitter.com/mazuma">
                                    <span class="icon iconfont icon-twitter"></span>
                                </a>
                                <a href="https://www.youtube.com/channel/UCOoVkQ5CvZ9wEDV4FjSRPTg">
                                    <span class="icon iconfont icon-shipinbofangyingpian2"></span>
                                </a>
                                <a href="https://plus.google.com/+mazumamobile">
                                    <span class="icon iconfont icon-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_after" })
    </ul>
    <script>
    $(document).ready(function () {
        // Add 'click' event listener (desktop)
        var megaMenu = document.getElementsByClassName("mega-menu-responsive");
        var items = $(megaMenu).children('li[class*="has-sublist"]');
        GetChildren(items);

        function GetChildren(catalog) {

            for (var i = 0; i < catalog.length; i++) {

                var button = $(catalog[i]).find('div[class*="plus-button"]')[0];
                AddClickEvent(catalog[i], button);

                var subCatalog = $(catalog[i].lastElementChild).find('ul[class="sublist"]')[0];
                var subCatalogs = $(subCatalog).children('li[class*="has-sublist"]');
                GetChildren(subCatalogs);
            }
        }

        function AddClickEvent(catalog, button) {
            $(button).click(function () {

                var openPanel = false;
                var panel = catalog.lastElementChild;

                if (!button.classList.contains("close")) {
                    // Open catalog
                    button.classList.add("close");
                    $(panel).slideDown("fast","linear");

                    openPanel = true;
                }
                else
                {
                    button.classList.remove("close");
                    $(panel).slideUp("fast","linear");
                }


                if (!panel.classList.contains("active") && openPanel) {

                    panel.classList.add("active");
                }
                else if ((panel.classList.contains("active") || panel.classList.contains("ps-active-y"))) {

                    if (panel.classList.contains("active")) {
                        panel.classList.remove("active");
                    }

                    if (panel.classList.contains("ps-active-y")) {
                        panel.classList.remove("ps-active-y");
                    }
                }
            });
        }
    });
    </script>
}