﻿@model OrderModel
@using Nop.Web.Areas.Admin.Models.Bank
@inject AdminAreaSettings adminAreaSetting
@{
    var defaultGridPageSize = adminAreaSetting.DefaultGridPageSize;
    var gridPageSizes = adminAreaSetting.GridPageSizes;
}
<nop-antiforgery-token />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="transfer-record-grid"></div>
                        <script type="text/javascript">
                        $(function(){
                            $("#transfer-record-grid").kendoGrid({
                                dataSource: {
                                    type: 'json',
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "TransferRecord"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                //分页
                                 pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Id",
                                        title: "ID",
                                    }, {
                                        field: "SerialNumber",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.SerialNumber")",
                                        width: 200
                                    },{
                                        field: "FromAccount",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.FromAccount")",
                                        width: 200
                                    },{
                                        field: "TransferStatus",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.TransferStatusId")",
                                        width: 200,
                                        template: '<span class="grid-report-item ' +
                                            '# if(TransferStatusId == 10) {# yellow #} #' +
                                            '# if(TransferStatusId == 20) {# blue #} #' +
                                            '# if(TransferStatusId == 30) {# red #} #' +
                                            '">#=TransferStatus#</span>'
                                    },{
                                        field: "Amount",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.Amount")",
                                        width:200
                                    },{
                                        field: "CreatedUTC",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.CreatedUTC")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    },{
                                        field: "TransferDate",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.TransferDate")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    },{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:cneter" },
                                        attributes: { style: "text-align:center" },
                                        template:'<a class="btn btn-default" href="@Url.Action("Edit", "TransferRecord")/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                ],
                            });
                        });
                        </script>
                        <script type="text/javascript">
                        $(function () {
                            $("#search-transfer-record").click(function () {
                                var grid = $("#transfer-record-grid").data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                        function additionalData() {
                            var data = {
                                OrderId: @Model.Id,
                            }
                            addAntiForgeryToken(data);
                            return data;
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>