﻿@model TopicModel
@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recycle Your Mobile Phones &amp; Tablets for Cash | Mazuma</title>

    <!--BOOTSTRAP-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--FONT AWESOME-->
    <!--NEW-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--FONT-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
    @Html.Raw(Model.Body)
</body>
</html>