﻿:root {
    --primary-color: #248ece;
    --inactive-color: #63b5e6;
    --hover-color: #09a3ff;
    --focus-color: #09a3ff;
}

.consumer-finance-button {
    border: none;
    padding: 10px 24px;
    font-size: 15px;
    background-color: #eee;
    text-align: center;
    border-radius: 0;
    border-radius: 0 !important;
}