﻿body {
}
.category-page .product-selectors select {
    text-transform: none !important;
}

.link {
    text-decoration: underline;
}

.link-blue {
    color: #08b4ff;
}

hr {
    margin: 10px 0;
}

.flex {
    display: flex;
    align-items: center;
}

    .flex .flex-2 {
        flex: 2;
    }

    .flex .flex-3 {
        flex: 3;
    }

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

/*modal*/
.h4, h4 {
    font-size: 18px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    max-width: unset !important;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5;
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: 10px;
    }

.modal-title {
    margin: 10px 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media only screen and (max-width: 700px){
    .breadcrumb{
        position: relative !important;
    }
    .product-details-page-body .master-wrapper-content {
        padding-top: 0 !important;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
/*modal*/
.no-markup {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    /*add*/
    background-color: #F3F3F7;
    border: 2px solid #999;
    color: #000;
    font-weight: bold;
    /*box-shadow: 1px 1px 1px 1px #ccc;*/
}
.no-markup:hover{
    background-color: #fff;
}
.no-markup.active {
    border: 2px solid #6ac9e8;
    background-color: #fff;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 50%;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.overview .product-name h1 {
    margin-bottom: 0px;
}
.page.product-details-page .product-details-compare-products{
    margin-bottom:10px;
}
.page.product-details-page .product-price.discounted-price {
    line-height: normal !important;
}
.pro-warranty, .selected-all-attribute {
    font-weight: bold;
    color: #C3C1C4;
    font-size: 17px;
}
.next-delivery-countdown-container-cover {
    display: none !important;
}

.reset-icon {
    width: 16px;
    height: 13px;
    margin-right: 5px;
    background: url(../img/Ctm_iconscpw.png) no-repeat top left;
    display: inline-block;
    background-position: 0px -771px;
}
.freedelivery-img {
    float: left;
    cursor: pointer;
}
.freedelivery-mobile-img{
    display:none;
}

.freedelivery-img img {
    max-width: 255px;
}


.overview .add-to-cart-button {
    box-shadow: none !important;
}

@media (min-width: 1201px) {
    .sevenspikes-cloudzoom-gallery .picture-wrapper {
        width: 75% !important;
    }

    /*.overview {
        width: 56.5% !important;
    }*/
}

@media (max-width: 1200px) {
    .product-details-compare-products {
        position: relative;
        top: 0px;
        left: 0%;
    }
    .freedelivery-mobile-img {
        display:inline-block;
    }
    .freedelivery-desk-img{
        display:none;
    }
    .freedelivery-img {
        margin: 10px -20px;
        padding-left: 25px;
        float: none;
    }
}
@media (max-width: 420px) {
    .freedelivery-img {
        padding-left: 5px;
    }
}

/*@media (min-width: 1201px) {
    .gallery {
        width: 42% !important;  
    }
}*/

.product-details-page .attributes {
    padding-left: 10px;
}

    .product-details-page .attributes li {
        margin: 0 0 8px;
    }

        .product-details-page .attributes .option-list .radioButton,
        .product-details-page .attributes .option-list .checkBoxButton {
            display: inline-block;
        }

            .product-details-page .attributes .option-list .radioButton input,
            .product-details-page .attributes .option-list .checkBoxButton input,
            .product-details-page .attributes .option-list .color_label input {
                display: none;
            }

            .product-details-page .attributes .option-list .radioButton .btn-radio,
            .product-details-page .attributes .option-list .checkBoxButton .btn-checkBox,
            .product-details-page .attributes .attribute-square-container {
                font-weight: bold;
                color: #000;
                min-width: 79px;
                line-height: 38px;
                text-align: center;
                border: 2px solid #999999;
                border-radius: 9px;
                padding: 0 15px;
                /*background-color: #f3f3f3;*/
                /*box-shadow: 1px 1px 1px 1px #ccc;*/
                background: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
                /*padding: 0 15px;*/
            }
    .product-details-page .attributes .option-list .radioButton .btn-radio:hover,
    .product-details-page .attributes .option-list .checkBoxButton .btn-checkBox:hover,
    .product-details-page .attributes .option-list .color_label span.attribute-square-container:hover {
        border: 2px solid #999;
                /*background-color: #fff;*/
                background: #ffffff;
    }
    .product-details-page .attributes .option-list .radioButton.disable-selected .btn-radio:hover,
    .product-details-page .attributes .option-list .checkBoxButton.disable-selected .btn-checkBox:hover,
    .product-details-page .attributes .option-list .disable-selected .color_label span.attribute-square-container:hover {
        /*background-color: #fcfcfc;*/
        background-color: #f3f3f3;
    }

    .product-details-page .attributes .option-list .radioButton.active .btn-radio,
    .product-details-page .attributes .option-list .checkBoxButton.active .btn-checkBox {
        /*border: 2px solid #2097f4;*/
            /*border: 2px solid #6AC9E8;*/
            border: 2px solid #85C3E9;
            /*background-color: #fff;*/
            background: #ffffff;
    }

    .product-details-page .attributes .option-list .selected-value .color_label span.attribute-square-container {
        /*background-color: transparent;*/
        /*border: 2px solid #2097f4;*/
        border: 2px solid #85C3E9;
        /*background-color: #fff;*/
        background: #ffffff;
    }

        .product-details-page .attributes .option-list .radioButton .btn-radio span,
        .product-details-page .attributes .option-list .checkBoxButton .btn-checkBox span {
            line-height: 30px;
        }

        .product-details-page .attributes .text-prompt {
            color: #471FB4;
            font-weight: normal;
            line-height: 15px;
            margin-bottom: 0;
        }

        .product-details-page .attributes,
        .product-details-page .attributes dl {
            margin-top: 10px;
            margin-bottom: 5px;
        }

            .product-details-page .attributes dl dd,
            .product-details-page .attributes dl dd ul {
                margin-bottom: 0;
            }

.product-details-page .attribute-squares li {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.product-details-page .attributes .color_label {
    /*margin: 0 5px !important;*/
    margin-right: 8px !important;
}

.attributes ul.option-list {
    letter-spacing: -8px;
}

    .attributes ul.option-list label {
        letter-spacing: normal;
        font-weight: normal;
        font-size: 16px;
        /*padding: 0 15px;*/
    }

.attributes .option-list label {
    margin-left: 0 !important;
    margin-right: 8px !important;
}



    .product-details-page .attributes .attribute-square-container .attribute-square {
        display: inline-block !important;
        width: 13px !important;
        height: 13px !important;
        border-radius: 4px;
        border: none !important;
        margin-left: 9px;
        margin-top: 8px;
    }

.product-details-page .attributes .attribute-color-text {
    /*font-size: 13px;*/
    /*margin-left: 4px;*/
    position: relative;
    /*top: -2px;*/
    line-height: 38px;
}
.product-details-page .attributes .option-list li {
    margin: 0 6px 6px 0;
}
.option-list li.disable-selected label.btn-radio,
.option-list li.disable-selected label.btn-checkBox,
.option-list li.disable-selected label.color_label span.attribute-square-container {
    border: 2px solid #eee !important;
    /*background-color: #f3f3f3;*/
    background: linear-gradient(to bottom, #FFFFFF, #F9F9F9) !important;
    color: #bfbfbf;
}

    .option-list li.disable-selected label.btn-radio:hover,
    .option-list li.disable-selected label.btn-checkBox:hover,
    .option-list li.disable-selected label.color_label span.attribute-square-container:hover,
    .option-list li.disable-selected label.color_label span.attribute-square:hover {
        cursor: not-allowed;
        background-color: #f3f3f3;
    }

    .option-list li.disable-selected label.btn-radio span,
    .option-list li.disable-selected label.btn-checkBox span,
    .option-list li.disable-selected label.color_label span.attribute-square-container .attribute-color-text {
        /*color: #ddd !important;*/
        color: #bfbfbf !important;
    }
    .network_picture.disable{
        display:none;
    }
    /* Chrome, Safari, Opera */
    .option-list li.disable-selected label.btn-radio .network_picture,
    .option-list li.disable-selected label.btn-checkBox .network_picture {
        display:none;
    }
    .option-list li.disable-selected label.btn-radio .network_picture.disable,
    .option-list li.disable-selected label.btn-checkBox .network_picture.disable {
        display: block;
    }

.attributes .product-attribute-group dt {
    margin-bottom: 5px;
}
.attributes .attr-top{
    min-height: 25px;
}

.attributes .attr-top .attr-title {
    display: block;
    float: left;
}
.attributes .attr-top .attr-reset {
    display: block;
    float: right;
}

    .attributes .attr-top .attr-reset:hover{
        cursor: pointer;
    }

    .attributes .attr-title {
        color: #888888;
        font-size: 16px;
    }
.overview .product-price{
    color: #333 !important;
    font-weight: bold;
}

.overview .prices .ppc-fromprice-label {
    color: #333 !important;
}

.topic-block {
    text-align: left !important
}

.outOfStock {
    background-color: #FE0000 !important;
}

.displayHidden {
    display: none !important;
}

.displayShow {
    display: block !important;
}

.breadcrumb {
    padding: 0 !important;
    margin: 0 !important;
}

    .breadcrumb a {
        color: #fff !important;
    }

.product-item {
    background-color: #fff !important;
}


.page.order-details-page em:after,
.page.order-details-page em:before {
    content: "" !important;
    position: unset !important;
}
@media screen and (min-width: 481px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -225px !important;
        width: 470px;
    }
    .customer-pages-body .master-wrapper-content {
        padding-top: 100px !important;
    }
}

@media screen and (min-width: 500px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -225px !important;
        width: 490px;
    }
}

@media screen and (min-width: 530px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -230px !important;
        width: 537px;
    }
}

@media screen and (min-width: 600px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -258px !important;
        width: 605px;
    }
}
@media screen and (min-width: 701px) {
    .customer-pages-body .master-wrapper-content {
        padding-top: 140px !important;
    }
}

@media screen and (min-width: 728px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -258px !important;
        width: 705px;
    }
}

@media screen and (min-width: 786px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -258px !important;
        width: 756px;
    }
}

@media screen and (min-width: 826px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -258px !important;
        width: 756px;
    }
}

@media screen and (min-width: 934px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -270px !important;
        width: 865px;
    }
}

@media (min-width: 1201px) {
    .customer-pages-body .master-column-wrapper .page-title {
        left: -300px !important;
        width: 950px;
    }
    .customer-pages-body .master-wrapper-content {
        padding-top: 100px !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 934px){
    .customer-pages-body .master-column-wrapper .side-2 {
        right: 610px;
    }
}
.customer-pages-body .master-column-wrapper .page-title h1 {
    height: auto;
}
.customer-pages-body .master-column-wrapper  .space-normal {
    white-space: normal;
}
#ph-topic .modal-content {
    max-width: 800px !important;
    width: 90%;
}
.home-buy-devices {
    background-color: #F9F9FB !important;
}
@media screen and (max-width: 768px) {
    .product-details-page .attributes dl {
        margin-top: 20px;
    }
    .home-buy-devices .usp-body {
        max-width: 580px;
    }
    .home-buy-devices .usp-item-batch {
        display: block !important;
    }

        .home-buy-devices .usp-item-batch .usp-item {
            display: block;
            float: left;
            width: 50% !important;
        }
        .home-buy-devices .usp-item-batch .clearBox {
            clear: both;
            height: 0;
        }
}

.see-more-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transition: all .25s ease;
    z-index: 1000;
}
.img-see-more {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 60%;
    display: none !important;
}

@media screen and (min-width: 481px){
    .view-product-btn {
        display: none !important;
    }
    .carousel-item .item-box .product-item:hover {
        box-shadow: none;
    }
    .item-box .product-item:hover .see-more-box {
        /*background-color: hsla(0,0%,100%,.4);*/
        cursor: pointer;
    }
    .item-box .product-item:hover .img-see-more {
        opacity: 1;
        display: block !important;
    }
}
.account-menu {
    display: none !important;
}
.header-upper.no-height {
    display: none;
}
@media screen and (min-width: 1201px) {  
    .account-menu {
        display: none !important;
        position: fixed;
        top: 50px;
        right: 14px;
        z-index: 1500;
        width: 440px;
        box-shadow: 0 0 25px rgba(0,0,0,0.15);
        background: #fff;
        transition: all 0.5s ease-in-out;
    }
        .account-menu.active{
            display: block !important;
        }
        .account-menu .memu-content {
            width: 50%;
            height: 120px;
            float: left;
            font-size: 1.3rem;
            padding: 25px;
            padding-left: 55px;
            padding-right: 20px;
            position: relative;
        }
            .account-menu .memu-content:hover {
                cursor: pointer;
                background-color: #fefafe;
            }
            .account-menu .memu-content .menu-content-detail {
                font-family: 'Montserrat', sans-serif;
            }
            .account-menu .memu-content .menu-content-detail span {
                font-weight: bold;
                color: #333;
                font-size: 1rem;
            }
            .account-menu .memu-content .menu-content-detail p {
                color: #838383;
                font-size: 0.6rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .account-menu .memu-content:hover .menu-content-detail span,
            .account-menu .memu-content:hover .menu-content-detail p {
                color: #481FB4;
            }
    .memu-myAccount {
        border-right: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    .memu-myInfo {
        border-bottom: 1px solid #d8d8d8;
    }
    .memu-myOrder {
        border-right: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    .memu-signOut {
        border-bottom: 1px solid #d8d8d8;
    }
    .memu-myAccount span:before,
    .memu-myInfo span:before,
    .memu-myOrder span:before,
    .memu-signOut span:before {
        font-family: "venture-font";
        text-transform: none;
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 15px;
    }
    .memu-myAccount span:before {
        content: "D";
    }
    .memu-myInfo span:before {
        content: "B";
    }
    .memu-myOrder span:before {
        content: "C";
    }
    .memu-signOut span:before {
        content: "Y";
    }
}

.html-registration-page .registration-page .register-body .inputs.label-newsletter label {
    display: block !important;
    text-indent: 25px;
    padding: 0;
}

.html-registration-page .inputs.label-newsletter input[type='checkbox'] ~ label:after {
    top: 3px !important;
    left: 6px !important;
    margin: 0;
}

.html-registration-page .register-section-help {
    padding: 15px;
}


    .html-registration-page .register-section-help p a {
        display:block;
        color: skyblue;
    }

@media all and (max-width: 767px) {
    .html-registration-page .register-section-help p span {
        display: block;
        font-size: 15px;
    }
}

/*modal popup-newsletter*/
.modal.popup-newsletter {
    z-index: 1050;
}

    .modal.popup-newsletter .modal-title {
        line-height: 50px;
    }

    .modal.popup-newsletter .modal-content {
        background-image: url('/Themes/Venture/Content/img/mazuma-newsletter-bg.png');
        background-position: center;
    }

    .modal.popup-newsletter .modal-body {
        padding: 40px 30px;
        color: white;
    }

        .modal.popup-newsletter .modal-body h2 {
            font-weight: 700;
            margin-top: 0;
        }

        .modal.popup-newsletter .modal-body p {
            font-weight: 700;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .modal.popup-newsletter .modal-body li {
            padding: 5px 0;
        }

        .modal.popup-newsletter .modal-body ul,
        .modal.popup-newsletter .modal-body form {
            padding: 10px 15px;
        }

    .modal.popup-newsletter li span:before {
        content: "+";
        font-size: 12px;
        position: relative;
        padding-right: 5px;
    }

    .modal.popup-newsletter .modal-body .text-reminder {
        font-weight: normal;
        padding: 0 0 0px 15px;
    }

    .modal.popup-newsletter .signup-btn-home,
    .modal.popup-newsletter .widget-email {
        width: auto !important;
        height: 50px;
        text-transform: unset;
    }

@media (min-width: 768px) {
    .popup-newsletter .modal-dialog {
        width: auto;
        margin: 30px auto;
        max-width: 800px;
    }
}

@media screen and (max-width: 500px) {
    .modal.popup-newsletter .modal-body ul,
    .modal.popup-newsletter .modal-body form {
        padding: 10px 0;
    }

    .modal.popup-newsletter .signup-btn-home,
    .modal.popup-newsletter .widget-email {
        width: 100% !important;
    }

    .modal.popup-newsletter .signup-btn-home {
        margin-top: 10px;
    }
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}

.ul-inside {
    list-style: inside;
}

.external-auth-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.external-auth-container .external-auth-btn {
    width: 172px;
}

.mg-top-10 {
    margin-top: 10px;
}

.login-page .fieldset .form-fields {
    margin-bottom: 0;
    padding-bottom: 0;
}

.login-page #form-login {
    padding-bottom: 30px;
}

@media screen and (min-width: 1201px) {
    .login-btn-container {
        position: relative;
    }

        .login-btn-container .login-button {
            position: absolute;
            top: -50px;
            right: 0;
        }
}

.main-page .header-menu > ul > li > .with-subcategories:after {
    font-family: "iconfont" !important;
    display: inline-block;
    content: "\e61a";
    width: 10px;
    height: 10px;
    background-size: contain;
    margin-left: 2px;
}

.sale-menu span{
    color: #FF2F00;
    font-weight: bold;
}

.hide {
    display: none;
}

/*hide-max-991*/
.hide-max-991 {
    display: block;
}

.visible-max-991 {
    display: none;
}

@media screen and (max-width: 991px) {
    .hide-max-991 {
        display: none;
    }

    .visible-max-991 {
        display: block;
    }
}
.header-free-delivery-mobile {
    display: none;
    width: 100%;
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 20;
    height: 22px;
    padding: 5px 0;
    margin-top: 0px;
    font-size:11px;
}

    .header-free-delivery-mobile > a {
        text-decoration: underline;
    }

.header-free-delivery {
    margin-top: -1px;
    display: none;
    width: 100%;
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 1;
    height: 40px;
    padding: 10px;
}

    .header-free-delivery > a {
        text-decoration: underline;
    }

.usp-items-desk-body {
    padding: 15px;
    overflow: hidden;
    width: 100%;
}

.usp-item-desk {
    padding-left: 20px;
    width: 33.33%;
    float: left;
    border-right: 1px solid #ccc;
}

    .usp-item-desk:last-child {
        border: 0px;
    }

.ups-item-table {
    display: table;
    height: 90px;
}

.usp-item-desk-picture {
    width: 120px;
    float: left;
}

.usp-item-desk-text {
    padding: 0 20px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.home-buy-devices-desk {
    display: none;
}

.usp.home-buy-devices {
    display: block;
}

/*iconfont*/
.icon.iconfont:before {
    font-size: 25px;
}
#search-btn-icon{
    display:none;
}
    @media (min-width:1201px) {
        .header-links-box-bottom{
            display:none;
        }
        #search-btn-icon {
            display: inline-block;
            width: 42px;
            position: absolute;
            /*top: 16px;*/
            /*background-color: #481eb4;*/
            background-color: #ffffff;
            left: auto;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            height: 40px;
            margin: auto;
            /*color: white;*/
            color: #f9f9f9;
            padding: 10px;
            font-size: 19px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .mobile-account {
        position: relative;
        float: right;
        line-height: 50px;
        width: 33px;
        color: #ffffff;
        font-size: 20px !important;
    }
@media (max-width: 359px) {
    .responsive-nav-wrapper .shopping-cart-link a {
        width: 30px;
    }

    .menu-title > span {
        width: 33px !important
    }
}
@media (max-width: 1200px){
    .cart .remove-from-cart ~ .add-to-cart:after {
        background:unset !important;
    }
}
@media (min-width: 1201px){
    .header-links-box-bottom {
        display: none !important;
    }
}

/*customer wishlist*/
.customer-wishlist-page {
    min-height: 600px;
}

.customer-wishlist-page .buttons {
    padding: 0 10px;
    margin: 0;
}

.customer-wishlist-page .button-2 {
    margin-top: 15px !important;
}
.customer-wishlist-page .cart .remove-from-cart ~ .add-to-cart:after{
    background-color:unset;
}
.customer-wishlist-page a.share-link{
    word-break:break-word;
}

@media (max-width:480px)
{
    .customer-pages-body .block .list .iconfont:before {
        content: "";
        font-family: unset;
    }
}

/*Product box*/
.item-grid .item-box {
    border: 1px solid #ccc;
    background: #fff;
}

.item-grid .item-box:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.6);
}

.slick-carousel.item-grid .item-box:hover {
    box-shadow: none;
}

.item-grid .product-item {
    height: 320px;
}

.carousel-item .product-item {
    height: 300px;
}

.product-details-page .carousel-item .product-item {
    height: 260px;
}

.carousel-item .item-box {
    border: none;
    background: inherit;
}

.p-box-buttons.flex {
    justify-content: space-between;
}

.product-grid .p-box-buttons.flex {
    flex-direction: row-reverse;
}

    .p-box-buttons.flex .btn-common {
        display: block;
        position: relative;
    }

.btn-common {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500 !important;
    background: linear-gradient(90deg,#33c8ff 0%,#08b4ff 100%);
    height: auto;
    border: none;
    padding: 8px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.modal-body .btn-common {
    border-radius: 20px;
}

.modal-body .btn-common.btn-white {
    background: #fefefe;
    border: 1px #ccc solid;
    color: #2c2c2c;
}

.btn-md {
    font-size: 16px;
    padding: 10px 15px;
}

.product-item .ribbon-wrapper-box,
.product-item .details {
    padding: 0 10px;
}

.product-item .btn-add-to-wishlist.btn-img {
    background-image: url(../img/wishlist.png);
    background-color: transparent;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 14px;
    display: block;
}

@media screen and (max-width: 500px) {
    .carousel-item .product-item {
        height: 260px;
    }
}

/*Product quick look modal*/
.product-quick-look-modal.modal {
    padding-top: 0;
    padding: 10px;
}

.product-quick-look-modal .modal-dialog {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.product-quick-look-modal .flex {
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: wrap;
}

.p-detail {
    overflow: hidden;
    flex: 7;
}

.attr-container .p-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.attr-container .p-label {
    font-weight: bold;
}

.btn-view-detail {
    padding: 12px 20px;
    font-size: 16px;
}

.product-quick-look-modal .table-container {
    margin-top: 40px;
}

.product-quick-look-modal table tr {
    display: flex;
}

.product-quick-look-modal table tr:nth-child(n+6) {
    display: none;
}

@media (max-width: 767px) {
    .product-quick-look-modal .flex {
        display: block;
        text-align: center;
    }

    .product-quick-look-modal.modal {
        padding: 5px;
        padding-top: 0;
    }

    .product-quick-look-modal .modal-body {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .product-quick-look-modal .modal-body {
        padding: 0;
        padding-bottom: 45px;
    }
}

.jCarouselMainWrapper .p-box-buttons.flex {
    justify-content: center;
}
.jCarouselMainWrapper .p-box-buttons.flex div {
    padding: 0 10px;
}

.show-more-specification {
    margin-top: 20px;
    text-align: center;
}

.btn-show-more-plus {
    margin: 0 auto;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(90deg,#33c8ff 0%,#08b4ff 100%) !important;
    text-transform: uppercase;
    display: inline-block;
}

    .btn-show-more-plus:before {
        font-family: "venture-font";
        text-transform: none;
        content: "y";
        font-size: 16px;
        position: relative;
        left: 0;
        top: 2px;
        margin-right: 5px;
    }

/*Homepage Widget - categories dropdown menu*/
.widget-categories-dropdown-menu {
    padding: 20px 0;
}

    .widget-categories-dropdown-menu .flex .flex-grid {
        flex: 1;
    }

    .widget-categories-dropdown-menu .flex .flex-grid:not(:last-child) {
        padding-right: 15px;
    }

    .widget-categories-dropdown-menu .flex-grid h4 {
        margin-bottom: 5px;
    }

    .widget-categories-dropdown-menu select {
        width: 100%;
        padding-left: 10px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .widget-categories-dropdown-menu .container {
        margin: 0 auto;
    }

@media (min-width: 768px) {
    .widget-categories-dropdown-menu .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .widget-categories-dropdown-menu .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .widget-categories-dropdown-menu .container {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    .widget-categories-dropdown-menu {
        padding: 20px 0;
    }

        .widget-categories-dropdown-menu .flex {
            display: block;
        }

            .widget-categories-dropdown-menu .flex .flex-grid {
                padding: 5px 20px;
            }

        .widget-categories-dropdown-menu .flex-grid h4 {
            text-align: left;
        }
}

/*Flex form*/
.form-group-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
    .form-group-flex .flex-2 {
        flex: 2;
    }

    .form-group-flex .flex-3 {
        flex: 3;
    }

    .form-group-flex .flex-4 {
        flex: 4;
    }

    .form-group-flex label {
        font-size: 14px;
        margin-right: 20px;
        color: #909090
    }

.form-group-flex .form-control {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .form-group-flex {
        display: block;
    }

        .form-group-flex label {
            display: block;
            text-align: left;
            padding: 5px 0;
        }

        .form-group-flex .form-control {
            display: block;
            width: 100%;
        }

    #form-transactionRefrence .btn-common {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
}

.form-group-flex input.form-control {
    border: none;
    padding: 10px 20px; 
    vertical-align: middle;
    font-size: 15px;
    color: #909090;
    font-family: 'Lato', sans-serif;
    background: #f0f0f0;
}
    .form-group-flex input.form-control[type=date]:disabled {
        cursor: not-allowed;
        background-color: #e2e2e2;
    }

#form-transactionRefrence .input-validation-error + .field-validation-error {
    display: block;
}

#form-transactionRefrence .field-validation-error {
    text-align: left;
    display: none;
}

.text-pendingtip {
    font-size: 15px;
    margin-top: 20px;
    color: #909090;
}

    .text-pendingtip a {
        color: #ff2f00;
        text-decoration: underline;
    }

/*Bank transfer info*/
.bank-transfer-info-page {
    max-width: 600px;
    margin: 0 auto;
}

    .bank-transfer-info-page .payment-method-info {
        padding-left: 0;
        padding-right: 0;
    }
    
.blocks-wrapper ul.checkbox-list {
    width: 100%;
}
.blocks-wrapper li.checkbox-item {
    padding: 8px;
    width: 32%;
    float: left;
}
.blocks-wrapper .filtersGroupPanel .checkbox-list label:before{
    display:none;
}
.blocks-wrapper .filtersGroupPanel .checkbox-list input:checked + label:after{
    display:none;
}
.blocks-wrapper .filtersGroupPanel .checkbox-list label{
    padding:0px;
}
.blocks-wrapper label.filter-item-name {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 2px !important;
}
.blocks-wrapper .checkbox-item.checked label.filter-item-name {
    border: 2px solid #08b4ff;
    box-shadow: 0 0 2px 1px #ccc;
}

@media screen and (min-width:1400px) {
    .account-menu {
        display: none !important;
        position: absolute;
        right: -250px;
    }
}
/*MAZ-185*/
.con-online-youtobe {
    width: 38px;
    position: fixed;
    top: 50%;
    margin-top: 65px;
    z-index: 1001;
    right: 0;
}

.con-online-youtobe {
    padding: 8px 0;
    color: white;
    background: red;
    border-bottom-left-radius: 7px;
    text-align: center;
    border-top-left-radius: 7px;
    transition: width 1s;
    -moz-transition: width 1s; /* Firefox 4 */
    -webkit-transition: width 1s; /* Safari and Chrome */
    -o-transition: width 1s; /* Opera */
}

    .con-online-youtobe:hover {
        cursor: pointer;
        width: 60px;
    }

/*Enquiry request detail*/
.enquiry-detail {
    padding: 20px;
    text-align: left;
}

.enquiry-title h1 {
    width: auto;
    color: #1B1C1D;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.enquiry-content {
    padding-top: 40px;
}

    .enquiry-content .enquiry-question {
        padding-bottom: 20px;
    }

.enquiry-question .question-title {
    font-weight: 400;
    color: #ff3000;
    font-size: 23px;
    padding-bottom: 15px;
}

.font-italic {
    font-style: italic;
}

.enquiry-question .font-italic {
    color: #909090;
    line-height: 2;
}

.enquiry-question .question-content {
    line-height: 1.5;
    font-size: 16px;
    margin-top: 15px;
    color: #1b1c1d;
}

.con-reply-records {
    border-top: 1px dashed #ccc;
    padding: 10px 0;
}

.reply-record-group {
    text-align: left;
    padding: 10px 0;
}

.reply-record-group-me {
    text-align: right;
}

.reply-record-group .font-italic {
    font-size: 14px;
    color: grey;
    padding-top: 10px;
}

.reply-record-group .record-text-row {
    position: relative;
    line-height: 1.5;
    color: #909090;
    font-size: 15px;
    padding: 5px 0;
    text-align: left;
    max-width: 80%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background-color: #009de2;
    color: white;
    min-width: 60px;
}

    .reply-record-group .record-text-row:after {
        content: "";
        border-top: solid 10px #009de2;
        border-left: solid 10px #00800000;
        border-right: solid 10px #00800000;
        border-bottom: solid 0px white;
        position: absolute;
        left: 20px;
        top: 100%;
    }

.reply-record-group-me .record-text-row:after {
    left: unset;
    right: 20px;
}

.con-new-message {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
}

    .con-new-message .fieldset {
        padding: 20px;
    }

@media screen and (max-width: 500px) {
    .reply-record-group .record-text-row {
        max-width: 100%;
    }

    .con-new-message .fieldset {
        padding: 20px 0 10px;
    }
}

/*header link MOBILE*/
.header-links .social-links {
    padding: 13px 0;
    padding-left: 32px;
    border-bottom: 1px dashed #565656;
}

    .header-links .social-links a {
        padding: 0;
        padding-right: 20px;
        border-bottom: none;
    }

.mazuma-phone-number .icon.iconfont:before,
.social-links .icon.iconfont:before,
.account .icon.iconfont:before {
    font-size: 18px;
}

@media (max-width: 1200px) {
    .header-links .mazuma-phone-number {
        padding: 0;
        padding-left: 38px;
        border-bottom: 1px dashed #565656;
        line-height: 48px;
        color: rgb(144, 144, 144);
        width: auto;
    }

    .mazuma-phone-number .icon.iconfont:before {
        font-size: 14px;
    }

    .header-links-box .header-links-box-top.is-authenticated .account .ico-account {
        width: auto !important;
        color: rgb(144, 144, 144) !important;
        font-size: 14px;
    }
}

@media (min-width: 1201px) {
    .header-links .keep-line {
        line-height: 30px;
    }
}



input:checked + .icon-checkbox:before {
    content: "\e640";
    color: #4a54fa;
}

input:not(:checked) + .icon-checkbox:before {
    content: "\e63e";
    color: #909090;
}

input:checked + .icon-checkbox2:before {
    content: "\e637";
    color: #4a54fa;
}

input:not(:checked) + .icon-checkbox2:before {
    content: "\e603";
    color: #909090;
}

input:checked:disabled + .icon-checkbox:before,
input:checked:disabled + .icon-checkbox2:before {
    color: #DADADA;
    cursor: not-allowed;
}

input:checked + .icon-arrowdown:before {
    content: "\e601";
    color: red;
}

input:not(:checked) + .icon-arrowdown:before {
    content: "\e601"; /*/\602/*/
    color: red;
}

.icon-gougou:before {
    color: green;
}

.cart .badge {
    background-color: #bdbdbd;
    font-size: 14px;
}

.cart .txt-small-insurance {
    font-size: 13px;
    color: #909090;
}

.insurance-expander {
    font-size: 14px;
    line-height:18px;
}

.insurance-expander li {
    white-space: nowrap;
}

.check-out-box,
.payment-info {
    padding-bottom: 30px;
}

.insurance-info-title .sub-title {
    font-size: 14px;
    line-height: 20px;
}