﻿
/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8fZwnCo.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z-PZwnCo.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8_ZwnCo.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZwnCo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.product-details-page .product-detail-top {
    position: relative;
    margin: 0 15px;
}
.product-details-page .product-detail-top .product-name {
    line-height: 25px;
    margin: 0 0 25px;
    text-align:center;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 20px !important;
}
    .product-details-page .product-detail-top .product-name h1 {
        /*font-family: 'Montserrat',sans-serif !important;*/
        font-family: 'Montserrat' !important;
        font-weight: 800;
        text-align: center;
        font-size: 32px;
        margin-bottom: 0;
    }
.product-details-page .overview {
    padding-top: 1px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: left;
}
    .product-details-page .overview .overview-title {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 40px;
        line-height: 40px; 
        background-color: #471FB4;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .product-details-page .overview .availability-attributes-wrapper {
        padding: 0 15px;
        margin-top: 0;
        margin-bottom: 0px;
        width: auto;
    }
.product-details-page .cart-delivery-review .delivery-review .delivery-portion .delivery-title {
    text-transform: uppercase;
    position: relative;
    top: -2px;
    margin-right: 30px;
}
    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .delivery-title h2 {
        font-size: 15px;
        font-weight: 600;
    }

    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .brief-delivery-info {
        font-size: 18px;
        font-weight: 600;
    }

        .product-details-page .cart-delivery-review .delivery-review .delivery-portion .brief-delivery-info .order-count-down {
            color: #FF5733;
        }

    .product-details-page .cart-delivery-review .delivery-review .review-portion {
        margin-top: 5px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
        color: #2c2c2c;
        font-weight: 600;
        margin-bottom: 10px;
    }
        .product-details-page .cart-delivery-review .delivery-review .review-portion .brand_icon,
        .product-details-page .cart-delivery-review .delivery-review .review-portion .star_icon {
            max-width: 44%;
        }
        .product-details-page .cart-delivery-review .delivery-review .review-portion .star_icon {
            margin-top:5px;
            max-width: 80%;
        }

.priceAddToCart .value {
    color: #444;
}

    .priceAddToCart .value a {
        color: #4ab2f1;
    }

        .priceAddToCart .value a:hover {
            text-decoration: underline;
        }

.priceAddToCart-buttons {
    margin: 0 0 25px;
    font-size: 0;
}

    .priceAddToCart-buttons div {
        width: 80%;
        margin: 0 auto 3px;
    }

.priceAddToCart .button-2 {
    display: block;
    width: 100%;
    border: none;
    background-color: #eaeaea;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 40px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

    .priceAddToCart .button-2:hover {
        background-color: #ddd;
    }

.priceAddToCart .add-to-compare-list-button {
    background-image: url('../images/compare-button.png');
}

.priceAddToCart .email-a-friend-button {
    background-image: url('../images/email-button.png');
}

.priceAddToCart .subscribe-button {
    background-image: url('../images/email-button.png');
}

.priceAddToCart .download-sample-button {
    background-image: url('../images/download-button.png');
}

.priceAddToCart .add-to-wishlist-button {
    background-image: url('../img/wishlist.webp');
}

.priceAddToCart .manufacturers {
    margin: 0 0 20px;
}

.priceAddToCart .availability {
    margin: 0 0 20px;
    overflow: hidden;
}

    .priceAddToCart .availability .stock {
        margin: 0 0 10px;
    }

    .priceAddToCart .availability .back-in-stock-subscription {
        display: inline-block;
    }

.priceAddToCart .additional-details {
    margin: 0 0 20px;
}

    .priceAddToCart .additional-details div {
        margin: 0 0 8px;
    }

.priceAddToCart .delivery {
    overflow: hidden;
}

.priceAddToCart .free-shipping {
    display: none;
    margin: 10px 0;
    background: url('../images/shipping.png') left center no-repeat;
    padding: 2px 0 2px 28px;
    font-weight: bold;
    color: #444;
}

    .priceAddToCart .free-shipping.visible {
        display: inline-block;
    }

.priceAddToCart .delivery-date {
    margin: 10px 0;
}

.priceAddToCart .min-qty-notification {
    margin: 10px 0;
    font-style: italic;
    color: #444;
}

.priceAddToCart .download-sample {
    display: inline-block;
    margin: 0 0 25px;
}

.priceAddToCart .prices {
    overflow: hidden;
}

        .priceAddToCart .prices > div > span {
            vertical-align: middle;
        }


.priceAddToCart .non-discounted-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

    .priceAddToCart .old-product-price label,
    .priceAddToCart .old-product-price span {
        font-size: 22px;
        color: #444;
        display: inline-block;
    }

.priceAddToCart .old-product-price span {
    text-decoration: line-through;
}

.priceAddToCart .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.priceAddToCart .tax-shipping-info a {
    color: #4ab2f1;
}

    .priceAddToCart .tax-shipping-info a:hover {
        text-decoration: underline;
    }


.priceAddToCart-buttons {
    margin: 0 0 25px;
    font-size: 0;
}

    .priceAddToCart-buttons div {
        width: 80%;
        margin: 0 auto 3px;
    }

.priceAddToCart .add-to-cart {
    margin: 0 0 20px;
    margin-left: 20px;
}

.priceAddToCart .add-to-cart-panel {
    display: inline-block;
    position: relative;
}

    .priceAddToCart .add-to-cart-panel > * {
        float: left;
    }

.priceAddToCart .qty-label {
    display: none !important;
}

.priceAddToCart .qty-input {
    width: 40px;
    height: 40px;
    padding: 0 12px;
    text-align: center;
    font-size: 15px;
    color: #444;
}

.priceAddToCart .qty-dropdown {
    height: 43px;
    padding: 0 12px;
    font-size: 15px;
    color: #444;
}
 

.product-details-page .priceAddToCart .product_stock {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #37B61F;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.product-details-page .priceAddToCart .product-price {
    font-size: 30px !important;
}
    .product-details-page .priceAddToCart .product-price #price_prefix_1,
    .product-details-page .priceAddToCart .product-price #price_prefix_2 {
        font-size: 26px !important;
    }
.product-details-page .priceAddToCart .prices .ppc-fromprice-label {
    font-size: 21px;
}
.product-details-page .priceAddToCart {
    border-radius: 15px;
    
}

    .product-details-page .priceAddToCart .old-product-price {
        font-size: 16px;
        font-weight: 600;
    }
.product-details-page .img_paypal {
    width: 100%;
    text-align: left;
}

    .product-details-page .img_paypal img {
        width: auto;
        max-width: 60%;
    }

.product-details-page .calculator_title {
    text-align: left;
    color: #FD9586;
}

.product-details-page .priceAddToCart .add-to-cart-button {
    border-radius: 30px;
    color: #fff;
    font-family: 'Roboto',sans-serif !important;
    font-size: 12px;
    font-weight: 500 !important;
    background: linear-gradient(90deg,#33c8ff 0%,#08b4ff 100%) !important;
    height: auto;
    /*width: 120px;*/
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
}
    .product-details-page  .priceAddToCart .add-to-cart-button:hover {
        transform: scale(1.05) translateZ(0);
        cursor: pointer;
    }
#add-to-cart-button-alert.add-to-cart-button:hover {
    transform: none;
    transition: none;
}
.product-details-page .add-to-cart-qty-wrapper, .overview .qty-label {
    display: inline-block;
}
    .product-details-page .add-to-cart-qty-wrapper{
        margin-bottom: 5px;
    }
.product-details-page .price-add-to-cart-group {
    width: auto;
}

.nova-qty-addToCart {
    margin-bottom: 10px;
    margin-top: 15px;
}
.product-details-page .attributes{
    margin-top: 0;
    margin-bottom: 0;
}
.page.product-details-page .product-essential .overview .availability-attributes-wrapper .attributes {
    padding-bottom: 0px !important;
    position: relative;
}
.product-details-page .attributes .attr-reset {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
}
    .product-details-page .attributes .attr-reset button.no-markup {
        line-height: 30px;
        padding: 3px 5px;
        font-family: 'Roboto', sans-serif !important;
        font-size: 12px;
    }

.page.product-details-page .product-details-compare-products .compare-products-wrapper .compare-products input.button-2.add-to-compare-list-button {
    font-size: 15px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Roboto',sans-serif !important;
    font-size: 12px;
    font-weight: 500 !important;
    background: linear-gradient(90deg,#481fb4 0%,#481fb4 100%) !important;
    height: auto;
    width: 120px;
    border: none;
    padding: 10px 0px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
    margin: 0 auto;
}
.product-details-page .product-page-bottom {
    max-width: none;
}
.product-details-page .outOfStock {
    background-color: transparent !important;
    background: linear-gradient(90deg,#ff0054 0%,#ff2f00 100%) !important;
}
.product-details-page .lowStock {
    background-color: #E9E906 !important;
}

#add-to-cart-button-alert {
    display: none;
    background: linear-gradient(90deg,#ff0054 0%,#ff2f00 100%) !important;
    color: #fff;
    text-transform: uppercase;
}
.product-details-page .attributes .option-list .radioButton .btn-radio, .product-details-page .attributes .option-list .checkBoxButton .btn-checkBox, .product-details-page .attributes .attribute-square-container{
    line-height: 30px;
}
.attributes ul.option-list label{
    font-size: 14px;
}
.product-details-page .product-page-bottom #quickTabs {
    margin-bottom: 0;
    margin-top:20px;
}
.product-details-page .product-collateral .full-description-wrapper {
    margin-bottom: 50px;
}
.no-markup {
    padding: 3px 6px;
}
.reset-icon {
    margin-right: 2px;
}
.product-details-page .attributes dd {
    max-width: 96%;
}
.product-details-page .show-mobile-subTitle {
    display: block;
    text-align: center;
    padding: 15px;
}
.product-details-page .show-desktop-subTitle {
    display: none;
}
.product-details-page .attributes .option-list .radioButton .btn-radio,
.product-details-page .attributes .option-list .checkBoxButton .btn-checkBox,
.product-details-page .attributes .attribute-square-container {
    padding: 0 15px;
    line-height: 35px;
    min-width: 79px;
}
.product-details-page .attributes .attribute-color-text{
    line-height: inherit;
}
.product-details-page .attributes .option-list label {
    margin-right: 5px !important;
}
/*****    remove cursor: crosshair   *******/
.product-details-page .gallery .cloudzoom-zoom-inside {
    cursor: none !important;
}
.product-details-page .gallery .cloudzoom-lens {
    cursor: none !important;
}
/*****    remove cursor: crosshair    end  ******/

.product-details-page .gallery .picture-thumbs .slick-track {
    margin-left: auto;
    margin-right: auto;
}
.product-details-page .add-to-cart-qty-wrapper {
    width: 60px !important;
    height: 40px !important;
}
.add-to-cart-qty-wrapper .plus,
.add-to-cart-qty-wrapper .minus {
    width: 18px;
    height: 19px;
}

.product-details-page .product-page-usp-box {
    margin-bottom: 15px !important;
    padding-top: 0;
}
.product-details-page .product-essential-wrapper {
    border: 1px solid #e9e9e9;
}
.product-details-page .product-usp-detail {
    width: 100% !important;
    padding: 0 20px;
    display: flex;
}
    .product-details-page .product-usp-detail .product-usp-item {
        width: 50%;
        float: left;
        padding: 20px 15px;
    }
    .product-details-page .product-usp-detail .product-usp-item-text {
        margin-top: 10px;
    }

    .product-details-page .product-usp-detail .product-usp-item-img {
        max-width: 120px !important;
    }
    .product-details-page .product-usp-detail .product-usp-items {
        width: 100%;
    }
.product-details-page .ribbon-position.top-left {
    left: 15px;
}
.product-details-page .product-page-usp-box .modal-body {
    text-transform: none;
    line-height: 25px;
    color: #909090;
    font-family: 'Lato', sans-serif;
    max-width: 650px;
    margin: 0 0 20px;
}
.product-details-page .product-page-bottom .product-collateral {
    margin-bottom: -8px;
}
.product-details-page .gallery .picture-thumbs {
    width: 250px !important;
}
.product-details-page .cart-delivery-review .delivery-review .review-portion .brand_icon {
    max-width: 30%;
}
@media(max-width: 1200px) {
    .product-details-page .price-add-to-cart-group {
        background-color: transparent !important;
    }
    .page.product-details-page .price-add-to-cart-group {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
@media(min-width: 481px) {
    .product-details-page .product-essential-wrapper,
    .product-details-page .product-page-usp-box {
        width: 92.5%;
        margin: 0 auto;
    }
    .product-details-page .img_paypal img{
        max-width: 60%;
    }
    .no-markup {
        padding: 4px 7px;
    }
    .reset-icon{
        margin-right: 5px;
    }
    .product-details-page .attributes .option-list .radioButton .btn-radio,
    .product-details-page .attributes .option-list .checkBoxButton .btn-checkBox,
    .product-details-page .attributes .attribute-square-container {
        padding: 0 15px;
        line-height: 35px;
        min-width: 79px;
    }
    .product-details-page .attributes .option-list label {
        margin-right: 8px !important;
    }
    .product-details-page .add-to-cart-qty-wrapper {
        margin-bottom: 3px;
    }
    .product-details-page .product-usp-detail .product-usp-item-img {
        width: 100%;
        max-width: 150px !important;
    }
}
.product-details-page .cart-delivery-review {
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 15px;
    margin-bottom:10px;
}
@media(min-width: 600px) {
    .product-details-page .product-page-usp-box {
        margin-bottom: 0 !important;
    }
    .product-details-page .product-usp-detail .product-usp-item {
        padding: 10px;
    }
}

@media(min-width: 769px) {
    .product-details-page .product-essential-wrapper,
    .product-details-page .product-page-bottom,
    .product-details-page .product-page-usp-box {
        width: 94%;
        margin: 0 auto;
    }
    .product-details-page .product-usp-detail .product-usp-item {
        width: 25%;
        min-height:170px;
    }
}

@media(min-width: 798px) {
    .product-details-page .product-usp-detail {
        width: 100% !important;
    }
        .product-details-page .product-usp-detail .product-usp-item-img {
            max-width: 100% !important;
        }
}

@media(min-width: 1001px) {
    .product-details-page .product-essential-wrapper,
    .product-details-page .product-page-bottom,
    .product-details-page .product-page-usp-box {
        max-width: none;
        width: 96%;
        margin: auto;
    }
    .page.product-details-page .page-body .product-essential-wrapper .product-essential {
        padding: 0 !important;
    }
        .product-details-page .gallery .picture {
            margin: 0 0 10px;
        }
    .product-details-page .gallery .picture-thumbs {
        width: 250px !important;
        }
    .product-details-page .img_paypal img {
        width: 60%;
    }
    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .brief-delivery-info {
        font-size: 14px;
    }
    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .delivery-title h2 {
        font-size: 15px;
    }
    .product-details-page .show-mobile-subTitle {
        display: none;
    }
    .product-details-page .show-desktop-subTitle {
        display: block;
    }
    .product-details-page .product-detail-top .product-name {
        padding: 0 5px 10px 10px !important;
        text-align: left;
    }

        .product-details-page .product-detail-top .product-name h1 {
            text-align: left;
            margin-top: 10px;
        }
    .product-details-page .product-usp-detail .product-usp-item-img {
        max-width: 150px !important;
    }
} 
@media (min-width: 1201px){
    .product-details-page .product-essential-wrapper,
    .product-details-page .product-page-bottom,
    .product-details-page .product-page-usp-box {
        width: 1000px;
        margin: auto;
    }

        .product-details-page .gallery .picture {
            float: none !important;
        }
    .product-details-page .gallery .picture-wrapper {
        float: none !important;
        width: 100% !important;
    }
    .product-details-page .gallery .picture-thumbs {
        width: 290px !important;
        float: none !important;
    }
    .product-details-page .gallery .picture-thumbs .picture-thumbs-item {
        padding: 0 5px !important;
        width: 73px !important;
    }
        .product-details-page .gallery .picture-thumbs .picture-thumbs-list {
            margin: -5px 0;
        }
    .product-details-page .product-essential-wrapper {
        margin-top: 30px;
        padding-bottom: 20px !important;
    }
}
.product-details-page .cart-delivery-review .delivery-review .review-portion {
    font-size: 15px;
}
@media(min-width: 1201px){
    .picture-thumbs .picture-thumbs-item{
        padding: 5px !important;
        width: 105px !important;
    }
    .product-details-page .gallery .picture-thumbs {
        width: 20% !important;
        float: left !important;
    }

    .product-details-page .gallery .picture-wrapper {
        width: 80% !important;
        float: right !important;
    }
    .product-details-page .gallery .picture-thumbs .picture-thumbs-item {
        width: 70px !important;
        height: 70px !important;
    }
}
.product-details-page .attributes .option-list label {
    line-height: 30px;
    font-size: 12px;
    padding: 0px;
}



@media(max-width: 768px) {
    .showOnMobile {
        display: block;
    }
}

.showPrice {
    text-align: left;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 5px;
    font-size: 18px;
}
@media(min-width: 481px) {
    .showPrice {
        margin-left: auto;
        margin-right: auto;
    }
}
.mobile-was-price {
    color: #DE0C14;
    text-decoration: line-through;
}

    /*width: 53%;*/
    /*width:47%;*/
@media(max-width: 480px) {
    .cart-delivery-review .priceAddToCart ._11-1 {
        width: 50%;
        padding: 0;
    }
    .product-details-page .img_paypal img {
        max-width: 75% !important;
    }
}
@media(max-width: 400px){
    .product-details-page .img_paypal img {
        max-width: 85% !important;
    }
}

.product-details-page .priceAddToCart .product-price {
    font-size: 20px !important;
}

@media(min-width: 1201px) {
    .product-details-page .product-usp-detail {
        margin-top: 0px;
    }
    .product-details-page .gallery{
        margin-bottom:0px;
        padding-left:10px;
    }
    .product-details-page .product-usp-detail .product-usp-item-img {
        max-width: 100% !important;
    }
    .product-details-page .product-usp-detail {
        display: none;
        border:0px;
    }
        .product-details-page .productdetails_overview_bottom .product-usp-detail {
            display: block;
        }

    .product-details-page .html-widget.product-page-usp-ppc.product-page-usp-box {
        width: 100%;
    }
    .product-details-page .gallery .slick-list {
        margin-top: 50px;
    }
    
    .page.product-details-page .product-details-compare-products {
         margin-bottom: 0px; 
    }
    
}
.product-details-page .nop-jcarousel .carousel-title strong {
    color:black;
    font-size:20px;
}
.product-details-page .product-usp-detail .product-usp-item {
    width: 33%;
}
.product-details-page .badge_text_prompt {
    white-space: normal;
    color: blue;
    font-size: 12px;
}
.product-details-page .product-essential {
    margin-bottom: 0px;
}
.page.product-details-page .price-add-to-cart-group {
    width: 50%;
    float: left;
}

.product-details-page .nova-qty-addToCart {
    width: 100%;
}
@media(max-width: 480px){
    .product-details-page .nova-qty-addToCart{
        margin-top: 8px;
    }
}
@media(max-width: 400px) {
    .product-details-page .nova-qty-addToCart {
        margin-top: 3px;
    }
}

@media(max-width: 650px) {
    .product-details-page .cart-delivery-review .delivery-review {
        border:0px;
    }
    .product-details-page .priceAddToCart .add-to-cart-button {
        padding: 10px;
    }
    .page.product-details-page .product-details-compare-products .compare-products-wrapper .compare-products input.button-2.add-to-compare-list-button {
        width: 80px;
        padding: 8px 0;
    }
    .page.product-details-page .price-add-to-cart-group{
        margin:0px;
    }
}
@media(max-width: 480px){
    .cart-delivery-review .badge {
        font-size: 9px !important;
        padding: 3px 6px !important;
    }
    .page.product-details-page .price-add-to-cart-group {
        padding-bottom: 0px !important;
    }
    .page.product-details-page .product-details-compare-products {
        margin-bottom: 0px !important;
    }
    .product-details-page .product-usp-detail .product-usp-item-img {
        max-width: 100% !important;
    }
    .product-details-page .cart-delivery-review {
        font-size: 12px;
    }
    .product-details-page .old-product-price  label{
        font-size:18px !important;
    }
    .product-details-page .priceAddToCart .product-price {
        font-size: 17px !important;
    }
    .product-details-page .img_paypal img {
        max-width: 60%;
    }
    .product-details-page .priceAddToCart .add-to-cart-button {
        font-size: 10px;
    }
    .page.product-details-page .product-details-compare-products .compare-products-wrapper .compare-products input.button-2.add-to-compare-list-button {
     
        font-size: 10px;
    }
    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .delivery-title h2 {
        font-size: 14px;
    }

    .product-details-page .cart-delivery-review .delivery-review .review-portion {
        font-size: 15px;
    }
    .product-details-page .title.carousel-title.has-navigation {
        display: none !important;
    }
    .product-details-page-body .master-wrapper-content{
        padding-bottom:20px;
    }
    .nova-qty-addToCart{
        margin-bottom:0px;
    }
    .product-details-page .calculator_title{
        margin-bottom:6px;
    }
    .product-details-page .add-to-cart-qty-wrapper {
        width: 37px !important;
        height: 30px !important;
    }
    .product-details-page .priceAddToCart .qty-input {
        width: 20px;
        height: 28px;
        padding: 0 6px;
    }
    .add-to-cart-qty-wrapper .plus, .add-to-cart-qty-wrapper .minus {
        width: 15px;
        height: 14px;
    }

    .product-details-page .cart-delivery-review .delivery-review .review-portion {
        margin-top: 18px;
    }
        .product-details-page .cart-delivery-review .delivery-review .review-portion .star_icon{
            margin-top:2px;
        }


    .product-details-page .overview .overview-title {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .product-details-page .priceAddToCart .product_stock {
        font-size: 14px;
        height: 37px;
        line-height: 37px;
    }
}
@media(max-width: 400px){
    .product-details-page .calculator_title {
        margin-bottom: 10px;
    }
    .priceAddToCart .old-product-price label,
    .priceAddToCart .old-product-price span {
        font-size: 18px;
    }
}

@media(max-width: 371px){
    .product-details-page .cart-delivery-review .delivery-review .review-portion {
        margin-top: 25px;
    }
}
@media(max-width: 360px) {
    .product-details-page .old-product-price label {
        font-size: 15px !important;
    }
    .product-details-page .nova-qty-addToCart {
        margin-top: 1px;
    }
}
@media(max-width: 340px){
    .product-details-page .calculator_title {
        margin-bottom: 7px;
    }
}

@media(max-width: 320px){
    .product-details-page .priceAddToCart .product-price {
        font-size: 17px !important;
    }
}

.product-details-page .attributes .option-list .radioButton .btn-radio,
.product-details-page .attributes .option-list .checkBoxButton .btn-checkBox,
.product-details-page .attributes .attribute-square-container {
    padding: 2px 5px;
    line-height: 30px;
    min-width: 60px;
}
.product-details-page .attributes .attr-reset button.no-markup {
    line-height: 28px;
    padding: 0px 5px;
}
.product-details-page .cart-delivery-review .delivery-review .delivery-portion .brief-delivery-info {
    font-size: 12px;
}

.product-details-page .calculator_title{
    font-size:10px;
}
.product-details-page .priceAddToCart .add-to-cart-button{
    font-size:12px;
    /*width: 80%;*/
}
.page.product-details-page .product-details-compare-products .compare-products-wrapper .compare-products input.button-2.add-to-compare-list-button{
    font-size:10px;
}
.old-product-price>label{
    font-size:15px !important;
}
span.network_picture{
    display:block;
}
@media(max-width: 400px) {
    .product-details-page .calculator_title {
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .four-condition {
        width: 45% !important;
        margin-left: 3% !important;
        margin-right: 2% !important;
    }
    .condition-picture {
        min-height: 800px !important;
    }
}
@media(max-width: 500px) {
    .condition-picture {
        min-height: 720px !important;
    }
}
@media(max-width: 400px) {
    .condition-picture {
        min-height: 600px !important;
    }
}
@media(max-width: 350px) {
    .condition-picture {
        min-height: 450px !important;
    }
}

@media(max-width: 400px){
    .product-details-page .addToCart-leftPart {
        margin-top: 5px;
    }
}
}*/
.product-details-page .share-icon-button {
    width: 100%;
    max-width: 80px;
    height: 25px;
    margin-top: 5px;
}
.product-details-page .share-btn-mobile {
    margin-bottom: 10px;
    margin-top: -10px;
}
.product-details-page .share-btn-icon-group {
    overflow: hidden;
    width: 135px;
    margin: auto;
}
.product-details-page .share-btn-icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
}

@media(max-width: 480px) {
    .product-details-page .share-btn-mobile {
        display: block;
        margin-top: 12px;
    }
    .product-details-page .share-btn-icon-group {
        width: 105px;
    }

    .product-details-page .share-btn-icon {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 400px) {
    .product-details-page .share-btn-mobile {
        margin-top: 15px;
    }
}
@media (max-width: 380px){
    .product-details-page .share-btn-mobile{
        margin-top: 18px;
    }
}
@media (max-width: 371px) {
    .product-details-page .share-btn-mobile {
        margin-top: 25px;
    }
}
@media (max-width: 360px) {
    .product-details-page .share-btn-mobile {
        margin-top: 20px;
    }
}

@media(min-width: 481px) {
    .product-details-page .img_paypal {
        text-align: center;
    }
    .product-details-page .calculator_title {
        text-align: center;
    }
    .product-details-page .nova-qty-addToCart {
        text-align: center;
        margin-top: 5px;
    }
    .product-details-page .share-btn-mobile{
        margin-top: 0;
    }
    .product-details-page .cart-delivery-review .delivery-review .review-portion{
        margin-top: 10px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1041px){
    .product-details-page .cart-delivery-review .delivery-review .review-portion{
        margin-top: 15px;
    }
    .product-details-page .addToCart-leftPart{
        margin-top: 10px;
    }
    .product-details-page .share-btn-mobile{
        margin-top: 0;
    }
    .nova-qty-addToCart{
        margin-top: 10px;
    }
}
@media screen and (min-width: 1102px) and (max-width: 1200px){
    .product-details-page .cart-delivery-review .delivery-review .review-portion{
        margin-top: 0;
        margin-bottom: 0;
    }
    .product-details-page .share-btn-mobile{
        margin-top: 0;
    }
    .product-details-page .img_paypal{
        margin-top: 13px;
    }
}
@media screen and (min-width: 728px) and (max-width: 1000px){
    .product-details-page .cart-delivery-review .delivery-review .review-portion {
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-details-page .share-btn-mobile {
        margin-top: 0;
    }

    .product-details-page .img_paypal {
        margin-top: 13px;
    }
}
@media (max-width: 480px) {
    .product-details-page .share-btn-mobile {
        position: absolute;
        width: 50%;
        bottom: 0px;
    }

    .product-details-page .cart-delivery-review {
        position: static
    }
}

.product-details-page .calculator_title,
.nova-qty-addToCart {
    margin-bottom: 0;
}

@media(max-width: 370px) {
    #mazuma-delivery-portion{
        margin-top: 0 !important;
    }
    .product-details-page .cart-delivery-review .delivery-review .delivery-portion .delivery-title{
        margin-bottom: 0;
    }
}
    .addToCart-leftPart.back-in-stock {
        bottom: 17px;
    }
.credit-box .credit-img {
    margin-right: 30px;
}
.credit-box .credit-img img {
    width: 100%;
    max-width: 100px;
    vertical-align: middle;
}
.notify-text {
    text-align: center;
    font-size: 10px;
}
.product-details-page .priceAddToCart .add-to-cart-button.low-stock {
    background: #DBD817 !important;
}

.nop-flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
}

.hide-max-1001 {
    display: block;
}

.hide-min-1000 {
    display: none;
}

    .product-essential .product-col-left {
        width: 42%;
        float: left;
    }
    .product-essential .product-col-right {
        width: 55%;
        float: left;
        margin-left: 2%;
    }

.cart_delivery-qty {
    padding: 0 15px;
    text-align: left;
}

.cart_delivery_left {
    padding-top: 5px;
    padding-bottom: 2px;
}

.product-details-page .cart-delivery-review .priceAddToCart,
.product-details-page .cart-delivery-review .delivery-review {
    margin: 0 15px;
}

.delivery-portion {
    padding: 10px 0;
}

.qty-addToCart-item {
    position: relative;
}

.priceAddToCart .add-to-wishlist-button.btn-img {
    margin-left: 5px;
}

.notify-warning-text {
    text-align: left;
    font-size: 10px;
    color: #FF5733;
}

@media(max-width: 1001px) {
    .hide-max-1001 {
        display: none;
    }

    .hide-min-1000 {
        display: block;
    }

    .product-essential .product-col-left {
        width: 100%;
        float: none;
    }

    .product-essential .product-col-right {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .product-details-page .overview,
    .product-details-page .cart-delivery-review {
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .product-details-page .cart_delivery-qty {
        padding-left: 0;
    }

    .showPrice {
        padding-left: 15px;
        width: 90%;
    }

    .product-details-page .product-page-usp-box {
        padding-top: 15px;
    }
}

@media (max-width: 481px) {
    .product-details-page .overview,
    .product-details-page .cart-delivery-review {
        width: 100%;
        margin: 0 0 10px;
    }

    .showPrice {
        width: 100%;
    }
}

.priceAddToCart .add-to-wishlist-button.btn-img {
    background-image: url(../img/wishlist.png);
    background-color: transparent;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 14px;
}


/*
    fold Product Tab
*/
.product-details-page .fold_box {
    width: 100%;
    margin: 20px auto;
}

.product-details-page .fold_tit {
    font-size: 16px;
    color: #909090;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #dadada;
    background-color: #f5f5f5;
}

    .product-details-page .fold_tit .ico {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
        height: 16px;
        background-image: url('../img/fold_ico.png');
        background-repeat: no-repeat;
        background-position: left 0;
    }

    .product-details-page .fold_tit.selected {
        color: red;
        background-color: #dadada;
    }

        .product-details-page .fold_tit.selected .ico {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 16px;
            height: 16px;
            background-image: url('../img/fold_ico.png');
            background-repeat: no-repeat;
            background-position: right 0;
        }

.product-details-page .fold_con {
    display: none;
    border: 1px solid #dadada;
    border-top: 0;
}

.product-details-page .fold_box .full-description, .product-details-page .fold_box .product-specs-box {
    display: block;
}

.product-details-page .fold_box .product-collateral > div {
    margin: 0;
}

.product-details-page  #quickTabs {
    display: none;
}
#specification_mobile td.spec-value {
    word-break: break-word;
}

@media only screen and (min-width: 480px) {
    .product-details-page .fold_box {
        display: none;
    }

    .product-details-page  #quickTabs {
        display: block;
    }
}

.show-more-plus:before {
    font-family: "venture-font";
    text-transform: none;
    content: "y";
    font-size: 16px;
    position: absolute;
    left: 0;
    padding-top: 2px;
    padding-left: 14px;
}

.show-more-plus.show:before {
    content: "x" !important;
}

.show-more-plus {
    margin: 0 auto;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    position: relative;
    width: 154px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(90deg,#33c8ff 0%,#08b4ff 100%) !important;
    padding-right: 20px;
    text-transform: uppercase;
}
#overview .show-more-plus, #overview_mobile .show-more-plus {
    padding: 7px 19px;
}


.show-more-container-overview, .show-more-container-specification {
    background:white;
    width: 100%;
    text-align: right;
    font-size: 15px;
    padding: 20px 0;
}

#specification .data-table tr:nth-child(n+6), #specification_mobile .data-table tr:nth-child(n+6) {
    display: none;
}

/*#overview .data-table p:nth-child(n+5), #overview_mobile .data-table p:nth-child(n+5) {
    display: none;
}*/
#specification .product-specs-box{
    overflow:hidden;
}
#specification_mobile .product-specs-box {
    overflow: hidden;
}
#overview .full-description {
    padding-bottom: 65px !important;
    overflow: hidden;
    position: relative;
}
#overview .show-more-container-overview {
    background: linear-gradient(to top,white,rgba(255, 255, 255, 0.7) 70%);
    left: 0;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0px;
}
#overview_mobile .full-description {
    padding-bottom: 65px !important;
    overflow: hidden;
    position: relative;
}

#overview_mobile .show-more-container-overview {
    background: linear-gradient(to top,white,rgba(255, 255, 255, 0.7) 70%);
    left: 0;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0px;
}

.product-details-page .ui-tabs .product-specs-box {
    margin-bottom: 0px;
}

.product-specs-box .table-wrapper {
    box-shadow: unset;
    overflow-x: unset;
    padding-bottom: 0px !important;
}


