/*@import url(theme.custom.font.css);*/


.header-lower-cover {
    background: #FAFAFA !important;
}

.header {
    border-bottom: 0 !important;
}

.master-wrapper-page:before {
    height: 80px !important;
    margin-bottom: 0px !important;
}
/*@media (min-width: 1201px){
    .page-new-forcart .header-left {
        position: initial !important;
        margin: auto;
    }
    .page-new-forcart .header-logo a {
        text-align: center;
    }
        .page-new-forcart .header-logo a img {
            position: initial !important;
            margin: 15px auto;
        }
}*/
@media screen and (min-width: 1201px) {
    .master-wrapper-page:before {
        content: "";
        height: 80px !important;
        display: block;
        width: 100%;
        background: #FAFAFA !important;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .header-upper {
        -webkit-transition: height 0.3s;
        transition: height 0.3s;
        height: 50px;
    }

        .header-upper.no-height {
            height: 0;
        }
}

.header-lower {
    background-color: #fafafa !important;
    background-color: transparent !important;
    max-height: 125px !important;
}

@media screen and (min-width: 1201px) {
    .header-lower {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        max-width: 978px !important;
        margin: auto;
        height: 80px !important;
    }
}

.checkout-option-container {
    font-family: 'Roboto',sans-serif !important
}
/*.checkout-option-container span{
    float:left;
    width: 100%;
}*/
.payment-info-top {
    float: left;
    min-height: 60px;
    width: 100%;
}

.payment-info-mid {
    display: block;
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
}

.payment-info-more {
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
    text-decoration: underline;
}

.payment-info-bottom {
    /*margin-top: 20px;
    padding: 20px 0;*/
    display: block;
    overflow: hidden;
    float: left;
    width: 100%;
}

    .payment-info-bottom * {
        float: left;
    }

    .payment-info-bottom img {
        height: 28px;
    }

    .payment-info-bottom .payment-input {
        width: 28px;
        height: 28px;
        float: right;
        margin-right: 15px;
    }

.payment-input input {
    display: none;
}

.payment-input label {
    font-size: 25px;
    color: #919191;
}

    .payment-input input:checked + label {
        color: #4a54fa;
    }

.payment-input input:checked + label:before {
    content: "\e640";
}

.checkout-buttons-container .checkout-buttons-header {
    background: #4d20bb !important;
    color: white;
    padding: 20px !important;
    margin-bottom: 0;
}

.shopping-cart-page .checkout-buttons-container .checkout-buttons-header + .checkout-buttons {
    margin: 0px;
}

.order-summary-content .remove-from-cart label[name=removefromcart], .order-summary-content .delivery {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    /*background: url(../img/cart-delete-btn.png) no-repeat center;*/
    z-index: 2;
    height: 20px;
    width: 20px;
    font-size: 0px;
}

.order-summary-content .shopping-remove {
    font-size: 20px;
}

.order-summary-content .delivery {
    background: unset;
}

/*input[type="button"].cart-remove {
    background: url(../img/cart-delete-btn.png) no-repeat center;
    border: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
}*/
.order-summary-content .remove-from-cart {
    text-align: center;
}

@media (max-width: 900px) and (min-width: 600px) {
    .cart {
        width: 90%;
        margin: 0 auto;
    }
}



.order-summary-content .cart th {
    background-color: #4d20bb;
    color: #fff;
}

.order-summary-content .order-summary-content .totals {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: none !important;
}

.order-summary-content .cart tr:first-child {
    border: 0;
}

.order-summary-content .cart tr {
    /*padding: 0 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    /*border-bottom: 1px solid #808080 !important;*/
}

.cart th {
    font-size: 15px !important;
}

.shopping-cart-page .page-title h1 {
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 35px;
}
/*.order-summary-content .cart td{
    
}*/
/*.order-summary-content .cart td:first-child{
    margin-left:10px;
}*/
/*.order-summary-content .cart td:last-child {
        margin-right: 10px;
    }*/
.order-summary-content .total-td {
    text-align: left;
    font-size: 15px;
}

.order-summary-content .shipping-cost td label,
.order-summary-content .order-total td label {
    display: block;
}

.order-summary-content .order-total td {
    line-height: 30px;
    background-color: #f9f9fb;
}

.order-summary-content .order-total {
    padding: 0 !important;
}
/*.order-summary-content .common-buttons input.button-2{
    font-size: 0;
    border: 0 !important;
    height: 44px;
    background-size: 100%;
}*/

/*.order-summary-content .button-2.update-cart-button,
.order-summary-content .button-2.update-cart-button:hover {
    background: url(../img/updateBasket.png) no-repeat center !important;
    width: 190px;
}*/
/*.order-summary-content .button-2.clear-cart-button,
.order-summary-content .button-2.clear-cart-button:hover {
    background: url(../img/clearShoppingCart.png) no-repeat center !important;
    width: 236px;
}*/
/*.order-summary-content .button-2.continue-shopping-button,
.order-summary-content .button-2.continue-shopping-button:hover {
    background: url(../img/continueShopping.png) no-repeat center !important;
    width: 223px;
}*/

@media (max-width: 1200px) {
    .order-summary-content .table-wrapper {
        background-color: unset;
    }

    .order-summary-content .remove-from-cart label[name=removefromcart], .order-summary-content .delivery {
        background: unset;
        font-size: 14px;
        width: 100%;
    }

    .order-summary-content .order-total td {
        display: unset !important;
        float: left;
        width: 50%;
        text-align: center;
    }

        .order-summary-content .order-total td:last-child {
            text-align: right;
        }
}

.checkBox-buttons-wrapper .checkout-option-container {
    border: none !important;
}

.checkBox-buttons-wrapper {
    background-color: #fafafa !important;
}

    .checkBox-buttons-wrapper .credit-button-tagline {
        display: none;
        color: #909090;
        padding: 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    .checkBox-buttons-wrapper .checkout-option-container {
        min-height: unset !important;
    }

@media screen and (max-width: 799px) {
    .checkBox-buttons-wrapper .checkout-option-container {
        border: none !important;
    }
}

.order-summary-content .checkout-buttons .checkout-button {
    width: 100%;
}


.checkBox-buttons-wrapper .checkout-option-container {
    float: right !important;
    padding: unset !important;
    margin-top: 0px !important;
}

.shopping-cart-page .checkout-buttons .checkout-button {
    font-size: 19px !important;
}

.order-summary-content .checkout-button-container {
    min-height: unset !important;
}

.order-summary-content th.remove-from-cart {
    text-align: left;
}

.order-summary-content .product-subtotal {
    color: black !important;
}

.order-summary-content .value-summary strong {
    font-weight: bold !important;
    font-size: 25px;
}

.shopping-cart-page .common-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

    .shopping-cart-page .common-buttons button {
        cursor: pointer;
        position: relative;
        min-width: 130px;
        width: auto;
        height: 45px;
        align-items: center;
        background: #08b4ff;
        border: none !important;
        border-radius: 100px;
        color: #fff;
        display: inline-flex;
        flex-direction: row;
        font-size: 12px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: .75px;
        line-height: 15px;
        padding: 0 20px !important;
        text-align: center;
        text-transform: none;
        transform: translateZ(0);
        transition: .5s;
    }
.clear-cart-button:before {
    background: url(../img/clearCar.png) no-repeat center center;
    background-size: 100%;
}

.update-cart-button:before {
    /*background: url(../img/updateCar.png) no-repeat center center;*/
    content: unset;
    background-size: 100%;
}

.update-cart-rotate:before {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    text-transform: none;
    transition: all .2s ease !important;
    z-index: 1;
}

.apply-gift-card:before,
.apply-promo-code:before,
.share-friends-button:before {
    width: 0 !important;
    margin-right: 0 !important;
}

.shopping-cart-page .common-buttons .button-2 {
    background: #DADADA !important;
    color: #666;
}

@-webkit-keyframes swiping {
    30%, 70% {
        -webkit-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }

    60%, 100% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-moz-keyframes swiping {
    30%, 70% {
        -webkit-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }

    60%, 100% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes swiping {
    30%, 70% {
        -webkit-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }

    60%, 100% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-webkit-keyframes updating {
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-moz-keyframes updating {
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes updating {
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.clear-cart-button:hover:before {
    -webkit-animation: swiping 0.82s cubic-bezier(0.035, 0.225, 0.885, 0.290) both;
    -moz-animation: swiping 0.82s cubic-bezier(0.035, 0.225, 0.885, 0.290) both;
    animation: swiping 0.82s cubic-bezier(0.035, 0.225, 0.885, 0.290) both;
}

.update-cart-button:hover .update-cart-rotate:before {
    -webkit-animation: updating 1s linear infinite;
    -moz-animation: updating 1s linear infinite;
    animation: updating 1s linear infinite;
}

.cart-search .search-box-button {
    left: unset;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    background: url(/images/uploaded/search-filter.png) no-repeat center !important;
    background-color: #481eb4 !important;
    background-size: contain !important;
    height: 40px !important;
    margin: auto;
    font-size: 0 !important;
    width: 51px;
    border: 0px;
    position: relative;
    left: -4px;
    top: -4px;
}

.cart-search input.search-box-text {
    left: 0 !important;
    font-size: 13px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px !important;
    margin: auto;
    width: 228px !important;
    background: #fff;
}

.cart-search {
    position: relative;
    text-align: center;
    width: 290px;
    margin: 0 auto;
}

@media screen and (max-width: 599px) {
    .modal-body {
        padding: 20px 15px;
    }
}

@media screen and (min-width: 600px) {
    .cart-search input.search-box-text {
        height: 45px !important;
        width: 420px !important;
    }

    #search-btn-icon {
        height: 45px;
        width: 70px;
        font-size: 26px;
    }

    .cart-search .search-box-button {
        height: 45px !important;
        width: 80px !important;
    }

    .cart-search {
        width: 515px;
    }
}

@media (max-width: 480px) {
    .cart-search .instant-search-item .img-block {
        display: table-cell !important;
    }
}

@media screen and (max-width: 1200px) {
    .cart-delivery-tr {
        padding-bottom: 0 !important;
    }

        .cart-delivery-tr .unit-price {
            display: none
        }

        .cart-delivery-tr .quantity {
            display: none
        }

        .cart-delivery-tr .subtotal {
            display: none
        }
}

.checkBox-buttons-wrapper {
    margin-top: 20px;
}

.order-summary-content .cart {
    border: none;
}

@media screen and (min-width: 1201px) {
    .order-summary-content .cart {
        border: 0;
    }

    .checkout-buttons-container {
        border: 2px solid #dedadaa6;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
    }

    .order-summary-content .table-wrapper {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /*border: 1px solid grey*/
    }

    .header {
        background: #FAFAFA !important;
    }
}

.shopping-cart-page .checkout-buttons {
    margin-bottom: 0px !important;
}

.page-new-forcart .checkout-option-container {
    min-height: 130px;
}

.zopim {
    display: none !important;
}

.page-new-forcart .menu-title,
.page-new-forcart .search-wrap,
.page-new-forcart .shopping-cart-link {
    display: none;
}

.apply-code-message {
    padding: 15px 30px;
    width: 90%;
    margin: 0 auto;
}

    .apply-code-message .message-success {
        color: #08B4FF;
        font-weight: 600;
    }

    .apply-code-message .message-failure {
        color: #ff2f00;
        font-weight: 600;
    }

    .apply-code-message .applied-discount-code {
        font-weight: 600;
    }

@media screen and (max-width: 500px) {
    .apply-code-message {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 769px) {
    .shopping-cart-page .common-buttons {
        width: 90%;
        margin: 0 auto 40px;
        max-width: unset;
    }
}

.common-buttons .button-2:not(:first-child) {
    margin-left: 5px;
}

@media screen and (min-width: 1001px) {
    .shopping-cart-page {
        border: 1px solid #e9e9e9;
    }
}

@media screen and (min-width: 1201px) {
    .apply-code-message {
        width: 100%;
    }

    .shopping-cart-page .common-buttons {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        margin: 0 5px;
        margin-bottom: 25px;
    }
}

#product_errors_content div {
    margin-bottom: 10px;
}

#product_errors_content li {
    color: #ff2f00;
}

@media screen and (min-width: 1201px) {
    .header-left {
        position: unset;
        margin-left: auto;
        margin-right: auto;
    }

    .shopping-cart-page-container {
        min-width: 900px;
        max-width: 1000px;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #e9e9e9;
    }

    .shopping-cart-page {
        border: none;
    }
}

@media screen and (max-width: 1200px) {
    .order-summary-content .shopping-remove {
        display: none;
    }

    .responsive-nav-wrapper .mobile-logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .order-summary-content .order-total .order-total-td-mobile {
        display: none !important;
    }
}

.shopping-cart-page {
    background-color: #FFF;
}

@media screen and (min-width: 1200px) {
    .shopping-cart-page-container {
        margin: 0 auto;
        width: 70%;
        background-color: #FFF;
        padding-bottom: 40px;
    }

    .order-summary-content .cart {
        border: 2px solid #dedadaa6 !important;
    }
}

.page-title {
    padding-top: 38px;
}

.checkBox-buttons-wrapper .checkout-option-container {
    background-color: #FFF;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .shopping-cart-page .common-buttons button {
        padding: 0 15px !important;
        min-width: 100px !important;
    }
}

.share-friends-button-continer {
    margin-top: 10px;
}

    .share-friends-button-continer img {
        margin-right: 5px;
    }

@media screen and (max-width: 340px) {
    .share-friends-button-continer img {
        margin-right: 0px;
    }
}

button.button-2.continue-shopping-button:before {
    display: none;
}

.cart-share-btn .icon.iconfont {
    padding: 10px;
    color: white;
    font-size: 17px;
    border-radius: 7px;
}

.cart-facebook {
    background-color: #17468c;
}

.cart-twitter {
    background-color: #08b4ff;
}
.cart-eamil {
    background-color: #909090;
}
.order-summary-content .icon.iconfont {
    font-size: 22px;
}

/*Conponent > order-summary*/
.order-summary-content .cart tr {
    width: 100% !important;
    margin: 0 !important;
}

@media (max-width: 1200px) {
    .order-summary-content .delivery-product {
        padding: 10px 0 !important;
    }
}

@media (max-width: 1199px) and (min-width: 600px) {
    .order-summary-content .cart {
        width: 90% !important;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1201px) {
    .store-search-box {
        display: block;
        position: static;
        left: unset !important;
        right: unset !important;
        margin: 0 auto !important;
    }
}

.shopping-cart-page .order-summary-content .checkout-buttons {
    display: block !important;
}

.checkout-option-container {
    width: 100%;
    border-right: none;
    border-bottom: 2px dashed #ccc;
}

    .checkout-option-container:last-child {
        border-bottom: none;
    }

    .checkout-option-container table {
        min-height: 0;
    }

@media screen and (min-width: 799px) {
    .checkout-option-container {
        padding: 10px 20px;
        padding-bottom: 0px;
    }

    .page-new-forcart .checkout-option-container {
        min-height: 80px !important;
    }

    .shopping-cart-page .checkout-buttons-container .checkout-buttons-header + .checkout-buttons {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .checkBox-buttons-wrapper .checkout-option-container {
        max-width: 333px;
    }

    .float_right_button {
        text-align: right;
        float: right;
        margin-right: 70px;
    }

    .payment-info-bottom {
        overflow: unset !important;
        float: none !important;
    }

        .payment-info-bottom img {
            margin-right: 5px;
        }

    .payment-input label {
        position: relative;
        top: -10px;
    }

    .payment-info-bottom {
        position: relative;
        top: -25px;
    }
}

@media (min-width: 1200px) {
    .shopping-cart-page .order-summary-content .md-show {
        display: none !important;
    }
    #shopping-cart-form .cart tr.md-flex {
        display: table-row;
    }
}

@media (max-width: 1199px) {
    #shopping-cart-form .cart tr.md-flex {
        display: flex;
        flex-flow: nowrap;
    }

    #shopping-cart-form .cart tr {
        display: block;
        text-align: left;
        padding: 10px 0;
    }

    #shopping-cart-form .cart td {
        display: inline-block;
    }

    .shopping-cart-page .order-summary-content .md-none {
        display: none !important;
    }

    .shopping-cart-page .order-summary-content .md-show {
        display: block;
    }
    .shopping-cart-page .order-summary-content .md-show.flex {
        display: flex;
    }

    #shopping-cart-form .cart .quantity .td-title {
        display: inline;
    }

    #shopping-cart-form .cart .product-picture ~ td {
        margin: auto;
    }

    #shopping-cart-form table.cart .product {
        min-width: unset;
    }

    #shopping-cart-form .cart td:first-child {
        min-width: unset;
        padding: 15px 0;
    }

    #shopping-cart-form .cart tr.insurance-expander {
        border-bottom: 1px solid #ccc !important;
    }

    #shopping-cart-form .cart .product {
        padding: 0;
    }

    #shopping-cart-form table.cart .md-flex .product {
        width: 60%;
        margin-right: 5px;
    }

    #shopping-cart-form table.cart .md-flex .flex {
        justify-content:space-between;
    }

    #shopping-cart-form table.cart .text-shadow {
        display: block;
        color: #909090;
        text-shadow: 2px 2px 5px #ccc;
    }

    .shopping-cart-page .order-summary-content .checkout-buttons {
        margin: 0 10%;
        padding-bottom: 30px;
    }

    .shopping-cart-page .order-summary-content .order-total-bottom {
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc !important;
    }
    .shopping-cart-page .order-summary-content .order-total-bottom label {
        font-size: 22px;
        text-transform: uppercase;
    }

    .removefromcart .icon-jinzhi {
        color: #aaa;
    }

    .order-summary-content .product-subtotal {
        display:block;
        margin-right:5px;
    }
    .shopping-cart-page .checkout-buttons button {
        background: #02b801 !important;
    }
}

