/*@import url(theme.custom.font.css);*/
.steps {
    width: 70%;
    margin: 0 auto;
    height: 50px;
    max-width: 700px;
}

    .steps .steItem {
        position: relative;
        height: 13px;
        width: 32%;
        float: left;
        /*background: linear-gradient(#fafafa 60%,rgba(255,0,0,0) 50%),linear-gradient(to right,#ddd 25%,#DEDEDE 75%);*/
        border-bottom: 2px solid;
        border-color: rgb(242,242,242);
    }

        .steps .steItem.active {
            /*background: linear-gradient(#fafafa 60%,rgba(255,0,0,0) 50%),linear-gradient(to right,#481fb4 25%,#782bf8 75%);*/
            border-bottom: 2px solid;
            border-color: #FF2F00;
        }

        .steps .steItem:last-child {
            width: 0;
            background: transparent;
        }

        .steps .steItem::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            position: absolute;
            left: 0;
            background: #FF2F00;
        }

        .steps .steItem::after {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            position: absolute;
            left: 3px;
            top: 3px;
            background: #fff;
        }

        .steps .steItem.next::before {
            background: #DEDEDE;
        }
        .steps .steItem.active::after, .steps .steItem.active::before {
            background: #FF2F00;
        }

        .steps .steItem.next::after {
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
            background: #DEDEDE;
        }

        .steps .steItem p {
            position: absolute;
            top: 30px;
            left: 0;
            transform: translateX(-40%);
            white-space: nowrap;
        }

@media screen and (max-width: 799px) {
        .steps .steItem p {
            white-space:normal;
        }
        .steps .steItem p {
            transform: translateX(-30%);
        }
}
.steps-container {
    text-align: center;
    width: 100%;
    background: #FFFFFF;
    padding-bottom: 23px;
    padding-top: 34px;
    box-shadow: 2px 2px 2px #dedcdc;
    margin-bottom: 20px;
}
.steps .steItem.next p{
    color:#dadada;
}

.checkout-complete-whn .color-red {
    color: red;
}