﻿<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok, #eu-cookie-ok-mobile').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.RouteUrl("EuCookieLawAccept")',
                dataType: 'json',
                success: function (data) {
                    $('#eu-cookie-bar-notification').hide();
                },
                failure: function () {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        @*<div class="buttons-more">
            <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("Common.OK")</button>
        </div>*@
        <button type="button" class="ok-button button-1 eu-cookie-ok-mobile" id="eu-cookie-ok-mobile">@T("Common.OK")</button>
        <div class="text">@T("EUCookieLaw.Description2") <a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("Mazuma-Venture.CookiePolicy") })">Learn More</a>
            <button type="button" class="ok-button button-1 eu-cookie-ok-desktop" id="eu-cookie-ok">@T("Common.OK")</button>
        </div>
    </div>
</div>