﻿:root {
    --primary-color: #4e1c89;
    --inactive-color: #624289;
    --hover-color: #5a3587;
    --focus-color: #5a3587;
}

.consumer-finance-button {
    position: relative;
    padding: 15px 20px;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    background: #4e1c89;
    font-weight: bold;
    color: #fff;
    transition: all .3s;
}
