﻿#consumerfinance_productdetails_aslowas {
    display: block;
    padding-top: 0;
    text-align: center;
    font-size: 14px;
}

#aslowas_price {
    font-size: 20px;
    display: block;
}

@media screen and (min-width: 1025px) {
    #consumerfinance_productdetails_aslowas {
        float: right;
        text-align: right;
        clear: right;
    }
}