﻿@model Nop.Plugin.Ecorenew.ElavonHppPayment.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="EcorenewElavonHppPayment" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Account_OverrideForStore" asp-input="Account" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Account" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Account" />
                        <span asp-validation-for="Account"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Secret_OverrideForStore" asp-input="Secret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Secret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Secret" />
                        <span asp-validation-for="Secret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AutoSettle_OverrideForStore" asp-input="AutoSettle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AutoSettle" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AutoSettle" />
                        <span asp-validation-for="AutoSettle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HppVersion_OverrideForStore" asp-input="HppVersion" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HppVersion" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="HppVersion" />
                        <span asp-validation-for="HppVersion"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HppLanguageCode_OverrideForStore" asp-input="HppLanguageCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HppLanguageCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="HppLanguageCode" />
                        <span asp-validation-for="HppLanguageCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DefaultCurrencyCode_OverrideForStore" asp-input="DefaultCurrencyCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DefaultCurrencyCode" />
                    </div>
                    <div class="col-md-9">
                        <select asp-for="DefaultCurrencyCode" asp-items="Model.DefaultCurrencySelectList" class="form-control"></select>
                        <span asp-validation-for="DefaultCurrencyCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseCustomerCurrency_OverrideForStore" asp-input="UseCustomerCurrency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseCustomerCurrency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseCustomerCurrency" />
                        <span asp-validation-for="UseCustomerCurrency"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>