﻿@model Nop.Plugin.Ecorenew.ElavonHppPayment.Domain.EcorenewElavonHppTransactionRequest
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Ecorenew.ElavonHppPayment/Content/css/hpp-payment.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Ecorenew.ElavonHppPayment/Scripts/hpp-payment.js");
}

<form id="ecorenew-elavon-hpp-form" method="POST" action="@ViewBag.EcorenewElavonHppRequestUrl" target="ecorenew_elavon_hpp_payment_iframe">
    <input type="hidden" name="TIMESTAMP" value="@Model.TIMESTAMP">
    <input type="hidden" name="MERCHANT_ID" value="@Model.MERCHANT_ID">
    <input type="hidden" name="ORDER_ID" value="@Model.ORDER_ID">
    <input type="hidden" name="AMOUNT" value="@Model.AMOUNT">
    <input type="hidden" name="CURRENCY" value="@Model.CURRENCY">
    <input type="hidden" name="SHA1HASH" value="@Model.SHA1HASH">
    <input type="hidden" name="AUTO_SETTLE_FLAG" value="@(Model.AUTO_SETTLE_FLAG ? "1" : "0")">

    @if (!string.IsNullOrWhiteSpace(Model.ACCOUNT))
    {
        <input type="hidden" name="ACCOUNT" value="@Model.ACCOUNT">
    }

    @if (!string.IsNullOrWhiteSpace(Model.COMMENT1))
    {
        <input type="hidden" name="COMMENT1" value="@Model.COMMENT1">
    }

    @if (!string.IsNullOrWhiteSpace(Model.COMMENT2))
    {
        <input type="hidden" name="COMMENT2" value="@Model.COMMENT2">
    }

    @if (!string.IsNullOrWhiteSpace(Model.SHIPPING_CODE))
    {
        <input type="hidden" name="SHIPPING_CODE" value="@Model.SHIPPING_CODE">
    }

    @if (!string.IsNullOrWhiteSpace(Model.SHIPPING_CO))
    {
        <input type="hidden" name="SHIPPING_CO" value="@Model.SHIPPING_CO">
    }

    @if (!string.IsNullOrWhiteSpace(Model.BILLING_CODE))
    {
        <input type="hidden" name="BILLING_CODE" value="@Model.BILLING_CODE">
    }

    @if (!string.IsNullOrWhiteSpace(Model.BILLING_CO))
    {
        <input type="hidden" name="BILLING_CO" value="@Model.BILLING_CO">
    }

    @if (!string.IsNullOrWhiteSpace(Model.CUST_NUM))
    {
        <input type="hidden" name="CUST_NUM" value="@Model.CUST_NUM">
    }

    @if (!string.IsNullOrWhiteSpace(Model.VAR_REF))
    {
        <input type="hidden" name="VAR_REF" value="@Model.VAR_REF">
    }

    @if (!string.IsNullOrWhiteSpace(Model.PROD_ID))
    {
        <input type="hidden" name="PROD_ID" value="@Model.PROD_ID">
    }

    @if (!string.IsNullOrWhiteSpace(Model.HPP_LANG))
    {
        <input type="hidden" name="HPP_LANG" value="@Model.HPP_LANG">
    }

    @if (!string.IsNullOrWhiteSpace(Model.HPP_VERSION))
    {
        <input type="hidden" name="HPP_VERSION" value="@Model.HPP_VERSION">
    }

    @if (!string.IsNullOrWhiteSpace(Model.MERCHANT_RESPONSE_URL))
    {
        <input type="hidden" name="MERCHANT_RESPONSE_URL" value="@Model.MERCHANT_RESPONSE_URL">
    }

    @if (!string.IsNullOrWhiteSpace(Model.CARD_PAYMENT_BUTTON))
    {
        <input type="hidden" name="CARD_PAYMENT_BUTTON" value="@Model.CARD_PAYMENT_BUTTON">
    }

    @if (!string.IsNullOrWhiteSpace(Model.SUPPLEMENTARY_DATA))
    {
        <input type="hidden" name="SUPPLEMENTARY_DATA" value="@Model.SUPPLEMENTARY_DATA">
    }
</form>

<iframe id="ecorenew-hpp-payment-iframe" name="ecorenew_elavon_hpp_payment_iframe" frameborder="0"></iframe>