﻿@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Ecorenew.ElavonHppPayment.Fields.RedirectionTip")</b>
        </td>
    </tr>
</table>