﻿@model int
@{
    Html.AddFinanceCssFileParts("corporate/common");
    Html.AddFinanceCssFileParts("corporate/product-details-price");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "corporate/productdetails-corporatefinance-breakdown");
}

<input type="hidden" id="corporatefinance_productdetails_productid" value="@Model" />

<div id="corporatefinance_productdetails_aslowas" style="display: none;">
    <p>
        @* Apply localized string with parameters for price and number of months *@
        as low as <span id="aslowas_price"></span> per month over <span id="aslowas_month"></span>
    </p>
    <input type="button" id="corporatefinance_productdetails_comparefinanceoptions"
           class="corporate-finance-button"
           value="Compare options" />
</div>