﻿@model IList<ArticleModel>
    
@{
    string storeUrl = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}    

<div class="category-articles">
    @if (Model.Count > 0)
    {
        <ul class="ca-list">
            @foreach (var article in @Model)
            {
                <li class="ca-item">
                    <a class="title-link" href="@storeUrl@article.SEName" title="@article.Title">@article.Title</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="no-category-articles">@T("SevenSpikes.Knowledgebase.Public.Entities.Article.NoRelatedArticles")</p>
    }
</div>