﻿@model IList<SevenSpikes.Nop.Plugins.Knowledgebase.Models.CategoryModel>

@{
    string storeUrl = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}

<div class="child-categories">
    <h3 class="title">
        <span class="title-text">@T("SevenSpikes.Knowledgebase.Public.Entities.Categories.ChildCategories")</span>
    </h3>
    @if (Model.Count > 0)
    {
        <ol class="child-category-list">
            @foreach (var category in @Model)
            {
                <li class="child-category-item">
                    <a class="link-to-category" href="@storeUrl@category.SEName" title="@category.Name">@category.Name <span>(@category.Articles.Count)</span></a>
                    @if (category.Articles.Count > 0)
                    {
                        <ul class="articles-list">
                            @for (int i = 0; i < Math.Min(3, category.Articles.Count); i++)
                            {
                                <li class="article-item">
                                    <a class="article-link" href="@storeUrl@category.Articles[i].SEName" title="@category.Articles[i].Title">@category.Articles[i].Title</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="no-articles">@T("SevenSpikes.Knowledgebase.Public.Entities.Categories.NoArticles")</p>
                    }
                </li>
            }
        </ol>
    }
    else
    {
        <p class="no-child-categories">@T("SevenSpikes.Knowledgebase.Public.Entities.Categories.NoChildCategories")</p>
    }
</div>