﻿@model CommentModel

<form asp-controller="ArticleComment" asp-action="Edit" method="post" id="comment-form">
    <input type="hidden" name="id" value="@Model.Id"/>
    <input type="hidden" id="comment-article-se-name" name="ArticleSEName" value="@Model.ArticleSEName"/>
    
    @await Html.PartialAsync(Views.CommentsEditor, Model.Text)
    
    <button class="k-button submit-comment" type="submit" value="@T("SevenSpikes.Knowledgebase.Public.Entities.Article.Comment.Submit")">@T("SevenSpikes.Knowledgebase.Public.Entities.Article.Comment.Submit")</button>
</form>