﻿@model IList<ArticleModel>
    
@{
    string storeUrl = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}

<div class="related-articles">
    <h3 class="ra-title">
        <span class="title-text">@T("SevenSpikes.Knowledgebase.Public.Entities.Article.RelatedArticles")</span>
    </h3>
    @if (Model.Count > 0)
    {
        <ul class="ra-list">
            @foreach (var article in @Model)
            {
                <li class="ra-item">
                    <a class="title-link" href="@storeUrl@article.SEName" title="@article.Title">@article.Title</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="no-related-articles">@T("SevenSpikes.Knowledgebase.Public.Entities.Article.NoRelatedArticles")</p>
    }
</div>