﻿@model SevenSpikes.Nop.Plugins.Knowledgebase.Models.CategoryModel

@{
    Layout = "_Knowledgebase.Layout";

    Html.AddTitleParts(!String.IsNullOrEmpty(Model.SEOTitle) ? Model.SEOTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.SEODescription);
    Html.AddMetaKeywordParts(Model.SEOKeywords);
}

@await Html.PartialAsync(Views.KnowledgebaseNavigation)

<div class="category-info-wrap">
    <div class="category-info">
        <h1 class="category-title">
            <span class="title-text">@Model.Name</span>
        </h1>
        @if (@Model.IsAdmin)
        {
            <div class="admin-options">
                <a class="k-button edit-category" href="@Url.Action("Edit", "KbCategoryAdmin", new { area ="admin", id = Model.Id, isPopup = false})" title="@T("SevenSpikes.Knowledgebase.Public.Entities.Category.Edit")">@T("SevenSpikes.Knowledgebase.Public.Entities.Category.Edit")</a>
                <ul class="creation-info">
                    <li class="creation-item">
                        <label class="ci-label">@T("SevenSpikes.Knowledgebase.Public.Entities.Category.CreatedOn")</label>
                        <span class="ci-value">@Model.Date</span>
                    </li>
                </ul>
            </div>
        }

        @await Html.PartialAsync(Views.CategoryArticles, @Model.Articles)
        @await Html.PartialAsync(Views.ChildCategories, @Model.ChildCategories)
    </div>
</div>