﻿@model Nop.Plugin.Ecorenew.Finance.Models.Corporate.Components.CorporateFinanceBreakdownTerm


<div class="col-lg-4">
    <div class="corporatefinance-term">
        <ul>
            <li class="corporatefinance-term-header">
                <h2>@Model.Title</h2>
                <h3 class="corporatefinance-term-subheader">
                    @Model.MonthlyPayment <br />
                    per month
                </h3>
            </li>
            <li class="corporatefinance-term-breakdown">
                <ul>
                    <li>
                        <span class="breakdown-label">Phone cost</span>
                        <span class="breakdown-data">@Model.PhoneCost</span>
                    </li>
                    <li>
                        <span class="breakdown-label"> Number of monthly payments</span>
                        <span class="breakdown-data">@Model.NumberOfMonths</span>
                    </li>
                    <li>
                        <span class="breakdown-label">Interest Charges</span>
                        <span class="breakdown-data">@Model.InterestCharges</span>
                    </li>
                    <li>
                        <span class="breakdown-label">Total amount payable</span>
                        <span class="breakdown-data">@Model.TotalPayable</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>