﻿@model Nop.Plugin.Ecorenew.Finance.Models.Corporate.Components.CorporateFinanceBreakdownPopupComponentModel
@{
    Html.AddFinanceCssFileParts("corporate/common");
    Html.AddFinanceCssFileParts("font-awesome/font-awesome");
    Html.AddFinanceCssFileParts("corporate/finance-breakdown-popup");
}

<div id="corporatefinance_breakdownpopup" class="corporatefinance-modal">
    <div class="corporatefinance-modal-inner">
        <div class="corporatefinance-modal-header">
            <button class="corporatefinance-modal-close fa fa-times"></button>
            <div class="ecorenew-finance-logo"></div>
        </div>

        <div class="corporatefinance-modal-content">
            <div class="corporatefinance-modal-title">
                Finance Terms
            </div>

            <div class="terms"></div>

            <div class="bottom-text">
                <div style="text-align: justify">
                    <p>To apply for finance you must:</p>
                    <ul id="corporatefinance-breakdownpopup-conditions">
                        <li><p>Be aged 18+ years</p></li>
                        <li><p>Have a bank from which you can make Direct Debit payments</p></li>
                        <li><p>Be resident in the UK (excluding Channel Islands and Isle of Man) and be able to provide residential address details for the last 3 years</p></li>
                        <li><p>Be able to provide your employer's name and address details where applicable</p></li>
                        <li><p>Be able to provide your income and expenditure information where requested</p></li>
                        <li><p>Have a valid email address and phone number</p></li>
                    </ul>

                    <p>&nbsp;</p>

                    <p>Approval for finance is subject to your Credit Status.</p>
                    <p>Simply meeting the above criteria does not guarantee approval.</p>
                    <p>Before you make a finance application you should also be sure that you can afford the payments and that the finance terms plan you have chosen is suitable for your needs.</p>
                    <p>These terms are effective on <b>@System.DateTime.Now.ToString("dd/MM/yyyy")</b> only as finance quotations may be subject to change. Finance subject to status.</p>
                </div>
                <br />
                <hr />
                <br />
                <p><strong>Terms &amp; Conditions</strong></p>
                <p>Finance is provided by EcoRenew Finance Limited. Registered in England and Wales 07466832. Registered Office:&nbsp; Unit C1, The Maltings, Station Road, Sawbridgeworth, Hertfordshire CM21 9JX.</p>

                <p>&nbsp;</p>

                <p>EcoRenew Finance Limited is authorised and regulated by the UK Financial Conduct Authority. Reference Number: 728034. Data Protection Licence Number: ZA136818</p>
                <p>All finance terms and offers are subject to status after credit and affordability checks. All finance terms require an initial payment to be paid via debit or credit card.&nbsp;</p>
            </div>
        </div>
    </div>
</div>