﻿@using Nop.Core
@using Nop.Services.Configuration
@inject IStoreContext storeContext
@inject ISettingService settingService

@model SocialModel

@{
    var storeId = storeContext.CurrentStore.Id;
    var instagramUrl = settingService.GetSettingByKey("venturethemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = settingService.GetSettingByKey("venturethemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("venturethemesettings.vimeourl", String.Empty, storeId, true);
}

@*<ul class="social-sharing">
        @if (!String.IsNullOrEmpty(Model.TwitterLink))
        {
            <li><a target="_blank" class="twitter" href="@Model.TwitterLink" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(Model.FacebookLink))
        {
            <li><a target="_blank" class="facebook" href="@Model.FacebookLink" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(Model.YoutubeLink))
        {
            <li><a target="_blank" class="youtube" href="@Model.YoutubeLink" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(Model.GooglePlusLink))
        {
            <li><a target="_blank" class="google" href="@Model.GooglePlusLink" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(pinterestUrl))
        {
            <li><a target="_blank" class="pinterest" href="@pinterestUrl" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(vimeoUrl))
        {
            <li><a target="_blank" class="vimeo" href="@vimeoUrl" rel="noopener"></a></li>
        }
        @if (!String.IsNullOrEmpty(instagramUrl))
        {
            <li><a target="_blank" class="instagram" href="@instagramUrl" rel="noopener"></a></li>
        }
        @if (Model.NewsEnabled)
        {
            <li><a target="_blank" class="rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
        }
    </ul>*@


<div class="footer-section-social">
    <span style="color: #000000;">
        <span style="display: inline-flex;">
            <a href="https://www.facebook.com/mazumamobile" style="padding-right: 10px;">
                <i class="fab fa-facebook-f" style="font-size:20pt;"></i>
            </a>
            <a href="https://twitter.com/mazuma" style="padding-right: 10px;">
                <i class="fab fa-twitter" style="font-size:20pt;"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCOoVkQ5CvZ9wEDV4FjSRPTg" style="padding-right: 10px;">
                <i class="fab fa-youtube" style="font-size:20pt;"></i>
            </a>
            <a href="https://www.instagram.com/mazumamobile/">
                <i class="fab fa-instagram" style="font-size:20pt;"></i>
            </a>
        </span>
    </span>
</div>