﻿@** Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model ManufacturerFilterModel7Spikes

@using Nop.Services.Catalog
@using Nop.Services.Media
@using Nop.Core.Domain.Media
@inject NopAjaxFiltersSettings nopAjaxFiltersSettings
@inject IManufacturerService manufacturerService
@inject MediaSettings mediaSettings
@inject IPictureService pictureService

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters/Scripts/ManufacturerFilter.min.js");

    string toggleStateClass = "toggleControl";
    string toggleStateStyles = string.Empty;

    if (nopAjaxFiltersSettings.CloseManufacturersFilterBox)
    {
        toggleStateClass = "toggleControl closed";
        toggleStateStyles = "display: none;";
    }

    string filtersPanelClass = nopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseCheckboxes ? "filtersCheckboxPanel" : "filtersDropDownPanel";
}

@functions {
    string GetOptionAttributes(FilterItemState state)
    {
        string optionAttributes = string.Empty;

        if (state == FilterItemState.Checked || state == FilterItemState.CheckedDisabled)
        {
            if (nopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseCheckboxes)
            {
                optionAttributes += "checked=\"checked\"";
            }
            else
            {
                optionAttributes += "selected=\"selected\"";
            }
        }

        if (state == FilterItemState.Disabled || state == FilterItemState.CheckedDisabled)
        {
            optionAttributes += " disabled=\"disabled\"";
        }

        return optionAttributes;
    }

    IHtmlContent GetListOfOptions(IList<ManufacturerFilterItem> manufacturerFilterItems, FiltersUIMode uiMode)
    {
        HtmlContentBuilder result = new HtmlContentBuilder();
        var manufacturerFilterItemsAfterOrder = new Dictionary<int, ManufacturerFilterItem>();
        var orderby = 9;
        foreach (var item in manufacturerFilterItems)
        {
            //var name = "apple";
            //name.ToLower().StartsWith();
            if (item.Name.ToLower().StartsWith("apple"))
            {
                manufacturerFilterItemsAfterOrder.Add(1, item);
            }
            else if (item.Name.ToLower().StartsWith("samsung"))
            {
                manufacturerFilterItemsAfterOrder.Add(2, item);
            }
            else if (item.Name.ToLower().StartsWith("sony"))
            {
                manufacturerFilterItemsAfterOrder.Add(3, item);
            }
            else if (item.Name.ToLower().StartsWith("huawei"))
            {
                manufacturerFilterItemsAfterOrder.Add(4, item);
            }
            else if (item.Name.ToLower().StartsWith("htc"))
            {
                manufacturerFilterItemsAfterOrder.Add(5, item);
            }
            else if (item.Name.ToLower().StartsWith("google"))
            {
                manufacturerFilterItemsAfterOrder.Add(6, item);
            }
            else if (item.Name.ToLower().StartsWith("lg"))
            {
                manufacturerFilterItemsAfterOrder.Add(7, item);
            }
            else if (item.Name.ToLower().StartsWith("nokia"))
            {
                manufacturerFilterItemsAfterOrder.Add(8, item);
            }
            else
            {
                manufacturerFilterItemsAfterOrder.Add(orderby, item);
                orderby += 1;
            }
        }
        var manufacturerFilterItemsAfterOrder2 = manufacturerFilterItemsAfterOrder.OrderBy(x => x.Key).ToList();
        var index = 0;
        foreach (var item in manufacturerFilterItemsAfterOrder2)
        //foreach (var filterItem in manufacturerFilterItems)
        {
            var filterItem = item.Value;
            string optionAttributes = GetOptionAttributes(filterItem.FilterItemState);
            string inputId = string.Format("manufacturer-input-{0}", filterItem.Id);
            var brand = manufacturerService.GetManufacturerById(filterItem.Id);
            var picture = pictureService.GetPictureById(brand.PictureId);
            var pictureSize = mediaSettings.ManufacturerThumbPictureSize;
            var brandUrl = pictureService.GetPictureUrl(picture, 90);
            if (uiMode == FiltersUIMode.UseCheckboxes)
            {
                result.AppendHtml("<li class=\"checkbox-item " + (index > 7 ? "hide-formobile" : "") + "\" mid='"+ (index+1) + "'>");
                //result.AppendHtml("<div class=\"checkbox-item-div\">");
                result.AppendHtml($"<input {optionAttributes} data-option-ids=\"{filterItem.Id}\" type=\"checkbox\" id=\"{inputId}\" />");
                result.AppendHtml($"<label class=\"filter-item-name\" for=\"{inputId}\"@* data-originalText=\"{filterItem.Name}\"*@><img class=\"filter-item-img\" src=\"{brandUrl}\" /></label>");
                //result.AppendHtml("</div>");
                result.AppendHtml("</li>");
            }
            else
            {
                result.AppendHtml($"<option @optionAttributes data-option-ids=\"{filterItem.Id}\" value=\"{filterItem.Name}\">{filterItem.Name}</option>");
            }
            index += 1;
        }

        return result;
    }
}

<div class="block filter-block manufacturerFilterPanel7Spikes">
    <div class="title">
        <a class="@toggleStateClass">@T("Manufacturers")</a>
        <a class="clearFilterOptions">@T("SevenSpikes.NopAjaxFilters.Client.Common.Clear")</a>
    </div>
    <div class="filtersGroupPanel @filtersPanelClass" style="@toggleStateStyles">
        @if (nopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseCheckboxes)
        {
            @*if (Model.ManufacturerFilterItems.Count > 1)
            {
                <div class="filtersGroupSearch">
                    <input type="text" class="filtersGroupSearchInput" />
                </div>        
            }*@

        <ul class="checkbox-list">
            @*<li class="checkbox-item">
                <input type="checkbox" mid="0" id="manufacturer-input-0">
                <label class="filter-item-name" for="manufacturer-input-0">Any</label>
            </li>*@
            @GetListOfOptions(Model.ManufacturerFilterItems, nopAjaxFiltersSettings.FiltersUIMode)
        </ul>
        <span class="show-more-plus">
            show more
        </span>
        }
        else
        {
            <select class="attribute-options-select" id="manufacturerFiltersDropDown">
                <option value="0">@T("SevenSpikes.NopAjaxFilters.Client.Common.All")</option>
                @GetListOfOptions(Model.ManufacturerFilterItems, nopAjaxFiltersSettings.FiltersUIMode)
            </select>
        }
    </div>
</div>
<script>
    $(function () {
        $(".show-more-plus").click(function () {
            if ($(this).hasClass("show")) {
                $(this).removeClass("show");
                $(this).text("show more");
                $(".checkbox-list").find("li").each(function () {
                    if (parseInt($(this).attr("mid")) > 8) {
                        $(this).addClass("hide-formobile");
                    }
                });
            }
            else {
                $(".checkbox-list li").removeClass("hide-formobile");
                $(this).addClass("show");
                $(this).text("hide");
            }
        });
        
        //$("#manufacturer-input-0").click(function () {
        //    $(this).attr("checked", "checked");
        //    $(this).prop("checked", "true");
        //    //console.log($(this).prop("checked"));
        //    $("[data-option-ids]").each(function () {
        //        $(this).removeAttr("checked");
        //        var p = $(this).parent("li");
        //        p.removeClass("checked disabled");
        //    });
        //    var li = $(this).parent("li");
        //    li.addClass("checked");
        //});
        //$("[data-option-ids]").click(function () {
        //    $("#manufacturer-input-0").removeAttr("checked");
        //    var p = $("#manufacturer-input-0").parent("li");
        //    p.removeClass("checked disabled");
        //});
    });
</script>