﻿.wizard-section {
    display: none;
}

#corporatefinance_signup_page .page-content {
    border-top: 1px solid #ccc;
}

    #corporatefinance_signup_page .page-content .panel {
        margin-top: 20px;
        border-radius: 0;
    }

        #corporatefinance_signup_page .page-content .panel .panel-heading {
            background-color: var(--primary-color) !important;
            border-radius: 0;
        }

            #corporatefinance_signup_page .page-content .panel .panel-heading:hover {
                background-color: var(--hover-color) !important;
            }

            #corporatefinance_signup_page .page-content .panel .panel-heading:focus {
                background-color: var(--focus-color) !important;
            }

            #corporatefinance_signup_page .page-content .panel .panel-heading a {
                color: #fff;
            }

        #corporatefinance_signup_page .page-content .panel .panel-body {
            border-radius: 0;
            color: #555;
            background-color: #eee;
            text-align: justify;
        }

            #corporatefinance_signup_page .page-content .panel .panel-body li {
                list-style: disc;
                font-size: 13px;
                margin-left: 30px;
                margin-bottom: 7px;
            }
