﻿/* WIZARD */
.wizard {
}

    .wizard > li {
        background-color: var(--inactive-color);
        overflow: hidden;
    }

        .wizard > li.current {
            background-color: var(--primary-color) !important;
        }

        .wizard > li > a {
            font-size: 15px;
            color: #fff;
        }

            .wizard > li > a:hover {
                background-color: var(--hover-color);
            }

            .wizard > li > a:focus {
                background-color: var(--focus-color);
            }

            .wizard > li > a > .encirclednumber {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                text-align: center;
                display: inline-block;
                padding-top: 3px;
            }

/* DESKTOP WIZARD */
.wizard-desktop > li {
    margin: 0 !important;
    width: 25%;
}

    .wizard-desktop > li:first-child {
        border-top-left-radius: 5px;
    }

    .wizard-desktop > li:last-child {
        border-top-right-radius: 5px;
    }

    .wizard-desktop > li > a {
        white-space: nowrap;
        text-align: center;
        border-radius: 0;
    }

        .wizard-desktop > li > a > img {
            height: 50px !important;
            margin-bottom: 5px;
        }

        .wizard-desktop > li > a > .title {
            display: block;
        }

/* MOBILE WIZARD */
.wizard-mobile {
    margin-bottom: 10px;
}

    .wizard-mobile > li {
        width: 100%;
        border-radius: 20px;
    }

        .wizard-mobile > li > a {
            overflow: auto;
        }

            .wizard-mobile > li > a > .encirclednumber,
            .wizard-mobile > li > a > .title {
                float: left;
            }

            .wizard-mobile > li > a > .title {
                margin-left: 10px;
                margin-top: 2px;
                text-transform: uppercase;
            }
