﻿@model ConfigurationModel
@using Nop.Plugin.Mazuma.WiFiVoucher.Models;

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="MazumaWiFiVoucher" asp-action="Configure" method="post">
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="MazumaWiFiVoucherEnabled_OverrideForStore" asp-input="MazumaWiFiVoucherEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MazumaWiFiVoucherEnabled" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MazumaWiFiVoucherEnabled" />
            <span asp-validation-for="MazumaWiFiVoucherEnabled"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="MessageTemplateSystemName_OverrideForStore" asp-input="MessageTemplateSystemName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MessageTemplateSystemName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MessageTemplateSystemName" />
            <span asp-validation-for="MessageTemplateSystemName"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>
</form>