﻿@using Nop.Plugin.Mazuma.WiFiVoucher.Models;
@using System.Text.Encodings.Web
@model ConfigurationModel
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<nop-antiforgery-token />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
                        <i class="fa fa-upload"></i>
                        @T("Admin.Common.Import")
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="VoucherSerialNumberFilter" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="VoucherSerialNumberFilter" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-vouchers" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="vouchers-grid"></div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#vouchers-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("GetMazumaWiFiVoucher", "MazumaWiFiVoucher"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                        create: {
                                            url: "@Html.Raw(Url.Action("AddMazumaWiFiVoucher", "MazumaWiFiVoucher"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        update: {
                                            url: "@Html.Raw(Url.Action("UpdateMazumaWiFiVoucher", "MazumaWiFiVoucher"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("DeleteMazumaWiFiVoucher", "MazumaWiFiVoucher"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                VoucherSerialNumber: { editable: true, type: "string" },
                                                Pin: { editable: true, type: "string" },
                                                Balance: { editable: true, type: "number" },
                                                Status: { editable: true, type: "string" },
                                                OrderId: { editable: false, type: "number" },
                                                Id: { editable: false, type: "number" }
                                            }
                                        }
                                    },
                                    requestEnd: function(e) {
                                        if (e.type == "create" || e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }],
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "VoucherSerialNumber",
                                        title: "@T("Plugins.Mazuma.WiFiVoucher.Fields.VoucherSerialNumber")",
                                        width: 300
                                    }, {
                                        field: "Pin",
                                        title: "@T("Plugins.Mazuma.WiFiVoucher.Fields.Pin")",
                                        width: 300
                                    }, {
                                        field: "Balance",
                                        title: "@T("Plugins.Mazuma.WiFiVoucher.Fields.Balance")",
                                        width: 150
                                    }, {
                                        field: "Status",
                                        title: "@T("Plugins.Mazuma.WiFiVoucher.Fields.Status")",
                                        width: 150
                                    }, {
                                        field: "OrderId",
                                        title: "@T("Plugins.Mazuma.WiFiVoucher.Fields.OrderId")",
                                        width: 150
                                    }, {
                                        command: [
                                            {
                                                name: "edit",
                                                text: {
                                                    edit: "@T("Admin.Common.Edit")",
                                                    update: "@T("Admin.Common.Update")",
                                                    cancel: "@T("Admin.Common.Cancel")"
                                                }
                                            }, {
                                                name: "destroy",
                                                text: "@T("Admin.Common.Delete")"
                                            }
                                        ],
                                        width: 200
                                    }
                                ]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#search-vouchers').click(function() {
                                var grid = $('#vouchers-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });

                        function additionalData() {
                            var data = {
                                VoucherSerialNumberFilter: $('#@Html.IdFor(model => model.VoucherSerialNumberFilter)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        $("#@Html.IdFor(model => model.VoucherSerialNumberFilter)").keydown(function(event) {
                                if (event.keyCode === 13) {
                                    $("#search-vouchers").click();
                                    return false;
                                }
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="MazumaWiFiVoucher" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>