﻿@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Mazuma.WiFiVoucher.Models;

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="ordersettings-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="@T("Plugins.Mazuma.WiFiVoucher.Configure.General")">@await Html.PartialAsync("~/Plugins/Mazuma.WiFiVoucher/Views/_Configure.General.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-returnrequest" asp-title="@T("Plugins.Mazuma.WiFiVoucher.Configure.Vouchers")">@await Html.PartialAsync("~/Plugins/Mazuma.WiFiVoucher/Views/_Configure.Vouchers.cshtml", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>