﻿@model TicketAttributeValueAdminModel
    
<div asp-validation-summary="All"></div>
<input asp-for="TicketAttributeId" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {
            window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();
        }
        catch (e){}
        window.close();
    </script>

    return;
}

<div class="panel-body">
    @(Html.LocalizedEditor<TicketAttributeValueAdminModel, TicketAttributeValueAdminLocalizedModel>("ticketattributevalue-localized",
    @<div>
        <div class="form-group">
            <div class="col-sm-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-sm-9">
                <nop-editor asp-for="@Model.Locales[item].Name" />
                <span asp-validation-for="@Model.Locales[item].Name"></span>
            </div>
        </div>

        <input type="hidden" asp-for="@Model.Locales[item].LanguageId"/>
    </div>
    ,
    @<div>
        <div class="form-group">
            <div class="col-sm-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-sm-9">
                <nop-editor asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
    ))
    
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="IsPreSelected" />
        </div>
        <div class="col-sm-9">
            <nop-editor asp-for="IsPreSelected" />
            <span asp-validation-for="IsPreSelected"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="col-sm-9">
            <nop-editor asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
</div>