﻿@model TicketAttributeAdminModel

@{
    Html.SetActiveMenuItemSystemName("SevenSpikes.HelpDesk.Admin.Submenus.TicketAttributes");
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore, "The trial is limited to only 1 ticket attribute.")
        
        <nop-tabs id="nop-help-desk-ticket-attribute">
            <nop-tab asp-name="tab-general-settings" asp-default="true" asp-title="@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.InfoTab")">
                @await Html.PartialAsync("TicketAttributeSettings", Model)
            </nop-tab>
            @if (Model.Id > 0)
            {
                <nop-tab asp-name="tab-staff-settings" asp-title="@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.ValuesTab")">
                    @await Html.PartialAsync("ValuesList", Model)
                </nop-tab>
            }
        </nop-tabs>
    </div>
</div>