﻿@model TicketAttributeAdminListModel
    
@inject AdminAreaSettings adminAreaSettings

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.HelpDesk.Admin.Submenus.TicketAttributes");

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.HelpDesk.Admin.TicketAttribute")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.HelpDesk.Admin.TicketAttribute.AddNew")
        </a>
    </div>
</div>

<nop-antiforgery-token />

<div class="content">
    <div class="form-horizontal">
        
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="ticketAttributes-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#ticketAttributes-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "HelpDeskTicketAttributeAdmin"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json"
                    },
                    destroy: {
                        url:
                            "@Html.Raw(Url.Action("DeleteTicketAttribute", "HelpDeskTicketAttributeAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    parameterMap: function(data, operation) {
                        if (operation != "read") {
                            return data;
                        } else {
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Name: { editable: false, type: "string" },
                            AttributeControlTypeName: { editable: false, type: "string" },
                            IsRequired: { editable: false, type: "boolean" },
                            IsAdminAttribute: { editable: false, type: "boolean" },
                            IsFilterable: { editable: false, type: "boolean" },
                            DisplayOrder: { editable: false, type: "number" }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);

                    this.cancelChanges();
                },
                pageSize: "@(defaultGridPageSize)",
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            filterable: {
                extra: false
            },
            sortable: true,
            scrollable: false,
            columns: [
                {
                    field: "Name",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Name")"
                }, {
                    field: "AttributeControlType",
                    template: "#= AttributeControlTypeName #",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.AttributeControlType")",
                    filterable: {
                        ui: AttributeControlTypeFilter
                    }
                }, {
                    field: "IsRequired",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.IsRequired")",
                    width: 120,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template:
                        '# if(IsRequired) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                    filterable: false
                }, {
                    field: "IsAdminAttribute",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.IsAdminAttribute")",
                    width: 120,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template:
                        '# if(IsAdminAttribute) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                    filterable: false
                }, {
                    field: "IsFilterable",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.IsFilterable")",
                    width: 120,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template:
                        '# if(IsFilterable) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                    filterable: false
                }, {
                    field: "DisplayOrder",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.DisplayOrder")",
                    width: 120
                }, {
                    field: "Id",
                    template:
                        '<a href="Edit/#=Id#" class="k-button"><span class="k-icon k-edit"></span>@T("Admin.Common.Edit")</a>',
                    title: "@T("Admin.Common.Edit")",
                    width: 100,
                    filterable: false,
                    sortable: false
                }, {
                    command: [
                        {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }
                    ],
                    width: 100
                }
            ]
        });
    });

    var dataSource = @Html.ToLocalDatabase(Model.AvailableAttributeControlTypes)

    function AttributeControlTypeFilter(element) {
        element.kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: dataSource,
            optionLabel: helpDeskResources.sevenSpikesHelpDeskSelectValue
        });
    }
</script>