﻿@model TicketAttributeValueAdminModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.AddNew").Text;
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.AddNew")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-popup">

                    @await Html.PartialAsync("_CreateOrUpdateValue", Model)

                    <div class="panel-footer">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>