﻿@model TicketAttributeAdminModel
    
@inject AdminAreaSettings adminAreaSettings    

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="panel-group no-margin">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="ticketattributevalues-grid">
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@Url.Action("ValueCreatePopup", "HelpDeskTicketAttributeAdmin", new { ticketAttributeId = Model.Id, btnId = "btnRefresh", formId = "ticketattribute-form" })', 800, 800, true); return false;" class="btn btn-primary">
                @T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.AddNew")
            </button>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="commands-template">
    <input type="submit" value="@T("Admin.Common.Edit")" onclick="javascript: OpenWindow('@Url.Content("~/Admin/HelpDeskTicketAttributeAdmin/ValueEditPopup/")#=Id#?btnId=btnRefresh&formId=ticketattribute-form', 800, 350, true); return false;"
           class="k-button" />
</script>

<script>
    $(document).ready(function () {
        $("#ticketattributevalues-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ValueList", "HelpDeskTicketAttributeAdmin", new { ticketAttributeId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("ValueDelete", "HelpDeskTicketAttributeAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id"
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: "@(defaultGridPageSize)",
                serverPaging: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.Name")"
            }, {
                field: "IsPreSelected",
                title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.IsPreSelected")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(IsPreSelected) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
            }, {
                field: "DisplayOrder",
                title: "@T("SevenSpikes.HelpDesk.Admin.TicketAttribute.Values.DisplayOrder")",
                width: 100
            }, {
                template: kendo.template($("#commands-template").html()),
                width: 100,
                filterable: false,
                sortable: false
            }, {
                command: [{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 100
            }]
        });
    });
</script>

<input type="submit" id="btnRefresh" name="btnRefresh" style="display: none" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRefresh').click(function () {
            //refresh grid
            var valuesGrid = $("#ticketattributevalues-grid").data('kendoGrid');
            valuesGrid.dataSource.read();

            //return false to don't reload a page
            return false;
        });
    });
</script>