﻿@using Nop.Web.Models.Discounts;
@using Nop.Core.Domain.Common
@using Nop.Services.Catalog
@using Nop.Services.Media
@using Nop.Core.Domain.Media

@inject CommonSettings commonSettings
@model DiscountIndexModel
@inject IManufacturerService manufacturerService
@inject MediaSettings mediaSettings
@inject IPictureService pictureService

@{
    Layout = "_Root";
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters/Themes/Venture/Content/AjaxFilters.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/lib/bootstrap-select/select.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/lib/bootstrap-select/bootstrap-select.min.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap-select/i18n/defaults-en_US.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap-select/bootstrap-select.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/bootstrap.min.js");
    //title
    Html.AddTitleParts(T("PageTitle.Discount").Text);
    //page class
    Html.AppendPageCssClassParts("category-page-body discount-page-body");
}
<style>
    .discount-page-body .title-title-wrapper {
        text-align: center;
        background: #481FB4;
    }

        .discount-page-body .title-title-wrapper span {
            font-size: 25px;
            color: white;
            line-height: 60px;
        }

    .discount-page-body .ui-slider .ui-slider-range,
    .discount-page-body .filtersGroupPanel .checkbox-list input:checked + label:after {
        background-color: #ff2f00;
    }
</style>
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;

    var orderby = 9;
    var manufacturerFilterItemsAfterOrder = new Dictionary<int, KeyValuePair<int, string>>();
    foreach (var item in Model.AvailableManufacturers)
    {
        if (item.Value.ToLower().StartsWith("apple"))
        {
            manufacturerFilterItemsAfterOrder.Add(1, item);
        }
        else if (item.Value.ToLower().StartsWith("samsung"))
        {
            manufacturerFilterItemsAfterOrder.Add(2, item);
        }
        else if (item.Value.ToLower().StartsWith("sony"))
        {
            manufacturerFilterItemsAfterOrder.Add(3, item);
        }
        else if (item.Value.ToLower().StartsWith("huawei"))
        {
            manufacturerFilterItemsAfterOrder.Add(4, item);
        }
        else if (item.Value.ToLower().StartsWith("htc"))
        {
            manufacturerFilterItemsAfterOrder.Add(5, item);
        }
        else if (item.Value.ToLower().StartsWith("google"))
        {
            manufacturerFilterItemsAfterOrder.Add(6, item);
        }
        else if (item.Value.ToLower().StartsWith("lg"))
        {
            manufacturerFilterItemsAfterOrder.Add(7, item);
        }
        else if (item.Value.ToLower().StartsWith("nokia"))
        {
            manufacturerFilterItemsAfterOrder.Add(8, item);
        }
        else
        {
            manufacturerFilterItemsAfterOrder.Add(orderby, item);
            orderby += 1;
        }
    }
    var manufacturerList = manufacturerFilterItemsAfterOrder.OrderBy(x => x.Key).ToList();
}

<div class="center-2 items-3">
    <div class="page search-page">
        <div class="category-page-title">
            <div class="title-title-wrapper">
                <h1>
                    <span>@T("PageTitle.Discount")</span>
                </h1>
            </div>
        </div>
        <div class="page-body">
            <div class="product-selectors">
                <div class="filters-button-wrapper">
                    <button class="filters-button">Filter</button>
                </div>
                <div class="product-viewmode">
                    <span data-items="3" title="3 Items in Grid" class="grid items-3 selected">3 Items in Grid</span>
                    <span data-items="4" title="4 Items in Grid" class="grid items-4">4 Items in Grid</span>
                </div>
                <div class="compare-products-link">
                    <a href="/compareproducts">Compare products list</a>
                </div>
                <div class="product-page-size">
                    <select id="products-pagesize" name="products-pagesize" class="productsPageSizeDropDown"><option selected="selected" value="18">18</option><option value="36">36</option></select>
                </div>
                <div class="product-sorting">
                    <select id="products-orderby" name="products-orderby" class="sortOptionsDropDown"><option selected="selected" value="0">Most Popular</option><option value="10">Price: Low to High</option><option value="11">Price: High to Low</option></select>
                </div>
            </div>
            <div id="discount-products-list">

            </div>
        </div>
    </div>
</div>
<div class="side-2 hide-max-1200">
    <div class="blocks-wrapper">
        <div class="block block-category-navigation">
            <div class="title">
                <strong>@T("Categories")</strong>
            </div>
            <select class="categorylist  categorylist-pc" name="categorylist">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">
                        @category.Name
                    </option>
                }
            </select>
        </div>
        <div class="nopAjaxFilters">
            <div class="filtersPanel">
                <div class="block filter-block priceRangeFilterPanel7Spikes" data-currentcurrencysymbol="£">
                    <div class="title">
                        <a class="toggleControl">@T("admin.catalog.categories.fields.priceranges")</a>
                    </div>
                    <div class="filtersGroupPanel">
                        <div class="priceRangeMinMaxPanel">
                            <span class="priceRangeMinPanel">
                                <span>@T("sevenspikes.nopajaxfilters.client.pricerangefilter.min"):</span>
                                <span class="priceRangeMinPrice">@string.Concat(Model.CurrencySymbol, Model.MinPrice, ".00")</span>
                            </span>
                            <span class="priceRangeMaxPanel">
                                <span>@T("sevenspikes.nopajaxfilters.client.pricerangefilter.max"):</span>
                                <span class="priceRangeMaxPrice">@string.Concat(Model.CurrencySymbol, Model.MaxPrice, ".00")</span>
                            </span>
                        </div>
                        <div class="slider-range slider-range-pc"></div>
                    </div>
                </div>
                <div class="block filter-block manufacturerFilter">
                    <div class="title">
                        <a class="toggleControl">@T("sevenspikes.themes.allure.common.brands")</a>
                    </div>
                    <div class="filtersGroupPanel filtersCheckboxPanel">
                        <ul class="checkbox-list">
                            @{
                                foreach (var manu in manufacturerList)
                                {
                                    var item = manu.Value;
                                    var brand = manufacturerService.GetManufacturerById(item.Key);
                                    var picture = pictureService.GetPictureById(brand.PictureId);
                                    var pictureSize = mediaSettings.ManufacturerThumbPictureSize;
                                    var brandUrl = pictureService.GetPictureUrl(picture, 90);
                                    <li class="checkbox-item @(manu.Key > 7 ? "hide-formobile" : "")">
                                        <input id="pc-@item.Value-@item.Key" class="chk-price-pc @item.Value-@item.Key" type="checkbox" data-name="@item.Value" value="@item.Key">
                                        <label class="filter-item-name" for="mb-@item.Value-@item.Key"><img class="filter-item-img" src="@brandUrl" /></label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nopAjaxFilters7Spikes ps-container hide-min-1201">
    <div class="filtersTitlePanel">
        <p class="filtersTitle">@T("sevenspikes.nopajaxfilters.client.common.filterby"):</p>
        <a class="clearFilterOptionsAll" style="display: block;">@T("admin.configuration.currencies.reset")</a>
    </div>
    <span class="close-btn btn-apply">@T("admin.configuration.currencies.apply")</span>
    <div class="block-category-7spikes">
        <div class="title">
            <strong>@T("Categories")</strong>
        </div>
        <select class="categorylist categorylist-mb" name="categorylist">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">
                    @category.Name
                </option>
            }
        </select>
    </div>
    <div class="block filter-block priceRangeFilterPanel7Spikes" data-currentcurrencysymbol="£">
        <div class="title">
            <a class="toggleControl">@T("admin.catalog.categories.fields.priceranges")</a>
        </div>
        <div class="filtersGroupPanel disabled" style="">
            <div class="priceRangeMinMaxPanel">
                <span class="priceRangeMinPanel">
                    <span>@T("sevenspikes.nopajaxfilters.client.pricerangefilter.min"):</span>
                    <span class="priceRangeMinPrice">@string.Concat(Model.CurrencySymbol, Model.MinPrice, ".00")</span>
                </span>
                <span class="priceRangeMaxPanel">
                    <span>@T("sevenspikes.nopajaxfilters.client.pricerangefilter.max"):</span>
                    <span class="priceRangeMaxPrice">@string.Concat(Model.CurrencySymbol, Model.MaxPrice, ".00")</span>
                </span>
            </div>
            <div class="slider-range slider-range-mb"></div>
        </div>
    </div>
    <div class="block filter-block manufacturerFilterPanel7Spikes">
        <div class="title">
            <a class="toggleControl">@T("sevenspikes.themes.allure.common.brands")</a>
        </div>
        <div class="filtersGroupPanel filtersCheckboxPanel" style="">
            <ul class="checkbox-list">
                @{
                    foreach (var manu in manufacturerList)
                    {
                        var item = manu.Value;
                        var brand = manufacturerService.GetManufacturerById(item.Key);
                        var picture = pictureService.GetPictureById(brand.PictureId);
                        var pictureSize = mediaSettings.ManufacturerThumbPictureSize;
                        var brandUrl = pictureService.GetPictureUrl(picture, 90);
                        <li class="checkbox-item @(manu.Key > 7 ? "hide-formobile" : "")">
                            <input id="mb-@item.Value-@item.Key" class="chk-price-mb @item.Value-@item.Key" type="checkbox" data-name="@item.Value" value="@item.Key">
                            <label class="filter-item-name" for="mb-@item.Value-@item.Key"><img class="filter-item-img" src="@brandUrl" /></label>
                        </li>
                    }
                }
            </ul>
            <span class="show-more-plus">
                @T("activitylog.showmore")
            </span>
        </div>
    </div>
</div>

<script>
    $(function () {
        var filterObj = {
            priceFrom: @Model.MinPrice,
            priceTo: @Model.MaxPrice,
            manufacturerIds: [],
            pageSize: 18,
            pageNumber: 1,
            categoryIds: []
        };
        $(".categorylist").selectpicker();
        var cflag = 0;
        $(".categorylist").change(function () {
            if (cflag === 0) {
                filterObj.categoryIds = [];
                cflag = 1;
            } else {
                cflag = 0;
                return;
            }
            if ($(this).val()) {
                //if select All
                if ($(this).val() !== '153') {
                    filterObj.categoryIds.push($(this).val());
                }
                $(".categorylist").selectpicker('val', $(this).val());
            }
            if ($(this).hasClass("categorylist-pc")) {
                filterObj.pageNumber = 1;
                onFilterChanged();
            }
        });

        function initPriceSlider() {
            $(".slider-range").slider({
                range: true,
                min: filterObj.priceFrom,
                max: filterObj.priceTo,
                values: [filterObj.priceFrom, filterObj.priceTo],
                slide: function (event, ui) {
                    $(".ui-slider-left-monitor").html(ui.values[0]);
                    $(".ui-slider-right-monitor").html(ui.values[1]);
                    filterObj.priceFrom = ui.values[0];
                    filterObj.priceTo = ui.values[1];
                    if ($(this).hasClass("slider-range-pc")) {
                        $(".slider-range-mb").slider("values", [filterObj.priceFrom, filterObj.priceTo]);
                        filterObj.pageNumber = 1;
                        onFilterChanged();
                    } else {
                        $(".slider-range-pc").slider("values", [filterObj.priceFrom, filterObj.priceTo]);
                    }
                }
            });

            $(".slider-range-pc .ui-slider-handle").first().html('<span class="ui-slider-left-monitor">@Model.MinPrice</span>');
            $(".slider-range-pc .ui-slider-handle").last().html('<span class="ui-slider-right-monitor">@Model.MaxPrice</span>');
            $(".slider-range-mb .ui-slider-handle").first().html('<span class="ui-slider-left-monitor">@Model.MinPrice</span>');
            $(".slider-range-mb .ui-slider-handle").last().html('<span class="ui-slider-right-monitor">@Model.MaxPrice\</span>');
        }
        initPriceSlider();

        $(".show-more-plus").on("click", function () {
            if ($(this).hasClass("show")) {
                $(this).removeClass("show");
                $(this).text("@T("activitylog.showmore")");
                $(this).prev().find("li").each(function (index) {
                    if (index > 8) {
                        $(this).addClass("hide-formobile");
                    }
                });
            }
            else {
                $(this).prev().find(".checkbox-item").removeClass("hide-formobile");
                $(this).addClass("show");
                $(this).text("@T("activitylog.hide")");
            }
        });

        $(".clearFilterOptionsAll").on("click", function () {
            var min = $(".slider-range").slider("option", "min");
            var max = $(".slider-range").slider("option", "max");
            $(".ui-slider-left-monitor").html(min);
            $(".ui-slider-right-monitor").html(max);
            $(".slider-range").slider("values", [min, max]);

            $(".checkbox-item input[type=checkbox]").prop("checked", false);
        });

        $(".btn-apply").on("click", function () {
            filterObj.pageNumber = 1;
            onFilterChanged();
        });

        $("#products-orderby").on("change", function () {
            filterObj.pageNumber = 1;
            onFilterChanged();
        });

        $("#products-pagesize").on("change", function () {
            filterObj.pageNumber = 1;
            onFilterChanged();
        });

        $(".checkbox-list .checkbox-item").on("click", function () {
            var ele = $(this).find("input[type=checkbox]");
            //ele.prop("checked", ele.is(":checked"));
            $('.checkbox-item input.' + ele.data("name") + '-' + ele.val()).first().prop("checked", ele.is(":checked"))
            if (!ele.hasClass("chk-price-pc")) {
                $(".checkbox-list .checkbox-item").removeClass("checked");
                $(".checkbox-list").find(".chk-price-pc:checked").parent().addClass("checked");
                filterObj.pageNumber = 1;
                onFilterChanged();
            }
           
        });

        var timeoutflag = null;
        function onFilterChanged() {
            if (timeoutflag != null) {
                clearTimeout(timeoutflag);
            }
            setBusy(true);
            filterObj.manufacturerIds = [];
            $(".checkbox-list").find(".chk-price-pc:checked").each(function () {
                filterObj.manufacturerIds.push($(this).val());
            });
            filterObj.orderBy = $('#products-orderby').val();
            filterObj.pageSize = $('#products-pagesize').val();

            timeoutflag = setTimeout(function () {
                requestAjaxData();
            }, 500);
        }

        onFilterChanged();

        var onLoading = false;
        function requestAjaxData() {
            $.ajax({
                type: 'post',
                url: '/Discount/OpcLoadProductsGridMethod',
                dataType: 'json',
                async: false,
                data: filterObj,
                success: function (data) {
                    closeBusy();
                    $("#discount-products-list").html(data.update_section);
                    lazyLoadAllImages();
                    dealPager();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    closeBusy();
                },
            });
        }

        function setBusy(loading) {
            onLoading = loading;
            $(".ajax-loading-block-window").css("display", "block");
        }
        setBusy(false);
        function closeBusy() {
            onLoading = false;
            $(".ajax-loading-block-window").css("display", "none");
        }

        function getQueryString(search, name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        function dealPager() {
            $(".pager").find("a").each(function () {
                $this = $(this);
                var url = $this.prop("href");
                $this.prop("href", "javascript:;");
                var pagenumber = getQueryString(url.substring(url.indexOf("?")), "pagenumber");
                $this.data("pagenumber", pagenumber);
            });

            $(".pager a").on("click", function () {
                if (onLoading) {
                    return;
                }
                filterObj.pageNumber = $(this).data("pagenumber");
                onFilterChanged();
            });
        }
    });
</script>