﻿@using Nop.Web.Models.Discounts;
@model DicountProductsModel

@{ 
    var list = "Sale Page";
    TempData["list"] = list;
}

<div class="search-results store-search-results">
    @if (Model.Products.Count > 0)
    {
        <div class="product-grid">
            <div class="item-grid">
                @foreach (var product in Model.Products)
                {
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox",
                                                product,
                                                new ViewDataDictionary(ViewData)
                                                {
                                                    { "list", list }
                                                })
                    </div>
                }
            </div>
        </div>
    }
    @{
        var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
    }
    @if (!pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_bottom", additionalData = Model.Id })
</div>

<script>
    // Measures product impressions and also tracks a standard
    // pageview for the tag configuration.
    // Product impressions are sent by pushing an impressions object
    // containing one or more impressionFieldObjects.
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        "event": "productImpression",
        "ecommerce": {
            "currencyCode": "GBP",
            "impressions": [
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <text>
                    {
                        'id': '@Model.Products[i].Id',
                        'name': '@Model.Products[i].Name',
                        //'list': '@list',
                        'list': '@Model.Products[i].'
                    }
                    </text>
                    if (i < Model.Products.Count - 1)
                    {
                        <text>,</text>
                    }
                }
            ]

        }
    });
</script>