﻿@using System.Linq
@model CheckoutCompletedModel
@inject Nop.Services.Orders.IOrderService orderService
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");

    var order = orderService.GetOrderById(Model.OrderId);
    var orderItems = order.OrderItems.ToList();
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/mobile-detect/mobile-detect.min.js");
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress",  new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_top", additionalData = Model.OrderId })
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_bottom", additionalData = Model.OrderId })
    </div>
</div>

<script asp-location="Footer">
    function isMobileDevice() {
        var md = new MobileDetect(window.navigator.userAgent);

        return md.mobile() != null;
    }

    $(document).ready(function() {
        @{
            var salesValue = Nop.Services.Catalog.RoundingHelper.RoundPrice(order.OrderTotal);
            var refurbOrderItems = new System.Collections.Generic.List<Nop.Core.Domain.Orders.OrderItem>();
        }

        @foreach (var orderItem in orderItems)
        {
            bool hasRefurb = false;
            var specAttrOptions = orderItem.Product.ProductSpecificationAttributes
                .Where(x => x.SpecificationAttributeOption != null)
                .Select(x => x.SpecificationAttributeOption);

            foreach (var option in specAttrOptions)
            {
                if (option.SpecificationAttribute.Name.ToLower().Trim() == "condition")
                {
                    if (option.Name.ToLower().Trim() == "renew")
                    {
                        hasRefurb = true;
                        continue;
                    }
                }
            }

            if (hasRefurb)
            {
                refurbOrderItems.Add(orderItem);
            }
        }

        @if (refurbOrderItems.Count > 0)
        {
            <text>
                //Adform Refurb Sale Tracking Code BEGIN
                window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
                window._adftrack.push({
                    pm: 673450,
                    divider: encodeURIComponent('|'),
                    pagename: encodeURIComponent((isMobileDevice() ? 'Refurb Sale (Mobile)' : 'Refurb Sale')),
                    order : { 
                        sales: '@salesValue',
                        itms: [
                            @for(int i = 0; i < refurbOrderItems.Count; i++)
                            {
                                <text>
                                { 
                                    productname: '@refurbOrderItems[i].Product.Name'
                                }
                                </text>
                                if(i < refurbOrderItems.Count - 1)
                                {
                                    <text>,</text>
                                }
                            }
                        ]
                    }
                });
                (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
                //Adform Refurb Sale Tracking Code END
            </text>
        }
    });
</script>