﻿@model CheckoutInsuranceDirectDebitModel
@{
    Layout = "_Root.ForCart";
    Html.AddCssFileParts("~/Themes/Venture/Content/CSS/theme.custom.checkout.css");
    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}
<div class="page checkout-page insurance-info-page">
    <div class="page-body">
        <div class="center-part">
            <div class="check-out-box">
                <div class="payment-info insurance-direct-debit-info">
                    <form asp-action="InsuranceDirectDebitInfo" method="post">
                        <div class="con-checkout-payment-insurance payment-padding">
                            <div class="insurance-info-title">
                                Insurance Direct Debit Information
                                <a>
                                    <sup>
                                        <span class="badge directDebitGuaranteeScheme_modal" style="background-color:#bdbdbd;font-size:14px">?</span>
                                    </sup>
                                </a>
                                <div style="font-size:15px;line-height: 22px;">
                                    In order to add insurance for your new device, please enter your direct debit details. Your details will be passed to Bastion Insurance Services Ltd who administer the insurance and with whom the Direct Debit will be set up.
                                    <br />
                                    Please note no payment will be taken today.
                                </div>
                            </div>
                            <div class="insurance-info">
                                <div class="row">
                                    <div class="col-md-3 payment-input-label">
                                        <nop-label asp-for="BankAccountName" />
                                    </div>
                                    <div class="form-item col-md-9">
                                        <input asp-for="BankAccountName" class="text" type="text" value="" placeholder="Bank Account Name" />
                                        <span class="required">*</span>
                                        <span asp-validation-for="BankAccountName"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 payment-input-label">
                                        <nop-label asp-for="SortCode" />
                                    </div>
                                    <div class="form-item col-md-9">
                                        <input asp-for="SortCode" class="text" type="text" value="" placeholder="Sort Code" />
                                        <span class="required">*</span>
                                        <span asp-validation-for="SortCode"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 payment-input-label">
                                        <nop-label asp-for="AccountNumber" />
                                    </div>
                                    <div class="form-item col-md-9">
                                        <input asp-for="AccountNumber" class="text" type="text" value="" placeholder="Account Number" />
                                        <span class="required">*</span>
                                        <span asp-validation-for="AccountNumber"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dr-clear">
                            <div class="">
                                <div class="col-lg-12 col-md-12 your-card-information-next-step">
                                    <div class="text-center">
                                        <input class="your-card-information-next-step-button ts-confirmInsurance" type="button" value="CONFIRM" />
                                        <input style="display: none;" id="ts-confirmInsurance" type="submit" name="nextstep" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="directDebitGuaranteeScheme_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="freedelivery_title">Direct Debit Guarantee Scheme</h4>
            </div>
            <div class="modal-body" id="freedelivery_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "DirectDebitGuaranteeSchemePopup" })
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".directDebitGuaranteeScheme_modal").click(function () {
            $("#directDebitGuaranteeScheme_modal").modal("show");
        });
        $(".ts-confirmInsurance").click(function (event) {
            $("#ts-confirmInsurance").trigger("click");
        });
    });
</script>