﻿@using Nop.Core.Domain.Customers
@model CheckoutConfirmModel
@inject Nop.Core.IWorkContext workContext
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_confirm_top" })
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
    <div class="section confirm-order">
        @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
        {
        <div>
            <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
        </div>
        }
        @if (Model.Warnings.Count > 0)
        {
        <div class="message-error">
            <ul>
                @foreach (var warning in Model.Warnings)
                {
                <li>@warning</li>
                }
            </ul>
        </div>
        }
    </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_confirm_bottom" })
    <div class="section order-summary">
        @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
    </div>
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
    <div id="terms-of-service-warning-box" title="@T(" Checkout.TermsOfService")" style="display:none;">
        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
    </div>
    <div class="terms-of-service">
        <input id="termsofservice" type="checkbox" name="termsofservice" />
        <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")
            @if (Model.TermsOfServicePopup)
            {
            <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#read-terms').on('click', function (e) {
                        e.preventDefault();
                        displayPopupContentFromUrl(
                            '@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})',
                            '@T("Checkout.TermsOfService")');
                    });
                });
            </script>
            }
            else
            {
            <a class="read" id="read-terms" href="@Url.RouteUrl(" Topic", new {SeName=Html.GetTopicSeName("conditionsofuse")
                })">@T("Checkout.TermsOfService.Read")</a>
            }
        </label>
    </div>
    }
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && !workContext.CurrentCustomer.IsRegistered())
    {
    <div class="accept-privacy-policy">
        <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
        <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>

        <a class="read" id="read-privacyinfo" href="/privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
    </div>
    }
</div>
