﻿@model CheckoutPaymentInfoModel
@{
    Layout = "_Root.ForCart";
    Html.AddCssFileParts("~/Themes/Venture/Content/CSS/theme.custom.checkout.css");
    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}
<div class="page checkout-page payment-info-page">
    @*<div class="page-title" style="margin-bottom: 20px;">
            <h1>Your Card Information</h1>
        </div>*@
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Payment })
    <div class="page-body">
        <div class="left-part">
            <div class="check-out-box">
                <div class="payment-info">
                    <form asp-action="ThreeStepPaymentInfo" method="post">
                        <div class="content row payment-title">
                            <div class="col-sm-12 col-xs-12">
                                <label class="checout-title">Payment</label>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.PaymentViewComponentName))
                        {
                        <div class="content row content-border" style="padding-bottom:20px">
                            <div class="contentItem col-sm-6  col-xs-12">
                                <h2 class="tipped">Your Card Information</h2>
                                <div class="submit-info">
                                    @await Component.InvokeAsync(Model.PaymentViewComponentName)
                                </div>
                            </div>
                            <div class="contentItem col-sm-6  col-xs-12">
                                <div class="payment-logo">
                                    <img src="~/Themes/Venture/Content/img/Old Master Card Logo.jpeg" />
                                    <img src="~/Themes/Venture/Content/img/Visa Logo.jpg" />
                                    <img src="~/Themes/Venture/Content/img/Discover Network.jpg" />
                                </div>
                            </div>
                            @if (Model.NeedUseInsurance)
                            {
                            <div class="con-checkout-payment-insurance col-sm-6  col-xs-12">
                                <div class="insurance-info-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Insurance Direct Debit Information
                                            <a>
                                                <sup>
                                                    <span class="badge directDebitGuaranteeScheme_modal" style="background-color:#bdbdbd;font-size:14px">?</span>
                                                </sup>
                                            </a>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="sub-title">In order to add insurance for your new device, please enter your direct debit details. 
                                            Your details will be passed to Bastion Insurance Services Ltd who administer the insurance and with whom the Direct Debit will be set up.  </p>
                                            <p class="sub-title">Please note no payment will be taken today</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="insurance-info">
                                    <div class="row">
                                        <div class="col-md-3 payment-input-label">
                                            <nop-label asp-for="BankAccountName" />
                                        </div>
                                        <div class="form-item col-md-9">
                                            <input asp-for="BankAccountName" class="text" type="text" value="" placeholder="Bank Account Name" />
                                            <span class="required">*</span>
                                            <span asp-validation-for="BankAccountName"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 payment-input-label">
                                            <nop-label asp-for="SortCode" />
                                        </div>
                                        <div class="form-item col-md-9">
                                            <input asp-for="SortCode" class="text" type="text" value="" placeholder="Sort Code" />
                                            <span class="required">*</span>
                                            <span asp-validation-for="SortCode"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 payment-input-label">
                                            <nop-label asp-for="AccountNumber" />
                                        </div>
                                        <div class="form-item col-md-9">
                                            <input asp-for="AccountNumber" class="text" type="text" value="" placeholder="Account Number" />
                                            <span class="required">*</span>
                                            <span asp-validation-for="AccountNumber"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                            <div asp-validation-summary="All" class="message-error"></div>
                            <div class="row dr-clear">
                                <div class="">
                                    <div class="col-lg-12 col-md-12 your-card-information-next-step">
                                        <div class="text-center" id="accept-signup-terms">
                                            <label class="accept-signup-a un-check"></label>
                                            <label>
                                                I agree to the
                                                <a class="termsofwebsiteuse">Terms and Conditions</a>
                                                and
                                                <a class="privacy-policy">Privacy Policy.</a>
                                            </label>
                                        </div>
                                        <div class="text-center">
                                            <input style="display: none;" class="your-card-information-next-step-button payment-info-next-step-button" type="button" />
                                            <input class="your-card-information-next-step-button ts-confirmOrder" type="button" disabled="disabled" value="CONFIRM ORDER" />
                                            <input style="display: none;" id="ts-confirmOrder" type="submit" name="nextstep" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.BankInfo != null)
                        {
                            <div class="con-checkout-payment-transfer content-border-top">
                                <div class="con-checkout-payment-content payment-padding">
                                    <p class="text-warning-tip">You will need to quote your Order ID ‘O-MAZ-*****’ in the ‘reason of payment’, if this is not completed it may incur a delay.</p>
                                    <h3 class="bank-account-info-title">The Payment has to be made to</h3>
                                    <div class="bank-account-info">
                                        <span>@T("payment.bankinfo.companyname"): @Model.BankInfo.CompanyName</span>
                                        <span>@T("payment.bankinfo.address"): @Model.BankInfo.Address</span>
                                        <span>@T("payment.bankinfo.iban"): @Model.BankInfo.IBAN</span>
                                    </div>
                                    <p>
                                        Please note that it takes approximately 2 to 5 days to process your bank transfer, although sometimes it may take longer.
                                        <br />
                                        During this time the order will be marked as "Pending". When the payment has been succesfully registered, Mazuma will proceed with the shipment, therefore the order will be marked as "Completed" then "Shipped".
                                        <br />
                                        Click here for a <a class="link link-blue" href="/bank-transfer-manual" target="_blank">Bank Transfer Step by Step</a> guidelines.
                                    </p>
                                </div>
                                @if (Model.NeedUseInsurance)
                                {
                                    <div class="con-checkout-payment-insurance payment-padding">
                                        <div class="insurance-info-title">
                                            Insurance Direct Debit Information
                                            <a>
                                                <sup>
                                                    <span class="badge defect_warranty" style="background-color:#bdbdbd;font-size:14px">?</span>
                                                </sup>
                                            </a>
                                            <div>
                                                <p class="sub-title">In order to add insurance for you new device, please enter your direct debit details.</p>
                                                <p class="sub-title">Please note no payment will be taken today</p>
                                            </div>
                                        </div>
                                        <div class="insurance-info">
                                            <div class="row">
                                                <div class="col-md-3 payment-input-label">
                                                    <nop-label asp-for="BankAccountName" />
                                                </div>
                                                <div class="form-item col-md-9">
                                                    <input asp-for="BankAccountName" class="text" type="text" value="" placeholder="Bank Account Name" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="BankAccountName"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 payment-input-label">
                                                    <nop-label asp-for="SortCode" />
                                                </div>
                                                <div class="form-item col-md-9">
                                                    <input asp-for="SortCode" class="text" type="text" value="" placeholder="Sort Code" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="SortCode"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 payment-input-label">
                                                    <nop-label asp-for="AccountNumber" />
                                                </div>
                                                <div class="form-item col-md-9">
                                                    <input asp-for="AccountNumber" class="text" type="text" value="" placeholder="Account Number" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="AccountNumber"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="payment-transfer-botton payment-padding">
                                    <div>
                                        <label class="accept-signup-a un-check"></label>
                                        <label>
                                            I agree to the
                                            <a class="termsofwebsiteuse">Terms and Conditions</a>
                                            and
                                            <a class="privacy-policy">Privacy Policy.</a>
                                        </label>
                                    </div>
                                    <div class="con-btn-confirm">
                                        <input style="display: none;" class="your-card-information-next-step-button payment-info-next-step-button" type="button" />
                                        <input class="your-card-information-next-step-button ts-confirmOrder" type="button" disabled="disabled" value="CONFIRM ORDER" />
                                        <input style="display: none;" id="ts-confirmOrder" type="submit" name="nextstep" />
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>

        <div class="right-part">
            @await Component.InvokeAsync("CheckOutSummary")
        </div>
        @*@await Component.InvokeAsync("Widget", new { widgetZone = "checkout_payment_info_bottom" })*@
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="defect_warranty_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="defect_warranty_title">12 months warranty</h4>
            </div>
            <div class="modal-body" id="defect_warranty_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "DefectWarrantyPopup" })
            </div>
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="freedelivery_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="freedelivery_title">FREE Next Day Delivery</h4>
            </div>
            <div class="modal-body" id="freedelivery_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "FreeDeliveryPopup" })
            </div>
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="directDebitGuaranteeScheme_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="freedelivery_title">Direct Debit Guarantee Scheme</h4>
            </div>
            <div class="modal-body" id="freedelivery_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "DirectDebitGuaranteeSchemePopup" })
            </div>
        </div>
    </div>
</div>
<script>
    function enableNextStepButton() {
        if ($(".accept-signup-a").hasClass("checked")) {
            $('.ts-confirmOrder').prop('disabled', false);
            $('.ts-confirmOrder').css("opacity", 1);
        }
        else {
            disableNextStepButton();
        }
    }
    function disableNextStepButton() {
        $('.ts-confirmOrder').prop('disabled', true);
        $('.ts-confirmOrder').css("opacity", .3);
    }
    $(document).ready(function () {
        $(".directDebitGuaranteeScheme_modal").click(function () {
            $("#directDebitGuaranteeScheme_modal").modal("show");
        });
        $(".accept-signup-a").click(function () {
            if ($(this).hasClass("checked")) {
                $(this).removeClass("checked");
                $(this).parents(".your-card-information-next-step").removeClass("active");
                //$("input[name='nextstep']").attr("disabled", "disabled");
                disableNextStepButton();
            }
            else {
                $(this).addClass("checked");
                $(this).parents(".your-card-information-next-step").addClass("active")
                //$("input[name='nextstep']").removeAttr("disabled");
                enableNextStepButton();
            }
        });
        $('.termsofwebsiteuse').on('click', function(e) {
            e.preventDefault();
            var width = $(window).innerWidth() * 0.8;
            displayPopupContentFromUrl(
                '@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})',
                '@T("Checkout.TermsOfService")', false, width);
        });
        $('.privacy-policy').on('click', function(e) {
            e.preventDefault();
            var width = $(window).innerWidth() * 0.8;
            displayPopupContentFromUrl(
                '@Url.RouteUrl("TopicPopup", new {SystemName = "Mazuma-Venture.PrivacyPolicy" })',
                'Privacy Policy', false, width);
        });

        $(".ts-confirmOrder").click(function (event) {
            var needUseInsurance = "@Model.NeedUseInsurance";
            if (needUseInsurance == "True") {
                if (!$('#BankAccountName').val()) {
                    alert('@T("paymentinfo.BankAccountName.required")');
                    //$(".payment-errors").text('@T("paymentinfo.BankAccountName.required")');
                    $(".payment-info-next-step-button").removeAttr("disabled");
                    return false;
                }
                if (!$('#SortCode').val()) {
                    alert('@T("paymentinfo.SortCode.required")');
                    //$(".payment-errors").text('@T("paymentinfo.SortCode.required")');
                    $(".payment-info-next-step-button").removeAttr("disabled");
                    return false;
                }
                if (!$('#AccountNumber').val()) {
                    alert('@T("paymentinfo.SortCode.required")');
                    //$(".payment-errors").text('@T("paymentinfo.AccountNumber.required")');
                    $(".payment-info-next-step-button").removeAttr("disabled");
                    return false;
                }
            }

            $(".payment-info-next-step-button").trigger("click");
        });
    });
</script>