﻿@model CheckoutYourDetailModel
@using Nop.Core
@inject IWebHelper webHelper
@using System.Text.Encodings.Web
@using Nop.Core.Domain.Customers
@inject Nop.Core.IWorkContext workContext
@{
    //Layout = "_ColumnsOne";
    Layout = "_Root.ForCart";

    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.checkout.css");
    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");

    var customerRegistered = workContext.CurrentCustomer.IsRegistered();
    var customerShoppingCart = workContext.CurrentCustomer.ShoppingCartItems.ToList();

    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-billing-address-page");
}

<script>
    var _errorMessage = "@Model._ErrorMessage";
    if (_errorMessage) {
        alert(_errorMessage);
    }
</script>
<div class="page checkout-page billing-address-page">
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Address })
    <div class="page-body checkout-data">
        <div class="left-part">
            <div class="check-out-box">
                <form asp-action="ThreeStepFirst" method="post" class="form-checkout">
                    <div class="content row titleandlogin">
                        <div class="col-xs-12">
                            <label class="checout-title">Checkout</label>
                        </div>
                        @if (!customerRegistered)
                        {
                            <div class="method-login">
                                <span class="ta-label">Existing customer?  <a href="@Url.RouteUrl("Login", new { returnUrl = "/checkout/tsbillingaddress" })">LOGIN</a></span>
                            </div>
                        }
                    </div>

                    <div class="content row checkout-data-content">
                        <div class="contentItem col-lg-6 col-sm-12  checkout-data-left">
                            <h1 class="tipped">Your Details</h1>
                            <div class="submit-info">
                                <div class="billing-error" style="display: none;">
                                    <div class="message-error validation-summary-errors" data-valmsg-summary="true">

                                    </div>
                                </div>
                                <div class="your-details billing-address ">
                                    <div class="row">
                                        <div class="form-item col-xs-12">
                                            <select id="BillingAddressSelectedId" name="BillingAddressSelectedId" class=""
                                                    title="" onchange="isSelectNewAddress('#BillingAddressSelectedId', '.billing-address-new',this.value)">
                                                @foreach (var address in Model.ExistingAddresses)
                                                {
                                                    var addressLine = "";
                                                    addressLine += address.FirstName;
                                                    addressLine += " " + address.LastName;
                                                    if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address1))
                                                    {
                                                        addressLine += ", " + address.Address1;
                                                    }
                                                    if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
                                                    {
                                                        addressLine += ", " + address.City;
                                                    }
                                                    if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
                                                    {
                                                        addressLine += ", " + address.StateProvinceName;
                                                    }
                                                    if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
                                                    {
                                                        addressLine += " " + address.ZipPostalCode;
                                                    }
                                                    if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
                                                    {
                                                        addressLine += ", " + address.CountryName;
                                                    }
                                                    //how should we render "FormattedCustomAddressAttributes" here?
                                                    <option value="@(address.Id)" selected="@(address.Id == Model.BillingAddressSelectedId)">@(addressLine)</option>
                                                }
                                                <option value="0">@T("Checkout.NewAddress")</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="billing-address-new">
                                        <div class="row">
                                            <div class="form-item col-xs-12 col-sm-6">
                                                <input asp-for="BillingNewAddress.FirstName" class="text" style="border-right: 0" type="text" value="" placeholder="First Name" />
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.FirstName"></span>
                                            </div>

                                            <div class="form-item col-xs-12 col-sm-6">
                                                <input asp-for="BillingNewAddress.LastName" class="text" type="text" value="" placeholder="Last Name" />
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.LastName"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-item col-xs-12">
                                                <input asp-for="BillingNewAddress.PhoneNumber" class="text" type="text" value="" placeholder="Daytime Contact-Number" />
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.PhoneNumber"></span>
                                            </div>
                                            <div class="form-item col-xs-12">
                                                <input asp-for="BillingNewAddress.Email" class="text" autocomplete="off" type="email" value="" placeholder="Email Address" />
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.Email"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @if (!customerRegistered)
                                    {
                                        <hr />
                                        <div class="row radio-content form-item iscreateaccount">
                                            <input type="radio" class="account-create" id="guest-account" name="IsCreateAccount" value="false" />
                                            <label for="guest-account">Checkout as Guest</label>
                                            <input type="radio" class="account-create" id="create-account" name="IsCreateAccount" value="true" />
                                            <label for="create-account">Create Account</label>
                                            <span class="help" onclick="TipsPopUp()"></span>
                                            <span asp-validation-for="IsCreateAccount"></span>
                                        </div>
                                        <div class="create-account-inputs" style="display: none;">
                                            <input style="visibility:hidden" asp-for="Email" class="text" type="email" autocomplete="off" value="" placeholder="Email Address" />
                                            <div class="row">
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="Password" class="text" onblur="checkoutPassword()" type="password" autocomplete="off" value="" placeholder="Password" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="Password"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-item col-xs-12">
                                                    <input id="ConfirmPassword" class="text" onblur="checkoutPassword()" type="password" autocomplete="off" value="" placeholder="ConfirmPassword" />
                                                    <span class="required">*</span>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            $(function () {
                                                $("input[name=IsCreateAccount]").click(function () {
                                                    var createAccount = $("input[name=IsCreateAccount]:checked").val();
                                                    if (createAccount == "true" || createAccount == "True") {
                                                        $(".create-account-inputs").show();
                                                    }
                                                    else {
                                                        $(".create-account-inputs").hide();
                                                    }
                                                });
                                            });
                                        </script>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="contentItem col-lg-6 col-sm-12  checkout-data-right">
                            <h1 class="tipped">Your Address</h1>
                            <div class="submit-info">
                                <div class="billing-address billing-address-new-postcode">
                                    <div class="row">
                                        @if (Model.ShippingNewAddress.ZipPostalCodeEnabled)
                                        {
                                            <div class="form-item col-xs-12 col-sm-7">
                                                <input asp-for="BillingNewAddress.ZipPostalCode" class="text" type="text" value="" placeholder="Postcode" />
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.ZipPostalCode"></span>
                                            </div>
                                            <div id="FindAddress_@Html.IdFor(x => x.BillingNewAddress.ZipPostalCode)" class="form-item col-xs-12 col-sm-5">
                                                <a class="btn">Find My Address</a>
                                            </div>
                                            <div class="form-item col-xs-12">
                                                <a class="links manual-address" onclick="showMyAddress(this,'.billing-address')">Click here to manually enter your address</a>
                                            </div>
                                            <label id="FindAddressLoading_@Html.IdFor(x => x.BillingNewAddress.ZipPostalCode)" style="display: none;">Loading...</label>
                                            <div id="FindAddressInputs_@Html.IdFor(x => x.BillingNewAddress.ZipPostalCode)" class="form-item col-xs-12" style="display: none;">
                                                <label>Select Address:</label>
                                                <select id="FindAddressSelect_@Html.IdFor(x => x.BillingNewAddress.ZipPostalCode)"></select>
                                            </div>
                                        }

                                    </div>
                                    <div class="row billing-address-content address-content" style="display:none;">
                                        <div class="form-item col-xs-12">
                                            <input asp-for="BillingNewAddress.Address1" required class="text" type="text" value="" placeholder="Address 1" maxlength="35" />
                                            <span class="required">*</span>
                                            <span asp-validation-for="BillingNewAddress.Address1"></span>
                                        </div>
                                        <div class="form-item col-xs-12">
                                            <input asp-for="BillingNewAddress.Address2" class="text" type="text" value="" placeholder="Address 2" maxlength="35" />
                                        </div>
                                        <div class="form-item col-xs-12">
                                            <input asp-for="BillingNewAddress.City" required class="text" type="text" value="" placeholder="City" />
                                            <span class="required">*</span>
                                            <span asp-validation-for="BillingNewAddress.City"></span>
                                        </div>
                                        @if (Model.BillingNewAddress.StateProvinceEnabled)
                                        {
                                            <div class="form-item col-xs-12">
                                                <select asp-for="BillingNewAddress.StateProvinceId" asp-items="Model.BillingNewAddress.AvailableStates"></select>
                                                <span id="BillingNewAddress-states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.StateProvinceId"></span>
                                            </div>
                                        }
                                        @if (Model.BillingNewAddress.CountryEnabled)
                                        {
                                            <div class="form-item col-xs-12">
                                                <select asp-for="BillingNewAddress.CountryId" asp-items="Model.BillingNewAddress.AvailableCountries"></select>
                                                <span class="required">*</span>
                                                <span asp-validation-for="BillingNewAddress.CountryId"></span>
                                            </div>
                                        }
                                    </div>
                                    <hr />
                                </div>
                                <div class="shipping-address">
                                    <div class="row radio-content">
                                        <label class="label-item">
                                            Same delivery address?
                                        </label>
                                        <input type="radio" id="yes" value="true" name="ShipToSameBillingAddress" />
                                        <label for="yes">Yes</label>
                                        <input type="radio" id="no" value="false" name="ShipToSameBillingAddress" />
                                        <label for="no">No</label>
                                        <span asp-validation-for="ShipToSameBillingAddress"></span>
                                        @*<p>Notice: If select "No" will show the address form</p>*@
                                    </div>
                                    <div class="shipping-error" style="display: none;">
                                        <div class="message-error validation-summary-errors" data-valmsg-summary="true">

                                        </div>
                                    </div>
                                    <div class="shipping-address-other">
                                        <div class="row">
                                            <div class="form-item col-xs-12">
                                                <select id="ShippingAddressSelectedId" name="ShippingAddressSelectedId" class=""
                                                        title="" onchange="isSelectNewAddress('#ShippingAddressSelectedId','.shipping-address-new',this.value)">
                                                    @foreach (var address in Model.ExistingAddresses)
                                                    {
                                                        var addressLine = "";
                                                        addressLine += address.FirstName;
                                                        addressLine += " " + address.LastName;
                                                        if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address1))
                                                        {
                                                            addressLine += ", " + address.Address1;
                                                        }
                                                        if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
                                                        {
                                                            addressLine += ", " + address.City;
                                                        }
                                                        if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
                                                        {
                                                            addressLine += ", " + address.StateProvinceName;
                                                        }
                                                        if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
                                                        {
                                                            addressLine += " " + address.ZipPostalCode;
                                                        }
                                                        if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
                                                        {
                                                            addressLine += ", " + address.CountryName;
                                                        }
                                                        //how should we render "FormattedCustomAddressAttributes" here?
                                                        <option value="@(address.Id)" selected="@(address.Id == Model.ShippingAddressSelectedId)">@(addressLine)</option>
                                                    }
                                                    <option value="0">@T("Checkout.NewAddress")</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="shipping-address-new">

                                            <div class="row">
                                                <div class="form-item col-xs-12 col-sm-6">
                                                    <input asp-for="ShippingNewAddress.FirstName" class="text" style="border-right: 0" type="text" value="" placeholder="First Name" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.FirstName"></span>
                                                </div>

                                                <div class="form-item col-xs-12 col-sm-6">
                                                    <input asp-for="ShippingNewAddress.LastName" class="text" type="text" value="" placeholder="Last Name" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.LastName"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="ShippingNewAddress.PhoneNumber" class="text" type="text" value="" placeholder="Daytime Contact-Number" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.PhoneNumber"></span>
                                                </div>
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="ShippingNewAddress.Email" class="text" autocomplete="off" type="email" value="" placeholder="Email Address" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.Email"></span>
                                                </div>
                                                @if (Model.ShippingNewAddress.ZipPostalCodeEnabled)
                                                {
                                                    <div class="form-item col-xs-12 col-sm-7">
                                                        <input asp-for="ShippingNewAddress.ZipPostalCode" class="text" type="text" value="" placeholder="Postcode" />
                                                        <span class="required">*</span>
                                                        <span asp-validation-for="ShippingNewAddress.ZipPostalCode"></span>
                                                    </div>
                                                    <div id="FindAddress_@Html.IdFor(x => x.ShippingNewAddress.ZipPostalCode)" class="form-item col-xs-12 col-sm-5">
                                                        <a class="btn">Find My Address</a>
                                                    </div>
                                                    <div class="form-item col-xs-12">
                                                        <a class="links manual-address" onclick="showMyAddress(this,'.shipping-address')">Click here to manually enter your address</a>
                                                    </div>
                                                    <label id="FindAddressLoading_@Html.IdFor(x => x.ShippingNewAddress.ZipPostalCode)" style="display: none;">Loading...</label>
                                                    <div id="FindAddressInputs_@Html.IdFor(x => x.ShippingNewAddress.ZipPostalCode)" class="form-item col-xs-12" style="display: none;">
                                                        <label>Select Address:</label>
                                                        <select id="FindAddressSelect_@Html.IdFor(x => x.ShippingNewAddress.ZipPostalCode)"></select>
                                                    </div>
                                                }

                                            </div>
                                            <div class="row shipping-address-content address-content" style="display:none;">
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="ShippingNewAddress.Address1" class="text" type="text" value="" placeholder="Address 1" maxlength="35" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.Address1"></span>
                                                </div>
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="ShippingNewAddress.Address2" class="text" type="text" value="" placeholder="Address 2" maxlength="35" />
                                                </div>
                                                <div class="form-item col-xs-12">
                                                    <input asp-for="ShippingNewAddress.City" class="text" type="text" value="" placeholder="City" />
                                                    <span class="required">*</span>
                                                    <span asp-validation-for="ShippingNewAddress.City"></span>
                                                </div>
                                                @if (Model.ShippingNewAddress.StateProvinceEnabled)
                                                {
                                                    <div class="form-item col-xs-12">
                                                        <select asp-for="ShippingNewAddress.StateProvinceId" asp-items="Model.ShippingNewAddress.AvailableStates"></select>
                                                        <span id="ShippingNewAddress-states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                                        <span class="required">*</span>
                                                        <span asp-validation-for="ShippingNewAddress.StateProvinceId"></span>
                                                    </div>
                                                }
                                                @if (Model.ShippingNewAddress.CountryEnabled)
                                                {
                                                    <div class="form-item col-xs-12">
                                                        <select asp-for="ShippingNewAddress.CountryId" asp-items="Model.ShippingNewAddress.AvailableCountries"></select>
                                                        <span class="required">*</span>
                                                        <span asp-validation-for="ShippingNewAddress.CountryId"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content row checkout-data-button text-center">
                        <button type="button" id="btn-continue" class="continue">continue</button>
                        <button style="display:none;" id="submit-tsf" type="submit" name="nextstep">continue</button>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                function TipsPopUp() {
                $("#tips_modal").modal("show");
                }

                function showMyAddress(e, parent) {
                $(parent + ' .address-content').show();
                $(e).hide();
                }

                function getAddress(zipPostalCode, zipPostalSelect, zipPostalInputs, addressFields, manualAddress, addressLoading) {
                    $.get('https://api.getAddress.io/find/' + zipPostalCode.replace(' ', '') + '?api-key=m0VgC_2N3kmxSirCVDUrow20718')
                        .done(function (data) {
                            if (data != null && data.addresses.length > 0) {
                                $.each(data.addresses, function (index, value) {
                                    var option = "<option value='" + value + "'>" + value + "</option>";
                                    //console.log(option);
                                    zipPostalSelect.append(option);
                                });
                                manualAddress.hide();
                                if (data.addresses.length == 1) {
                                    addressFields.show();
                                    zipPostalSelect.val(data.addresses[0]);
                                    zipPostalSelect.change();
                                } else {
                                    zipPostalInputs.show();
                                    addressFields.hide();
                                }
                            } else {
                                alert('No address found.');
                            }
                            addressLoading.hide();
                        })
                        .fail(function (jqXHR, textStatus, error) {
                            addressLoading.hide();
                            addressFields.hide();
                            manualAddress.show();

                            var status = jqXHR.status;

                            if (status == 404) {
                                alert('No address found.');
                            } else if (status == 400) {
                                alert('Invalid postcode.');
                            } else if (status == 401 || status == 429 || status == 500) {
                                alert('Unable to process your request. Please try again later.');
                            }
                        });
                }

                function IsPostalCodeValid(zipPostalCode) {
                    $.get('https://api.getAddress.io/find/' + zipPostalCode.replace(' ', '') + '?api-key=m0VgC_2N3kmxSirCVDUrow20718')
                        .done(function (data) {
                            if (data == null || data.addresses.length <= 0) {
                                return 'No address found.';
                            }
                            else {
                                return '';
                            }
                        })
                        .fail(function (jqXHR, textStatus, error) {

                            var status = jqXHR.status;

                            if (status == 404) {
                                return 'No address found.';
                            } else if (status == 400) {
                                return 'Invalid postcode.';
                            } else if (status == 401 || status == 429 || status == 500) {
                                return 'Unable to process your request. Please try again later.';
                            }

                        });
                }

            @if (Model.BillingNewAddress.ZipPostalCodeEnabled || Model.ShippingNewAddress.ZipPostalCodeEnabled)
            {
                <text>

                function findAddressFromZipPostalCode(addressType) {

                    var defaultOption = $('#' + addressType + '_CountryId option').filter(function () {
                        return $(this).val() > 0;
                    }).val();
                    $('#' + addressType + '_CountryId').val(defaultOption);
                    $('#' + addressType + '_CountryId').change();

                    var addressFields = (addressType == "BillingNewAddress") ? $('.billing-address .address-content') : $('.shipping-address .address-content');
                    var manualAddress = (addressType == "BillingNewAddress") ? $('.billing-address .manual-address') : $('.shipping-address .manual-address');

                    $('#FindAddress_' + addressType + '_ZipPostalCode').click(function (e) {
                        e.preventDefault();

                        var zipPostalSelect = $('#FindAddressSelect_' + addressType + '_ZipPostalCode');

                        zipPostalSelect
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="0">Select address...</option>')
                            .val("0");
                        zipPostalSelect.change();
                        var zipPostalInputs = $('#FindAddressInputs_' + addressType + '_ZipPostalCode');
                        zipPostalInputs.hide();

                        var zipPostalCode = $('#' + addressType + '_ZipPostalCode').val();
                        if (zipPostalCode) {
                            var addressLoading = $('#FindAddressLoading_' + addressType + '_ZipPostalCode');
                            addressLoading.show();
                            getAddress(zipPostalCode, zipPostalSelect, zipPostalInputs, addressFields, manualAddress, addressLoading);
                        }
                    });

                    $('#FindAddressSelect_' + addressType + '_ZipPostalCode').change(function () {
                        var zipPostalSelect = $('#FindAddressSelect_' + addressType + '_ZipPostalCode');
                        if (addressType == "BillingNewAddress") {
                            $(".billing-error").hide();
                        }
                        else{
                            $(".shipping-error").hide();
                        }

                        if (zipPostalSelect.val() != null && zipPostalSelect.val() != 0) {

                            addressFields.show();
                            manualAddress.hide();
                            var splitVal = zipPostalSelect.val().split(',');

                            $('#' + addressType + '_Address1').val(splitVal[0].trim());
                            $('#' + addressType + '_Address2').val(splitVal[1].trim());
                            $('#' + addressType + '_City').val(splitVal[5].trim());

                            var zipPostalSelectValue = $('#' + addressType + '_StateProvinceId option').filter(function () { return $(this).text() == splitVal[6].trim(); }).val();
                            $('#' + addressType + '_StateProvinceId').val(zipPostalSelectValue ? zipPostalSelectValue:0);
                            $('#' + addressType + '_StateProvinceId').change();
                        } else {
                            $('#' + addressType + '_Address1').val('');
                            $('#' + addressType + '_Address2').val('');
                            $('#' + addressType + '_City').val('');
                            $('#' + addressType + '_StateProvinceId').val(0);
                            $('#' + addressType + '_StateProvinceId').change();
                        }
                    });

                    $('#' + addressType + '_PhoneNumber').keypress(function (e) {
                        var regex = new RegExp("([0-9 +()-])+");
                        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                        if (regex.test(str)) {
                            return true;
                        }
                        e.preventDefault();
                        return false;
                    });
                }
            </text>
            }
            @if ((Model.BillingNewAddress.CountryEnabled && Model.BillingNewAddress.StateProvinceEnabled)
                || (Model.ShippingNewAddress.CountryEnabled && Model.ShippingNewAddress.StateProvinceEnabled))
            {
            //we don't move this script to the footer as it's used in Ajax requests where footer is not available
             <text>
                function stateProvinceAfterCountryChange(addressType)
                {
                    $("#" + addressType+"_CountryId").change(function() {
                        var selectedItem = $(this).val();
                        var ddlStates = $("#" + addressType+"_StateProvinceId");
                        var statesProgress = $("#" + addressType+"-states-loading-progress");
                        statesProgress.show();
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                            data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                            success: function(data) {
                                ddlStates.html('');
                                $.each(data, function(id, option) {
                                    ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                });
                                statesProgress.hide();
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert('Failed to retrieve states.');
                                statesProgress.hide();
                            }
                         });
                    });
                }
             </text>
            }
            function isSelectNewAddress(addressSelector, newAddressType, selectValue) {
                if (selectValue == "0") {
                    if ($(addressSelector + " option").length == 1) {
                        $(addressSelector).hide();
                    }
                    $(newAddressType).show();
                }
                else {
                    $(newAddressType).hide();
                }
                if (addressSelector == "#BillingAddressSelectedId") {
                    if (selectValue == "0") {
                        $(newAddressType +"-postcode").show();
                    }
                    else {
                        $(newAddressType +"-postcode").hide();
                    }

                }
            }
            function checkoutPassword() {
                $("#ConfirmPassword").parent().find(".field-validation-error").remove();
                if ($("#Password").val() == "" || $("#ConfirmPassword").val()=="")
                    return;

                if ($("#Password").val() != $("#ConfirmPassword").val()) {
                    $("#ConfirmPassword").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="BillingNewAddress_StateProvinceId" class="">The password is inconsistent with the confirmation password.</span></span>');
                }
            }
            $(function () {
                $("#BillingNewAddress_StateProvinceId").change(function () {
                    $("#BillingNewAddress_StateProvinceId").parent().find(".field-validation-error").remove();
                    if ($("#BillingNewAddress_StateProvinceId").val() == "0") {
                        $("#BillingNewAddress_StateProvinceId").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="BillingNewAddress_StateProvinceId" class="">County is required</span></span>');
                    }
                })
                $("#BillingNewAddress_CountryId").change(function () {
                    $("#BillingNewAddress_CountryId").parent().find(".field-validation-error").remove();
                    if ($("#BillingNewAddress_CountryId").val() == "0") {
                        $("#BillingNewAddress_CountryId").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.CountryId" data-valmsg-replace="true"><span for="BillingNewAddress_CountryId" class="">Country is required</span></span>');
                    }
                })
                $("#ShippingNewAddress_StateProvinceId").change(function () {
                    $("#ShippingNewAddress_StateProvinceId").parent().find(".field-validation-error").remove();
                    if ($("#ShippingNewAddress_StateProvinceId").val() == "0") {
                        $("#ShippingNewAddress_StateProvinceId").parent().append('<span class="field-validation-error" data-valmsg-for="ShippingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="ShippingNewAddress_StateProvinceId" class="">County is required</span></span>');
                    }
                })
                $("#ShippingNewAddress_CountryId").change(function () {
                    $("#ShippingNewAddress_CountryId").parent().find(".field-validation-error").remove();
                    if ($("#ShippingNewAddress_CountryId").val() == "0") {
                        $("#ShippingNewAddress_CountryId").parent().append('<span class="field-validation-error" data-valmsg-for="ShippingNewAddress.CountryId" data-valmsg-replace="true"><span for="ShippingNewAddress_CountryId" class="">Country is required</span></span>');
                    }
                })
                $("input[name=ShipToSameBillingAddress]").click(function () {
                    var shipToSame = $("input[name=ShipToSameBillingAddress]:checked").val();
                    if (shipToSame == "false" || shipToSame == "False") {
                        $(".shipping-address-other").show();
                        isSelectNewAddress("#ShippingAddressSelectedId", ".shipping-address-new", $("#ShippingAddressSelectedId").val());
                    }
                    else {
                        $(".shipping-address-other").hide();
                    }
                });
                $("input[id=yes]").click();
                $("#guest-account").click();
                isSelectNewAddress("#BillingAddressSelectedId", ".billing-address-new", $("#BillingAddressSelectedId").val());

                $("#btn-continue").click(function () {
                    $(".billing-error").hide();
                    var billingAddressSelectedId = $("#BillingAddressSelectedId").val();
                    var shipToSame = $("input[name=ShipToSameBillingAddress]:checked").val();
                    var isCreateAccount = $("input[name=IsCreateAccount]:checked").val();
                    if (isCreateAccount=="true") {
                        $("#Email").val($("#BillingNewAddress_Email").val());
                        $("#BillingNewAddress_StateProvinceId").parent().find(".field-validation-error").remove();
                        if ($("#Password").val() != $("#ConfirmPassword").val()) {
                            $("#ConfirmPassword").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="BillingNewAddress_StateProvinceId" class="">The password is inconsistent with the confirmation password.</span></span>');
                        }
                    }
                    if (billingAddressSelectedId == "0") {

                        if ($("#BillingNewAddress_StateProvinceId").val() == null||$("#BillingNewAddress_StateProvinceId").val() == "0") {
                            showMyAddress(".billing-address a.links.manual-address", '.billing-address');
                            $("#BillingNewAddress_StateProvinceId").parent().find(".field-validation-error").remove();
                            $("#BillingNewAddress_StateProvinceId").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="BillingNewAddress_StateProvinceId" class="">County is required</span></span>');
                            return false;
                        }

                        if ($("#BillingNewAddress_CountryId").val() == "0") {
                            showMyAddress(".billing-address a.links.manual-address", '.billing-address');
                            $("#BillingNewAddress_CountryId").parent().find(".field-validation-error").remove();
                            $("#BillingNewAddress_CountryId").parent().append('<span class="field-validation-error" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="BillingNewAddress_StateProvinceId" class="">Country is required</span></span>');
                            return false;
                        }

                        if ($("#BillingNewAddress_ZipPostalCode").val() != "" && $("#BillingNewAddress_ZipPostalCode").val() != null) {

                            var errhtml = IsPostalCodeValid($("#BillingNewAddress_ZipPostalCode").val());

                            if (($("#BillingNewAddress_City").val() == "" && $("#BillingNewAddress_City").val() == null)
                                || ($("#BillingNewAddress_Address1").val() == "" && $("#BillingNewAddress_Address1").val() == null)) {
                                errhtml = '<p>Please click \"FIND MY ADDRESS\" to select an address or manually enter your address.</p>';
                            }
                            if (errhtml != '') {
                                $(".billing-error .validation-summary-errors").html(errhtml);
                                $(".billing-error").show();
                                return false;
                            }
                        }

                        if (shipToSame == "true") {
                            $("#ShippingNewAddress_FirstName").val($("#BillingNewAddress_FirstName").val());
                            $("#ShippingNewAddress_LastName").val($("#BillingNewAddress_LastName").val());
                            $("#ShippingNewAddress_PhoneNumber").val($("#BillingNewAddress_PhoneNumber").val());
                            $("#ShippingNewAddress_Email").val($("#BillingNewAddress_Email").val());
                            $("#ShippingNewAddress_ZipPostalCode").val($("#BillingNewAddress_ZipPostalCode").val());
                            $("#ShippingNewAddress_StateProvinceId").val($("#BillingNewAddress_StateProvinceId").val());
                            $("#ShippingNewAddress_City").val($("#BillingNewAddress_City").val());
                            $("#ShippingNewAddress_Address1").val($("#BillingNewAddress_Address1").val());
                        }
                        else {

                            if ($("#ShippingNewAddress_StateProvinceId").val() == "0") {
                                $("#ShippingNewAddress_StateProvinceId").parent().find(".field-validation-error").remove();
                                $("#ShippingNewAddress_StateProvinceId").parent().append('<span class="field-validation-error" data-valmsg-for="ShippingNewAddress.StateProvinceId" data-valmsg-replace="true"><span for="ShippingNewAddress_StateProvinceId" class="">County is required</span></span>');
                                return false;
                            }

                            if ($("#ShippingNewAddress_CountryId").val() == "0") {
                                $("#ShippingNewAddress_CountryId").parent().find(".field-validation-error").remove();
                                $("#ShippingNewAddress_CountryId").parent().append('<span class="field-validation-error" data-valmsg-for="ShippingNewAddress.CountryId" data-valmsg-replace="true"><span for="ShippingNewAddress_CountryId" class="">Country is required</span></span>');
                                return false;
                            }
                        }
                    }


                    var shippingAddressSelectedId = $("#ShippingAddressSelectedId").val();
                    if (billingAddressSelectedId != "0" && shipToSame == "false" && shippingAddressSelectedId == "0") {
                        $(".shipping-error").hide();
                        if ($("#ShippingNewAddress_ZipPostalCode").val() != "" && $("#ShippingNewAddress_ZipPostalCode").val() != null) {

                            var errhtml = IsPostalCodeValid($("#BillingNewAddress_ZipPostalCode").val());

                            if ($("#ShippingNewAddress_StateProvinceId").val() == "0"
                                || ($("#ShippingNewAddress_City").val() == "" && $("#ShippingNewAddress_City").val() == null)
                                || ($("#ShippingNewAddress_Address1").val() == "" && $("#ShippingNewAddress_Address1").val() == null)) {
                                errhtml = '<p>Please click \"FIND MY ADDRESS\" to select an address or manually enter your address.</p>';
                            }
                            if (errhtml != '') {
                                $(".shipping-error .validation-summary-errors").html(errhtml);
                                $(".shipping-error").show();
                                return false;
                            }
                        }
                        $("#BillingNewAddress_FirstName").val($("#ShippingNewAddress_FirstName").val());
                        $("#BillingNewAddress_LastName").val($("#ShippingNewAddress_LastName").val());
                        $("#BillingNewAddress_PhoneNumber").val($("#ShippingNewAddress_PhoneNumber").val());
                        $("#BillingNewAddress_Email").val($("#ShippingNewAddress_Email").val());
                        $("#BillingNewAddress_ZipPostalCode").val($("#ShippingNewAddress_ZipPostalCode").val());
                        $("#BillingNewAddress_StateProvinceId").val($("#ShippingNewAddress_StateProvinceId").val());
                        $("#BillingNewAddress_City").val($("#ShippingNewAddress_City").val());
                        $("#BillingNewAddress_Address1").val($("#ShippingNewAddress_Address1").val());

                    }

                    onCheckoutOption('2');
                    $("#submit-tsf").click();
                });
                @if (Model.BillingNewAddress.CountryEnabled && Model.BillingNewAddress.StateProvinceEnabled)
                {
                    <text>
                        stateProvinceAfterCountryChange("BillingNewAddress");
                    </text>
                }
                @if (Model.ShippingNewAddress.CountryEnabled && Model.ShippingNewAddress.StateProvinceEnabled)
                {
                    <text>
                        stateProvinceAfterCountryChange("ShippingNewAddress");
                    </text>
                }

                @if (Model.BillingNewAddress.ZipPostalCodeEnabled)
                {
                    <text>
                        findAddressFromZipPostalCode("BillingNewAddress");
                    </text>
                }
                @if (Model.ShippingNewAddress.ZipPostalCodeEnabled)
                {
                    <text>
                        findAddressFromZipPostalCode("ShippingNewAddress");
                    </text>
                }

                $('.more-delivery').on('click', function(e) {
                    e.preventDefault();
                    displayPopupContentFromUrl(
                        '@Url.RouteUrl("TopicPopup", new {SystemName = "FreeDeliveryPopup" })',
                        'FREE Next Day Delivery');
                });

            });
            </script>
        </div>
        <div class="right-part">
            @await Component.InvokeAsync("CheckOutSummary")
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="tips_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="condition_badge_modal_title">Options for checking out</h4>
            </div>
            <div class="modal-body" id="condition_badge_modal_content">
                <b>Checkout as Guest</b>
                <p>A guest account is the fastest way to checkout with Mazuma Mobile. No need to register and remember your details, you can checkout by providing minimal details.</p>
                <b>Create Account</b>
                <p>Creating an account with Mazuma Mobile has great benefits. As well as a simplifying future sale orders, you'll also have access to your previous orders.</p>
            </div>
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="defect_warranty_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="defect_warranty_title">12 months warranty</h4>
            </div>
            <div class="modal-body" id="defect_warranty_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "DefectWarrantyPopup" })
            </div>
        </div>
    </div>
</div>
<div style="z-index:10000" class="modal fade" id="freedelivery_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="freedelivery_title">FREE Next Day Delivery</h4>
            </div>
            <div class="modal-body" id="freedelivery_content">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "FreeDeliveryPopup" })
            </div>
        </div>
    </div>
</div>