﻿@using System.Linq
@using Nop.Core.Domain.Customers;
@model CheckoutCompletedModel
@inject Nop.Services.Localization.ILanguageService languageService
@inject Nop.Services.Orders.IOrderService orderService
@{
    Layout = "_ColumnsOne";

    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");
    Html.AddCssFileParts("~/Themes/Venture/Content/CSS/theme.custom.checkoutprogress.css");
    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");

    var order = orderService.GetOrderById(Model.OrderId);
    var orderItems = order.OrderItems.ToList();
    var customerLanguage = languageService.GetLanguageById(order.CustomerLanguageId);

    Html.AddScriptParts(ResourceLocation.Footer, "~/js/mobile-detect/mobile-detect.min.js");
}
@await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
<div class="page checkout-page order-completed-page">
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_top", additionalData = Model.OrderId })
        <div class="section order-completed">
            <div class="title">
                <p>@T("Checkout.Thankyou")</p>
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@Model.CustomOrderNumber</a></strong>
                </div>
            </div>
            <div class="checkout-complete-whn">
                <h1>What happens next </h1>
                <br>
                @if (Model.Paymethod == SystemCustomerNames.PaymentMethod_BankTranfer)
                {
                    <p>
                        In order for Us to process your order, please add the transaction ID in the following link <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">USER PANEL->ORDERS->TRANSACTION ID</a>.
                    </p>
                    <br>
                    <p>
                        The payment shall be provided within 48 hours from the order date; within 48 hours if no payment gets communicated the system will automatically cancel the order and no further action will be required.
                    </p>
                    <br>
                    <p>
                        Once the payment is advised, Mazuma will proceed with the order as usual; after the transfer  is successfully registered in our bank account, your order will be ready to be shipped.
                    </p>
                    <br>
                    <p class="color-red">
                        Please note that duo to the transaction time between banks, unless the payment is registered before 3PM in our bank the same day, the shipment will be postpone until the above payment has been confirmed by the bank.
                    </p>
                    <br>
                    <p>
                        Click here for a <a class="link" href="/bank-transfer-manual" target="_blank">Bank Transfer Step by Step</a> guidelines.
                    </p>
                    <br>
                }
                else
                {
                    <p>
                        Your order will be processed by one of our technicians and be on it's way to you lightning fast. 
                        Once your order has been picked, packed, and dispatched, you'll receive an email with details about how to track your purchase. 
                        If you have any questions regarding your purchase, please <a href="/contactus"><b>contact us</b></a> or telephone 0330 311 9511 
                        to speak to one of our Customer Service advisors.
                    </p>
                    <br />
                }
            </div>
            <div class="checkout-complete-banner">
                <div class="iphonebg">
                    <div class="details">
                        <h1>Got an old phone to trade-in?</h1>
                        <p>If you're still holding onto your old phone and want some extra cash, why not see how much money you could get on our Mazuma Trade-in Website</p>
                    </div>
                    <center>
                        <a href="https://www.mazumamobile.com">
                            <div class="buttons">
                                CLICK HERE
                            </div>
                        </a>
                    </center>
                </div>
            </div>



            <div class="checkout-complete-popular-devices">

                <h1>Popular Devices</h1>

                <div class="cover">
                    <div class="mobiles">

                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-iphone/"><img src="/images/uploaded/iphone7@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-iphone/"><p>Sell My iPhone</p></a>
                    </div>
                    <div class="mobiles">
                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-ipad/"><img src="/images/uploaded/ipadair@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-ipad"><p>Sell My iPad</p></a>
                    </div>
                    <div class="mobiles">
                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-apple-watch/"><img src="/images/uploaded/iwatch@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-apple-watch/"><p>Sell My Watch</p></a>
                    </div>
                    <div class="mobiles">
                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-galaxy-s6/"><img src="/images/uploaded/s6@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-galaxy-s6/"><p>Sell My Galaxy S6</p></a>
                    </div>
                    <div class="mobiles">
                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-galaxy-s7/"><img src="/images/uploaded/s7@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-galaxy-s7/"><p>Sell My Galaxy S7</p></a>
                    </div>
                    <div class="mobiles">
                        <div class="circle">
                            <a href="https://www.mazumamobile.com/sell-my-galaxy-s8/"><img src="/images/uploaded/s8@2x.png" /></a>
                        </div>
                        <a href="https://www.mazumamobile.com/sell-my-galaxy-s8/"><p>Sell My Galaxy S8</p></a>
                    </div>

                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_bottom", additionalData = Model.OrderId })
    </div>
</div>

@{
    var refurbOrderItems = new System.Collections.Generic.List<Nop.Core.Domain.Orders.OrderItem>();
}

@foreach (var orderItem in orderItems)
{
    bool hasRefurb = false;
    var specAttrOptions = orderItem.Product.ProductSpecificationAttributes
        .Where(x => x.SpecificationAttributeOption != null)
        .Select(x => x.SpecificationAttributeOption);

    foreach (var option in specAttrOptions)
    {
        if (option.SpecificationAttribute.Name.ToLower().Trim() == "condition")
        {
            if (option.Name.ToLower().Trim() == "renew")
            {
                hasRefurb = true;
                continue;
            }
        }
    }

    if (hasRefurb)
    {
        refurbOrderItems.Add(orderItem);
    }
}

@if (refurbOrderItems.Count > 0)
{
    <script asp-location="Footer">
        // Adform Refurb Sale Tracking Code BEGIN
        function isMobileDevice() {
            var md = new MobileDetect(window.navigator.userAgent);

            return md.mobile() != null;
        }

        window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);
        window._adftrack.push({
            pm: 673450,
            divider: encodeURIComponent('|'),
            pagename: encodeURIComponent((isMobileDevice() ? 'Refurb Sale (Mobile)' : 'Refurb Sale')),
            order : {
                sales: '@refurbOrderItems.Sum(x => x.PriceInclTax)',
                itms: [
                    @for(int i = 0; i < refurbOrderItems.Count; i++)
                    {
                        <text>
                        {
                            productname: '@refurbOrderItems[i].Product.Name'
                        }
                        </text>
                        if(i < refurbOrderItems.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                ]
            }
        });
        (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
        //Adform Refurb Sale Tracking Code END
    </script>

    <script asp-location="Footer">
        //Marin Refurb Sale Tracking Code BEGIN
        function isMobileDevice() {
            var md = new MobileDetect(window.navigator.userAgent);

            return md.mobile() != null;
        }

        var _mTrack = _mTrack || [];

        _mTrack.push(['addTrans', {
            currency: 'GBP',
            items: [
                @for(int i = 0; i < refurbOrderItems.Count; i++)
                {
                    <text>
                        {
                            orderId: '@order.CustomOrderNumber',
                            convType: (isMobileDevice() ? 'RefurbSaleMobile' : 'RefurbSale'),
                            price: '@Nop.Services.Catalog.RoundingHelper.RoundPrice(refurbOrderItems[i].PriceExclTax)',
                            category: '@refurbOrderItems[i].Product.ProductCategories.FirstOrDefault()?.Category.Name'
                        }
                    </text>
                    if (i < refurbOrderItems.Count - 1)
                    {
                        <text>,</text>
                    }
                }
            ]
        }]);

        _mTrack.push(['processOrders']);

        (function () {
            var mClientId = '3979bur56728';
            var mProto = (('https:' == document.location.protocol) ? 'https://' : 'http://');
            var mHost = 'tracker.marinsm.com';
            var mt = document.createElement('script');
            mt.type = 'text/javascript';
            mt.async = true;
            mt.src = mProto + mHost + '/tracker/async/' + mClientId + '.js';
            var fscr = document.getElementsByTagName('script')[0];
            fscr.parentNode.insertBefore(mt, fscr);
        })();
        // Marin Refurb Sale Tracking Code END
    </script>
    <noscript>
        <img width="1" height="1" src="https://tracker.marinsm.com/tp?act=2&cid=3979bur56728&script=no" />
    </noscript>
}

@{
    var webgainsEventId = "1034975";

    var webgainsOrderItems = "";
    var orderDiscount = order.OrderDiscount + order.GiftCardUsageHistory.Sum(x => x.UsedValue);

    for (int i = 0; i < orderItems.Count; i++)
    {
        var orderItem = orderItems[i];

        var priceToInclude = orderItem.PriceInclTax;

        if (orderDiscount > 0)
        {
            if (priceToInclude - orderDiscount >= 0)
            {
                priceToInclude -= orderDiscount;
                orderDiscount = 0;
            }
            else
            {
                orderDiscount -= priceToInclude;
                priceToInclude = 0;
            }
        }

        webgainsOrderItems += webgainsEventId;
        webgainsOrderItems += $"::{priceToInclude}";
        webgainsOrderItems += $"::{orderItem.Product.Name}";
        webgainsOrderItems += $"::{orderItem.Product.Id}";

        if (i < orderItems.Count - 1)
        {
            webgainsOrderItems += "|";
        }
    }

    var discountCodes = "";
    var discountUsageHistory = order.DiscountUsageHistory.Where(x => !string.IsNullOrWhiteSpace(x.Discount.CouponCode)).ToList();
    for (int i = 0; i < discountUsageHistory.Count; i++)
    {
        discountCodes += discountUsageHistory[i].Discount.CouponCode;

        if (i < discountUsageHistory.Count - 1)
        {
            discountCodes += ",";
        }
    }

    var giftCardHistory = order.GiftCardUsageHistory.ToList();
    for (int i = 0; i < giftCardHistory.Count; i++)
    {
        if (!string.IsNullOrWhiteSpace(discountCodes))
        {
            discountCodes += ",";
        }

        discountCodes += giftCardHistory[i].GiftCard.GiftCardCouponCode;
    }
}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'event' : 'transaction',
        'ecommerce': {
            'purchase': {
                'actionField': {
                    'id': '@Model.OrderId',
                    'affiliation': 'Mazuma Mobile',
                    'revenue': '@order.OrderTotal',
                    'tax': '@order.OrderTax',
                    'shipping': '@order.OrderShippingExclTax',
                },
                'products': [
                    @for(int i = 0; i < orderItems.Count; i++)
                    {
                        <text>
                            { 
                                'id':'@orderItems[i].Product.Id',
                                'name':'@orderItems[i].Product.Name',
                                'category':'@orderItems[i].Product.ProductCategories.FirstOrDefault()?.Category.Name',
                                'price':@Nop.Services.Catalog.RoundingHelper.RoundPrice(orderItems[i].PriceExclTax),
                                'quantity':@orderItems[i].Quantity
                            }
                        </text>
                        if (i < orderItems.Count - 1)
                        {
                            <text>,</text>
                        }
                    }
                ]
            }
        }
    });
</script>

<script asp-location="Footer">
     (function(w,e,b,g,a,i,n,s){w['ITCVROBJ']=a;w[a]=w[a]||function(){
        (w[a].q=w[a].q||[]).push(arguments)},w[a].l=1*new Date();i=e.createElement(b),
        n=e.getElementsByTagName(b)[0];i.async=1;i.src=g;n.parentNode.insertBefore(i,n)
    })(window,document,'script','https://analytics.webgains.io/cvr.min.js','ITCVRQ');
    ITCVRQ('set', 'trk.programId', '4076');
    ITCVRQ('set', 'cvr', {
        value: "@order.OrderTotal",
        currency: '@order.CustomerCurrencyCode',
        language: '@customerLanguage.LanguageCulture.Replace("-", "_")',
        eventId: '@webgainsEventId',
        orderReference : '@order.CustomOrderNumber',
        comment: '',
        multiple: '',
        checksum: '',
        items: '@webgainsOrderItems',
        customerId: '@order.CustomerId',
        voucherId: '@discountCodes'
    });
    ITCVRQ('conversion');
</script>