﻿@using Nop.Web.Areas.Admin.Models.MultiDb;
@model SyncInfoModel

@{
    //page title
    ViewBag.Title = "Synchronize database";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Synchronize database");
}

<form asp-controller="Common" asp-action="UpdateSyncInfo" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Synchronized database
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            Select groups of tables to synchronize.
                        </p>
                            <script type="text/javascript">
                                $(document).ready(function () {                                    
                                    $('#selectall').click(function () {
                                        $('.groupsyncrequire').attr('checked', $(this).is(':checked')).change();
                                    });                                    
                                });
                            </script>
                            <div class="scroll-wrapper">
                                <table class="table table-hover table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="col">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selectall"/>
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <strong>Group</strong>
                                            </th>
                                            <th scope="col">
                                                <strong>TableNames</strong>
                                            </th>
                                        </tr>
                                        @foreach (var pr in Model.GroupInfos)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="groupsyncrequire" value="@pr.Id" name="groups" @(pr.RequireSync==1?"checked=checked":"") />
                                                </td>
                                                <td>
                                                    <span>@pr.GroupName</span>
                                                </td>
                                                <td>
                                                    <span>@pr.TableNames</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>