﻿#consumerfinance_signup_page .page-body {
    max-width: 850px;
    margin: auto;
}

#consumerfinance_signup_page .page-content {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px !important;
    font-family: 'ArgosBook', Arial, Helvetica, sans-serif;
}

    #consumerfinance_signup_page .page-content .prev-next {
        margin-top: 30px;
    }

    #consumerfinance_signup_page .page-content .page-subtitle {
        margin-top: 40px;
    }

    #consumerfinance_signup_page .page-content .control-label {
        font-size: 15px !important;
        color: #555;
    }

        #consumerfinance_signup_page .page-content .control-label .control-label-description {
            font-weight: 400;
        }

    #consumerfinance_signup_page .page-content .required {
        font-size: 20px;
    }

    #consumerfinance_signup_page .page-content select {
        font-family: 'ArgosBook', Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    #consumerfinance_signup_page .page-content .field-validation-error {
        font-size: 14px;
    }

@media (min-width: 768px) {
    #consumerfinance_signup_page .page-content {
        padding: 40px;
        border-top: 1px solid #ccc;
    }
}
