﻿@model string
@{
    Html.AddFinanceCssFileParts("consumer/common");
}

@if (!String.IsNullOrWhiteSpace(Model))
{
    <a href="@Model" class="consumer-finance-button secondary">View agreement documents</a>
    <br />
    <br />
}