﻿:root {
    --primary-color: #248ece;
    --inactive-color: #63b5e6;
    --hover-color: #09a3ff;
    --focus-color: #09a3ff;
}

.consumer-finance-button {
    border-radius: 28px !important;
    color: #ffffff;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: normal;
    text-transform: uppercase;
    background: linear-gradient(270deg, #33C8FF 0%, #08B4FF 100%) !important;
    padding: 20px 32px;
    border: none;
    font-weight: 500 !important;
    display: block;
}

.consumer-finance-button.secondary {
    border: 2px solid #31C7FF;
    color: #31C7FF !important;
    background: #fff !important;
    padding: 18px 30px !important;
}

.consumer-finance-button.form-button {
    border-radius: 5px !important;
    padding: 20px 48px !important;
}

.consumer-finance-button.secondary.form-button {
    padding: 18px 46px !important;
}