﻿.consumerfinance-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 50000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.consumerfinance-modal-inner {
    width: 100%;
    background-color: #fff;
    overflow: auto;
    text-align: justify
}

.consumerfinance-modal-header {
    background-color: #fff;
    padding: 25px 35px;
}

.ecorenew-finance-logo {
    background-image: url(/plugins/ecorenew.finance/content/images/ecorenewfinancelogo.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 70px;
    margin-top: -10px;
}

.consumerfinance-modal-close {
    float: right;
    background: none;
    border: none;
    font-size: 20px;
    color: #777;
    margin-right: 20px;
    margin-top: 5px;
}

    .consumerfinance-modal-close:hover,
    .consumerfinance-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.consumerfinance-modal-content {
    padding: 60px;
    padding-top: 0;
}

    .consumerfinance-modal-content .consumerfinance-modal-title {
        color: #1b1c1d;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 25px;
        margin-top: -10px;
    }

    .consumerfinance-modal-content .terms {
        margin-left: -15px;
        margin-right: -15px;
        clear: both;
        overflow: auto;
        margin-bottom: 10px;
    }

.consumerfinance-term {
    text-align: center;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

    .consumerfinance-term .consumerfinance-term-header {
        color: #fff;
        text-align: center;
        border-bottom: none;
    }

        .consumerfinance-term .consumerfinance-term-header h2 {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            padding: 15px;
            text-transform: uppercase;
            background: linear-gradient(312.11deg, #FF0054 0%, #FF2F00 100%) !important;
            font-family: 'Montserrat', sans-serif !important;
        }

        .consumerfinance-term .consumerfinance-term-header .consumerfinance-term-subheader {
            color: #ff3000;
            font-size: 35px;
            font-weight: 400;
            padding-top: 20px;
            font-family: 'Montserrat', sans-serif !important;
        }

        .consumerfinance-term .consumerfinance-term-header .consumerfinance-term-subheader-month {
            color: #ff3000;
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 20px;
            font-family: 'Montserrat', sans-serif !important;
        }

    .consumerfinance-term .consumerfinance-term-breakdown {
        line-height: 2.1;
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 15px;
        font-family: 'Roboto', sans-serif !important;
    }

        .consumerfinance-term .consumerfinance-term-breakdown li {
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: 1px solid #fafafa;
        }

        .consumerfinance-term .consumerfinance-term-breakdown .breakdown-label {
            font-weight: 400;
            color: #555;
            font-size: 14px;
            display: block;
            line-height: 1.5;
        }

        .consumerfinance-term .consumerfinance-term-breakdown .breakdown-data {
            font-weight: 600;
            color: #000;
            font-size: 16px;
            display: block;
            line-height: 1.5;
        }

.consumerfinance-modal-content .bottom-text {
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 30px 40px;
    color: #555;
    line-height: 1.5;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif !important;
}

#consumerfinance-breakdownpopup-conditions {
    margin-top: 5px;
    list-style-type: square;
}

    #consumerfinance-breakdownpopup-conditions > li {
        margin-left: 50px;
    }

@media screen and (min-width: 768px) {
    .consumerfinance-modal-inner {
        margin: 30px auto;
        width: 80%;
        max-width: 1060px;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}