﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.CustomOrderProcessing.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomOrderProcessingEnabled_OverrideForStore" asp-input="CustomOrderProcessingEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomOrderProcessingEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomOrderProcessingEnabled" />
                    <span asp-validation-for="CustomOrderProcessingEnabled"></span>
                </div>
            </div>
        </div>
    </div>
</div>
