﻿.model-processing:before {
    content: '';
    position: absolute;
    left: -50vw;
    right: -50vw;
    top: -50vh;
    bottom: -50vh;
    z-index: -1;
    background: #000;
    opacity: .7;
}

.model-processing {
    position: fixed !important;
    z-index: 1750;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0 0 35px rgba(0,0,0,.16);
    width: 300px;
    height: 60px;
    display: none;
}

.processing {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background: url(images/processing.gif) no-repeat center;
}
