﻿@model IList<ProductOverviewModel>
@*<style>
    .related-products-grid {
        margin: 10px 15px;
        padding: 0 2px;
        margin-top:5px;
    }

        .related-products-grid .related-products-item {
            display: inline-block;
            font-size: 10px;
            max-width: 320px;
            cursor: pointer;
            text-align: center;
            margin: 6px 0;
            padding: 5px;
            border: 2px solid #999999;
            border-radius: 12px;
            background-color: #f3f3f3;
            font-weight: bold;
            color: #000;
        }

    .related-products-grid .related-products-item input {
        display: none;
    }

    .related-products-grid .related-products-item.active {
        border: 2px solid #6AC9E8;
        background-color: #fff;
    }

    .related-products-title {
        color: #A2A2A2;
        font-weight: normal;
        line-height: 15px;
    }

    @@media all and (max-width: 1000px) {
        .related-products-grid .related-products-item {
            margin: 8px auto;
        }
    }

    .related-products-grid .item-grid {
        margin-left: 1px;
    }
</style>*@

@if (Model.Count > 0)
{
    var attributeChangeHandlerFuncName = $"attribute_change_handler_";
    <div class="related-products-grid product-grid">
        <div class="related-products-title">
            Wi-Fi Hot-Spot Service
            <a onclick="hotSpot_badge_click()"><sup><span class="badge" style="background-color:#bdbdbd;font-size:14px">?</span></sup></a>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                var itemPrice = "Free";
                if(!item.ProductPrice.PriceValue.Equals(decimal.Zero))
                {
                    itemPrice = item.ProductPrice.Price;
                }
                var relatedProductName = item.Name + "[" + itemPrice + "]";
                <div class="related-products-item">
                    <input name="related_product_@item.Id" type="checkbox" value="@item.Id" />
                    <sapn>@relatedProductName</sapn>
                </div>
            }
        </div>
    </div>

    //attribute modal
    <div style="z-index:10000" class="modal fade" id="hotSpot_badge_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="hotSpot_badge_modal_title">Wi-Fi Hot-Spot Service</h4>
                </div>
                <div class="modal-body" id="hotSpot_badge_modal_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "WiFiHotSpotService" })
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary"></button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" asp-location="Footer">
        function hotSpot_badge_click() {
            $("#hotSpot_badge_modal").modal("show");
        }
        $(".related-products-item").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(this).find("input").removeAttr("checked");
            }

            else {
                $(this).addClass("active");
                $(this).find("input").prop("checked",true);
            }
              @(attributeChangeHandlerFuncName)();

        })

    </script>
}

