﻿@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Ecorenew.Stripe.Models.ConfigurationModel

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="EcorenewStripe" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <b>The payment plugin uses the primary currency of the shop, so make sure the primary currency is supported by Stripe.</b>
                <b>Some of the settings below are mandatory, if any is missing, the settings are invalid and the payment method is not shown to the customer on the checkout page.</b>
                <br /><hr /><br />

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretApiKey_OverrideForStore" asp-input="SecretApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretApiKey" />
                        <span asp-validation-for="SecretApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PublicApiKey_OverrideForStore" asp-input="PublicApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PublicApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicApiKey" />
                        <span asp-validation-for="PublicApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AuthorizeOnly_OverrideForStore" asp-input="AuthorizeOnly" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AuthorizeOnly" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AuthorizeOnly" />
                        <span asp-validation-for="AuthorizeOnly"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CanRePostPayment_OverrideForStore" asp-input="CanRePostPayment" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CanRePostPayment" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CanRePostPayment" />
                        <span asp-validation-for="CanRePostPayment"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ConfirmPayment_OverrideForStore" asp-input="ConfirmPayment" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ConfirmPayment" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ConfirmPayment" />
                        <span asp-validation-for="ConfirmPayment"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>