﻿@model Nop.Plugin.Ecorenew.Stripe.Models.PaymentInfoModel
@{
    Layout = "";
}

@inject Nop.Core.IWorkContext workContext
@inject Nop.Plugin.Ecorenew.Stripe.EcorenewStripeSettings ecorenewStripeSettings

@{
    var customerId = workContext.CurrentCustomer.Id;
}

<style>
    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .payment-status {
        color: #218d2c;
    }

    .payment-errors {
        color: red;
    }
</style>

<div class="form-row">
    <table width="100%" cellspacing="2" cellpadding="1" border="0">
        <tbody>
            <tr>
                <td style="width: 25%;">
                    <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
                </td>
                <td>
                    <input type="text" asp-for="CardholderName" style="width:165px;" autocomplete="off" maxlength="22" />
                </td>
            </tr>
            <tr>
                <td style="width: 25%;">
                    <label for="card-element">Credit or Debit Card</label>
                </td>
                <td>
                    <div id="card-element" class="StripeElement">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="payment-errors"></div>
                    <div class="payment-status"></div>
                </td>
            </tr>
            <tr style="display:none;">
                <td><input style="display:none;" type="hidden" name="paymenttoken" id="paymenttoken" /></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

var onClickAttr = null;
$(document).ready(function () {
    onClickAttr = $(".payment-info-next-step-button").attr("onClick");
    $.getScript("https://js.stripe.com/v3", function (data, textStatus, jqxhr) {
        GetScriptCallback();
    });
});

function GetScriptCallback() {
    var stripe = Stripe('@ecorenewStripeSettings.PublicApiKey');

    // Custom styling can be passed to options when creating an Element.
    var style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '16px',
            color: "#32325d",
        }
    };

    var elements = stripe.elements();

    // Create an instance of the card Element.
    var card = elements.create('card', { hidePostalCode: true, style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    card.addEventListener('change', function (event) {
        if (event.error) {
            $(".payment-errors").text(event.error.message);
        } else {
            $(".payment-errors").text("");
        }
    });

    $("input[name='paymentmethod']").unbind().click(function () {
        $(".payment-info-next-step-button").attr("onClick", onClickAttr);
    });
    $(".payment-info-next-step-button").removeAttr("onClick");

    $(".payment-info-next-step-button").unbind().click(function (event) {

        $('.payment-errors').text('');
        $('.payment-status').text('');

        if ($('#CardholderName').val().length == 0) {
            // Show error in payment form
            $(".payment-errors").text('Please enter a card holder name');
            return false;
        }

        // Disable all buttons and show loading text
        disableNextStepButton();

        stripe.createPaymentMethod('card', card, {
            billing_details: {
                name: $('#CardholderName').val(),
                address: {
                    city: '@workContext.CurrentCustomer.BillingAddress.City',
                    country: '@workContext.CurrentCustomer.BillingAddress.Country.TwoLetterIsoCode',
                    line1: '@workContext.CurrentCustomer.BillingAddress.Address1',
                    line2: '@workContext.CurrentCustomer.BillingAddress.Address2',
                    postal_code: '@workContext.CurrentCustomer.BillingAddress.ZipPostalCode',
                    state: '@workContext.CurrentCustomer.BillingAddress.StateProvince?.Abbreviation'
                }
            }
        }).then(function (result) {
            if (result.error) {
                DisplayError(result.error);
                enableNextStepButton();
            } else {
                // Otherwise send paymentMethod.id to your server

                @*fetch('/ajax/confirm_payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        payment_method_id: result.paymentMethod.id,
                        mazuma_customer_id: @customerId
                    })
                }).then(function (result) {
                    // Handle server response (see Step 3)
                    result.json().then(function (json) {
                        handleServerResponse(json);
                    })
                });*@

                $.ajax({
                    type: 'POST',
                    url: '/ajax/confirm_payment',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        payment_method_id: result.paymentMethod.id,
                        mazuma_customer_id: @customerId
                    })
                }).then(function (result) {
                    handleServerResponse(result);
                });
            }

        });

        return false;
    });

    function handleServerResponse(response) {
        if (response.error) {
            DisplayError(response.error);
            enableNextStepButton();
        } else if (response.requires_action) {

            // Use Stripe.js to handle required card action
            stripe.handleCardAction(
                response.payment_intent_client_secret
            ).then(function (result) {
                if (result.error) {
                    DisplayError(result.error);
                    enableNextStepButton();
                } else {
                    // The card action has been handled
                    // The PaymentIntent can be confirmed again on the server

                    @*fetch('/ajax/confirm_payment', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            payment_intent_id: result.paymentIntent.id,
                            mazuma_customer_id: @customerId,
                            customer_id: response.customer_id
                        })
                    }).then(function (confirmResult) {
                        return confirmResult.json();
                        }).then(handleServerResponse);*@

                    $.ajax({
                        type: 'POST',
                        url: '/ajax/confirm_payment',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({
                            payment_intent_id: result.paymentIntent.id,
                            mazuma_customer_id: @customerId,
                            customer_id: response.customer_id
                        })
                    }).then(function (result) {
                        handleServerResponse(result);
                    });
                }
            });
        } else {
            $("#paymenttoken").val(response.payment_intent_id);
            //enableNextStepButton();

            //var form = $(".payment-info-next-step-button").closest('form'); // comment this out if testing nopCommerce
            if (document.location.href.indexOf('onepagecheckout') > -1) {
                PaymentInfo.save();
            }
            else {
                // Submit the form
                $('input.payment-info-next-step-button').parents('form:first').find("#ts-confirmOrder").click(); // comment this out if live site
                //form.submit(); // comment this out if testing nopCommerce
            }
        }
    }

    function enableNextStepButton() {

        $('.page-loader').hide();

        if ($(".accept-signup-a").hasClass("checked")) {

            $('.payment-status').text('');

            $('.your-card-information-next-step-button.ts-confirmOrder').prop('disabled', false);
            $('.your-card-information-next-step-button.ts-confirmOrder').css("opacity", 1);
        }
        else {
            disableNextStepButton();
        }
    }

    function disableNextStepButton() {
        $('.page-loader').show();
        $('.page-loader').css('background-color', 'rgba(0,0,0,.4)');
        $('.payment-status').text('Please wait while your transaction is being processed...');

        $('.your-card-information-next-step-button.ts-confirmOrder').prop('disabled', true);
        $('.your-card-information-next-step-button.ts-confirmOrder').css("opacity", .3);
    }

    function DisplayError(error) {

        var message = '';
        if (error.message) {
            message = error.message;
        }
        else {
            message = error;
        }

        // Show error in payment form
        $(".payment-errors").text(message);
    }
};

</script>

