﻿@model InsuranceDeviceModel
@using Nop.Web.Areas.Admin.Models.Insurance


<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Type" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Type" asp-required="true" />
                            <span asp-validation-for="Type"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Make" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Make" asp-required="true" />
                            <span asp-validation-for="Make"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Model" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Model" asp-required="true" />
                            <span asp-validation-for="Model"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Value" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Value" />
                            <span asp-validation-for="Value"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>