﻿@model CustomerRoleModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.InsuranceDevice.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Insurance Device");
}

<form asp-controller="InsuranceDevice" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.InsuranceDevice.AddNew") 
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.InsuranceDevice.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>