﻿@using Nop.Web.Areas.Admin.Models.EnquiryRequest
@model EnquiryRequestInfoModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="enquiry-request-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.EnquiryRequest.Info")" asp-default="true">
                @await Html.PartialAsync("_CreateOrUpdate.Info", Model)
            </nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "enquiry-request-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}