﻿@using Nop.Web.Areas.Admin.Models.EnquiryRequest
@model EnquiryRequestInfoModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="RequestNumber" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.RequestNumber</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="UserName" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">
                        @if (Model.CustomerId.HasValue)
                        {
                            <a href="/Admin/Customer/Edit/@Model.CustomerId.Value" target="_blank">@Model.UserName</a>
                        }
                        else
                        {
                            @Model.UserName
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="UserEmail" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.UserEmail</div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.OrderNumber))
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OrderNumber" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @if (Model.OrderId.HasValue)
                            {
                                <a href="/Admin/Order/Edit/@Model.OrderId.Value" target="_blank">@Model.OrderNumber</a>
                            }
                            else
                            {
                                @Model.OrderNumber
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TicketReason" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.TicketReason</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Enquiry" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.Enquiry</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CreatedOnUtc" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.CreatedOnUtc</div>
                </div>
            </div>
            @if (@Model.ReplyRecords != null && Model.ReplyRecords.Any())
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ReplyRecords" />
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default" id="group-required-other-products">
                            <div class="panel-heading">
                                Message records
                            </div>
                            <div class="panel-body">
                                @foreach (var item in Model.ReplyRecords)
                                {
                                    var groupClass = item.IsFromClient ? "" : "reply-record-group-me";
                                    var creatorType = item.IsFromClient ? "customer:" : "mazuma:";
                                    <div class="reply-record-group @groupClass">
                                        <div class="record-text-row">@Html.Raw(item.Message)</div>
                                        <div class="font-italic text-grey">@item.CreatedOn by @creatorType @item.CreatorEmail</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel panel-default" id="group-required-other-products">
        <div class="panel-heading">
            @T("Admin.EnquiryRequest.ReplyMessage.PanelTitle")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ReplyMessage" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="ReplyMessage" asp-template="RichEditor" />
                    <span asp-validation-for="ReplyMessage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="text-warning">@T("Admin.EnquiryRequest.ReplyMessage.Warning")</div>
                    <button type="submit" name="save-continue" class="btn btn-primary">@T("Admin.EnquiryRequest.ReplyMessage.AddButton")</button>
                </div>
            </div>
        </div>
    </div>
</div>