﻿@using Nop.Web.Areas.Admin.Models.EnquiryRequest
@model EnquiryRequestInfoModel

@{
    //page title
    ViewBag.Title = T("Admin.EnquiryRequest.EditEnquiryRequestDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customer enquiry requests");
}

<form asp-controller="EnquiryRequest" asp-action="Edit" method="post" id="enquiry-request-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.EnquiryRequest.EditEnquiryRequestDetails") - @Model.RequestNumber
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.EnquiryRequest.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <span id="enquiry-request-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_customer_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="enquiry-request-delete" />
