﻿@using Nop.Web.Areas.Admin.Models.EnquiryRequest
@model EnquiryRequestFilterModel
@inject AdminAreaSettings adminAreaSetting
@{
    var defaultGridPageSize = adminAreaSetting.DefaultGridPageSize;
    var gridPageSizes = adminAreaSetting.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.EnquiryRequests").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customer enquiry requests");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.EnquiryRequests")
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedFrom" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedFrom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedTo" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedTo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="RequestNumber" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="RequestNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="OrderNumber" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="OrderNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CustomerId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CustomerId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="UserEmail" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="UserEmail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="RequestStatusId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="RequestStatusId" asp-items="Model.AvailableRequestStatus" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="EnquiryTicketReasonId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="EnquiryTicketReasonId" asp-items="Model.EnquiryTicketReasons" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="btn-search-enquiry-request" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="enquiry-request-grid"></div>
                    <script type="text/javascript">
                        $(function(){
                            $("#enquiry-request-grid").kendoGrid({
                                dataSource: {
                                    type: 'json',
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "EnquiryRequest"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize:@(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                //pagination
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                     @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode:"inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "RequestNumber",
                                        title: "@T("Admin.EnquiryRequest.Fields.RequestNumber")",
                                        width: 130
                                    }, {
                                        field: "UserEmail",
                                        title: "@T("Admin.EnquiryRequest.Fields.UserEmail")",
                                        width: 200
                                    }, {
                                        field: "TicketReason",
                                        title: "@T("Admin.EnquiryRequest.Fields.TicketReason")",
                                    },{
                                        field: "Status",
                                        title: "@T("Admin.EnquiryRequest.Fields.RequestStatus")",
                                        width: 130,
                                        template: '# if(Status == 10) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    }, {
                                        field: "LastUpdatedOn",
                                        title: "@T("Admin.EnquiryRequest.Fields.LastUpdatedOn")",
                                        width:180
                                    },{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:cneter" },
                                        attributes: { style: "text-align:center" },
                                        template:'<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                ],
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $("#btn-search-enquiry-request").click(function () {
                                var grid = $("#enquiry-request-grid").data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                        function additionalData() {
                            var data = {
                                CreatedFrom: $('#@Html.IdFor(model=>model.CreatedFrom)').val(),
                                CreatedTo: $('#@Html.IdFor(model=>model.CreatedTo)').val(),
                                RequestNumber: $('#@Html.IdFor(model=>model.RequestNumber)').val(),
                                OrderNumber: $('#@Html.IdFor(model=>model.OrderNumber)').val(),
                                CustomerId: $('#@Html.IdFor(model=>model.CustomerId)').val(),
                                UserEmail: $('#@Html.IdFor(model=>model.UserEmail)').val(),
                                RequestStatusId: $('#@Html.IdFor(model=>model.RequestStatusId)').val(),
                                EnquiryTicketReasonId: $('#@Html.IdFor(model=>model.EnquiryTicketReasonId)').val(),
                            }
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>