﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.CustomerReminder.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventEnabled_OverrideForStore" asp-input="AbandonedCartEventEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventEnabled" />
                    <span asp-validation-for="AbandonedCartEventEnabled"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetEarlierThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetEarlierThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventConditionMetEarlierThan" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventConditionMetEarlierThan" />
                    <span asp-validation-for="AbandonedCartEventConditionMetEarlierThan"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetUomEarlierThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetUomEarlierThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                </div>
                <div class="col-md-3">
                    <nop-select asp-for="AbandonedCartEventConditionMetUomEarlierThan" asp-items="Model.AbandonedCartEventConditionMetUomEarlierThanList" />
                    <span asp-validation-for="AbandonedCartEventConditionMetUomEarlierThan"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetLaterThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetLaterThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AbandonedCartEventConditionMetLaterThan" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AbandonedCartEventConditionMetLaterThan" />
                    <span asp-validation-for="AbandonedCartEventConditionMetLaterThan"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AbandonedCartEventConditionMetUomLaterThan_OverrideForStore" asp-input="AbandonedCartEventConditionMetUomLaterThan" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                </div>
                <div class="col-md-3">
                    <nop-select asp-for="AbandonedCartEventConditionMetUomLaterThan" asp-items="Model.AbandonedCartEventConditionMetUomLaterThanList" />
                    <span asp-validation-for="AbandonedCartEventConditionMetUomLaterThan"></span>
                </div>
            </div>
        </div>
    </div>
</div>
