﻿@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Ecorenew.CustomerReminder.Models;

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="CustomerReminder" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="customer-reminder-edit">
                <nop-tab asp-name="tab-cart-abandoned-event" asp-title="@T("Plugins.Ecorenew.CustomerReminder.AbandonedCart.Event.Title")" asp-default="true">@await Html.PartialAsync("~/Plugins/Ecorenew.CustomerReminder/Views/_Configure.AbandonedCartEvent.cshtml", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>
