﻿@model List<ExternalAuthenticationMethodModel>
@if (Model.Any())
{
    <di>@T("Account.AssociatedExternalAuth.Or")</di>
}
<div class="external-auth-container">
    @foreach (var authenticationMethod in Model)
    {
        @await Component.InvokeAsync(authenticationMethod.ViewComponentName)
    }
</div>