﻿@model Nop.Plugin.Ecorenew.Finance.Models.Consumer.Components.ConsumerPaymentModeSelectorComponentModel
@{
    Html.AddFinanceCssFileParts("consumer/common");
    Html.AddFinanceCssFileParts("consumer/payment-term-selector");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/payment-term-selector");
}

<div id="consumerfinance_paymentterm_section">
    <dl>
        <dt>
            <label class="text-promt">@T("Ecorenew.Finance.ShoppingCart.SelectPaymentMode")</label>
            <nop-required />
        </dt>
        <dd>
            @if (!Model.ReadOnly)
            {
                <select asp-for="SelectedPaymentModeId" asp-items="Model.PaymentModes" id="consumerfinance_paymentmode_selector"></select>
            }
            else
            {
                @Model.PaymentModes.Single(x => x.Value == Model.SelectedPaymentModeId?.ToString())?.Text
            }
        </dd>
    </dl>
    <dl id="consumerfinance_paymentterm_financeoption_section" style="@(Model.SelectedPaymentModeId == (int)Nop.Plugin.Ecorenew.Finance.Models.Consumer.Components.ConsumerPaymentMode.PayMonthly ? "" : "display: none;")">
        <dt>
            <label class="text-promt">@T("Ecorenew.Finance.ShoppingCart.SelectFinanceOption")</label>
            <nop-required />
        </dt>
        <dd>
            @if (!Model.ReadOnly)
            { 
                <select asp-for="SelectedConsumerFinanceOptionId" asp-items="Model.ConsumerFinanceOptions" id="consumerfinance_paymentterm_financeoption"></select>
            }
            else
            {
                @Model.ConsumerFinanceOptions.Single(x => x.Value == Model.SelectedConsumerFinanceOptionId?.ToString())?.Text
            }
        </dd>
    </dl>
    @if (Model.ShowSignupLink)
    {
        <dl id="consumerfinance_paymentterm_apply_section">
            <dd>
                <a asp-controller="ConsumerFinanceSignup" asp-action="Index" id="consumerfinance_paymentterm_signup">
                    <img src="~/Plugins/Ecorenew.Finance/Content/Images/apply-button.png" alt="@T("Ecorenew.Finance.Consumer.Signup.ApplyForFinance")" />
                </a>
            </dd>
        </dl>
    }
    @if (!String.IsNullOrWhiteSpace(Model.DocuSignToken))
    {
        <dl id="consumerfinance_paymentterm_apply_section">
            <dd>
                <a href="@Model.DocuSignToken">Sign agreement documents</a>
            </dd>
        </dl>
    }
</div>