﻿@model ShareListModel

@using Nop.Core;

@inject IWebHelper webHelper

@{
    var shareUrl = webHelper.GetStoreLocation() + "sharelist/" + Model.CustomerGuid;
    //var shareUrl = "https://www.google.com/";
}

<div class="product-social-buttons">
    <label class="product-social-label">@T("SevenSpikes.Themes.Venture.Common.Share")</label>
    <ul class="product-social-sharing">
        <li>
            <!-- Twitter -->
            <a class="twitter" title="@T("SevenSpikes.Themes.Venture.Common.ShareTwitter")" href="javascript:openShareWindow('http://twitter.com/share?url=@shareUrl')">@T("SevenSpikes.Themes.Venture.Common.ShareTwitter")</a>
        </li>
        <li>
            <!-- Facebook -->
            <a class="facebook" title="@T("SevenSpikes.Themes.Venture.Common.ShareFacebook")" href="javascript:openShareWindow('http://www.facebook.com/sharer.php?u=@shareUrl')">@T("SevenSpikes.Themes.Venture.Common.ShareFacebook")</a>
        </li>
        <li>
            <!-- Pinterest -->
            <a class="pinterest" title="@T("SevenSpikes.Themes.Venture.Common.SharePinterest")" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">@T("SevenSpikes.Themes.Venture.Common.SharePinterest")</a>
        </li>
        <li>
            <!-- Google+ -->
            <a class="google" title="@T("SevenSpikes.Themes.Venture.Common.ShareGooglePlus")" href="javascript:openShareWindow('https://plus.google.com/share?url=@shareUrl')">@T("SevenSpikes.Themes.Venture.Common.ShareGooglePlus")</a>
        </li>
    </ul>

    <script>
        function openShareWindow(url) {
            var winWidth = 520;
            var winHeight = 400;
            var winTop = (screen.height / 2) - (winHeight / 2);
            var winLeft = (screen.width / 2) - (winWidth / 2);

            window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
        }
    </script>
</div>
