﻿@model ShoppingCartModel
@using Nop.Core;
@inject IWebHelper webHelper
@{
    Layout = "_Root.ForCart";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
<style>
    .search-wrap {
        display: none !important;
    }

    .shopping-cart-link {
        display: none !important;
    }

    .menu-title {
        display: none !important;
    }

    @@media screen and (max-width: 1200px) and (min-width: 601px) {
        .shopping-cart-page .common-buttons button {
            float: unset;
        }

        .shopping-cart-page .button-2.clear-cart-button, .shopping-cart-page .button-2.update-cart-button {
            text-align: center;
            float: unset;
            width: 170px !important;
            margin: 0 3.5px 7px;
        }

        .shopping-cart-page .button-2.continue-shopping-button {
            width: 517px !important;
        }
    }

    @@media (max-width: 600px) {
        .shopping-cart-page .button-2.clear-cart-button, .shopping-cart-page .button-2.update-cart-button, .shopping-cart-page .button-2.continue-shopping-button {
            text-align: center;
            float: unset;
            width: 255px !important;
            margin: 0 3.5px 7px;
        }
    }

    .shopping-cart-page-body .master-wrapper-content {
        padding-top: 0px !important
    }
</style>

<script>
    var _errorMessage = "@Model._ErrorMessage";
    if (_errorMessage) {
        alert(_errorMessage);
    }
    function openShareWindow() {
        var shareUrl = "http://www.facebook.com/sharer.php?u=" + $("#share-url").val() + "&hashtag=%23refurbishediphone";
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);
        window.open(shareUrl, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
    function openShareTwitterWindow() {
        var shareUrl = "http://twitter.com/share?url=" + $("#share-url").val() + "&hashtags=mazumamobile,refurbishediphone,iphone,refurbished,apple,renew,iphonexs";
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);

        window.open(shareUrl, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
    function openEmailFriendsWindow() {
        var shareUrl = "@Url.RouteUrl("EmailShareList")";
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);

        window.open(shareUrl, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>

@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}
@await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
<div class="shopping-cart-page-container">
    <div class="page shopping-cart-page">

        <div class="page-title">
            <h1>Review Order</h1>
            @*@if (Model.Items.Count() > 0)
                {
                    <div class="share-shopingcart">
                        <button class="share-friends-button" onclick="sharePopup()"><span>Share to friends</span></button>
                    </div>
                }*@

        </div>

        <div class="page-body">
            @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
        </div>
    </div>
    @* share popup *@
    <div style="z-index:10000" class="modal fade" id="Share_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="Share_modal_content">
                    <h2 style="line-height: 55px;">Share shopping list</h2>
                    <h3 style="line-height: 30px;">Share shopping list and let others add items to their shopping cart</h3>
                    <div class="share-url-continer">
                        <input id="share-url" class="share-input" onclick="this.select();" readonly="readonly" />
                    </div>
                    @*<div class="share-friends-button-continer">
                            <input type="button" value="@T("ShareList.EmailAFriend")" class="button-2 email-a-friend-shareList-button" onclick="setLocation('@Url.RouteUrl("EmailShareList")')" />
                            <input type="button" value="@T("SevenSpikes.Themes.Venture.Common.ShareFacebook")" class="button-2 fackbook-a-friend-shareList-button" onclick="openShareWindow()" />
                        </div>*@
                    <div class="share-friends-button-continer">
                        <a class="cart-share-btn" title="@T("SevenSpikes.Themes.Venture.Common.ShareFacebook")" href="javascript:openShareWindow()">
                            <span class="icon iconfont icon-facebook cart-facebook"></span>
                        </a>
                        <a class="cart-share-btn" title="@T("SevenSpikes.Themes.Venture.Common.ShareTwitter")" href="javascript:openShareTwitterWindow()">
                            <span class="icon iconfont icon-twitter cart-twitter"></span>
                        </a>
                        <a class="cart-share-btn" title="Email a friend" href="javascript:openEmailFriendsWindow()">
                            <span class="icon iconfont icon-email cart-eamil"></span>
                        </a>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="button-2" data-dismiss="modal">Close</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = "cart_bottom" })
<script>

    function sharePopup() {

         $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("GeneralShareList", "ShoppingCart")',
                dataType: 'json',
                success: function (data) {
                    var url = "@webHelper.GetStoreLocation()"+"sharelist/" +data;
                    $("#share-url").val(url);
                    $("#Share_modal").modal("show");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Some error happen,please try again');
                }
            });
    }
    @*function confirmExit(bState) {
        window.onbeforeunload = null;
        if ('undefined' === typeof bState) {
            bState = true;
        }
        // on
        if (true === bState) {
            window.onbeforeunload = function (oEvent) {
                (oEvent || window.event).returnValue = 'Sure you want to leave?';
                return 'Sure you want to leave?';
            };
            return true;
        }
        // off
        return false;
    }

    // initial activation
    confirmExit(true);

    $('#checkout').on('click', function () {
        confirmExit(false);
    });
    $('.logo, .update-cart-button, .continue-shopping-button ,.email-a-friend-shareList-button,.remove-from-cart, .cart-share-btn').on('click', function () {
        confirmExit(false);
    });*@
</script>