﻿@model ShareListEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShareListEmailAFriend").Text);
    //page class
    Html.AppendPageCssClassParts("html-email-a-friend-page");
}

<div class="page email-a-friend-page">
    <div class="page-title">
        <h1>@T("ShareList.EmailAFriend.Title")</h1>
    </div>
    <div class="page-body">
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="EmailShareList" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="FriendEmail" asp-postfix=":"></label>
                            <input asp-for="FriendEmail" class="friend-email" placeholder="@T("ShareList.EmailAFriend.FriendEmail.Hint")"/>
                            <span asp-validation-for="FriendEmail"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="YourEmailAddress" asp-postfix=":"></label>
                            <input asp-for="YourEmailAddress" class="your-email" placeholder="@T("ShareList.EmailAFriend.YourEmailAddress.Hint")"/>
                            <span asp-validation-for="YourEmailAddress"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="PersonalMessage" asp-postfix=":"></label>
                            <input asp-for="PersonalMessage" class="personal-message" placeholder="@T("ShareList.EmailAFriend.PersonalMessage.Hint")"/>
                            <span asp-validation-for="PersonalMessage"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 send-email-a-friend-button" value="@T("ShareList.EmailAFriend.Button")" />
                </div>
            </form>
        }
    </div>
</div>
