﻿@model int
@{
    //other variables
    var randomNumber = CommonHelper.GenerateRandomInteger();
    var clientId = "download" + randomNumber;
    var attachmentDownloadService = EngineContext.Current.Resolve<IAttachmentDownloadService>();
    var download = attachmentDownloadService.GetAttachmentDownloadById(Model);
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#cbUseDownloadURL@(randomNumber)').click(toggleDownloadRecordType@(randomNumber));

        $('#saveDownloadUrl@(randomNumber)').click(function (e) {
            e.preventDefault();

            var downloadUrl = $("#downloadurl@(randomNumber)").val();
            $('#saveDownloadUrl@(randomNumber)').attr('disabled', true);

            var headers = {};

            headers['__RequestVerificationToken'] = addAntiForgeryToken();

            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.Action("SaveDownloadUrl", "AttachmentDownloadAdmin")",
                data: { "downloadUrl": downloadUrl },
                headers: headers,
                success: function (data) {
                    $('#pnlDownloadURLResult@(randomNumber)').fadeIn("slow").delay(1000).fadeOut("slow");
                    $("#@(clientId + "value") input").val(data.downloadId);
                    $('#saveDownloadUrl@(randomNumber)').attr('disabled', false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to save download object.');
                    $('#saveDownloadUrl@(randomNumber)').attr('disabled', false);
                }
            });
        });

        toggleDownloadRecordType@(randomNumber)();
    });

    function toggleDownloadRecordType@(randomNumber)() {
        if ($('#cbUseDownloadURL@(randomNumber)').is(':checked')) {
            $('#pnlDownloadURL@(randomNumber)').show();
            $('#pnlDownloadFile@(randomNumber)').hide();
        }
        else {
            $('#pnlDownloadURL@(randomNumber)').hide();
            $('#pnlDownloadFile@(randomNumber)').show();
        }
    }

</script>


<div id="@(clientId + "value")">
    @Html.HiddenFor(x => x)
</div>
<div>
    <div class="form-group">
        <div class="col-xs-3 col-sm-3 col-md-2">
            <div class="label-wrapper">
                <label class="control-label">
                    @T("Admin.Download.UseDownloadURL")
                </label>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10 ">
            <input type="checkbox" name="cbUseDownloadURL@(randomNumber)" id="cbUseDownloadURL@(randomNumber)"
                   @if (download != null && download.UseDownloadUrl) { <text> checked="checked" </text>   } />
        </div>

    </div>
    <div class="form-group" id="pnlDownloadURL@(randomNumber)">
        <div class="col-xs-3 col-sm-3 col-md-2">
            <div class="label-wrapper">
                <label class="control-label">
                    @T("Admin.Download.DownloadURL")
                </label>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10">
            <input type="text" name="downloadurl@(randomNumber)" id="downloadurl@(randomNumber)" class="form-control text-box single-line"
                   @if (download != null && !String.IsNullOrEmpty(download.DownloadUrl)) { <text> value="@(download.DownloadUrl)" </text>    } />
            <br />
            <button id="saveDownloadUrl@(randomNumber)" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Download.SaveDownloadURL")</button>
            <div id="pnlDownloadURLResult@(randomNumber)" style="display:none;">@T("Admin.Download.DownloadURLSaved")</div>
        </div>

    </div>
    <div class="form-group" id="pnlDownloadFile@(randomNumber)">
        <div class="col-xs-3 col-sm-3 col-md-2">
            <div class="label-wrapper">
                <label class="control-label">
                    @T("Admin.Download.UploadFile")
                </label>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10">
            <div class="upload-box-item">
                @*fine uploader container*@
                <div id="@clientId">
                    <noscript>
                        <p>
                            Please enable JavaScript to use file uploader.
                        </p>
                        <!-- or put a simple form for upload here -->
                    </noscript>
                </div>
                @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                <script type="text/template" id="@(clientId)-qq-template">
                    <div class="qq-uploader-selector qq-uploader">
                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                            <span>@T("Common.FileUploader.DropFiles")</span>
                        </div>
                        <div class="qq-upload-button-selector qq-upload-button">
                            <div>@T("Common.FileUploader.Upload")</div>
                        </div>
                        <span class="qq-drop-processing-selector qq-drop-processing">
                            <span>@T("Common.FileUploader.Processing")</span>
                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                        </span>
                        <ul class="qq-upload-list-selector qq-upload-list">
                            <li>
                                <div class="qq-progress-bar-container-selector">
                                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                </div>
                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                            </li>
                        </ul>
                    </div>

                </script>

                <script type="text/javascript">

                        $(document).ready(function () {
                            $("#@clientId").fineUploader({
                                request: {
                                    endpoint: '@(Url.Content("~/Admin/AttachmentDownloadAdmin/AsyncUpload"))'
                                },
                                template: "@(clientId)-qq-template",
                                multiple: false
                            }).on("complete", function (event, id, name, responseJSON, xhr) {
                                $("#@(clientId + "downloadurl")").html("<a class='btn bg-blue' href='" + responseJSON.downloadUrl + "'><i class='fa fa-download'></i>@T("Admin.Download.DownloadUploadedFile")</a>");
                                $("#@(clientId + "value") input").val(responseJSON.downloadId);
                                $("#@(clientId + "remove")").show();
                            });


                            $("#@(clientId + "remove")").click(function (e) {
                                $("#@(clientId + "downloadurl")").html("");
                                $("#@(clientId + "value") input").val(0);
                                $(this).hide();
                            });
                        });

                </script>

            </div>
            <div id="@(clientId + "downloadurl")" class="upload-box-item">
                @if (download != null)
                {
                    <a class="btn bg-blue" href="@Url.Content(String.Format("~/Attachment/DownloadFile?downloadId={0}", Model))"><i class="fa fa-download"></i>@T("Admin.Download.DownloadUploadedFile")</a>
                }
            </div>
            <div class="upload-box-item">
                @if (download != null)
                {
                    <span id="@(clientId + "remove")" class="btn bg-red"><i class="fa fa-trash-o"></i>@T("Admin.Download.RemoveDownload")</span>
                }
                else
                {
                    <span id="@(clientId + "remove")" class="btn bg-red" style="display:none;"><i class="fa fa-trash-o"></i>@T("Admin.Download.RemoveDownload")</span>
                }
            </div>

        </div>
    </div>
</div>