﻿@model CategoryGroupModel



<div class="spc-body">
    <div class="category-info">
        <div class="category-details">
            <h2 class="category-title">
                <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">@Model.Name</a>
            </h2>

            <div class="spc-header">
                <ul class="navigation">
                    @foreach (var tab in Model.Tabs)
                    {
                        <li class="tab" data-tabId="@tab.Id" notloaded>
                            <span>@tab.Title</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category-products">
        @foreach (var tab in Model.Tabs)
        {
            <div class="product-grid" data-tabId="@tab.Id">
                <div class="item-grid">
                    @await Html.PartialAsync("_Grid", tab.Products)
                </div>
            </div>
        }
        <div class="loading-overlay">
            <span>@T("SevenSpikes.SmartProductCollections.Public.Loading")</span>
        </div>
    </div>
</div>