﻿@model IList<Nop.Web.Models.Catalog.ProductOverviewModel>

@if (Model.Count > 0)
{
    <div class="first-item-box">
        @await Html.PartialAsync("_ProductBox", Model.First())
    </div>
    <div class="other-item-boxes">
        @for (int i = 1; i < Model.Count && i < 5; i++)
        {
            @await Html.PartialAsync("_ProductBox", Model[i])
        }
    </div>
}
else
{
    <span class="no-data">@T("SevenSpikes.SmartProductCollections.Public.NoProductsAvailable")</span>
}