﻿@using Nop.Web.Models.EnquiryRequest;
@model EnquiryRequestModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.EnquiryRequestDetail").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page html-enquiry-request-detail-page");
}
<div class="page contact-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "enquiry_request_detail_top" })
        <div class="enquiry-detail">
            <div class="enquiry-title text-center">
                <h1>@T("PageTitle.EnquiryRequest") @Model.RequestNumber</h1>
            </div>
            <div class="enquiry-content">
                <div class="enquiry-question">
                    <p class="question-title">@Model.TicketReason</p>
                    <div class="italic-font-style">@T("account.enquiryrequest.detail.CreatedOn"): @Model.CreatedOn</div>
                    @if(string.IsNullOrEmpty(Model.OrderNumber))
                    {
                        <div class="italic-font-style">@T("account.enquiryrequest.detail.OrderNumber"): @Model.OrderNumber</div>
                    }
                    <div class="italic-font-style">@T("account.enquiryrequest.detail.Contact"): @Model.UserName (@Model.UserEmail)</div>
                    <div class="question-content">
                        @Model.Enquiry
                    </div>
                </div>

                @if(Model.ReplyRecords != null)
                {
                    <div class="con-enquiry-answer">
                        @foreach(var item in Model.ReplyRecords)
                        {
                            <div class="enquiry-answer">
                                <div class="italic-font-style">@T("account.enquiryrequest.detail.RepliedDate"): @item.CreatedOn</div>
                                <div class="answer-content">
                                    @Html.Raw(item.Message)
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "enquiry_request_detail_bottom" })
    </div>
</div>
