﻿@using Nop.Web.Models.EnquiryRequest
@model EnquiryRequestListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.EnquiryRequests })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("account.enquiryrequest.history")</h1>
    </div>
    <div class="page-body">
        @if (Model.Items.Count > 0)
        {
        <div class="order-list">
            @foreach (var item in Model.Items)
                {
            <div class="section order-item">
                <div class="title">
                    <strong>@T("account.enquiryrequest.history.RequestNumber"): @item.RequestNumber</strong>
                </div>
                <ul class="info">
                    <li>@T("account.enquiryrequest.history.TicketReason"): <span class="order-status">@item.TicketReason</span></li>
                    <li>@T("account.enquiryrequest.history.CreatedOn"): <span class="order-date">@item.CreatedOn.ToString()</span></li>
                    <li>@T("account.enquiryrequest.history.Enquiry"): <span class="order-total">@item.ShortEnquiry</span></li>
                </ul>
                <div class="con-buttons">
                    <input type="button" value="@T("account.enquiryrequest.history.Details")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("EnquiryRequestDetail", new { id = item.Id })')" />
                </div>
            </div>
                }
        </div>
        }
        else
        {
        <div class="no-data">
            @T("account.enquiryrequest.history.nodata")
        </div>
        }
    </div>
</div>
