﻿@model ProductInsuranceSettingModel
@using Nop.Core.Domain.Configuration
@using Nop.Web.Areas.Admin.Models.Settings
@using Nop.Services

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ProductId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ProductId" asp-items="Model.AvailableProduct" />
                    <span asp-validation-for="ProductId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ProductType" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ProductType" asp-items="@(((ProductInsuranceType)Model.ProductType).ToSelectList())" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="RangeStart" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RangeStart" />
                    <span asp-validation-for="RangeStart"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="RangeEnd" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RangeEnd" />
                    <span asp-validation-for="RangeEnd"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsActive" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IsActive" />
                    <span asp-validation-for="IsActive"></span>
                </div>
            </div>
        </div>
    </div>
</div>