﻿@model ProductInsuranceSettingListModel
@using Nop.Web.Areas.Admin.Models.Settings
@inject AdminAreaSettings adminAreaSetting
@{
    var defaultGridPageSize = adminAreaSetting.DefaultGridPageSize;
    var gridPageSizes = adminAreaSetting.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Configuration.ProductInsuranceSetting").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product Insurance Setting");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.ProductInsuranceSetting")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductType" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="ProductType" asp-items="Model.AvailableProductType" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-productInsuranceSetting-record" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="productInsuranceSetting-record-grid"></div>
                    <script type="text/javascript">
                        $(function(){
                            $("#productInsuranceSetting-record-grid").kendoGrid({
                                dataSource: {
                                    type: 'json',
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "ProductInsuranceSetting"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                //分页
                                 pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "ProductInsuranceType",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.ProductType")",
                                        template: '<span class="grid-report-item ' +
                                            '# if(ProductType == 232) {# yellow #} #' +
                                            '# if(ProductType == 203) {# blue #} #' +
                                            '">#=ProductInsuranceType#</span>'
                                    },{
                                        field: "ProductId",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.ProductId")",
                                    },{
                                        field: "ProductName",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.ProductName")",
                                        template:'<em><a href="/Admin/Product/Edit/#=ProductId#">#=ProductName#</a></em>',
                                    },{
                                        field: "ProductPrice",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.ProductPrice")",
                                    },{
                                        field: "RangeStart",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.RangeStart")",
                                    },{
                                        field: "RangeEnd",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.RangeEnd")",
                                    },{
                                        field: "IsActive",
                                        title: "@T("Admin.Configuration.ProductInsuranceSetting.Fields.IsActive")",
                                        template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    },{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        headerAttributes: { style: "text-align:cneter" },
                                        attributes: { style: "text-align:center" },
                                        template:'<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                ],
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $("#search-productInsuranceSetting-record").click(function () {
                                var grid = $("#productInsuranceSetting-record-grid").data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                        function additionalData() {
                              var data = {
                               ProductType: $('#@Html.IdFor(model => model.ProductType)').val(),
                            }
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>

        </div>
    </div>
</div>