﻿@model MessageTemplateModelCustomerReminders
    
<input asp-for="Id" type="hidden" />
<input asp-for="IsActive" type="hidden" />

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AllowedTokens" />
                </div>
                <div class="col-md-9">
                    <span id="@Html.IdFor(model => model.AllowedTokens)">
                        @Model.AllowedTokens
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="MessageTemplateName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MessageTemplateName" />
                    <span asp-validation-for="MessageTemplateName"></span>
                </div>
            </div>
            @(Html.LocalizedEditor<MessageTemplateModelCustomerReminders, MessageTemplateLocalizedModelCustomerReminders>("messagetemplate-localized",
            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BccEmailAddresses" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.Locales[item].BccEmailAddresses" />
                        <span asp-validation-for="@Model.Locales[item].BccEmailAddresses"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Subject" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.Locales[item].Subject" />
                        <span asp-validation-for="@Model.Locales[item].Subject"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Body" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.Locales[item].Body" asp-template="RichEditor" />
                        <span asp-validation-for="@Model.Locales[item].Body"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EmailAccountId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="@Model.Locales[item].EmailAccountId" asp-items="@(new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName", Model.Locales[item].EmailAccountId))" />
                        <span asp-validation-for="@Model.Locales[item].EmailAccountId"></span>
                    </div>
                </div>
                
                 <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
            </div>
            ,
            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BccEmailAddresses" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="BccEmailAddresses" />
                        <span asp-validation-for="BccEmailAddresses"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Subject" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Subject" />
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Body" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Body" asp-template="RichEditor" />
                        <span asp-validation-for="Body"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EmailAccountId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="EmailAccountId" asp-items="@(new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName", Model.EmailAccountId))" />
                        <span asp-validation-for="EmailAccountId"></span>
                    </div>
                </div>
            </div>
            ))
        </div>
    </div>
</div>
