﻿@model ReminderModel
    
@inject AdminAreaSettings adminAreaSettings    

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="reminderExcludedCustomers-grid"></div>

            <script>
                $(document)
                    .ready(function() {
                        $("#reminderExcludedCustomers-grid")
                            .kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url:
                                                "@Html.Raw(Url.Action("ReminderExcludedCustomerList", "CustomerRemindersAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = { reminderId: "@Model.Id" };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        },
                                        destroy: {
                                            url:
                                                "@Html.Raw(Url.Action("ReminderExcludedCustomerDelete", "CustomerRemindersAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                Id: { editable: false, type: "number" },
                                                CustomerName: { editable: false, type: "string" },
                                                CustomerEmail: { editable: false, type: "string" }
                                            }
                                        }
                                    },
                                    requestEnd: function(e) {
                                        if (e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                filterable: true,
                                sortable: true,
                                scrollable: false,
                                columns: [
                                    {
                                        field: "CustomerName",
                                        title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.CustomerName")"
                                    }, {
                                        field: "CustomerEmail",
                                        title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.CustomerEmail")"
                                    }, {
                                        command: [
                                            {
                                                name: "destroy",
                                                text: "@T("Admin.Common.Delete")"
                                            }
                                        ],
                                        width: 200
                                    }
                                ]
                            });
                    });
            </script>
        </div>
        <div class="panel-footer">
            <button type="submit" id="btnAddNewReminderExcludedCustomer" name="btnAddNewReminderExcludedCustomer"
                    onclick="javascript: OpenWindow('@Url.Action("ReminderExcludedCustomerAddPopup", "CustomerRemindersAdmin", new {reminderId = Model.Id, btnId = "btnRefreshReminderExcludedCustomer", formId = "reminder-form"})    ', 800, 700, true); return false;"
                    class="btn btn-primary">
                @T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.AddNewCustomer")
            </button>
            <input type="submit" id="btnRefreshReminderExcludedCustomer" name="btnRefreshReminderExcludedCustomer" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshReminderExcludedCustomer').click(function () {
                        //refresh grid
                        var optionsGrid = $("#reminderExcludedCustomers-grid");
                        optionsGrid.data('kendoGrid').dataSource.read();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
