﻿@model ReminderModel

@{
    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/adminstyles.css");
}

<script type="text/javascript">
    $(document).ready(function () {

        var reminderRulesDropdownId = "#@Html.IdFor(model => model.ReminderRuleId)";

        $(reminderRulesDropdownId).change(function () {
            var selectedItem = $(this).val();
            var allowedTokens =
                $("#@Html.IdFor(model => model.MessageTemplateModelCustomerReminders.AllowedTokens)");

            var headers = {};

            headers['__RequestVerificationToken'] = addAntiForgeryToken();

            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("GetAllowedTokensForReminder", "CustomerRemindersAdmin")",
                data: { "reminderRuleId": selectedItem },
                headers: headers,
                success: function (data) {

                    allowedTokens.html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve allowed tokens.');
                }
            });

            SetCurrentReminderRuleDescription(selectedItem)
        });

        var selectedReminderRuleId = $(reminderRulesDropdownId).val();

        SetCurrentReminderRuleDescription(selectedReminderRuleId);
    });

    function SetCurrentReminderRuleDescription(selectedReminderRuleId) {

        var reminderRuleDescription = $("#reminderDescription");

        var headers = {};

        headers['__RequestVerificationToken'] = addAntiForgeryToken();

        $.ajax({
            cache: false,
            type: "GET",
            url: "@Url.Action("GetReminderRuleDescription", "CustomerRemindersAdmin")",
            data: { "reminderRuleId": selectedReminderRuleId },
            headers: headers,
            success: function (data) {

                reminderRuleDescription.html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve allowed tokens.');
            }
        });
    }

</script>

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.SettingsTitle")
    </h1>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Enabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Enabled" />
                    <span asp-validation-for="Enabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                    <span asp-validation-for="StoreId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ReminderRuleId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ReminderRuleId" asp-items="Model.ReminderRules" />
                    <span asp-validation-for="ReminderRuleId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="NumberOfMessagesToSendPerCustomer" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="NumberOfMessagesToSendPerCustomer" />
                    <span asp-validation-for="NumberOfMessagesToSendPerCustomer"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ConditionMetDateLaterThanIntervalType" />
                </div>
                <div class="col-md-2">
                    <nop-editor asp-for="ConditionMetDateLaterThan" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="ConditionMetDateLaterThanIntervalType" asp-items="Model.DelayIntervalTypesAfterConditionIsMet" class="middleAligned" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ConditionMetDateEarlierThanIntervalType" />
                </div>
                <div class="col-md-2">
                    <nop-editor asp-for="ConditionMetDateEarlierThan" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="ConditionMetDateEarlierThanIntervalType" asp-items="Model.IgnoreReminderIfConditionWasMetBeforeIntervalTypes" class="middleAligned" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IntervalBetweenMessages" />
                </div>
                <div class="col-md-2">
                    <nop-editor asp-for="IntervalBetweenMessages" />
                </div>
                <div class="col-md-2">
                    <nop-select asp-for="IntervalBetweenMessagesType" asp-items="Model.IntervalBetweenMessagesTypes" class="middleAligned" />
                </div>
            </div>
            
            <input asp-for="MessageTemplateId" type="hidden" />
        </div>
    </div>
</div>