﻿@model ReminderModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;
}

@{
    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.CustomerReminders.Admin.Submenus.ManageReminders");
}

<form method="post" id="reminder-form">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>