﻿@model AddReminderExcludedCustomerModel

@inject AdminAreaSettings adminAreaSettings

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.PopupTitle").Text;
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.PopupTitle")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    @if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
            catch (e){}
            window.close();
        </script>
    }

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-search-popup panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCustomerFirstName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchCustomerFirstName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCustomerLastName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchCustomerLastName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCustomerEmail" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchCustomerEmail" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function() {
        $("#customers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ReminderExcludedAddPopupList", "CustomerRemindersAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "@T("Admin.Common.Check")",
                    template: "<input type='checkbox' name='SelectedCustomerIds' value='#=Id#' />",
                    attributes: {
                        style: "text-align:center"
                    },
                    width: 50
                }, {
                    field: "FullName",
                    title: "@T("Admin.Customers.Customers.Fields.FullName")"
                }, {
                    field: "Email",
                    title: "@T("Admin.Customers.Customers.Fields.Email")"
                }
            ]
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#search-customers').click(function() {
            var grid = $('#customers-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            grid.dataSource.read();
            return false;
        });
    });

    $("#@Html.IdFor(model => model.SearchCustomerFirstName), #@Html.IdFor(model => model.SearchCustomerLastName), #@Html.IdFor(model => model.SearchCustomerEmail)").keydown(function(event) {
        if (event.keyCode == 13) {
            $("#search-customers").click();
            return false;
        }
    });

    function additionalData() {
        var data = {
            SearchCustomerFirstName: $('#@Html.IdFor(model => model.SearchCustomerFirstName)').val(),
            SearchCustomerLastName: $('#@Html.IdFor(model => model.SearchCustomerLastName)').val(),
            SearchCustomerEmail: $('#@Html.IdFor(model => model.SearchCustomerEmail)').val()
        };

        addAntiForgeryToken(data);

        return data;
    }
</script>