﻿@model ReminderModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.CustomerReminders.Admin.Submenus.ManageReminders");
}

<form method="post" id="sale-campaign-form">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.EditReminderDetails")
            <small><i class="fa fa-arrow-circle-left"></i> - @Model.Name @Html.ActionLink("(" + T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.BackToList") + ")", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (Model.Id > 0)
            {
                <span id="reminder-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>

    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="reminder-delete" />