﻿@using Nop.Web.Models.Catalog;
@model CategoryDropdownMenuModel
@if (Model != null && Model.List.Any())
{
<div id="categories-dropdown-menu" class="shopify-section">
    <div class="widget-categories-dropdown-menu">
        <div class="container">
            <div class="flex">
                @foreach (var item in Model.List) { 
                    <div class="flex-grid">
                        <div class="flex">
                            <div class="flex-2 padding-left-m-large-up text-center">
                                <img class="hidden-xs" src="@item.ImageUrl" />
                                <div class="dropdown">
                                    <select class="categorylist categorylist-mb" name="categorylist">
                                        @foreach (var category in item.SubCategories)
                                        {
                                            <option value="/@category.Value">
                                                @category.Name
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>
}
<script>
    $(".dropdown .categorylist").on("change", function () {
        var val = $(this).val();
        if (val && val.length > 1) {
            window.location = val;
        }
    });
</script>