﻿@model CategoryModel
@using Nop.Core
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Core.Domain.Customers
@using Nop.Services.Common
@using Nop.Core.Domain.PagePopups
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@inject IWorkContext workContext
@inject IWebHelper webHelper
@inject CustomerSettings customerSettings
@inject IPopupIpAddressService popupIpAddressService
<style>
    @@media (max-width: 767px) {
        .category-page .title-picture-wrapper h1 {
            position: relative;
        }

        .category-page .category-picture-wrapper {
            padding-top: 0px !important;
        }
    }
</style>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    var canonicalUrlsEnabled = seoSettings.CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;

    var IsShowPopup = false;
    var limitedTimes = customerSettings.PopupHomePageLimitedTimes;
    if (limitedTimes > 0)
    {
        var ipAddress = webHelper.GetCurrentIpAddress();
        var popup = popupIpAddressService.GetPopupByPageIp(ipAddress, (int)PagePopupKey.CategoryPage);
        if (popup == null)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupLastTimeUtc.Date < DateTime.UtcNow.Date)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupTimes < limitedTimes)
        {
            IsShowPopup = true;
        }
    }

    var header = Model.Name;

    if (header == "Apple")
    {
        header = "Refurbished Apple iPhones";
    }
    else if (header == "Samsung")
    {
        header = "Refurbished Samsung Phones";
    }
    else if (header == "Charging")
    {
        header = "Mobile Phone Chargers";
    }
    else if (header == "Mobile Case")
    {
        header = "Mobile Phone Cases";
    }
    else if (header == "Travel")
    {
        header = "Mobile Phone Travel Accessories";
    }
    else if (header == "Screen Protector")
    {
        header = "Mobile Phone Screen Protectors";
    }
    else if (header == "Adapter")
    {
        header = "Mobile Phone Adapters";
    }

    var list = "Category Page";
    TempData["list"] = list;
}

@*category breadcrumb*@
@section Breadcrumb
    {
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li>
                        @if (isLastCategory)
                        {
                            <strong class="current-item">@cat.Name</strong>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                    </li>
                }
            </ul>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_breadcrumb", additionalData = Model.Id })
    }
}

<div class="page category-page">
    <div class="category-page-title">
            <div class="title-picture-wrapper">
                <div class="category-picture-wrapper">@await Component.InvokeAsync("Widget", new { widgetZone = "category_details_main_picture", additionalData = Model.Id })</div>
                <h1>
                    <span>@header</span>
                </h1>
            </div>
    </div>
    @{
        var categoryPagePopupZone = await Component.InvokeAsync("Widget", new { widgetZone = "category_page_popup" });
    }
    @if (IsShowPopup)
    {
        @categoryPagePopupZone
    }
    <script>
        $('#pupup_modal').on('shown.bs.modal', function () {
            $.ajax({
                cache: false,
                url: '@Url.Action("AddPopupTimes", "Common", new { popupPage = (int)PagePopupKey.CategoryPage })',
                type: 'get',
                success: function (data) {

                }
            });
        });
    </script>
    <div class="page-body">
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_top", additionalData = Model.Id })
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_featured_products", additionalData = Model.Id })
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="product-grid featured-product-grid">
                <div class="title">
                    <strong>@T("Products.FeaturedProducts")</strong>
                </div>
                <div class="item-grid">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", 
                                        item,
                                        new ViewDataDictionary(ViewData)
                                        {
                                            { "list", list }
                                        })
                        </div>
                    }
                </div>
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_featured_products", additionalData = Model.Id })

        @if (Model.Products.Count > 0)
        {
            @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_filters", additionalData = Model.Id })
        <div class="product-filters">
            @*filtering*@
            @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
            }
            @*filtering*@
            @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
            }
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_product_list", additionalData = Model.Id })

        @if (Model.Products.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                <div class="item-grid">
                    @foreach (var product in Model.Products)
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", 
                                                    product, 
                                                    new ViewDataDictionary(ViewData)
                                                    {
                                                        { "list", list }
                                                    })
                        </div>
                    }
                </div>
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_bottom", additionalData = Model.Id })
    </div>
</div>

<script>
    // Measures product impressions and also tracks a standard
    // pageview for the tag configuration.
    // Product impressions are sent by pushing an impressions object
    // containing one or more impressionFieldObjects.
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        "event" : "productImpression",
        "ecommerce": {
            "currencyCode": "GBP",
            "impressions": [
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <text>
                        {
                            'id': '@Model.Products[i].Id',
                            'name': '@Model.Products[i].Name',
                            'list': '@list'
                        }
                    </text>
                    if (i < Model.Products.Count - 1)
                    {
                        <text>,</text>
                    }
                }
            ]

        }
    });
</script>
