﻿@model PinterestModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Token" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Token" />
                <span asp-validation-for="Token"></span>
            </div>
        </div>
        <div class="adminHint">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <ul>
                    <li>To get your access token go to <a href="https://developers.pinterest.com/tools/access_token/" target="_blank">https://developers.pinterest.com/tools/access_token/</a>, select the <strong>scopes</strong> for your access token. For this plugin the <strong>read_public</strong> is enough.</li>
                    <li>Click on <strong>Generate token</strong> button and you will be able to get your access token from the text box next to the Generate token button.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoardName" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoardName" />
                <span asp-validation-for="BoardName"></span>
            </div>
        </div>
        <div class="adminHint">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <ul>
                    <li>To get your pinterest board name go to your pinterest profile page, click on the <strong>board</strong> and the url will became something like <strong>https://www.pinterest.com/username/boardname</strong></li>
                    <li>Copy the <strong>username/boardname</strong> part into the box above.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
