﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Microsoft.AspNetCore.WebUtilities
@using Nop.Core.Domain.Customers
@using Nop.Services.Common
@using Nop.Core.Domain.PagePopups

@inject ISettingService settingService
@inject IStoreContext storeContext
@inject IWorkContext workContext
@inject IWebHelper webHelper
@inject CustomerSettings customerSettings
@inject IPopupIpAddressService popupIpAddressService

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");

    var storeId = storeContext.CurrentStore.Id;
    var homePageProductBoxLayout = settingService.GetSettingByKey("venturethemesettings.homepageitemboxlayout", "layout-1", storeId, true);
    var homePageProductBoxLayoutClass = "product-box-" + homePageProductBoxLayout;

    var homePageFeaturedVideoLink = settingService.GetSettingByKey("venturethemesettings.homepagefeaturedvideolink", string.Empty, storeId, true);

    var videoIframe = string.Empty;

    if (!string.IsNullOrEmpty(homePageFeaturedVideoLink))
    {
        var uri = new Uri(homePageFeaturedVideoLink);
        var query = QueryHelpers.ParseQuery(uri.Query);
        var videoId = query["v"];

        videoIframe = string.Format("<iframe src='https://www.youtube.com/embed/{0}' frameborder='0' allowfullscreen></iframe>", videoId);
    }
    var IsShowPopup = false;
    var limitedTimes = customerSettings.PopupHomePageLimitedTimes;
    if (limitedTimes > 0)
    {
        var ipAddress = webHelper.GetCurrentIpAddress();
        var popup = popupIpAddressService.GetPopupByPageIp(ipAddress, (int)PagePopupKey.HomePage);
        if (popup == null)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupLastTimeUtc.Date < DateTime.UtcNow.Date)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupTimes < limitedTimes)
        {
            IsShowPopup = true;
        }
    }
}
<style>
    .header-free-delivery {
        display: block;
    }
    @@media only screen and (max-width: 1200px) {
        .header {
            height: 110px;
        }

        .header-free-delivery {
            display: none;
        }

        .header-free-delivery-mobile {
            display: block;
        }
    }

    .responsive-nav-wrapper-parent {
        margin-top: -1px;
    }

    @@media (min-width:1201px) {
        .main-page.master-wrapper-page:before {
            height: 165px;
        }

        .home-buy-devices-desk {
            display: block;
        }

        .usp.home-buy-devices {
            display: none;
        }
    }
    @@media screen and (max-width: 1130px) and (min-width: 1001px){
        .admin-header-links {
            position: fixed;
            top: 0;
            z-index: 1030;
            width: 100%;
        }
        .header {
            height: 74px;
        }
    }
</style>
<div class="page home-page @homePageProductBoxLayoutClass">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_banner" })
        @await Component.InvokeAsync("HomepageDropdownMenu")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_top" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "venture_home_page_info_boxes" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_categories" })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_products" })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_best_sellers" })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_news" })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_poll" })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_bottom" })
        @{
            var homepagePopupZone = await Component.InvokeAsync("Widget", new { widgetZone = "home_page_popup" });
        }
        @if (IsShowPopup)
        {
            @homepagePopupZone
        }
        <script>
            $('#pupup_modal').on('shown.bs.modal', function () {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("AddPopupTimes", "Common", new { popupPage = (int)PagePopupKey.HomePage })',
                    type: 'get',
                    success: function (data) {

                    }
                });
            });
        </script>
        <div class="home-page-bottom-wrapper">
            @{
                var carouselWidgetZone = await Component.InvokeAsync("Widget", new { widgetZone = "venture_home_page_bottom" });
            }
            @if (!String.IsNullOrEmpty(carouselWidgetZone.ToHtmlString()))
            {
                <div class="carousel-wrapper">
                    @carouselWidgetZone
                </div>
            }
            @if (!string.IsNullOrEmpty(videoIframe))
            {
                <div class="home-page-featured-video-wrapper">
                    <div class="home-page-video-title title">
                        <strong>@T("SevenSpikes.Themes.Venture.Common.HomePageVideoTitle")</strong>
                    </div>
                    <div class="home-page-featured-video">@Html.Raw(videoIframe)</div>
                </div>
            }
        </div>
    </div>
</div>
@await Component.InvokeAsync("EuCookieLaw")