﻿@model CategoryNavigationModel
@{
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/lib/bootstrap-select/select.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/lib/bootstrap-select/bootstrap-select.min.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap-select/i18n/defaults-en_US.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap-select/bootstrap-select.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/bootstrap.min.js");
}
@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@if (Model.Categories.Count > 0)
{
    <div class="block block-category-navigation">
        <div class="title">
            <strong>@T("Categories")</strong>
        </div>
        <select class="categorylist" name="categorylist" id="categorylist">
            @foreach (var category in Model.Categories)
            {
                var isActive = (Model.CurrentCategoryId == category.Id || BreadCrumbContainsCurrentCategoryId(category));
                if (isActive)
                {
                    <option selected="selected" value="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                        @category.Name
                        @*@if (category.NumberOfProducts.HasValue)
                        {
                            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
                        }*@
                    </option>
                }
                else
                {
                    <option value="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                        @category.Name
                        @*@if (category.NumberOfProducts.HasValue)
                        {
                            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
                        }*@
                    </option>
                }

            }
        </select>

        @*<div class="listbox">
                <ul class="list">
                    @foreach (var category in Model.Categories)
                    {
                        var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                        {
                            CurrentCategoryId = Model.CurrentCategoryId,
                            Category = category
                        };
                        @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                    }
                </ul>
            </div>*@
    </div>
    <script asp-location="Footer">
        $(function () {
            setCategoryHtml();
            $(window).resize(function () {
                setCategoryHtml();
            });
            $("#categorylist").selectpicker();
            $("#categorylist").change(function () {
                if ($(this).val()) {
                    window.location.href = $(this).val();
                }
            });
        });
        function setCategoryHtml() {
            var windowWidth = window.innerWidth;
            var mf7Spikes = $(".manufacturerFilterPanel7Spikes");
            var filtersPanel = mf7Spikes.parent(".filtersPanel");
            var categoryhtml = $(".block-category-navigation #categorylist").html();
            var categoryDiv = document.getElementById("category7spikes");
            if (windowWidth <= 1200) {
                if (categoryDiv == null) {
                    categoryDiv = $("<div id='category7spikes' class='block-category-7spikes'></div>");
                }
                else {
                    categoryDiv = $("#category7spikes.block-category-7spikes");
                }
                console.log(categoryDiv.html());
                if (categoryDiv.html() == "" || categoryDiv.html() == null) {
                    $(".block-category-navigation").hide();
                    var selecteList = $("<select class='categorylist' id='categorylist-mobile'></select>");
                    selecteList.append(categoryhtml);
                    categoryDiv.append('<div class="title"><strong>@T("Categories")</strong></div>');
                    categoryDiv.append(selecteList);
                    filtersPanel.before(categoryDiv);
                    $("#categorylist-mobile").selectpicker();
                    $("#categorylist-mobile").change(function () {
                        if ($(this).val()) {
                            window.location.href = $(this).val();
                        }
                    });
                }
            }
            else {
                $(".block-category-navigation").show();
                $("#category7spikes").html("");
            }
        }
    </script>
}