﻿.corporatefinance-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 50000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.corporatefinance-modal-inner {
    width: 100%;
    background-color: #fff;
    overflow: auto;
    text-align: justify
}

.corporatefinance-modal-header {
    background-color: #fff;
    padding: 25px 35px;
}

.ecorenew-finance-logo {
    background-image: url(/plugins/ecorenew.finance/content/images/ecorenewfinancelogo.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 70px;
    margin-top: -10px;
}

.corporatefinance-modal-close {
    float: right;
    background: none;
    border: none;
    font-size: 20px;
    color: #777;
    margin-right: 20px;
    margin-top: 5px;
}

    .corporatefinance-modal-close:hover,
    .corporatefinance-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.corporatefinance-modal-content {
    padding: 60px;
    padding-top: 0;
}

    .corporatefinance-modal-content .corporatefinance-modal-title {
        color: #777;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
        margin-top: -10px;
    }

    .corporatefinance-modal-content .terms {
        margin-left: -15px;
        margin-right: -15px;
        clear: both;
        overflow: auto;
        margin-bottom: 10px;
    }

.corporatefinance-term {
    text-align: center;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

    .corporatefinance-term .corporatefinance-term-header {
        color: #fff;
        text-align: center;
        border-bottom: none;
    }

        .corporatefinance-term .corporatefinance-term-header h2 {
            font-size: 18px;
            font-weight: 400;
            background: #eee;
            color: #444;
            padding: 15px;
            text-transform: uppercase;
        }

        .corporatefinance-term .corporatefinance-term-header .corporatefinance-term-subheader {
            color: #444;
            font-size: 30px;
            font-weight: 400;
            padding: 20px 0;
            background-color: #eee;
        }

    .corporatefinance-term .corporatefinance-term-breakdown {
        line-height: 2.1;
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .corporatefinance-term .corporatefinance-term-breakdown li {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .corporatefinance-term .corporatefinance-term-breakdown .breakdown-label {
            font-weight: 400;
            color: #555;
            font-size: 14px;
            display: block;
            line-height: 1.5;
        }

        .corporatefinance-term .corporatefinance-term-breakdown .breakdown-data {
            font-weight: 600;
            color: #000;
            font-size: 16px;
            display: block;
            line-height: 1.5;
        }

.corporatefinance-modal-content .bottom-text {
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px 40px;
    color: #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 1.5;
}

#corporatefinance-breakdownpopup-conditions {
    margin-top: 5px;
    list-style-type: square;
}

    #corporatefinance-breakdownpopup-conditions > li {
        margin-left: 50px;
    }

@media screen and (min-width: 768px) {
    .corporatefinance-term {
    }

    .corporatefinance-modal-inner {
        margin: 30px auto;
        width: 80%;
        max-width: 1060px;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
