﻿#corporatefinance_paymentterm_section {
    margin: 20px 0;
    padding: 20px;
    background: #f6f6f6;
    overflow: auto;
}

    #corporatefinance_paymentterm_section dt {
        float: right;
        clear: right;
        margin: 0 0 5px;
        font-weight: bold;
        font-size: 13px;
        color: #666;
    }

    #corporatefinance_paymentterm_section dd {
        float: right;
        clear: right;
        margin: 0 0 15px;
    }

#corporatefinance_paymentterm_signup {
    float: right;
    clear: right;
    margin: 0 0 15px;
}