﻿@model Nop.Plugin.Ecorenew.Finance.Models.Corporate.Components.CorporatePaymentModeSelectorComponentModel
@{
    Html.AddFinanceCssFileParts("corporate/payment-term-selector");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "corporate/payment-term-selector");
}

<div id="corporatefinance_paymentterm_section">
    <dl>
        <dt>
            <label class="text-promt">@T("Ecorenew.Finance.ShoppingCart.SelectPaymentMode")</label>
            <nop-required />
        </dt>
        <dd>
            @if (!Model.ReadOnly)
            {
                <select asp-for="SelectedPaymentModeId" asp-items="Model.PaymentModes" id="corporatefinance_paymentmode_selector"></select>
            }
            else
            {
                @Model.PaymentModes.Single(x => x.Value == Model.SelectedPaymentModeId?.ToString())?.Text
            }
        </dd>
    </dl>
    <dl id="corporatefinance_paymentterm_financeoption_section" style="@(Model.SelectedPaymentModeId == (int)Nop.Plugin.Ecorenew.Finance.Models.Corporate.Components.CorporatePaymentMode.PayMonthly ? "" : "display: none;")">
        <dt>
            <label class="text-promt">@T("Ecorenew.Finance.ShoppingCart.SelectFinanceOption")</label>
            <nop-required />
        </dt>
        <dd>
            @if (!Model.ReadOnly)
            {
                <select asp-for="SelectedCorporateFinanceOptionId" asp-items="Model.CorporateFinanceOptions" id="corporatefinance_paymentterm_financeoption"></select>
            }
            else
            {
                @Model.CorporateFinanceOptions.Single(x => x.Value == Model.SelectedCorporateFinanceOptionId?.ToString())?.Text
            }
        </dd>
    </dl>
    @if (Model.ShowSignupLink)
    {
        <dl id="corporatefinance_paymentterm_apply_section">
            <dd>
                <a asp-controller="CorporateFinanceSignup" asp-action="Index" id="corporatefinance_paymentterm_signup">
                    <img src="~/Plugins/Ecorenew.Finance/Content/Images/apply-button.png" alt="@T("Ecorenew.Finance.Corporate.Signup.ApplyForFinance")" />
                </a>
            </dd>
        </dl>
    }
    @if (!String.IsNullOrWhiteSpace(Model.DocuSignToken))
    {
        <dl id="corporatefinance_paymentterm_apply_section">
            <dd>
                <a href="@Model.DocuSignToken" class="corporate-finance-button">Sign agreement documents</a>
            </dd>
        </dl>
    }
</div>