﻿@inject IStoreService storeService
@inject IPictureService pictureService

@{
    ProductsModel model = ViewData["Model"] as ProductsModel;

    var products = model.Products;
    var storeUrl = storeService.GetStoreById(model.StoreId).Url;
}

<table border="0" cellspacing="5">

    @{
        for (int i = 0; i < products.Count; i++)
        {
            Product product = products[i];

            //new row after every third element
            if (i % 3 == 0)
            {
                @Html.Raw("<tr>")
            }
            
            string productName = product.GetLocalized(x => x.Name, model.LanguageId);
            string productSeName = product.GetSeName(model.LanguageId);
            string productUrl = storeUrl + productSeName;
            string currentProductHtml = string.Empty;
            
            if (model.IncludePictures)
            {
                var defaultProductPicture = pictureService.GetPicturesByProductId(product.Id, 1).FirstOrDefault();

                if (defaultProductPicture == null && product.ParentGroupedProductId > 0)
                {
                    defaultProductPicture = pictureService.GetPicturesByProductId(product.ParentGroupedProductId, 1).FirstOrDefault();
                }

                string pictureUrl = pictureService.GetPictureUrl(defaultProductPicture, 75, true, storeUrl);

                currentProductHtml += $"<a href=\"{productUrl}\"><img src=\"{pictureUrl}\"/></a><br />";
            }
            
            currentProductHtml += $"<a href=\"{productUrl}\">{productName}</a>";
        
            <td style="text-align: center; vertical-align: top; width: 200px;">@Html.Raw(currentProductHtml)</td>
        
            // close the row in two cases:
            // - after the last element
            // - or if the element is the last in the row (we have 3 products in a row)
            if (i == products.Count - 1 || (i > 0 && i % 3 == 2))
            {
                @Html.Raw("</tr>")
            }
        }
    }

</table>