﻿@model ProductReviewOverviewModel
@using System.Globalization
@{
    var ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}

@if (Model.AllowCustomerReviews)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text>itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"</text>}>
        
                <div class="ratings-reviews-title">
                    <p>@T("Reviews.Ratings.Title")</p>
                    <p>@T("Overall.Customer.Rating.Title")</p>
                </div>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>
        @if (Model.TotalReviews > 0){
        var ratingValue = ratingPercent / (decimal)20;
            <span itemprop="ratingValue" >@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
}
        @if (Model.TotalReviews > 0)
        {
            <div class="product-review-links">
                @Model.TotalReviews @T("Reviews.Overview.Reviews")
            </div>
            @*hidden microdata info*@
            
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }

        <div class="product-no-reviews">
            <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })" class="reviews-button">@T("Reviews.Overview.First")</a>
        </div>
    </div>
}