﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog
@using Nop.Web.Models.Common

@model ProductDetailsModel
@{
    Html.AddScriptParts("~/lib/jquery-ui-1.10.3.custom.min.js");

    Html.AddScriptParts("~/lib/quickTab/ProductTabs.min.js");

    Html.AddCssFileParts(String.Format("~/lib/quickTab/QuickTabs.css"));
}
<style>

</style>
<script>
$(function() {
    var showIndex = 0;
    $(".fold_tit").eq(showIndex).addClass('selected');
    $(".fold_con").eq(showIndex).show();
    $(".fold_tit").click(function(event) {
        event.preventDefault();
        $(this).toggleClass("selected").siblings('.fold_tit').removeClass("selected");
        $(this).next(".fold_con").slideToggle(400).siblings(".fold_con").slideUp(400);
    });
});
</script>
<div class="fold_box">
    <div class="fold_tit">OVERVIEW<span class="ico"></span></div>
    <div class="fold_con">
        <div class="tab-pane fade in active product-collateral" id="overview_mobile">
            <div class="full-description" itemprop="description">
                @Html.Raw(Model.FullDescription)

                <div class="show-more-container-overview" id="show-more_overview_mobile">
                    <div class="show-more-plus">show more</div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="fold_tit">360 VIEW <span class="ico"></span></div>
    <div class="fold_con">
        <div class="tab-pane fade product-collateral" id="show360View_mobile">
            <div class="360View-description" itemprop="description" style="padding: 40px;">
                @Html.Raw(Model.Show360View)
            </div>
        </div>
    </div>*@
    <div class="fold_tit">SPECIFICATIONS <span class="ico"></span></div>
    <div class="fold_con">
        <div class="tab-pane fade product-collateral" id="specification_mobile">
            @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)

            <div class="show-more-container-specification">
                <div class="show-more-plus">show more</div>
            </div>
            <div></div>
        </div>
    </div>
</div>
<section id="quickTabs" class="productTabs">

    <ul id="productTab" class="nav nav-tabs" style="border-bottom:none">
        <li class="active"><a href="#overview" data-toggle="tab">OVERVIEW</a></li>
        @*<li><a href="#show360View" data-toggle="tab">360 VIEW</a></li>*@
        <li><a href="#specification" data-toggle="tab">SPECIFICATIONS</a></li>
    </ul>
    <div id="productTabContent" class="tab-content">
        @if (Model.Id > 0)
        {
            <div class="tab-pane fade in active product-collateral" id="overview">
                <div class="full-description" itemprop="description">
                    @Html.Raw(Model.FullDescription)

                    <div class="show-more-container-overview" id="show-more_overview">
                        <div class="show-more-plus">show more</div>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade product-collateral" id="show360View">
                <div class="360View-description" itemprop="description" style="padding: 40px;">
                    @Html.Raw(Model.Show360View)
                </div>
            </div>*@
            <div class="tab-pane fade product-collateral" id="specification">
                @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)

                <div class="show-more-container-specification">
                    <div class="show-more-plus">show more</div>
                </div>
                <div></div>
            </div>
        }
    </div>
</section>
<script asp-location="Footer">
    function setLimitHeight(element, show_height, btn) {
        var total_height = element.offsetHeight;//文章总高度
        if (total_height > show_height) {
            $(btn).css("display", "block");
            $(element).css("height", show_height + 'px')
            $(btn).click(function () {
                $(element).css("height", total_height + 'px')
                $(btn).css("display", "none");
            });
        } else {
            $(btn).css("display", "none");
        }
    }

    $(document).ready(function () {
        setLimitHeight($("#overview .full-description")[0], 300, $("#overview .show-more-container-overview")[0]);
        setLimitHeight($("#overview_mobile .full-description")[0], 300, $("#overview_mobile .show-more-container-overview")[0]);
        //setLimitHeight($("#specification .table-wrapper")[0], 500, $("#specification .show-more-container-overview")[0]);
        //setLimitHeight($("#specification_mobile .table-wrapper")[0], 300, $("#specification_mobile .show-more-container-overview")[0]);
    });
    $(document).ready(function () {
        var specificationlist = $("#specification .data-table tr");
        if (specificationlist.length < 6) {
            $(".show-more-container-specification").css("display", "none");
        }

        $(".show-more-container-overview .show-more-plus").click(function () {
            $("#overview .data-table p").css("display", "block");
            $("#overview_mobile .data-table p").css("display", "block");
            $(".show-more-container-overview").css("display", "none");
        });
        $(".show-more-container-specification .show-more-plus").click(function () {
            $("#specification .data-table tr").css("display", "table-row");
            $("#specification_mobile .data-table tr").css("display", "table-row");
            $(".show-more-container-specification").css("display", "none");
        });
    });

    $(function () {
        $(".360View-description .four-condition").on("click", function () {
            var $parent = $(this).parent();
            var _id = $(this).prop("id");
            var _prefix = "#" + _id.substring(0, _id.indexOf("_"));
            var eleIframe = $parent.find(_prefix + "_iframe");
            eleIframe.attr("src", eleIframe.attr("src") + "&time=" + new Date().getTime());
            $parent.find(_prefix + "_modal").modal("show");
        });

        $('.360View-description .modal').on('shown.bs.modal', function () {
            var ratio = 970 / 1034;
            var $this = $(this);
            var popup_width = $this.find(".modal-body").width() - 4;
            var eleIframe = $this.find("iframe");
            eleIframe.width(popup_width);
            eleIframe.height(popup_width * ratio);
        });
    });
</script>

