﻿@model ProductReviewsModel
<div class="page-body">

    @if (Model.Items.Count > 0)
    {
    <div class="product-review-list">
        @*<div class="title">
            <strong>@T("Reviews.ExistingReviews")</strong>
        </div>*@
        @foreach (var review in Model.Items)
        {
            var ratingPercent = review.Rating * 20;
            <div class="product-review-item">
                <div class="product-review">

                    <div class="product-review-info">
                        <div class="product-review-attributeInfo">
                            <div class="product-review-attributeInfo-title">
                                <strong>@Model.ProductName</strong>
                            </div>
                            @Html.Raw(review.ProductAttributeInfo)
                        </div>
                        <div class="product-review-user-info">
                            <div class="review-item-head">
                                <div class="review-title">
                                    <strong>@review.Title</strong>
                                </div>
                                <div class="product-review-box">
                                    <div class="rating-star">Rating: </div>
                                    <div class="rating">
                                        <div style="width: @(ratingPercent)%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-content">
                                <div class="review-text">
                                    @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                </div>
                                <div class="review-info">
                                    <span class="user">
                                        <label>@T("Reviews.From"):</label>
                                        @if (review.AllowViewingProfiles)
                                        {
                                            <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                                        }
                                        else
                                        {
                                            @review.CustomerName
                                        }
                                    </span>
                                    <span class="separator">|</span>
                                    <span class="date">
                                        <label>@T("Reviews.Date"):</label>
                                        <span>@review.WrittenOnStr</span>
                                    </span>
                                </div>
                                @await Html.PartialAsync("_ProductReviewHelpfulness", review.Helpfulness)
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productreviews_page_inside_review", additionalData = review.Id })
                                @if (!String.IsNullOrEmpty(review.ReplyText))
                                {
                                    <div class="reply">
                                        <div class="reply-header">
                                            @T("Reviews.Reply")
                                        </div>
                                        <div class="reply-text">
                                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="show-more-container">
            <div class="show-more-plus">show more</div>
        </div>
    </div>
        
    }
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        var review_list = $("#tabreviews .product-review-list").find(".product-review-item");
        var review_list_mobile = $("#tabreviews_mobile .product-review-list").find(".product-review-item");
        if (review_list.length >= 2) {
            for (var i = 2; i < review_list.length; i++) {
                $(review_list[i]).css("display", "none");
                $(".show-more-container").css("display", "block");
            }
        };
        if (review_list_mobile.length >= 1) {
            for (var i = 1; i < review_list_mobile.length; i++) {
                $(review_list_mobile[i]).css("display", "none");
                $(".show-more-container").css("display", "block");
            }
        };
        $(".show-more-container").click(function () {
            $(".product-review-list").find(".product-review-item").css("display", "block");
            $(".show-more-container").css("display", "none");
        });
    });
</script>
