﻿@model ProductDetailsModel.ProductPriceModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext
@if (!Model.CustomerEntersPrice)
{
<div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    @if (Model.CallForPrice)
    {
        @*call for price*@
        <div class="product-price call-for-price">
            <span>@T("Products.CallForPrice")</span>
        </div>
    }
    else
    {
        @*if (!String.IsNullOrWhiteSpace(Model.OldPrice))
            {
                <div class="old-product-price" id="override-old-price">
                    <label>@T("Products.Price.OldPrice"):</label>
                    <span id="overrideOldPrice">@Model.OldPrice</span>
                </div>
            }*@
        <div class="old-product-price" id="override-old-price" style="display: none;">
            @*<label>@T("Products.Price.OldPrice"):</label>*@
            <label>Was</label>
            <span id="overrideOldPrice">@Model.OldPrice</span>
        </div>
        <div class="old-product-price" id="override-from" style="display: none; margin-top: 0; width: 100%;">
            <label style="font-size: 26px">From</label>
        </div>
        <div class="@if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
                        {
                            <text>product-price</text>
                        }
                        else
                        {
                            <text>non-discounted-price</text>
                        }">
            @if (!String.IsNullOrWhiteSpace(Model.OldPrice) || !String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
            {
                @*display "Price:" label if we have old price or discounted one*@
                <label>@T("Products.Price"):</label>
            }
            @*render price*@<span id="price_prefix_1" style="font-size: 18px;font-weight:normal">From: </span><span @if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) { <text> itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductId)" </text> }>
                @Html.Raw(Model.Price)
            </span>
        </div>
        if (!String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
        {
            @*discounted price*@
            <div class="product-price discounted-price">
                <span id="price_prefix_2" style="font-size: 18px;font-weight:normal">@T("Products.Price.WithDiscount"):</span>
                <span itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductId)">
                    @Html.Raw(Model.PriceWithDiscount)
                </span>
            </div>
        }
        if (Model.IsRental)
        {
            <div class="rental-price">
                <label>@T("Products.Price.RentalPrice"):</label>
                <span>@Model.RentalPrice</span>
            </div>
        }
        if (!String.IsNullOrEmpty(Model.BasePricePAngV))
        {
            <div class="base-price-pangv">
                @Model.BasePricePAngV
            </div>
        }
        if (Model.DisplayTaxShippingInfo)
        {
            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info">
                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }
        if (!String.IsNullOrEmpty(Model.CurrencyCode))
        {
            <meta itemprop="priceCurrency" content="@Model.CurrencyCode" />
        }
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "braintree_paypal_credit_fromprice", additionalData = Model.ProductId })
</div>
}
