﻿@model IList<ProductDetailsModel.ProductAttributeModel>
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Media
@using System.Text
@using Nop.Services.Media
@inject IDownloadService downloadService
@inject CatalogSettings catalogSettings
@{
    //Html.AppendCssFileParts(ResourceLocation.Footer,"~/lib/bootstrap/css/bootstrap.min.css", excludeFromBundle: true);
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/bootstrap.min.js", excludeFromBundle: true, isAsync: true);
}
<style type="text/css">
    .gallery .picture-thumbs {
    width: 25% !important;
    }

    a {
        color: inherit;
    }
</style>
@if (Model.Count > 0)
{
    <div class="attributes">
    <div id="attribute-reset" class="attr-reset">
        <button type="button" class="no-markup"><span class="reset-icon"></span>Reset</button>
        @*<img src="@Url.Content("~/Themes/Venture/Content/img/buttonreset.png")" />*@
    </div>
    <input id="lastSelected" type="text" name="lastSelectedAttribute" value="" style="display: none;" />
    <input id="attr-route" type="text" name="attr-route" value="" style="display: none;" />
    <script asp-location="Footer">
        $(function () {
            $("#attribute-reset").click(function () {
                resetAttribute();
                product_attribute_group();
                $("#attribute-reset .no-markup").addClass("active");
            });
        });
    </script>
    <dl>
        @foreach (var attribute in Model)
        {
            var controlId = $"product_attribute_{attribute.Id}";
            var textPrompt = !string.IsNullOrEmpty(attribute.TextPrompt) ? attribute.TextPrompt : attribute.Name;
            <div class="product-attribute-group">
                <dt id="@($"product_attribute_label_{attribute.Id}")">
                    @if (textPrompt.ToUpper().Equals("CONDITION"))
                    {
                        <label class="text-prompt label-clickable" onclick="condition_badge_click()">
                            @textPrompt
                        </label>
                    }
                    else if (textPrompt.ToUpper().Equals("NETWORK"))
                    {
                        <label class="text-prompt label-clickable" onclick="network_badge_click()">
                            @textPrompt
                        </label>
                    }
                    else
                    {
                        <label class="text-prompt">
                            @textPrompt
                        </label>
                    }

                    @if (!string.IsNullOrEmpty(attribute.Description))
                    {
                        <div class="attribute-description">
                            @Html.Raw(attribute.Description)
                        </div>
                    }
                </dt>
                <dd id="@($"product_attribute_input_{attribute.Id}")" class="paiAttr @(textPrompt.Equals("Condition") ? "conditionAttr" : null) @(attribute.Values.Any(value => value.IsPreSelected) ? "hasSelected" : null)">
                    @switch (attribute.AttributeControlType)
                    {
                        case AttributeControlType.DropdownList:
                            {
                                <select name="@(controlId)" id="@(controlId)" @(attribute.Values.Any(value => value.CustomerEntersQty) ? Html.Raw($"onchange=\"showHideDropdownQuantity('{controlId}')\"") : null)>
                                    @if (!attribute.IsRequired)
                                    {
                                        <option value="0">---</option>
                                    }
                                    @foreach (var attributeValue in attribute.Values)
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment,
                                                attributeValue.CustomerEntersQty ? T("Products.ProductAttributes.PriceAdjustment.PerItem").Text : string.Empty).Text;
                                        <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeName</option>
                                    }
                                </select>
                                foreach (var attributeValue in attribute.Values.Where(value => value.CustomerEntersQty))
                                {
                                    <div class="qty-box" id="@(controlId)_@(attributeValue.Id)_qty_box" style="display:none">
                                        <label for="@(controlId)_@(attributeValue.Id)_qty">@(T("Products.ProductAttributes.PriceAdjustment.Quantity").Text)</label>
                                        <input type="text" name="@(controlId)_@(attributeValue.Id)_qty" id="@(controlId)_@(attributeValue.Id)_qty" value="@(attributeValue.Quantity)" />
                                    </div>
                                }
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        showHideDropdownQuantity("@controlId");
                                    });
                                </script>
                            }
                            break;
                        case AttributeControlType.RadioList:
                            {
                                <ul class="option-list">
                                    @foreach (var attributeValue in attribute.Values)
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment,
                                                attributeValue.CustomerEntersQty ? T("Products.ProductAttributes.PriceAdjustment.PerItem").Text : string.Empty).Text;
                                    <li class="radioButton @(attributeValue.IsPreSelected ? "active" : "") @(attributeValue.Disabled ? "disable-selected" : "")" data-attrName="@attributeName">
                                        <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected"
                                               @(attribute.Values.Any(value => value.CustomerEntersQty) ? Html.Raw($"onclick=\"showHideRadioQuantity('{controlId}')\"") : null) @(attributeValue.Disabled ? "disabled" : "") />
                                        @*<label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>*@
                                        @if (textPrompt.ToUpper().Equals("NETWORK"))
                                        {
                                        <label class="btn-radio attrname-title" for="@(controlId)_@(attributeValue.Id)" title="@(attributeValue.Disabled ? "Not Available" : attributeName)">

                                            @switch (attributeName)
                                            {
                                                case "Unlocked":
                                                    <span class="network_picture" style="background: url('images/network_UNLOCK.png') center center no-repeat;background-size: cover;">&nbsp;</span>
                                                    <span class="network_picture disable" style="background: url('images/network_UNLOCK.png') center center no-repeat;background-size: cover;">&nbsp;</span>
                                                    break;
                                                case "EE":
                                                    <span class="network_picture" style="background: url('images/network_EE.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    <span class="network_picture disable" style="background: url('images/network_EEOOS.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    break;
                                                case "O2":
                                                    <span class="network_picture" style="background: url('images/network_O2.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    <span class="network_picture disable" style="background: url('images/network_O2OOS.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    break;
                                                case "Vodafone":
                                                    <span class="network_picture" style="background: url('images/network_VODAFONE.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    <span class="network_picture disable" style="background: url('images/network_VODAFONEOOS.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    break;
                                                case "Three":
                                                    <span class="network_picture" style="background: url('images/network_three.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    <span class="network_picture disable" style="background: url('images/network_threeOOP.png') center center no-repeat;background-size: contain;">&nbsp;</span>
                                                    break;
                                                default:
                                                    <span>@attributeName</span>
                                                    break;
                                            }
                                        </label>

                                        }
                                        else
                                        {
                                            <label class="btn-radio attrname-title" for="@(controlId)_@(attributeValue.Id)" title="@(attributeValue.Disabled ? "Not Available" : attributeName)">
                                                <span>@attributeName</span>
                                            </label>
                                        }
                                        @if (attributeValue.CustomerEntersQty)
                                        {
                                            <div class="qty-box" id="@(controlId)_@(attributeValue.Id)_qty_box" style="display:none">
                                                <label for="@(controlId)_@(attributeValue.Id)_qty">@(T("Products.ProductAttributes.PriceAdjustment.Quantity").Text)</label>
                                                <input type="text" name="@(controlId)_@(attributeValue.Id)_qty" id="@(controlId)_@(attributeValue.Id)_qty" value="@(attributeValue.Quantity)" />
                                            </div>
                                        }
                                    </li>
                                    }
                                </ul>
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        showHideRadioQuantity("@controlId");
                                    });
                                </script>
                            }
                            break;
                        case AttributeControlType.Checkboxes:
                        case AttributeControlType.ReadonlyCheckboxes:
                            {
                                <ul class="option-list">
                                    @foreach (var attributeValue in attribute.Values)
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment,
                                                attributeValue.CustomerEntersQty ? T("Products.ProductAttributes.PriceAdjustment.PerItem").Text : string.Empty).Text;
                                        <li class="checkBoxButton @(attributeValue.IsPreSelected ? "active" : "") @(attributeValue.Disabled ? "disable-selected" : "")" data-attrName="@attributeName">
                                            <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null)
                                                   @(attributeValue.CustomerEntersQty ? Html.Raw($"onchange=\"showHideCheckboxQuantity('{controlId}_{attributeValue.Id}')\"") : null) @(attributeValue.Disabled ? "disabled" : "") />
                                            @*<label for="@(controlId)_@(attributeValue.Id)">@attributeName</label>*@
                                            <label class="btn-checkBox attrname-title" for="@(controlId)_@(attributeValue.Id)" title="@(attributeValue.Disabled ? "Not Available" : attributeName)">
                                                <span>@attributeName</span>
                                            </label>
                                            @if (attributeValue.CustomerEntersQty)
                                            {
                                                <div class="qty-box" id="@(controlId)_@(attributeValue.Id)_qty_box" style="display:none">
                                                    <label for="@(controlId)_@(attributeValue.Id)_qty">@(T("Products.ProductAttributes.PriceAdjustment.Quantity").Text)</label>
                                                    <input type="text" name="@(controlId)_@(attributeValue.Id)_qty" id="@(controlId)_@(attributeValue.Id)_qty" value="@(attributeValue.Quantity)" />
                                                    <script type="text/javascript" asp-location="Footer">
                                                        $(document).ready(function() {
                                                            showHideCheckboxQuantity('@(controlId)_@(attributeValue.Id)');
                                                        })
                                                    </script>
                                                </div>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            break;
                        case AttributeControlType.TextBox:
                            {
                                <input name="@(controlId)" type="text" class="textbox" id="@(controlId)" value="@attribute.DefaultValue" />
                            }
                            break;
                        case AttributeControlType.MultilineTextbox:
                            {
                                <textarea cols="20" id="@(controlId)" name="@(controlId)">@attribute.DefaultValue</textarea>
                            }
                            break;
                        case AttributeControlType.Datepicker:
                            {
                                <nop-date-picker asp-day-name="@(controlId + "_day")"
                                                 asp-month-name="@(controlId + "_month")"
                                                 asp-year-name="@(controlId + "_year")"
                                                 asp-begin-year="@(DateTime.Now.Year)"
                                                 asp-end-year="@(DateTime.Now.Year + 1)"
                                                 asp-selected-day="@attribute.SelectedDay"
                                                 asp-selected-month="@attribute.SelectedMonth"
                                                 asp-selected-year="@attribute.SelectedYear" />
                            }
                            break;
                        case AttributeControlType.FileUpload:
                            {
                                Download download = null;
                                if (!string.IsNullOrEmpty(attribute.DefaultValue))
                                {
                                    download = downloadService.GetDownloadByGuid(new Guid(attribute.DefaultValue));
                                }

                                //register CSS and JS
                                Html.AddCssFileParts(ResourceLocation.Footer, "~/lib/fineuploader/fineuploader-4.2.2.min.css");
                                Html.AddScriptParts(ResourceLocation.Footer, "~/lib/fineuploader/jquery.fineuploader-4.2.2.min.js");

                                //ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                                var allowedFileExtensions = string.Join(", ", attribute.AllowedFileExtensions.Select(x => "'" + x.Trim() + "'").ToList());

                                if (download != null)
                                {
                                    <input id="@(controlId)" name="@(controlId)" type="hidden" value="@download.DownloadGuid" />
                                }
                                else
                                {
                                    <input id="@(controlId)" name="@(controlId)" type="hidden" />
                                }

                                @*fine uploader container*@
                                <div id="@(controlId)uploader"></div>
                                @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                                <script type="text/template" asp-location="Footer" id="@(controlId)-qq-template">
                                    <div class="qq-uploader-selector qq-uploader">
                                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                            <span>@T("Common.FileUploader.DropFiles")</span>
                                        </div>
                                        <div class="qq-upload-button-selector qq-upload-button">
                                            <div>@T("Common.FileUploader.Upload")</div>
                                        </div>
                                        <span class="qq-drop-processing-selector qq-drop-processing">
                                            <span>@T("Common.FileUploader.Processing")</span>
                                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                        </span>
                                        <ul class="qq-upload-list-selector qq-upload-list">
                                            <li>
                                                <div class="qq-progress-bar-container-selector">
                                                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                                </div>
                                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </script>
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $("#@(controlId)uploader").fineUploader({
                                            request: {
                                                endpoint: '@(Url.RouteUrl("UploadFileProductAttribute", new { attributeId = attribute.Id }))'
                                            },
                                            template: "@(controlId)-qq-template",
                                            multiple: false,
                                            validation: {
                                                allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                            }
                                        }).on("complete", function(event, id, name, responseJSON, xhr) {
                                            $("#@(controlId)").val(responseJSON.downloadGuid);
                                            if (responseJSON.success) {
                                                $("#@(controlId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Common.FileUploader.DownloadUploadedFile")</a>");
                                                $("#@(controlId + "remove")").show();
                                            }
                                            if (responseJSON.message) {
                                                alert(responseJSON.message);
                                            }
                                        });

                                        $("#@(controlId + "remove")").click(function(e) {
                                            $("#@(controlId + "downloadurl")").html("");
                                            $("#@(controlId)").val('');
                                            $(this).hide();
                                        });
                                    });
                                </script>
                                <div id="@(controlId + "downloadurl")">
                                    @if (download != null)
                                    {
                                        <a href="@(Url.Action("GetFileUpload", "Download", new {downloadId = download.DownloadGuid}))" class="download-uploaded-file">@T("Common.FileUploader.DownloadUploadedFile")</a>
                                    }
                                </div>
                                <div>
                                    @if (download != null)
                                    {
                                        <a id="@(controlId + "remove")" class="remove-download-button">@T("Common.FileUploader.RemoveDownload")</a>
                                    }
                                    else
                                    {
                                        <a id="@(controlId + "remove")" class="remove-download-buttonn" style="display: none;">@T("Common.FileUploader.RemoveDownload")</a>
                                    }
                                </div>

                            }
                            break;
                        case AttributeControlType.ColorSquares:
                            {
                                <ul class="option-list attribute-squares color-squares" id="color-squares-@(attribute.Id)">
                                    @foreach (var attributeValue in attribute.Values)
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment, string.Empty).Text;
                                        <li @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null) class="@(attributeValue.Disabled ? "disable-selected" : "")" data-attrName="@attributeName">
                                            <label class="color_label" for="@(controlId)_@(attributeValue.Id)">
                                                <span class="attribute-square-container attrname-title" title="@(attributeValue.Disabled ? "Not Available" : attributeName)">
                                                    @*<span class="attribute-square" style="background-color:@(attributeValue.ColorSquaresRgb);">&nbsp;</span>*@
                                                    @*<span class="attribute-square" style="background-color:@(attributeValue.ColorSquaresRgb);"></span>*@
                                                    <span class="attribute-color-text">@attributeName</span>
                                                </span>
                                                <input class="special-color-input" id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected"
                                                       @(attribute.Values.Any(value => value.CustomerEntersQty) ? Html.Raw($"onclick=\"showHideRadioQuantity('{controlId}')\"") : null) @(attributeValue.Disabled ? "disabled" : "") />
                                            </label>
                                        </li>
                                    }
                                </ul>
                                foreach (var attributeValue in attribute.Values.Where(value => value.CustomerEntersQty))
                                {
                                    <div class="qty-box" id="@(controlId)_@(attributeValue.Id)_qty_box" style="display:none">
                                        <label for="@(controlId)_@(attributeValue.Id)_qty">@(T("Products.ProductAttributes.PriceAdjustment.Quantity").Text)</label>
                                        <input type="text" name="@(controlId)_@(attributeValue.Id)_qty" id="@(controlId)_@(attributeValue.Id)_qty" value="@(attributeValue.Quantity)" />
                                    </div>
                                }
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $('.attributes #color-squares-@(attribute.Id)').delegate('input', 'click', function (event) {
                                            //console.log('color radio click');
                                            $('.attributes #color-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                            $(this).closest('li').addClass('selected-value');
                                            product_attribute_group();
                                            var parentsEle = $(this).parents(".paiAttr");
                                            parentsEle.addClass("hasSelected");
                                            if (parentsEle.hasClass("conditionAttr")) {
                                                $("#attr-route").addClass("isActive");
                                            }
                                            //locationUrl();
                                            //var inputName = $(this).attr("name");
                                            //var inputValue = $(this).val();
                                            //$("#lastSelected").val(inputName + '_' + inputValue);
                                        });
                                        showHideRadioQuantity("@controlId");
                                    });
                                </script>
                            }
                            break;
                        case AttributeControlType.ImageSquares:
                            {
                                <ul class="option-list attribute-squares image-squares" id="image-squares-@(attribute.Id)">
                                    @foreach (var attributeValue in attribute.Values)
                                    {
                                        var attributeName = string.IsNullOrEmpty(attributeValue.PriceAdjustment) ?
                                            attributeValue.Name :
                                            T("Products.ProductAttributes.PriceAdjustment", attributeValue.Name, attributeValue.PriceAdjustment, string.Empty).Text;
                                        <li @(attributeValue.IsPreSelected ? @Html.Raw(" class=\"selected-value\"") : null)>
                                            <label for="@(controlId)_@(attributeValue.Id)">
                                                <span class="attribute-square-container">
                                                    <span class="attribute-square" style="background: url('@(attributeValue.ImageSquaresPictureModel.ImageUrl)') 50% 50% no-repeat;">&nbsp;</span>
                                                </span>
                                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected"
                                                       @(attribute.Values.Any(value => value.CustomerEntersQty) ? Html.Raw($"onclick=\"showHideRadioQuantity('{controlId}', true)\"") : null) />
                                            </label>
                                            <div class="tooltip-container">
                                                <div class="tooltip-header">@attributeName</div>
                                                <div class="tooltip-body"><img src="@(attributeValue.ImageSquaresPictureModel.FullSizeImageUrl)" alt="@attributeName" /></div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                foreach (var attributeValue in attribute.Values.Where(value => value.CustomerEntersQty))
                                {
                                    <div class="qty-box" id="@(controlId)_@(attributeValue.Id)_qty_box" style="display:none">
                                        <label for="@(controlId)_@(attributeValue.Id)_qty">@(T("Products.ProductAttributes.PriceAdjustment.Quantity").Text)</label>
                                        <input type="text" name="@(controlId)_@(attributeValue.Id)_qty" id="@(controlId)_@(attributeValue.Id)_qty" value="@(attributeValue.Quantity)" />
                                    </div>
                                }
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $('.attributes #image-squares-@(attribute.Id)').delegate('input', 'click', function(event) {
                                            $('.attributes #image-squares-@(attribute.Id)').find('li').removeClass('selected-value');
                                            $(this).closest('li').addClass('selected-value');
                                        });
                                        showHideRadioQuantity("@controlId", true);
                                    });
                                </script>
                            }
                            break;
                    }
                </dd>
            </div>
        }
    </dl>
    <script type="text/javascript" asp-location="Footer">
        function product_attribute_group() {
            $("#attribute-reset .no-markup").removeClass("active");
            var data = "";
            var activeDatas = $(".attributes .active,.attributes .selected-value");
            for (var i = 0; i < activeDatas.length; i++) {
                data = data + $(activeDatas[i]).data("attrname").toUpperCase() + ", ";
            }
            $(".selected-all-attribute").html(data);
        }
        function condition_badge_click() {
            $("#condition_badge_modal").modal("show");
        }
        $(".condi-more-here").click(function () {
            $("#condition_more_info").modal("show");
        });
        function network_badge_click() {
            $("#network_badge_modal").modal("show");
        }
        $(".special-color-input").click(function () {
            var inputName = $(this).attr("name");
            var inputValue = $(this).val();
            $("#lastSelected").val(inputName + '_' + inputValue);
        });
        $(".btn-radio").click(function () {
            if (!$(this).parents("li.radioButton").hasClass("disable-selected")) {
                $(this).parents("ul.option-list").children("li.radioButton").removeClass("active");
                $(this).parents("li.radioButton").addClass("active");
                product_attribute_group();
                var selectedInput = $(this).parents("li.radioButton").children("input[type='radio']");
                var inputName = selectedInput.attr("name");
                var inputValue = selectedInput.val();
                $("#lastSelected").val(inputName + '_' + inputValue);
                var parentsEle = $(this).parents(".paiAttr");
                parentsEle.addClass("hasSelected");
                if (parentsEle.hasClass("conditionAttr")) {
                    $("#attr-route").addClass("isActive");
                }
                //locationUrl();
            }
        });
        $(".btn-checkBox").click(function () {
            if (!$(this).parents("li.checkBoxButton").hasClass("disable-selected")) {
                var parentEle = $(this).parents("li.checkBoxButton");
                if (parentEle.hasClass("active")) {
                    parentEle.removeClass("active");
                }
                else {
                    parentEle.addClass("active");
                }
                product_attribute_group();
                var selectedInput = parentEle.children("input[type='checkbox']");
                var inputName = selectedInput.attr("name");
                var inputValue = selectedInput.val();
                $("#lastSelected").val(inputName + '_' + inputValue);
                //locationUrl();
            }
        });
        function showHideDropdownQuantity(id) {
            $('select[name=' + id + '] > option').each(function () {
                $('#' + id + '_' + this.value + '_qty_box').hide();
            });
            $('#' + id + '_' + $('select[name=' + id + '] > option:selected').val() + '_qty_box').css('display', 'inline-block');
        };

        function showHideRadioQuantity(id) {
            $('input[name=' + id + ']:radio').each(function () {
                $('#' + $(this).attr('id') + '_qty_box').hide();
            });
            $('#' + id + '_' + $('input[name=' + id + ']:radio:checked').val() + '_qty_box').css('display', 'inline-block');
        };

        function showHideCheckboxQuantity(id) {
            if ($('#' + id).is(':checked'))
                $('#' + id + '_qty_box').css('display', 'inline-block');
            else
                $('#' + id + '_qty_box').hide();
        };
        function locationUrl() {
            if ($("#attr-route").hasClass("isActive") && $(".paiAttr").size()==$(".hasSelected").size()) {
                var route = "/@(ViewBag.SeName)";
                var activeDatas = $(".attributes .active,.attributes .selected-value");
                for (var i = 0; i < activeDatas.length; i++) {
			        var strAttrName = $(activeDatas[i]).data("attrname");
			        strAttrName = strAttrName.replace(/-/g, "");
			        route = route + "-" + strAttrName.trim().toLowerCase();
                }
                route = route.replace(/\s+/g, '');
                $("#attr-route").val(route);
                window.location = $("#attr-route").val();
            }
        };
    </script>
    </div>

    //attribute modal
    <div style="z-index:10000" class="modal fade" id="condition_badge_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="condition_badge_modal_title">What does condition mean?</h4>
                </div>
                <div class="modal-body" id="condition_badge_modal_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "WhatDoesConditionMean" })
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary"></button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="z-index:10000" class="modal fade" id="condition_more_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="condition_more_info_title">Inspection Points</h4>
                </div>
                <div class="modal-body" id="condition_more_info_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "InspectionPoints" })
                </div>
            </div>
        </div>
    </div>
    <div style="z-index:10000" class="modal fade" id="network_badge_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="network_badge_modal_title">Network</h4>
                </div>
                <div class="modal-body" id="network_badge_modal_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "NetworkPopup" })
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary"></button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
}
@if (Model.Count > 0)
{
    //dynamic update support
    var attributesHaveConditions = Model.Any(x => x.HasCondition);
    var attributesHaveAssociatedPictures = Model.Any(x => x.ProductId > 0);
    var attributeChangeScriptsBuilder = new StringBuilder();
    var productId = Model.First().ProductId;
    var attributeChangeHandlerFuncName = $"attribute_change_handler_";
    if (catalogSettings.AjaxProcessAttributeChange)
    {
        //generate change event script
        foreach (var attribute in Model)
        {
            var controlId = $"product_attribute_{attribute.Id}";
            switch (attribute.AttributeControlType)
            {
                case AttributeControlType.DropdownList:
                    {
                        attributeChangeScriptsBuilder.AppendFormat("$('#{0}').change(function(){{{1}();}});\n", controlId, attributeChangeHandlerFuncName);
                    }
                    break;
                case AttributeControlType.RadioList:
                case AttributeControlType.ColorSquares:
                case AttributeControlType.ImageSquares:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                case AttributeControlType.Checkboxes:
                case AttributeControlType.ReadonlyCheckboxes:
                    {
                        foreach (var attributeValue in attribute.Values)
                        {
                            attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}').click(function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
                        }
                    }
                    break;
                default:
                    break;
            }

            foreach (var attributeValue in attribute.Values.Where(value => value.CustomerEntersQty))
            {
                attributeChangeScriptsBuilder.AppendFormat("$('#{0}_{1}_qty').on('input propertychange paste', function(){{{2}();}});\n", controlId, attributeValue.Id, attributeChangeHandlerFuncName);
            }
        }

        //render scripts
        //almost the same implementation is used in the \Views\Product\_RentalInfo.cshtml file
    <script type="text/javascript" asp-location="Footer">           
            function @(attributeChangeHandlerFuncName)() {
                $('.product-condition-tip').remove();
                attributeChangeAjax();
            }
            function attributeChangeAjax() {
                $.ajax({
                    cache: false,
                    url: '@Html.Raw(Url.Action("productdetails_attributechange", "shoppingcart", new { productId = productId, validateAttributeConditions = attributesHaveConditions, loadPicture = attributesHaveAssociatedPictures }))',
                    data: $('#product-details-form').serialize(),
                    type: 'post',
                    success: function(data) {
                        @*if (data.price) {
                            $('.price-value-@productId').text(data.price);
                        }*@
                        $("#attr-route").removeClass("isActive");
                        $("#overrideOldPrice").html(data.oldPrice);
                        $("#override-old-price").hide();
                        $("#override-from").show();
                        $(".mobile-was-price").html(data.oldPrice);
                        $(".mobile-price").html(data.price);
                        $(".fromText").show();
                        $(".fromPrice").show();
                        $(".nowPrice").hide();
                        $(".notify-text").html("");
                        $(".addToCart-leftPart").removeClass("back-in-stock");
                        $('#add-to-cart-button-@productId').removeClass("low-stock");
                        //if (data.hasSkuDiscount) {
                        //    if ($(".picture-wrapper").children().hasClass("ribbon-wrapper")) {
                        //        $(".product-ribbon").show();
                        //    }
                        //    else {
                        //        $(".ribbon-price-drop-img-themes").show();
                        //    }
                        //}
                        //else {
                        //    if ($(".picture-wrapper").children().hasClass("ribbon-wrapper")) {
                        //        $(".product-ribbon").hide();
                        //    }
                        //    else {
                        //        $(".ribbon-price-drop-img-themes").hide();
                        //    }
                        //}
                        if (data.showGeneralRibbon) {
                            $(".ribbon-price-drop-img-themes").attr("src", "/Themes/Venture/Content/img/price-drop-icon-general-v3.png");
                            $("#ribbonAmount").html(data.discountAmountStr + " OFF");
                        }
                        else {
                            $(".ribbon-price-drop-img-themes").attr("src", "/Themes/Venture/Content/img/price-drop-icon.png");
                            $("#ribbonAmount").html(data.discountAmountStr + " OFF");
                        }
                        if (data.hasSkuDiscount) {
                            if (data.onlyHasSkuDiscount) {
                                $(".ribbon-price-drop-img-themes").removeClass("position-middle-themes");
                                $("#ribbonAmount").removeClass("position-middle-themes");
                            }
                            else {
                                $(".ribbon-price-drop-img-themes").addClass("position-middle-themes");
                                $("#ribbonAmount").addClass("position-middle-themes");
                            }
                            $(".ribbon-price-drop-img-themes").show();
                            $("#ribbonAmount").show();
                        }
                        else {
                            $(".ribbon-price-drop-img-themes").hide();
                            $("#ribbonAmount").hide();
                        }
                        if (!data.showRibbon) {
                            $(".ribbon-price-drop-img-themes").hide();
                            $("#ribbonAmount").hide();
                        }
                        if (data.sku) {
                            $('#sku-@productId').text(data.sku).parent(".sku").show();

                            var gradePrefix = data.sku.substring(0, 2);

                            //if (gradePrefix == 'N-') {
                            //    $('<div class="product-condition-tip"><p class="title">What does this condition mean?</p><p class="description">A brand-new product, which has never been opened or used.</p></div>').insertAfter('.page.product-details-page .product-essential .overview .attributes');
                            //} else if (gradePrefix == 'R-') {
                            //    $('<div class="product-condition-tip"><p class="title">What does this condition mean?</p><p class="description">It' + "'" + 's not like new, it' + "'" + 's Renew. Our flagship product that has gone through rigorous testing and has no visible marks or scratches on the device.</p></div>').insertAfter('.page.product-details-page .product-essential .overview .attributes');
                            //} else if (gradePrefix == 'A-') {
                            //    $('<div class="product-condition-tip"><p class="title">What does this condition mean?</p><p class="description">These Devices are in excellent conditions have very little signs of use. They have no marks or scratches on the screen but will show very light signs of use.</p></div>').insertAfter('.page.product-details-page .product-essential .overview .attributes');
                            //} else if (gradePrefix == 'B-') {
                            //    $('<div class="product-condition-tip"><p class="title">What does this condition mean?</p><p class="description">Devices in a very good condition but show slightly more signs of use. You can tell they' + "'" + 've been used before and may have some very light scratches on the screen.</p></div>').insertAfter('.page.product-details-page .product-essential .overview .attributes');
                            //} else if (gradePrefix == 'C-') {
                            //    $('<div class="product-condition-tip"><p class="title">What does this condition mean?</p><p class="description">Good devices are fully functional devices with some minor wear and tear. They may have some scratches on the body and the screen but work perfectly well.</p></div>').insertAfter('.page.product-details-page .product-essential .overview .attributes');
                            //}
                        } else {
                            $('#sku-@productId').parent(".sku").hide();
                        }
                        if (data.mpn) {
                            $('#mpn-@productId').text(data.mpn).parent(".manufacturer-part-number").show();
                        } else {
                            $('#mpn-@productId').parent(".manufacturer-part-number").hide();
                        }
                        if (data.gtin) {
                            $('#gtin-@productId').text(data.gtin).parent(".gtin").show();
                        } else {
                            $('#gtin-@productId').parent(".gtin").hide();
                        }
                        $('#prodAttiCombId').val(0);
                        if (data.productAttributeCombinationId != 0) {
                            $('#prodAttiCombId').val(data.productAttributeCombinationId);
                        }
                        if (data.stockAvailability) {
                            $("#price_prefix_1").html("");
                            $("#price_prefix_2").html("");
                            if (data.stockAvailability == '@T("Products.Availability.OutOfStock")') {
                                //reset (except last selected attribute)
                                if (data.lastSelectedAttribute[0] != '') {
                                    //$('#attribute-reset').trigger("click");
                                    @foreach (var attribute in Model)
                                    {
                                        var controlId = $"product_attribute_{attribute.Id}";
                                        <text>
                                    $("input[name='@controlId']").prop("checked", false);
                                        </text>
                                    }
                                    $("#lastSelected").val("");
                                    //$("#attr-route").removeClass("isActive");
                                    $(".paiAttr").removeClass("hasSelected");
                                    $(".option-list li").removeClass("selected-value");
                                    $(".option-list li").removeClass("active");
                                    //$("#attribute-reset .no-markup").addClass("active");

                                    $('#' + data.lastSelectedAttribute).prop("checked", true);
                                    $('#' + data.lastSelectedAttribute).siblings(".btn-radio").trigger("click");
                                    console.log('click');
                                    $('#' + data.lastSelectedAttribute).trigger("click");
                                    attributeChangeAjax();
                                    product_attribute_group();
                                } else {
                                    $('#stock-availability-value-@productId').text(data.stockAvailability);
                                    $("#stock-availability-value-@productId").addClass("outOfStock");
                                    $("#stock-availability-value-@productId").removeClass("lowStock");
                                    //$("#price_prefix_1").html("");
                                    //$("#price_prefix_2").html("");
                                    if (data.selectedAllAttributes) {
                                        //$("#attr-route").addClass("isActive");
                                        $("#override-from").hide();
                                    }
                                    $('.qty-addToCart-item').hide();
                                    $('#add-to-cart-button-alert').show();
                                    $(".notify-text").html("Click to get notify by email");
                                    $(".addToCart-leftPart").addClass("back-in-stock");
                                    if (data.greaterThanFourWeeks) {
                                        if ($(".picture-wrapper").children().hasClass("ribbon-wrapper")) {
                                            $(".product-ribbon").hide();
                                        }
                                        $(".ribbon-price-drop-img-themes").hide();
                                    } else {
                                        if (data.oldPrice != data.priceZero && data.oldPrice != data.price && !data.selectedNoneAttribute) {
                                            $("#override-old-price").show();
                                        }
                                    }
                                    if (data.price) {
                                        $('.price-value-@productId').text(data.price);
                                    }
                                    $('#add-to-cart-button-@productId').hide();
                                    $('.qty-addToCart-item').hide();
                                    $('#add-to-cart-button-alert').show();
                                }
                            } else {
                                $("#stock-availability-value-@productId").removeClass("outOfStock");
                                if (data.IsLowStock) {
                                    $('#stock-availability-value-@productId').text("Low Stock");
                                    $("#stock-availability-value-@productId").addClass("lowStock");
                                    $('#add-to-cart-button-@productId').addClass("low-stock");
                                    $('#notify-no-stock-text').show();
                                } else {
                                $('#stock-availability-value-@productId').text(data.stockAvailability);
                                    $("#stock-availability-value-@productId").removeClass("lowStock");
                                    $('#notify-no-stock-text').hide();
                                }
                                if (data.price) {
                                    $('.price-value-@productId').text(data.price);
                                }
                                //$("#price_prefix_1").html("");
                                //$("#price_prefix_2").html("");

                                if (data.greaterThanFourWeeks) {
                                    if ($(".picture-wrapper").children().hasClass("ribbon-wrapper")) {
                                        $(".product-ribbon").hide();
                                    }
                                    $(".ribbon-price-drop-img-themes").hide();
                                    $("#ribbonAmount").hide();
                                } else {
                                    if (data.oldPrice != data.priceZero && data.oldPrice != data.price && !data.selectedNoneAttribute) {
                                        $("#override-old-price").show();
                                        $(".fromPrice").hide();
                                        $(".nowPrice").show();
                                    }
                                }
                                if (data.selectedAllAttributes) {
                                    $("#override-from").hide();
                                    $(".fromText").hide();
                                    //$("#attr-route").addClass("isActive");
                                }
                                $("#stock-availability-value-@productId").removeClass("outOfStock");
                                $('#add-to-cart-button-@productId').show();
                                //$('.nova-qty-addToCart').show();
                                $('.qty-addToCart-item').show();
                                $('#add-to-cart-button-alert').hide();
                            }
                        }
                        if (data.inStockAttributeValue) {
                            for (var i = 0; i < data.inStockAttributeValue.length; i++) {
                                var aId = "product_attribute_" + data.inStockAttributeValue[i];
                                if ($("#" + aId).prop("disabled")) {
                                    $("#" + aId).removeAttr("disabled");
                                }
                                var parent = $("#" + aId).parents(".option-list li");
                                if (parent.hasClass("disable-selected")) {
                                    parent.removeClass("disable-selected");
                                }
                                var attrParentsLi = $("#" + aId).parents("ul.option-list li");
                                //var attrname = attrParentsLi.data("attrname");
                                attrParentsLi.find(".attrname-title").attr("title", "");

                            }
                        }
                        if (data.outOfStockAttributeValue) {
                            for (var i = 0; i < data.outOfStockAttributeValue.length; i++) {
                                var aId = "product_attribute_" + data.outOfStockAttributeValue[i];
                                if (!$("#" + aId).prop("disabled")) {
                                    $("#" + aId).attr("disabled", true);
                                }
                                var parent = $("#" + aId).parents(".option-list li");
                                if (!parent.hasClass("disable-selected")) {
                                    parent.addClass("disable-selected");
                                }
                                var attrParentsLi = $("#" + aId).parents("ul.option-list li");
                                attrParentsLi.find(".attrname-title").attr("title", "Not Available");
                            }
                        }
                        if (data.enabledattributemappingids) {
                            for (var i = 0; i < data.enabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.enabledattributemappingids[i]).show();
                                $('#product_attribute_input_' + data.enabledattributemappingids[i]).show();
                            }
                        }
                        if (data.disabledattributemappingids) {
                            for (var i = 0; i < data.disabledattributemappingids.length; i++) {
                                $('#product_attribute_label_' + data.disabledattributemappingids[i]).hide();
                                $('#product_attribute_input_' + data.disabledattributemappingids[i]).hide();
                            }
                        }
                        if (data.pictureDefaultSizeUrl) {
                            $('#main-product-img-@productId').attr("src", data.pictureDefaultSizeUrl);
                            //$('#cloudZoomImage').attr("src", data.pictureDefaultSizeUrl);
                        }
                        if (data.pictureFullSizeUrl) {
                            $('#main-product-img-lightbox-anchor-@productId').attr("href", data.pictureFullSizeUrl);
                        }
                        if (data.message) {
                            alert(data.message);
                        }
                        $.event.trigger({ type: "product_attributes_changed", changedData: data });
                    }
                });
            }
            function resetAttribute() {
                @foreach (var attribute in Model)
                {
                    var controlId = $"product_attribute_{attribute.Id}";
                    <text>
                        $("input[name='@controlId']").prop("checked", false);
                    </text>
                }
                $("#lastSelected").val("");
                $(".option-list li").removeClass("selected-value");
                $(".option-list li").removeClass("active");
                $("#attr-route").removeClass("isActive");
                $(".paiAttr").removeClass("hasSelected");
                attributeChangeAjax();
            }
            $(document).ready(function() {
                @(attributeChangeHandlerFuncName)();
                @Html.Raw(attributeChangeScriptsBuilder.ToString())
                product_attribute_group();
            });
    </script>
    }
}