﻿@model CustomerProductReviewsModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.CustomerProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-my-product-reviews-list-page");
}
@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ProductReviews })
}
<div class="page account-page my-product-reviews-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerProductReviews")</h1>
    </div>
    <div class="page-body">
        @if (Model.ProductReviews.Count > 0)
        {
            @foreach (var review in Model.ProductReviews)
            {
                var ratingPercent = review.Rating * 20;
                <div class="product-review-item">
                    <div class="product-review">

                        <div class="product-review-info">
                            <div class="product-review-attributeInfo">
                                <div class="product-review-attributeInfo-title">
                                    <strong><a href="@Url.RouteUrl("Product", new {SeName = review.ProductSeName})">@review.ProductName</a></strong>
                                </div>
                                @Html.Raw(review.ProductAttributeInfo)
                            </div>
                            <div class="product-review-user-info">
                                <div class="review-item-head">
                                    <div class="review-title">
                                        <strong>@review.Title</strong>
                                    </div>
                                    <div class="product-review-box">
                                        <div class="rating-star">Rating: </div>
                                        <div class="rating">
                                            <div style="width: @(ratingPercent)%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-content">
                                    <div class="review-text">
                                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                    </div>
                                    <div class="review-info">
                                        @*<span class="user">
                                                <label>@T("Reviews.From"):</label>
                                                @if (review.AllowViewingProfiles)
                                                {
                                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                                                }
                                                else
                                                {
                                                    @review.CustomProperties
                                                }
                                            </span>*@
                                        <span class="separator">|</span>
                                        <span class="date">
                                            <label>@T("Reviews.Date"):</label>
                                            <span>@review.WrittenOnStr</span>
                                        </span>
                                    </div>
                                    @if (!String.IsNullOrEmpty(review.ReplyText))
                                    {
                                        <div class="reply">
                                            <div class="reply-header">
                                                @T("Reviews.Reply")
                                            </div>
                                            <div class="reply-text">
                                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*foreach (var review in Model.ProductReviews)
                {
                    var ratingPercent = review.Rating * 20;
                    <div class="product-review-item">
                        <div class="review-item-head">
                            <div class="review-title">
                                <strong>@review.Title</strong>@(!string.IsNullOrEmpty(review.ApprovalStatus) ? $" - {review.ApprovalStatus}" : null)
                            </div>
                            <div class="product-review-box">
                                <div class="rating">
                                    <div style="width: @(ratingPercent)%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-content">
                            <div class="review-text">
                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                            </div>
                            <div class="review-info">
                                <span class="user">
                                    <label>@T("Account.CustomerProductReviews.ProductReviewFor"):</label>
                                    <a href="@Url.RouteUrl("Product", new {SeName = review.ProductSeName})">@review.ProductName</a>

                                </span>
                                <span class="separator">|</span>
                                <span class="date">
                                    <label>@T("Reviews.Date"):</label>
                                    <span>@review.WrittenOnStr</span>
                                </span>
                            </div>
                            @if (!string.IsNullOrEmpty(review.ReplyText))
                            {
                                <div class="reply">
                                    <div class="reply-header">
                                        @T("Reviews.Reply")
                                    </div>
                                    <div class="reply-text">
                                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }*@
            var pager = Html.Pager(Model.PagerModel);
            if (!string.IsNullOrEmpty(pager.ToHtmlString()))
            {
                <div class="pager">
                    @pager
                </div>
            }
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerProductReviews.NoRecords")
            </div>
        }
    </div>
</div>