﻿@model ProductDetailsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo
@using Nop.Core.Domain.Catalog

@inject SeoSettings seoSettings
@inject CatalogSettings catalogSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var showShareButton = catalogSettings.ShowShareButton;

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}
@await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_breadcrumb", additionalData = Model.Id })
<div class="page product-details-page grouped-product-details-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_top", additionalData = Model.Id })
        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential-wrapper">
                    <div class="product-essential">
                        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_before_pictures", additionalData = Model.Id })
                        @{
                        var cloudZoom = await Component.InvokeAsync("Widget", new { widgetZone = "sevenspikes_cloud_zoom" });
                        }
                        @if (!String.IsNullOrEmpty(cloudZoom.ToHtmlString()))
                        {
                            @cloudZoom
                        }
                        else
                        {
                            @await Html.PartialAsync("_ProductDetailsPictures", Model)
                        }
                        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_pictures", additionalData = Model.Id })
                        <div class="overview">
                            @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_overview_top", additionalData = Model.Id })

                            <div class="product-name">
                                <h1 itemprop="name">
                                    @Model.Name
                                </h1>
                            </div>

                            @await Html.PartialAsync("_Discontinued", Model)

                            <!--product manufacturers-->
                            @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)

                            <!--product reviews-->
                            @await Html.PartialAsync("_ProductReviewOverview", Model.ProductReviewOverview)

                            @if (!string.IsNullOrEmpty(Model.ShortDescription))
                            {
                                <div class="short-description">
                                    @Html.Raw(Model.ShortDescription)
                                </div>
                            }

                            <!--compare, email a friend-->
                            <div class="overview-buttons">
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_inside_overview_buttons_before", additionalData = Model.Id })

                                <!--compare button-->
                                @if (Model.CompareProductsEnabled)
                                {
                                    <div class="compare-products-wrapper" title="@T("products.compare.addtocomparelist")">
                                        @await Html.PartialAsync("_CompareProductsButton", Model)
                                    </div>
                                }

                                <!--email a friend button-->
                                @if (Model.EmailAFriendEnabled)
                                {
                                    <div class="email-a-friend-button-wrapper" title="@T("products.emailafriend")">
                                        @await Html.PartialAsync("_ProductEmailAFriendButton", Model)
                                    </div>
                                }  

                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_inside_overview_buttons_after", additionalData = Model.Id })
                            </div>
                            
                            @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_submit_ticket_product_page_button", additionalData = Model.Id })

                            @if (showShareButton)
                            {
                                @await Html.PartialAsync("_ShareButton", Model)
                            }
                            @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_overview_bottom", additionalData = Model.Id })
                        </div>
                    </div>
                </div>
                <div class="product-page-bottom">
                    @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_before_collateral", additionalData = Model.Id })
                    <div class="product-collateral">
                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="full-description-wrapper">
                                <div class="title">
                                    <strong>@T("SevenSpikes.Themes.Venture.Common.ProductPageFullDescription")</strong>
                                </div>
                                <div class="full-description" itemprop="description">
                                    @Html.Raw(Model.FullDescription)
                                </div>
                            </div>
                        }
                        <!--associated products-->
                        <div class="product-variant-list">
                            @foreach (var variant in Model.AssociatedProducts)
                            {
                                <div class="product-variant-line" data-productid="@variant.Id">
                                    @if (!String.IsNullOrWhiteSpace(variant.DefaultPictureModel.ImageUrl))
                                    {
                                        <div class="variant-picture">
                                            <img alt="@variant.DefaultPictureModel.AlternateText" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazyloadsrc="@variant.DefaultPictureModel.ImageUrl"
                                                 title="@variant.DefaultPictureModel.Title" id="main-product-img-@variant.Id" />
                                        </div>
                                    }
                                    <div class="variant-overview">
                                        @if (!String.IsNullOrWhiteSpace(variant.Name))
                                        {
                                            <div class="variant-name">
                                                @variant.Name
                                            </div>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(variant.ShortDescription))
                                        {
                                            <div class="variant-description">
                                                @Html.Raw(variant.ShortDescription)
                                            </div>
                                        }

                                        <!--SKU, MAN, GTIN, vendor-->
                                        @await Html.PartialAsync("_SKU_Man_GTIN_Ven", variant)

                                        <!--delivery-->
                                        @await Html.PartialAsync("_DeliveryInfo", variant)                           

                                        <!--price breaks-->
                                        @await Html.PartialAsync("_ProductTierPrices", variant.TierPrices)

                                        @await Component.InvokeAsync("Widget", new { widgetZone = "ecorenew_finance_productdetails_financebreakdown", additionalData = variant.Id })
 
                                        <!--attributes-->
                                        @{
                                            var dataDictAttributes = new ViewDataDictionary(ViewData);
                                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{variant.Id}";
                                            @await Html.PartialAsync("_ProductAttributes", variant.ProductAttributes, dataDictAttributes)
                                        }
                                        <!--rental info-->
                                        @{
                                            var dataDictRental = new ViewDataDictionary(ViewData);
                                            dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{variant.Id}";
                                            @await Html.PartialAsync("_RentalInfo", variant, dataDictRental)
                                        }
                                        <!--availability-->
                                        @if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
                                        {
                                            <div class="availability">
                                                <div class="stock">
                                                    <span class="label">@T("Products.Availability"):</span>
                                                    <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
                                                </div>
                                            </div>
                                        }

                                        <!--gift card-->
                                        @{
                                            var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{variant.Id}";
                                            @await Html.PartialAsync("_GiftCardInfo", variant.GiftCard, dataDictGiftCard)
                                        }

                                        <!--minimum quantity notification-->
                                        @if (!String.IsNullOrEmpty(Model.AddToCart.MinimumQuantityNotification))
                                        {
                                            <div class="min-qty-notification">@Model.AddToCart.MinimumQuantityNotification</div>
                                        }

                                        <div class="variant-overview-footer">
                                            <!--price-->
                                            @{
                                                var dataDictPrice = new ViewDataDictionary(ViewData);
                                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{variant.Id}";
                                                @await Html.PartialAsync("_ProductPrice", variant.ProductPrice, dataDictPrice)
                                            }

                                            <div class="overview-buttons variant-overview-buttons">

                                                @{
                                                    var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                                    @Html.Partial("_AddToCart", variant.AddToCart, dataDictAddToCart)
                                                }

                                                <!--sample download button-->
                                                @if (Model.HasSampleDownload)
                                                {
                                                    <div class="download-sample-button-wrapper" title="@T("products.downloadsample")">
                                                        @await Html.PartialAsync("_DownloadSample", variant)
                                                    </div>
                                                }

                                                <!--back in stock subscription button-->
                                                @if (!String.IsNullOrWhiteSpace(Model.StockAvailability) && Model.DisplayBackInStockSubscription)
                                                {
                                                    <div class="back-in-stock-subscription-button-wrapper" title="@T("backinstocksubscriptions.notifymewhenavailable")">
                                                        @await Html.PartialAsync("_BackInStockSubscription", Model)
                                                    </div>
                                                }

                                                <!--wishlist-->
                                                @if (!Model.AddToCart.DisableWishlistButton)
                                                {
                                                    <div class="wishlist-button-wrapper" title="@T("products.wishlist.addtowishlist")">
                                                        @{
                                                            var dataDictAddToWishlist = new ViewDataDictionary(ViewData);
                                                            dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = $"addtocart_{variant.Id}";
                                                            @await Html.PartialAsync("_AddToWishlist", variant.AddToCart, dataDictAddToWishlist)
                                                        }
                                                    </div>
                                                }  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.AssociatedProducts.Count == 0)
                            {
                                <div class="no-associated-products">
                                    @T("Products.NoAssociatedProducts")
                                </div>
                            }
                        </div>
                        @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                        @await Html.PartialAsync("_ProductTags", Model.ProductTags)
                    </div>
                    @*we do not display "also purchased" for grouped products
                    @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })*@
                    @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
                </div>
            </div>
        </form>
        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_bottom", additionalData = Model.Id })
    </div>
</div>
