﻿@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@using Nop.Core.Domain.Customers
@using Nop.Services.Common
@using Nop.Core.Domain.PagePopups
@inject SeoSettings seoSettings
@inject CatalogSettings catalogSettings
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject CustomerSettings customerSettings
@inject IPopupIpAddressService popupIpAddressService
@{
    Layout = "_ColumnsOne";

    var IsShowPopup = false;
    var limitedTimes = customerSettings.PopupHomePageLimitedTimes;
    if (limitedTimes > 0)
    {
        var ipAddress = webHelper.GetCurrentIpAddress();
        var popup = popupIpAddressService.GetPopupByPageIp(ipAddress, (int)PagePopupKey.ProductPage);
        if (popup == null)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupLastTimeUtc.Date < DateTime.UtcNow.Date)
        {
            IsShowPopup = true;
        }
        else if (popup.PopupTimes < limitedTimes)
        {
            IsShowPopup = true;
        }
    }

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");


    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var showShareButton = catalogSettings.ShowShareButton;
    var shareUrl = webHelper.GetStoreLocation() + Model.SeName;
    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
    }
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/css/nova.product-detail.css");

    var list = TempData["list"] != null ? TempData["list"].ToString() : "Other";
    TempData["list"] = list;
}
<!--product breadcrumb-->
@section Breadcrumb
    {
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}
<style>
    .product-essential-wrapper {
        background: #fff !important;
    }

    @@media only screen and (max-width: 700px) {
        .master-wrapper-content {
            padding-top: 0px;
        }
    }

    @@media (max-width: 480px) {
        .master-wrapper-content {
            padding-bottom: 20px;
        }

        .breadcrumb {
            display: none;
        }

        .product-details-page .product-detail-top {
            margin-top: 20px !important;
        }
    }
</style>
@await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_breadcrumb", additionalData = Model.Id })
<div class="page product-details-page">
    @{
        var productPagePopupZone = await Component.InvokeAsync("Widget", new { widgetZone = "product_page_popup" });
    }
    @if (IsShowPopup)
    {
        @productPagePopupZone
    }
    <script>
        $('#pupup_modal').on('shown.bs.modal', function () {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("AddPopupTimes", "Common", new { popupPage = (int)PagePopupKey.ProductPage })',
                    type: 'get',
                    success: function (data) {

                    }
                });
            });
    </script>
    @*attribute modal*@
    <div style="z-index:10000" class="modal fade" id="freedelivery_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="freedelivery_title">FREE Next Day Delivery</h4>
                </div>
                <div class="modal-body" id="freedelivery_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "FreeDeliveryPopup" })
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="z-index:10000" class="modal fade" id="calculator_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="calculator_title">Monthly payment calculator</h4>
                </div>
                <div class="modal-body" id="calculator_content">
                    @await Component.InvokeAsync("Widget", new { widgetZone = "braintree_paypal_credit_financing_calculator", additionalData = Model.ProductPrice.PriceValue })
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="z-index:10000" class="modal fade" id="condition_guide_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="condition_guide_title">Condition Video Guide</h4>
                </div>
                <div class="modal-body" id="condition_guide_content">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "VideoForConditions" })
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_top", additionalData = Model.Id })
        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential-wrapper" style="padding-top: 10px !important;">
                    <div class="product-detail-top">
                        <div class="product-name">
                            <h1 itemprop="name">
                                @Model.Name
                            </h1>
                            <div style="height: 10px;"></div>
                            <div class="show-desktop-subTitle">
                                <span class="selected-all-attribute"></span>
                                <span class="pro-warranty">12 MONTH WARRANTY</span>
                            </div>
                        </div>
                    </div>
                    <input id="prodAttiCombId" type="hidden" value="0" />
                    <div class="product-essential">
                        <div class="product-col-left">
                            <div>
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_before_pictures", additionalData = Model.Id })
                                @{
                                    var cloudZoom = await Component.InvokeAsync("Widget", new { widgetZone = "sevenspikes_cloud_zoom" });

                                }
                                @if (!String.IsNullOrEmpty(cloudZoom.ToHtmlString()))
                                {
                                    @cloudZoom
                                }
                                else
                                {
                                    @await Html.PartialAsync("_ProductDetailsPictures", Model)
                                }
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_pictures", additionalData = Model.Id })
                            </div>
                            <div class="productdetails_overview_bottom  hide-max-1001">
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_overview_bottom", additionalData = Model.Id })
                            </div>
                        </div>
                        <div class="product-col-right">
                            @*<div class="showOnMobile showPrice">
                                    <div class="fromPrice">Price:<span class="fromText">From </span><span class="mobile-price"></span></div>
                                    <div class="nowPrice">Was <span class="mobile-was-price"></span> Now <span class="mobile-price"></span></div>
                                </div>*@
                            <div class="overview">
                                @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_overview_top", additionalData = Model.Id })
                                <div class="overview-title">
                                    please select your options
                                </div>
                                <div class="availability-attributes-wrapper">
                                    <!--attributes-->
                                    @{
                                        var dataDictAttributes = new ViewDataDictionary(ViewData);
                                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                        @await Html.PartialAsync("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                    }
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_attributes", additionalData = Model.Id })
                                    <!--rental info-->
                                    @{
                                        var dataDictRental = new ViewDataDictionary(ViewData);
                                        dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{Model.Id}";
                                        @await Html.PartialAsync("_RentalInfo", Model, dataDictRental)
                                    }
                                </div>

                                @await Html.PartialAsync("_Discontinued", Model)

                                <!--manufacturers-->
                                @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)

                                <!--SKU, MAN, GTIN, vendor-->
                                @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)

                                @await Component.InvokeAsync("Widget", new { widgetZone = "ecorenew_finance_productdetails_financebreakdown_info", additionalData = Model.Id })

                                @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_submit_ticket_product_page_button", additionalData = Model.Id })

                                @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
                            </div>

                            <div class="cart-delivery-review">
                                <div class="priceAddToCart">
                                    <div class="cart_delivery_left nop-flex">
                                        <div class="cart_delivery-qty">
                                            <!--price-->
                                            @{
                                                var dataDictPrice = new ViewDataDictionary(ViewData);
                                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
                                                @using Nop.Core.Domain.Tax
                                                @inject IWorkContext workContext
                                                @if (!Model.ProductPrice.CustomerEntersPrice)
                                                {
                                                    <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        @if (Model.ProductPrice.CallForPrice)
                                                        {
                                                            <div class="product-price call-for-price">
                                                                <span>@T("Products.CallForPrice")</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="old-product-price" id="override-old-price" style="display: none;">
                                                                <label>Was</label>
                                                                <span id="overrideOldPrice">@Model.ProductPrice.OldPrice</span>
                                                            </div>
                                                            <div class="old-product-price" id="override-from" style="display: none; margin-top: 0; width: 100%; display: none;">
                                                                <label style="font-size: 20px">From</label>
                                                            </div>
                                                            <div class="@if (String.IsNullOrWhiteSpace(Model.ProductPrice.PriceWithDiscount))
                                                {
                                                    <text>product-price</text>
                                                }
                                                else
                                                {
                                                    <text>non-discounted-price</text>
                                                }">
                                                                @if (!String.IsNullOrWhiteSpace(Model.ProductPrice.OldPrice) || !String.IsNullOrWhiteSpace(Model.ProductPrice.PriceWithDiscount))
                                                                {
                                                                    @*display "Price:" label if we have old price or discounted one*@
                                                                    <label>@T("Products.Price"):</label>
                                                                }
                                                                @*render price*@<span id="price_prefix_1" style="font-size: 18px;font-weight:normal">From: </span><span @if (String.IsNullOrWhiteSpace(Model.ProductPrice.PriceWithDiscount)) { <text> itemprop="price" content="@Model.ProductPrice.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductPrice.ProductId)" </text> }>
                                                                    @Html.Raw(Model.ProductPrice.Price)
                                                                </span>
                                                                @if (!Model.AddToCart.DisableBuyButton || Model.AddToCart.CustomerEntersPrice)
                                                                {
                                                                    if (!Model.AddToCart.DisableBuyButton)
                                                                    {
                                                                        var addcartinfo = "addtocart_" + Model.Id + ".EnteredQuantity";
                                                                        <label name="@addcartinfo" asp-for="@Model.AddToCart.EnteredQuantity" asp-postfix=":" class="qty-label"></label>
                                                                        if (Model.AddToCart.AllowedQuantities.Count > 0)
                                                                        {
                                                                            <select asp-for="@Model.AddToCart.EnteredQuantity" asp-items="Model.AddToCart.AllowedQuantities" class="qty-dropdown"></select>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="add-to-cart-qty-wrapper">
                                                                                <input name="@addcartinfo" asp-for="@Model.AddToCart.EnteredQuantity" class="qty-input" type="text" />
                                                                                <span class="plus">+</span>
                                                                                <span class="minus">-</span>
                                                                            </div>
                                                                            <script type="text/javascript" asp-location="Footer">
                                                            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                                                            $(document).ready(function() {
                                                                $("#@Html.IdFor(model => model.AddToCart.EnteredQuantity)").keydown(function(event) {
                                                                    if (event.keyCode == 13) {
                                                                        $("#add-to-cart-button-@Model.AddToCart.ProductId").click();
                                                                        return false;
                                                                    }
                                                                });
                                                            });
                                                                            </script>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                            if (!String.IsNullOrWhiteSpace(Model.ProductPrice.PriceWithDiscount))
                                                            {
                                                                @*discounted price*@
                                                                <div class="product-price discounted-price">
                                                                    <span id="price_prefix_2" style="font-size: 18px;font-weight:normal">@T("Products.Price.WithDiscount"):</span>
                                                                    <span itemprop="price" content="@Model.ProductPrice.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="price-value-@(Model.ProductPrice.ProductId)">
                                                                        @Html.Raw(Model.ProductPrice.PriceWithDiscount)
                                                                    </span>
                                                                </div>
                                                            }
                                                            if (Model.IsRental)
                                                            {
                                                                <div class="rental-price">
                                                                    <label>@T("Products.Price.RentalPrice"):</label>
                                                                    <span>@Model.ProductPrice.RentalPrice</span>
                                                                </div>
                                                            }
                                                            if (!String.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                                                            {
                                                                <div class="base-price-pangv">
                                                                    @Model.ProductPrice.BasePricePAngV
                                                                </div>
                                                            }
                                                            if (Model.ProductPrice.DisplayTaxShippingInfo)
                                                            {
                                                                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                                                                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                                                //of course, you can modify appropriate locales to include VAT info there
                                                                <div class="tax-shipping-info">
                                                                    @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                                                </div>
                                                            }
                                                            if (!String.IsNullOrEmpty(Model.ProductPrice.CurrencyCode))
                                                            {
                                                                <meta itemprop="priceCurrency" content="@Model.ProductPrice.CurrencyCode" />
                                                            }
                                                        }

                                                    </div>
                                                }
                                                <!-- replace PartialAsync("_ProductPrice")-->
                                                @await Html.PartialAsync("_ProductTierPrices", Model.TierPrices)

                                                @await Component.InvokeAsync("Widget", new { widgetZone = "ecorenew_finance_productdetails_financebreakdown", additionalData = Model.Id })
                                            }
                                        </div>

                                        <div class="addToCart-leftPart">
                                            @await Component.InvokeAsync("Widget", new { widgetZone = "braintree_paypal_credit_fromprice", additionalData = Model.ProductPrice.ProductId })
                                            <!--add to cart-->
                                            <div class="nova-qty-addToCart">
                                                <div class="qty-addToCart-item">
                                                    @{
                                                        var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";

                                                        <!-- replace PartialAsync("_AddToCart"）-->
                                                        @using Nop.Core.Domain.Orders;
                                                        @if (Model.AddToCart.UpdatedShoppingCartItemId > 0)
                                                        {
                                                            <input asp-for="@Model.AddToCart.UpdatedShoppingCartItemId" type="hidden" />
                                                        }
                                                        @if (!Model.AddToCart.DisableBuyButton || Model.AddToCart.CustomerEntersPrice)
                                                        {
                                                            if (!Model.AddToCart.DisableBuyButton)
                                                            {
                                                                var addToCartText = "";
                                                                var warningText = "Warning: Last stocks available";
                                                                if (Model.AddToCart.UpdatedShoppingCartItemId > 0 && Model.AddToCart.UpdateShoppingCartItemType.HasValue && Model.AddToCart.UpdateShoppingCartItemType.Value == ShoppingCartType.ShoppingCart)
                                                                {
                                                                    addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                                                                }
                                                                else
                                                                {
                                                                    addToCartText = T("ShoppingCart.AddToCart").Text;
                                                                    if (Model.AddToCart.IsRental)
                                                                    {
                                                                        addToCartText = T("ShoppingCart.Rent").Text;
                                                                    }
                                                                    else if (Model.AddToCart.AvailableForPreOrder)
                                                                    {
                                                                        addToCartText = T("ShoppingCart.PreOrder").Text;
                                                                    }
                                                                }
                                                                <div class="nop-flex">
                                                                    <input type="button" id="add-to-cart-button-@Model.AddToCart.ProductId" class="button-1 add-to-cart-button" value="@addToCartText" data-productid="@Model.AddToCart.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');addToCart();return false;" />

                                                                    <div class="add-to-cart-button-sticky">
                                                                        <input type="button" id="add-to-cart-button-@Model.AddToCart.ProductId" class="button-1 add-to-cart-button" value="@addToCartText" data-productid="@Model.AddToCart.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');addToCart();return false;" />
                                                                    </div>
                                                                    @if (!Model.AddToCart.DisableWishlistButton)
                                                                    {
                                                                        <input type="button" id="add-to-wishlist-button-@Model.Id" class="add-to-wishlist-button btn-img" data-productid="@Model.Id" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.Id, shoppingCartTypeId = (int) ShoppingCartType.Wishlist})', '#product-details-form');return false;" />
                                                                    }

                                                                </div>
                                                                <div id="notify-no-stock-text" class="notify-warning-text" style="display:none;">@warningText</div>
                                                            }
                                                        }
                                                    }
                                                    <!-- end replace PartialAsync("_AddToCart"）-->
                                                </div>
                                                <input type="button" id="add-to-cart-button-alert" class="button-1 add-to-cart-button" value="back in stock" />
                                                <div class="notify-text"></div>
                                            </div>
                                            <!--minimum quantity notification-->
                                            @if (!String.IsNullOrEmpty(Model.AddToCart.MinimumQuantityNotification))
                                            {
                                                <div class="min-qty-notification">@Model.AddToCart.MinimumQuantityNotification</div>
                                            }
                                            <div class="price-add-to-cart-group">

                                                @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                                {
                                                    <div class="short-description">
                                                        @Html.Raw(Model.ShortDescription)
                                                    </div>
                                                }

                                                <!--gift card-->
                                                @{
                                                    var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{Model.Id}";
                                                    @await Html.PartialAsync("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                                }

                                                @if (Model.AddToCart.CustomerEntersPrice)
                                                {
                                                    <div class="customer-entered-price">
                                                        <div class="price-input">
                                                            <label asp-for="@Model.AddToCart.CustomerEnteredPrice" asp-postfix=":" class="enter-price-label"></label>
                                                            @*round price*@
                                                            <input asp-for="@Model.AddToCart.CustomerEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.AddToCart.CustomerEnteredPrice))" class="enter-price-input" />
                                                        </div>
                                                        <div class="price-range">
                                                            @Model.AddToCart.CustomerEnteredPriceRange
                                                        </div>
                                                    </div>
                                                }
                                                <!--buttons-->
                                                <div class="overview-buttons">
                                                    @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_inside_overview_buttons_before", additionalData = Model.Id })

                                                    <!--email a friend button-->
                                                    @if (Model.EmailAFriendEnabled)
                                                    {
                                                        <div class="email-a-friend-button-wrapper" title="@T("products.emailafriend")">
                                                            @await Html.PartialAsync("_ProductEmailAFriendButton", Model)
                                                        </div>
                                                    }

                                                    <!--back in stock subscription button-->
                                                    @if (!String.IsNullOrWhiteSpace(Model.StockAvailability) && Model.DisplayBackInStockSubscription)
                                                    {
                                                        <div class="back-in-stock-subscription-button-wrapper" title="@T("backinstocksubscriptions.notifymewhenavailable")">
                                                            @await Html.PartialAsync("_BackInStockSubscription", Model)
                                                        </div>
                                                    }

                                                    <!--sample download button-->
                                                    @if (Model.HasSampleDownload)
                                                    {
                                                        <div class="download-sample-button-wrapper" title="@T("products.downloadsample")">
                                                            @await Html.PartialAsync("_DownloadSample", Model)
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            <div class="price-add-to-cart-group-hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="cart-delivery-review">
                                <div class="delivery-review">
                                    <div class="credit-box nop-flex">
                                        <div class="credit-img">
                                            <img class="lazy" data-original="/Themes/Venture/Content/img/paypalcredit.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                        </div>
                                        <div class="calculator_title" onclick="calculator_click()">
                                            Monthly Payment Calculator
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cart-delivery-review">
                                <div class="delivery-review">
                                    <div class="delivery-portion nop-flex">
                                        @await Html.PartialAsync("_DeliveryInfo", Model)
                                        <div class="delivery-title" onclick="freedelivery_click()">
                                            <h2>FREE DELIVERY</h2>
                                        </div>
                                        <div id="mazuma-delivery-portion">
                                            <div class="brief-delivery-info" id="deliveryCountInfo">
                                                Order in&nbsp;&nbsp;<span class="order-count-down"></span>&nbsp;&nbsp;for Next Day Delivery
                                            </div>
                                            <div class="brief-delivery-info" id="deliveryFreeBefore" style="display: none;">
                                                Order before&nbsp;&nbsp;<span style="color:#ff5733;">3PM</span>&nbsp;&nbsp;for Next Day Delivery
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-page-bottom">
                    <div class="hide-min-1000">
                        @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_overview_bottom", additionalData = Model.Id })
                    </div>
                    @await Html.PartialAsync("_ProductTabs", Model)
                    @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_bottom", additionalData = Model.Id })
                    <div class="product-collateral">
                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="full-description-wrapper">
                                <div class="title">
                                    <strong>@T("SevenSpikes.Themes.Venture.Common.ProductPageFullDescription")</strong>
                                </div>
                                <div class="full-description" itemprop="description">
                                    @Html.Raw(Model.FullDescription)

                                </div>

                            </div>
                        }
                        @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                    </div>
                    @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })
                </div>
            </div>
        </form>

    </div>
</div>
<script asp-location="Footer">
    function openShareWindow(url) {
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);

        window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
    function freedelivery_click() {
        $("#freedelivery_modal").modal("show");
    }
    function calculator_click() {
        $("#calculator_modal").modal("show");
    }
    function condition_guide_click() {
        $("#condition_guide_modal").modal("show");
    }
    $(document).ready(function () {
        var overallRatings = $('.product-reviews-overview');
        $('#quickTab-description .full-description').append(overallRatings);
        if ($('#stock-availability-value-@Model.Id').text() == '@T("Products.Availability.OutOfStock")') {
            $("#stock-availability-value-@Model.Id").addClass("outOfStock");
            $('#add-to-cart-button-@Model.Id').hide();
            $('.qty-addToCart-item').hide();
            $('#add-to-cart-button-alert').show();
        } else {
            $("#stock-availability-value-@Model.Id").removeClass("outOfStock");
            $('#add-to-cart-button-@Model.Id').show();
            $('.qty-addToCart-item').show();
            $('#add-to-cart-button-alert').hide();
        }

        // sticky_prices
        var headerHeight = $('.responsive-nav-wrapper-parent').outerHeight();
        var breadcrumbHeight = $('.breadcrumb').outerHeight();
        var totalcountdownHeight = headerHeight + breadcrumbHeight;
        $('.next-delivery-countdown-container-cover').css('top', totalcountdownHeight + 'px');

        var starttime = new Date("@Model.NowTimeStr");
        var endtime = new Date("@Model.EndTimeStr");
        var time = endtime - starttime;
        setInterval(function () {
            time = time - 1000;
            var dayOfWeek = starttime.getDay();

            if (time > 0) {
                var hour = parseInt(time / 1000 / 60 / 60 % 24);
                var minute = parseInt(time / 1000 / 60 % 60);
                var seconds = parseInt(time / 1000 % 60);
                $('.order-count-down').html(hour + " hrs " + minute + " min " + seconds + " sec");
                $('#deliveryCountInfo').show();
                $('#deliveryFreeBefore').hide();
                if (dayOfWeek == 0 || dayOfWeek > 5) {
                    $('#mazuma-delivery-portion').hide();
                }
                else {
                    $('#mazuma-delivery-portion').show();
                }
            }
            else {
                $('#deliveryCountInfo').hide();
                $('#deliveryFreeBefore').show();
                if (dayOfWeek == 0 || dayOfWeek > 4) {
                    $('#mazuma-delivery-portion').hide();
                }
                else {
                    $('#mazuma-delivery-portion').show();
                }
            }

        }, 1000);
        $("#add-to-cart-button-alert").on('click', function () {
            @*displayPopupContentFromUrl('@Url.RouteUrl("BackInStockSubscribePopup", new { productId = Model.Id })', '@T("BackInStockSubscriptions.NotifyMeWhenAvailable")');*@
            displayPopupContentFromUrl('@Url.RouteUrl("BackInStockSubscribePopup")?productId=@Model.Id&attributeCombinationId=' + $('#prodAttiCombId').val(), '@T("BackInStockSubscriptions.NotifyMeWhenAvailable")');
        });
    });


</script>
<script>
    // Measure a view of product details. This example assumes the detail view occurs on pageload,
    // and also tracks a standard pageview of the details page.
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'event': 'productDetail',
        'ecommerce': {
            'detail': {
                'actionField': { 'list': '@list' },
                'products': [{
                    'name': '@Model.Name',
                    'id': '@Model.Id',
                }]
            }
        }
    });

    function addToCart() {
        // Measure adding a product to a shopping cart by using an 'add' actionFieldObject
        // and a list of productFieldObjects.
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'addToCart',
            'ecommerce': {
                'currencyCode': 'GBP',
                'add': {
                    'actionField': { 'list': '@list' },
                    'products': [{
                        'name': '@Model.Name',
                        'id': '@Model.Id',
                        'quantity': $('#AddToCart_EnteredQuantity').val()
                    }]
                }
            }
        });
    }
</script>
<script asp-location="Footer">
    //Views - Product - ProductTemplate.Simple
    //Get the button
    var mybutton = document.getElementsByClassName("add-to-cart-button-sticky")[0];

    // When the user scrolls down 180px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {

        var isMobile = false; //initiate as false
        // device detection
        if (screen.width <= 1001) {
            isMobile = true;
        }

        if (($(window).scrollTop() + $('.add-to-cart-button').height()) < ($('.add-to-cart-button').height() + 650)) {
            mybutton.style.display = "none";
        } else {

            if (isMobile == false) {
                mybutton.style.display = "block";
            }
        }
    }
</script>