﻿@model Nop.Plugin.Ecorenew.Finance.Models.Consumer.Components.ConsumerFinanceBreakdownTerm


<div class="col-lg-4">
    <div class="consumerfinance-term">
        <ul>
            <li class="consumerfinance-term-header">
                <h2>@Model.Title</h2>
                <h3 class="consumerfinance-term-subheader">
                    @Model.MonthlyPayment <br />
                </h3>
                <h4 class="consumerfinance-term-subheader-month">
                    per month
                </h4>
            </li>
            <li class="consumerfinance-term-breakdown">
                <ul>
                    <li>
                        <span class="breakdown-label">Phone cost</span>
                        <span class="breakdown-data">@Model.PhoneCost</span>
                    </li>
                    <li>
                        <span class="breakdown-label">Initial payment</span>
                        <span class="breakdown-data">@Model.InitialPayment</span>
                    </li>
                    <li>
                        <span class="breakdown-label"> Number of monthly payments</span>
                        <span class="breakdown-data">@Model.NumberOfMonths</span>
                    </li>
                    @*<li>
                            <span class="breakdown-label">Total charge for credit</span>
                            <span class="breakdown-data">@Model.TotalChargeForCredit</span>
                        </li>*@
                    <li>
                        <span class="breakdown-label">Total amount payable</span>
                        <span class="breakdown-data">@Model.TotalAmountPayable</span>
                    </li>
                    <li>
                        <span class="breakdown-label">APR</span>
                        <span class="breakdown-data">@Model.Apr (Fixed)</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>