﻿@model IEnumerable<AttachmentPublicModel>
@inject AttachmentsSettings attachmentsSettings
@{
    string openLinksInNewWindow = "_self";

    if (attachmentsSettings.OpenLinksInNewWindow)
    {
        openLinksInNewWindow = "_blank";
    }  
}

<ul>
    @foreach (AttachmentPublicModel attachment in Model)
    {
        string url = String.Empty;
        string videoEmbedCode = String.Empty;

        if (String.IsNullOrEmpty(attachment.VideoEmbedCode) && attachment.DownloadId > 0)
        {
            url = Url.Content("~/Attachment/DownloadFile?downloadId=") + attachment.DownloadId;
        }

        if (!String.IsNullOrEmpty(attachment.VideoEmbedCode))
        {
            videoEmbedCode = attachment.VideoEmbedCode;
        }

        <li>
            @if (!string.IsNullOrEmpty(attachment.ImageUrl))
            {
                <a class="attachmentLink attachmentLinkImg" href="@url" title="@attachment.ShortDescription" data-videoembedcode="@videoEmbedCode" target="@openLinksInNewWindow">
                    <img src="@attachment.ImageUrl" alt="@attachment.Name" />
                </a>
            }

            <a class="attachmentLink" href="@url" title="@attachment.ShortDescription" data-videoembedcode="@videoEmbedCode" target="@openLinksInNewWindow">@attachment.Name</a>
        </li>
    }
</ul>