﻿@model TransferRecordModel
@using Nop.Web.Areas.Admin.Models.Bank
@using Nop.Core.Domain.Bank
@using Nop.Services

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="OrderId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="OrderId" asp-required="true" />
                    <span asp-validation-for="OrderId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SerialNumber" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SerialNumber" asp-required="true" />
                    <span asp-validation-for="SerialNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="FromAccount" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="FromAccount" />
                    <span asp-validation-for="FromAccount"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="FromCardCode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="FromCardCode" />
                    <span asp-validation-for="FromCardCode"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Amount" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Amount" />
                    <span asp-validation-for="Amount"></span>
                    <div class="text-warning">@T("Admin.Bank.TransferRecord.Fields.Amount.Warning")</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TransferStatusId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="TransferStatusId" asp-items="@(((TransferStatus)Model.TransferStatusId).ToSelectList())" />
                    <div class="text-warning">@T("Admin.Bank.TransferRecord.Fields.Status.Warning")</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Remark" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="Remark" />
                    <span asp-validation-for="Remark"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TransferDate" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="TransferDate" />
                    <span asp-validation-for="TransferDate"></span>
                </div>
            </div>
        </div>
    </div>
</div>