﻿@model TransferRecordListModel
@using Nop.Web.Areas.Admin.Models.Bank
@inject AdminAreaSettings adminAreaSetting
@{
    var defaultGridPageSize = adminAreaSetting.DefaultGridPageSize;
    var gridPageSizes = adminAreaSetting.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Bank.TransferRecord").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Transfer record");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Bank.TransferRecord")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="OrderId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="OrderId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SerialNumber" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SerialNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="FromAccount" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="FromAccount" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="FromCardCode" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="FromCardCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="TransferStatusIds" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="TransferStatusIds" asp-items="Model.AvailableTransferStatus" asp-multiple="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-transfer-record" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="transfer-record-grid"></div>
                    <script type="text/javascript">
                        $(function(){
                            $("#transfer-record-grid").kendoGrid({
                                dataSource: {
                                    type: 'json',
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "TransferRecord"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                //分页
                                 pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Id",
                                        title: "ID",
                                    },{
                                        field: "OrderId",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.OrderId")",
                                    }, {
                                        field: "SerialNumber",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.SerialNumber")",
                                        width: 200
                                    },{
                                        field: "FromAccount",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.FromAccount")",
                                        width: 200
                                    },{
                                        field: "FromCardCode",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.FromCardCode")",
                                        width: 200
                                    },{
                                        field: "TransferStatus",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.TransferStatusId")",
                                        width: 150,
                                        template: '<span class="grid-report-item ' +
                                            '# if(TransferStatusId == 10) {# yellow #} #' +
                                            '# if(TransferStatusId == 20) {# blue #} #' +
                                            '# if(TransferStatusId == 30) {# red #} #' +
                                            '">#=TransferStatus#</span>'
                                    },{
                                        field: "Amount",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.Amount")",
                                        width:150
                                    },{
                                        field: "CreatedUTC",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.CreatedUTC")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    },@*{
                                        field: "TransferDate",
                                        title: "@T("Admin.Bank.TransferRecord.Fields.TransferDate")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:G}"
                                    },*@{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:cneter" },
                                        attributes: { style: "text-align:center" },
                                        template:'<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                ],
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $("#search-transfer-record").click(function () {
                                var grid = $("#transfer-record-grid").data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                        function additionalData() {
                            var data = {
                                OrderId: $('#@Html.IdFor(model=>model.OrderId)').val(),
                                FromAccount: $('#@Html.IdFor(model=>model.FromAccount)').val(),
                                SerialNumber: $('#@Html.IdFor(model=>model.SerialNumber)').val(),
                                FromCardCode:$('#@Html.IdFor(model=>model.FromCardCode)').val(),
                                TransferStatusIds: $('#@Html.IdFor(model => model.TransferStatusIds)').val(),
                            }
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>