﻿@model Nop.Plugin.Payments.BrainTreePayPal.Models.AdditionalPaymentInfoModel
@{
    Layout = "";
}

@if (Model.IsPayPal)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper">
                        <label>@T("Plugins.Payments.BrainTreePayPal.AdditionalPaymentInfo")</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsPayPalCredit" />
                </div>
                <div class="col-md-9">
                    <div class="form-text-row">@Model.IsPayPalCredit</div>
                </div>
            </div>
            @if (Model.IsPayPalCredit)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PayPalCreditTerm" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.PayPalCreditTerm</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PayPalCreditMonthlyPayment" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.PayPalCreditMonthlyPayment</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PayPalCreditInterest" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.PayPalCreditInterest</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="PayPalCreditTotal" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.PayPalCreditTotal</div>
                    </div>
                </div>
                <script>
                    $('label[for="PaymentMethod"]').closest('.form-group').children('.col-md-9').children('.form-text-row').text('PayPal Credit');
                </script>
            }
        </div>
    </div>
}