﻿@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Payments.BrainTreePayPal.Models;

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentBrainTreePayPal" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandBox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandBox" />
                        <span asp-validation-for="UseSandBox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantAccountId_OverrideForStore" asp-input="MerchantAccountId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantAccountId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantAccountId" />
                        <span asp-validation-for="MerchantAccountId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PrivateKey_OverrideForStore" asp-input="PrivateKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PrivateKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PrivateKey" />
                        <span asp-validation-for="PrivateKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PublicKey_OverrideForStore" asp-input="PublicKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PublicKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicKey" />
                        <span asp-validation-for="PublicKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalButtonSize_OverrideForStore" asp-input="PayPalButtonSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalButtonSize" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalButtonSize" />
                        <span asp-validation-for="PayPalButtonSize"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalFlow_OverrideForStore" asp-input="PayPalFlow" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalFlow" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalFlow" />
                        <span asp-validation-for="PayPalFlow"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalIntent_OverrideForStore" asp-input="PayPalIntent" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalIntent" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalIntent" />
                        <span asp-validation-for="PayPalIntent"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnablePayPalCreditButton_OverrideForStore" asp-input="EnablePayPalCreditButton" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnablePayPalCreditButton" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnablePayPalCreditButton" />
                        <span asp-validation-for="EnablePayPalCreditButton"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalCreditButtonSize_OverrideForStore" asp-input="PayPalCreditButtonSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalCreditButtonSize" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalCreditButtonSize" />
                        <span asp-validation-for="PayPalCreditButtonSize"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalCreditFlow_OverrideForStore" asp-input="PayPalCreditFlow" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalCreditFlow" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalCreditFlow" />
                        <span asp-validation-for="PayPalCreditFlow"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalCreditIntent_OverrideForStore" asp-input="PayPalCreditIntent" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalCreditIntent" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalCreditIntent" />
                        <span asp-validation-for="PayPalCreditIntent"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnablePayPalKount_OverrideForStore" asp-input="EnablePayPalKount" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnablePayPalKount" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnablePayPalKount" />
                        <span asp-validation-for="EnablePayPalKount"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AllowedShippingTwoLetterCountryCodes_OverrideForStore" asp-input="AllowedShippingTwoLetterCountryCodes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AllowedShippingTwoLetterCountryCodes" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AllowedShippingTwoLetterCountryCodes" />
                        <span asp-validation-for="AllowedShippingTwoLetterCountryCodes"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalRestApiClientId_OverrideForStore" asp-input="PayPalRestApiClientId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalRestApiClientId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalRestApiClientId" />
                        <span asp-validation-for="PayPalRestApiClientId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPalRestApiSecret_OverrideForStore" asp-input="PayPalRestApiSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPalRestApiSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPalRestApiSecret" />
                        <span asp-validation-for="PayPalRestApiSecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CacheAccessToken_OverrideForStore" asp-input="CacheAccessToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CacheAccessToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CacheAccessToken" />
                        <span asp-validation-for="CacheAccessToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CacheFromPriceStatement_OverrideForStore" asp-input="CacheFromPriceStatement" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CacheFromPriceStatement" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CacheFromPriceStatement" />
                        <span asp-validation-for="CacheFromPriceStatement"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="CacheFinancingCalculatorValues_OverrideForStore" asp-input="CacheFinancingCalculatorValues" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="CacheFinancingCalculatorValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CacheFinancingCalculatorValues" />
                        <span asp-validation-for="CacheFinancingCalculatorValues"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
