﻿@model Nop.Plugin.Payments.BrainTreePayPal.Models.CheckoutConfirmModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Microsoft.AspNetCore.Http
@using Nop.Plugin.Payments.BrainTreePayPal.Models
@using Nop.Plugin.Payments.BrainTreePayPal
@using Nop.Core.Http.Extensions
@using Nop.Services.Catalog
@inject IHttpContextAccessor httpContextAccessor
@inject IPriceFormatter priceFormatter
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);

    var session = httpContextAccessor.HttpContext.Session;
    var selectedFinancingOption = session.Get<PayPalCreditFinancingOffered>(BrainTreePayPalPaymentSystemNames.SELECTED_FINANCING_OPTION);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_confirm_top" })
        <div class="order-summary-body">
            @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
        </div>
        <div class="section confirm-order">
            @using (Html.BeginRouteForm("Plugin.Payments.BrainTreePayPalCredit.Confirm", FormMethod.Post, new { id = "confirm-order-form" }))
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        onCheckoutOption('1');
                        $('#confirm-order-form').submit(function () {
                            onCheckoutOption('2');
                            $('input[type=submit]', this).attr('disabled', 'disabled');
                        });
                    });
                </script>
                if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
                {
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                }
                else
                {
                    if (Model.TermsOfServiceOnOrderConfirmPage)
                    {
                        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                        </div>
                        <div class="terms-of-service">
                            <input id="termsofservice" type="checkbox" name="termsofservice" />
                            <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                            @if (Model.TermsOfServicePopup)
                            {
                                <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                <script type="text/javascript" asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-terms').on('click',
                                            function(e) {
                                                e.preventDefault();
                                                displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                                            });
                                    });
                                </script>
                            }
                            else
                            {
                                <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                            }
                        </div>
                    }
                    <div class="buttons">
                        <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="button-1 confirm-order-next-step-button" />
                    </div>
                }
                if (Model.Warnings.Count > 0)
                {
                    <div class="message-error">
                        <ul>
                            @foreach (var warning in Model.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_confirm_bottom" })
    </div>
</div>

@if (selectedFinancingOption != null)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            @{
                var monthly = priceFormatter.FormatPrice(Convert.ToDecimal(selectedFinancingOption.monthlyPayment.value));
                var totalCost = Convert.ToDecimal(selectedFinancingOption.totalCost.value);
                var totalInterest = Convert.ToDecimal(selectedFinancingOption.totalInterest.value);
                var costOfPurchase = priceFormatter.FormatPrice(totalCost - totalInterest);
            }

            $('table.cart-total .order-total').before('<tr><td class="cart-total-left"><label>Cost of Purchase</label></td><td class="cart-total-right"><span>@costOfPurchase</span></td></tr>');
            $('table.cart-total .order-total').before('<tr><td class="cart-total-left"><label>@selectedFinancingOption.term Monthly Payments</label></td><td class="cart-total-right"><span>@monthly / MO</span></td></tr>');
            $('table.cart-total .order-total .cart-total-left label').html('Total Including Interest:');
            $('table.cart-total .order-total .cart-total-right span').html('@priceFormatter.FormatPrice(Convert.ToDecimal(selectedFinancingOption.totalCost.value))')

	        $('.payment-method .value').html('<span class="value"><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open(\'https://www.paypal.com/uk/webapps/mpp/paypal-popup\',\'WIPaypal\',\'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700\'); return false;"><img src="/images/uploaded/paypal-credit-logo-small.png" border="0" alt="PayPal Credit Logo" style="width: 140px; margin-bottom: -4px;"></a></span>');
	        $('.payment-method').after('<li><span class="label">PayPal Account: </span><span class="value">' + $('.billing-info .email').html().replace('Email: ', '') + '</span></li>');
        });
    </script>
}
else
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.payment-method .value').html('<span class="value"><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open(\'https://www.paypal.com/uk/webapps/mpp/paypal-popup\',\'WIPaypal\',\'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700\'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Credit Logo" style="margin-bottom: -4px;"></a></span>');
            $('.payment-method').after('<li><span class="label">PayPal Account: </span><span class="value">' + $('.billing-info .email').html().replace('Email: ', '') + '</span></li>');
        });
    </script>
}