﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.BrainTreePayPal.Models.FinancingCalculatorModel

<style>
    .ppc-fc-content {
        position: relative;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        display: block;
        clear: both;
        margin-bottom: 40px;
        overflow: hidden;
    }

    .ppc-fc-grid {
        min-height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .ppc-fc-cell {
        width: 100%;
        height: 48px;
        margin: 8px;
        display: inline-block;
        max-width: 200px;
    }

    .ppc-fc-button {
        width: 100%;
        max-width: 250px;
        height: 100%;
        border-style: solid;
        border-radius: 50px;
        border-width: 2px;
        text-decoration: none;
        padding: 2px;
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        font-weight: 700;
        background-color: white;
    }

    .ppc-fc-button-option {
        border-color: #bababa;
        color: #999;
    }

    .ppc-fc-button-selected {
        border: none;
        background-image: linear-gradient(90deg,#ff0054 0%,#ff2f00 100%);
        color: #ff2f00;
    }

        .ppc-fc-button-selected span {
            align-items: center;
            background: #FAFAFA;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

    .ppc-fc-representative-example div {
        font-size: 10pt;
        line-height: 20px;
    }

    .ppc-fc-representative-example span.ppc-fc-representative {
        padding-left: 100px;
        font-weight: 700;
    }

    .ppc-fc-representative-example span.interest {
        padding-left: 55px;
        font-weight: 700;
    }

    .ppc-fc-options {
        float: left;
        width: 100%;
        background-color: white;
        padding: 25px 20px;
    }

    .ppc-fc-options-details {
        color: white;
        float: left;
        width: 100%;
        background: #ff0054 url('/images/uploaded/pattern-bg-compressor.jpg');
        background-size: cover;
        padding: 35px 20px;
    }

        .ppc-fc-options-details .details {
            border-bottom: 2px dashed white;
            font-size: 22px;
            font-weight: 300;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .ppc-fc-options-details span.monthly {
            padding-left: 100px;
            font-weight: 700;
        }

        .ppc-fc-options-details span.rate {
            padding-left: 136px;
            font-weight: 700;
        }

        .ppc-fc-options-details span.cost {
            padding-left: 126px;
            font-weight: 700;
        }

        .ppc-fc-options-details span.total {
            padding-left: 76px;
            font-weight: 700;
        }

    .ppc-fc-subheader {
        margin-top: -4px;
        font-size: 11px;
    }

    .ppc-fc-loading {
        position: absolute;
        z-index: 19;
        background: rgba(39, 38, 38, 0.582);
        width: 100%;
        height: 100%;
    }

        .ppc-fc-loading div {
            position: absolute;
            left: 20%;
            top: 2%;
        }

    .ppc-fc-monthly-repayment,
    .ppc-fc-representative-example-title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: normal;
        text-align: left;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .ppc-fc-estimated-monthly-payment {
        font-weight: 500;
        margin-bottom: 25px;
    }

    .ppc-fc-options-details .details:nth-child(5) {
        border-bottom: 0 !important;
    }

    .ppc-fc-options-details .details td {
        text-align: left;
    }

        .ppc-fc-options-details .details td:first-child {
            width: 65%;
        }

        .ppc-fc-options-details .details td:last-child {
            width: 35%;
            font-weight: 500;
        }

    .ppc-fc-representative-example td {
        text-align: left;
        width: 50%;
    }

    .ppc-fc-representative-example tr td:last-child {
        font-weight: 600;
    }

    .ppc-fc-representative-example > table {
        font-size: 14px;
    }

    .ppc-fc-monthly-payment-calculator {
        color: #ff2f00;
        font-size: 16px;
        margin-top: 10px;
        display: block;
    }

    @@media screen and (min-width: 870px) {
        .ppc-fc-content {
            display: flex;
        }

        .ppc-fc-monthly-payment-calculator {
            display: inline-block;
        }
    }
</style>

<div>
    <div class="ppc-fc-content">
        <div class="ppc-fc-loading" style="display:none;">
        </div>
        <div class="ppc-fc-options">
            <img style="max-width: 200px;" src="/images/uploaded/paypal-credit-logo-small.png" alt="PayPal Credit">
            <h4 class="ppc-fc-monthly-payment-calculator">Monthly payment calculator</h4>
            <h6 class="ppc-fc-monthly-repayment">MONTHLY REPAYMENT</h6>
            <div class="ppc-fc-grid">
            </div>
            <div class="ppc-fc-representative-example">
                <h6 class="ppc-fc-representative-example-title">REPRESENTATIVE EXAMPLE</h6>
                <table>
                    <tr>
                        <td>Assumed credit limit</td>
                        <td class="limit">&#163; 1,200.00</td>
                    </tr>
                    <tr>
                        <td>Representative</td>
                        <td class="ppc-fc-representative">19.9% APR(variable)</td>
                    </tr>
                    <tr>
                        <td>Purchase interest rate</td>
                        <td class="interest">19.9% P.a. (variable)</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="ppc-fc-options-details">
            <h5 class="ppc-fc-estimated-monthly-payment">ESTIMATED MONTHLY PAYMENT</h5>
                <div class="details">
                    <table>
                        <tr>
                            <td>Monthly repayment</td>
                            <td class="monthly"></td>
                        </tr>
                    </table>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <td>Instalment rate</td>
                            <td class="rate"></td>
                        </tr>
                    </table>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <td>Cost of purchase</td>
                            <td class="cost"></td>
                        </tr>
                    </table>
                </div>
                <div class="details">
                    <table>
                        <tr>
                            <td>Total Including interest</td>
                            <td class="total"></td>
                        </tr>
                    </table>
                </div>
                <div class="ppc-fc-subheader">
                    Subject to status. Terms and conditions apply.
                </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var amount = @Model.InitialValue;
        calculateFinancing();

        function calculateFinancing() {
            $('.ppc-fc-loading').show();

            getCalculatedFinancingOptions('@Model.Token', 'GB', amount, 'GBP', 'EC-3GY56644419521943')
                .done(function(calculatedOptions) {
                    $('.ppc-fc-options .ppc-fc-grid').empty();
                    clearPaymentDetailsFields();
                    console.log(calculatedOptions);
                    var items = getFinincialItems(calculatedOptions);
                    if (items.length > 0) {
                        items = sortItems(items);
                        createFinancialItems(items);
                        $('.ppc-fc-options .ppc-fc-button:last').click();
                    }
                    $('.ppc-fc-loading').hide();
                })
                .fail(function() {
                    alert('Unable to process your request.');
                    $('.ppc-fc-loading').hide();
                    clearPaymentDetailsFields();
                });
        }

        function getCalculatedFinancingOptions(token, countryCode, amount, currencyCode, trackingId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFinancingCalculatorValues", "PaymentBrainTreePayPal")',
                data: { price: amount }
            });
        }

        function getFinincialItems(data) {
            const creditType = 'INST';
            var list = [];
            if (data.financing_options[0].qualifying_financing_options.length > 0)
                list = data.financing_options[0].qualifying_financing_options;

            var items = $.grep(list, function (item) {
                return item.credit_financing.credit_type === creditType;
            });
            return items;
        }

        function sortItems(items) {
            items.sort(function (item1, item2) {
                if (item1.credit_financing.term > item2.credit_financing.term) return 1;
                if (item1.credit_financing.term < item2.credit_financing.term) return -1;
                return 0;
            });
            return items;
        }

        function createFinancialItems(items) {
            $.each(items, function (index, item) {
                $('.ppc-fc-options .ppc-fc-grid').append(createItem(item));
            });
        }

        function createItem(item) {
            var div = document.createElement('div');
            $(div).addClass('ppc-fc-cell');

            var button = document.createElement('button');
            $(button).addClass('ppc-fc-button ppc-fc-button-option');
            $(button).html('<span>' + item.credit_financing.term + ' ' + item.credit_financing.interval + '</span>');

            button.addEventListener('click', function (e) {
                e.preventDefault();

                var cost = item.total_cost.value - item.total_interest.value;
                showMonthlyPaymentDetails(item.monthly_payment.value, item.credit_financing.apr, cost, item.total_cost.value);
                $('.ppc-fc-cell .ppc-fc-button').attr('class', 'ppc-fc-button ppc-fc-button-option');
                $(this).attr('class', 'ppc-fc-button ppc-fc-button-selected');
            });

            $(div).append(button);

            return $(div);
        }

        function showMonthlyPaymentDetails(monthly, rate, costOfPurchase, total) {
            const poundSign = '\u00A3';
            $('.monthly').html(poundSign + ' ' + monthly);
            $('.rate').html(rate + '% (Fixed)');
            $('.cost').html(poundSign + ' ' + costOfPurchase.toFixed(2));
            $('.total').html(poundSign + ' ' + total);
        }

        function clearPaymentDetailsFields() {
            $('.monthly').empty();
            $('.rate').empty();
            $('.cost').empty();
            $('.total').empty();
        }
    });

</script>