﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.BrainTreePayPal.Models.FromPriceModel

<span class="ppc-fromprice-label">
    <span class="ppc-fromprice-label-from">@T("Plugins.Payments.BrainTreePayPalCredit.From")</span>
    <span class="ppc-fromprice-label-price">@Model.FormattedFromPrice</span>
    <span class="ppc-fromprice-label-per">@T("Plugins.Payments.BrainTreePayPalCredit.Per")</span>
</span>