﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.BrainTreePayPal.Models.PaymentInfoModel
@using Nop.Services.Catalog
@inject IPriceFormatter priceFormatter

<script src="https://www.paypalobjects.com/api/checkout.min.js" data-version-4 log-level="warn"></script>
<script src="https://js.braintreegateway.com/web/3.37.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.37.0/js/paypal-checkout.min.js"></script>

@if (Model.EnablePayPalKount)
{
    <script src="https://js.braintreegateway.com/web/3.37.0/js/data-collector.min.js"></script>
}
    <div class="checkout-option-container">
        <div class="checkout-button-container">
            <div id="paypal-button"></div>
        </div>
    </div>
@if (Model.EnablePayPalCreditButton)
{
	<div id="ppc-fo-monthly-payment" style="height:0px;visibility: hidden;">@Model.PayPalCreditMonthlyPayment</div>
    <div class="checkout-option-container">
            <div class="checkout-button-container">
                <div id="paypal-credit-button"></div>
            </div>
        </div>
}


@if (Model.EnablePayPalKount)
{
    <input type="hidden" id="device-data" name="device_data" />
}

<script asp-location="Footer">
    //$(document).ready(function () {
        @if (Model.EnablePayPalKount)
        {
            <text>var deviceDataInput = $('#device-data');</text>
        }

        braintree.client.create({
            authorization: '@Model.AuthorizationCode'
        }, function (err, clientInstance) {
            braintree.paypalCheckout.create({
                client: clientInstance
            }, function (err, paypalCheckoutInstance) {
                paypal.Button.render({
                    env: '@(Model.UseSandBox ? "sandbox" : "production")',
                    style: {
                        size: '@Model.PayPalButtonSize',
                        label: 'checkout'
                    },
                    payment: function () {
                        return paypalCheckoutInstance.createPayment({
                            flow: '@Model.PayPalFlow',
                            amount: '@Model.Amount',
                            currency: '@Model.CurrencyCode',
                            intent: '@Model.PayPalIntent',
                            locale: '@Model.Locale',
                            enableShippingAddress: true,
                            enableBillingAddress: true
                        });
                    },
                    onAuthorize: function (data, actions) {
                        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.RouteUrl("Plugin.Payments.BrainTreePayPal.ProcessPayload")',
                                data: {
                                    payload: payload,
                                    @if (Model.EnablePayPalKount)
                                    {
                                        <text>deviceData: deviceDataInput.val()</text>
                                    }
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.success)
                                        window.location = '@Url.RouteUrl("Plugin.Payments.BrainTreePayPal.SetShippingMethod")';
                                    else
                                        alert(data.message);
                                },
                                error: function (data) {
                                    alert('Failed to process payment. Please try again or try a different payment method.');
                                }
                            });
                        });
                    },
                }, '#paypal-button');

                @if (Model.EnablePayPalCreditButton)
                {
                <text>
                paypal.Button.render({
                    env: '@(Model.UseSandBox ? "sandbox" : "production")',
                    style: {
                        label: 'credit',
                        size: '@Model.PayPalCreditButtonSize'
                    },
                    payment: function () {
                        return paypalCheckoutInstance.createPayment({
                            flow: '@Model.PayPalCreditFlow',
                            amount: '@Model.Amount',
                            currency: '@Model.CurrencyCode',
                            intent: '@Model.PayPalCreditIntent',
                            locale: '@Model.Locale',
                            enableShippingAddress: true,
                            enableBillingAddress: true,
                            offerCredit: true
                        });
                    },
                    onAuthorize: function (data, actions) {
                        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.RouteUrl("Plugin.Payments.BrainTreePayPal.ProcessPayload")',
                                data: {
                                    payload: payload,
                                    @if (Model.EnablePayPalKount)
                                    {
                                        <text>deviceData: deviceDataInput.val()</text>
                                    }
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.success)
                                        window.location = '@Url.RouteUrl("Plugin.Payments.BrainTreePayPal.SetShippingMethod")';
                                    else
                                        alert(data.message);
                                },
                                error: function (data) {
                                    alert('Failed to process payment. Please try again or try a different payment method.');
                                }
                            });
                        });
                    },
                }, '#paypal-credit-button');
                </text>
                }
            });

            @if (Model.EnablePayPalKount)
            {
            <text>
            braintree.dataCollector.create({
                client: clientInstance,
                kount: true,
                paypal: true
            }, function (err, dataCollectorInstance) {
                if (err) {
                    console.log('component error:', err);
                    return;
                }
                deviceDataInput.val(dataCollectorInstance.deviceData);
            });
            </text>
            }
        });
    //});
</script>