@model AttachmentPublicFullModel
@inject AttachmentsSettings attachmentsSettings
@{
    var themeName = ThemeHelper.GetPluginTheme(Plugin.FolderName);

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.Attachments/Styles/common.css");
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.Attachments/Themes/" + themeName + "/Content/Attachments.css");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Scripts/jquery.magnific-popup.js");

    var supportRtl = this.ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.Attachments/Themes/" + themeName + "/Content/Attachments.rtl.css");
    }
}

@if (Model.Attachments.Any(x => !String.IsNullOrEmpty(x.VideoEmbedCode)))
{
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {

            $("a.attachmentLink[data-videoEmbedCode!='']").click(function (event) {

                event.preventDefault();

                var videoEmbedCode = $(this).attr("data-videoEmbedCode");

                $.magnificPopup.open(
                    {
                        items: {
                            src: videoEmbedCode,
                            type: 'inline'
                        },
                        closeBtnInside: false
                    });
            });
        });

    </script>
}

@if (Model.Attachments.Any())
{
    <div class="file-attachments">
        <div class="title">
            <strong>@attachmentsSettings.ProductAttachmentsPanelTitle</strong>
        </div>
        <div class="attachments-content">
            @if (attachmentsSettings.GroupAttachmentsByCategory)
            {
                foreach (CategoryPublicModel category in Model.Categories)
                {
                    var categoryAttachments = Model.Attachments.Where(x => x.CategoryId == category.Id);

                    if (categoryAttachments.Any())
                    {
                <div class="attachment-category">
                    <div class="name">
                        <strong>@category.Name</strong>
                    </div>
                    @await Html.PartialAsync(Views.RenderAttachment, categoryAttachments)
                </div>
                    }
                }

                var nonCategorizedAttachments = Model.Attachments.Where(x => x.CategoryId == null);

                if (nonCategorizedAttachments.Any())
                {
                @*Non categorized file attachments*@
                <div class="attachment-category">
                    @await Html.PartialAsync(Views.RenderAttachment, nonCategorizedAttachments)
                </div>
                }
            }
            else
            {
                <div class="attachment-category">
                    @await Html.PartialAsync(Views.RenderAttachment, Model.Attachments)
                </div>
            }
        </div>
    </div>
}