﻿@model SevenSpikes.Nop.Plugins.NopSalesForce.Models.SalesForceSettingsModel
    
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.NopSalesForce.Admin.Submenus.Settings");
}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.NopSalesForce.Admin.NopSalesForce")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">                               
                                <nop-label asp-for="EnableNopSalesForce" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableNopSalesForce" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">                                
                                <nop-label asp-for="UserName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="UserName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Password" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SecurityToken" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SecurityToken" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SalesForceSoapServiceEndPoint" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SalesForceSoapServiceEndPoint" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="NumberOfProductsToProcessInOneRun" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfProductsToProcessInOneRun" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="NumberOfCustomersToProcessInOneRun" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfCustomersToProcessInOneRun" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="ProcessCustomersWithRegistrationOlderThanSpecifiedHours" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProcessCustomersWithRegistrationOlderThanSpecifiedHours" asp-postfix="@T("SevenSpikes.Plugins.Admin.InputStyles.Postfix.Hours").Text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">                               
                                <nop-label asp-for="NumberOfOrdersToProcessInOneRun" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfOrdersToProcessInOneRun" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">                                
                                <nop-label asp-for="NumberOfLicensesToProcessInOneRun" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfLicensesToProcessInOneRun" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="ProcessOrdersOlderThanSpecifiedHours" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProcessOrdersOlderThanSpecifiedHours" asp-postfix="@T("SevenSpikes.Plugins.Admin.InputStyles.Postfix.Hours").Text"/>                              
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SalesForceTaskRunPeriodInHours" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SalesForceTaskRunPeriodInHours" asp-postfix="@T("SevenSpikes.Plugins.Admin.InputStyles.Postfix.Hours").Text"/>                             
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="MachineName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="MachineName" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
