﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@
@model XcellenceIT.Plugin.Solr.Core.Models.SolrCoreModel
@{
    Layout = null;
}

@using Nop.Services.Configuration;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Events;
@using Nop.Services.Events;
@using Microsoft.AspNetCore.WebUtilities;

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="incremental-product-grid"></div>
                    <div id="coreconfiguration-grid"></div>
                    <script type="text/javascript">
                        var IsValidCoreLanguageMapping = true;
                        //local datasource
                        var allStores = [
                            @for (int i = 0; i < Model.AvailableStores.Count; i++)
                        {
                            var storeItem = Model.AvailableStores[i];
                            <text>
                        {
                            StoreId: @(storeItem.Value),
                            storeName: "@(Html.Raw(JavaScriptEncoder.Default.Encode(storeItem.Text)))"
                        }
                        </text>
                            if (i != Model.AvailableStores.Count - 1)
                            {
                                <text>,</text>
                            }
                        }
                        ];

                        //local datasource
                        var allLanguages = [
                            @for (int i = 0; i < Model.AllMappedLanguagesWithStore.Count; i++)
                        {
                            var languageItem = Model.AllMappedLanguagesWithStore[i];
                            <text>
                        {
                            LanguageId: @(languageItem.Id),
                            languageName: "@(Html.Raw(JavaScriptEncoder.Default.Encode(languageItem.Name)))",
                            StoreId: @(languageItem.StoreId),
                        }
                        </text>
                            if (i != Model.AllMappedLanguagesWithStore.Count - 1)
                            {
                                <text>,</text>
                            }
                        }
                        ];

                        $("#coreconfiguration-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.SolrCoreConfigurationList"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                create: {
                                   url: "@Html.Raw(Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.SolrCoreConfigurationInsert"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            update: {
                               url: "@Html.Raw(Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.SolrCoreConfigurationUpdate"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                            destroy: {
                           url: "@Html.Raw(Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.SolrCoreConfigurationDelete"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                            }
                        },
                        schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                id: "Id",
                                fields: {
                                        Id: { editable: false, type: "number" },
                                        RowNumber: { editable: false, type: "number" },
                                        StoreId: { editable: true, type: "number" },
                                        Store: { editable: true, type: "number" },
                                        LanguageId: { editable: true, type: "number" },
                                        Language: { editable: true, type: "number" },
                                        CoreURL: { editable: true, type: "string", validation: { required: true } },
                                        PercentCompletion: { editable: false, type: "string" },
                                        Status: { editable: false, type: "string" },
                                        IsValidCoreLanguageMapping: { editable: false, type: "bool", validation: { required: true } },
                        }
                                }
                        },
                        requestEnd: function (e) {
                            if (e.type == "create" || e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            this.cancelChanges(); // Cancel the changes
                        },
                        serverPaging: true,
                            pageSize: 10,
                        serverFiltering: true,
                        serverSorting: true,
                        selectable: true
                        },
                        pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                        },
                        toolbar: ["create"],
                            dataBound: function (e) {
                                markRowsAsUnMapped();
                            },
                        save: function(e) {
                            if (e.model.isNew()) {
                                //for some reasons (maybe, bug) it always sends 0, so did little hack here
                                //re-assign the selected value of kendoui dropdownlist datasource from hidden input
                                var objDropDown = $("div#coreconfiguration-grid table tr td span.k-dropdown");
                                $.each(objDropDown, function(ele) {
                                    if($(objDropDown[ele]).parent('td').find('input#StoreId').length > 0){
                                        e.model.StoreId = $(objDropDown[ele]).parent('td').find('input#StoreId').val();
                                    }
                                    if($(objDropDown[ele]).parent('td').find('input#LanguageId').length > 0){
                                        e.model.LanguageId = $(objDropDown[ele]).parent('td').find('input#LanguageId').val();
                                    }
                                });

                                var data = this.dataSource.data();
                                for(item in data){
                                    if(item != 0)//To ignore first row that we are adding..
                                    {
                                        if((data[item].StoreId == e.model.StoreId) && (data[item].LanguageId == e.model.LanguageId)){
                                            e.preventDefault();
                                            alert("Sorry! You can not create core with same store and language because it already exists!");
                                        }
                                    }
                                }
                            }
                        },
                        edit: function(e) {
                            if (e.model.isNew()) {
                                if ('@ViewBag.Status' == 108) {
                                    if($("div#coreconfiguration-grid table tbody tr").length > 1){
                                        $("div#coreconfiguration-grid table tr.k-grid-edit-row:first").remove();
                                        alert("@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroEight.AlertMessage")");
                                    }
                                }
                            }
                        },
                        editable: {
                                confirmation: true,
                                mode: "inline"
                        },
                        scrollable: false,
                            columns: [{
                                field: "RowNumber",
                                title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.SrNo")",
                            width: 30,
                        template: "#:RowNumber#",
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        field: "StoreId",
                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.StoreName")",
                        editor: function(container) {
                            var input = $('<input id="StoreId" name="StoreId">');
                            input.appendTo(container);
                            input.kendoDropDownList({ // initialize a dropdownlist
                                dataTextField: "storeName",
                                dataValueField: "StoreId",
                                dataSource: allStores
                            }).appendTo(container);
                        },
                        template: "#= storeName(StoreId) #",
                            headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        field: "LanguageId",
                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.LanguageName")",
                        editor: function(container) {
                            var input = $('<input id="LanguageId" name="LanguageId">');
                            input.appendTo(container);
                            input.kendoDropDownList({ // initialize a dropdownlist
                                dataTextField: "languageName",
                                dataValueField: "LanguageId",
                                cascadeFrom: "StoreId", // cascade from the Store dropdownlist
                                dataSource: allLanguages
                            }).appendTo(container);
                        },
                        //template: "#= languageName(LanguageId) #",
                        template: "# if (IsValidCoreLanguageMapping) { # #:languageName(LanguageId)# # } else { # <div class='unmapped'>#:languageName(LanguageId)#<span class='unmappedMsg'>This language is not mapped properly with this store, so won't work correctly!</span></div> # } #",
                            headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        field: "CoreURL",
                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.CoreURL")",
                        width: 225,
                        template: '<span>#:CoreURL#</span>',
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        field: "Status",
                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.Status")",
                        template: '<input type="button" class="k-button checkConnectivity" name="checkConnectivity" value="@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.CheckConnectivity")" />' +
                                  '<input type="button" class="k-button startIndexing" name="startIndexing" value="@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.StartIndexing")" />' +
                                  '<input type="button" class="k-button markAllPending" name="markAllPending" value="@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.MarkAllPending")" />' +
                                  '<input type="hidden" value="#:StoreId#" id="hdnStoreId" />' +
                                  '<input type="hidden" value="#:LanguageId#" id="hdnLanguageId" />',
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        field: "PercentCompletion",
                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.PercentCompletion")",
                        width: 120,
                        template: "#:PercentCompletion# %" + '</br> <a href="javascript:" class="percentCompletion">Refresh</a>',
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        },
                        {
                        command: [{
                            name: "edit",
                            confirmation: false,
                            text: "@T("Admin.Common.Edit")"
                        },
                        {
                            name: "destroy",
                            confirmation: true,
                            text: "@T("Admin.Common.Delete")"
                        }],
                            width: 180,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        }]
                        });

                        function storeName(StoreId) {
                            for (var i = 0; i < allStores.length; i++) {
                                if (allStores[i].StoreId == StoreId) {
                                    return allStores[i].storeName;
                                }
                            }
                        }

                        function languageName(LanguageId) {
                            for (var i = 0; i < allLanguages.length; i++) {
                                if (allLanguages[i].LanguageId == LanguageId) {
                                    return allLanguages[i].languageName;
                                }
                            }
                        }

                        function markRowsAsUnMapped()
                        {
                            //mark unmapped rows as red background..
                            var unmappedRows = $("div#coreconfiguration-grid table tbody tr").find('div.unmapped');
                            if(unmappedRows.length > 0)
                            {
                                $.each(unmappedRows, function(ele) {
                                    var row = $(this).closest('tr');
                                    $(row).css('background', '#f2dede');
                                    $(row).find('input[type="button"].checkConnectivity').addClass('click-not-allowed').prop("disabled", true);
                                    $(row).find('input[type="button"].startIndexing').addClass('click-not-allowed').prop("disabled", true);
                                    $(row).find('input[type="button"].markAllPending').addClass('click-not-allowed').prop("disabled", true);
                                    $(row).find('a.k-grid-edit').addClass('click-not-allowed').prop("disabled", true);
                                });
                            }
                        }

                        $(document).ready(function(){

                            markRowsAsUnMapped();

                            $('div#coreconfiguration-grid div a.k-grid-add').live('click', function() {
                                if(this){
                                    $("div#coreconfiguration-grid table tr.k-grid-edit-row td input.startIndexing:first").addClass('click-not-allowed');
                                    $("div#coreconfiguration-grid table tr.k-grid-edit-row td input.markAllPending:first").addClass('click-not-allowed');
                                }
                            });

                            $('a.k-grid-edit').live('click', function() {
                                if(this){
                                    var objDropDown = $("div#coreconfiguration-grid table tr td span.k-dropdown");
                                    $.each(objDropDown, function(ele) {
                                        var selectedValue = $(objDropDown[ele]).find("span.k-input").html();
                                        $(objDropDown[ele]).parent('td').append(selectedValue);
                                        $(objDropDown[ele]).remove();
                                    });
                                }
                            });

                            $('input[type="button"].checkConnectivity').live('click', function() {
                                var coreURL = $(this).parent().prev('td').text();
                                if(coreURL == ''){
                                    coreURL = $(this).parent().prev('td').find('input').val();
                                }
                                var checkSolrConnectionUrl = '@ViewBag.Url' + "Admin/Plugins/SolrCore/SolrAdmin/CheckSolrConnection/";
                                checkSolrConnectionUrl = checkSolrConnectionUrl + "?coreURL=" + coreURL;
                                $.ajax({
                                    //type: 'POST',
                                    url: checkSolrConnectionUrl,
                                    success: function (data) {
                                        alert(data);
                                    }
                                });
                                return false;
                            });

                            $('input[type="button"].startIndexing').live('click', function() {
                                if($(this).hasClass('click-not-allowed')){
                                    alert("@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.StartIndexing.AlertMessage")");
                                }
                                else{
                                    $('input[type="button"].startIndexing').addClass('click-not-allowed').prop("disabled", true);
                                    var StoreId = $(this).parent('td').find('input#hdnStoreId').val();
                                    var LanguageId = $(this).parent('td').find('input#hdnLanguageId').val();
                                    var startProcessUrl = '@ViewBag.Url' + "Admin/Plugins/SolrCore/SolrAdmin/StartProcess";
                                    startProcessUrl = startProcessUrl + "?storeId=" + StoreId + "&languageId=" + LanguageId;
                                    $.ajax({
                                        //type: 'POST',
                                        url: '@Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.StartProcess")',
                                        data: {storeId: StoreId, languageId: LanguageId},
                                        success: function (data) {
                                            alert(data)
                                            $('input[type="button"].startIndexing').removeClass('click-not-allowed').prop("disabled", false);
                                            $('#coreconfiguration-grid').data('kendoGrid').dataSource.read();
                                            $('#coreconfiguration-grid').data('kendoGrid').refresh();
                                        },
                                        error: function(){
                                            alert("Error Happend!");
                                            $('input[type="button"].startIndexing').removeClass('click-not-allowed').prop("disabled", false);
                                        }
                                    });
                                    return false;
                                }
                            });

                            $('input[type="button"].markAllPending').live('click', function() {
                                if($(this).hasClass('click-not-allowed')){
                                    alert("@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure.MarkAllPending.AlertMessage")");
                                }else{
                                    var StoreId = $(this).parent('td').find('input#hdnStoreId').val();
                                    var LanguageId = $(this).parent('td').find('input#hdnLanguageId').val();
                                    var fullReIndexUrl = '@ViewBag.Url' + "Admin/Plugins/SolrCore/SolrAdmin/FullReIndex/";
                                    fullReIndexUrl = fullReIndexUrl + "?StoreId=" + StoreId + "&LanguageId=" + LanguageId;
                                    $.ajax({
                                        //type: 'POST',
                                        url: fullReIndexUrl,
                                        success: function (data) {
                                            alert(data);
                                            $('#coreconfiguration-grid').data('kendoGrid').dataSource.read();
                                            $('#coreconfiguration-grid').data('kendoGrid').refresh();
                                        }
                                    });
                                    return false;
                                }
                            });

                            $('a.percentCompletion').live('click', function() {
                                var coreURL = $(this).parent('td').prev('td').prev('td').text();
                                var checkSolrConnectionUrl = '@ViewBag.Url' + "Admin/Plugins/SolrCore/SolrAdmin/CheckSolrConnection/";
                                checkSolrConnectionUrl = checkSolrConnectionUrl + "?coreURL=" + coreURL;

                                $.ajax({
                                    //type: 'POST',
                                    url: checkSolrConnectionUrl,
                                    success: function (data) {
                                        //If solr does not connect and click in refresh link at that time alert will be show.
                                        if(data.indexOf("successful") == -1) {
                                            alert("Could not connect to Solr");
                                        }
                                    },
                                    error:  function () {
                                        alert("Could not connect to Solr");
                                    }
                                });

                                var StoreId = $(this).parent('td').prev('td').find('input#hdnStoreId').val();
                                var LanguageId = $(this).parent('td').prev('td').find('input#hdnLanguageId').val();
                                var percentageUrl = '@ViewBag.Url' + "Admin/Plugins/SolrCore/SolrAdmin/PercentageOfCompletion";
                                percentageUrl = percentageUrl + "?storeId=" + StoreId + "&languageId=" + LanguageId;
                                $.ajax({
                                    //type: 'POST',
                                    url: percentageUrl,
                                    success: function (data) {
                                        $('#coreconfiguration-grid').data('kendoGrid').dataSource.read();
                                        $('#coreconfiguration-grid').data('kendoGrid').refresh();
                                    }
                                });
                                return false;
                            });

                            $('#stopindexing').live('click', function() {
                                alert('This will stop only the running indexnig process. Indexing process will start automatically as per the schedule task time configured.');
                            });

                        });
                    </script>
                    <style type="text/css">
                        .click-not-allowed {
                            cursor: not-allowed;
                        }

                        div.unmapped {
                            border-bottom: 1px dotted #333;
                            color: #333;
                            text-decoration: none;
                        }

                            div.unmapped:hover {
                                cursor: pointer;
                            }

                            div.unmapped span {
                                display: none;
                            }

                            div.unmapped:hover span.unmappedMsg {
                                padding: 7px;
                                display: block;
                                color: #333;
                                margin: -25px 0 0 75px;
                                position: absolute;
                                z-index: 10000;
                                -moz-border-radius: 5px;
                                -webkit-border-radius: 5px;
                                border-radius: 5px;
                                -moz-box-shadow: 0px 0px 4px #222;
                                -webkit-box-shadow: 0px 0px 4px #222;
                                box-shadow: 0px 0px 4px #222;
                                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
                                background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
                                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                                background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
                                background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
                            }
                    </style>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 text-info">
                                    <b>  (Note: We suggest you to un-publish the language until the Core is configured and fully indexed. You can still index data for unpublished language.)</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="IndexUnPublishedLanguageEnabled" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="IndexUnPublishedLanguageEnabled" />
                                    <span asp-validation-for="IndexUnPublishedLanguageEnabled"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SolrBatchSize" />
                                </div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.SolrBatchSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="DeleteProductBatchSize" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="DeleteProductBatchSize" />
                                    <span asp-validation-for="DeleteProductBatchSize"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="APIKey" />
                                </div>
                                <div class="col-md-8">
                                    <button type="button" name="generateapikey" class="k-button" value="generateapikey" onclick="javascript:OpenWindow('@Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.GenerateAPIKey", new { btnId="btnRefreshProducts" , popupformId="appSecret-form" })', 450, 400, true)">@T("Plugins.XcellenceIT.Solr.Core.GenerateNewAPIKey")</button>
                                    <div class="form-text-row">@Model.APIKey</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SavePluginConfigrationSetting" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SavePluginConfigrationSetting" />
                                    <span asp-validation-for="SavePluginConfigrationSetting"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductIndexingOnEntityChange" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ProductIndexingOnEntityChange" />
                                    <span asp-validation-for="ProductIndexingOnEntityChange"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" name="configure" class="btn btn-primary" value="configure">
                                        @T("Admin.Common.Save")
                                    </button>
                                    <button type="submit" name="stopindexing" class="btn btn-primary" id="stopindexing" value="stopindexing">@T("Plugins.XcellenceIT.Solr.Core.StopIndexing")</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-info">
                                    <b>(Note : Make sure to Restart Appliation after saving configurations.)</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>