﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@
@model XcellenceIT.Plugin.Solr.Core.Models.SolrCoreModel
@{
    Layout = null;
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" title="" for="">Product Id</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea id="deleteproductIds" class="form-control" rows="8"> </textarea>
                                    @*@Html.TextArea("deleteproductIds", null, new { @class = "form-control" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 text-info">
                                    <b>(Product Ids must be separated by ","(comma) . for example: 123,545,787,56587)</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="submit" name="delete-product" class="btn btn-primary" id="delete-product">
                                        Mark Product(s) as Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ 
    var delProductsUrl = ViewBag.Url + "/Admin/SolrAdmin/DeleteProduct";
}
<script type="text/javascript">
        $(document).ready(function () {
            $('#delete-product').click(function () {
                var delproducts = $('#deleteproductIds').val();
                var postData = {
                    productIds: delproducts,
                };
                addAntiForgeryToken(postData);
                $.ajax({
                    type: 'POST',
                    url: '@(delProductsUrl)',
                    data: postData,
                    success: function (data) {
                        alert(data);
                        $('#deleteproductIds').val("");
                    }
                });
                return false;
            });
        });
</script>