﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@
@model XcellenceIT.Plugin.Solr.Core.Models.SolrCoreModel
@inject IEventPublisher eventPublisher
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.Solr.Core.Configure");
}
@using Nop.Services.Events;
@using Nop.Web.Framework.UI;

@{
    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {window.opener.document.forms['@(ViewBag.popupformId)'].@(ViewBag.btnId).click();}
            catch (e){}
            window.opener.location.reload();
            window.close();
        </script>
    }
    var webHelper = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>();
    var storeUrl = webHelper.GetStoreLocation();
    ViewBag.Url = storeUrl;
    if (!storeUrl.Last().Equals('/'))
    {
        ViewBag.Url = storeUrl + "/";
    }
}

<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css" />
<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/nopaccelerate-core.css" />
<script src="~/Plugins/XcellenceIT.Plugin.Solr.Core/Scripts/jquery-ui-1.10.0.min.js"></script>

<style>
    .ui-progressbar {
        position: relative;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }
</style>

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-configure');
    });
</script>

<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css" />
<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/nopaccelerate-core.css" />
<script src="~/Plugins/XcellenceIT.Plugin.Solr.Core/Scripts/jquery-ui-1.10.0.min.js"></script>

<style>
    .ui-progressbar {
        position: relative;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .license-notice a {
        color: aquamarine !important;
        font-weight: 800;
        text-decoration: underline;
    }
</style>

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-configure');
    });
</script>

<div class="content-header clearfix">
    <h1 class="pull-left">
        nopAccelerate Solr Core Admin
    </h1>
</div>

<div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="container-fluid">
                                <div class="license-Details-@(ViewBag.Status)">
                                    <div class="license-notice">
                                        @if (ViewBag.Status == 102)
                                        {
                                            <div class="form-group container-fluid">
                                                <div class="alert-info col-md-12">@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroTwo")</div>
                                            </div>
                                        }
                                        else if (ViewBag.Status == 103)
                                        {
                                            <div class="form-group container-fluid">
                                                <div class="alert-danger">@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroThree")</div>
                                            </div>
                                        }
                                        else if (ViewBag.Status == 108)
                                        {
                                            bool displayNotice = Convert.ToBoolean(ViewBag.DisplayNotice);
                                            <div class="form-group container-fluid">
                                                <div>@Html.Raw(ViewBag.Free)</div>
                                                <div class="alert-danger">@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroThree")</div>
                                                @if (displayNotice)
                                                {
                                                    <div class="alert-warning col-md-12">@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroEight")</div>
                                                }
                                            </div>
                                        }
                                        else if (ViewBag.Status == 104)
                                        {
                                            <div class="form-group container-fluid">
                                                <div class="alert-success col-md-12">@T("Plugins.XcellenceIT.Solr.Core.Fields.Licensenotice.OneZeroFour")</div>
                                            </div>
                                        }
                                    </div>

                                    <div class="license-wrapper container-fluid">
                                        <div class="col-md-3 col-sm-6 col-xs-12 domain-name padding-remove">
                                            <div class="col-xs-6 col-md-7 col-sm-7 padding-left-remove">
                                                <nop-label asp-for="Domain" />
                                            </div>
                                            <div class="col-xs-6 col-md-5 col-sm-5 padding-remove">
                                                <div class="form-text-row">@Model.Domain</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 product-limit padding-remove">
                                            <div class="col-xs-6 col-md-7 col-sm-7 padding-left-remove">
                                                <nop-label asp-for="ProductLimit" />
                                            </div>
                                            <div class="col-xs-6 col-md-5 col-sm-5 padding-remove">
                                                <div class="form-text-row">@Model.ProductLimit</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 license-status padding-remove">
                                            <div class="col-xs-6 col-md-7 col-sm-7 padding-left-remove">
                                                <nop-label asp-for="LicStatus" />
                                            </div>
                                            <div class="col-xs-6 col-md-5 col-sm-5 padding-remove">
                                                <div class="form-text-row">@Model.LicStatus</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 license-type padding-remove">
                                            <div class="col-xs-6 col-md-7 col-sm-7 padding-left-remove">
                                                <nop-label asp-for="LicenseType" />
                                            </div>
                                            <div class="col-xs-6 col-md-5 col-sm-5 padding-remove">
                                                <div class="form-text-row">@Model.LicenseType</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-controller="SolrAdmin" asp-action="Configure" asp-antiforgery="true" method="post">
    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="product-configure">
                <nop-tab asp-name="tab-Configure" asp-title="@T("Plugins.XcellenceIT.Solr.Core.Fields.Configure")" asp-default="true">
                    @await Html.PartialAsync("~/Plugins/XcellenceIT.Plugin.Solr.Core/Views/SolrAdmin/_SolrAdmin.Configure.cshtml", Model)
                </nop-tab>
                <nop-tab asp-name="tab-MarkProductAsPending" asp-title="@T("Plugins.XcellenceIT.Solr.Core.Fields.MarkProductAsPending")">
                    @await Html.PartialAsync("~/Plugins/XcellenceIT.Plugin.Solr.Core/Views/SolrAdmin/_SolrAdmin.MarkAsPending.cshtml", Model)
                </nop-tab>
                <nop-tab asp-name="tab-MarkProductAsDelete" asp-title="@T("Plugins.XcellenceIT.Solr.Core.Fields.MarkProductAsDelete")">
                    @await Html.PartialAsync("~/Plugins/XcellenceIT.Plugin.Solr.Core/Views/SolrAdmin/_SolrAdmin.MarkAsDelete.cshtml", Model)
                </nop-tab>

            </nop-tabs>
        </div>
    </div>
</form>