﻿@*// *************************************************************************
// *                                                                       *
// * nopAccelerate - nopAccelerate REST Web Services API Plugin            *
// * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * Email: info@nopaccelerate.com                                         *
// * Website: http://www.nopaccelerate.com                                 *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * This  software is furnished  under a license  and  may  be  used  and *
// * modified  only in  accordance with the terms of such license and with *
// * the  inclusion of the above  copyright notice.  This software or  any *
// * other copies thereof may not be provided or  otherwise made available *
// * to any  other  person.   No title to and ownership of the software is *
// * hereby transferred.                                                   *
// *                                                                       *
// * You may not reverse  engineer, decompile, defeat  license  encryption *
// * mechanisms  or  disassemble this software product or software product *
// * license.  Xcellence-IT may terminate this license if you don't comply *
// * with  any  of  the  terms and conditions set forth in  our  end  user *
// * license agreement (EULA).  In such event,  licensee  agrees to return *
// * licensor  or destroy  all copies of software  upon termination of the *
// * license.                                                              *
// *                                                                       *
// * Please see the  License file for the full End User License Agreement. *
// * The  complete license agreement is also available on  our  website at *
// * http://www.nopaccelerate.com/enterprise-license                       *
// *                                                                       *
// **************************************************************************@

@{
    Layout = "_AdminPopupLayout";
}
@model XcellenceIT.Plugin.Solr.Core.Models.AppSecretModel

<link rel="stylesheet" href="~/Plugins/XcellenceIT.Plugin.Solr.Core/Content/nopaccelerate-core.css" />

@{
    //page title
    ViewBag.Title = "Generate API Key";
}
<form asp-controller="SolrAdmin" asp-action="GenerateAPIKey" asp-antiforgery="true" method="post" 
    asp-route-btnId="@ViewBag.btnId" asp-route-popupformId="@ViewBag.popupformId">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Plugins.EditDetails")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-xs-6 col-md-4">
                                        <nop-label asp-for="AppID" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <nop-editor asp-for="AppID" />
                                        <span asp-validation-for="AppID"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>@T("Plugins.XcellenceIT.Solr.Core.Fields.AppID.Hint")</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 col-md-4">
                                        <nop-label asp-for="AppID" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <nop-editor asp-for="SecretKey" />
                                        <span asp-validation-for="SecretKey"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>@T("Plugins.XcellenceIT.Solr.Core.Fields.SecretKey.Hint")</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <input type="submit" name="generateapikey" class="btn bg-blue" value="@T(" Admin.Common.Save")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
