﻿@* *************************************************************************
    *                                                                       *
    * nopAccelerate - Solr Integration Extension for nopCommerce            *
    * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * Email: info@nopaccelerate.com                                         *
    * Website: http://www.nopaccelerate.com                                 *
    *                                                                       *
    *************************************************************************
    *                                                                       *
    * This  software is furnished  under a license  and  may  be  used  and *
    * modified  only in  accordance with the terms of such license and with *
    * the  inclusion of the above  copyright notice.  This software or  any *
    * other copies thereof may not be provided or  otherwise made available *
    * to any  other  person.   No title to and ownership of the software is *
    * hereby transferred.                                                   *
    *                                                                       *
    * You may not reverse  engineer, decompile, defeat  license  encryption *
    * mechanisms  or  disassemble this software product or software product *
    * license.  Xcellence-IT may terminate this license if you don't comply *
    * with  any  of  the  terms and conditions set forth in  our  end  user *
    * license agreement (EULA).  In such event,  licensee  agrees to return *
    * licensor  or destroy  all copies of software  upon termination of the *
    * license.                                                              *
    *                                                                       *
    * Please see the  License file for the full End User License Agreement. *
    * The  complete license agreement is also available on  our  website at *
    * http://www.nopaccelerate.com/terms/                                   *
    *                                                                       *
    ************************************************************************* *@

@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.Solr.Core.IncerementalProducts");
}
@model XcellenceIT.Plugin.Solr.Core.Models.SolrCoreModel
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Product Status
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" title="" for="">Solr Status</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="SolrStatusId" class="form-control valid">
                                            <option value="10">All</option>
                                            <option value="20">Pending</option>
                                            <option value="30">Indexed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" title="" for="">Is Deleted</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="IsDeletedId" class="form-control valid">
                                            <option value="10">All</option>
                                            <option value="20">True</option>
                                            <option value="30">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" title="" for="">Store</label>
                                    </div>
                                    <div class="col-md-4">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" title="" for="">Language</label>
                                    </div>
                                    <div class="col-md-4">
                                        <nop-select asp-for="LanguageId" asp-items="Model.AllLanguage" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" title="" for="">Product Id</label>
                                    </div>
                                    <div class="col-md-4">
                                        <nop-editor asp-for="ProductId" nkeypress="return isNumberKey(event);" class="form-control text-box single-line" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="submit" id="btnSearch" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="incremental-product-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#incremental-product-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.IncerementalProductsList"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: 15,
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    // dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Id")",
                                            width: 100
                                        }, {
                                            field: "ProductId",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.ProductId")",
                                            width: 100
                                        }, {
                                            field: "SolrStatus",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.SolrStatus")",
                                            width: 100,
                                        }, {
                                            field: "IsDeleted",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.IsDeleted")",
                                            width: 100,
                                        }, {
                                            field: "Store",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Store")",
                                            width: 100,
                                        }, {
                                            field: "Language",
                                            title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.Language")",
                                            width: 100,
                                        },
                                           {
                                               field: "InTime",
                                               title: "@T("Plugins.XcellenceIT.Solr.Core.Fields.InTime")",
                                               width: 150,
                                               type: "date",
                                               format: "{0:G}"
                                           }
                                    ]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnSearch').click(function () {
                if ($('#ProductId').val() < 0) {
                    alert("Invalid Product Id");
                    return null;
                }
                var grid = $('#incremental-product-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                grid.dataSource.read();
                return false;
            });
        });

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function additionalData() {
            return addAntiForgeryToken({
                SolrStatusId: $('#SolrStatusId').val(),
                IsDeletedId: $('#IsDeletedId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                languageId: $('#LanguageId').val(),
                ProductId: $('#ProductId').val()
            });
        }

    </script>

}
