﻿@* *************************************************************************
 *                                                                       *
 * nopAccelerate - Solr Integration Extension for nopCommerce            *
 * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
 *                                                                       *
 *************************************************************************
 *                                                                       *
 * Email: info@nopaccelerate.com                                         *
 * Website: http://www.nopaccelerate.com                                 *
 *                                                                       *
 *************************************************************************
 *                                                                       *
 * This  software is furnished  under a license  and  may  be  used  and *
 * modified  only in  accordance with the terms of such license and with *
 * the  inclusion of the above  copyright notice.  This software or  any *
 * other copies thereof may not be provided or  otherwise made available *
 * to any  other  person.   No title to and ownership of the software is *
 * hereby transferred.                                                   *
 *                                                                       *
 * You may not reverse  engineer, decompile, defeat  license  encryption *
 * mechanisms  or  disassemble this software product or software product *
 * license.  Xcellence-IT may terminate this license if you don't comply *
 * with  any  of  the  terms and conditions set forth in  our  end  user *
 * license agreement (EULA).  In such event,  licensee  agrees to return *
 * licensor  or destroy  all copies of software  upon termination of the *
 * license.                                                              *
 *                                                                       *
 * Please see the  License file for the full End User License Agreement. *
 * The  complete license agreement is also available on  our  website at * 
 * http://www.nopaccelerate.com/terms/                                   *
 *                                                                       *
 ************************************************************************* *@

@{
    Layout = "_AdminLayout";
}
@model XcellenceIT.Plugin.Solr.Core.Models.SolrLogModel

<form asp-controller="SolrAdmin" asp-action="View" method="get">
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.System.Log.ViewLogDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="@Url.RouteUrl("XcellenceIT.Plugin.Solr.Core.Log")">back to solr log</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="button" id="delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    @Html.ValidationSummary(true)
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="ShortMessage" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-text-row">@Model.ShortMessage</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="FullMessage" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-text-row">@Model.FullMessage</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="IpAddress" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-text-row">@Model.IpAddress</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="PageUrl" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-text-row">@Model.PageUrl</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="CreatedOn" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-text-row">@Model.CreatedOn</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
    <script type="text/javascript">
    var selectedIds = @Model.Id;
    $(document).ready(function () {
        $('#delete').click(function (e) {
            e.preventDefault();
            var r = confirm("Are you sure you want to delete this item?");
            if (r == true) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "Admin/SolrAdmin/Delete/"+selectedIds ,
                complete: function (data) {
                    if (data) {
                        selectedIds = 0;
                        window.location.href = "/Admin/Plugins/SolrCore/SolrAdmin/Log";
                    } else {
                        alert("No Solrlog found with the specified id");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;
            }
         });
    });
    </script>
