﻿#consumerfinance_signup_authorization_terms {
    padding: 20px;
    text-align: justify;
    margin: 25px 0;
}

#consumerfinance_signup_authorization_terms p {
    margin: 18px 10px;
    font-weight: 500;
}

#consumerfinance_signup_authorization_iaccept {
    margin-top: 30px;
    margin-bottom: 60px;
}