﻿.wizard-section {
    display: none;
}

#consumerfinance_signup_page .page-content {
    border-top: none;
}

    #consumerfinance_signup_page .page-content .panel {
        margin-top: 20px;
        border-radius: 0;
    }

        #consumerfinance_signup_page .page-content .panel .panel-heading {
            background: linear-gradient(312.11deg, #FF0054 0%, #FF2F00 100%);
            border-radius: 0;
            padding: 15px 25px;
        }

        #consumerfinance_signup_page .page-content .panel .panel-heading .panel-title {
            font-weight: 400;
        }

            #consumerfinance_signup_page .page-content .panel .panel-heading a {
                color: #fff;
            }

        #consumerfinance_signup_page .page-content .panel .panel-body {
            border-radius: 0;
            color: #444;
            background-color: #fff;
            padding: 30px;
            text-align: justify;
        }

            #consumerfinance_signup_page .page-content .panel .panel-body ul {
                margin-top: 15px;
            }

            #consumerfinance_signup_page .page-content .panel .panel-body ul li {
                list-style: disc;
                font-size: 14px;
                margin-left: 22px;
                margin-bottom: 13px;
                padding-left: 10px;
            }

            #consumerfinance_signup_page .page-content .terms-and-conditions-heading {
                margin-top: 40px;
                margin-bottom: 20px;
            }