﻿h1 {
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
}

.p1-font-style {
    color: #6f6f6f;
    font-weight: 500;
    font-size: large;
    max-width: 800px;
    display: inline-block;
}

.p3-font-style {
    color: #6f6f6f;
    font-weight: 500;
    font-size: small;
    max-width: 1200px;
    text-align: left;
    display: inline-block;
}

.p2-font-style {
    color: #6f6f6f;
    font-weight: bold;
    font-size: 15px;
}

.wizard-section {
    display: none;
}

#consumerfinance_signup_page .page-content {
    border: none;
}