﻿#consumerfinance_signup_page .page-body {
    max-width: 1020px;
    margin: auto;
    padding-top: 20px;
}

#consumerfinance_signup_page input[type="radio"],
#consumerfinance_signup_page input[type="checkbox"] {
    clip: unset;
}

#consumerfinance_signup_page .page-content {
    padding: 10px;
    font-size: 14px;
    color: #555;
}

    #consumerfinance_signup_page .page-content .prev-next {
        margin-top: 30px;
    }

        #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button {
            color: #fff;
            background-color: var(--primary-color);
            width: 100%;
        }

            #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button:hover {
                background-color: var(--hover-color);
            }

            #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button:focus {
                background-color: var(--focus-color);
            }

    #consumerfinance_signup_page .page-content .signup-page-title h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px !important;
        color: #444;
        margin-bottom: 17px;
    }

    #consumerfinance_signup_page .page-content .page-subtitle {
        margin-top: 40px;
    }

    #consumerfinance_signup_page .page-content .control-label {
        font-size: 15px !important;
        color: #555;
        margin-bottom: 10px;
    }

        #consumerfinance_signup_page .page-content .control-label.control-label-description {
            font-weight: 400;
            display: inline-block;
        }

    #consumerfinance_signup_page .page-content .required {
        font-size: 20px;
        vertical-align: top;
    }

    #consumerfinance_signup_page .page-content .field-validation-error {
        font-size: 14px;
    }

    #consumerfinance_signup_page .page-content .form-control {
        height: auto !important;
        padding: 16px !important;
        font-size: 14px !important;
        background-color: #fff !important;
        border: 1px solid #e2e2e2 !important;
        color: #555 !important;
        line-height: normal;
    }

@media (min-width: 768px) {
    #consumerfinance_signup_page .page-content {
        padding: 40px;
    }

    #consumerfinance_signup_page .page-content .prev-next .consumer-finance-button {
        width: auto;
    }
}