﻿.wizard {
    position: relative;
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: left;
}

.wizard > li {
    display: list-item;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;;
}

.wizard-desktop {
    display: none;
}

.wizard .title {
    margin-left: 20px;
}

.wizard .step {
    height: 16px;;
    width: 16px;;
    background-color: #fff;
    border: 2px solid #FF2F00;
    border-radius: 16px;;
    margin: auto;
    display: inline-block;
}

.wizard li a {
    display: block;
    position: relative;
}

.wizard li a::before {
    content: "";
    position: absolute;
    height: 100%;
    background: #ccc;
    top: 16px;;
    width: 2px;
    z-index: -1;
    left: 7px;
}

.wizard li:last-child a::before {
    left: auto;
    width: 0;
}

.wizard li.previous .step {
    background-color: #FF2F00;
}

.wizard li.previous a::before {
    background-color: #FF2F00;
    z-index: 1;
}

@media (min-width: 768px) {
    .wizard-mobile {
        display: none;
    }

    .wizard-desktop {
        display: table;
        text-align: center;
    }

    .wizard > li {
        display: table-cell;
        text-align: center;
        margin-bottom: 0;
    }

    .wizard .title {
        margin-left: 0;
    }

    .wizard .step {
        margin-bottom: 12px;
        display: block;
    }

    .wizard li a::before {
        content: "";
        position: absolute;
        height: 2px;
        background: #ccc;
        top: 6px;
        width: 100%;
        z-index: -1;
        left: calc(50% - 6px);
    }

    .wizard li:first-child a::before {
        left: calc(50% - 6px);
    }

    .wizard li:last-child a::before {
        right: 50%;
        width: 50%;
        left: auto;
    }
}