﻿@model SaleCampaignPublicModel

@{
    StringBuilder sb = new StringBuilder();

    sb.Append("-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; "); // base styling
    sb.Append($"background-color: {Model.SaleCampaignProductPageCustomization.BackgroundColor}; ");
    sb.Append($"color: {Model.SaleCampaignProductPageCustomization.FontColor}; ");
    sb.Append($"font-weight: {Model.SaleCampaignProductPageCustomization.FontWeight}; ");
    sb.Append($"font-style: {Model.SaleCampaignProductPageCustomization.FontStyle}; ");
    sb.Append($"font-size: {Model.SaleCampaignProductPageCustomization.FontSize}px; ");
    sb.Append($"padding: {Model.SaleCampaignProductPageCustomization.PaddingTop}px {Model.SaleCampaignProductPageCustomization.PaddingRight}px {Model.SaleCampaignProductPageCustomization.PaddingBottom}px {Model.SaleCampaignProductPageCustomization.PaddingLeft}px; ");
    sb.Append($"margin: {Model.SaleCampaignProductPageCustomization.MarginTop}px {Model.SaleCampaignProductPageCustomization.MarginRight}px {Model.SaleCampaignProductPageCustomization.MarginBottom}px {Model.SaleCampaignProductPageCustomization.MarginLeft}px; ");
    sb.Append($"text-align: {Model.SaleCampaignProductPageCustomization.ClockTextAlign.ToString().ToLower()}; ");

    if (!string.IsNullOrEmpty(Model.SaleCampaignProductPageCustomization.CustomCSS))
    {
        sb.Append(Model.SaleCampaignProductPageCustomization.CustomCSS);
    }

    string styling = sb.ToString();

    if (Model.DateDifferenceInSeconds > 0)
    {
        var clockType = Model.SaleCampaignProductPageCustomization.ClockType;

        <div id="countdownTimerContainer" style="@styling">
            @if (clockType == SaleCampaignClockType.DaysHoursMinutesSeconds
                || clockType == SaleCampaignClockType.HoursMinutesSeconds
                || clockType == SaleCampaignClockType.OnlyDays)
            {
                <text>
                    @T("SevenSpikes.Plugins.SaleCampaigns.Public.SaleEndsIn")
                    <span data-time="@Model.DateDifferenceInSeconds" data-clocktype="@((int)clockType)" data-campaignid="@Model.Id" class="countdownTimer"></span>
                </text>
            }
            else
            {
                <text>
                    @T("SevenSpikes.Plugins.SaleCampaigns.Public.OnSaleUntil")
                    <span>@Model.DateUntil</span>
                </text>
            }
        </div>
    }
}