﻿@{
    Layout = "";

    Html.AddFinanceCssFileParts("corporate/signup/wizard");
    string actionName = Html.ViewContext.ActionDescriptor.DisplayName.ToLower().Replace("(nop.plugin.ecorenew.finance)", "").Split('.').LastOrDefault()?.Trim();
}

@* MOBILE *@
<ul class="nav nav-pills nav-stacked hidden-lg wizard wizard-mobile">
    <li class="basic-details @(actionName == "basicdetails" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="BasicDetails">
            <div class="encirclednumber">1</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.BasicDetails.Title")</span>
        </a>
    </li>
    <li class="director-details @(actionName == "directordetails" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="DirectorDetails">
            <div class="encirclednumber">2</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.Title")</span>
        </a>
    </li>
    <li class="bank @(actionName == "bank" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="Bank">
            <div class="encirclednumber">5</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="Authorization">
            <div class="encirclednumber">6</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>

@* DESKTOP *@
<ul class="nav nav-pills visible-lg wizard wizard-desktop">
    <li class="basic-details @(actionName == "basicdetails" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="BasicDetails">
            <div class="encirclednumber">1</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.BasicDetails.Title")</span>
        </a>
    </li>
    <li class="director-details @(actionName == "directordetails" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="DirectorDetails">
            <div class="encirclednumber">2</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.Title")</span>
        </a>
    </li>
    <li class="employment @(actionName == "bank" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="Bank">
            <div class="encirclednumber">3</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="CorporateFinanceSignup" asp-action="Authorization">
            <div class="encirclednumber">6</div>
            <span class="title">@T("Ecorenew.Finance.Corporate.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>