﻿@model BasicDetailsModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceScriptParts(ResourceLocation.Footer, "corporate/signup/basic-details");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="CorporateFinanceSignup" asp-action="BasicDetails" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="CompanyName" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="CompanyName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" autofocus />
                <span asp-validation-for="CompanyName"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="TradingAs" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="TradingAs" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="TradingAs"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="CompanyRegistrationNumber" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="CompanyRegistrationNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="CompanyRegistrationNumber"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="VatNumber" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="VatNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="VatNumber"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="DateEstablishedDay" class="control-label"></label>
            </div>
            <div class="col-sm-4">
                <select asp-for="DateEstablishedDay" asp-items="Model.DateEstablishedDaySelectList" class="form-control"></select>
                <span asp-validation-for="DateEstablishedDay"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateEstablishedMonth" asp-items="Model.DateEstablishedMonthSelectList" class="form-control"></select>
                <span asp-validation-for="DateEstablishedMonth"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateEstablishedYear" asp-items="Model.DateEstablishedYearSelectList" class="form-control"></select>
                <span asp-validation-for="DateEstablishedYear"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="IndustrySector" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="IndustrySector" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="IndustrySector"></span>
            </div>
        </div>

        <div class="page-subtitle">
            <h3>@T("Ecorenew.Finance.Corporate.Signup.BasicDetails.CompanyAddressTitle")</h3>
        </div>

        <div id="corporatefinance_signup_basicdetails_companyaddress">
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="CompanyAddress.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CompanyAddress.BuildingNumber"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.Address1" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="CompanyAddress.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CompanyAddress.Address1"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="CompanyAddress.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CompanyAddress.Address2"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.CityTown" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="CompanyAddress.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CompanyAddress.CityTown"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.CountryId" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    @if (Model.CompanyAddress.CountrySelectList.Count == 2 && Model.CompanyAddress.CountryId.HasValue)
                    {
                        @Model.CompanyAddress.CountrySelectList[1].Text
                        <input asp-for="CompanyAddress.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="CompanyAddress.CountryId" asp-items="Model.CompanyAddress.CountrySelectList" class="form-control corporatefinance-signup-basicdetails-country"></select>
                    }
                    <span asp-validation-for="CompanyAddress.CountryId"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.StateProvinceId" class="control-label"></label>
                </div>
                @if (Model.CompanyAddress.StateProvinceRequired)
                {
                    <nop-required />
                }
                <div class="col-sm-12">
                    @if (Model.CompanyAddress.StateProvinceSelectList.Count == 2 && Model.CompanyAddress.StateProvinceId.HasValue)
                    {
                        @Model.CompanyAddress.StateProvinceSelectList[1].Text
                        <input asp-for="CompanyAddress.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="CompanyAddress.StateProvinceId" asp-items="Model.CompanyAddress.StateProvinceSelectList" class="form-control corporatefinance-signup-basicdetails-stateprovince"></select>
                    }
                    <span asp-validation-for="CompanyAddress.StateProvinceId"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.Postcode" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="CompanyAddress.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="CompanyAddress.Postcode"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CompanyAddress.LengthOfStayYears" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="CompanyAddress.LengthOfStayYears" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="CompanyAddress.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="CompanyAddress.LengthOfStayMonths" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="CompanyAddress.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>

        <div class="page-subtitle">
            <h3>@T("Ecorenew.Finance.Corporate.Signup.BasicDetails.TradingAddressTitle")</h3>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <input asp-for="TradingAddressSameAsCompanyAddress" id="corporatefinance_signup_basicdetails_tradingaddress_sameas_companyaddress" type="checkbox" />
                <label asp-for="TradingAddressSameAsCompanyAddress" class="control-label"></label>
            </div>
        </div>

        <div id="corporatefinance_signup_basicdetails_tradingaddress">
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="TradingAddress.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="TradingAddress.BuildingNumber"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.Address1" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="TradingAddress.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="TradingAddress.Address1"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="TradingAddress.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="TradingAddress.Address2"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.CityTown" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="TradingAddress.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="TradingAddress.CityTown"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.CountryId" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    @if (Model.TradingAddress.CountrySelectList.Count == 2 && Model.TradingAddress.CountryId.HasValue)
                    {
                        @Model.TradingAddress.CountrySelectList[1].Text
                        <input asp-for="TradingAddress.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="TradingAddress.CountryId" asp-items="Model.TradingAddress.CountrySelectList" class="form-control corporatefinance-signup-basicdetails-country"></select>
                    }
                    <span asp-validation-for="TradingAddress.CountryId"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.StateProvinceId" class="control-label"></label>
                </div>
                @if (Model.TradingAddress.StateProvinceRequired)
                {
                    <nop-required />
                }
                <div class="col-sm-12">
                    @if (Model.TradingAddress.StateProvinceSelectList.Count == 2 && Model.TradingAddress.StateProvinceId.HasValue)
                    {
                        @Model.TradingAddress.StateProvinceSelectList[1].Text
                        <input asp-for="TradingAddress.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="TradingAddress.StateProvinceId" asp-items="Model.TradingAddress.StateProvinceSelectList" class="form-control corporatefinance-signup-basicdetails-stateprovince"></select>
                    }
                    <span asp-validation-for="TradingAddress.StateProvinceId"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.Postcode" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="TradingAddress.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="TradingAddress.Postcode"></span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="TradingAddress.LengthOfStayYears" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="TradingAddress.LengthOfStayYears" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="TradingAddress.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="TradingAddress.LengthOfStayMonths" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="TradingAddress.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>
    </div>
    @Html.CorporateFinancePartial("CorporateFinanceSignup/_PrevNext", "")
</form>