﻿@model DirectorDetailsModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceCssFileParts("corporate/signup/director-details");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "corporate/signup/director-details");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="CorporateFinanceSignup" asp-action="DirectorDetails" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />

        <div class="page-subtitle">
            <h3>@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.PersonalInfomationTitle")</h3>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="Title" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-xs-12">
                <select asp-for="Title" asp-items="Model.TitleSelectList" class="form-control" autofocus></select>
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm row">
                    <div class="col-xs-12">
                        <label asp-for="FirstName" class="control-label"></label>
                    </div>
                    <div class="col-xs-12">
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm row">
                    <div class="col-xs-12">
                        <label asp-for="MiddleName" class="control-label"></label>
                    </div>
                    <div class="col-xs-12">
                        <input asp-for="MiddleName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                        <span asp-validation-for="MiddleName"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <label asp-for="LastName" class="control-label"></label>
                    </div>
                </div>
                <input asp-for="LastName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="DateOfBirthDay" class="control-label"></label>
            </div>
            <div class="col-sm-4">
                <select asp-for="DateOfBirthDay" asp-items="Model.DateOfBirthDaySelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthDay"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateOfBirthMonth" asp-items="Model.DateOfBirthMonthSelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthMonth"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateOfBirthYear" asp-items="Model.DateOfBirthYearSelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthYear"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="IsUkResident" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-9">
                <div class="radio">
                    <label class="input-sm">
                        <input asp-for="IsUkResident" type="radio" value="true" />
                        Yes
                    </label>
                    <label class="input-sm">
                        <input asp-for="IsUkResident" type="radio" value="false" />
                        No
                    </label>
                </div>
                <span asp-validation-for="IsUkResident"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="MaritalStatusId" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <select asp-for="MaritalStatusId" asp-items="Model.MaritalStatusSelectList" class="form-control"></select>
                <span asp-validation-for="MaritalStatusId"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="NumberOfDependentsId" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <select asp-for="NumberOfDependentsId" asp-items="Model.NumberOfDependentsSelectList" class="form-control"></select>
                <span asp-validation-for="NumberOfDependentsId"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="HomeOwnerStatusId" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <select asp-for="HomeOwnerStatusId" asp-items="Model.HomeOwnerStatusSelectList" class="form-control"></select>
                <span asp-validation-for="HomeOwnerStatusId"></span>
            </div>
        </div>

        <div class="page-subtitle">
            <h3>@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.ContactDetailsTitle")</h3>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="Email" type="email" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="ConfirmEmail" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="ConfirmEmail"
                       type="email"
                       id="corporatefinance_signup_directordetails_email"
                       class="form-control"
                       placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="ConfirmEmail"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="MobilePhoneNumber" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="MobilePhoneNumber"
                       type="text"
                       id="corporatefinance_signup_directordetails_mobile"
                       class="form-control"
                       placeholder="e.g. +44 123 456 7890" />
                <span asp-validation-for="MobilePhoneNumber"></span>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="form-group form-group-sm row password-field-section" style="@(Model.PasswordRequired ? "" : "display: none")">
            <div class="col-xs-12">
                <input asp-for="PasswordRequired" type="hidden" id="corporatefinance_signup_directordetails_passwordrequired" />
                <label asp-for="Password" class="control-label"></label>
            </div>
            <p class="col-xs-12">
                <small>
                    @Html.Raw(T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.Password.Notice"))
                </small>
            </p>
            <div class="col-xs-12">
                <div class="input-group">
                    <input asp-for="Password" type="password" class="form-control" />

                    <a tabindex="0"
                       class="input-group-addon"
                       role="button"
                       data-container="body"
                       data-toggle="popover"
                       data-placement="top"
                       data-content="@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.Password.Tooltip")"
                       data-html="true"
                       data-trigger="focus">
                        <span class="fa fa-info-circle" style="color: #999">
                        </span>
                    </a>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row password-field-section" style="@(Model.PasswordRequired ? "" : "display: none")">
            <div class="col-xs-12">
                <label asp-for="ConfirmPassword" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        @*--------------CURRENT ADDRESS-------------*@
        <div id="corporatefinance_signup_directordetails_homeaddress_current">
            <div class="page-subtitle">
                <h3>@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.HomeAddress.CurrentAddressTitle")</h3>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="CurrentAddress.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CurrentAddress.BuildingNumber"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.Address1" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="CurrentAddress.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CurrentAddress.Address1"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="CurrentAddress.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CurrentAddress.Address2"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.CityTown" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="CurrentAddress.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="CurrentAddress.CityTown"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.CountryId" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    @if (Model.CurrentAddress.CountrySelectList.Count == 2 && Model.CurrentAddress.CountryId.HasValue)
                    {
                        @Model.CurrentAddress.CountrySelectList[1].Text
                        <input asp-for="CurrentAddress.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="CurrentAddress.CountryId" asp-items="Model.CurrentAddress.CountrySelectList" class="form-control corporatefinance-signup-directordetails-homeaddress-country"></select>
                    }
                    <span asp-validation-for="CurrentAddress.CountryId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.StateProvinceId" class="control-label"></label>
                </div>
                @if (Model.CurrentAddress.StateProvinceRequired)
                {
                    <nop-required />
                }
                <div class="col-sm-12">
                    @if (Model.CurrentAddress.StateProvinceSelectList.Count == 2 && Model.CurrentAddress.StateProvinceId.HasValue)
                    {
                        @Model.CurrentAddress.StateProvinceSelectList[1].Text
                        <input asp-for="CurrentAddress.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="CurrentAddress.StateProvinceId" asp-items="Model.CurrentAddress.StateProvinceSelectList" class="form-control corporatefinance-signup-directordetails-homeaddress-stateprovince"></select>
                    }
                    <span asp-validation-for="CurrentAddress.StateProvinceId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.Postcode" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="CurrentAddress.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="CurrentAddress.Postcode"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="CurrentAddress.LengthOfStayYears" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="CurrentAddress.LengthOfStayYears" type="number" min="0" class="form-control corporatefinance-signup-directordetails-homeaddress-years" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="CurrentAddress.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="CurrentAddress.LengthOfStayMonths" type="number" min="0" max="11" class="form-control corporatefinance-signup-directordetails-homeaddress-months" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="CurrentAddress.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>

        @*-------------PREVIOUS ADDRESS------------*@
        <div id="corporatefinance_signup_directordetails_homeaddress_previous">
            <div class="page-subtitle">
                <h3>@T("Ecorenew.Finance.Corporate.Signup.DirectorDetails.HomeAddress.PreviousAddressTitle")</h3>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="PreviousAddress.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="PreviousAddress.BuildingNumber"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.Address1" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="PreviousAddress.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="PreviousAddress.Address1"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="PreviousAddress.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="PreviousAddress.Address2"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.CityTown" class="control-label"></label>
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="PreviousAddress.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="PreviousAddress.CityTown"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.CountryId" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    @if (Model.PreviousAddress.CountrySelectList.Count == 2 && Model.PreviousAddress.CountryId.HasValue)
                    {
                        @Model.PreviousAddress.CountrySelectList[1].Text
                        <input asp-for="PreviousAddress.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="PreviousAddress.CountryId" asp-items="Model.PreviousAddress.CountrySelectList" class="form-control corporatefinance-signup-directordetails-homeaddress-country"></select>
                    }
                    <span asp-validation-for="PreviousAddress.CountryId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.StateProvinceId" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    @if (Model.PreviousAddress.StateProvinceSelectList.Count == 2 && Model.PreviousAddress.StateProvinceId.HasValue)
                    {
                        @Model.PreviousAddress.StateProvinceSelectList[1].Text
                        <input asp-for="PreviousAddress.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="PreviousAddress.StateProvinceId" asp-items="Model.PreviousAddress.StateProvinceSelectList" class="form-control corporatefinance-signup-directordetails-homeaddress-stateprovince"></select>
                    }
                    <span asp-validation-for="PreviousAddress.StateProvinceId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.Postcode" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="PreviousAddress.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="PreviousAddress.Postcode"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="PreviousAddress.LengthOfStayYears" class="control-label"></label>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="PreviousAddress.LengthOfStayYears" type="number" min="0" class="form-control corporatefinance-signup-directordetails-homeaddress-years" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="PreviousAddress.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="PreviousAddress.LengthOfStayMonths" type="number" min="0" max="11" class="form-control corporatefinance-signup-directordetails-homeaddress-months" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="PreviousAddress.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>
    </div>
    @Html.CorporateFinancePartial("CorporateFinanceSignup/_PrevNext", Url.Action("BasicDetails", "CorporateFinanceSignup"))
</form>