﻿<div>
    <img src="/plugins/ecorenew.finance/content/images/ecorenewfinancelogo-large.png" style="max-width: 300px; display: block; margin: auto" />
</div>

<div style="padding: 100px 0; text-align: center;">
    <h1 style="font-size: 40px !important">Your application has been submitted.</h1>
    <img src="/plugins/ecorenew.finance/content/images/check.png" style="max-width: 100px; display: block; margin: auto" />
    <br />
    <p>[Content missing...]</p>
</div>