﻿@model TicketDepartmentAdminListModel

@inject AdminAreaSettings adminAreaSettings

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.HelpDesk.Admin.Submenus.TicketDepartments");

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.HelpDesk.Admin.TicketDepartment")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.HelpDesk.Admin.TicketDepartment.AddNew")
        </a>
    </div>
</div>

<nop-antiforgery-token />

<div class="content">
    <div class="form-horizontal">
        
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="ticketDepartments-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#ticketDepartments-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "HelpDeskTicketDepartmentAdmin"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url:
                            "@Html.Raw(Url.Action("DeleteTicketDepartment", "HelpDeskTicketDepartmentAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    parameterMap: function(data, operation) {
                        if (operation != "read") {
                            return data;
                        } else {
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Name: { editable: false, type: "string" },
                            DisplayOrder: { editable: false, type: "number" }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);

                    this.cancelChanges();
                },
                pageSize: "@(defaultGridPageSize)",
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            filterable: {
                extra: false
            },
            sortable: true,
            scrollable: false,
            columns: [
                {
                    field: "Name",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketDepartment.Name")"
                }, {
                    field: "DisplayOrder",
                    title: "@T("SevenSpikes.HelpDesk.Admin.TicketDepartment.DisplayOrder")",
                    width: 120
                }, {
                    field: "Id",
                    template:
                        '<a href="Edit/#=Id#" class="k-button"><span class="k-icon k-edit"></span>@T("Admin.Common.Edit")</a>',
                    title: "@T("Admin.Common.Edit")",
                    width: 100,
                    filterable: false,
                    sortable: false
                }, {
                    command: [
                        {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }
                    ],
                    width: 100
                }
            ]
        });
    });
</script>