﻿@model TicketDepartmentAdminModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EmailAccountId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="EmailAccountId" asp-items="Model.AvailableEmailAccounts" />
                    <a href="@Url.Action("Create", "EmailAccount")" class="btn bg-blue margin-t-5"><i class="fa fa-plus-square"></i>@T("Admin.Configuration.EmailAccounts.AddNew")</a>
                    <span asp-validation-for="EmailAccountId"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Id > 0)
{
    <div class="panel-group">
        <div class="panel panel-default  advanced-setting">
            <div class="panel-heading">
                @T("SevenSpikes.HelpDesk.Admin.Mappings")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreMappingModel.SelectedStoreIds" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.StoreMappingModel.SelectedStoreIds, new { SelectList = Model.StoreMappingModel.AvailableStores })
                                <script>
                                    $(document).ready(function () {
                                        var storesIdsInput = $('#@Html.IdFor(model => model.StoreMappingModel.SelectedStoreIds)').data("kendoMultiSelect");
                                        storesIdsInput.setOptions({
                                            autoClose: false
                                        });

                                        @if (Model.StoreMappingModel.AvailableStores.Count == 0)
                                        {
                                        <text>
                                        storesIdsInput.setOptions({
                                            enable: false,
                                            placeholder: 'No stores available'
                                        });
                                        storesIdsInput._placeholder();
                                        storesIdsInput._enable();
                                        </text>
                                        }
                                    });
                                </script>
                            </div>
                            <div class="col-md-8">
                                @await Component.InvokeAsync("MultistoreDisabledWarning")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}