﻿@model TicketDepartmentStaffAdminModel

@inject AdminAreaSettings adminAreaSettings

@{
    Layout = "_AdminPopupLayout";

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try
            {
                var gridElement = window.opener.document.getElementById("@ViewBag.btnId");
                $(gridElement).click();
            }
            catch (e){}
            window.close();
        </script>

        return;
    }
}

<form method="post">
    <nop-antiforgery-token />
    
    <input asp-for="TicketDepartmentId" type="hidden" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.HelpDesk.Admin.TicketDepartment.Staff.AddNew")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchCustomerRoleIds" />
                                    </div>
                                    <div class="col-sm-7">
                                        @foreach (var customerRole in Model.AvailableCustomerRoles)
                                        {
                                            <input type="checkbox" name="SearchCustomerRoleIds" value="@customerRole.Id" @if (Model.SearchCustomerRoleIds != null && Model.SearchCustomerRoleIds.Contains(customerRole.Id)) { <text> checked="checked" </text> } />@customerRole.Name
                                            <br />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchEmail" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchEmail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchFirstName" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchFirstName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchLastName" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchLastName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-customers" value="search-customers" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#customers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("StaffPopupList", "HelpDeskTicketDepartmentAdmin", new { ticketDepartmentId = Model.TicketDepartmentId }))",
                        type: "POST",
                        dataType: "json",
                        data: additionalCustomerData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: "@(defaultGridPageSize)",
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            onSubmitChanges: onSubmitChanges,
            columns: [{
                field: "Id",
                title: "@T("Admin.Common.Check")",
                template: "<input type='checkbox' name='SelectedCustomerIds' value='#=StaffId#' #= Selected ? checked='checked' : '' #/>",
                attributes: {
                    style: "text-align:center"
                },
                width: 50
            }, {
                field: "StaffName",
                title: "@T("SevenSpikes.Conditions.Admin.CustomerOverrides.CustomerName")"
            }, {
                field: "StaffEmail",
                title: "@T("SevenSpikes.Conditions.Admin.CustomerOverrides.CustomerEmail")"
            }, {
                field: "CustomerRoleNames",
                title: "@T("Admin.Customers.Customers.List.CustomerRoles")"
            }, {
                field: "Active",
                title: "@T("Admin.Customers.Customers.Fields.Active")",
                template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }

            }]
        });
    });

    $(document).ready(function () {
        $('#search-customers').click(function () {
            var grid = $('#customers-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            grid.dataSource.read();
            return false;
        });
    });

    function additionalCustomerData() {
        var customerRoleIds = [];
        $('[name=SearchCustomerRoleIds]:checked').each(function () {
            customerRoleIds.push($(this).val());
        });

        var data = {
            SearchCustomerRoleIds: customerRoleIds.join(","),
            SearchEmail: $('#@Html.IdFor(model => model.SearchEmail)').val(),
            SearchFirstName: $('#@Html.IdFor(model => model.SearchFirstName)').val(),
            SearchLastName: $('#@Html.IdFor(model => model.SearchLastName)').val(),
        };

        addAntiForgeryToken(data);

        return data;
    }

    function onSubmitChanges(e) {
        var customerRoleIds = [];
        $('[name=SearchCustomerRoleIds]:checked').each(function () {
            customerRoleIds.push($(this).val());
        });

        e.values.SearchCustomerRoleIds = customerRoleIds.join(",");
    }
</script>