﻿@model TicketDepartmentAdminModel

@inject AdminAreaSettings adminAreaSettings

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="ticketdepartmentstaff-grid"></div>
                </div>
                <div class="panel-footer">
                    <button type="submit" id="btnAddNewStaff" onclick="javascript:OpenWindow('@Url.Action("StaffPopup", "HelpDeskTicketDepartmentAdmin", new { ticketDepartmentId = Model.Id, btnId = "btnRefresh", formId = "ticketdepartmentstaff-form" })', 800, 800, true); return false;" class="btn btn-primary">
                        @T("SevenSpikes.HelpDesk.Admin.TicketDepartment.Staff.AddNew")
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ticketdepartmentstaff-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("StaffList", "HelpDeskTicketDepartmentAdmin", new { ticketDepartmentId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("StaffDelete", "HelpDeskTicketDepartmentAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id"
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: "@(defaultGridPageSize)",
                serverPaging: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "StaffName",
                title: "@T("SevenSpikes.HelpDesk.Admin.TicketDepartment.Staff.StaffName")"
            }, {
                field: "StaffEmail",
                title: "@T("SevenSpikes.HelpDesk.Admin.TicketDepartment.Staff.StaffEmail")"
            }, {
                command: [{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 100
            }]
        });
    });
</script>

<input type="submit" id="btnRefresh" name="btnRefresh" style="display: none" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRefresh').click(function () {
            //refresh grid
            var grid = $("#ticketdepartmentstaff-grid").data('kendoGrid');
            grid.dataSource.read();

            //return false to don't reload a page
            return false;
        });
    });
</script>