﻿@inject StoreInformationSettings storeInformationSettings
@inject CommonSettings commonSettings
@inject IPermissionService permissionService
@{
    var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore
                              && (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
    //resources
    Html.AppendScriptParts("~/lib/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/lib/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/lib/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/lib/jquery.validate.min.js");
    Html.AppendScriptParts("~/lib/jquery-1.10.2.min.js");

    Html.AppendScriptParts("~/Plugins/" + Plugin.FolderName + "/Scripts/kindeditor/kindeditor-all-min.js");

    Html.AddCssFileParts("~/Plugins/" + Plugin.FolderName + "/Scripts/kindeditor/themes/default/default.css");

    var supportRtl = this.ShouldUseRtlTheme();

    var themeName = ThemeHelper.GetPluginTheme(Plugin.FolderName);

    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.Knowledgebase/Themes/" + themeName + "/Content/common.rtl.css");
    }
    else
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.Knowledgebase/Themes/" + themeName + "/Content/common.css");
    }

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");

    var userAgent = Url.ActionContext.HttpContext.Request.Headers["User-Agent"];
    var isIeEightOrLess = false;
    if (!String.IsNullOrEmpty(userAgent) && userAgent.ToString().ToLower().IndexOf("MSIE 8.0", StringComparison.InvariantCultureIgnoreCase) > 0)
    {
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/selectivizr.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/respond.min.js");
    }

    //X-UA-Compatible tag
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }

    Html.AppendPageCssClassParts("html-knowledgebase-page");

}
<!DOCTYPE html>
<html @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag" })
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag_after_css_files_noptemplates" })
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @await Component.InvokeAsync("NewsRssHeaderLink")
    @await Component.InvokeAsync("BlogRssHeaderLink")
    @*Favicon - upload favicon.ico file to the root directory*@
    @await Component.InvokeAsync("Favicon")
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2014-->
</head>
<body>
    <div class="knowledgebase-header-line">
        <div class="knowledgebase-title">@T("SevenSpikes.Knowledgebase.Public.Title")</div>
        <a class="back-to-button" href="@Url.RouteUrl("HomePage")">@T("SevenSpikes.Knowledgebase.Public.BackToWebsite")</a>
        <div class="mobile-buttons">
            <button class="mobile-button nav-button">@T("SevenSpikes.Knowledgebase.Public.Mobile.NavButton")</button>
            <button class="mobile-button search-panel-button">@T("SevenSpikes.Knowledgebase.Public.Mobile.SearchPanelButton")</button>
        </div>
        <div class="knowledgebase-search">@await Html.PartialAsync(Views.KnowledgebaseSearch)</div>
    </div>
    <div class="knowledgebase-page">
        @RenderBody()
    </div>
    <div class="footer">
        <span class="copyright-info">@String.Format(T("SevenSpikes.Knowledgebase.Public.CopyrightInfo").Text, DateTime.UtcNow.Year)</span>
    </div>
    <div id="goToTop"></div>

    <script>

        // mobile navigation&search show/hide
        $(document).ready(function () {

            var $navOpener = $('.nav-button');
            $searchOpener = $('.search-panel-button');
            $navigation = $('.knowledgebase-navigation-wrap');
            $searchPanel = $('.knowledgebase-search');

            $navOpener.on('click', function () {
                $navigation.toggle();
            });
            $searchOpener.on('click', function () {
                $searchPanel.toggle();
            });

        });

        //replace min-height of the navigation if necessary
        $(window).load(function () {

            var $baseHeight = $('.knowledgebase-page').innerHeight();

            if ($baseHeight > 980) {
                $navigation.css('min-height', $baseHeight);
            }

        });

    </script>
    @await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NopScripts(this.Url, ResourceLocation.Footer)
</body>
</html>