@model AttachmentCategoryListModel
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.NopAttachments.Admin.Submenus.ManageAttachmentCategories");
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory")
    </h1>
    <div class="pull-right">
        <a href="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.AddNew")
        </a>
    </div>
</div>

<nop-antiforgery-token />

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="fileattachments-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#fileattachments-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "AttachmentCategoryAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy:{
                        url: "@Html.Raw(Url.Action("DeleteAttachmentCategory", "AttachmentCategoryAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Name: { editable: false, type: "string" },
                            DisplayOrder: { editable: false, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            filterable: true,
            sortable: true,
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.Name")",
                width: 300
            }, {
                field: "DisplayOrder",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.DisplayOrder")",
                width: 300
            }, {
                template: kendo.template($("#commands-template").html()),
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                filterable: false,
                sortable: false,
                width: 30
            }, {
                command: [{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 30
            }]
        });
    });
</script>

<script id="commands-template" type="text/x-kendo-template">
    <a class="k-button" href="Edit/#: Id#" title="@T("Admin.Common.Edit")">
        <span class="k-icon k-edit"></span>
        @T("Admin.Common.Edit")
    </a>
</script>