﻿@using Nop.Web.Models.Catalog
@using SevenSpikes.Nop.Framework.MVCExtensions
@using SevenSpikes.Nop.Plugins.MegaMenu.Models

@model MenuItemVendorModel

@{
    var hasVendors = Model.Vendors.Count > 0;
    var hasSublistClass = hasVendors ? "has-sublist" : string.Empty;
    var withSubcategoriesClass = hasVendors ? "with-subcategories" : string.Empty;
}

<li class="@hasSublistClass @*with-dropdown-in-grid*@ @Model.Item.CssClass">

    <a class="@withSubcategoriesClass" href="@Url.RouteUrl("VendorList")" title="@Model.Item.Title"><span>@Model.Item.Title</span></a>

    @if (hasVendors)
    {
        <div class="dropdown vendors fullWidth boxes-@Model.Item.NumberOfBoxesPerRow">
            <div class="row-wrapper">
                @(Html.DataTable<VendorModel>(Model.Vendors, Model.Item.NumberOfBoxesPerRow, "row", "box",
                @<text>
                <div class="title">
                    <a class="vendor" href="@Url.RouteUrl("Vendor", new { item.SeName })" title="@item.Name"><span>@item.Name</span></a>
                </div>
                <div class="picture">
                    <a class="vendor" href="@Url.RouteUrl("Vendor", new { item.SeName })" title="@item.Name">
                        <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-original="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" title="@item.PictureModel.AlternateText" />
                    </a>
                </div>
                </text>
                ))
            </div>
        </div>
    }
</li>