﻿@model LinksModel

@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.HelpDesk/Themes/" + Model.Theme + "/Content/HelpDesk.css");

    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.HelpDesk/Themes/" + Model.Theme + "/Content/HelpDesk.rtl.css");
    }
}

<li id="newTicket">
    <a asp-controller="HelpDesk" asp-action="NewTicket">@T("SevenSpikes.HelpDesk.Public.NewTicketLink")</a>
</li>

<li id="myTickets">
    <a asp-controller="HelpDesk" asp-action="MyTickets">@T("SevenSpikes.HelpDesk.Public.MyTicketsLink")</a>
</li>

@if (Model.HasPermissions)
{
    IDictionary<string, string> routeData = new Dictionary<string, string>();

    if (Model.SelectedStatus > 0)
    {
        routeData.Add("status", Model.SelectedStatus.ToString());
    }

    <li id="manageTickets">
        <a asp-controller="HelpDesk" asp-action="ManageTickets" asp-all-route-data="@routeData">@T("SevenSpikes.HelpDesk.Public.ManageTicketsLink")</a>
    </li>
}