@model int
@inject AdminAreaSettings adminAreaSettings
@{
    Html.SetActiveMenuItemSystemName("SevenSpikes.Knowledgebase.Admin.Submenus.ManageComments");

    Layout = AdminViewLocations.AdminLayoutViewPath;

    var gridPageSize = adminAreaSettings.DefaultGridPageSize;
}
<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Knowledgebase.Admin.Entities.Comment")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage((bool)ViewBag.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="knowledgebase-comments-grid"></div>

                    <script>
                        $(document)
                            .ready(function() {
                                $("#knowledgebase-comments-grid")
                                    .kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("List", "CommentsAdmin", new {id = Model}))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    data: addAntiForgeryToken
                                                },
                                                update: {
                                                    url: "@Html.Raw(Url.Action("Edit", "CommentsAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                },
                                                destroy: {
                                                    url: "@Html.Raw(Url.Action("Delete", "CommentsAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                },
                                                parameterMap: function(data, operation) {
                                                    if (operation != "read") {
                                                        return data;
                                                    } else {
                                                        //for some reasons only such "Filter" data be parsed
                                                        return JSON.stringify(data);
                                                    }
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors",
                                                model: {
                                                    id: "Id",
                                                    fields: {
                                                        Id: { editable: false, type: "number" },
                                                        Text: { editable: false, type: "string" },
                                                        Author: { editable: false, type: "string" },
                                                        Date: { editable: false, type: "date" },
                                                        Approved: { editable: true, type: "boolean" }
                                                    }
                                                }
                                            },
                                            requestEnd: function(e) {
                                                if (e.type == "update") {
                                                    this.read();
                                                }
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(gridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true
                                        },
                                        editable: {
                                            confirmation: false,
                                            mode: "inline"
                                        },
                                        filterable: true,
                                        sortable: true,
                                        scrollable: false,
                                        columns: [
                                            {
                                                field: "Text",
                                                title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Comment.Text")"
                                            }, {
                                                field: "Author",
                                                title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Comment.Author")",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                filterable: false,
                                                sortable: false
                                            }, {
                                                field: "Date",
                                                title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Comment.CreationDate")",
                                                template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd HH-mm'), 'MM/dd/yyyy HH:mm') #",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                filterable: false
                                            }, {
                                                field: "Approved",
                                                title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Comment.Approved")",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template: '# if(Approved) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                                width: 150,
                                                filterable: false
                                            }, {
                                                width: 200,
                                                command: [
                                                    {
                                                        name: "edit",
                                                        text: "@T("Admin.Common.Edit")"
                                                    },
                                                    {
                                                        name: "destroy",
                                                        text: "@T("Admin.Common.Delete")"
                                                    }
                                                ]
                                            }
                                        ]
                                    });
                            });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>