﻿@model IList<SaleCampaignPublicModel>

@if (Model.Count > 0)
{
    foreach (SaleCampaignPublicModel saleCampaignModel in Model)
    {
        if (saleCampaignModel.DateDifferenceInSeconds > 0)
        {
            SaleCampaignClockType clockType = saleCampaignModel.SaleCampaignCategoryPageCustomization.SaleCampaignCategoryClockType;

            string wrapperPosition = $"vertical-align-{saleCampaignModel.SaleCampaignCategoryPageCustomization.SaleCampaignCategoryWrapperPosition.ToString().ToLowerInvariant()}";

            string wrapperStyling = GetWrapperStyling(saleCampaignModel.SaleCampaignCategoryPageCustomization);
            string campaignLabelStyling = GetCampaignLabelStyling(saleCampaignModel.SaleCampaignCategoryPageCustomization);
            string campaignTextStyling = GetCampaignTextStyling(saleCampaignModel.SaleCampaignCategoryPageCustomization);

            if (clockType == SaleCampaignClockType.DaysHoursMinutesSeconds || clockType == SaleCampaignClockType.HoursMinutesSeconds || clockType == SaleCampaignClockType.OnlyDays)
            {
                string numberBoxStyling = GetNumberBoxStyling(saleCampaignModel.SaleCampaignCategoryPageCustomization);

                <text>
                    <div class="countdownTimer category-countdown @wrapperPosition" data-productid="@saleCampaignModel.ProductId" data-campaignid="@saleCampaignModel.Id" data-time="@saleCampaignModel.DateDifferenceInSeconds" data-clocktype="@((int) clockType)">
                        <div style="@wrapperStyling">
                            <div class="sale-campaign-label" style="@campaignLabelStyling">
                                @T("SevenSpikes.Plugins.SaleCampaigns.Public.SaleEndsIn")
                            </div>
                            <div class="sale-campaign-text">
                                @if (clockType == SaleCampaignClockType.DaysHoursMinutesSeconds || clockType == SaleCampaignClockType.OnlyDays)
                                {
                                    <div class="sale-campaign-box-wrapper days">
                                        <span class="sale-campaign-box" style="@numberBoxStyling"></span>
                                        <span class="sale-campaign-box-label" style="@campaignTextStyling"></span>
                                    </div>
                                }

                                @if (clockType != SaleCampaignClockType.OnlyDays)
                                {
                                    <div class="sale-campaign-box-wrapper hours">
                                        <span class="sale-campaign-box" style="@numberBoxStyling"></span>
                                        <span class="sale-campaign-box-label" style="@campaignTextStyling"></span>
                                    </div>
                                    <div class="sale-campaign-box-wrapper minutes">
                                        <span class="sale-campaign-box" style="@numberBoxStyling"></span>
                                        <span class="sale-campaign-box-label" style="@campaignTextStyling"></span>
                                    </div>
                                    <div class="sale-campaign-box-wrapper seconds">
                                        <span class="sale-campaign-box" style="@numberBoxStyling"></span>
                                        <span class="sale-campaign-box-label" style="@campaignTextStyling"></span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </text>
            }
            else
            {
                <text>
                    <div class="category-countdown @wrapperPosition" data-productid="@saleCampaignModel.ProductId">
                        <div style="@wrapperStyling">
                            <div class="sale-campaign-label" style="@campaignLabelStyling">
                                @T("SevenSpikes.Plugins.SaleCampaigns.Public.OnSaleUntil")
                            </div>
                            <div class="sale-campaign-text" style="@campaignTextStyling">
                                @saleCampaignModel.DateUntil
                            </div>
                        </div>
                    </div>
                </text>
            }
        }
    }
}

@functions{
    private string GetWrapperStyling(SaleCampaignCategoryPageCustomizationModel categoryPageCustomizationModel)
    {
        var sb = new StringBuilder();

        sb.Append("text-align: center; ");
        sb.Append($"background-color: {categoryPageCustomizationModel.SaleCampaignCategoryWrapperBackgroundColor}; ");
        sb.Append($"border: {categoryPageCustomizationModel.SaleCampaignCategoryWrapperBorderInput}px {categoryPageCustomizationModel.SaleCampaignCategoryWrapperBorderType} {categoryPageCustomizationModel.SaleCampaignCategoryWrapperBorderColor}; ");
        sb.Append($"padding: {categoryPageCustomizationModel.SaleCampaignCategoryWrapperPaddingTop}px {categoryPageCustomizationModel.SaleCampaignCategoryWrapperPaddingRight}px {categoryPageCustomizationModel.SaleCampaignCategoryWrapperPaddingBottom}px {categoryPageCustomizationModel.SaleCampaignCategoryWrapperPaddingLeft}px; ");

        return sb.ToString();
    }

    private string GetCampaignLabelStyling(SaleCampaignCategoryPageCustomizationModel categoryPageCustomizationModel)
    {
        var sb = new StringBuilder();

        sb.Append($"font-weight: {categoryPageCustomizationModel.SaleCampaignCategoryClockFontWeight}; ");
        sb.Append($"font-style: {categoryPageCustomizationModel.SaleCampaignCategoryClockFontStyle}; ");
        sb.Append($"font-size: {categoryPageCustomizationModel.SaleCampaignCategoryClockFontSize}{categoryPageCustomizationModel.SaleCampaignCategoryClockFontSizeUnit}; ");
        sb.Append($"color: {categoryPageCustomizationModel.SaleCampaignCategoryClockFontColor}; ");

        return sb.ToString();
    }

    private string GetCampaignTextStyling(SaleCampaignCategoryPageCustomizationModel categoryPageCustomizationModel)
    {
        var sb = new StringBuilder();

        sb.Append($"font-weight: {categoryPageCustomizationModel.SaleCampaignCategoryCampaignTextFontWeight}; ");
        sb.Append($"font-style: {categoryPageCustomizationModel.SaleCampaignCategoryCampaignTextFontStyle}; ");
        sb.Append($"font-size: {categoryPageCustomizationModel.SaleCampaignCategoryCampaignTextFontSize}{categoryPageCustomizationModel.SaleCampaignCategoryCampaignTextFontSizeUnit}; ");
        sb.Append($"color: {categoryPageCustomizationModel.SaleCampaignCategoryCampaignTextFontColor}; ");

        return sb.ToString();
    }

    private string GetNumberBoxStyling(SaleCampaignCategoryPageCustomizationModel categoryPageCustomizationModel)
    {
        var sb = new StringBuilder();

        sb.Append($"background-color: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxBackgroundColor}; ");
        sb.Append($"border: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxBorderInput}px {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxBorderType} {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxBorderColor}; ");
        sb.Append($"font-weight: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxFontWeight}; ");
        sb.Append($"font-style: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxFontStyle}; ");
        sb.Append($"font-size: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxFontSize}{categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxFontSizeUnit}; ");
        sb.Append($"color: {categoryPageCustomizationModel.SaleCampaignCategoryNumberBoxFontColor}; ");

        return sb.ToString();
    }
}