﻿@model AddressModel
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<input asp-for="Id" type="hidden"/>
<div class="edit-address">
    <div class="inputs">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <input asp-for="FirstName" />
        <nop-required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs">
        <label asp-for="LastName" asp-postfix=":"></label>
        <input asp-for="LastName" />
        <nop-required />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="inputs">
        <label asp-for="Email" asp-postfix=":"></label>
        <input asp-for="Email" />
        <nop-required />
        <span asp-validation-for="Email"></span>
    </div>
    @if (Model.CompanyEnabled)
    {
        <div class="inputs">
            <label asp-for="Company" asp-postfix=":"></label>
            <input asp-for="Company" />
            @if (Model.CompanyRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="Company"></span>
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
            <input asp-for="ZipPostalCode" style="width: auto;" />
            @if (Model.ZipPostalCodeRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="ZipPostalCode"></span>
            <button id="FindAddress_@Html.IdFor(x => x.ZipPostalCode)" class="button-1">Find Address</button>
            <label id="FindAddressLoading_@Html.IdFor(x => x.ZipPostalCode)" style="display: none;">Loading...</label>
        </div>
        <div id="FindAddressInputs_@Html.IdFor(x => x.ZipPostalCode)" class="inputs" style="display: none;">
            <label><b>Select Address:</b></label>
            <select id="FindAddressSelect_@Html.IdFor(x => x.ZipPostalCode)">
            </select>
        </div>
        <script>
            $(document).ready(function() {
                var uk = $('#@Html.IdFor(x => x.CountryId) option').filter(function () { return $(this).html() == 'United Kingdom'; }).val();
                $('#@Html.IdFor(x => x.CountryId)').val(uk);
                $('#@Html.IdFor(x => x.CountryId)').change();

                $('#FindAddress_@Html.IdFor(x => x.ZipPostalCode)').click(function(e) {
                    e.preventDefault();

                    var zipPostalSelect = $('#FindAddressSelect_@Html.IdFor(x => x.ZipPostalCode)');
                    
                    zipPostalSelect
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="0">Select address...</option>')
                        .val("0");
                    zipPostalSelect.change();

                    var zipPostalInputs = $('#FindAddressInputs_@Html.IdFor(x => x.ZipPostalCode)');
                    zipPostalInputs.hide();

                    var zipPostalCode = $('#@Html.IdFor(x => x.ZipPostalCode)').val();
                    if (zipPostalCode) {
                        $('#FindAddressLoading_@Html.IdFor(x => x.ZipPostalCode)').show();
                        $.get('https://api.getAddress.io/find/' + zipPostalCode.replace(' ', '') + '?api-key=sWJGQdDfzESJLIcn71bpFw14487')
                            .done(function(data) {
                                if (data != null && data.addresses.length > 0) {
                                    $.each(data.addresses, function(index, value) {
                                        zipPostalSelect.append('<option value="' + value + '">' + value + '</option>');
                                    });

                                    if (data.addresses.length == 1) {
                                        zipPostalSelect.val(data.addresses[0]);
                                        zipPostalSelect.change();
                                    } else {
                                        zipPostalInputs.show();
                                    }
                                } else {
                                    alert('No address found.');
                                }

                                $('#FindAddressLoading_@Html.IdFor(x => x.ZipPostalCode)').hide();
                            })
                            .fail(function(jqXHR, textStatus, error) {
                                $('#FindAddressLoading_@Html.IdFor(x => x.ZipPostalCode)').hide();

                                var status = jqXHR.status;

                                if (status == 404) {
                                    alert('No address found.');
                                } else if (status == 400) {
                                    alert('Invalid postcode.');
                                } else if (status == 401 || status == 429 || status == 500) {
                                    alert('Unable to process your request. Please try again later.');
                                }
                            });
                    }
                });

                $('#FindAddressSelect_@Html.IdFor(x => x.ZipPostalCode)').change(function() {
                    var zipPostalSelect = $('#FindAddressSelect_@Html.IdFor(x => x.ZipPostalCode)');

                    if (zipPostalSelect.val() != null && zipPostalSelect.val() != 0) {
                        var splitVal = zipPostalSelect.val().split(',');
                        
                        $('#@Html.IdFor(x => x.Address1)').val(splitVal[0].trim());
                        $('#@Html.IdFor(x => x.Address2)').val(splitVal[1].trim());
                        $('#@Html.IdFor(x => x.City)').val(splitVal[5].trim());

                        var zipPostalSelectValue = $('#@Html.IdFor(x => x.StateProvinceId) option').filter(function () { return $(this).html() == splitVal[6].trim(); }).val();
                        $('#@Html.IdFor(x => x.StateProvinceId)').val(zipPostalSelectValue);
                        $('#@Html.IdFor(x => x.StateProvinceId)').change();
                    } else {
                        $('#@Html.IdFor(x => x.Address1)').val('');
                        $('#@Html.IdFor(x => x.Address2)').val('');
                        $('#@Html.IdFor(x => x.City)').val('');
                        $('#@Html.IdFor(x => x.StateProvinceId)').val(0);
                        $('#@Html.IdFor(x => x.StateProvinceId)').change();
                    }
                });
            });
        </script>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
            <nop-required />
            <span asp-validation-for="CountryId"></span>
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            <label asp-for="City" asp-postfix=":"></label>
            <input asp-for="City" />
            @if (Model.CityRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="City"></span>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            <label asp-for="Address1" asp-postfix=":"></label>
            <input asp-for="Address1" />
            @if (Model.StreetAddressRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="Address1"></span>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            <label asp-for="Address2" asp-postfix=":"></label>
            <input asp-for="Address2" />
            @if (Model.StreetAddress2Required)
            {
                <nop-required />
            }
            <span asp-validation-for="Address2"></span>
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            <label asp-for="PhoneNumber" asp-postfix=":"></label>
            <input asp-for="PhoneNumber" />
            @if (Model.PhoneRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            <label asp-for="FaxNumber" asp-postfix=":"></label>
            <input asp-for="FaxNumber" />
            @if (Model.FaxRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="FaxNumber"></span>
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>