﻿@model ShoppingCartModel.DiscountBoxModel
@if (Model.Display)
{
<div class="coupon-box">
    @*<div class="title">
            <strong>@T("ShoppingCart.DiscountCouponCode")</strong>
        </div>
        <div class="hint">
            @T("ShoppingCart.DiscountCouponCode.Tooltip")
        </div>*@
    <div class="coupon-code">
        <div class="inputs">
            <label>@T("ShoppingCart.DiscountCouponCode")</label>
            <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" placeholder="Enter discount code" />
            @*<input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />*@
        </div>
        <div>
            <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                   value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />
        </div>
    </div>
    @*@foreach (var message in Model.Messages)
         {
             <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                 @message
             </div>
         }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
         {
             <div class="current-code">
                 <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                 <input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
             </div>
         }*@
</div>
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $('#discountcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applydiscountcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}