﻿@model ShoppingCartModel.GiftCardBoxModel

@if (Model.Display)
{
    <div class="giftcard-box">
        @*<div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>
        <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>*@
        <div class="coupon-code">
            <div class="inputs">
                <label>@T("shoppingcart.totals.giftcardinfo")</label>
                <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" placeholder="Enter promo code" />
                @*<input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode"
                         value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />*@
            </div>
            <div>
                <input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode"
                       value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />
            </div>
        </div>
        @*@if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }*@
    </div>
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $('#giftcardcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}