﻿@using Nop.Core
@using Nop.Services.Configuration
@using Nop.Services.Media
@using Microsoft.AspNetCore.WebUtilities

@inject ISettingService settingService
@inject IPictureService pictureService
@inject IStoreContext storeContext

@{
    var storeId = storeContext.CurrentStore.Id;
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);

    var homePageSlider = await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
    var isHomePageSliderEnabled = string.Empty;

    var menuDropdownLayout = settingService.GetSettingByKey("venturethemesettings.menudropdowncolor", "dark-layout", storeId, true);

    var homePageSliderVideoLink = settingService.GetSettingByKey("venturethemesettings.homepageslidervideolink", string.Empty, storeId, true);
    var homePageSliderVideoCoverPictureId = settingService.GetSettingByKey("venturethemesettings.homepageslidervideocoverpictureid", 0, storeId, true);


    var homePageSliderVideoCover = Url.Content("~/Themes/Venture/Content/img/default-video-cover.png");
    var homePageSliderVideoId = string.Empty;
    var homePageSliderVideoPlatformUrl = string.Empty;
    var homePageSliderVideoPlatformApiUrl = string.Empty;

    if (!string.IsNullOrEmpty(homePageSliderVideoLink))
    {
        var uri = new Uri(homePageSliderVideoLink);

        if (uri.Host.Contains("youtube"))
        {
            var query = QueryHelpers.ParseQuery(uri.Query);

            homePageSliderVideoId = query["v"];
            homePageSliderVideoPlatformUrl = "https://www.youtube.com/embed/";
            homePageSliderVideoPlatformApiUrl = "https://www.youtube.com/iframe_api";
        }
        else if (uri.Host.Contains("vimeo"))
        {
            homePageSliderVideoId = uri.Segments[1];
            homePageSliderVideoPlatformUrl = "https://player.vimeo.com/video/";
            homePageSliderVideoPlatformApiUrl = "https://player.vimeo.com/api/player.js";
        }

        if (homePageSliderVideoCoverPictureId > 0)
        {
            var coverPictureUrl = pictureService.GetPictureUrl(homePageSliderVideoCoverPictureId);

            if (!string.IsNullOrEmpty(coverPictureUrl))
            {
                homePageSliderVideoCover = coverPictureUrl;
            }
        }
    }

    if (isHomePage && (!String.IsNullOrEmpty(homePageSlider.ToHtmlString()) || !string.IsNullOrEmpty(homePageSliderVideoLink)))
    {
        isHomePageSliderEnabled = "slider-enabled";
    }

}
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
            @await Component.InvokeAsync("HeaderLinks")
        </div>
    </div>
     <div class="header-lower-cover">
    <div class="header-lower @isHomePageSliderEnabled">
        <div class="header-left">
            <div class="header-logo">
                @*@await Component.InvokeAsync("Logo")*@
		<a href="/" class="logo">
			<img alt="Mazuma" src="/images/uploaded/mazuma-mobile-new-logo.png">
		</a>
            </div>
        </div>
        <div class="header-center">
            <div class="header-menu @menuDropdownLayout">
                <div class="close-menu">
                    <div class="mobile-logo">
                        @*@await Component.InvokeAsync("Logo")*@
			<a href="/" class="logo">
				<img alt="Mazuma" src="/images/uploaded/mazuma-mobile-new-logo.png">
			</a>
                    </div>
                    <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                </div>
                @{
                    var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                }
                @if (!String.IsNullOrEmpty(menuHtml.ToHtmlString()))
                {
                    @menuHtml
                }
                else
                {
                    @await Component.InvokeAsync("TopMenu")
                }
                <div class="mobile-menu-items">
                    @await Component.InvokeAsync("HeaderLinks")
                </div>
            </div>
        </div>
        @{
            var flyoutShoppingCart = await Component.InvokeAsync("FlyoutShoppingCart");
            var headerRightAdditinalClass = string.IsNullOrEmpty(flyoutShoppingCart.ToHtmlString()) ? "shopping-cart-disabled" : "";
        }
        <div class="header-right @headerRightAdditinalClass">
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
                <div class="search-opener">@T("search")</div>
            </div>
           
            @flyoutShoppingCart
        </div>
    </div>
</div>
</div>
@if (isHomePage && string.IsNullOrEmpty(homePageSliderVideoLink))
{
    @homePageSlider;
}
else if (isHomePage && !string.IsNullOrEmpty(homePageSliderVideoLink))
{
    <div class="video-slider-wrapper">
        <div id="video-player" class="video-player" data-id="@homePageSliderVideoId" data-platform-url="@homePageSliderVideoPlatformUrl">
            <img src="@homePageSliderVideoCover" alt="Cover photo" />
            <div class="video-overlay"></div>
            <div class="play-button-wrapper">
                <h3 class="video-button-title">@T("SevenSpikes.Themes.Venture.Common.VideoBannerTitle")</h3>
                <h4 class="video-button-subtitle">@T("SevenSpikes.Themes.Venture.Common.VideoBannerSubtitle")</h4>
                <div class="play">@T("SevenSpikes.Themes.Venture.Common.VideoBannerButton")</div>
            </div>
        </div>

        <script src="@homePageSliderVideoPlatformApiUrl"></script>
    </div>
}
@if (isHomePage)
{
    @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_ajax_filters_pro" })
}

<script asp-Location="Footer">
    /*function addFixedHeader() {
        if ($('.header-fixed').length == 0) {
            var headerFixed = $('<div class="header header-fixed"></div>');
            var headerLowerClone = $('.header-lower').clone();
            headerLowerClone.addClass('header-lower-fixed');
            headerFixed.prepend(headerLowerClone)
            $('body').prepend(headerFixed);
        }
    }

    function removeFixedHeader() {
        $('.header-fixed').remove();
    }

    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 50) {
            addFixedHeader();
        } else {
            removeFixedHeader();
        }
    });*/

    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 50) {
            $('.header-upper').addClass('no-height');
        } else {
            $('.header-upper').removeClass('no-height');
        }
    });

    $(document).ready(function() {
        $('.products-menu > span').click(function(){
            $('.products-menu > .plus-button').click();
        });
    });
</script>