﻿@using Nop.Core
@using Nop.Services.Configuration
@using Nop.Services.Media
@using Microsoft.AspNetCore.WebUtilities

@inject ISettingService settingService
@inject IPictureService pictureService
@inject IStoreContext storeContext
@inject IWebHelper webHelper

@{
    var storeId = storeContext.CurrentStore.Id;
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);

    var homePageSlider = await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
    var isHomePageSliderEnabled = string.Empty;

    var menuDropdownLayout = settingService.GetSettingByKey("venturethemesettings.menudropdowncolor", "dark-layout", storeId, true);

    var homePageSliderVideoLink = settingService.GetSettingByKey("venturethemesettings.homepageslidervideolink", string.Empty, storeId, true);
    var homePageSliderVideoCoverPictureId = settingService.GetSettingByKey("venturethemesettings.homepageslidervideocoverpictureid", 0, storeId, true);


    var homePageSliderVideoCover = Url.Content("~/Themes/Venture/Content/img/default-video-cover.png");
    var homePageSliderVideoId = string.Empty;
    var homePageSliderVideoPlatformUrl = string.Empty;
    var homePageSliderVideoPlatformApiUrl = string.Empty;

    if (!string.IsNullOrEmpty(homePageSliderVideoLink))
    {
        var uri = new Uri(homePageSliderVideoLink);

        if (uri.Host.Contains("youtube"))
        {
            var query = QueryHelpers.ParseQuery(uri.Query);

            homePageSliderVideoId = query["v"];
            homePageSliderVideoPlatformUrl = "https://www.youtube.com/embed/";
            homePageSliderVideoPlatformApiUrl = "https://www.youtube.com/iframe_api";
        }
        else if (uri.Host.Contains("vimeo"))
        {
            homePageSliderVideoId = uri.Segments[1];
            homePageSliderVideoPlatformUrl = "https://player.vimeo.com/video/";
            homePageSliderVideoPlatformApiUrl = "https://player.vimeo.com/api/player.js";
        }

        if (homePageSliderVideoCoverPictureId > 0)
        {
            var coverPictureUrl = pictureService.GetPictureUrl(homePageSliderVideoCoverPictureId);

            if (!string.IsNullOrEmpty(coverPictureUrl))
            {
                homePageSliderVideoCover = coverPictureUrl;
            }
        }
    }

    if (isHomePage && (!String.IsNullOrEmpty(homePageSlider.ToHtmlString()) || !string.IsNullOrEmpty(homePageSliderVideoLink)))
    {
        isHomePageSliderEnabled = "slider-enabled";
    }

}
<style>
    @@media screen and (min-width: 1201px) {
        #topcartlink a {
            font-size: 25px;
            height: unset;
            padding: 0px 0 !important;
        }
    }
</style>
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
            @await Component.InvokeAsync("HeaderLinks")
            <div class="account-menu">
                <div class="memu-content memu-myAccount">
                    <a href="@Url.RouteUrl("CustomerInfo")">
                        <span></span>
                        <div class="menu-content-detail">
                            <span>My Account</span>
                            <p>Glad to see you again!</p>
                        </div>
                    </a>
                </div>
                <div class="memu-content memu-myInfo">
                    <a href="@Url.RouteUrl("CustomerInfo")">
                        <span></span>
                        <div class="menu-content-detail">
                            <span>My Info</span>
                            <p>Addresses, phone, number, newsletter etc</p>
                        </div>
                    </a>
                </div>
                <div class="memu-content memu-myOrder">
                    <a href="@Url.RouteUrl("CustomerOrders")">
                        <span></span>
                        <div class="menu-content-detail">
                            <span>My Orders</span>
                            <p>Fix an issue, follow a delivery, etc ...</p>
                        </div>
                    </a>
                </div>
                <div class="memu-content memu-signOut">
                    <a href="@Url.RouteUrl("Logout")">
                        <span></span>
                        <div class="menu-content-detail">
                            <span>Sign Out</span>
                            <p>We're gonna miss ya ):</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-lower-cover">
        <div class="header-lower @isHomePageSliderEnabled">
            @*<div class="header-left">
                <div class="header-logo">*@
            @*@await Component.InvokeAsync("Logo")*@
            @*<a href="/" class="logo">
                    <img alt="Mazuma"
                         data-lazyloadsrc="/images/uploaded/mazuma-mobile-new-logo.png" title="Mazuma">
                </a>
                    </div>
                </div>*@
            <div class="header-center">
                <div class="header-menu @menuDropdownLayout">
                    <div class="header-menu-top">
                        <div class="close-menu">
                            <div class="mobile-logo">
                                <a href="/" class="logo">
                                    <img alt="Mazuma"
                                         data-lazyloadsrc="/images/uploaded/mazuma-mobile-new-logo.png">
                                </a>
                            </div>
                            <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                        </div>
                        <div class="mobile-buy-sell-repair-button">
                            <div class="mobile-buy-btn">
                                <a href="/" class="" title="BUY">
                                    <span>BUY</span>
                                </a>
                            </div>
                            <div class="mobile-sell-btn">
                                <a href="https://www.mazumamobile.com/sell-my-mobile" class="" title="SELL">
                                    <span>SELL</span>
                                </a>
                            </div>
                            <div class="mobile-repair-btn">
                                <a href="https://repair.mazumamobile.com/" class="" title="REPAIR">
                                    <span>REPAIR</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    @{
                        var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                    }
                    @if (!String.IsNullOrEmpty(menuHtml.ToHtmlString()))
                    {
                        @menuHtml
                    }
                    else
                    {
                        @await Component.InvokeAsync("TopMenu")
                    }
                    <div class="mobile-menu-items">
                        @await Component.InvokeAsync("HeaderLinks")
                    </div>
                </div>
            </div>
            @{
                var flyoutShoppingCart = await Component.InvokeAsync("FlyoutShoppingCart");
                var headerRightAdditinalClass = string.IsNullOrEmpty(flyoutShoppingCart.ToHtmlString()) ? "shopping-cart-disabled" : "";
            }
            <div class="header-right @headerRightAdditinalClass">
                <div class="search-box store-search-box">
                    @await Component.InvokeAsync("SearchBox")
                    @*<div class="search-opener">@T("search")</div>*@
                    <div id="search-box-no-data-div" class="k-animation-container instantSearch" style="display:none;width: 548px; height: auto; margin-left: 0px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; overflow: visible;position: absolute; z-index: 10002; top: 75px; left: 0px; box-sizing: content-box;">
                        <div class="k-list-container k-popup k-group k-reset k-state-border-up" id="small-searchterms-list" data-role="popup" style="height: auto; display: block; font-size: 15px; font-family: Roboto, sans-serif; font-stretch: 100%; font-style: normal; font-weight: 400; line-height: normal; position: absolute;">
                            <ul unselectable="on" class="k-list k-reset" tabindex="-1" role="listbox" aria-hidden="false" id="small-searchterms_listbox" aria-live="polite" style="overflow: auto;">
                                <li tabindex="-1" role="option" unselectable="on" class="k-item">
                                    <div class="instant-search-item" data-url="/apple-iphone-xs-max-2">
                                        <div class="detail">
                                            <div class="title" style="color:red">
                                                No products were found that matched your criteria.
                                            </div>
                                            <div class="price" style="color:black">
                                                For Smartphone please <a href="/mobile-phones" style="color:blue;text-decoration:underline">click here</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                @flyoutShoppingCart
            </div>
        </div>
    </div>
    @*
    <div class="header-free-delivery"><a href="/make-it-mazuma">FREE DELIVERY</a>: Order before 3pm and receive your order the next working day for free!</div>
    *@
    <script>
        $(".account").hover(function () {
            $(".account-menu").addClass("active");
        }, function () {
            $(".account-menu").removeClass("active");
        });
        $(".account-menu").hover(function () {
            $(".account-menu").addClass("active");
        }, function () {
            $(".account-menu").removeClass("active");
        });
    </script>
    @await Component.InvokeAsync("Widget", new { widgetZone = "header_sub_menu" })
</div>
@if (isHomePage && string.IsNullOrEmpty(homePageSliderVideoLink))
{
    @homePageSlider;
}
else if (isHomePage && !string.IsNullOrEmpty(homePageSliderVideoLink))
{
    <div class="video-slider-wrapper">
        <div id="video-player" class="video-player" data-id="@homePageSliderVideoId" data-platform-url="@homePageSliderVideoPlatformUrl">
            <img src="@homePageSliderVideoCover" alt="Cover photo" />
            <div class="video-overlay"></div>
            <div class="play-button-wrapper">
                <h3 class="video-button-title">@T("SevenSpikes.Themes.Venture.Common.VideoBannerTitle")</h3>
                <h4 class="video-button-subtitle">@T("SevenSpikes.Themes.Venture.Common.VideoBannerSubtitle")</h4>
                <div class="play">@T("SevenSpikes.Themes.Venture.Common.VideoBannerButton")</div>
            </div>
        </div>

        <script src="@homePageSliderVideoPlatformApiUrl"></script>
    </div>
}
@if (isHomePage)
{
    @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_ajax_filters_pro" })
}

<script asp-Location="Footer">
    $(window).bind('scroll', function () {
        if ($(window).scrollTop() > 50) {
            $('.header-upper').addClass('no-height');
        } else {
            $('.header-upper').removeClass('no-height');
        }
    });

    $(document).ready(function () {
        $('#small-searchterms').blur(function () {
            setTimeout(function () {
                $("#search-box-no-data-div").css('display', 'none');
            }, 200);
        });
        $('.products-menu > span').click(function () {
            $('.products-menu > .plus-button').click();
        });
    });
</script>