﻿@model ProductOverviewModel

@if (Model.ShowSkuPriceDropRibbon)
{
    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" class="ribbon-position top-left" data-productid="@Model.Id">
        <div class="product-ribbon-sku
         @if (Model.IsOnlySkuDiscount)
         {
             <text>position-sku-top</text>
         }
         else {
             <text>position-sku-middle</text>
          } ">
            @if (Model.ShowGeneralRibbon)
            {
                <img id="ribbon-picture-@Model.Id" src="/Themes/Venture/Content/img/price-drop-icon-general-v3.png" />
                @if (Model.DiscountAmount != decimal.Zero)
                {
                    <div class="pro-ribbon-amount">@Model.DiscountAmountStr OFF</div>
                }
            }
            else
            {
                <img class="sku-ribbon" id="ribbon-picture-@Model.Id" src="/Themes/Venture/Content/img/price-drop-icon.png" />
                @if (Model.DiscountAmount != decimal.Zero)
                {
                    <div class="pro-ribbon-amount">@Model.DiscountAmountStr OFF</div>
                }
            }
        </div>
    </a>
}