﻿@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@inject IStoreContext storeSettings
@inject ISettingService settingService

@model ProductOverviewModel

@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });

    var storeId = storeSettings.CurrentStore.Id;
    var lazyLoadImages = settingService.GetSettingByKey("venturethemeSettings.LazyLoadImages", false, storeId, true);
    var callType = ViewData["CallType"];

    var quickViewEnabled = settingService.GetSettingByKey("QuickViewSettings.Enabled", false, storeId, true);

    var ajaxCartEnabled = settingService.GetSettingByKey("nopajaxcartsettings.enablenopajaxcart", false, storeId, true);
    var ajaxCartQuantityBoxEnabled = settingService.GetSettingByKey("nopajaxcartsettings.enableproductquantitytextbox", false, storeId, true);

    var prodructItemButtonsCounter = 0;

    if (!Model.ProductPrice.DisableBuyButton)
    {
        prodructItemButtonsCounter++;
    }
    if (!Model.ProductPrice.DisableAddToCompareListButton)
    {
        prodructItemButtonsCounter++;
    }
    if (!Model.ProductPrice.DisableWishlistButton)
    {
        prodructItemButtonsCounter++;
    }
    if (quickViewEnabled)
    {
        prodructItemButtonsCounter++;
    }
    if (ajaxCartQuantityBoxEnabled && ajaxCartEnabled)
    {
        prodructItemButtonsCounter++;
    }
    var prodructItemButtonsCounterClass = "items-" + prodructItemButtonsCounter;
}

<div class="product-item" data-productid="@Model.Id" title="@Model.Name">
    <div class="ribbon-wrapper-box">
        <div class="picture">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                @if (lazyLoadImages && callType != null && callType.ToString() == "carousel")
                {
                    <img class="picture-img"
                         data-lazyloadsrc="@Model.DefaultPictureModel.ImageUrl"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         alt="@Model.DefaultPictureModel.AlternateText"
                         title="@Model.DefaultPictureModel.Title" />
                }
                else
                {
                    <img class="picture-img" src="@Model.DefaultPictureModel.ImageUrl"
                         alt="@Model.DefaultPictureModel.AlternateText" title="@Model.DefaultPictureModel.Title" />
                }
            </a>
        </div>
        @await Html.PartialAsync("_ProductRibbons", Model)
    </div>
    <div class="details">
        <h2 class="product-title">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
        </h2>
        @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
        {
            <div class="sku">
                @Model.Sku
            </div>
        }
        @if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            var ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
            }
            <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                <div class="rating">
                    <div style="width: @(ratingPercent)%">
                    </div>
                </div>
            </div>
        }
        <div class="description">
            @Html.Raw(Model.ShortDescription)
        </div>
        <div class="add-info">
            @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_before", additionalData = Model.Id })
            <div class="prices">
                <div class="box-prices-wrapper">
                    @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                    {
                        <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                    }
                    <span class="price actual-price">From @Model.ProductPrice.Price</span>
                </div>
                <div class="additional-price-info">
                    @if (Model.ProductPrice.DisplayTaxShippingInfo)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <span class="tax-shipping-info">
                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                    @if (!String.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                    {
                        <div class="base-price-pangv">
                            @Model.ProductPrice.BasePricePAngV
                        </div>
                    }
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = "braintree_paypal_credit_fromprice", additionalData = Model.Id })
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_middle", additionalData = Model.Id })
            <div class="buttons @prodructItemButtonsCounterClass">
                @if (!Model.ProductPrice.DisableAddToCompareListButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                }
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                }
                @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                @if (!Model.ProductPrice.DisableBuyButton)
                {
                    var addToCartText = T("ShoppingCart.AddToCart").Text;
                    if (Model.ProductPrice.IsRental)
                    {
                        addToCartText = T("ShoppingCart.Rent").Text;
                    }
                    if (Model.ProductPrice.AvailableForPreOrder)
                    {
                        addToCartText = T("ShoppingCart.PreOrder").Text;
                    }
                    <input type="button" value="@(addToCartText)" title="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                }
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "productbox_addinfo_after", additionalData = Model.Id })
        </div>
    </div>
    @{ 
        var list = ViewData["list"] != null ? ViewData["list"] : "Other";
    }
    <div class="btn-view-product-detail" onclick="product_view('@Url.RouteUrl("Product", new { SeName = Model.SeName })', '@Model.Id', '@Model.Name', '@list')">
        <div class="see-more-box">
        </div>
    </div>
</div>


