﻿@using Nop.Core
@using Nop.Core.Domain;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Services.Events
@using Nop.Services.Configuration;
@using Nop.Services.Security;
@using Nop.Web.Framework.Events
@using Nop.Core.Infrastructure
@using Nop.Core.Domain.Customers;

@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject SeoSettings seoSettings
@inject StoreInformationSettings storeInformationSettings
@inject IStoreContext storeContext
@inject ISettingService settingService
@inject IWebHelper webHelper

@{
    var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore
            && (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui-1.10.4.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery.validate.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/bootstrap.min.js");
    //jQuery is the only js file in the head. if we decide to move it to the footer, then ensure that all inline scripts (with jQuery usage) with are also moved to the footer
    //the issue that it's not possible in some cases (e.g. "Edit address", when Ajax request is made on one-page checkout)
    Html.AppendScriptParts(ResourceLocation.Head, "~/lib/jquery-1.10.2.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/lazyload/jquery.lazyload.min.js");

    //X-UA-Compatible tag
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts($"<meta http-equiv=\"X-UA-Compatible\" content=\"{commonSettings.XuaCompatibleValue}\"/>");
    }
    //custom tag(s);

    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }

    var storeId = storeContext.CurrentStore.Id;
    var themeColor = settingService.GetSettingByKey("venturethemesettings.themecolor", "dark-theme", storeId, true);

    var currentPageClass = (await Html.PartialAsync("_CurrentPageClass")).ToHtmlString().Trim();

    eventPublisher.Publish(new PageRenderingEvent(this.Html));

    var showNewsletterModal = true;
    var Customer = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer;

    if (Customer != null && Customer.IsRegistered())
    {
        var newsLetterSubscriptionService = EngineContext.Current
            .Resolve<Nop.Services.Messages.INewsLetterSubscriptionService>();

        // Show modal if customer is not yet subscribed
        var subscriber = newsLetterSubscriptionService.GetNewsLetterSubscriptionByEmailAndStoreId(Customer.Email, Customer.RegisteredInStoreId);
        if (subscriber != null)
        {
            showNewsletterModal = false;
        }
    }
}
<!DOCTYPE html>
<html @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

    @if (!Context.Request.Path.ToString().Contains("producttag"))
    {
        <meta name="robots" content="index, follow" />
    }
    else
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <!--<link href="https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext" rel="stylesheet">-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">

    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @RenderSection("addCustomHeadScripts", required: false)
    @await Html.PartialAsync("Head")
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag" })
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag_after_css_files_venture" })
    @{
        Html.AddCssFileParts("~/Themes/Venture/Content/css/custom-backend.css");
    }

    @Html.NopCssFiles(Url, ResourceLocation.Head)
    @Html.NopScripts(Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()

    @await Component.InvokeAsync("NewsRssHeaderLink")
    @await Component.InvokeAsync("BlogRssHeaderLink")
    @*Favicon - upload favicon.ico file to the root directory*@
    @await Component.InvokeAsync("Favicon")
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }

    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
</head>
<body class="@currentPageClass @themeColor">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRLVKBR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-loader">
        <div class="loader"></div>
    </div>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NopScripts(this.Url, ResourceLocation.Footer)
    @Html.NopInlineScripts(this.Url, ResourceLocation.Footer)
    <!-- subscribe-newsletter modal -->
    @{
        var currentPageUrl = webHelper.GetThisPageUrl(false).ToLower();
        var isCheckoutPage = currentPageUrl.Contains("/cart") || currentPageUrl.Contains("/checkout/");
    }

    <div id="subscribe-newsletter-window" class="popup-newsletter modal fade" tabindex="-1" role="dialog"
         aria-labelledby="subscribe-newsletter-window-title">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="subscribe-modal-close" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="logo-content">
                        <img src="/images/uploaded/mazuma-mobile-new-logo.png" class="modal-logo" />
                    </div>
                    <h2>CONNECT WITH US</h2>
                    <p>BE THE FIRST TO KNOW ABOUT THE LATEST PRODUCTS, EXCLUSIVES AND OFFERS FROM MAZUMA</p>
                    <form id="newsletter-subscribe-form" action="subscribenewsletter" novalidate="novalidate">
                        <input class="widget-email" name="email" type="text" placeholder="EMAIL ADDRESS">
                        <input name="subscribe" type="hidden" value="true">
                        <input class="signup-btn-home" type="submit" value="SIGN UP">
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="footer-content">
                        By signing up you agree to Mazuma's <a href="/privacy-policy" class="footer-pp">Privacy Policy</a> &
                        <a href="/terms-and-conditions" class="footer-tc">Terms and Conditions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-back-button" id="goToTop"></div>

    <script>
        var windowObj = $(window);

        var lazyLoadAllImages = function () {
            var currentScrollTop = windowObj.scrollTop() + windowObj.outerHeight() + 100;

            $('img[data-lazyloadsrc]').not('[loadedimage]').each(function () {
                var that = $(this);

                if (that.offset().top < currentScrollTop) {
                    that.attr('src', that.attr('data-lazyloadsrc'));

                    that.attr('loadedimage', 'true');
                }
            });
        };

        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });

        function product_view(url, id, name, list) {
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': 'productClick',
                'ecommerce': {
                    'click': {
                        'actionField': { 'list': list },
                        'products': [{
                            'id': id,
                            'name': name
                        }]
                    }
                },
                'eventCallback': function () {
                    document.location = url
                }
            });
        };

        function remove_product(name, id, qty) {
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': 'removeFromCart',
                'ecommerce': {
                    'remove': {
                        'products': [{
                            'name': name,
                            'id': id,
                            'quantity': qty
                        }]
                    }
                }
            });
        };

        function onCheckoutOption(step) {
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                'event': 'checkout',
                'ecommerce': {
                    'checkout': {
                        'actionField': { 'step': step }
                    }
                }
            });
        };

        $(document).ready(function () {
            lazyLoadAllImages();
            windowObj.on('scroll', lazyLoadAllImages);

            window.onload = function () {
                if (window.maxUserNoOprationSeconds <= 0) {
                    return;
                }
                (function ($) {
                    funObj = {
                        checkUserNoOprationFun: 'checkUserNoOprationFun'
                    };
                    $[funObj.checkUserNoOprationFun] = function () {
                        var userTime = window.maxUserNoOprationSeconds || 00;
                        var objTime = {
                            init: 0,
                            time: function () {
                                objTime.init += 1;
                                if (objTime.init >= userTime) {
                                    objTime.clearEvent();
                                    window.$('#subscribe-newsletter-window').modal("show");
                                }
                            },
                            eventFun: function () {
                                clearInterval(testUser);
                                objTime.init = 0;
                                testUser = setInterval(objTime.time, 1000);
                            },
                            clearEvent: function () {
                                clearInterval(testUser);
                                objTime.init = 0;
                                body.removeEventListener("click", objTime.eventFun);
                                body.removeEventListener("keydown", objTime.eventFun);
                                body.removeEventListener("mousemove", objTime.eventFun);
                                body.removeEventListener("mousewheel", objTime.eventFun);
                            }
                        };
                        var testUser = setInterval(objTime.time, 1000);
                        var body = document.querySelector('html');
                        body.addEventListener("click", objTime.eventFun);
                        body.addEventListener("keydown", objTime.eventFun);
                        body.addEventListener("mousemove", objTime.eventFun);
                        body.addEventListener("mousewheel", objTime.eventFun);
                    };
                })(window);

                @if (showNewsletterModal) {
                    <text>
                        if (sessionStorage["PopupShown"] != 'yes') {
                            checkUserNoOprationFun();
                            sessionStorage["PopupShown"] = 'yes';
                        }
                    </text>
                }
            }

            $("#newsletter-subscribe-form").submit(function (e) {
                $.ajax({
                    type: "POST",
                    url: '/subscribenewsletter',
                    data: $("#newsletter-subscribe-form").serialize(),
                    success: function (data) {
                        alert(data.Result);
                    }
                });

                e.preventDefault();
            });
        });

    </script>
</body>
</html>


