﻿@{
    Layout = "_Root.Head";
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/moment/moment.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/moment/moment-timezone-with-data.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/jquery.countdown/jquery.countdown.min.js");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.cart.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.font.css");
}

@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

<div class="master-wrapper-page page-new-forcart">
    @*@await Component.InvokeAsync("AdminHeaderLinks")*@
    <div class="header">
        <div class="header-lower-cover">
            <div class="header-lower">
                <div class="header-left">
                    <div class="header-logo">
                        @*@await Component.InvokeAsync("Logo")*@
                        <a href="/" class="logo">
                            <img alt="Mazuma"
                                 data-lazyloadsrc="/images/uploaded/mazuma-mobile-new-logo.png"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" asp-location="Footer">
        (function () {
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        })();
    </script>
    <div class="overlayOffCanvas"></div>
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="mobile-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-wrap">
                <span>@T("Search")</span>
            </div>
            <div class="shopping-cart-link">
                <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
            </div>
        </div>
    </div>
    <div class="master-wrapper-content">
        @*@await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })*@
        @*@if (IsSectionDefined("Breadcrumb"))
        {
        @RenderSection("Breadcrumb")
        }*@
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @*@await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })*@
    </div>
    @*@await Component.InvokeAsync("Footer")*@
</div>
@*@await Component.InvokeAsync("EuCookieLaw")*@
@*@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })*@

<script asp-location="Footer">
    $(document).ready(function () {
        var timezone = 'Europe/London';
        var today = moment.tz(timezone);

        if (today.day() > 0 && today.day() < 6 && today.hour() >= 6 && today.hour() <= 14) {
            //var daysToAdd = 1;
            var daysToAdd = 0;

            //if (today.day() >= 5) {
            //daysToAdd = 8 - dayToday;
            //}

            var todayAt14 = moment.tz(moment.tz(timezone).add(daysToAdd, 'day').format('YYYY-MM-DD 15:00:00'), timezone);

            $('#next-delivery-countdown').addClass('active');

            $('.hidden-countdown').countdown(todayAt14.toDate())
                .on('update.countdown', function (event) {
                    var format = '<span class="countdown-timer"><span class="hrs">%H</span> hrs <span class="min">%M</span> min <span class="sec">%S</span> sec</span>';
                    if (event.offset.totalDays > 0) {
                        format = '<span class="day">%-d day%!d</span>&nbsp;' + format;
                    }
                    if (event.offset.weeks > 0) {
                        format = '<span class="wks">%-w week%!w</span>&nbsp;' + format;
                    }

                    format = '<span class="countdown-label">Order in&nbsp;</span>' + format + '&nbsp;for FREE delivery tomorrow';

                    $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function (event) {
                    $(this).html('');
                    $('.usp-item-text.delivery').text('Free Delivery');
                    $('.product-usp-item-text.delivery').text('Free Delivery');
                    $('.cart-usp-item-text.delivery').text('Free Delivery');
                });

            $('#next-delivery-countdown').countdown(todayAt14.toDate())
                .on('update.countdown', function (event) {
                    var format = '<span class="countdown-timer"><span class="hrs">%H</span> hrs <span class="min">%M</span> min <span class="sec">%S</span> sec</span>';
                    if (event.offset.totalDays > 0) {
                        format = '<span class="day">%-d day%!d</span>&nbsp;' + format;
                    }
                    if (event.offset.weeks > 0) {
                        format = '<span class="wks">%-w week%!w</span>&nbsp;' + format;
                    }

                    format = '<span class="countdown-label">Order in&nbsp;</span>' + format + '&nbsp;for FREE delivery tomorrow';

                    $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function (event) {
                    $(this).html('');
	            $('this').removeClass('active');
                    $('.usp-item-text.delivery').text('Free Delivery');
                    $('.product-usp-item-text.delivery').text('Free Delivery');
                    $('.cart-usp-item-text.delivery').text('Free Delivery');
                });
        } else {
            $('#next-delivery-countdown').html('');
            $('#next-delivery-countdown').removeClass('active');
            $('.usp-item-text.delivery').text('Free Delivery');
            $('.product-usp-item-text.delivery').text('Free Delivery');
            $('.cart-usp-item-text.delivery').text('Free Delivery');
        }
    });
</script>