@using Nop.Core
@using Nop.Web.Framework.UI
@inject IWorkContext workContext

@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
    var userAgent = Url.ActionContext.HttpContext.Request.Headers["User-Agent"];

    var isIe9 = false;
    if (!String.IsNullOrEmpty(userAgent) && userAgent.ToString().ToLower().IndexOf("MSIE 9.0", StringComparison.InvariantCultureIgnoreCase) > 0)
    {
        isIe9 = true;
    }

    if (isIe9)
    {
        Html.AppendCssFileParts("~/Themes/Venture/Content/css/ie9-fix.css");
    }

    var isIe10or11 = false;
    if (!String.IsNullOrEmpty(userAgent) &&
        (userAgent.ToString().IndexOf("MSIE 10", StringComparison.InvariantCultureIgnoreCase) > 0 || userAgent.ToString().IndexOf("MSIE 11", StringComparison.InvariantCultureIgnoreCase) > 0))
    {
        isIe10or11 = true;
    }

    if (isIe10or11)
    {
        Html.AppendCssFileParts("~/Themes/Venture/Content/css/ie10-11-fix.css");
    }

    if (!String.IsNullOrEmpty(userAgent) && userAgent.ToString().IndexOf("Safari", StringComparison.InvariantCultureIgnoreCase) > 0 && userAgent.ToString().IndexOf("Chrome", StringComparison.InvariantCultureIgnoreCase) == -1)
    {
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/safari-fix.css");
    }

    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css");
    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/1200.rtl.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/768.rtl.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/480.rtl.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/mobile.rtl.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/styles.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/1200.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/768.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/480.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/mobile.css");
        Html.AppendCssFileParts("~/Themes/Venture/Content/CSS/styles.css");
    }
    Html.AppendCssFileParts($"~/Themes/Venture/Content/css/mazumaShop.css");
    Html.AppendCssFileParts($"~/Themes/Venture/Content/iconfonts/iconfont.css");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/perfect-scrollbar.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/cookiehelper.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/Venture/Content/scripts/venture.js");
}

<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700" rel="stylesheet">-->

<link href="//buy.mazumamobile.com" rel="dns-prefetch" />
<link href="//js.braintreegateway.com" rel="dns-prefetch" />
<link href="//www.paypalobjects.com" rel="dns-prefetch" />
<link href="//liveshop3.azureedge.net" rel="dns-prefetch" />
<link href="//fonts.googleapis.com" rel="dns-prefetch" />
<link href="//www.google-analytics.com" rel="dns-prefetch" />
<link href="//www.googletagmanager.com" rel="dns-prefetch" />
<link href="//v2.zopim.com" rel="dns-prefetch" />
<link href="//sg12.zopim.com" rel="dns-prefetch" />
<link href="//www.google.com" rel="dns-prefetch" />
<link href="//www.mazumamobile.com" rel="dns-prefetch" />

<!-- Google Fonts -->
<script type="text/javascript">
    WebFontConfig = {
        google: { families: ['Fjalla+One', 'Lato', 'Roboto:300,400,500,600,700:latin', 'Montserrat:300,400,500,600,700:latin'] }
    };
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

<script src="//script.crazyegg.com/pages/scripts/0080/1744.js" async="async"></script>

<!-- Webgains Tracking Code -->
<script>
    (function (w, e, b, g, a, i, n, s) { w['ITCLKOBJ'] = a; w[a] = w[a] || function () { (w[a].q = w[a].q || []).push(arguments) }, w[a].l = 1 * new Date(); i = e.createElement(b), n = e.getElementsByTagName(b)[0]; i.async = 1; i.src = g; n.parentNode.insertBefore(i, n) })(window, document, 'script', 'https://analytics.webgains.io/clk.min.js', 'ITCLKQ');
    ITCLKQ('set', 'internal.api', true);
    ITCLKQ('set', 'internal.cookie', true);
    ITCLKQ('click');
</script>

<!-- Hotjar Tracking Code -->
<script>
    (function (h, o, t, j, a, r) {

        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };

        h._hjSettings = { hjid: 1055938, hjsv: 6 };

        a = o.getElementsByTagName('head')[0];

        r = o.createElement('script'); r.async = 1;

        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;

        a.appendChild(r);

    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =

            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.

                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");

        $.src = "https://v2.zopim.com/?5o7I8iPONipMQGR8CcotSNQHSN1tAqs6"; z.t = +new Date; $.

            type = "text/javascript"; $.async = "true"; e.parentNode.insertBefore($, e)
    })(document, "script");
</script>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WRLVKBR');
</script>
<!-- End Google Tag Manager -->