﻿@model VentureThemeSettingsModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Core/Areas/Admin/Content/Styles/adminstyles.css");
    Html.AppendCssFileParts("~/Plugins/SevenSpikes.Theme.Venture/Areas/Admin/Content/Styles/admin.css");

    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Areas/Admin/Content/Scripts/custom.presets.min.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Theme.Venture/Areas/Admin/Content/Scripts/admin.min.js");

    Html.SetActiveMenuItemSystemName("SevenSpikes.Themes.Admin.SettingsSubmenu.Venture");
}

<form method="post">
    <nop-antiforgery-token />

    <script type="text/javascript">
        $(document)
            .ready(function () {
                $("#@Html.IdFor(model => model.LogoImageId_OverrideForStore)").change(logoOverrideChanged);
                $("#@Html.IdFor(model => model.Preset_OverrideForStore)").change(colorPreset);
                $("#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)").change(saleOfTheDayBackgroundImageChanged);

                $('.store-scope-configuration .checkbox input').change(function () {
                    logoOverrideChanged();
                    colorPreset();
                    saleOfTheDayBackgroundImageChanged();
                });

                logoOverrideChanged();
                colorPreset();
                saleOfTheDayBackgroundImageChanged();

                var customerPresetObj = new CustomPreset('.theme-color .radionButton:last label',
                    '.theme-color .radionButton label');
                customerPresetObj.setPresetsBackgroundColor();
                customerPresetObj.addKendoColorPickerToTheLastRadioButton();

            });

        function logoOverrideChanged() {
            if ($('#@Html.IdFor(model => model.LogoImageId_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.LogoImageId_OverrideForStore)').is(':checked') == true) {
                $("#logo-image .upload-image-overlay").remove();
            } else {
                $('#logo-image').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

        function colorPreset() {
            if ($('#@Html.IdFor(model => model.Preset_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.Preset_OverrideForStore)').is(':checked') == true) {
                $(".theme-color .adminData .upload-image-overlay").remove();
            } else {
                $('.theme-color .adminData').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

        function saleOfTheDayBackgroundImageChanged() {
            if ($('#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)').is(':checked') == true) {
                $("#sale-of-the-day-title-image .upload-image-overlay").remove();
            } else {
                $('#sale-of-the-day-title-image').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

    </script>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Themes.Venture.Admin.Settings")
        </h1>
        <div class="pull-right">
            @await Html.PartialAsync(AdminViewLocations.AdminResetDefaultSettingsViewPath, Plugin.FolderName)
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <nop-tabs id="pavilion-settings-edit" data-logoImageId="#@Html.IdFor(model => model.LogoImageId_OverrideForStore)" data-presetfieldId="#@Html.IdFor(model => model.Preset_OverrideForStore)">
                <nop-tab asp-name="tab-info" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.GeneralSettings")" asp-default="true">@await Html.PartialAsync("_Settings.General", Model)</nop-tab>
                <nop-tab asp-name="tab-additional" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.AdditionalSettings")">@await Html.PartialAsync("_Settings.Additional", Model)</nop-tab>
                <nop-tab asp-name="tab-map" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.MapSettings")">@await Html.PartialAsync("_Settings.Map", Model)</nop-tab>
                <nop-tab asp-name="tab-info-boxes" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.InfoBoxesSettings")">@await Html.PartialAsync("_Settings.InfoBoxes", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>