﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Orders

@using Nop.Core.Domain.Customers
@using Nop.Services.Common

@inject IStoreContext storeContext
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IGenericAttributeService genericAttributeService
@inject Nop.Web.Factories.IShoppingCartModelFactory shoppingCartModelFactory
@inject Nop.Web.Factories.IAddressModelFactory addressModelFactory
@inject Nop.Core.Domain.Common.AddressSettings addressSettings
@{
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.cart.css");
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Themes/Venture/Content/CSS/theme.custom.checkout.css");
    //Html.AddCssFileParts("~/lib/bootstrap/css/bootstrap.min.css");
    Html.AddScriptParts("~/lib/bootstrap/bootstrap.min.js");
    var cart = workContext.CurrentCustomer.ShoppingCartItems
                .Where(sci => sci.ShoppingCartType == ShoppingCartType.ShoppingCart)
                .LimitPerStore(storeContext.CurrentStore.Id)
                .ToList();
    var orderTotals = shoppingCartModelFactory.PrepareOrderTotalsModel(cart, false);

    //shippingAddress
    var addressLine_s = "";
    var addressLine_b = "";
    var isSameAddress = false;

    var address_s = workContext.CurrentCustomer.ShippingAddress;
    if (address_s != null)
    {
        var addressModel_s = new AddressModel();
        addressModelFactory.PrepareAddressModel(addressModel_s, address: address_s, excludeProperties: false, addressSettings: addressSettings);

        addressLine_s += addressModel_s.FirstName;
        addressLine_s += " " + addressModel_s.LastName;
        if (addressModel_s.StreetAddressEnabled && !string.IsNullOrEmpty(addressModel_s.Address1))
        {
            addressLine_s += ", " + addressModel_s.Address1;
        }
        if (addressModel_s.CityEnabled && !string.IsNullOrEmpty(addressModel_s.City))
        {
            addressLine_s += ", " + addressModel_s.City;
        }
        if (addressModel_s.StateProvinceEnabled && !string.IsNullOrEmpty(addressModel_s.StateProvinceName))
        {
            addressLine_s += ", " + addressModel_s.StateProvinceName;
        }
        if (addressModel_s.ZipPostalCodeEnabled && !string.IsNullOrEmpty(addressModel_s.ZipPostalCode))
        {
            addressLine_s += " " + addressModel_s.ZipPostalCode;
        }
        if (addressModel_s.CountryEnabled && !string.IsNullOrWhiteSpace(addressModel_s.CountryName))
        {
            addressLine_s += ", " + addressModel_s.CountryName;
        }
    }

    //billingAddress
    var address_b = workContext.CurrentCustomer.BillingAddress;
    if (address_b != null)
    {
        isSameAddress = (workContext.CurrentCustomer.ShippingAddress != null) && (workContext.CurrentCustomer.ShippingAddress.Id == workContext.CurrentCustomer.BillingAddress.Id);
        if (!isSameAddress)
        {
            var addressModel_b = new AddressModel();
            addressModelFactory.PrepareAddressModel(addressModel_b, address: address_b, excludeProperties: false, addressSettings: addressSettings);
            addressLine_b += addressModel_b.FirstName;
            addressLine_b += " " + addressModel_b.LastName;
            if (addressModel_b.StreetAddressEnabled && !string.IsNullOrEmpty(addressModel_b.Address1))
            {
                addressLine_b += ", " + addressModel_b.Address1;
            }
            if (addressModel_b.CityEnabled && !string.IsNullOrEmpty(addressModel_b.City))
            {
                addressLine_b += ", " + addressModel_b.City;
            }
            if (addressModel_b.StateProvinceEnabled && !string.IsNullOrEmpty(addressModel_b.StateProvinceName))
            {
                addressLine_b += ", " + addressModel_b.StateProvinceName;
            }
            if (addressModel_b.ZipPostalCodeEnabled && !string.IsNullOrEmpty(addressModel_b.ZipPostalCode))
            {
                addressLine_b += " " + addressModel_b.ZipPostalCode;
            }
            if (addressModel_b.CountryEnabled && !string.IsNullOrWhiteSpace(addressModel_b.CountryName))
            {
                addressLine_b += ", " + addressModel_b.CountryName;
            }
        }
    }

    var insurenceShoppingCartItems = workContext.CurrentCustomer.GetAttribute<string>(
                SystemCustomerAttributeNames.SelectedShoppingCartItemWithInsurence,
                genericAttributeService, storeContext.CurrentStore.Id);
    List<string> insurances = !string.IsNullOrEmpty(insurenceShoppingCartItems) ? insurenceShoppingCartItems.Split(',').ToList() : new List<string>();
}

<div class="check-out-summary">
    <div class="summary-order-box">
        <div class="your-order">
            <h4>Your order</h4>
            <div class="your-order-info">
                @foreach (var item in Model.Items)
                {
                    <div class="checkout-product">
                        <div class="pro-info-box">
                            <div class="sum-row pro-info">
                                <div class="pro-picture">
                                    <img alt="@item.Picture.AlternateText" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazyloadsrc="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    <span>@item.Quantity</span>
                                </div>
                                <div class="pro-detail">
                                    <div class="pro-name">@item.ProductName</div>
                                    <div class="pro-attr">@Html.Raw(item.AttributeInfo)</div>
                                </div>
                                <div class="pro-price">@item.SubTotal</div>
                            </div>
                        </div>

                        @if (insurances.Contains(item.Id.ToString()))
                        {
                            <div class="other-info-box">
                                <div class="sum-row other-info m-warranty">
                                    <div class="info-title defect_warranty">
                                        Insurance
                                    </div>
                                    @{ 
                                        var insurancePrice = $"£{Nop.Services.Catalog.RoundingHelper.RoundPrice(item.InsurancePrice)}*";
                                    }
                                    <div class="info-value">@insurancePrice</div>
                                </div>
                                <div class="sum-row other-info m-date">
                                    <span>No payment will taken today.</span>
                                </div>
                            </div>
                        }
                        
                        <div class="other-info-box">
                            <div class="sum-row other-info m-warranty">
                                <div class="info-title defect_warranty">
                                    12 Months Warranty
                                </div>
                                <div class="info-value">Included</div>
                            </div>
                            <div class="sum-row other-info m-date">
                                <span>Next Day Delivery</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="order-total-box">
    <div class="sum-row sum-total">
        <div class="info-title">TOTAL</div>
        <div class="info-value">@orderTotals.OrderTotal</div>
    </div>
</div>
<div class="sum-addresses">
    <div class="sum-shipping-box">
        <div class="sum-addr-title">Ship To</div>
        <div class="sum-addr-content">@addressLine_s</div>
    </div>
    @if (!isSameAddress)
    {
        <div class="sum-billing-box">
            <div class="sum-addr-title">Bill To</div>
            <div class="sum-addr-content">@addressLine_b</div>
        </div>
    }
</div>
<script>
    $(function () {
        $(".defect_warranty").click(function () {
            $("#defect_warranty_modal").modal("show");
        });
    });
</script>