﻿@model DiscountModel

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_discount_details_applied_to_products_top", additionalData = Model.Id })
    <div class="panel panel-default">
        @if (Model.Id > 0)
        {
            <div class="panel-body">
                <div id="productskus-grid"></div>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#productskus-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductSkuList", "Discount", new {discountId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("ProductSkuDelete", "Discount", new {discountId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "ProductId",
                                        fields: {
                                            ProductName: { editable: false, type: "string" },
                                            ProductId: { editable: false, type: "number" },
                                            AttributesXml: { editable: false, type: "string" },
                                            Warnings: { editable: false, type: "string" },
                                            ProductSku: { editable: true, type: "string" },
                                        }
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false,
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "ProductName",
                                    title: "@T("Admin.Promotions.Discounts.AppliedToProducts.Product")"
                                }, {
                                    field: "AttributesXml",
                                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Attributes")",
                                    width: 400,
                                    template: "#=AttributesXml# # if(Warnings !== null) {# <div><span style=\"color: red\">#=Warnings#</span></div> #}  #",
                                    encoded: false
                                }, {
                                    field: "ProductSku",
                                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Sku")",
                                    width: 200
                                }, {
                                    field: "ProductId",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }, {
                                    command: [
                                        {
                                            name: "destroy",
                                            text: "@T("Admin.Common.Delete")"
                                        }
                                    ],
                                    width: 150
                                }
                            ]
                        });
                    });
                </script>
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewProduct" onclick="javascript:OpenWindow('@(Url.Action("ProductSkuAddPopup", "Discount", new {discountId = Model.Id, btnId = "btnRefreshProductSkus", formId = "discount-form"}))', 800, 800, true); return false;" class="btn btn-primary">
                    @T("Admin.Promotions.Discounts.AppliedToProductSkus.AddNew")
                </button>
                <input type="submit" id="btnRefreshProductSkus" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#btnRefreshProductSkus').click(function() {
                            //refresh grid
                            var grid = $("#productskus-grid").data('kendoGrid');
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        }
        else
        {
            <div class="panel-body">
                @T("Admin.Promotions.Discounts.AppliedToProducts.SaveBeforeEdit")
            </div>
        }
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_discount_details_applied_to_products_bottom", additionalData = Model.Id })
</div>