﻿@model DiscountModel.AddProductSkuToDiscountModel
@inject AdminAreaSettings adminAreaSetting

@{
    Layout = "_AdminPopupLayout";

    var popupGridPageSize = adminAreaSetting.PopupGridPageSize;

    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts.AppliedToProductSkus.AddNew").Text;
}

<form asp-controller="Discount" asp-action="ProductSkuAddPopup"
      asp-route-discountId="@Context.Request.Query["discountId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Discounts.AppliedToProductSkus.AddNew")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>

    @if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
            catch (e){}
            window.close();
        </script>
    }

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchProductName" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchProductName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchSku" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-editor asp-for="SearchSku" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-products" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="products-grid"></div>

                        <script type="text/javascript">
                        $(document).ready(function () {
                            $("#products-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ProductSkuAddPopupList", "Discount"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                        //,model: {
                                        //    id: "Id",
                                        //    fields: {
                                        //        ProductId: { editable: false, type: "number" },
                                        //        AttributesXml: { editable: false, type: "string" },
                                        //        ProductName: { editable: false, type: "string" },
                                        //        Warnings: { editable: false, type: "string" },
                                        //        StockQuantity: { editable: true, type: "number" },
                                        //        AllowOutOfStockOrders: { editable: true, type: "boolean" },
                                        //        Sku: { editable: true, type: "string" },
                                        //        ManufacturerPartNumber: { editable: true, type: "string" },
                                        //        Gtin: { editable: true, type: "string" },
                                        //        OverriddenPrice: { editable: true, type: "number" },
                                        //        NotifyAdminForQuantityBelow: { editable: true, type: "number" },
                                        //        Id: { editable: false, type: "number" }
                                        //    }
                                        //}
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(popupGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "Sku",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' name='SelectedProductSkus' value='#=Sku#' class='checkboxGroups' />",
                                    attributes: { style: "text-align:center" },
                                    width: 50
                                }, {
                                    field: "ProductName",
                                    title: "@T("Admin.Catalog.Products.Fields.Name")"
                                },{
                                    field: "AttributesXml",
                                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Attributes")",
                                    width: 400,
                                    template: "#=AttributesXml# # if(Warnings !== null) {# <div><span style=\"color: red\">#=Warnings#</span></div> #}  #",
                                    encoded: false
                                }, {
                                    field: "Sku",
                                    title: "@T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations.Fields.Sku")",
                                    width: 200
                                }]
                            });
                        });
                        </script>

                        <script type="text/javascript">
                        $(document).ready(function() {
                            $('#search-products').click(function() {
                                var grid = $('#products-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                return false;
                            });

                            $("#@Html.IdFor(model => model.SearchProductName)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-products").click();
                                    return false;
                                }
                            });

                            $("#@Html.IdFor(model => model.SearchSku)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-products").click();
                                    return false;
                                }
                            });

                            //wire up checkboxes
                            $('#mastercheckbox').click(function() {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
                                updateMasterCheckbox();
                            });
                        });

                        function additionalData() {
                            var data = {
                                SearchProductName: $('#@Html.IdFor(model => model.SearchProductName)').val(),
                                SearchSku: $('#@Html.IdFor(model => model.SearchSku)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }
                        </script>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>