﻿@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Ecorenew.CustomMessageTemplates.Models;

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="CustomMessageTemplates" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="custom-message-template-edit">
                <nop-tab asp-name="tab-custom-message-template-event" asp-title="@T("Plugins.Ecorenew.CustomMessageTemplates.Title")" asp-default="true">@await Html.PartialAsync("~/Plugins/Ecorenew.CustomMessageTemplates/Views/_Configure.CustomMessageTemplates.cshtml", Model)</nop-tab>
            </nop-tabs>
        </div>
    </div>
</form>
