@model AttachmentsSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;
    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.NopAttachments.Admin.Submenus.Settings");
}

<form method="post">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.NopAttachments.Admin.Settings")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Enable_OverrideForStore" asp-input="Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Enable" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Enable" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreFilesInDatabase" />
                            </div>
                            <div class="col-md-1">
                                <div class="form-text-row">
                                    @if (Model.StoreFilesInDatabase)
                                    {
                                        @T("SevenSpikes.Plugins.NopAttachments.Admin.Settings.StoreFilesInDatabase.Database")
                                    }
                                    else
                                    {
                                        @T("SevenSpikes.Plugins.NopAttachments.Admin.Settings.StoreFilesInDatabase.FileSystem")
                                    }
                                </div>
                            </div>
                            <div class="col-md-8">
                                <button type="submit" id="change-file-storage" name="change-file-storage" onclick="return confirm('@T("Admin.Common.AreYouSure")    ');" class="btn btn-primary">
                                    @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")
                                </button>
                                <nop-action-confirmation asp-button-id="change-picture-storage" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <div class="callout bg-gray-light no-margin">@T("SevenSpikes.Plugins.NopAttachments.Admin.Settings.StoreFilesInDatabase.Note")</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ProductAttachmentsPanelTitle_OverrideForStore" asp-input="ProductAttachmentsPanelTitle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ProductAttachmentsPanelTitle" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProductAttachmentsPanelTitle" />
                                <span asp-validation-for="ProductAttachmentsPanelTitle"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="WidgetZone_OverrideForStore" asp-input="WidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="WidgetZone" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="WidgetZone" asp-items="Model.SupportedWidgetZones" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="GroupAttachmentsByCategory_OverrideForStore" asp-input="GroupAttachmentsByCategory" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="GroupAttachmentsByCategory" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="GroupAttachmentsByCategory" />
                                <span asp-validation-for="GroupAttachmentsByCategory"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AddFilesInOrderCompleteEmails_OverrideForStore" asp-input="AddFilesInOrderCompleteEmails" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AddFilesInOrderCompleteEmails" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddFilesInOrderCompleteEmails" />
                                <span asp-validation-for="AddFilesInOrderCompleteEmails"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AddFilesInOrderPlaceEmails_OverrideForStore" asp-input="AddFilesInOrderPlaceEmails" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AddFilesInOrderPlaceEmails" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddFilesInOrderPlaceEmails" />
                                <span asp-validation-for="AddFilesInOrderPlaceEmails"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="OpenLinksInNewWindow_OverrideForStore" asp-input="OpenLinksInNewWindow" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="OpenLinksInNewWindow" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="OpenLinksInNewWindow" />
                                <span asp-validation-for="OpenLinksInNewWindow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>