﻿.facebook-btn {
    border-color: transparent;
    background-color: #385499;
    color: #FFF;
    margin: 4px;
    position: relative;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0,89,153,0);
    box-shadow: 0 0 0 0 rgba(0,149,255,0);
}

    .facebook-btn:hover, .facebook-btn:focus {
        background-color: #314a86;
        color: rgba(255,255,255,0.95);
    }

    .facebook-btn svg {
        vertical-align: initial;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
        transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
        border-color: #385499;
        background-color: #385499;
        color: #FFF;
    }
        .facebook-btn svg path {
            fill: currentColor;
        }