
/* INSTANT SEARCH RESET */

span.k-widget.k-autocomplete.k-header.search-box-text.k-state-default {
    width: auto !important;
    border-radius: 0;
    margin: 0;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    padding: 0 !important;
}
.search-box input.search-box-text {
    width: 200px !important;
    padding: 8px;
    line-height: 1;
    border-radius: 0 !important;
    height: 34px;
    box-sizing: border-box;
    text-indent: 0 !important;
    margin: 0;
    border: 0;
}
.search-box-text .k-icon {
    display: none !important;
}
.instantSearch .k-list-container {
    border: 0 !important;
}
.instantSearch .k-item {
    padding: 0 !important;
    font-size: inherit !important;
    border-top: 1px solid #ddd !important;
}
    .instantSearch .k-item:first-child {
        border: 0 !important;
    }
.instant-search-item .detail .title {
    line-height: normal;
}

/* submit ticket button in order details page */
.order-details-page .product .submit-ticket{
    margin:6px 0;
}
.order-details-page .product .submit-ticket-button{
    font-size:12px;
    height:20px;
    color:#4ab2f1;
    background: none;
    border:none;
}
.order-details-page .product .submit-ticket-button:hover{
   text-decoration:underline;
}

@media all and (min-width: 481px) {

    .search-box input.search-box-text {
        width: 260px !important;
    }

}

@media all and (min-width: 1025px) {

    .search-box input.search-box-text {
        height: 38px !important;
    }

    .label-wrapper {
        display: inline-block;
    }

}



/* PRODUCT PAGE */

.overview .submit-ticket-button {
    background: #eaeaea url(images/icon-submit.png) no-repeat 13px center;
}



/* block styles */

.block .list li#newTicket {
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}
.block .list li#newTicket:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;        
}
.block .list li#newTicket:first-child ~ #manageTickets {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;       
}



/* main styles */

.ticketing-page input[type="text"], 
.ticketing-page input[type="password"], 
.ticketing-page textarea, 
.ticketing-page select {
    height: 40px;
}
.ticketing-page .inputs label {
    white-space: normal;
}
.ticketing-page .message-error,
.ticketing-page .field-validation-error,
.ticketing-page .username-not-available-status,
.ticketing-page .poll-vote-error,
.ticketing-page .password-error {
    clear: both;
}

.inputs .k-widget.k-multiselect.k-header {
    width: 400px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    box-shadow: none;
    background: 0;
}
.inputs .k-multiselect-wrap.k-floatwrap {
    height: auto;
    border: 0;
    background: 0;
    border-radius: 0;
}
ul#TicketModelTicketProductIds_taglist,
#TicketProducts_taglist,
ul#product-field_taglist,
#customer-field_taglist {
    overflow: hidden;
}
ul#TicketModelTicketProductIds_taglist li.k-button,
#TicketProducts_taglist li.k-button,
ul#product-field_taglist li.k-button,
#customer-field_taglist li.k-button {
    margin: 0 5px 5px 0;
    font-size: 12px;
    background: 0;
    border-radius: 0;
    border: 0;
    padding: 0 20px 0 0;
    text-align: left;
    position: relative;
}
    ul#TicketModelTicketProductIds_taglist li.k-button span,
    #TicketProducts_taglist li.k-button span,
    ul#product-field_taglist li.k-button span,
    #customer-field_taglist li.k-button span {
        display: inline-block;
        vertical-align: middle;
    }
    ul#TicketModelTicketProductIds_taglist span.k-icon.k-delete,
    #TicketProducts_taglist span.k-icon.k-delete,
    ul#product-field_taglist span.k-icon.k-delete,
    #customer-field_taglist span.k-icon.k-delete {
        position: absolute;
        top: 50%;
        right: 2px;
        margin-top: -8px;
    }
.inputs .k-multiselect-wrap .k-input {
    margin: 0;
    padding: 10px 8px;
    color: #aaa;
    width: 100% !important;
    border: 1px solid #ddd;
    background: #fff;
    box-sizing: border-box;
    height: 40px;
}
.k-autocomplete .k-loading, .k-multiselect .k-loading {
    right: 8px;
    bottom: 50%;
    margin-bottom: -8px;
}

.k-widget, 
.k-widget *,
.k-widget *:before,
.k-block .k-header {
    box-sizing: border-box !important;
}
.k-popup.k-list-container, .k-popup.k-calendar-container {
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.k-popup .k-list .k-item {
    font-size: 14px;
    padding: 8px;
}
.k-popup .k-list .k-state-hover, 
.k-popup .k-list .k-state-focused, 
.k-popup .k-list .k-state-selected {
    background: #f6f6f6;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    color: #2e2e2e;
}

.k-widget.k-tooltip {
    background: #ddd;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 7px 14px;
    text-align: left;
    color: #444;
    line-height: 1.3;
}



/* table styles */

label[for=TicketModel_Message] + table,
label[for=SubmitReplyModel_ReplyMessage] + table,
label[for=SubmitTicketNoteModel_NoteContent] + table,
label[for=Content] + table,
.label-wrapper + table{
    display: inline-table;
}
table.k-editor {
    border-collapse: collapse;
    border-color: #ddd;
    background: #f9f9f9;
}
.k-autocomplete.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused {
    box-shadow: none;
}
.k-webkit .k-editor-toolbar, 
.k-ff .k-editor-toolbar, 
.k-ie9 .k-editor-toolbar {
    white-space: normal;
    text-align: left;
}
.k-webkit .k-editor-toolbar li, 
.k-ff .k-editor-toolbar li, 
.k-ie9 .k-editor-toolbar li, 
.k-ie10 .k-editor-toolbar li {
    /*margin: 5px;*/
    vertical-align: middle;
}

.k-state-selected, 
.k-state-selected:link, 
.k-state-selected:visited, 
.k-list > .k-state-selected, 
.k-list > .k-state-highlight, 
.k-panel > .k-state-selected, 
.k-ghost-splitbar-vertical, 
.k-ghost-splitbar-horizontal, 
.k-draghandle.k-state-selected:hover, 
.k-scheduler .k-scheduler-toolbar .k-state-selected, 
.k-scheduler .k-today.k-state-selected, 
.k-marquee-color {
    background: #aaa;
}
.k-button-group .k-tool.k-state-hover, .k-button-group .k-tool:focus {
  background: #bbb;
}
span.k-widget.k-dropdown.k-header.k-editor-widget {
    background: 0;
}
span.k-dropdown-wrap.k-state-default {
    border: 0;
    font-size: 12px;
    background: none;
    padding: 0;
}
span.k-dropdown-wrap.k-state-default .k-input {
    position: relative;
    line-height: 1;
    height: auto;
    padding: 10px 20px 10px 0;
    text-align: left;
}
    span.k-dropdown-wrap.k-state-default .k-input:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 6px;
        background: url(images/icon-select.png) no-repeat center;
    }
    span.k-dropdown-wrap.k-state-default .k-select {
        display: none;
    }
.k-editor .k-editable-area {
    border-color: #ddd;
    padding: 15px 10px;
}

.k-button-group .k-tool {
    border-color: #c5c5c5 !important;
}
.k-ct-popup.k-popup.k-group.k-reset.k-state-border-up {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
}
span.k-ct-cell.k-state-disabled.k-state-selected {
    background: #ddd;
    border: 1px solid #bbb;
}



/* upload */

.ticketing-page .inputs.upload {
    margin: 0;
}
.inputs.upload .k-button.k-upload-button {
    padding: 0;
    border: 0;
    background: 0;
    border-radius: 0;
}
.inputs.upload .k-button.k-upload-button span {
    font-size: 14px;
    display: block;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 20px;
    background: #888;
}
.inputs.upload .k-widget.k-upload.k-header.k-upload-sync {
    border:0;
    background: 0;
    border-radius: 0;
}
.inputs.upload ul.k-upload-files.k-reset {
    border: 0;
    margin: 20px 0 0;
}
.inputs.upload .k-file {
    border: 0;
    background: 0;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
    .inputs.upload .k-file:first-child {
        border: 0;
    }
.inputs.upload .k-icon {
    float: left;
}
.inputs.upload .k-filename {
    float: left;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    padding: 0;
}
.inputs.upload .k-upload-status {
  top: 50%;
  margin-top: -8px;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-button:focus:not(.k-state-disabled):not([disabled]) {
    box-shadow: none !important;
}

.page-body form > .buttons .k-button {
    background: #4ab2f1;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    padding: 13px 20px;
    box-shadow: none !important;
    border-radius: 0;
}
.page-body form > .buttons .k-button:hover {
    background: #248ece;
}



/* modal window styles */

.k-widget.k-window.confirmation-wrapper {
    padding-top: 0 !important;
    border: 0;
    border-radius: 0;
}
.k-window.confirmation-wrapper .k-window-titlebar.k-header {
    position: relative;
    margin: 0 !important;
    display: block;
    font-size: 18px;
    color: #444;
    background: #efefef;
    border-bottom: 1px solid #ddd;
    padding: 12px 36px 12px 12px;
    width: auto;
}
.k-window.confirmation-wrapper .k-window-titlebar .k-window-actions {
    top: 16px;
    right: 14px;
    font-size: 0;
}
.k-editor-dialog.k-popup-edit-form.k-edit-form-container.k-window-content.k-content {
    padding: 20px 5px;
}
.k-edit-buttons.k-state-default {
    border: 0;
}
.k-edit-buttons.k-state-default .k-button {
    border: 0;
    border-radius: 0;
    background: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 9px 18px;
    text-transform: uppercase;
}
.k-edit-buttons.k-state-default button.k-dialog-insert.k-button {
    background: #4ab2f1;
}
.k-edit-buttons.k-state-default button.k-dialog-close.k-button {
    background: #888;
}



/* view ticket */

.ticket-information {
    padding: 0 10px;
    margin: 0 0 20px;
}
.ticket-information .ticket-title {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px;
}
.ticket-information .ticket-date {
    color: #888;
}
.ticket-buttons .k-button {
    position: relative;
    border-radius: 0;
    border: 0;
    font-size: 14px;
    color: #444;
    background: #eee;
    line-height: 1;    
    padding: 11px 18px 11px 35px;
}
.ticket-buttons .tb-left {
    margin: 0 0 15px;
}
button.ticket-info-button.k-button:before {
    content: "i";
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    width: 17px;
    height: 17px;
    text-align: center;
    border: 2px solid #bbb;
    font-size: 12px;
    line-height: 15px;
    color: #bbb;
    border-radius: 50%;
    font-family: 'Times New Roman';
}
.ticket-buttons .tb-right .k-button {
    margin: 0 0 5px;
}
.ticket-buttons .tb-right .k-button:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
}
    .ticket-buttons .tb-right .k-button.show-reply-button:before {
        background-image: url(images/icon-reply.png);
    }
    .ticket-buttons .tb-right .k-button.mark-resolved-button:before {
        background-image: url(images/icon-resolved.png);
    }
    .ticket-buttons .tb-right .k-button.notes-button:before {
        background-image: url(images/icon-notes.png);
    }
    .ticket-buttons .tb-right .k-button.edit-ticket-button:before {
        background-image: url(images/icon-edit.png);
    }
    .ticket-buttons .tb-right .k-button.delete-ticket-button:before {
        background-image: url(images/icon-delete.png);
    }
#ticket-details,
#submit-reply {
    display: none;
}
#ticket-details,
.ticket-comments {
    margin: 25px 0 0;
}
#ticket-details {
    padding: 20px;
    background: #fff;
    text-align: left;
    border: 1px solid #ddd;
}
#ticket-details .details-list {
    margin: 25px 0 0;
}
    #ticket-details .details-list:first-child {
        margin: 0;
    }
#ticket-details .details-item {
    margin: 5px 0 0;
}
    #ticket-details .details-item:first-child {
        margin: 0;
    }
#ticket-details .details-label {
    color: #888;
    margin-right: 5px;
}
#ticket-details .detail-value {
    color: #444;
}
#submit-reply .buttons {
    margin: 25px 0 0;
}
#submit-reply .buttons .k-button {
    margin: 0 0 5px;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 9px 18px;
    text-transform: uppercase;
    background: #4ab2f1;
}

.ticket-comments .ticket-comment {
    border: 1px solid #ddd;
    border-top: 0;
    text-align: left;
}
.ticket-comments .ticket-comment.grey {
    background-color: #fbfbfb;
}
.ticket-comments .ticket-comment:first-child {
    border-top: 1px solid #ddd;
}
.ticket-comments .comment-header {
    background: #f6f6f6;
    padding: 12px;
}
.ticket-comments .comment-header .left {
    margin: 0 0 10px;
}
.ticket-comments .comment-header .left a {
    color: #4ab2f1;
}
.ticket-comments .comment-header .edit-comment {
    position: relative;
    padding-left: 24px;
    margin-left: 10px;
}
.ticket-comments .comment-header .edit-comment:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    background: url(images/icon-edit.png) no-repeat center;
}
.ticket-comments .comment-body {
    padding: 20px 20px 30px;
}
.ticket-comments .attachment-content {
    border-top: 1px solid #eee;
    padding: 20px;
}
.ticket-comments .attachment-content li {
    margin: 7px 0 0;
}
.ticket-comments .attachment-content li:first-child {
    margin: 0;
}
    .ticket-comments .attachment-content a:hover {
        text-decoration: underline;
    }



/* notes */

.view-ticket-notes-page .ticket-buttons .k-button {
    padding: 11px 18px;
}



/* edit ticket */

.edit-ticket-page span.k-dropdown-wrap.k-state-default .k-input {
    padding: 13px 20px 13px 7px;
    font-size: 14px;
}
.edit-ticket-page span.k-widget.k-dropdown.k-header {
    width: 400px;
    border-radius: 0;
    background: #fff;
    border: 1px solid #ddd;
}
.edit-ticket-page span.k-dropdown-wrap.k-state-default .k-input:after {
    right: 6px;
}



/* my/manage tickets */

.my-tickets-page .page-title,
.manage-tickets-page .page-title {
    margin: 0;
}
.my-tickets-page .grid-filters,
.manage-tickets-page .grid-filters {
    margin: 0 0 60px;
}
.my-tickets-page .filter-list,
.manage-tickets-page .filter-list {
    padding: 25px 20px;
    background: #f9f9f9;
    margin: 0 0 25px;
}
.my-tickets-page .filters-buttons,
.manage-tickets-page .filters-buttons {
    text-align: center;
}
.my-tickets-page .clear-filters,
.manage-tickets-page .clear-filters {
    background: #4ab2f1;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    padding: 13px 20px;
    box-shadow: none !important;
    border-radius: 0;
}
.my-tickets-page .clear-filters:hover,
.manage-tickets-page .clear-filters:hover {
    background: #248ece;
}

.my-tickets-page .filter-item,
.manage-tickets-page .filter-item {
    margin: 15px 0 0;
}
    .my-tickets-page .filter-item:first-child,
    .manage-tickets-page .filter-item:first-child {
        margin: 0;
    }
.my-tickets-page .filter-label,
.manage-tickets-page .filter-label {
  color: #444;
  margin-right: 10px;
}
.my-tickets-page span.k-numeric-wrap.k-state-default,
.manage-tickets-page span.k-numeric-wrap.k-state-default {
    border: 1px solid #ddd;
    border-radius: 0;
    background: #fff;
}
.my-tickets-page input.k-formatted-value.filter-input.ticket-id.k-input,
.manage-tickets-page input.k-formatted-value.filter-input.ticket-id.k-input,
input#ticket-id {
    height: 38px;
    padding-left: 5px;
}
.k-numerictextbox .k-link {
    height: 19px;
    line-height: normal;
    background: none !important;
}
.k-numeric-wrap .k-select {
    width: 35px;
    border-left: 1px solid #ddd;
}
.k-numerictextbox .k-icon {
    display: block;
    width: 100%;
    height: 100%;
}
.k-numerictextbox .k-select .k-link span.k-i-arrow-n {
    background: url(images/arrow-numeric-up.png) no-repeat center 10px !important;
}
.k-numerictextbox .k-select .k-link span.k-i-arrow-s {
    background: url(images/arrow-numeric-down.png) no-repeat center 2px !important;
}
.my-tickets-page span.k-dropdown-wrap.k-state-default .k-input,
.manage-tickets-page span.k-dropdown-wrap.k-state-default .k-input {
    background: #fff;
    border: 1px solid #ddd;
    padding: 12px 20px 12px 5px;
    border-radius: 0;
    font-size: 14px;
}
    .my-tickets-page span.k-dropdown-wrap.k-state-default .k-input:after,
    .manage-tickets-page span.k-dropdown-wrap.k-state-default .k-input:after {
        width: 20px;
    }
span.k-widget.k-autocomplete.k-header.subject-field.k-state-default {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none !important;
    padding: 0;
}
    span.k-widget.k-autocomplete.k-header.subject-field.k-state-default input#subject-field {
        height: auto;
        padding: 11px 5px;
        line-height: 1;
        height: 38px;
    }
.k-widget.k-multiselect.k-header.product-field,
.k-widget.k-multiselect.k-header.customer-field {
    border: 0;
    border-radius: 0;
    background: none;
    max-width: 500px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.k-widget.k-multiselect.k-header.product-field .k-multiselect-wrap.k-floatwrap,
.k-widget.k-multiselect.k-header.customer-field .k-multiselect-wrap.k-floatwrap {
    min-height: 0;
    background: none;
}
.k-multiselect-wrap.k-floatwrap input.k-input {
    margin: 0;
    padding: 10px 5px;
    border: 1px solid #ddd;
    background: #fff;
    min-width: 250px;
    width: 100% !important;
    height: 40px;
}
.k-widget.k-multiselect.k-header.customer-field {
    border: 0 !important;
    width: 80% !important;
}
input#date-from,
input#date-to {
    width: 150px;
    line-height: 1;
    border: 1px solid #ddd;
    padding: 11px;
    color: #444;
}

div#mytickets-grid,
#managetickets-grid {
    border: 0;
    overflow-x: auto;
}
div#mytickets-grid > table,
div#mytickets-grid > div,
#managetickets-grid > table,
#managetickets-grid > div {
    min-width: 700px;
}
.k-grid table td {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    border-width: 1px 1px 1px 0 !important;
}
.k-grid table td:first-child {
    border-left-width: 1px !important;
}
.k-grid-header .k-header {
    background: #f6f6f6;
    border: 1px solid #ddd !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    padding: 11px 10px;
}
    .k-grid-header .k-header:first-child {
        border-right: 0 !important;
        border-left: 1px solid #ddd !important;
    }
.k-grid-header .k-header>.k-link {
    min-height: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.k-grid td {
    border: 1px solid #ddd !important;
    border-top: 0 !important;
    padding: 19px 13px;
    line-height: 1.4;
}
    .manage-tickets-page .k-grid td:last-child {
      text-align: center;
    }
.k-pager-wrap.k-grid-pager.k-widget {
    border: 0;
    background: #f6f6f6;
    padding: 4px;
    text-align: center;
}
a.view-ticket.k-button,
a.k-button.k-grid-edit,
a.k-button.k-grid-update,
a.k-button.k-grid-cancel {
    border: 0 !important;
    font-size: 0 !important;
    min-width: 0 !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 21px;
    height: 21px;
    display: block;
}
a.view-ticket.k-button {
    background: url(images/icon-view-ticket.png) no-repeat center !important;
}
a.k-button.k-grid-edit {
    background: url(images/icon-assign.png) no-repeat center !important;
}
a.k-button.k-grid-update {
    display: inline-block;
    vertical-align: middle;
    background: url(images/icon-check.png) no-repeat center !important;
}
a.k-button.k-grid-cancel {
    display: inline-block;
    vertical-align: middle;
    background: url(images/icon-cancel.png) no-repeat center !important;
}
a.k-button.k-grid-update,
a.k-button.k-grid-cancel {
    margin: 0 2px;
}
    a.k-button.k-grid-edit span,
    a.k-button.k-grid-update span,
    a.k-button.k-grid-cancel span {
        display: none;
    }

.k-treeview .k-icon, .k-scheduler-table .k-icon, .k-grid .k-hierarchy-cell .k-icon {
    background: url(images/arrow-opener.png) no-repeat center !important;
}
.ticket-info-panel.tabstrip.k-widget.k-header.k-tabstrip {
    background: none !important;
    border: 0 !important;
}
ul.tabs-list.k-tabstrip-items.k-reset {
    padding: 0;
    margin: 0 0 10px;
}
.k-tabstrip .k-content {
    border: 0;
    padding: 0;
    margin: 0;
}
.k-tabstrip-items .k-item {
    margin: 0;
    border: 0 !important;
    background: none !important;
}
.k-tabstrip-items .k-loading {
    display: none;
}
.k-tabstrip-items .k-link {
    padding: 0;
    color: #444;
    font-size: 16px;
    font-weight: bold;
}
.k-detail-row td {
    padding: 20px 25px;
}
.ticket-info-panel .box-row {
    margin: 0 0 7px;
}
.ticket-info-panel .row-label {
    color: #888;
    margin: 0 5px 0 0;
}
.ticket-info-panel .tab-box {
    position: relative;
}


.k-pager-wrap a.k-link.k-pager-nav {
    border: 1px solid #ddd;
    border-radius: 0;
    margin: 4px;
    width: 30px;
    height: 30px;
    line-height: 1;
}
.k-pager-wrap a.k-link.k-pager-nav .k-icon {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.k-pager-wrap span.k-icon.k-i-seek-w {
    background: #f3f3f3 url(images/pager-first.png) no-repeat center !important;
}
.k-pager-wrap span.k-icon.k-i-arrow-w {
    background: #f3f3f3 url(images/pager-prev.png) no-repeat center !important;
}
.k-pager-wrap span.k-icon.k-i-seek-e {
    background: #f3f3f3 url(images/pager-last.png) no-repeat center !important;
}
.k-pager-wrap span.k-icon.k-i-arrow-e {
    background: #f3f3f3 url(images/pager-next.png) no-repeat center !important;
}
.k-grid .k-pager-numbers {
    margin: 0;
}
.k-pager-numbers li {
    margin: 4px;
}
.k-pager-numbers span {
    border-radius: 0 !important;
    background: none !important;
    border: 1px solid #ddd !important;
    color: #777 !important;
    margin: 0 !important;
}
    .k-pager-numbers span.k-state-selected {
        border: 1px solid #4ab2f1 !important;
        background: #4ab2f1 !important;
        color: #fff !important;
    }

span.k-pager-sizes.k-label {
    padding: 0;
}
.k-pager-sizes .k-widget.k-dropdown {
    margin: 6px;
}
.k-pager-wrap.k-grid-pager.k-widget span.k-input {
    padding: 5px 20px 5px 5px;
    background: #f6f6f6;
}

span.k-pager-info.k-label {
    padding: 0;
    line-height: 1;
    margin: 12px 36px 12px 12px;
    color: #777;
}
a.k-pager-refresh.k-link {
    height: auto;
    margin: 0;
    min-width: 0;
    line-height: 1;
    background: none !important;
}
span.k-icon.k-i-refresh {
    font-size: 14px;
    width: auto;
    height: auto;
    line-height: 1;
    background: url(images/icon-refresh.png) no-repeat left center !important;
    display: block;
    padding: 12px 12px 12px 20px;
}

.tickets-table-panel .ticketDueIn {
    position: relative;
    text-align: center;
}
.tickets-table-panel .ticketDueIn:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 8px;
    content: "";
}
.tickets-table-panel .ticketDueIn.overdue:after {
    background: #f4565a;
}
.tickets-table-panel .ticketDueIn.almost-overdue:after {
    background: #ffdf58;
}
.tickets-table-panel .ticketDueIn.not-overdue:after {
    background: #79cf8b;
}
.k-alt, .k-separator {
    background: none;
}

.k-widget.confirmation-wrapper .k-window-titlebar.k-header {
    height: auto;
    line-height: 1;
    padding: 12px;
}
.k-widget.confirmation-wrapper .k-window-title {
    position: static !important;
}
.k-widget.confirmation-wrapper .k-window-content {
    padding: 20px 15px;
}
.k-widget.confirmation-wrapper .message {
    margin: 0 0 20px;
}
.k-widget.confirmation-wrapper button {
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 9px 18px;
    text-transform: uppercase;
    background: #4ab2f1;
}
.k-widget.k-window.confirmation-wrapper .km-touch-scrollbar {
    display: none !important;
}



/* NEW TICKET */
.new-ticket-page .working-days-wrapper{
    background-color: #f9f9f9;
    background-image:url(images/icon-helpdesk.png);
    background-repeat:no-repeat;
    background-position:center 10px;
    border-top: 1px solid #ddd;
    padding: 40px 15px 30px;
    position: relative;
    margin:80px 0 40px 0;
}
.new-ticket-page .working-days-wrapper h1{
    position:absolute;
    top:-49px;
    left:0;
    right:0;
}
.new-ticket-page .working-days-wrapper .details{
    font-size:14px;
    padding:2px 0;
}
.new-ticket-page .working-days-wrapper .details span{
    color:#888;
    font-weight:normal;
}



@media all and (max-width: 1366px) {

    .my-tickets-page .filter-label,
    .manage-tickets-page .filter-label {
        display: block;
        margin: 0 0 5px;
    }
    .my-tickets-page .filter-item > span,
    .manage-tickets-page .filter-item > span {
        width: 80% !important;
    }

}

@media all and (min-width: 631px) {

    .ticket-comments .comment-header {
        overflow: hidden;
    }
    .ticket-comments .comment-header .left {
        float: left;
        margin: 0;
    }
    .ticket-comments .comment-header .right {
        float: right;
    }

}

@media all and (min-width: 769px) {

    .my-tickets-page .filter-list,
    .manage-tickets-page .filter-list {
        overflow: hidden;
    }
    .my-tickets-page .filter-item,
    .manage-tickets-page .filter-item {
        float: left;
        width: 49%;
        margin: 0 0 2% 2%;
        text-align: left;
    }
    .my-tickets-page .filter-item:nth-child(2n+1),
    .manage-tickets-page .filter-item:nth-child(2n+1) {
        margin-left: 0;
        clear: both;
    }

}

@media all and (min-width: 769px) and (max-width: 1024px), (min-width: 1367px) {

    #ticket-details {
        overflow: hidden;
    }
    #ticket-details .details-list {
        margin: 0 0 0 2%;
        float: left;
        width: 49%;
    }

}

@media all and (min-width: 1025px) {

    label[for=TicketModel_Message],
    label[for=SubmitReplyModel_ReplyMessage],
    label[for=SubmitTicketNoteModel_NoteContent],
    label[for=Content],
    .label-wrapper {
        display: inline-block;
    }
    label[for=TicketModel_Message] + table,
    label[for=SubmitReplyModel_ReplyMessage] + table,
    label[for=SubmitTicketNoteModel_NoteContent] + table,
    label[for=Content] + table,
    .label-wrapper + table {
        width: 400px;
    }

    #submit-reply .inputs.upload {
        text-align: center;
    }
    #submit-reply .inputs.upload ul.k-upload-files.k-reset {
        border-bottom: 1px solid #ddd;
    }
    .new-ticket-page .working-days-wrapper{
        background-position:20px center;
        padding: 15px;
        margin:-26px 0 40px 0;
    }
    .new-ticket-page .working-days-wrapper .details{
        padding:0 0 2px 60px;
    }

}

@media all and (min-width: 1367px) {

    .ticket-buttons:after {
        content: '';
        display: block;
        clear: both;
    }
    .ticket-buttons .tb-left {
        float: left;
    }
    .ticket-buttons .tb-right {
        float: right;
    }

    label[for=TicketModel_Message] + table,
    label[for=SubmitReplyModel_ReplyMessage] + table,
    label[for=SubmitTicketNoteModel_NoteContent] + table,
    label[for=Content] + table,
    .label-wrapper + table {
        width: 500px;
    }

    .my-tickets-page .filter-item > span,
    .manage-tickets-page .filter-item > span,
    .k-widget.k-multiselect.k-header.product-field,
    .k-widget.k-multiselect.k-header.customer-field {
        width: 250px !important;
    }
    .my-tickets-page .filter-label,
    .manage-tickets-page .filter-label {
        display: inline-block;
        width: 120px;
        text-align: right;
    }

}