﻿@model CurrencySelectorModel
@using Nop.Web.Models.Common;
@using Microsoft.AspNetCore.Http
@using System.Net
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;

@{
    Html.AddCssFileParts("https://cdnjs.cloudflare.com/ajax/libs/currency-flags/1.5.0/currency-flags.min.css");
}

@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor
@inject Nop.Services.Directory.ICurrencyService currencyService

@if (Model.AvailableCurrencies.Count > 1)
{
    <div class="currency-selector desktop">
        @{  
            var currentCurrencyEntity = currencyService.GetCurrencyById(Model.CurrentCurrencyId);

            <div class="currency-flag currency-flag-@currentCurrencyEntity.CurrencyCode.ToLower()"></div>

            var webHelper = EngineContext.Current.Resolve<IWebHelper>();

            var currencies = Model.AvailableCurrencies.Select(x => new SelectListItem
            {
                Text = x.Name,
                Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = x.Id }), "returnurl=" + WebUtility.UrlEncode(webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request)), null),
                Selected = x.Id.Equals(Model.CurrentCurrencyId)
            });

            <select id="customerCurrency" name="customerCurrency" asp-items="@currencies" onchange="setLocation(this.value);"></select>
        }
    </div>

    <div class="currency-selector mobile mobile-selector">
        @{
            var currentCurrency = Model.AvailableCurrencies.FirstOrDefault(x => x.Id.Equals(Model.CurrentCurrencyId));

            <div class="current-currency-selector selector-title">@currentCurrency.Name</div>

            <div class="currency-selector-options mobile-collapse">

                @for (int i = 0; i < Model.AvailableCurrencies.Count; i++)
                {
                    var currentCurrencyIterator = Model.AvailableCurrencies[i];

                    string selected = string.Empty;

                    if (currentCurrencyIterator.Id == currentCurrency.Id)
                    {
                        selected = " checked=\"checked\"";
                    }

                    <div class="selector-options-item">
                        <input type="radio" name="currency-selector" id="currency-@i" value="@webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = currentCurrencyIterator.Id }), "returnurl=" + WebUtility.UrlEncode(webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request)), null)" onclick="setLocation(this.value);" @Html.Raw(selected) />
                        <label for="currency-@i">@currentCurrencyIterator.Name</label>
                    </div>
                }

            </div>

        }
    </div>
}


 

