﻿<script id="item-template" type="text/x-kendo-template" asp-location="Footer">
    #: data.ProductName #
</script>

<script type="text/javascript" asp-location="Footer">
    function onSelect(e) {
    }

    function onDataBound(e) {
    }
</script>