﻿@model int
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminPopupLayout";

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try
            {
                var gridElement = window.opener.document.getElementById("@ViewBag.btnId");
                $(gridElement).click();
            }
            catch (e){}
            window.close();
        </script>

        return;
    }
}

<form method="post">

    <div class="content">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.AddExistingAttachment")
            </h1>
        </div>
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-popup">
                    <div class="panel-body">
                        <div id="fileattachments-grid">
                        </div>
                        <button type="submit" name="save" value="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#fileattachments-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Popup_AddExistingAttachments_List", "NopProductAdmin", new { productId = Model }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "Id",
                    title: "@T("Admin.Common.Check")",
                    template: "<input type='checkbox' name='SelectedAttachmentsIds' value='#=AttachmentId#' />",
                    attributes: {
                        style: "text-align:center"
                    },
                    width: 50
                }, {
                    field: "AttachmentName",
                    title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.ProductAttachment.AttachmentName")"
                }]
            });
        });
    </script>
</form>