﻿@model int?
@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    var productId = Model;

    if (productId == null)
    {
        @T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.SaveBeforeEdit")
        return;
    }
}

<div class="content-header clearfix">
    <div class="pull-left">
        <input type="button" id="btnAddExistingProductAttachment" name="btnAddExistingProductAttachment"
               value="@T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.AddExistingAttachment")"
               onclick="javascript: OpenWindow('@Url.Action("Popup_AddExistingAttachments_Popup", "NopProductAdmin", new {productId = productId, btnId = "btnRefreshGrid"})', 800, 700, true); return false;"
               class="btn bg-blue" />

        <input type="button" id="btnAddNewProductAttachment" name="btnAddNewProductAttachment"
               value="@T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.AddNewAttachment")"
               onclick="javascript:OpenWindow('@Url.Action("Create", "AttachmentAdmin", new {productId = productId, isPopup = true})', 800, 700, true); return false;"
               class="btn bg-blue" />
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.ProductSpecificAttachments")
                </div>
                <div class="panel-body">
                    <div id="product-fileattachments-grid"></div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.SharedAttachments")
                </div>
                <div class="panel-body">
                    <div id="product-shared-fileattachments-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="submit" id="btnRefreshGrid" name="btnRefreshGrid" style="display: none" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRefreshGrid').click(function () {
            //refresh grid
            var optionsGrid = $("#product-fileattachments-grid");
            optionsGrid.data('kendoGrid').dataSource.read();

            //return false to don't reload a page
            return false;
        });
    });
</script>


<script>
    $(document).ready(function () {
        $("#product-fileattachments-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "NopProductAdmin", new { productId = productId }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    update:{
                        url: "@Html.Raw(Url.Action("Update", "NopProductAdmin", new { productId = productId }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy:{
                        url: "@Html.Raw(Url.Action("Delete", "NopProductAdmin", new { productId = productId }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "AttachmentId",
                        fields: {
                            Id: { editable: false, type: "number" },
                            AttachmentName: { editable: false, type: "string" },
                            DisplayOrder: { editable: true, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            filterable: true,
            sortable: true,
            scrollable: false,
            columns: [{
                field: "AttachmentName",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.Name")",
                template: "<a href='@Url.Content("~/Admin/AttachmentAdmin/Edit/")#= AttachmentId #'>#= AttachmentName #</a>",
                width: 300
            }, {
                field: "DisplayOrder",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.DisplayOrder")",
                width: 300
            }, {
                command: [{
                    name: "edit",
                    text: "@T("Admin.Common.Edit")"
                }, {
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 30
            }]
        });
    });
</script>


<script>
    $(document).ready(function () {
        $("#product-shared-fileattachments-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("SharedAttachmentsList", "NopProductAdmin", new { productId = productId }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    update:{
                        url: "@Html.Raw(Url.Action("SharedAttachmentsUpdate", "NopProductAdmin", new { productId = productId }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "AttachmentId",
                        fields: {
                            Id: { editable: false, type: "number" },
                            AttachmentName: { editable: false, type: "string" },
                            DisplayOrder: { editable: true, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            filterable: true,
            sortable: true,
            scrollable: false,
            columns: [{
                field: "AttachmentName",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.Name")",
                template: "<a href='@Url.Content("~/Admin/AttachmentAdmin/Edit/")#= AttachmentId #'>#= AttachmentName #</a>",
                width: 300
            }, {
                field: "DisplayOrder",
                title: "@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.AttachmentCategory.DisplayOrder")",
                width: 300
            }, {
                command: [{
                    name: "edit",
                    text: "@T("Admin.Common.Edit")"
                }],
                width: 30
            }]
        });
    });
</script>