﻿@model CustomerReminderMessageRecordListModel
    
@inject AdminAreaSettings adminAreaSettings

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.ReminderMessages").Text;
    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.CustomerReminders.Admin.Submenus.ReminderMessagesReport");
}

<form method="post">
    <nop-antiforgery-token/>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.ReminderMessages")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchStartDate" />
                                        <span asp-validation-for="SearchStartDate"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchEndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchEndDate" />
                                        <span asp-validation-for="SearchEndDate"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchToEmail" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchToEmail" />
                                        <span asp-validation-for="SearchToEmail"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchReminderId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchReminderId" asp-items="Model.AvailableReminders" />
                                        <span asp-validation-for="SearchReminderId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchLoadNotSent" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchLoadNotSent" />
                                        <span asp-validation-for="SearchLoadNotSent"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="btnSearch" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customerReminderMessageRecords-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#customerReminderMessageRecords-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("CustomerReminderMessageRecordsList", "CustomerReminderMessageRecordsAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            ReminderName: { editable: false, type: "string" },
                            CustomerId: { editable: false, type: "number" },
                            CustomerName: { editable: false, type: "string" },
                            CustomerEmail: { editable: false, type: "string" },
                            FromName: { editable: false, type: "string" },
                            CreatedOn: { editable: false, type: "date" },
                            EmailSentOn: { editable: false, type: "date" },
                            MessageState: { editable: false, type: "string" },
                            EmailId: { editable: false, type: "number" }
                        }
                    }
                },
                requestEnd: function(e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            filterable: true,
            sortable: true,
            scrollable: false,
            columns: [
                {
                    field: "ReminderName",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.ReminderName")"
                }, {
                    field: "CustomerName",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.CustomerName")",
                    template:
                        '<a href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#=CustomerName#</a>'
                }, {
                    field: "CustomerEmail",
                    title:
                        "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.CustomerEmail")"
                }, {
                    field: "FromName",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.FromName")"
                }, {
                    field: "CreatedOn",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.CreatedOn")"
                }, {
                    field: "EmailSentOn",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.EmailSentOn")"
                }, {
                    field: "MessageState",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.MessageState")"
                }, {
                    field: "EmailId",
                    title: "@T("SevenSpikes.Plugins.CustomerReminders.Admin.CustomerReminderMessageRecord.EditMessage")",
                    template: '<a href="@Url.Content("~/Admin/QueuedEmail/Edit/")#=EmailId#">@T("Admin.Common.Edit").Text</a>',
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" }
                }
            ]
        });
    });
</script>

<script type="text/javascript">
    var selectedIds = [];

    $(document).ready(function () {

        //search button
        $('#btnSearch').click(function () {
            //search
            var grid = $('#customerReminderMessageRecords-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            grid.dataSource.read();
            return false;
        });

        $("#@Html.IdFor(model => model.SearchToEmail)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#btnSearch").click();
                return false;
            }
        });
    });

    function additionalData() {
        var data = {
            SearchStartDate: $('#@Html.IdFor(model => model.SearchStartDate)').val(),
            SearchEndDate: $('#@Html.IdFor(model => model.SearchEndDate)').val(),
            SearchToEmail: $('#@Html.IdFor(model => model.SearchToEmail)').val(),
            SearchLoadNotSent: $('#@Html.IdFor(model => model.SearchLoadNotSent)').is(':checked'),
            SearchReminderId: $('#@Html.IdFor(model => model.SearchReminderId)').val()
        };

        addAntiForgeryToken(data);

        return data;
    }

</script>