﻿@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration

@model FooterModel

@inject IWorkContext workContext
@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var userAgent = Url.ActionContext.HttpContext.Request.Headers["User-Agent"];
    var removeCopyright = settingService.GetSettingByKey("venturethemesettings.removecopyright", false, storeId, true);
    var removeDesignedBy = settingService.GetSettingByKey("venturethemesettings.removedesignedby", false, storeId, true);

    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);

    var isIe9 = false;
    if (!String.IsNullOrEmpty(userAgent) && userAgent.ToString().ToLower().IndexOf("MSIE 9.0",
    StringComparison.InvariantCultureIgnoreCase) > 0)
    {
        isIe9 = true;
    }

    var showFooterMap = settingService.GetSettingByKey("venturethemesettings.enablefootermap", true, storeId, true);
}

@if (isHomePage)
{
    <div class="home-page-footer-banners">
        @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_footer_banner_1" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_footer_banner_2" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "venture_theme_footer_banner_3" })
    </div>
}
<div class="footer">
    @if (showFooterMap && !isIe9)//google maps API doesn't work in ie9
    {
        <div class="footer-map-holder">
            <div class="title">
                <strong>@T("SevenSpikes.Themes.Venture.Common.FooterMap")</strong>
            </div>
            <div class="footer-map-wrapper">
                @await Component.InvokeAsync("Widget", new { widgetZone = "venture_footer_map" })
            </div>
        </div>
    }


    <div class="footer-content">
        <div class="footer-upper">
            <div class="footer-block information">
                <div class="title">
                    <strong>@T("SevenSpikes.Themes.Venture.Common.Information")</strong>
                </div>
                <ul class="list footer-collapse">
                    <li><a href="/customer/info" target="_blank" rel="noopener">My Account</a></li>
                    <li><a href="/faq#support-title-1" target="_blank" rel="noopener">Delivery</a></li>
                    <li><a href="/faq#support-title-3">Returns</a></li>
                    <li><a href="/faq#support-title-5">Warranty</a></li>
                    <li><a href="/faq#support-title-4">Payment Methods</a></li>
                    <li><a href="@Url.RouteUrl(" ContactUs")">@T("ContactUs")</a></li>
                    @*
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                        <li><a href="@Url.RouteUrl(" Topic", new { SeName=topic.SeName })">@topic.Name</a></li>
                        }*@
                </ul>
            </div>
            <div class="footer-block my-account">
                <div class="title">
                    @*<strong>@T("SevenSpikes.Themes.Venture.Common.MyAccount")</strong>*@
                    <strong>@T("Mazuma.Footer2.Header")</strong>
                </div>
                <ul class="list footer-collapse">
                    @*
                        <li><a href="@Url.RouteUrl(" CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                        <li><a href="@Url.RouteUrl(" CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                        @if (Model.RecentlyViewedProductsEnabled)
                        {
                        <li><a href="@Url.RouteUrl(" RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a>
                        </li>
                        }
                        @if (Model.SitemapEnabled)
                        {
                        <li><a href="@Url.RouteUrl(" Sitemap")">@T("Sitemap")</a></li>
                        }
                        @if (Model.AllowCustomersToApplyForVendorAccount)
                        {
                        <li><a href="@Url.RouteUrl(" ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                        }

                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                        <li><a href="@Url.RouteUrl(" Topic", new { SeName=topic.SeName })">@topic.Name</a></li>
                        }
                    *@
                    <li><a href="/faq" target="_blank" rel="noopener">FAQ</a></li>
                    <li><a href="https://www.mazumamobile.com/blog" target="_blank" rel="noopener">Our Blog</a></li>
                    <li><a href="https://www.mazumamobile.com/why/about">About Us</a></li>
                    <li><a href="/how-it-works">How it works</a></li>
                    <li><a href="/our-grades">Our Grades</a></li>
                    <li>
                        <a href="https://www.mazumamobile.com/sell-my-mobile" target="_blank" rel="noopener">
                            Sell My Mobile
                        </a>
                    </li>
                </ul>
            </div>
            @*<div class="footer-block">
                    <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" style="padding: 0;"
                        title="How PayPal Works"
                        onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                            src="/images/uploaded/AM_mc_vs_ms_ae_UK_v2.png" border="0" alt="PayPal Acceptance Mark"></a>
                </div>*@

            @*<div class="footer-block newsetter">
                <div class="title">
                    <strong>@T("SevenSpikes.Themes.Venture.Common.Newsletter")</strong>
                </div>
                <div class="footer-collapse">
                    <p class="newsletter-subscribe-text">
                        @T("SevenSpikes.Themes.Venture.Common.NewsletterSubscribeText")</p>
                    <p class="newsletter-subscribe-text">
                        <span style="display: inline-flex;">
                            <a href="https://www.facebook.com/mazumamobile">
                                <span class="icon iconfont icon-facebook"></span>
                            </a>
                            <a href="https://twitter.com/mazuma">
                                <span class="icon iconfont icon-twitter"></span>
                            </a>
                            <a href="https://www.youtube.com/channel/UCOoVkQ5CvZ9wEDV4FjSRPTg">
                                <span class="icon iconfont icon-shipinbofangyingpian2"></span>
                            </a>
                            <a href="https://plus.google.com/+mazumamobile">
                                <span class="icon iconfont icon-google-plus"></span>
                            </a>
                        </span>
                    </p>
                    @await Component.InvokeAsync("NewsletterBox")
                </div>
            </div>*@
            <div class="footer-connect-us">
                <p class="footer-html-widget-h1">Keep up to date with special offers & promotions.</p>
                <form id="newsletter-form" action="/subscribenewsletter" method="post" novalidate="novalidate">
                    <input class="widget-email" name="email" type="text" placeholder="Enter your email">
                    <input name="subscribe" type="hidden" value="true">
                    <input class="signup-btn-footer" type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="footer-middle" style="/* padding: 5px 0 10px !important; */max-width: 1010px;margin: 0 auto;">
            @await Component.InvokeAsync("SocialButtons")
        </div>
        <script>
            $(document).ready(function () {
                $("#newsletter-form").submit(function (e) {
                    $.ajax({
                        type: "POST",
                        url: '/subscribenewsletter',
                        data: $("#newsletter-form").serialize(),
                        success: function (data) {
                            alert(data.Result);
                        }
                    });
                    e.preventDefault();
                });
            });
        </script>
    </div>
    <div class="footer-lower">
        <div class="footer-section-desktop">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p style="font-size: 12px; margin-left: 4px;">Mazuma Mobile © 2019</p>
                        </td>
                        <td style="width: 369px; padding-right: 10px; padding-top: 10px;">
                            <img class="lazy"
                                 data-original="/images/uploaded/cc-badges.png" alt="Secured Payment"
                                 title="Secured Payment" src="/images/uploaded/cc-badges.png">
                        </td>
                        <td>
                            <p>
                                <span style="font-size: 12px;font-weight: bolder;margin-left: 40px;margin-right: 20px;/* margin-top: 10px; */">
                                    In
                                    Partnership with
                                </span>
                            </p>
                        </td>

                        <td style="width: 72px;">
                            <img class="lazy" data-original="/images/uploaded/dpd_logo.png"
                                 alt="Secured Payment" title="Secured Payment" src="/images/uploaded/dpd_logo.png"
                                 style="margin-left: -65px; margin-top: 5px; display: inline;">
                        </td>
                        <td>
                            <p style="font-size: 12px; margin-right: -60px;">
                                <a href="/privacy-policy">
                                    Privacy
                                    Policy
                                </a> | <a href="/cookie-policy">Cookies Policy</a> | <a href="/cookie-policy">T&amp;Cs</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer-section-cc">
            <table>
                <tbody>
                    <tr>
                        <td style="width: 100%;margin: 0;padding: 0;">
                            <div class="footer-section-cc-partnership-mobile">
                                <p style="font-size: 12px;text-align: left;">In Partnership with</p>
                            </div>
                            <div class="footer-section-cc-dpd-mobile">
                                <img class="lazy"
                                     data-original="/images/uploaded/dpd_logo.png" alt="Secured Payment"
                                     title="Secured Payment" src="/images/uploaded/dpd_logo.png">
                            </div>
                            <div class="footer-section-cc-links-mobile">
                                <p>
                                    <a href="/privacy-policy">Privacy Policy</a> |
                                    <a href="/cookie-policy">Cookies Policy</a> |
                                    <a href="/cookie-policy">T&amp;Cs</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="footer-section-cc-cards-mobile">
                            <img class="lazy"
                                 data-original="/images/uploaded/cc-badges.png" alt="Secured Payment"
                                 title="Secured Payment" src="/images/uploaded/cc-badges.png">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p style="font-size: 12px;">Mazuma Mobile © 2019</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (!removeCopyright)
        {
            <div class="footer-powered-by">
                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
            </div>
        }
        @if (!removeDesignedBy)
        {
            <div class="footer-designed-by">
                Designed by <a href="http://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>
            </div>
        }
        @if (Model.DisplayTaxShippingInfoFooter)
        {
            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
            <div class="footer-tax-shipping">
                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName
                = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }

        @await Component.InvokeAsync("StoreThemeSelector")
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $('.lets-chat').click(function () {
            $zopim.livechat.window.show();
        });
    });
</script>