﻿@model string

<div class="prev-next clearfix">
    @if (!String.IsNullOrEmpty(Model))
    {
        <a role="button" href="@Model" class="consumer-finance-button">
            @T("Ecorenew.Finance.Consumer.Signup.Previous")
        </a>
    }
    <input type="submit" name="next" class="consumer-finance-button pull-right" value="@T("Ecorenew.Finance.Consumer.Signup.Proceed")" />
</div>