﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Ecorenew.Finance.Consumer.FinanceApplicationForm.Title").Text);

    Html.AddCssFileParts("//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css");
    Html.AddFinanceCssFileParts("bootstrap/bootstrap");
    Html.AddFinanceCssFileParts("font-awesome/font-awesome");
    Html.AddFinanceCssFileParts("spinners/rectangles");
    Html.AddFinanceCssFileParts("consumer/common");
    Html.AddFinanceCssFileParts("consumer/signup/root");

    Html.AddFinanceScriptParts(ResourceLocation.Footer, "bootstrap/bootstrap.min");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "bootstrap/bootstrap-tabdrop.js");
    Html.AddScriptParts(ResourceLocation.Footer, "https://code.jquery.com/ui/1.11.3/jquery-ui.js");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "jquery/jquery.mask.min.js");
}

<div id="consumerfinance_signup_page" class="page">
    <div class="page-body">
        <div class="wizard-section">
            @await Html.ConsumerFinancePartialAsync("ConsumerFinanceSignup/_Wizard")
        </div>

        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</div>

<div id="consumerfinance_signup_spinner">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<script type="text/javascript">
    $('.spinneronclick').click(function () {
        $('#Spinner1').show();
    });
</script>