﻿@{
    Layout = "";

    Html.AddFinanceCssFileParts("consumer/signup/wizard");
    string actionName = Html.ViewContext.ActionDescriptor.DisplayName.ToLower().Replace("(nop.plugin.ecorenew.finance)", "").Split('.').LastOrDefault()?.Trim();
}

@* MOBILE *@
<ul class="nav nav-pills nav-stacked hidden-lg wizard wizard-mobile">
    <li class="personal-information @(actionName == "personalinformation" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="PersonalInformation">
            <div class="encirclednumber">1</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.PersonalInformation.Title")</span>
        </a>
    </li>
    <li class="home-address @(actionName == "homeaddress" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="HomeAddress">
            <div class="encirclednumber">2</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.Title")</span>
        </a>
    </li>
    <li class="employment @(actionName == "employment" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Employment">
            <div class="encirclednumber">3</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Employment.Title")</span>
        </a>
    </li>
    <li class="income-and-expenditure @(actionName == "incomeandexpenditure" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="IncomeAndExpenditure">
            <div class="encirclednumber">4</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.Title")</span>
        </a>
    </li>
    <li class="bank @(actionName == "bank" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Bank">
            <div class="encirclednumber">5</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Authorization">
            <div class="encirclednumber">6</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>

@* DESKTOP *@
<ul class="nav nav-pills visible-lg wizard wizard-desktop">
    <li class="personal-information @(actionName == "personalinformation" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="PersonalInformation">
            <div class="encirclednumber">1</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.PersonalInformation.Title")</span>
        </a>
    </li>
    <li class="home-address @(actionName == "homeaddress" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="HomeAddress">
            <div class="encirclednumber">2</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.Title")</span>
        </a>
    </li>
    <li class="employment @(actionName == "employment" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Employment">
            <div class="encirclednumber">3</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Employment.Title")</span>
        </a>
    </li>
    <li class="income-and-expenditure @(actionName == "incomeandexpenditure" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="IncomeAndExpenditure">
            <div class="encirclednumber">4</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.Title")</span>
        </a>
    </li>
    <li class="bank @(actionName == "bank" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Bank">
            <div class="encirclednumber">5</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Authorization">
            <div class="encirclednumber">6</div>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>