﻿@model BankModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/bank");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="Bank" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="AccountName" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="AccountName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" autofocus />
                <span asp-validation-for="AccountName"></span>
            </div>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="SortCode" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="SortCode" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" id="consumerfinance_signup_bank_sortcode" />
                <span asp-validation-for="SortCode"></span>
            </div>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="AccountNumber" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <input asp-for="AccountNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" id="consumerfinance_signup_bank_account_number" />
                <span asp-validation-for="AccountNumber"></span>
            </div>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="AccountAgeYears" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@T("Ecorenew.Finance.Consumer.Signup.Bank.AgeOfAccount.Years")</span>
                    <input asp-for="AccountAgeYears" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                </div>
                <span asp-validation-for="AccountAgeYears"></span>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@T("Ecorenew.Finance.Consumer.Signup.Bank.AgeOfAccount.Months")</span>
                    <input asp-for="AccountAgeMonths" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                </div>
                <span asp-validation-for="AccountAgeMonths"></span>
            </div>
        </div>
    </div>
    @Html.ConsumerFinancePartial("ConsumerFinanceSignup/_PrevNext", Url.Action("IncomeAndExpenditure", "ConsumerFinanceSignup"))
</form>