﻿@model EmploymentModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/employment");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="Employment" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="EmploymentStatusId" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <select asp-for="EmploymentStatusId" asp-items="Model.EmploymentStatusList" id="consumerfinance_signup_employmentstatus" class="form-control" autofocus></select>
                <span asp-validation-for="EmploymentStatusId"></span>
            </div>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="AnnualGrossIncomeId" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <select asp-for="AnnualGrossIncomeId" asp-items="Model.AnnualGrossIncomeList" class="form-control"></select>
                <span asp-validation-for="AnnualGrossIncomeId"></span>
            </div>
        </div>

        <div id="consumerfinance_signup_employment_employed">
            <h5><i>Employed</i></h5>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="EmployedEmployerName" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="EmployedEmployerName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="EmployedEmployerName"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="EmployedJobTitle" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="EmployedJobTitle" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="EmployedJobTitle"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label class="control-label">@T("Ecorenew.Finance.Consumer.Signup.Employment.TimeEmployedTitle")</label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <label asp-for="EmployedYearsEmployed" class="input-group-addon"></label>
                        <input asp-for="EmployedYearsEmployed" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="EmployedYearsEmployed"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <label asp-for="EmployedMonthsEmployed" class="input-group-addon"></label>
                        <input asp-for="EmployedMonthsEmployed" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="EmployedMonthsEmployed"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="EmployedPostCode" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="EmployedPostCode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="EmployedPostCode"></span>
                </div>
            </div>
        </div>

        <div id="consumerfinance_signup_employment_selfemployed">
            <h5><i>Self Employed</i></h5>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="SelfEmployedTradingAs" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="SelfEmployedTradingAs" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="SelfEmployedTradingAs"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="SelfEmployedNatureOfBusiness" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="SelfEmployedNatureOfBusiness" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="SelfEmployedNatureOfBusiness"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label class="control-label">@T("Ecorenew.Finance.Consumer.Signup.Employment.LengthSelfEmployed")</label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <label asp-for="SelfEmployedYearsLength"></label>
                        </span>
                        <input asp-for="SelfEmployedYearsLength" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="SelfEmployedYearsLength"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <label asp-for="SelfEmployedMonthsLength"></label>
                        </span>
                        <input asp-for="SelfEmployedYearsLength" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="SelfEmployedMonthsLength"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="SelfEmployedPostCode" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="SelfEmployedPostCode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="SelfEmployedPostCode"></span>
                </div>
            </div>
        </div>

        <div id="consumerfinance_signup_employment_otherstatus">
            <h5><i>Other Employment Status</i></h5>
            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label class="control-label">@T("Ecorenew.Finance.Consumer.Signup.Employment.LengthOtherEmploymentStatus")</label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <label asp-for="OtherYearsLength"></label>
                        </span>
                        <input asp-for="OtherYearsLength" type="number" min="0" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="OtherYearsLength"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <label asp-for="OtherMonthsLength"></label>
                        </span>
                        <input asp-for="OtherMonthsLength" type="number" min="0" max="11" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="OtherMonthsLength"></span>
                </div>
            </div>
        </div>
    </div>
    @Html.ConsumerFinancePartial("ConsumerFinanceSignup/_PrevNext", Url.Action("HomeAddress", "ConsumerFinanceSignup"))
</form>