﻿@model HomeAddressModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceCssFileParts("consumer/signup/home-address");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/home-address");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="HomeAddress" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="IsUkResident" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-9">
                <div class="radio">
                    <label class="input-sm">
                        <input asp-for="IsUkResident" type="radio" value="true" />
                        Yes
                    </label>
                    <label class="input-sm">
                        <input asp-for="IsUkResident" type="radio" value="false" />
                        No
                    </label>
                </div>
                <span asp-validation-for="IsUkResident"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="HomeOwnerStatusId" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <select asp-for="HomeOwnerStatusId" asp-items="Model.HomeOwnerStatusSelectList" class="form-control"></select>
                <span asp-validation-for="HomeOwnerStatusId"></span>
            </div>
        </div>

        @*--------------CURRENT ADDRESS-------------*@
        <div id="consumerfinance_signup_homeaddress_current">
            <div class="page-subtitle">
                <h3>@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.CurrentAddressTitle")</h3>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="Current.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Current.BuildingNumber"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.Address1" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="Current.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Current.Address1"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="Current.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Current.Address2"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.CityTown" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="Current.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Current.CityTown"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.CountryId" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    @if (Model.Current.CountrySelectList.Count == 2 && Model.Current.CountryId.HasValue)
                    {
                        @Model.Current.CountrySelectList[1].Text
                        <input asp-for="Current.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="Current.CountryId" asp-items="Model.Current.CountrySelectList" class="form-control consumerfinance-signup-homeaddress-country"></select>
                    }
                    <span asp-validation-for="Current.CountryId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.StateProvinceId" class="control-label"></label>
                </div>
                @if (Model.Current.StateProvinceRequired)
                {
                    <nop-required />
                }
                <div class="col-sm-12">
                    @if (Model.Current.StateProvinceSelectList.Count == 2 && Model.Current.StateProvinceId.HasValue)
                    {
                        @Model.Current.StateProvinceSelectList[1].Text
                        <input asp-for="Current.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="Current.StateProvinceId" asp-items="Model.Current.StateProvinceSelectList" class="form-control consumerfinance-signup-homeaddress-stateprovince"></select>
                    }
                    <span asp-validation-for="Current.StateProvinceId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.Postcode" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="Current.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="Current.Postcode"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Current.LengthOfStayYears" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="Current.LengthOfStayYears" type="number" min="0" class="form-control consumerfinance-signup-homeaddress-years" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="Current.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="Current.LengthOfStayMonths" type="number" min="0" max="11" class="form-control consumerfinance-signup-homeaddress-months" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="Current.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>

        @*-------------PREVIOUS ADDRESS------------*@
        <div id="consumerfinance_signup_homeaddress_previous">
            <div class="page-subtitle">
                <h3>@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.PreviousAddressTitle")</h3>
            </div>

            <p id="previous-address-hint">
                @Html.Raw(T("Ecorenew.Finance.Consumer.Signup.HomeAddress.PreviousHint"))
            </p>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.BuildingNumber" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="Previous.BuildingNumber" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Previous.BuildingNumber"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.Address1" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="Previous.Address1" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Previous.Address1"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.Address2" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <input asp-for="Previous.Address2" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Previous.Address2"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.CityTown" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12 ui-widget">
                    <input asp-for="Previous.CityTown" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                    <span asp-validation-for="Previous.CityTown"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.CountryId" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    @if (Model.Previous.CountrySelectList.Count == 2 && Model.Previous.CountryId.HasValue)
                    {
                        @Model.Previous.CountrySelectList[1].Text
                        <input asp-for="Previous.CountryId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="Previous.CountryId" asp-items="Model.Previous.CountrySelectList" class="form-control consumerfinance-signup-homeaddress-country"></select>
                    }
                    <span asp-validation-for="Previous.CountryId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.StateProvinceId" class="control-label"></label>
                </div>
                @if (Model.Previous.StateProvinceRequired)
                {
                    <nop-required />
                }
                <div class="col-sm-12">
                    @if (Model.Previous.StateProvinceSelectList.Count == 2 && Model.Previous.StateProvinceId.HasValue)
                    {
                        @Model.Previous.StateProvinceSelectList[1].Text
                        <input asp-for="Previous.StateProvinceId" type="hidden" />
                    }
                    else
                    {
                        <select asp-for="Previous.StateProvinceId" asp-items="Model.Previous.StateProvinceSelectList" class="form-control consumerfinance-signup-homeaddress-stateprovince"></select>
                    }
                    <span asp-validation-for="Previous.StateProvinceId"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.Postcode" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <input asp-for="Previous.Postcode" type="text" class="form-control" placeholder="e.g. LS1 4EE" />
                    <span asp-validation-for="Previous.Postcode"></span>
                </div>
            </div>

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="Previous.LengthOfStayYears" class="control-label"></label>
                    <nop-required />
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.YearsOfStay")
                        </span>
                        <input asp-for="Previous.LengthOfStayYears" type="number" min="0" class="form-control consumerfinance-signup-homeaddress-years" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="Previous.LengthOfStayYears"></span>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            @T("Ecorenew.Finance.Common.Address.MonthsOfStay")
                        </span>
                        <input asp-for="Previous.LengthOfStayMonths" type="number" min="0" max="11" class="form-control consumerfinance-signup-homeaddress-months" placeholder="@defaultTextBoxPlaceholder" />
                    </div>
                    <span asp-validation-for="Previous.LengthOfStayMonths"></span>
                </div>
            </div>
        </div>
    </div>
    @Html.ConsumerFinancePartial("ConsumerFinanceSignup/_PrevNext", Url.Action("PersonalInformation", "ConsumerFinanceSignup"))
</form>