﻿@model IncomeAndExpenditureModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceCssFileParts("consumer/signup/income-and-expenditure");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/income-and-expenditure");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="IncomeAndExpenditure" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="MonthlyIncomeAmountAfterTax" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">£</span>
                    <input asp-for="MonthlyIncomeAmountAfterTax" id="consumerfinance_signup_monthlyincomeaftertax" type="number" min="0" max="10000" step="1" class="form-control" placeholder="@defaultTextBoxPlaceholder" autofocus />
                    <span class="input-group-addon">.00</span>
                    <a tabindex="0" class="input-group-addon" role="button" data-container="body" data-toggle="popover" data-placement="top" data-content="@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.MonthlyIncome.Tooltip")" data-html="true" data-trigger="focus">
                        <span class="fa fa-info-circle" style="color: #999">
                        </span>
                    </a>
                </div>
                <span asp-validation-for="MonthlyIncomeAmountAfterTax"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-sm-12">
                <label class="control-label">@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.PleaseEnterAccurateMonthlyExpenses")</label>
            </div>
        </div>

        @for (int i = 0; i < Model.ExpenditureCategoryRangeList.Count; i++)
        {
            var rangeSelectId = $"#consumerfinance_signup_expenditure_{i}";
            var specificValueInputId = $"#consumerfinance_signup_expenditure_specificvalue_{i}";
            var specificValueEnabledHiddenId = $"#consumerfinance_signup_expenditure_specificvalue_enabled_{i}";
            var expenditureSpecificValueEnabled = Model.ExpenditureCategoryRangeList[i].SpecificValueEnabled;

            <input asp-for="ExpenditureCategoryRangeList[i].ExpenditureCategoryId" type="hidden" />
            <input asp-for="ExpenditureCategoryRangeList[i].ExpenditureCategoryId" id="@specificValueEnabledHiddenId.TrimStart('#')" type="hidden" />

            <div class="form-group form-group-sm row">
                <div class="col-xs-12">
                    <label asp-for="ExpenditureCategoryRangeList[i].ExpenditureRangeId" class="control-label">
                        @T(Model.ExpenditureCategoryRangeList[i].ExpenditureCategoryLocaleStringResourceName)
                    </label>
                    <nop-required />
                </div>
                <div class="col-sm-12">
                    <i class="control-label control-label-description">
                        @Model.ExpenditureCategoryRangeList[i].ExpenditureCategoryDescription
                    </i>
                    <select asp-for="ExpenditureCategoryRangeList[i].ExpenditureRangeId"
                            asp-items="Model.ExpenditureCategoryRangeList[i].ExpenditureSelectList"
                            class="form-control"
                            onchange="@string.Format("expenditureCategorySelectValueChange('{0}', '{1}', '{2}')",
                                                   rangeSelectId,
                                                   specificValueInputId,
                                                   specificValueEnabledHiddenId)"></select>
                    <span asp-validation-for="ExpenditureCategoryRangeList[i].ExpenditureRangeId"></span>

                    <div id="@specificValueInputId.TrimStart('#')" class="input-group" style="@((expenditureSpecificValueEnabled ? "" : "display: none;") + " margin-top: 5px;")">
                        <span class="input-group-addon">£</span>
                        <input asp-for="ExpenditureCategoryRangeList[i].SpecificValue"
                               type="number"
                               min="0"
                               max="10000"
                               step="1"
                               class="form-control"
                               placeholder="Please input exact amount" />
                        <span class="input-group-addon">.00</span>
                    </div>
                    <span asp-validation-for="ExpenditureCategoryRangeList[i].SpecificValue"></span>
                </div>
            </div>
        }

        <div class="checkbox">
            <nop-required />&nbsp;&nbsp;
            <label>
                <input asp-for="AbilityToPay" type="checkbox" /><strong>@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.AbilityToPay")</strong>
            </label>
        </div>
        <span asp-validation-for="AbilityToPay"></span>
        <div class="checkbox">
            <nop-required />&nbsp;&nbsp;
            <label>
                <input asp-for="AboveIsCorrect" type="checkbox" /><strong>@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.AboveIsCorrect")</strong>
            </label>
        </div>
        <span asp-validation-for="AboveIsCorrect"></span>
    </div>
    @Html.ConsumerFinancePartial("ConsumerFinanceSignup/_PrevNext", Url.Action("Employment", "ConsumerFinanceSignup"))
</form>