﻿@model PersonalInformationModel
@{
    var defaultTextBoxPlaceholder = "Please Enter...";

    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/personal-information");
}

<div class="page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="PersonalInformation" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @T("RequiredFieldTip")
        <br /><br />
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="Title" class="control-label"></label>
                <nop-required />
            </div>
            <div class="col-xs-12">
                <select asp-for="Title" asp-items="Model.TitleSelectList" class="form-control" autofocus></select>
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm row">
                    <div class="col-xs-12">
                        <label asp-for="FirstName" class="control-label"></label>
                    </div>
                    <div class="col-xs-12">
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm row">
                    <div class="col-xs-12">
                        <label asp-for="MiddleName" class="control-label"></label>
                    </div>
                    <div class="col-xs-12">
                        <input asp-for="MiddleName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                        <span asp-validation-for="MiddleName"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <label asp-for="LastName" class="control-label"></label>
                    </div>
                </div>
                <input asp-for="LastName" type="text" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="DateOfBirthDay" class="control-label"></label>
            </div>
            <div class="col-sm-4">
                <select asp-for="DateOfBirthDay" asp-items="Model.DateOfBirthDaySelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthDay"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateOfBirthMonth" asp-items="Model.DateOfBirthMonthSelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthMonth"></span>
            </div>
            <div class="col-sm-4 input-field-margin-top">
                <select asp-for="DateOfBirthYear" asp-items="Model.DateOfBirthYearSelectList" class="form-control"></select>
                <span asp-validation-for="DateOfBirthYear"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="MaritalStatusId" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <select asp-for="MaritalStatusId" asp-items="Model.MaritalStatusSelectList" class="form-control"></select>
                <span asp-validation-for="MaritalStatusId"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="NumberOfDependentsId" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <select asp-for="NumberOfDependentsId" asp-items="Model.NumberOfDependentsSelectList" class="form-control"></select>
                <span asp-validation-for="NumberOfDependentsId"></span>
            </div>
        </div>

        <div class="page-subtitle">
            <h3>@T("Ecorenew.Finance.Consumer.Signup.PersonalDetails.ContactDetailsTitle")</h3>
        </div>

        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="Email" type="email" class="form-control" placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="ConfirmEmail" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="ConfirmEmail"
                       type="email"
                       id="consumerfinance_signup_personalinformation_email"
                       class="form-control"
                       placeholder="@defaultTextBoxPlaceholder" />
                <span asp-validation-for="ConfirmEmail"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <div class="col-xs-12">
                <label asp-for="MobilePhoneNumber" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="MobilePhoneNumber"
                       type="text"
                       id="consumerfinance_signup_personalinformation_mobile"
                       class="form-control"
                       placeholder="e.g. +44 123 456 7890" />
                <span asp-validation-for="MobilePhoneNumber"></span>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="form-group form-group-sm row password-field-section" style="@(Model.PasswordRequired ? "" : "display: none")">
            <div class="col-xs-12">
                <input asp-for="PasswordRequired" type="hidden" id="consumerfinance_signup_personalinformation_passwordrequired" />
                <label asp-for="Password" class="control-label"></label>
            </div>
            <p class="col-xs-12">
                <small>
                    @Html.Raw(T("Ecorenew.Finance.Consumer.Signup.PersonalDetails.Password.Notice"))
                </small>
            </p>
            <div class="col-xs-12">
                <div class="input-group">
                    <input asp-for="Password" type="password" class="form-control" />

                    <a tabindex="0"
                       class="input-group-addon"
                       role="button"
                       data-container="body"
                       data-toggle="popover"
                       data-placement="top"
                       data-content="@T("Ecorenew.Finance.Consumer.Signup.PersonalDetails.Password.Tooltip")"
                       data-html="true"
                       data-trigger="focus">
                        <span class="fa fa-info-circle" style="color: #999">
                        </span>
                    </a>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group form-group-sm row password-field-section" style="@(Model.PasswordRequired ? "" : "display: none")">
            <div class="col-xs-12">
                <label asp-for="ConfirmPassword" class="control-label"></label>
            </div>
            <div class="col-xs-12">
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>
    @Html.ConsumerFinancePartial("ConsumerFinanceSignup/_PrevNext", "")
</form>