﻿<style>
    #ecofinance-logo {
        background-repeat: no-repeat;
        height: 70px;
    }

    .p1-font {
        font-weight: 600;
        font-size: 24px;
        padding-left: 50px;
        padding-right: 50px;
        color: #2f3130;
    }

    .p2-font {
        font-size: 20px;
        color: #848484;
    }

    .p-container {
        padding: 100px 0;
        text-align: center;
        max-width: 70%;
        border: 1.9px solid #eaeaea;
    }

    #faq-btn {
        background: linear-gradient(to bottom, #f9d590 14%,#fbc762 39%,#f9b42e 59%,#e19400 100%);
        max-width: 300px;
        color: #fff;
        font-weight: bolder;
        font-size: large;
        text-align: center;
        padding: 13px 53px;
        /*height: 50px;
        margin: auto;*/
    }
</style>

<div class="mobile-width-md">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="/plugins/ecorenew.finance/content/images/ecofinance-logo.png" style="max-width: 300px; display: block; margin: auto" />
    </div>

    <div style="margin-top: 100px"></div>
    <div class="container p-container">
        <p class="p1-font">We're sorry, but we're unable to offer you financing at this time.</p>
        <p class="p2-font">Please check for FAQ page for more details.</p>
        <br />
        <br />
        <a href="http://ecorenewfinance.com/FAQS" id="faq-btn">
            Click here for FAQ page
        </a>
    </div>
</div>
