﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*.file-attachments {
    margin-bottom: 20px;
    clear: both;
}
.file-attachments .title {
    margin-bottom: 10px;
    font: normal 20px/1.2 Arial, sans-serif;
    color: #333;
}
.file-attachments .attachments-content {
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}
.file-attachments .attachment-category {
    margin: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
.file-attachments .attachment-category:last-child {
    border-bottom: none;
}
.file-attachments .name {
    font-size: 16px;
}
.file-attachments ul {
    overflow: hidden;
    list-style: none;
}
.file-attachments ul li {
    padding: 3px;
    overflow: hidden;
}
.file-attachments ul li a.attachmentLink {
    float: left;
    margin: 0 5px;
}
.file-attachments ul li a.attachmentLink:hover {
    text-decoration: underline;
}
.file-attachments ul li a.attachmentLinkImg {
    width: 40px;
    max-height: 40px;
    text-align: right;
}
.file-attachments ul li a.attachmentLink img {
    max-width: 100%;
    max-height: 100%;
}*/

.mfp-inline-holder .mfp-content {
    width: auto !important;
}