﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/* COMMON STYLES */


.spc-header {
    position: relative;
}

    .spc-header ul {
        border: 1px solid #ddd;
        font-size: 0;
    }

    .spc-header li {
        background-color: transparent;
        padding: 6px 0;
        margin: 0 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

        .spc-header li.active {
            border-bottom: 2px solid #481FB4;
        }

.spc-body {
    position: relative;
    backface-visibility: hidden;
    min-height: 312px; /*pre-loading height, should not be taller than any of the grids in any resolution, currently matched to desktop category grid, could be fine tuned per variant*/
    max-width: 1100px;
    margin: auto;
}

    .spc-body .product-grid {
        display: none;
        margin: auto;
        text-align: center;
        padding-top: 0 !important;
        width: 100%;
    }

        .spc-body .product-grid.active {
            display: block;
        }

    .spc-body .no-data {
        display: block;
        padding: 20px 25px;
    }


    /* LOADING OVERLAY */


    .spc-body .loading-overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: rgba(255,255,255,0.9) url('images/loader.gif') center no-repeat;
    }

.spc-products .spc-body .loading-overlay {
    display: block;
}

.spc-body .loading-overlay span {
    display: none;
}


/* PRODUCTS */


.spc-products {
    margin: 0 0 50px;
    min-height: 599px;
}

    .spc-products .spc-body .loading-overlay {
        bottom: 50px; /*loader-overlay fix, depending on item-box bottom margin*/
    }


/* CATEGORIES */


.spc-categories {
    margin: 0 0 100px;
    min-height: 428px;
}

    .spc-categories + .spc-categories {
        margin-top: -50px;
    }

    .spc-categories > .loading-overlay {
        background-color: #fff;
        line-height: 340px;
        text-align: center;
    }

    .spc-categories .category-title {
        padding: 15px 30px;
        font-size: 22px;
        font-weight: normal;
        color: #444;
    }

    .spc-categories .category-details {
        padding: 10px;
    }

    .spc-categories .category-sublist {
        display: none;
        padding: 0 0 10px;
    }

        .spc-categories .category-sublist li {
            padding: 5px 0;
        }

            .spc-categories .category-sublist li a {
                padding: 5px 0;
            }

                .spc-categories .category-sublist li a:hover {
                    color: #4ab2f1;
                }

    .spc-categories .category-picture {
        display: none;
        font-size: 0;
    }

    .spc-categories .product-grid {
        display: none;
    }

        .spc-categories .product-grid.active {
            display: block;
        }

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.spc-categories .product-item {
    padding: 24px 70px !important;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

    .spc-categories .product-item .description {
        display: none;
    }

.spc-categories .product-title {
    height: auto;
    margin: 0 0 10px;
}

.spc-categories .buttons {
    display: none !important;
}



@media all and (min-width: 481px) {

    .spc-categories .category-sublist li {
        display: inline-block;
        padding: 5px 10px;
    }
}

.spc-header ul {
    border: none;
}

.spc-header li {
    display: inline-block;
}

@media all and (min-width: 1001px) {

    .spc-header li {
        margin: 0 0 0 5px;
    }

    .spc-products .spc-header .title {
        min-height: 42px; /*fix for product header without title*/
        text-align: left;
    }

    .spc-products .spc-header ul {
        position: absolute;
        right: -3px;
        bottom: 0;
        margin: 0;
    }

    .spc-categories + .spc-categories {
        margin-top: 0;
    }

    .spc-categories .spc-header {
        margin: 0 0 30px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }

    .spc-categories .spc-header {
        display: block;
    }

        .spc-categories .spc-header ul {
            float: right;
            margin: 0 0 -1px;
        }

    .spc-categories .spc-body:after {
        content: "";
        display: block;
        clear: both;
    }

    .spc-categories .product-grid {
        min-height: 350px; /*places loader in the middle when the grid contains less than 3 items, depending on item-box height + margins*/
    }

    .spc-categories .category-title {
        position: relative;
        padding: 0;
        transition: all 0.3s ease;
    }

        .spc-categories .category-title:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            transition: all 0.3s ease;
        }

        .spc-categories .category-title a {
            display: inline-block;
            background-color: rgba(255,255,255,0.9);
            padding: 15px 25px;
        }

    .spc-categories .category-sublist {
        display: block;
        width: 250px;
        background-color: rgba(255,255,255,0.9);
        padding: 15px;
        opacity: 0;
        transition: all 0.3s ease;
    }

        .spc-categories .category-sublist li {
            display: block;
            padding: 10px 20px;
        }

        .spc-categories .category-sublist a {
            display: inline-block;
            position: relative;
            padding: 0 !important;
        }

            .spc-categories .category-sublist a:before {
                content: "";
                position: absolute;
                top: 6px;
                left: -15px;
                width: 5px;
                height: 5px;
                background-color: #ddd;
            }

    .spc-categories .category-picture {
        display: block;
        max-width: none;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

        .spc-categories .category-picture a {
            display: block;
            position: relative;
            overflow: hidden;
            padding-top: 90%;
        }

        .spc-categories .category-picture img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            transition: all 0,3s ease;
        }

    .spc-categories.portrait .category-picture img {
        width: 100%;
    }

    .spc-categories.landscape .category-picture img {
        height: 100%;
    }

    .spc-categories .category-picture a:hover img {
        opacity: 0.9;
    }

    .spc-categories .item-box {
        width: 100% !important;
        /*match grids height with category picture, based on 4 items per grid + margins,
	always use fixed height to prevent "content shifting" bug in Firefox*/
        clear: none !important;
        margin: 0 0 38px !important;
    }

        .spc-categories .item-box:nth-child(odd) {
            margin-right: 2% !important;
        }

    .spc-categories .product-item {
        text-align: center;
    }

    .spc-categories .product-title {
        min-height: 38px;
        max-height: 38px;
        margin: 0 0 8px;
        font-size: 16px;
    }

    .spc-categories .product-rating-box {
        margin: 0 0 6px;
    }

    .spc-categories .rating {
        width: 85px;
        background: url('images/rating1.png');
    }

        .spc-categories .rating div {
            background: url('images/rating2.png');
        }

    .spc-categories .prices {
        height: auto;
        min-height: 17px; /*cross-broser line-height fix*/
        margin: 0 0 9px;
    }

        .spc-categories .prices span {
            font-size: 14px;
        }

    .spc-categories .tax-shipping-info {
        display: none !important;
    }

    .spc-categories .spc-body .loading-overlay {
        bottom: 38px; /*depending on item-box margin*/
    }
}
