﻿.spc-body {
    /*max-width: 1100px;*/
    margin: auto;
}

    .spc-body .loading-overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: rgba(255,255,255,0.9) url('images/loader.gif') center no-repeat;
    }

        .spc-body .loading-overlay span {
            display: none;
        }

    .spc-body .product-grid {
        min-height: 200px;
    }

.spc-products .spc-body .loading-overlay {
    display: block;
}

.spc-categories:first-child {
    padding-top: 50px;
}

.spc-categories > .loading-overlay {
    background-color: #fff;
    line-height: 340px;
    text-align: center;
}

.spc-categories .spc-body .loading-overlay {
    bottom: 38px; /*depending on item-box margin*/
}

.spc-categories .product-item {
    display: block;
    display: -webkit-flex;
    padding: 24px 30px !important;
    margin: 15px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
       -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.spc-body .category-info {
    padding: 15px;
    padding-bottom: 20px;
    text-align: center;
}

    .spc-body .category-info .category-details .category-title {
        margin-bottom: 25px;
    }

        .spc-body .category-info .category-details .category-title a {
            height: 29px;
            width: 183px;
            color: #1B1C1D;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
        }

.spc-header .navigation .tab {
    display: inline-block;
}

    .spc-header .navigation .tab span {
        padding: 10px 0;
        margin: 0 16px;
        height: 24px;
        width: 74px;
        color: #1B1C1D;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .spc-header .navigation .tab.active span {
        color: #481FB4;
        border-bottom: 2px solid #481FB4;
    }

.spc-body .product-item .details .description,
.spc-body .product-item .details .add-info .buttons {
    display: none;
}

.spc-body .product-item .details .product-title {
    margin-bottom: 10px;
}

    .spc-body .product-item .details .product-title a,
    .spc-body .product-item .details .add-info .prices .price {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #1B1C1D;
    }

.spc-body .product-item .details .add-info .prices .price {
    color: #FF2F00;
}

.spc-body .product-grid {
    display: none;
    padding: 0 !important;
    width: 100%;
}

    .spc-body .product-grid.active {
        display: block;
    }

    .spc-body .product-grid .item-grid .no-data {
        padding: 15px;
    }

    .spc-body .product-grid .item-grid .first-item-box .product-item,
    .spc-body .product-grid .item-grid .other-item-boxes .product-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
           -moz-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }



@media (min-width: 1200px) {
    .spc-body {
        margin: auto 115px;
    }

        .spc-body .category-info {
            text-align: left;
        }

            .spc-body .category-info .category-details {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
            }

                .spc-body .category-info .category-details .category-title {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                       -moz-box-flex: 1;
                        -ms-flex: 1;
                            flex: 1;
                    margin-bottom: 0;
                }

    .spc-header {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: right;
    }

    .spc-categories:nth-child(even) .spc-body .product-grid .item-grid {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-flow: row-reverse;
           -moz-box-orient: horizontal;
           -moz-box-direction: reverse;
            -ms-flex-flow: row-reverse;
                flex-flow: row-reverse;
    }

    .spc-body .product-grid .item-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

        .spc-body .product-grid .item-grid .first-item-box,
        .spc-body .product-grid .item-grid .other-item-boxes {
            width: 50%;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
               -moz-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
        }

            .spc-body .product-grid .item-grid .first-item-box .product-item {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                   -moz-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
            }

            .spc-body .product-grid .item-grid .other-item-boxes .product-item {
                -webkit-box-flex: 50%;
                -webkit-flex: 50%;
                   -moz-box-flex: 50%;
                    -ms-flex: 50%;
                        flex: 50%;
                max-width: -webkit-calc(50% - 30px);
                max-width: -moz-calc(50% - 30px);
                max-width: calc(50% - 30px);
            }
}