﻿@model CustomerBackInStockSubscriptionsModel
@{    
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-back-in-stock-subscription-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.BackInStockSubscriptions })
}
<style>
    .subscription-product{
        font-size: 13px;
        line-height: 18px;
    }
        .subscription-product a {
            font-size: 15px;
        }
    .attribute-box {
        padding-left: 15px;
        margin-top: 5px;
        color: #909090;
    }
    .delete-selected-biss-button {
        box-shadow: none !important;
    }
</style>
<div class="page account-page back-in-stock-subscription-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.BackInStockSubscriptions")</h1>
    </div>
    <div class="page-body">
        @if (Model.Subscriptions.Count > 0)
        {
            <div class="description">
                @T("Account.BackInStockSubscriptions.Description")
            </div>
            <script type="text/javascript" asp-location="Footer">
                $(document).ready(function () {

                    $('#selectall').click(function () {
                        $('.subscription-list .rowcheckbox').attr('checked', $(this).is(':checked')).change();
                    });

                    $('.subscription-list .rowcheckbox').on('change', function (e) {
                        var numChkBoxes = $('.subscription-list .rowcheckbox').length;
                        var numChkBoxesChecked = $('.subscription-list .rowcheckbox:checked').length;
                        $('#selectall').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    });
                });
            </script>        

            <form asp-route="CustomerBackInStockSubscriptions" method="post">
            <div class="subscription-list">
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col width="1" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="select-boxes">
                                    <input type="checkbox" id="selectall" />
                                    <label for="selectall"></label>
                                </th>
                                <th class="product">
                                    @T("Account.BackInStockSubscriptions.ProductColumn")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Subscriptions.Count; i++)
                            {
                                var item = Model.Subscriptions[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td class="select-boxes">
                                        <input type="checkbox" id="select-box-@(item.Id)" name="biss@(item.Id)" class="rowcheckbox" />
                                        <label for="select-box-@(item.Id)"></label>
                                    </td>
                                    <td class="product subscription-product">
                                        @Html.RouteLink(item.ProductName, "Product", new { SeName = item.SeName })
                                        @if (!string.IsNullOrEmpty(item.ProductAttributes))
                                        {
                                            <div class="attribute-box">
                                                @Html.Raw(item.ProductAttributes)
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                    @{
                        var pager = Html.Pager(Model.PagerModel);
                    }
                    @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                    {
                        <div class="pager">
                            @pager
                        </div>
                    }
                <div class="buttons">
                    <input type="submit" value="@T("Account.BackInStockSubscriptions.DeleteSelected")" class="button-1 delete-selected-biss-button" />
                </div>
            </div>
            </form>
        }
        else
        {
            <div class="no-data">
                @T("Account.BackInStockSubscriptions.NoSubscriptions")
            </div>
        }
    </div>
</div>
