﻿@model BankInfoModel
@using Nop.Web.Areas.Admin.Models.Bank

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IBAN" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IBAN" asp-required="true" />
                    <span asp-validation-for="IBAN"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CompanyName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CompanyName" />
                    <span asp-validation-for="CompanyName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Address" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Address" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsActive" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IsActive" />
                    <span asp-validation-for="IsActive"></span>
                </div>
            </div>
            <div class="form-group" style="display:none">
                <div class="col-md-3">
                    <nop-label asp-for="StoreId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreId" />
                    <span asp-validation-for="StoreId"></span>
                </div>
            </div>
        </div>
    </div>
</div>