﻿@model BankInfoModel
@using Nop.Web.Areas.Admin.Models.Bank

@{
    //page title
    ViewBag.Title = T("Admin.Bank.BankInfo.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bank information");

<form asp-controller="BankInfo" asp-action="Create" method="post" id="bank-info-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Bank.BankInfo.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Bank.BankInfo.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
}
