﻿@model BankInfoModel
@using Nop.Web.Areas.Admin.Models.Bank

@{
    //page title
    ViewBag.Title = T("Admin.Bank.BankInfo.EditBankInfoDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bank information");
}

<form asp-controller="BankInfo" asp-action="Edit" method="post" id="bank-info-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Bank.BankInfo.EditBankInfoDetails") - @Model.IBAN
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Bank.BankInfo.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="bank-info-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="bank-info-delete" />
