﻿@model BankInfoListModel
@using Nop.Web.Areas.Admin.Models.Bank
@inject AdminAreaSettings adminAreaSetting
@{
    var defaultGridPageSize = adminAreaSetting.DefaultGridPageSize;
    var gridPageSizes = adminAreaSetting.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Bank.BankInfo").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bank information");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Bank.BankInfo")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchIBAN" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchIBAN" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchCompanyName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchCompanyName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchAddress" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchAddress" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-bank-info" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="bank-info-grid"></div>
                    <script type="text/javascript">
                        $(function(){
                            $("#bank-info-grid").kendoGrid({
                                dataSource: {
                                    type: 'json',
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List","BankInfo"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        },
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize:@(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                //分页
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                     @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode:"inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "IBAN",
                                        title: "@T("Admin.Bank.BankInfo.Fields.IBAN")",
                                      
                                    }, {
                                        field: "CompanyName",
                                        title: "@T("Admin.Bank.BankInfo.Fields.CompanyName")",
                                        width:300
                                    }, {
                                        field: "Address",
                                        title: "@T("Admin.Bank.BankInfo.Fields.Address")",
                                        width:300
                                    }, {
                                        field: "DisplayOrder",
                                        title: "@T("Admin.Bank.BankInfo.Fields.DisplayOrder")",
                                        width:150
                                    },{
                                        field: "IsActive",
                                        title: "@T("Admin.Bank.BankInfo.Fields.IsActive")",
                                        width: 100,
                                        template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    },{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:cneter" },
                                        attributes: { style: "text-align:center" },
                                        template:'<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                ],
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $("#search-bank-info").click(function () {
                                var grid = $("#bank-info-grid").data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                        function additionalData() {
                            var data = {
                                SearchIBAN: $('#@Html.IdFor(model=>model.SearchIBAN)').val(),
                                SearchAddress: $('#@Html.IdFor(model=>model.SearchAddress)').val(),
                                SearchCompanyName:$('#@Html.IdFor(model=>model.SearchCompanyName)').val(),
                            }
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>