﻿@{
    Layout = "";

    Html.AddFinanceCssFileParts("consumer/signup/wizard");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/wizard");

    string actionName = Html.ViewContext.ActionDescriptor.DisplayName.ToLower().Replace("(nop.plugin.ecorenew.finance)", "").Split('.').LastOrDefault()?.Trim();
}

@* MOBILE *@
<ul class="nav nav-pills nav-stacked hidden-lg wizard wizard-mobile">
    <li class="personal-information @(actionName == "personalinformation" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="PersonalInformation">
            <span class="encirclednumber">1</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.PersonalInformation.Title")</span>
        </a>
    </li>
    <li class="home-address @(actionName == "homeaddress" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="HomeAddress">
            <span class="encirclednumber">2</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.Title")</span>
        </a>
    </li>
    <li class="employment @(actionName == "employment" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Employment">
            <span class="encirclednumber">3</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Employment.Title")</span>
        </a>
    </li>
    <li class="income-and-expenditure @(actionName == "incomeandexpenditure" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="IncomeAndExpenditure">
            <span class="encirclednumber">4</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.Title")</span>
        </a>
    </li>
    <li class="bank @(actionName == "bank" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Bank">
            <span class="encirclednumber">5</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Authorization">
            <span class="encirclednumber">6</span>
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>

@* DESKTOP *@
<ul class="nav nav-pills visible-lg wizard wizard-desktop">
    <li class="personal-information  @(actionName == "personalinformation" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="PersonalInformation">
            <img src="@Html.ConsumerFinanceUrl("Content/images/personal-information.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.PersonalInformation.Title")</span>
        </a>
    </li>
    <li class="home-address @(actionName == "homeaddress" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="HomeAddress">
            <img src="@Html.ConsumerFinanceUrl("Content/images/home-address.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.HomeAddress.Title")</span>
        </a>
    </li>
    <li class="employment @(actionName == "employment" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Employment">
            <img src="@Html.ConsumerFinanceUrl("Content/images/employment.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Employment.Title")</span>
        </a>
    </li>
    <li class="income-and-expenditure @(actionName == "incomeandexpenditure" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="IncomeAndExpenditure">
            <img src="@Html.ConsumerFinanceUrl("Content/images/income-expenditure.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.IncomeAndExpenditure.Title")</span>
        </a>
    </li>
    <li class="bank @(actionName == "bank" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Bank">
            <img src="@Html.ConsumerFinanceUrl("Content/images/bank.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Bank.Title")</span>
        </a>
    </li>
    <li class="authorization @(actionName == "authorization" ? "current" : "")">
        <a asp-controller="ConsumerFinanceSignup" asp-action="Authorization">
            <img src="@Html.ConsumerFinanceUrl("Content/images/authorisation.png").Replace("~", "")" alt="Alternate Text" />
            <span class="title">@T("Ecorenew.Finance.Consumer.Signup.Authorization.Title")</span>
        </a>
    </li>
</ul>