@model ArticleAdminModel

@if (Model.Id > 0)
{
    <div id="related-articles-grid"></div>

    <script>
        $(document).ready(function () {
            $("#related-articles-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ListRelatedArticlesForArticle", "RelatedArticlesAdmin", new { articleId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("Edit", "RelatedArticlesAdmin"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("Delete", "RelatedArticlesAdmin"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                Title: { editable: false, type: "string" },
                                DisplayOrder: { editable: true, type: "number" },
                                Id: { editable: false, type: "number" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type == "create" || e.type == "update") {
                            this.read();
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "Title",
                    title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.RelatedArticles.Title")",
                    width: 200,
                }, {
                    field: "DisplayOrder",
                    title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.RelatedArticles.DisplayOrder")",
                    width: 200,
                    //integer format
                    format: "{0:0}"
                }, {
                    command: [{
                        name: "edit",
                        text: "@T("Admin.Common.Edit")"
                    }, {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                    }],
                    width: 200
                }]
            });
        });
    </script>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" id="btnAddNewRelatedArticle" name="btnAddNewRelatedArticle" value="@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.RelatedArticle.AddNew")" onclick="javascript:OpenWindow('@Url.Action("RelatedArticlesToArticle", "RelatedArticlesAdmin", new { articleId = Model.Id, btnId = "btnRefreshRelatedArticle" })', 800, 800, true); return false;" class="k-button" />
                <input type="submit" id="btnRefreshRelatedArticle" name="btnRefreshRelatedArticle" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnRefreshRelatedArticle').click(function () {
                            //refresh grid
                            var optionsGrid = $("#related-articles-grid").data('kendoGrid');
                            optionsGrid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}
else
{
    @T("SevenSpikes.Knowledgebase.Admin.Entities.Article.SaveBeforeEdit")
}