@model ArticleListModel
@inject AdminAreaSettings adminAreaSettigns
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Knowledgebase.Admin.Submenus.ManageArticles");

    var gridPageSize = adminAreaSettigns.DefaultGridPageSize;

    if (ViewBag.isPopup)
    {
        <script type="text/javascript">
            try {
                window.opener.document.location.reload();
            }
            catch (e) { }
            window.close();
        </script>

        return;
    }
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Knowledgebase.Admin.Entities.Article")
    </h1>
    <div class="pull-right">
        <a href="@Html.Raw(Url.Action("Create", "ArticleAdmin", new {categoryId = Model.CategoryId}))" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Knowledgebase.Admin.Entities.Article.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="knowledgebase-articles-grid"></div>

                    <script>
                        $(document)
                            .ready(function() {
                                $("#knowledgebase-articles-grid")
                                    .kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("List", "ArticleAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    data: addAntiForgeryToken
                                                },
                                                destroy: {
                                                    url: "@Html.Raw(Url.Action("DeleteArticle", "ArticleAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: addAntiForgeryToken
                                                },
                                                parameterMap: function(data, operation) {
                                                    if (operation != "read") {
                                                        return data;
                                                    } else {
                                                        //for some reasons only such "Filter" data be parsed
                                                        return JSON.stringify(data);
                                                    }
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors",
                                                model: {
                                                    id: "Id",
                                                    fields: {
                                                        Id: { editable: false, type: "number" },
                                                        Title: { editable: true, type: "string" },
                                                        CreatedOnUtc: { editable: true, type: "date" },
                                                        AuthorEmail: { editable: true, type: "string" },
                                                        LastEditorEmail: { editable: true, type: "string" },
                                                        AddToMenu: { editable: true, type: "boolean" },
                                                        Published: { editable: true, type: "boolean" },
                                                        SEName: { editable: false, type: "string" }
                                                    }
                                                }
                                            },
                                            requestEnd: function(e) {
                                                if (e.type == "update") {
                                                    this.read();
                                                }
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(gridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true
                                        },
                                        editable: {
                                            confirmation: false,
                                            mode: "inline"
                                        },
                                        scrollable: false,
                                        filterable: true,
                                        sortable: true,
                                        columns: [
                                        {
                                            field: "Title",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.Title")"
                                        }, {
                                            field: "CreatedOnUtc",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.CreationDate")",
                                            template: "#= kendo.toString(kendo.parseDate(CreatedOnUtc, 'yyyy-MM-dd HH-mm'), 'MM/dd/yyyy HH:mm') #",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            filterable: false
                                        }, {
                                            field: "AuthorEmail",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.Author")",
                                            sortable: false,
                                            filterable: false
                                        }, {
                                            field: "LastEditorEmail",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.LastEditor")",
                                            sortable: false,
                                            filterable: false
                                        }, {
                                            field: "AddToMenu",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.AddedToMenu")",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(AddToMenu) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                            width: 100,
                                            filterable: false
                                        }, {
                                            field: "Published",
                                            title: "@T("SevenSpikes.Knowledgebase.Admin.Entities.Article.Published")",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                            width: 100,
                                            filterable: false
                                        }, {
                                            template: kendo.template($("#commands-template").html()),
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            filterable: false,
                                            sortable: false
                                        }, {
                                            command: [
                                                {
                                                    name: "destroy",
                                                    text: "@T("Admin.Common.Delete")"
                                                }
                                            ]
                                        }
                                        ]
                                    });
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="commands-template" type="text/x-kendo-template">
    <a class="k-button" href="@Html.Raw(Url.Action("Edit", "ArticleAdmin"))/#: Id#" title="@T("Admin.Common.Edit")">
        <span class="k-icon k-edit"></span>
        @T("Admin.Common.Edit")
    </a>
</script>