@model ArticleRevision
@{
    Layout = "_AdminPopupLayout";
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(@Model.Content)
                </div>
            </div>
        </div>
    </div>
</div>