@model AttachmentModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <nop-tabs id="file-attachment-create-or-edit">
            <nop-tab asp-name="tab-settings" asp-default="true" asp-title="@T("SevenSpikes.Plugins.AnywhereSliders.Admin.Slider.TabTitle.Settings")">
                @await Html.PartialAsync(AdminViews.AttachmentSettings, Model)

                @if (!ViewBag.isPopup)
                {
                    @await Html.PartialAsync(AdminViews.StoreSettings, Model)
                }
            </nop-tab>
            @if (Model.Id > 0)
            {
                <nop-tab asp-name="tab-widgets" asp-title="@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.WidgetsTabTitle")">
                    @await Component.InvokeAsync("WidgetMappingsAdmin", new { entityType = Plugin.EntityType, entityId = Model.Id, pluginFolderName = Plugin.FolderName })
                </nop-tab>

                if (!ViewBag.isPopup)
                {
                    <nop-tab asp-name="tab-product-mappings" class="advanced-setting" asp-title="@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.ProductsMappingTabTitle")">
                        @await Component.InvokeAsync("ProductMappingsAdmin", new { entityType = Plugin.EntityType, entityId = Model.Id })
                    </nop-tab>
                    <nop-tab asp-name="tab-conditions" class="advanced-setting" asp-title="@T("SevenSpikes.Conditions.Admin.Condition.TabTitle")">
                        @await Component.InvokeAsync("ConditionsAdmin", new { entityType = Plugin.EntityType, entityId = Model.Id, availableConditionTypes = Plugin.AvailableConditionTypes, active = true, defaultGroupState = true })
                    </nop-tab>
                    <nop-tab asp-name="tab-product" class="advanced-setting" asp-title="@T("SevenSpikes.Conditions.Admin.ProductOverrides.TabTitle")">
                        @await Component.InvokeAsync("ProductOverridesAdmin", new { entityType = Plugin.EntityType, entityId = Model.Id })
                    </nop-tab>
                    <nop-tab asp-name="tab-customer" class="advanced-setting" asp-title="@T("SevenSpikes.Conditions.Admin.CustomerOverrides.TabTitle")">
                        @await Component.InvokeAsync("CustomerOverridesAdmin", new { entityType = Plugin.EntityType, entityId = Model.Id })
                    </nop-tab>
                }
            }
        </nop-tabs>
    </div>
</div>