@model AttachmentModel
@{
    var layout = AdminViewLocations.AdminLayoutViewPath;

    if (ViewBag.isPopup)
    {
        layout = "_AdminPopupLayout";
    }

    Layout = layout;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.NopAttachments.Admin.Submenus.ManageAttachments");
}

<form method="post" id="attachment-form">

    @if (ViewBag.isPopup)
    {
        <input type="hidden" name="productId" id="productId" value="@ViewBag.productId" />
        <input type="hidden" name="isPopup" id="isPopup" value="@ViewBag.isPopup.ToString()" />
    }

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            @if (!ViewBag.isPopup)
            {
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="List">@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.BackToList")</a>
                </small>
            }
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync(AdminViews.CreateOrUpdate, Model)

    @if (ViewBag.isPopup)
    {
        <script type="text/javascript">
            $(window).unload(function () {
                try {
                    var gridElement = window.opener.document.getElementById("btnRefreshGrid");
                    $(gridElement).click();
                }
                catch (e) { }
            });
        </script>
    }
</form>