@model AttachmentModel
@{
    var layout = AdminViewLocations.AdminLayoutViewPath;

    if (ViewBag.isPopup)
    {
        layout = "_AdminPopupLayout";
    }

    Layout = layout;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.NopAttachments.Admin.Submenus.ManageAttachments");
}

<form method="post" id="attachment-form">

    @if (ViewBag.isPopup)
    {
        <input type="hidden" name="productId" id="productId" value="@ViewBag.productId" />
        <input type="hidden" name="isPopup" id="isPopup" value="@ViewBag.isPopup.ToString()" />
    }

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.EditAttachmentDetails")
            @if (!ViewBag.isPopup)
            {
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a asp-action="List">@T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.BackToList")</a>
                </small>            
            }
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (Model.Id > 0)
            {
                <span id="attachment-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
        </div>
    </div>
    @await Html.PartialAsync(AdminViews.CreateOrUpdate, Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="attachment-delete" />