﻿@using Nop.Web.Models.EnquiryRequest;
@model EnquiryRequestModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.EnquiryRequestDetail").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page html-enquiry-request-detail-page");
}
<div class="page contact-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "enquiry_request_detail_top" })
        <div class="enquiry-detail">
            <div class="enquiry-title text-center">
                <h1>@T("PageTitle.EnquiryRequest") @Model.RequestNumber</h1>
            </div>
            <div class="enquiry-content">
                <div class="enquiry-question">
                    <p class="question-title">@Model.TicketReason</p>
                    <div class="font-italic">@T("account.enquiryrequest.detail.CreatedOn"): @Model.CreatedOn</div>
                    @if (string.IsNullOrEmpty(Model.OrderNumber))
                    {
                        <div class="font-italic">@T("account.enquiryrequest.detail.OrderNumber"): @Model.OrderNumber</div>
                    }
                    <div class="font-italic">@T("account.enquiryrequest.detail.Contact"): @Model.UserName (@Model.UserEmail)</div>
                    <div class="question-content">
                        @Model.Enquiry
                    </div>
                </div>

                @if (Model.ReplyRecords != null && Model.ReplyRecords.Any())
                {
                    <div class="con-reply-records">
                        @foreach (var item in Model.ReplyRecords)
                        {
                            var groupClass = item.IsFromClient ? "reply-record-group-me" : "";
                            var creator = item.IsFromClient ? "me" : "mazuma";
                            <div class="reply-record-group @groupClass">
                                <div class="record-text-row">
                                    @Html.Raw(item.Message)
                                </div>
                                <div class="font-italic">@T("account.enquiryrequest.detail.RepliedDate") @item.CreatedOn by @creator</div>
                            </div>
                        }
                    </div>
                }

                <div class="con-new-message">
                    <form asp-route="EnquiryRequestDetail" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="ReplyMessage" asp-postfix=":"></label>
                                    <textarea asp-for="ReplyMessage" placeholder="@T("EnquiryRequest.ReplyMessage.Hint")" class="enquiry"></textarea>
                                    <nop-required />
                                    <span asp-validation-for="ReplyMessage"></span>
                                </div>
                            </div>
                        </div>
                        <div class="con-buttons text-center">
                            <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("EnquiryRequest.ButtonText.Submit")" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "enquiry_request_detail_bottom" })
    </div>
</div>
