﻿@using Nop.Web.Models.EnquiryRequest;
@model EnquiryRequestBaseModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.EnquiryRequest").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page html-enquiry-request-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.EnquiryRequest")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_top" })
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="EnquiryRequest" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="UserName" asp-postfix=":"></label>
                            <input asp-for="UserName" placeholder="@T("EnquiryRequest.FullName.Hint")" class="fullname" />
                            <nop-required />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="UserEmail" asp-postfix=":"></label>
                            <input asp-for="UserEmail" placeholder="@T("EnquiryRequest.Email.Hint")" class="email" />
                            <nop-required />
                            <span asp-validation-for="UserEmail"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="OrderNumber" asp-postfix=":"></label>
                            <input asp-for="OrderNumber" placeholder="@T("EnquiryRequest.OrderNumber.Hint")" class="order-number" />
                            <span asp-validation-for="OrderNumber"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="EnquiryTicketReasonId" asp-postfix=":"></label>
                            <select asp-for="EnquiryTicketReasonId" placeholder="@T("EnquiryRequest.EnquiryTicketReason.Hint")" class="enquiry-ticket-reason">
                                @foreach (var item in Model.EnquiryTicketReasons)
                                {
                                    <option value="@item.Id">@item.Reason</option>
                                }
                            </select>
                            <nop-required />
                            <span asp-validation-for="EnquiryTicketReasonId"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="Enquiry" asp-postfix=":"></label>
                            <textarea asp-for="Enquiry" placeholder="@T("EnquiryRequest.Enquiry.Hint")" class="enquiry"></textarea>
                            <nop-required />
                            <span asp-validation-for="Enquiry"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("EnquiryRequest.ButtonText.Submit")" />
                </div>
            </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "enquiry_request_bottom" })
    </div>
</div>
