﻿@model AuthorizationModel
@{
    Html.AddFinanceCssFileParts("consumer/signup/authorization");
}

<div class="signup-page-title">
    <h1>@T(Model.PageHeaderStringResourceName)</h1>
</div>

<form asp-controller="ConsumerFinanceSignup" asp-action="SignupResult" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="form-horizontal">
        @Html.Raw(T("Ecorenew.Finance.Consumer.Signup.Authorization.TermsAndConditions.Before"))

        <div id="consumerfinance_signup_authorization_terms" class="panel panel-default">
            @T("Ecorenew.Finance.Consumer.Signup.Authorization.TermsAndConditions")
        </div>

        @T("Ecorenew.Finance.Consumer.Signup.Authorization.BeforeYouClickSubmitMessage")

        <div id="consumerfinance_signup_authorization_iaccept" class="checkbox">
            <label>
                <input asp-for="Authorized" type="checkbox" />&nbsp;
                <strong>@T("Ecorenew.Finance.Consumer.Signup.Authorization.IAcceptTheTermsAndConditions")</strong>
                <span asp-validation-for="Authorized"></span>
            </label>
        </div>
    </div>
    <div class="prev-next clearfix">
        <a role="button" href="@Url.Action("Bank")" class="consumer-finance-button form-button secondary pull-left">
            @T("Ecorenew.Finance.Consumer.Signup.Previous")
        </a>
        <input type="submit" name="next" class="consumer-finance-button form-button pull-right" value="@T("Ecorenew.Finance.Consumer.Signup.Submit")" />
    </div>
</form>