﻿@{
    Html.AddFinanceCssFileParts("consumer/signup/index");
    Html.AddFinanceScriptParts(ResourceLocation.Footer, "consumer/signup/index");
}


<div class="signup-page-title">
    <h1>@T("Ecorenew.Finance.Consumer.Signup.Index.Heading")</h1>
</div>
<p>
    Here’s your finance application. Everything you’ll need to know is listed below:
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" href="#before_you_begin" aria-expanded="true" aria-controls="before_you_begin">
            <h4 class="panel-title">
                Before you begin
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </h4>
        </a>
    </div>
    <div id="before_you_begin" class="panel-body in">
        <p>
            <b>We aim to keep the application process simple and straightforward. Here’s how it goes:</b>
            <ul>
                <li>
                    You put in your details. It may seem like we ask for a lot, but this part is important.
                    It includes information about you, your finances and your current situation.
                    If you’ve done finance applications before, you’ll be familiar with everything you see.
                    If not, you’ll still be fine – we’re here to help.
                </li>
                <li>
                    Then there’ll be a credit check. This determines whether we are able to proceed with your finance application.
                </li>
                <li>
                    If your application is successful, we will ask you to review and sign the finance agreement and direct debit mandate.
                </li>
                <li>
                    Next, we ask you to review and confirm you order. The delivery address used is determined by the information provided during your finance application.
                </li>
                <li>
                    Finally, you’ll be taken to a payment page. This is for the initial payment, for which you’ll need the details of a credit or debit card.
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#qualifications" aria-expanded="true" aria-controls="qualifications">
                Qualifications
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </h4>
    </div>
    <div id="qualifications" class="panel-body in">
        <p>
            <b>To qualify, you’ll need to:</b>
            <ul>
                <li>Be aged 18+ years</li>
                <li>Have a bank or building society account  from which you can make Direct Debit payments</li>
                <li>Be resident in the UK (excluding Channel Islands and Isle of Man) and be able to provide residential address details for the last 3 years</li>
                <li>Be able to provide your employer's name and address details where applicable</li>
                <li>Be able to provide your income and expenditure information where requested</li>
                <li>Have a valid email address and phone number</li>
            </ul>
        </p>
    </div>
</div>

<p>
    If you're happy with the above steps, please click '<b>Continue</b>' to proceed with your application.
</p>

<h3 class="terms-and-conditions-heading">
    @T("Ecorenew.Finance.Consumer.Signup.Index.TermsAndConditions.Heading")
</h3>
<div class="terms-and-conditions">
    @T("Ecorenew.Finance.Consumer.Signup.Index.TermsAndConditions")
</div>

<div class="prev-next clearfix">
    <form asp-controller="ConsumerFinanceSignup" asp-action="Index" method="post">
        <input type="submit" name="next" class="consumer-finance-button form-button pull-right" value="@T("Ecorenew.Finance.Consumer.Signup.Continue")" />
    </form>
</div>