﻿@*@using Callcredit.CallReport7;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Plugin.Ecorenew.Finance.Models.Consumer.Signup;
@model ConsumerSignupModel

@{
    var defaultDropDownValue = "Please select..."; //T("Ecorenew.Finance.Consumer.DropDownDefaultValue").Text;
}

@Html.Partial("Consumer/_ErrorMessage", Model)

@using (Ajax.BeginForm("PicklistSubmit", "Consumer", null, new AjaxOptions { UpdateTargetId = "SellPhoneSection", LoadingElementId = "Spinner1" }))
{
    if (Model.CallReportDisplayWarning)
    {
        <span>
            @OnPicklistRegenerated()
        </span>
    }

    <div class="col-md-9 mobile-width">
        <div class="form-horizontal">
            @for (int i = 0; i < Model.AddressMatchSelectionList.Count; i++)
            {
                <div class="form-group form-group-sm row">
                    <div class="col-sm-3">
                        Please select address:
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.AddressMatchSelectionList[i].FullMatchIndex, Model.AddressMatchSelectionList[i].FullMatchList, defaultDropDownValue, new { @class = "form-control input-sm" })
                    </div>
                </div>
            }
            @for (int i = 0; i < Model.NameMatchSelectionList.Count; i++)
            {
                <div class="form-group form-group-sm row">
                    <div class="col-xs-3">
                        Please select name:
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.FullMatchNameSelectionList[i].NameMatchIndex, Model.NameMatchSelectionList[i].NameMatchList, defaultDropDownValue, new { @class = "form-control input-sm" })
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" value="Submit" class="spinneronclick btn prev-next-btn" />
                </div>
            </div>
        </div>
    </div>
}

@helper OnPicklistRegenerated()
{
    <p>WARNING: The database has changed since you made your last selection. You may need to select the name or address again.</p>
}

@Html.Partial("Consumer/_Spinner")*@