@model string
@{
    Html.AddFinanceCssFileParts("consumer/signup/passed");
}

<div class="col-lg-6 col-md-6 col-sm-12">
    <img src="/plugins/ecorenew.finance/content/images/ecorenewfinancelogo-large.png" style="max-width: 300px; display: block; margin: auto" />
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    <img src="/plugins/ecorenew.finance/content/images/docusign-logo.png" style="max-width: 300px; display: block; margin: auto" />
</div>


<div style="padding: 100px 0; text-align: center;">
    <h1 style="font-size: 40px !important">Brilliant! Your finance application is accepted!</h1>
    <img src="/plugins/ecorenew.finance/content/images/check.png" style="max-width: 100px; display: block; margin: auto" /> <br />
    <p class="p1-font-style">This next part is important, but straight forward.</p><br />

    <p class="p1-font-style">
        Once you proceed, you'll be transferred to <b>DocuSign</b>. DocuSign is the service we use for customers to confirm their acceptance of our finance offer. 
        You'll be sent back to us once you've signed.
        <br />
        <br />
    </p>

    <p class="p2-font-style">
        You'll be automatically redirected to DocuSign shortly. But if you'd like to proceed straightaway, please click 
        <br /><br /> 
        <a id="docu-sign-link" href="@Model" class="btn prev-next-btn btn-default">Proceed</a>
    </p>
</div>

<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            window.location.href = "@Model";
        }, 180000);
    });
</script>