﻿@model ConfigurationModel
@using Nop.Plugin.Ecorenew.CustomPdfService.Models;

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomPdfServiceEnabled_OverrideForStore" asp-input="CustomPdfServiceEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomPdfServiceEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomPdfServiceEnabled" />
                    <span asp-validation-for="CustomPdfServiceEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CustomPdfServiceDisplayCustomValuesEnabled_OverrideForStore" asp-input="CustomPdfServiceDisplayCustomValuesEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CustomPdfServiceDisplayCustomValuesEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomPdfServiceDisplayCustomValuesEnabled" />
                    <span asp-validation-for="CustomPdfServiceDisplayCustomValuesEnabled"></span>
                </div>
            </div>
        </div>
    </div>
</div>
