﻿<!-- nopCommerce 4.0 - nopAccelerate 4.0.2  theme: DefaultClean theme      -->
@* *************************************************************************
  *                                                                       *
  * nopAccelerate - Solr Integration Extension for nopCommerce            *
  * Copyright (c) Xcellence-IT. All Rights Reserved.                      *
  *                                                                       *
  *************************************************************************
  *                                                                       *
  * Email: info@nopaccelerate.com                                         *
  * Website: http://www.nopaccelerate.com                                 *
  *                                                                       *
  *************************************************************************
  *                                                                       *
  * This  software is furnished  under a license  and  may  be  used  and *
  * modified  only in  accordance with the terms of such license and with *
  * the  inclusion of the above  copyright notice.  This software or  any *
  * other copies thereof may not be provided or  otherwise made available *
  * to any  other  person.   No title to and ownership of the software is *
  * hereby transferred.                                                   *
  *                                                                       *
  * You may not reverse  engineer, decompile, defeat  license  encryption *
  * mechanisms  or  disassemble this software product or software product *
  * license.  Xcellence-IT may terminate this license if you don't comply *
  * with  any  of  the  terms and conditions set forth in  our  end  user *
  * license agreement (EULA).  In such event,  licensee  agrees to return *
  * licensor  or destroy  all copies of software  upon termination of the *
  * license.                                                              *
  *                                                                       *
  * Please see the  License file for the full End User License Agreement. *
  * The  complete license agreement is also available on  our  website at *
  * http://www.nopaccelerate.com/terms/                                   *
  *                                                                       *
  ************************************************************************* *@

@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@using System.Text.Encodings.Web
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using Nop.Services.Catalog
@using XcellenceIT.Plugin.Solr.Search.Services
@using System.Web
@using Nop.Services.Seo
@using Nop.Services.Configuration
@using XcellenceIT.Plugin.Solr.Search.Domain
@using XcellenceIT.Plugin.Solr.Search
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Localization;
@using XcellenceIT.Plugin.Solr.Core
@using Nop.Core

<style>
    .auto-term-suggestion > span {background: #fff none repeat scroll 0 0;color: #777;font-weight: bold;left: 30px;position: absolute;top: 5px;padding: 0 5px;}
    .auto-term-suggestion {position: relative;border-bottom: 1px solid #ddd;padding: 7px 0px;}
    .highlight-category {color: #ca6307;}
    .search-box #categories {float: left;height: 40px;width: 140px;padding: 6px;}
    .categories-wrapper {float: left;margin-right: -1px;}
    .npacc-auto-heavy {font-weight: 700;}

    @@media only screen and (max-device-width:1000px) { /* Change to whatever media query you require */
        .search-box #categories {height: 36px;}
    }

    @@media all and (max-width:640px) {
        .search-box #categories {width: 100px;}
        .search-box input.search-box-text {width: 180px;}
    }

    @@media all and (max-width:480px) {
        .search-box #categories {width: 80px;}
        .header .search-box input.search-box-text {width: 140px !important;}
    }
    .search-box #categories {line-height: 33px;}

</style>

@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var languageId = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Id; var searchTooltip = T("Search.SearchBox.Tooltip");
    int slug = 0;
    var parentcategoryId = 0;
    int cid = 0;
    int storeScope = XcellenceIT.Plugin.Solr.Search.Domain.StoreScope.storeScope;
    var _pluginSettings = EngineContext.Current.Resolve<ISettingService>().LoadSetting<XcellenceITSolrSearchPluginSettings>(storeScope);
    var localizationSettings = EngineContext.Current.Resolve<ISettingService>().LoadSetting<LocalizationSettings>(storeScope);
    string seoFriendlyURL = localizationSettings.SeoFriendlyUrlsForLanguagesEnabled ? "/" :string.Empty ;
    string searchURL = string.Empty;

    if (string.IsNullOrWhiteSpace(seoFriendlyURL))
    {
        searchURL = Url.RouteUrl("HomePage") + "search?";
    }
    else
    {
        searchURL = Url.RouteUrl("HomePage")+seoFriendlyURL+"search?";
    }

    bool CheckedDropdownenable = false;
    if (_pluginSettings.EnableSolrSearch && _pluginSettings.EnableCategoriesDropdown)
    {
        CheckedDropdownenable = true;
    }
    if (!CheckedDropdownenable)
    {
        goto end;
    }
    var url = this.Url.ActionContext.HttpContext.Request.GetEncodedUrl();
    // cid = Convert.ToInt32(HttpUtility.ParseQueryString(url).Get("cid"));
    if (Convert.ToString(this.Url.ActionContext.HttpContext.Request.Query["cid"]) != null) {
        cid = Convert.ToInt32(this.Url.ActionContext.HttpContext.Request.Query["cid"]);
    }
    parentcategoryId = EngineContext.Current.Resolve<ISolrSearchService>().GetPrarentCategoryByCategoryId(cid);
    string AbsolutePath = (this.Url.ActionContext.HttpContext.Request.Path.ToString());
    AbsolutePath = AbsolutePath.Substring(1, AbsolutePath.Length - 1);
    var getSlugrecord = EngineContext.Current.Resolve<IUrlRecordService>().GetBySlug(AbsolutePath);
    if (getSlugrecord != null)
    {
        slug = EngineContext.Current.Resolve<ISolrSearchService>().GetCategoryIdbySename(AbsolutePath);
    }
    end:
}


<form asp-route="ProductSearch" method="get" id="small-search-box-form">

    @if (CheckedDropdownenable)
    {
        <div class="categories-wrapper">
            <select id="categories">
                <script type="text/javascript" asp-location="Footer">
                        $(document).ready(function() {

                            if(@slug == 0){
                                if(@parentcategoryId == 0){
                                    document.getElementById('categories').value=@cid;
                                }
                                else{
                                    document.getElementById('categories').value=@parentcategoryId;
                                }
                            }
                            if(@slug > 0){
                                //if parent category have subcategory and parent category is Unpublished then dropdown set as 0(i.e.Select 'ALL')
                                var exists = 0 != $('#categories option[value='+@slug+']').length;
                                if(!exists)
                                    document.getElementById('categories').value=0;
                                else
                                    document.getElementById('categories').value=@slug;
                            }
                        });
                </script>

                <option value='0'>All</option>
                @foreach (var category in EngineContext.Current.Resolve<ISolrCoreService>().GetAllCategories(storeId: storeId, languageId: languageId, LoadOnlyParents: true))
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
               
            </select>
        </div>
    }


    <input type="text" class="search-box-text nopacc-searchbox" id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox_before_search_button" })
    <input type="submit" id="serch-button" class="button-1 search-box-button" value="@T("Search.Button")" />
    @if (_pluginSettings.SearchTermMinimumLengthForProductSuggestion > 0)
    {
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {

                $("#serch-button").click(function (event) {
                    var checkenabledropdown=@CheckedDropdownenable.ToString().ToLower();
                    var categoryId = $("#categories").val();
                    var categoryText= $("#categories :selected").text();
                    var search_terms = $("#small-searchterms");
                    if(checkenabledropdown){
                        if(categoryId == 0 && (search_terms.val() == "" || search_terms.val() == "@searchTooltip")){
                            window.location.href="@Url.RouteUrl("HomePage")";
                        }
                        else if (categoryId > 0 && (search_terms.val() == "" || search_terms.val() == "@searchTooltip")){
                            //Get seName of selected category
                            $.ajax({
                                type: "POST",
                                url: '/SolrSearch/GetSlugByCategoryId',
                                async: false,
                                data: { categoryId: categoryId },
                                success: function (data) {
                                    if(data==null)
                                        window.location.href="@Url.RouteUrl("HomePage")";
                                    //goto selected categoryPage
                                    window.location.href="/"+data;
                                }
                            });
                        }
                        else if (categoryId == 0 && (search_terms.val() != "" || search_terms.val() != "@searchTooltip")) {
                                window.location.href = "@searchURL&q=" + encodeURIComponent(search_terms.val());
                            }
                            else if (categoryId > 0 && (search_terms.val() != "" || search_terms.val() != "@searchTooltip")){
                                window.location.href = "@searchURL&As=true&Isc=true&cid=" + categoryId + "&q=" + encodeURIComponent(search_terms.val());
                            }
                    }
                    else {

                        if (search_terms.val() == "" || search_terms.val() == "@searchTooltip") {
                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms").Text))');
                            search_terms.focus();
                            return false;
                        }
                        window.location.href = "@searchURL&q=" + encodeURIComponent(search_terms.val());
                    }
                    event.preventDefault();

                });

            });
        </script>
    }
    @if (Model.AutoCompleteEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
            var checkenabledropdown=@CheckedDropdownenable.ToString().ToLower();
            $(document).ready(function() {
                $('#small-searchterms').autocomplete({
                    delay: 5,
                    minLength: @(_pluginSettings.SearchTermMinimumLengthForProductSuggestion.ToString()),
                    source: function(request, response) {
                        $.ajax({
                            url: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            dataType: "json",
                            data: {
                                term: request.term,
                                catId:checkenabledropdown? $("#categories").val():0
                            },
                            success: function(data) {
                                response(data);
                            }
                        });
                    },
                    appendTo: '.search-box',
                    select: function(event, ui) {
                        $("#small-searchterms").val(ui.item.label);
                        setLocation(ui.item.producturl);
                        return false;
                    }
                })
                .data("ui-autocomplete")._renderItem = function(ul, item) {
                    //html encode
                    var t = item.label;
                    switch (item.productpictureurl) {
                        case "termSearch": {
                            term=$("#small-searchterms").val().toLowerCase();
                            var re = new RegExp(term,"gi");
                            t= t.replace(re, "<span class='npacc-auto-heavy'>"+term+"</span>");
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "<span class='highlight-category'>"+item.categoryName+"</span></a>")
                        .appendTo(ul);
                        }
                        case "termLine": {
                            return $("<div class='auto-term-suggestion'><span>@T("Plugins.XcellenceIT.Solr.Search.SearchBox.Autocomplete.Products")</span></div>")
                            .appendTo(ul);
                        }
                        case "categorytermLine": {
                            return $("<div class='auto-term-suggestion'><span>@T("Plugins.XcellenceIT.Solr.Search.SearchBox.Autocomplete.Categories")</span></div>")
                            .appendTo(ul);
                        }
                        case "manufacturerstermLine": {
                            return $("<div class='auto-term-suggestion'><span>@T("Plugins.XcellenceIT.Solr.Search.SearchBox.Autocomplete.Manufacturers")</span></div>")
                            .appendTo(ul);
                        }
                        case "categorySearch": {
                            term=$("#small-searchterms").val().toLowerCase();
                            var re = new RegExp(term,"gi");
                            t= t.replace(re, "<span class='npacc-auto-heavy'>"+term+"</span>");
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "</a>")
                                .appendTo(ul);
                        }
                        case "manufacturerSearch": {
                            term=$("#small-searchterms").val().toLowerCase();
                            var re = new RegExp(term,"gi");
                            t= t.replace(re, "<span class='npacc-auto-heavy'>"+term+"</span>");
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "</a>")
                                .appendTo(ul);
                        }
                        case null: {
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + t + "</a>")
                                .appendTo(ul);
                        }
                        default: {
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(_pluginSettings.EnabledAutoCompleteProductImages ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)" + t + "</a>")
                                .appendTo(ul);
                        }
                    }
                };
            });
        </script>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox" })
</form>