﻿@model SiteSelectorModel
@using System.Net
@using Microsoft.AspNetCore.Http
@using Nop.Core;
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor
@if (Model.AvailableSites.Count > 1)
{
    <script type="text/javascript">
        function changeDatabase(siteId) {
            $("#siteIdInput").val(siteId);
            $("#changeDbForm").submit();
        }
    </script>
    <div style="display:none">
        <form id="changeDbForm" asp-controller="Common" asp-action="ChangeDatabase" asp-area="@AreaNames.Admin">
<input type="hidden" name="siteId" value="0" id="siteIdInput"/>
</form>
    </div>
    <div style="padding: 7px 12px 0 12px;">
        @{
            var sites = Model.AvailableSites.Select(site => new SelectListItem
            {
                Text = site.Name,
                Value = site.Id + "",
                Selected = site.Id.Equals(Model.CurrentSite.Id)
            });

            <nop-select asp-for-name="customersite" asp-items="@sites" onchange="changeDatabase(this.value);" />
        }
    </div>
            }